<div class="row">
  <!-- card1 start -->
  <div class="col-md-6 col-xl-3" *ngIf="authService.isVisible( 'bouton-etat')">
    <div class="card widget-card-1 clickable" (click)="isActif('/etats/list-etats', 'bouton-etat')">
      <div class="card-block-small">
        <i class="icofont icofont-ui-file bg-c-pink card1-icon"></i>
        <span class="text-c-blue f-w-600">{{"userEtatEtWelcom.Etats" | translate}}</span>
        <h3 class="text-center text-muted"><i class="text-c-green icofont icofont-eye-alt"></i></h3>
        <div>
        <span class="f-left m-t-10 text-muted">
          <i class="text-c-blue f-16 icofont icofont-file-excel m-r-10"></i>
          {{"userEtatEtWelcom.Rapports_du_systeme" | translate}}
        </span>
        </div>
      </div>
    </div>
  </div>
  <!-- card1 end -->
  <!-- card6 start -->
  <div class="col-md-6 col-xl-3" *ngIf="authService.isVisible('bouton-configuration')">
    <div class="card widget-card-1 clickable" (click)="isActif('/administration/configuration/gestion-etats', 'bouton-configuration')">
      <div class="card-block-small">
        <i class="icofont icofont-automation bg-instagram card1-icon"></i>
        <span class="text-c-pink f-w-600">
          {{"userEtatEtWelcom.Configuration" | translate}}</span>
        <h3 class="text-center text-muted">
          <i class="text-c-green icofont icofont-eye-alt"></i>
        </h3>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-pink f-16 icofont icofont-tools-alt-1 m-r-10"></i>
            {{"userEtatEtWelcom.Configuration" | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- card6 end -->
</div>
