<div class="row">
  <div class="col-sm-6">
    <app-card [title]="'userAdminNote.Basic_Map'" [classHeader]="true">
      <span class="code-header">{{"mapGoogle.use_property" | translate}} <code>{{"mapGoogle.latitude_longitude" | translate}}</code>
        {{"mapGoogle.with" | translate}} <code>{{"mapGoogle.agm_map" | translate}}</code> {{"mapGoogle.element" | translate}}</span>
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom"></agm-map>
    </app-card>
  </div>
  <div class="col-sm-6">
    <app-card [title]="'Markers Map'" [classHeader]="true">
      <span class="code-header">{{"mapGoogle.use_element" | translate}} <code>{{"mapGoogle.agm_marker" | translate}}</code> {{"mapGoogle.with" | translate}} <code>{{"mapGoogle.agm_map" | translate}}</code> {{"mapGoogle.element" | translate}}</span>
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="6">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        <agm-marker [latitude]="latA" [longitude]="lngA"></agm-marker>
        <agm-marker [latitude]="21.6776887" [longitude]="71.566261"></agm-marker>
        <agm-marker [latitude]="22.3220876" [longitude]="73.1030464"></agm-marker>
        <agm-marker [latitude]="23.0201818" [longitude]="72.4396587"></agm-marker>
        <agm-marker [latitude]="22.2734719" [longitude]="70.7512565"></agm-marker>
      </agm-map>
    </app-card>
  </div>
  <div class="col-sm-6">
    <app-card [title]="'Styled Map'" [classHeader]="true">
      <span class="code-header">{{"mapGoogle.use_property" | translate}} <code>{{"mapGoogle.styles" | translate}}</code> {{"mapGoogle.with" | translate}} <code>{{"mapGoogle.agm_map" | translate}}</code> {{"mapGoogle.element" | translate}}</span>
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [styles]="styles"></agm-map>
    </app-card>
  </div>
  <div class="col-sm-6">
    <app-card [title]="'Polylines'" [classHeader]="true">
      <span class="code-header">{{"mapGoogle.use_property" | translate}} <code>{{"mapGoogle.styles" | translate}}</code> {{"mapGoogle.with" | translate}} <code>{{"mapGoogle.agm_map" | translate}}</code> {{"mapGoogle.element" | translate}}</span>
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        <agm-marker [latitude]="latA" [longitude]="lngA"></agm-marker>
        <agm-polyline>
          <agm-polyline-point [latitude]="lat" [longitude]="lng">
          </agm-polyline-point>
          <agm-polyline-point [latitude]="latA" [longitude]="lngA">
          </agm-polyline-point>
        </agm-polyline>
      </agm-map>
    </app-card>
  </div>
  <div class="col-sm-6">
    <app-card [title]="'Info Window'" [classHeader]="true">
      <span class="code-header">{{"mapGoogle.use_property" | translate}} <code>{{"mapGoogle.styles" | translate}}</code> {{"mapGoogle.with" | translate}} <code>{{"mapGoogle.agm_map" | translate}}</code> {{"mapGoogle.element" | translate}}</span>
      <agm-map [latitude]="21.6776887" [longitude]="71.566261" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false">
        <agm-marker [latitude]="21.6776887" [longitude]="71.566261">
          <agm-info-window>{{"mapGoogle.Nice_Place" | translate}}</agm-info-window>
        </agm-marker>
      </agm-map>
    </app-card>
  </div>
  <div class="col-sm-6">
    <app-card [title]="'Circle'" [classHeader]="true">
      <span class="code-header">{{"mapGoogle.use_property" | translate}} <code>{{"mapGoogle.styles" | translate}}</code> {{"mapGoogle.with" | translate}} <code>{{"mapGoogle.agm_map" | translate}}</code> {{"mapGoogle.element" | translate}}</span>
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
        <agm-circle
          [latitude]="lat + 0.3"
          [longitude]="lng"
          [radius]="50000"
          [fillColor]="'red'"
          [circleDraggable]="true"
          [editable]="true"
        >
        </agm-circle>
      </agm-map>
    </app-card>
  </div>
</div>
