<!-- List classe card start -->
<app-card [title]="'userAdminDiscDWelcome.Les_classes_disponibles'" [classHeader]="true" [blockClass]="'table-border-style'">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>{{"userAdminNotesList.Nom_de_classe" | translate}}</th>
        <th>{{"userAdminNotesList.Professeur_titulaire" | translate}}</th>
        <th>{{"userAdminNotesList.Surveillant" | translate}}</th>
        <th>{{"userAdminNotesList.Options" | translate}}</th>
      </tr>
      </thead>
      <tbody *ngIf="classes">
      <tr *ngFor="let classe of classes; let i = index">
        <th scope="row">{{ i+1 }}</th>
        <td>{{ classe.nomClasse }}</td>
        <td>{{ (classe?.titulaire?.nom_enseignant ? classe?.titulaire?.nom_enseignant : ' ') + ' '
        + (classe?.titulaire?.prenom_enseignant ? classe?.titulaire?.prenom_enseignant : '')  }} </td>
        <td>{{ classe?.surveillant?.displayName ? classe?.surveillant?.displayName : '' }}</td>
        <td class="p-1">
          <div [ngClass]="'icon-btn p-0 m-0'">
            <button class="btn btn-primary btn-icon mr-2"
                    title="{{'userAdminNotesList.Les_eleves_de_la_classe' | translate}}"
                    [disabled]="!authService.isActif('bouton-list-eleve-classes')"
                    *ngIf="authService.isVisible('bouton-list-eleve-classes')"
                    routerLink="/administration/notes/classes/liste-eleves/{{ classe.id }}"><em class="icofont icofont-users"></em>
            </button>
            <button class="btn btn-warning btn-icon mr-2"
                    title="{{'userAdminNotesList.Nommer_un_titulaire_pour_cette_classe' | translate}}"
                    [disabled]="!authService.isActif('bouton-nommer-titulaire-classe')"
                    *ngIf="authService.isVisible('bouton-nommer-titulaire-classe')"
                    (click)="onNommerTitulaire(classe, nommerTitulaire)"><em class="icofont icofont-teacher"></em>
            </button>
            <button class="btn btn-inverse btn-icon mr-2"
                    title="{{'userAdminNotesList.Nommer_surveillant_pour_cette_classe' | translate}}"
                    [disabled]="!authService.isActif('bouton-nommer-surveillant-classe')"
                    *ngIf="authService.isVisible('bouton-nommer-surveillant-classe')"
                    (click)="onNommerSurveillant(classe, nommerSurveillant)"><em class="icofont icofont-police"></em>
            </button>
            <button class="btn btn-danger btn-icon mr-2"
                    title="{{'userAdminNotesList.Supprimer_cette_classe' | translate}}"
                    [disabled]="!authService.isActif('bouton-supprimer-classe')"
                    *ngIf="authService.isVisible('bouton-supprimer-classe')"
                    (click)="onSupprimerClasse()"><em class="icofont icofont-ui-delete"></em>
            </button>
            <button class="btn btn-info btn-icon mr-2"
                    title="{{'userAdminNotesList.Afficher_l_etat_général_de_remplissage_de_la_classe' | translate}}"
                    [disabled]="!authService.isActif('bouton-etat-remplissage-classe')"
                    *ngIf="authService.isVisible('bouton-etat-remplissage-classe')"
                    routerLink="/administration/notes/classes/etat-remplissage-classe"><em class="icofont icofont-exchange"></em>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="row" *ngIf="classes">
      <div class="col-12 text-center h4" *ngIf="classes.length == 0">
        {{"userAdminNotesList.Aucune_donnée_disponible" | translate}}</div>
    </div>
  </div>
  <div class="dropdown-divider"></div>
  <div class="row">
    <div class="col-12 text-right">
      <button class="btn btn-primary btn-sm ml-5 mr-4 m-1"
      ><em class="icofont icofont-printer"></em>
        {{"userAdminNotesList.Imprimer_les_classes" | translate}}</button>
    </div>
  </div>

  <div class="row" >
    <div class="col-12">
      <ng-template #nommerTitulaire let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header" *ngIf="currenClasse">
          <h4 class="modal-title" id="nommer-titulaire">
            {{"userAdminNotesList.Nomination_d_un_titulaire_pour_la_classe" | translate}} {{ currenClasse.nomClasse }}</h4>
          <button type="button" class="close" aria-label="Close" (click)="onResetNommerTitulaire()">
            <span aria-hidden="true" class="icofont icofont-close-line-squared text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="nommerTitulaireForm">
            <div class="row" *ngIf="enseignants && authService.isVisible('liste-enseignant')">
              <div class="form-group col-md-12 col-xl-12">
                <label for="enseignant" class="col-form-label">
                  {{"userAdminNotesList.Choisir_un_enseignant_pour_occuper_ce_poste" | translate}}</label>
                <select formControlName="enseignant" class="form-control" id="enseignant"
                        [attr.disabled]="authService.isEditable('liste-enseignant') == true ? null : true"
                        [ngClass]="{'is-invalid': submitted && nt.enseignant.errors }">
                  <option value="">--- {{"userAdminNotesList.Choisir" | translate}} ---</option>
                  <option *ngFor="let item of enseignants" value="{{ item.enseignant.id_enseignant }}">
                    {{ item.enseignant.nom_enseignant}} {{ item.enseignant.prenom_enseignant }}
                  </option>
                </select>
                <div *ngIf="submitted && nt.enseignant.errors" class="invalid-feedback">
                  <div *ngIf="nt.enseignant.errors.required">
                    {{"userAdminNotesList.Le_choix_de_l_enseignant_est_obligatoire" | translate}}</div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" [disabled]="!authService.isActif('bouton-annuler-titutlaire')"
                  class="btn btn-outline-danger btn-sm mr-2" (click)="onResetNommerTitulaire()">
            {{"userAdminNotesList.Annuler" | translate}}</button>
          <button type="button" [disabled]="!authService.isActif('bouton-valider-titulaire')"
                  (click)="onSaveNommerTitulaire()" class="btn btn-primary btn-sm">
            {{"userAdminNotesList.Valider" | translate}}</button>
        </div>
      </ng-template>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <ng-template #nommerSurveillant let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header" *ngIf="currenClasse">
          <h4 class="modal-title" id="nommer-surveillant">
            {{"userAdminNotesList.Nomination_d_un_surveillant_pour_la_classe" | translate}} {{ currenClasse.nomClasse }}</h4>
          <button type="button" class="close" aria-label="Close" (click)="onResetNommerSurveillant()">
            <span aria-hidden="true" class="icofont icofont-close-line-squared text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="nommerSurveillantForm">
            <div class="row" *ngIf="utilisateurs">
              <div class="form-group col-md-12 col-xl-12">
                <label for="user" class="col-form-label">
                  {{"userAdminNotesList.Choisir_un_utilisateur_pour_occuper_ce_poste" | translate}}</label>
                <select name="user" formControlName="user" class="form-control" id="user"
                        [ngClass]="{'is-invalid': submitted && ns.user.errors }">
                  <option value="">--- {{"userAdminNotesList.Choisir" | translate}} ---</option>
                  <option *ngFor="let user of utilisateurs" value="{{ user.id }}">{{ user.displayName}}</option>
                </select>
                <div *ngIf="submitted && ns.user.errors" class="invalid-feedback">
                  <div *ngIf="ns.user.errors.required">
                    {{"userAdminNotesList.Le_choix_de_l_utilisateur_est_obligatoire" | translate}}</div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" [disabled]="!authService.isActif('bouton-annuler-surveillant')"
                  class="btn btn-outline-danger btn-sm mr-2" (click)="onResetNommerSurveillant()">
            {{"userAdminNotesList.Annuler" | translate}}</button>
          <button type="button" [disabled]="!authService.isActif('bouton-valider-surveillant')"
                  (click)="onSaveNommerSurveillant()" class="btn btn-primary btn-sm">
            {{"userAdminNotesList.Valider" | translate}}</button>
        </div>
      </ng-template>
    </div>
  </div>
</app-card>
<!-- List classe card end -->

