<!-- add eleve form Start -->
<div class="col-md-12 col-xl-12">
  <app-card [title]="'userAdminConfInstEditer.Edition_de_l_institution'">
    <form [formGroup]="editInstitutionForm" (ngSubmit)="onUpdateInstitution()">
      <fieldset class="scheduler-border">
        <legend class="scheduler-border">
          {{"userAdminConfInstEditer.Information_de_base_de_l_institution" | translate}}</legend>
        <div class="row">
          <div class="col-md-11 col-xl-11 mega-menu-contact">
            <div class="form-group row">
              <div class="col-md-6 col-xl-6" *ngIf="authService.isVisible('champ-nom-institution')">
                <label for="nomfr" class="col-form-label">
                  {{"userAdminConfInstEditer.Nom_de_l_institution" | translate}}</label>
                <input class="form-control" type="text"  formControlName="nomfr"
                       [ngClass]="{'is-invalid': submitted && f.nomfr.errors }"
                       placeholder="{{'userAdminConfInstEditer.Nom_de_l_institution' | translate}}" id="nomfr"
                       [readOnly]="!authService.isEditable('champ-nom-institution')">
                <div *ngIf="submitted && f.nomfr.errors" class="invalid-feedback">
                  <div *ngIf="f.nomfr.errors.required">
                    {{"userAdminConfInstEditer.Le_nom_de_l_institution_est_obligatoire" | translate}}</div>
                </div>
              </div>
              <div class="col-md-6 col-xl-6" *ngIf="authService.isVisible('champ-traduction-anglaise-nom')">
                <label for="nomen" class="col-form-label">
                  {{"userAdminConfInstEditer.Traduction_anglaise" | translate}}</label>
                <input class="form-control" type="text"
                       placeholder="{{'userAdminConfInstEditer.Version_anglaise_du_nom' | translate}}" id="nomen"
                       [ngClass]="{'is-invalid': submitted && f.nomen.errors }" formControlName="nomen"
                       [readOnly]="!authService.isEditable('champ-traduction-anglaise-nom')">
                <div *ngIf="submitted && f.nomen.errors" class="invalid-feedback">
                  <div *ngIf="f.nomen.errors.required">
                    {{"userAdminConfInstEditer.Le_nom_de_l_institution_est_obligatoire" | translate}}</div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-6 col-xl-6" *ngIf="authService.isVisible('champ-code-institution')">
                <label for="code" class="col-form-label">
                  {{"userAdminConfInstEditer.Code_de_l_institution" | translate}}</label>
                <input class="form-control" type="text"
                       placeholder="{{'userAdminConfInstEditer.Code_de_l_institution' | translate}}" id="code"
                       [ngClass]="{'is-invalid': submitted && f.code.errors }" formControlName="code"
                       [readOnly]="!authService.isEditable('champ-code-institution')">
                <div *ngIf="submitted && f.code.errors" class="invalid-feedback">
                  <div *ngIf="f.code.errors.required">
                    {{"userAdminConfInstEditer.Le_code_de_l_institution_est_obligatoire" | translate}}</div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-6 col-xl-6" *ngIf="authService.isVisible('champ-devise-institution')">
                <label for="devise" class="col-form-label">
                  {{"userAdminConfInstEditer.Devise_de_l_institution" | translate}}</label>
                <input class="form-control" type="text"
                       placeholder="{{'userAdminConfInstEditer.ENtrer_la_devise_de_l_institution' | translate}}" id="devise"
                       [ngClass]="{'is-invalid': submitted && f.devise.errors }" formControlName="devise"
                       [readOnly]="!authService.isEditable('champ-devise-institution')">
                <div *ngIf="submitted && f.devise.errors" class="invalid-feedback">
                  <div *ngIf="f.devise.errors.required">
                    {{"userAdminConfInstEditer.La_devise_de_l_institution_est_obligatoire" | translate}}</div>
                </div>
              </div>
              <div class="col-md-6 col-xl-6" *ngIf="authService.isVisible('champ-traduction-anglaise-devise')">
                <label for="deviseen" class="col-form-label">
                  {{"userAdminConfInstEditer.Traduction_anglaise" | translate}}</label>
                <input class="form-control" type="text"
                       placeholder="{{'userAdminConfInstEditer.Version_anglaise_de_la_devise' | translate}}" id="deviseen"
                       [ngClass]="{'is-invalid': submitted && f.deviseen.errors }" formControlName="deviseen"
                       [readOnly]="!authService.isEditable('champ-traduction-anglaise-devise')">
                <div *ngIf="submitted && f.deviseen.errors" class="invalid-feedback">
                  <div *ngIf="f.deviseen.errors.required">
                    {{"userAdminConfInstEditer.La_devise_de_l_institution_est_obligatoire" | translate}}</div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-6 col-xl-6" *ngIf="authService.isVisible('champ-raison-sociale')">
                <label for="raisonsociale" class="col-form-label">
                  {{"userAdminConfInstEditer.Raison_sociale_de_l_institution" | translate}}</label>
                <input class="form-control" type="text"
                       placeholder="{{'userAdminConfInstEditer.Raison_sociale_de_l_institution' | translate}}" id="raisonsociale"
                       [ngClass]="{'is-invalid': submitted && f.raisonsociale.errors }" formControlName="raisonsociale"
                       [readOnly]="!authService.isEditable('champ-raison-sociale')">
                <div *ngIf="submitted && f.raisonsociale.errors" class="invalid-feedback">
                  <div *ngIf="f.raisonsociale.errors.required">
                    {{"userAdminConfInstEditer.La_raison_sociale_de_l_institution_est_obligatoire" | translate}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
      <fieldset class="scheduler-border">
        <legend class="scheduler-border">{{"userAdminConfInstEditer.Localisation_de_l_institution" | translate}}</legend>
        <div class="row">
          <div class="col-md-11 col-xl-11 mega-menu-contact">
            <div class="form-group row">
              <div class="col-md-6 col-xl-6" *ngIf="authService.isVisible('champ-region-institution')">
                <label for="region" class="col-form-label">{{"userAdminConfInstEditer.Region" | translate}}</label>
                <input class="form-control" type="text"
                       placeholder="{{'userAdminConfInstEditer.Enter_your_region' | translate}}" id="region"
                       [ngClass]="{'is-invalid': submitted && f.region.errors }" formControlName="region"
                       [readOnly]="!authService.isEditable('champ-region-institution')">
                <div *ngIf="submitted && f.region.errors" class="invalid-feedback">
                  <div *ngIf="f.region.errors.required">
                    {{"userAdminConfInstEditer.La_region_de_l_institution_est_obligatoire" | translate}}</div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-6 col-xl-6" *ngIf="authService.isVisible('champ-departement-institution')">
                <label for="departement" class="col-form-label">
                  {{"userAdminConfInstEditer.Département" | translate}}</label>
                <input class="form-control" type="text"
                       placeholder="{{'userAdminConfInstEditer.departement_de_l_institution' | translate}}" id="departement"
                       [ngClass]="{'is-invalid': submitted && f.departement.errors }" formControlName="departement"
                       [readOnly]="!authService.isEditable('champ-departement-institution')">
                <div *ngIf="submitted && f.departement.errors" class="invalid-feedback">
                  <div *ngIf="f.departement.errors.required">
                    {{"userAdminConfInstEditer.Le_departement_de_l_institution_est_obligatoire" | translate}}</div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-6 col-xl-6" *ngIf="authService.isVisible('champ-arrondissement-institution')">
                <label for="arrondissement" class="col-form-label">
                  {{"userAdminConfInstEditer.Arrondissement" | translate}}</label>
                <input class="form-control" type="text"
                       placeholder="{{'userAdminConfInstEditer.arrondissement_de_l_institution' | translate}}" id="arrondissement"
                       [ngClass]="{'is-invalid': submitted && f.arrondissement.errors }" formControlName="arrondissement"
                       [readOnly]="!authService.isEditable('champ-arrondissement-institution')">
                <div *ngIf="submitted && f.arrondissement.errors" class="invalid-feedback">
                  <div *ngIf="f.arrondissement.errors.required">
                    {{"userAdminConfInstEditer.L_arrodissement_de_l_institution_est_obligatoire" | translate}}</div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-6 col-xl-6" *ngIf="authService.isVisible('champ-delegation-regionale-institution')">
                <label for="delegregionale" class="col-form-label">
                  {{"userAdminConfInstEditer.Délégation_régionale" | translate}}</label>
                <input class="form-control" type="text"
                       placeholder="{{'userAdminConfInstEditer.Delegation_regionale_de_l_institution' | translate}}" id="delegregionale"
                       [ngClass]="{'is-invalid': submitted && f.delegregionale.errors }" formControlName="delegregionale"
                       [readOnly]="!authService.isEditable('champ-delegation-regionale-institution')">
                <div *ngIf="submitted && f.delegregionale.errors" class="invalid-feedback">
                  <div *ngIf="f.delegregionale.errors.required">
                    {{"userAdminConfInstEditer.La_regionale_de_l_institution_est_obligatoire" | translate}}</div>
                </div>
              </div>
              <div class="col-md-6 col-xl-6" *ngIf="authService.isVisible('champ-traduction-anglaise-delegation-regionale')">
                <label for="delegregionaleen" class="col-form-label">
                  {{"userAdminConfInstEditer.Traduction_anglaise" | translate}}</label>
                <input class="form-control" type="text"
                       placeholder="{{'userAdminConfInstEditer.Version_anglaise_de_la_délegation' | translate}}" id="delegregionaleen"
                       [ngClass]="{'is-invalid': submitted && f.delegregionaleen.errors }" formControlName="delegregionaleen"
                       [readOnly]="!authService.isEditable('champ-traduction-anglaise-delegation-regionale')">
                <div *ngIf="submitted && f.delegregionaleen.errors" class="invalid-feedback">
                  <div *ngIf="f.delegregionaleen.errors.required">
                    {{"userAdminConfInstEditer.La_regionale_de_l_institution_est_obligatoire" | translate}}</div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-6 col-xl-6" *ngIf="authService.isVisible('champ-delegation-départementale-institution')">
                <label for="delegdepartementale" class="col-form-label">
                  {{"userAdminConfInstEditer.Délégation_départementale" | translate}}</label>
                <input class="form-control" type="text"
                       placeholder="{{'userAdminConfInstEditer.Delegation_départementale_de_l_institution' | translate}}" id="delegdepartementale"
                       [ngClass]="{'is-invalid': submitted && f.delegdepartementale.errors }" formControlName="delegdepartementale"
                       [readOnly]="!authService.isEditable('champ-delegation-départementale-institution')">
                <div *ngIf="submitted && f.delegdepartementale.errors" class="invalid-feedback">
                  <div *ngIf="f.delegdepartementale.errors.required">
                    {{"userAdminConfInstEditer.Le_departement_de_l_institution_est_obligatoire" | translate}}</div>
                </div>
              </div>
              <div class="col-md-6 col-xl-6" *ngIf="authService.isVisible('champ-traduction-anglaise-delegation-départementale')">
                <label for="delegdepartementaleen" class="col-form-label">
                  {{"userAdminConfInstEditer.Traduction_anglaise" | translate}}</label>
                <input class="form-control" type="text"
                       placeholder="{{'userAdminConfInstEditer.Version_anglaise_de_la_délegation' | translate}}" id="delegdepartementaleen"
                       [ngClass]="{'is-invalid': submitted && f.delegdepartementaleen.errors }" formControlName="delegdepartementaleen"
                       [readOnly]="!authService.isEditable('champ-traduction-anglaise-delegation-départementale')">
                <div *ngIf="submitted && f.delegdepartementaleen.errors" class="invalid-feedback">
                  <div *ngIf="f.delegdepartementaleen.errors.required">
                    {{"userAdminConfInstEditer.Le_departement_de_l_institution_est_obligatoire" | translate}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
      <fieldset class="scheduler-border">
        <legend class="scheduler-border">{{"userAdminConfInstEditer.Adresse_de_l_institution" | translate}}</legend>
        <div class="row">
          <div class="col-md-11 col-xl-11 mega-menu-contact">
            <div class="form-group row">
              <div class="col-md-6 col-xl-6" *ngIf="authService.isVisible('champ-phone1-institution')">
                <label for="telephone1" class="col-form-label">
                  {{"userAdminConfInstEditer.Premier_numéro_de_téléphone" | translate}}</label>
                <input class="form-control" type="text"
                       placeholder="{{'userAdminConfInstEditer.Telephone_principal' | translate}}" id="telephone1"
                       [ngClass]="{'is-invalid': submitted && f.telephone1.errors }" formControlName="telephone1"
                       [readOnly]="!authService.isEditable('champ-phone1-institution')">
                <div *ngIf="submitted && f.telephone1.errors" class="invalid-feedback">
                  <div *ngIf="f.telephone1.errors.required">
                    {{"userAdminConfInstEditer.Le_telephone_principal_de_l_institution_est_obligatoire" | translate}}</div>
                </div>
              </div>
              <div class="col-md-6 col-xl-6" *ngIf="authService.isVisible('champ-phone2-institution')">
                <label for="telephone2" class="col-form-label">
                  {{"userAdminConfInstEditer.Deuxieme_numéro_de_téléphone" | translate}}</label>
                <input class="form-control" type="text"
                       placeholder="{{'userAdminConfInstEditer.Telephone_secondaire' | translate}}" id="telephone2"
                       [ngClass]="{'is-invalid': submitted && f.telephone2.errors }" formControlName="telephone2"
                       [readOnly]="!authService.isEditable('champ-phone2-institution')">
                <div *ngIf="submitted && f.telephone2.errors" class="invalid-feedback">
                  <div *ngIf="f.telephone2.errors.required">
                    {{"userAdminConfInstEditer.Le_telephone_secondaire_de_l_institution_est_obligatoire" | translate}}</div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-6 col-xl-6" *ngIf="authService.isVisible('champ-email-institution')">
                <label for="email" class="col-form-label">{{"userAdminConfInstEditer.Email" | translate}}</label>
                <input class="form-control" type="text"
                       placeholder="{{'userAdminConfInstEditer.email_de_l_institution' | translate}}" id="email"
                       [ngClass]="{'is-invalid': submitted && f.email.errors }" formControlName="email"
                       [readOnly]="!authService.isEditable('champ-email-institution')">
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">
                    {{"userAdminConfInstEditer.L_email_de_l_institution_est_obligatoire" | translate}}</div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-6 col-xl-6" *ngIf="authService.isVisible('champ-siteweb-institution')">
                <label for="siteweb" class="col-form-label">{{"userAdminConfInstEditer.Site_Web" | translate}}</label>
                <input class="form-control" type="text"
                       placeholder="{{'userAdminConfInstEditer.Site_web_de_l_institution' | translate}}" id="siteweb"
                       [ngClass]="{'is-invalid': submitted && f.siteweb.errors }" formControlName="siteweb"
                       [readOnly]="!authService.isEditable('champ-siteweb-institution')">
                <div *ngIf="submitted && f.siteweb.errors" class="invalid-feedback">
                  <div *ngIf="f.siteweb.errors.required">
                    {{"userAdminConfInstEditer.Le_site_web_de_l_institution_est_obligatoire" | translate}}</div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-6 col-xl-6" *ngIf="authService.isVisible('champ-boite-postale-institution')">
                <label for="boitepostale" class="col-form-label">
                  {{'userAdminConfInstEditer.Boite_postale' | translate}}</label>
                <input class="form-control" type="text"
                       placeholder="{{'userAdminConfInstEditer.Boite_postale_de_l_institution' | translate}}" id="boitepostale"
                       [ngClass]="{'is-invalid': submitted && f.boitepostale.errors }" formControlName="boitepostale"
                       [readOnly]="!authService.isEditable('champ-boite-postale-institution')">
                <div *ngIf="submitted && f.boitepostale.errors" class="invalid-feedback">
                  <div *ngIf="f.boitepostale.errors.required">
                    {{"userAdminConfInstEditer.La_boite_de_l_institution_est_obligatoire" | translate}}</div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-7 col-xl-7 row">
                <div class="col-11" *ngIf="authService.isVisible('champ-logo-institution')">
                  <label for="logo" class="col-form-label">
                    {{"userAdminConfInstEditer.Choisir_le_logo_de_l_institution" | translate}}</label>
                  <input class="form-control" type="file"
                         placeholder="{{'userAdminConfInstEditer.Logo_de_l_institution' | translate}}" id="logo"
                         [readOnly]="!authService.isEditable('champ-logo-institution')"
                         (change)="onSelectedFile($event)">
                </div>
                <div class="col-1 pt-3 mt-1" *ngIf="authService.isVisible('bouton-modifier-logo')">
                  <button class="btn btn-success btn-icon mr-2" type="button"
                          title="{{'userAdminConfInstEditer.Modifier_le_logo_de_l_institution' | translate}}"
                          [disabled]="!selectedFiles" (click)="uploadLogoInstitution(id)">
                    <em class="icofont icofont-ui-file"></em></button>
                </div>
              </div>
              <div class="col-md-6 col-xl-6" *ngIf="progress>0 && progress < 100">
                <label for="logo" class="col-form-label">
                  {{"userAdminConfInstEditer.Progression_d_enregistrement_du_logo" | translate}}</label>
                <p><ngb-progressbar type="success" textType="white" [value]="progress" [showValue]="true"></ngb-progressbar></p>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
      <div class="row">
        <button class="btn btn-primary ml-5 mr-4" type="submit"
                *ngIf="authService.isVisible('bouton-enregistrer')"
        ><i class="icofont icofont-check-circled"></i>{{"userAdminConfInstEditer.Enregistrer" | translate}}</button>
        <button class="btn btn-outline-danger ml-4"
                *ngIf="authService.isVisible('bouton-effacer')"
                (click)="onResetInstitution()">
          <i class="icofont icofont-close-circled"></i>{{"userAdminConfInstEditer.Effacer" | translate}}
        </button>
      </div>
    </form>
  </app-card>
</div>
<!-- add eleve form End -->
