<!-- List mode reglement card start -->
<app-card [title]="'userAdminConfNum.Les_parametrages_des_modeles_d_écheancier_par_niveau'" [classHeader]="true" [blockClass]="'table-border-style'">
  <div class="card-actions-bar" *ngIf="authService.isVisible('bouton-ajouter-modele')">
    <div class="row">
      <div class="col-sm-5 input-group pl-4 text-left" [formGroup]="searchForm">
        <input id="search" class="form-control"
               placeholder="{{'userEleveListeEleveMenu.Search' | translate}}" formControlName="search"
        >
        <datalist id="elevesSearch" >
          <option value="{{ lstC.niveau.nomNiveau }}" *ngFor="let lstC of modeleEcheanciers"></option>
        </datalist>
        <div class="input-group-append">
                <span class="input-group-text icofont icofont-search clickable"
                      (click)="onLoadListModeleEcheance(currNiveau)" ></span>
        </div>
      </div>
      <div class="col-7 text-right">
        <div ngbDropdown class="d-inline-block" [scrollLeft]="5" display="static" *ngIf="niveaux">
          <button class="btn btn-outline-primary btn-sm"
                  id="dropdownBasic1" ngbDropdownToggle>{{ (currentSwitch | titlecase )   }} | <span class="text-danger">
          {{"userAdminFinancesListModelEcheance.Changer" | translate}}</span></button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem class="btn-sm" (click)="swicthTo(0, allModels)">{{ allModels }}</button>
            <button ngbDropdownItem class="btn-sm" *ngFor="let niveau of niveaux"
                    (click)="swicthTo(niveau.id, 'Modèle '+ niveau.nomNiveau)">{{ model + niveau.nomNiveau }}</button>
          </div>
        </div>
        <button class="btn btn-primary btn-sm ml-3 mr-4 m-1" [disabled]="!authService.isEditable('bouton-ajouter-modele')" (click)="open(content)">
          <em class="icofont icofont-check-circled"></em>
          {{"userAdminFinancesListModelEcheance.Ajouter_modèle" | translate}}</button>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>{{"userAdminFinancesListModelEcheance.Niveau" | translate}}</th>
        <th>{{"userAdminFinancesListModelEcheance.Service" | translate}}</th>
        <th>{{"userAdminFinancesListModelEcheance.Montant" | translate}}</th>
        <th>{{"userAdminFinancesListModelEcheance.Date" | translate}}</th>
        <th>{{"userAdminFinancesListModelEcheance.Designation" | translate}}</th>
        <th>{{"userAdminFinancesListModelEcheance.Options" | translate}}</th>
      </tr>
      </thead>
      <tbody *ngIf="modeleEcheanciers">
      <tr *ngFor="let modele of modeleEcheanciers | paginate: {
      itemsPerPage: pageSize, currentPage: page + 1, totalItems: totalElements
      }; let i = index">
        <th scope="row">{{ i+1 }}</th>
        <td>{{ modele.niveau.nomNiveau}}</td>
        <td>{{ modele.service.nomService }}</td>
        <td>{{ modele.montant_a_ech }}</td>
        <td>{{ modele.date_ech | date }}</td>
        <td>{{ modele.intitule }}</td>
        <td class="p-1">
          <div [ngClass]="'icon-btn p-0 m-0'">
            <button class="btn btn-warning btn-icon mr-2"
                    [disabled]="!authService.isActif('bouton-modifier-modele-echeance')"
                    (click)="onLoadDetailsModeleEcheance(modele, content)">
              <em class="icofont icofont-pen-alt-1"></em></button>
            <button class="btn btn-success btn-icon mr-2"
                    [disabled]="!authService.isActif('bouton-visualiser-modele-echeance')"
                    (click)="onLoadDetailsModeleEcheance(modele, content)">
              <em class="icofont icofont-eye-alt"></em></button>
            <button class="btn btn-danger btn-icon mr-2"
                    [disabled]="!authService.isActif('bouton-supprimer-modele-echeance')"
                    (click)="onDeleteModeleEcheance(modele.id)">
              <em class="icofont icofont-ui-delete"></em></button></div>
        </td>
      </tr>
      </tbody>
    </table>
    <pagination-controls style="text-align:center; vertical-align:middle;"
                         autoHide="true"
                         [maxSize]="10"
                         (pageChange)="setPageChange($event)"></pagination-controls>
  </div>
  <div class="row">
    <div class="col-12">
      <ng-template #content let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="add-modele-echeance">
            {{"userAdminFinancesListModelEcheance.Nouveau_modèle_d_échéance" | translate}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="onReset()">
            <span aria-hidden="true" class="icofont icofont-close-line-squared text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="modeleEcheanceForm">
            <div class="row">
              <div class="form-group col-12" *ngIf="authService.isVisible('champ-designation-modele-echeance')">
                <label for="designation">
                  {{"userAdminFinancesListModelEcheance.Designation" | translate}}</label>
                <div class="input-group">
                  <input type="text" id="designation" formControlName="designation" [ngClass]="{'is-invalid': submitted && f.designation.errors }"
                         class="form-control"
                         placeholder="{{'userAdminFinancesListModelEcheance.Désignation_du_modèle_d_écheancier' | translate}}"
                         [readOnly]="!authService.isEditable('champ-designation-modele-echeance')">
                  <div *ngIf="submitted && f.designation.errors" class="invalid-feedback">
                    <div *ngIf="f.designation.errors.required">
                      {{"userAdminFinancesListModelEcheance.La_designation_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-6" *ngIf="authService.isVisible('champ-nom-modele-echeance')">
                <label for="nomEch">
                  {{"userAdminFinancesListModelEcheance.Nom_de_l_écheance" | translate}}</label>
                <div class="input-group">
                  <input type="text" id="nomEch" [ngClass]="{'is-invalid': submitted && f.nomEch.errors }"
                         [readOnly]="!authService.isEditable('champ-nom-modele-echeance')"
                         formControlName="nomEch" class="form-control"
                         placeholder="{{'userAdminFinancesListModelEcheance.Nom_de_l_écheance' | translate}}">
                  <div *ngIf="submitted && f.nomEch.errors" class="invalid-feedback">
                    <div *ngIf="f.nomEch.errors.required">
                      {{"userAdminFinancesListModelEcheance.Le_nom_de_l_echeance_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-6" *ngIf="authService.isVisible('champ-date-modele-echeance')">
                <label for="dateEch">{{"userAdminFinancesListModelEcheance.Date_d_échéance" | translate}}</label>
                <div class="input-group">
                  <input id="dateEch" class="form-control"  [ngClass]="{'is-invalid': submitted && f.dateEch.errors }"
                         [readOnly]="!authService.isEditable('champ-date-modele-echeance')"
                         type="date"
                         placeholder="{{'userAdminFinancesListModelEcheance.dd_mm_yyyy' | translate}}" formControlName="dateEch">
                  <div *ngIf="submitted && f.dateEch.errors" class="invalid-feedback">
                    <div *ngIf="f.dateEch.errors.required">
                      {{"userAdminFinancesListModelEcheance.La_date_de_l_echeance_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-6" *ngIf="authService.isVisible('liste-annee-academique')">
                <label for="annee">{{"userAdminFinancesListModelEcheance.Année_academique" | translate}}</label>
                <div class="input-group">
                  <select class="custom-select form-control" id="annee" formControlName="annee"
                          [ngClass]="{'is-invalid': submitted && f.annee.errors }"
                          [attr.disabled]="authService.isEditable('liste-annee-academique') == true ? null : true">
                    <option value="">
                      {{"userAdminFinancesListModelEcheance.Choisir_l_année" | translate}}</option>
                    <option *ngFor="let annee of annees" value="{{ annee.codeAnnee }}">{{ annee.codeAnnee }}</option>
                  </select>
                  <div *ngIf="submitted && f.annee.errors" class="invalid-feedback">
                    <div *ngIf="f.annee.errors.required">
                      {{"userAdminFinancesListModelEcheance.L_annee_academique_du_modele_d_écheance_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-6" *ngIf="authService.isVisible('champ-montant-modele-echeance')">
                <label for="montant">
                  {{"userAdminFinancesListModelEcheance.Montant" | translate}}</label>
                <div class="input-group">
                  <input type="number" id="montant" lang="en" [ngClass]="{'is-invalid': submitted && f.montant.errors }"
                         [readOnly]="!authService.isEditable('champ-montant-modele-echeance')"
                         formControlName="montant" class="form-control"
                         placeholder="{{'userAdminFinancesListModelEcheance.Montant_du_modele_d_echeance' | translate}}">
                  <div *ngIf="submitted && f.montant.errors" class="invalid-feedback">
                    <div *ngIf="f.montant.errors.required">
                      {{"userAdminFinancesListModelEcheance.Le_montant_a_l_echeance_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-6" *ngIf="services && authService.isVisible('liste-service-concerner')">
                <label for="service">{{"userAdminFinancesListModelEcheance.Service" | translate}}</label>
                <div class="input-group">
                  <select class="custom-select form-control" id="service" formControlName="service"
                          [attr.disabled]="authService.isEditable('liste-service-concerner') == true ? null : true">
                    <option value="">
                      {{"userAdminFinancesListModelEcheance.Choisir_le_service_concerné" | translate}}</option>
                    <ng-container *ngFor="let service of services">
                      <option value="{{ service.id }}">{{ service.nomService }}</option>
                    </ng-container>
                  </select>
                </div>
              </div>
              <div class="form-group col-6" *ngIf="niveaux && authService.isVisible('liste-niveau-application')">
                <label for="montant">
                  {{"userAdminFinancesListModelEcheance.Niveau" | translate}}</label>
                <div class="input-group">
                  <select class="custom-select form-control" id="niveau" formControlName="niveau"
                          [ngClass]="{'is-invalid': submitted && f.niveau.errors }"
                          [attr.disabled]="authService.isEditable('liste-niveau-application') == true ? null : true">
                    <option value="">
                      {{"userAdminFinancesListModelEcheance.Choisir_le_niveau_sur_lequel_appliquer" | translate}}</option>
                    <option value="0">
                      {{"userAdminFinancesListModelEcheance.Tout_les_niveaux" | translate}}</option>
                    <ng-container *ngFor="let niveau of niveaux">
                      <option value="{{ niveau.id }}">{{ niveau.nomNiveau }}</option>
                    </ng-container>
                  </select>
                  <div *ngIf="submitted && f.niveau.errors" class="invalid-feedback">
                    <div *ngIf="f.niveau.errors.required">
                      {{"userAdminFinancesListModelEcheance.La_niveau_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-4" *ngIf="authService.isVisible('bouton-autoriser-dispense')">
                <label for="dispense">
                  {{"userAdminFinancesListModelEcheance.Autoriser_dispense" | translate}}</label>
                <div class="input-group">
                  <select class="custom-select form-control" id="dispense" formControlName="dispense"
                          [ngClass]="{'is-invalid': submitted && f.dispense.errors }"
                          [attr.disabled]="authService.isEditable('bouton-autoriser-dispense') == true ? null : true">
                    <option value="">
                      {{"userAdminFinancesListModelEcheance.Oui_Non" | translate}}</option>
                    <option value="1">
                      {{"userAdminFinancesListModelEcheance.Oui" | translate}}</option>
                    <option value="0">
                      {{"userAdminFinancesListModelEcheance.Non" | translate}}
                    </option>
                  </select>
                  <div *ngIf="submitted && f.dispense.errors" class="invalid-feedback">
                    <div *ngIf="f.dispense.errors.required">
                      {{"userAdminFinancesListModelEcheance.Statut_dispense_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-4" *ngIf="authService.isVisible('bouton-autoriser-bourse')">
                <label for="bourse">
                  {{"userAdminFinancesListModelEcheance.Autoriser_bourse" | translate}}</label>
                <div class="input-group">
                  <select class="custom-select form-control" id="bourse" formControlName="bourse"
                          [ngClass]="{'is-invalid': submitted && f.bourse.errors }"
                          [attr.disabled]="authService.isEditable('bouton-autoriser-bourse') == true ? null : true">
                    <option value="">{{"userAdminFinancesListModelEcheance.Oui_Non" | translate}}</option>
                    <option value="1">{{"userAdminFinancesListModelEcheance.Oui" | translate}}</option>
                    <option value="0">{{"userAdminFinancesListModelEcheance.Non" | translate}}</option>
                  </select>
                  <div *ngIf="submitted && f.bourse.errors" class="invalid-feedback">
                    <div *ngIf="f.bourse.errors.required">
                      {{"userAdminFinancesListModelEcheance.Statut_bourse_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-4" *ngIf="authService.isVisible('bouton-autoriser-autre-remise')">
                <label for="autreRemise">
                  {{"userAdminFinancesListModelEcheance.Autoriser_autres_remise" | translate}}</label>
                <div class="input-group">
                  <select class="custom-select form-control" id="autreRemise" formControlName="autreRemise"
                          [attr.disabled]="authService.isEditable('bouton-autoriser-autre-remise') == true ? null : true"
                          [ngClass]="{'is-invalid': submitted && f.autreRemise.errors }">
                    <option value="">
                      {{"userAdminFinancesListModelEcheance.Oui_Non" | translate}}</option>
                    <option value="1">{{"userAdminFinancesListModelEcheance.Oui" | translate}}</option>
                    <option value="0">{{"userAdminFinancesListModelEcheance.Non" | translate}}</option>
                  </select>
                  <div *ngIf="submitted && f.autreRemise.errors" class="invalid-feedback">
                    <div *ngIf="f.autreRemise.errors.required">
                      {{"userAdminFinancesListModelEcheance.Statut_autres_remise_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button"  [disabled]="!authService.isEditable('bouton-annuler')"
                  class="btn btn-outline-danger btn-sm mr-2" (click)="modal.close('Save click')">
            {{"userAdminFinancesListModelEcheance.Annuler" | translate}}</button>
          <button type="button"  [disabled]="!authService.isEditable('bouton-enregistrer')"
                  (click)="onSaveModeleEcheance()" class="btn btn-primary btn-sm">
            <span *ngIf="validated" class="spinner-border spinner-border-sm mr-1" role="status" aria-hidden="true"></span>
            {{"userAdminFinancesListModelEcheance.Enregistrer" | translate}}</button>
        </div>
      </ng-template>
    </div>
  </div>
</app-card>
<!-- List mode reglement card end -->
