<!-- add eleve form Start -->
<div class="col-md-12 col-xl-12">
  <app-card [title]="'userAdminConfInstEditer.Edition_de_l_enseignant'">
    <div class="row">
      <div class="col-md-10 col-xl-10 mega-menu-contact offset-1" [formGroup]="editEnsegnantForm">
        <div class="form-group row" *ngIf="authService.isVisible('champ-nom-enseignant')">
          <div class="col-md-12 col-xl-12">
            <label for="nom" class="col-form-label">
              {{"userAdminDiscEnseigAjout.Nom_de_l_enseignant" | translate}}</label>
            <input class="form-control" formControlName="nom" type="text"
                   placeholder="{{'userAdminDiscEnseigAjout.Nom_de_l_enseignant' | translate}}" id="nom"
                   [ngClass]="{'is-invalid': submitted && f.nom.errors }"
                   [readOnly]="!authService.isEditable('champ-nom-enseignant')">
            <div *ngIf="submitted && f.nom.errors" class="invalid-feedback">
              <div *ngIf="f.nom.errors.required">
                {{"userAdminDiscEnseigAjout.Le_nom_de_l_enseignant_est_obligatoire" | translate}}</div>
            </div>
          </div>
        </div>
        <div class="form-group row" *ngIf="authService.isVisible('champ-prenom-enseignant')">
          <div class="col-md-12 col-xl-12">
            <label for="prenom" class="col-form-label">
              {{"userAdminDiscEnseigAjout.Prenom_de_l_enseignant" | translate}}</label>
            <input class="form-control" formControlName="prenom" type="text"
                   placeholder="{{'userAdminDiscEnseigAjout.Prenom_de_l_enseignant' | translate}}" id="prenom"
                   [ngClass]="{'is-invalid': submitted && f.prenom.errors }"
                   [readOnly]="!authService.isEditable('champ-prenom-enseignant')">
            <div *ngIf="submitted && f.prenom.errors" class="invalid-feedback">
              <div *ngIf="f.prenom.errors.required">
                {{"userAdminDiscEnseigAjout.Le_prenom_de_l_enseignant_est_obligatoire" | translate}}</div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-12 col-xl-12">
            <div class="row">
              <div class="col-6" *ngIf="authService.isVisible('liste-sexe')">
                <label for="sexe" class="col-form-label">
                  {{"userAdminDiscEnseigAjout.Sexe" | translate}}</label>
                <select name="sexe" formControlName="sexe" class="custom-select form-control" id="sexe"
                        [attr.disabled]="authService.isEditable('liste-sexe') == true ? null : true"
                        [ngClass]="{'is-invalid': submitted && f.sexe.errors }">
                  <option value="">--- {{"userAdminDiscEnseigAjout.Choisir" | translate}} ---</option>
                  <option value="M">{{"userAdminDiscEnseigAjout.Masculin" | translate}}</option>
                  <option value="F">{{"userAdminDiscEnseigAjout.Feminin" | translate}}</option>
                </select>
                <div *ngIf="submitted && f.sexe.errors" class="invalid-feedback">
                  <div *ngIf="f.sexe.errors.required">
                    {{"userAdminDiscEnseigAjout.Le_sexe_de_l_enseignant_est_obligatoire" | translate}}</div>
                </div>
              </div>
              <div class="col-6" *ngIf="authService.isVisible('liste-statut-matrimonial')">
                <label for="statutm" class="col-form-label">
                  {{"userAdminDiscEnseigAjout.Statut_matrimonial" | translate}}</label>
                <select name="statutm" formControlName="statutm" class="custom-select form-control" id="statutm"
                        [ngClass]="{'is-invalid': submitted && f.statutm.errors }"
                        [attr.disabled]="authService.isEditable('liste-statut-matrimonial') == true ? null : true">
                  <option value="">--- {{"userAdminDiscEnseigAjout.Choisir" | translate}} ---</option>
                  <option value="célibatiare">{{"userAdminDiscEnseigAjout.Célibataire" | translate}}</option>
                  <option value="pretre">{{"userAdminDiscEnseigAjout.Pretre" | translate}}</option>
                  <option value="Religieuse">{{"userAdminDiscEnseigAjout.Religieuse" | translate}}</option>
                  <option value="marié">{{"userAdminDiscEnseigAjout.Marié" | translate}}</option>
                  <option value="divorcé">{{"userAdminDiscEnseigAjout.Divorcé" | translate}}</option>
                  <option value="veuf">{{"userAdminDiscEnseigAjout.Veuf" | translate}}</option>
                </select>
                <div *ngIf="submitted && f.statutm.errors" class="invalid-feedback">
                  <div *ngIf="f.statutm.errors.required">
                    {{"userAdminDiscEnseigAjout.Le_statut_matrimonial_de_l_enseignant_est_obligatoire" | translate}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-12 col-xl-12">
            <div class="row">
              <div class="col-6" *ngIf="authService.isVisible('champ-telephone1-enseignant')">
                <label for="telephone1" class="col-form-label">{{"userAdminDiscEnseigAjout.Telephone_1" | translate}}</label>
                <input class="form-control" type="text" formControlName="telephone1"
                       placeholder="{{'userAdminDiscEnseigAjout.Telephone' | translate}}" id="telephone1"
                       [ngClass]="{'is-invalid': submitted && f.telephone1.errors }"
                       [readOnly]="!authService.isEditable('champ-telephone1-enseignant')">
                <div *ngIf="submitted && f.telephone1.errors" class="invalid-feedback">
                  <div *ngIf="f.telephone1.errors.required">
                    {{"userAdminDiscEnseigAjout.Le_telephone_de_l_enseignant_est_obligatoire" | translate}}</div>
                </div>
              </div>
              <div class="col-6" *ngIf="authService.isVisible('champ-telephone2-enseignant')">
                <label for="telephone2" class="col-form-label">{{"userAdminDiscEnseigAjout.Telephone_2" | translate}}</label>
                <input class="form-control" type="text"
                       placeholder="{{'userAdminDiscEnseigAjout.Telephone' | translate}}" formControlName="telephone2" id="telephone2"
                       [ngClass]="{'is-invalid': submitted && f.telephone2.errors }"
                       [readOnly]="!authService.isEditable('champ-telephone2-enseignant')">
                <div *ngIf="submitted && f.telephone2.errors" class="invalid-feedback">
                  <div *ngIf="f.telephone2.errors.required">
                    {{"userAdminDiscEnseigAjout.Le_telephone_de_l_enseignant_est_obligatoire" | translate}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6 col-xl-6" *ngIf="authService.isVisible('champ-email-enseignant')">
            <label for="email" class="col-form-label">
              {{"userAdminDiscEnseigAjout.Email" | translate}}</label>
            <input class="form-control" type="text" formControlName="email"
                   placeholder="{{'userAdminDiscEnseigAjout.Email_de_l_enseignant' | translate}}" id="email"
                   [ngClass]="{'is-invalid': submitted && f.email.errors }"
                   [readOnly]="!authService.isEditable('champ-email-enseignant')">
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">
                {{"userAdminDiscEnseigAjout.Le_mail_de_l_enseignant_est_obligatoire" | translate}}</div>
            </div>
          </div>
          <div class="form-group col-md-6 col-xl-6" *ngIf="authService.isVisible('champ-email-enseignant')">
            <label for="matricule" class="col-form-label">
              {{"userAdminDiscEnseigAjout.Matricule" | translate}}</label>
            <input class="form-control" type="text" formControlName="matricule"
                   placeholder="{{'userAdminDiscEnseigAjout.Matricule_de_l_enseignant' | translate}}" id="matricule"
                   [ngClass]="{'is-invalid': submitted && f.matricule.errors }"
                   [readOnly]="!authService.isEditable('champ-email-enseignant')">
            <div *ngIf="submitted && f.matricule.errors" class="invalid-feedback">
              <div *ngIf="f.matricule.errors.required">
                {{"userAdminDiscEnseigAjout.Le_matricule_de_l_enseignant_est_obligatoire" | translate}}</div>
            </div>
          </div>
        </div>
        <div class="form-group row" *ngIf="authService.isVisible('liste-institution')">
          <div class="col-md-12 col-xl-12">
            <label for="institution" class="col-form-label">
              {{"userAdminDiscEnseigAjout.Institution" | translate}}</label>
            <select name="institution" formControlName="institution" class="custom-select form-control" id="institution"
                    [ngClass]="{'is-invalid': submitted && f.institution.errors }"
                    [attr.disabled]="authService.isEditable('liste-institution') == true ? null : true">
              <option *ngFor="let institution of institutions" value="{{ institution.id }}">{{ institution.nomInstitution }}</option>
            </select>
            <div *ngIf="submitted && f.institution.errors" class="invalid-feedback">
              <div *ngIf="f.institution.errors.required">
                {{"userAdminDiscEnseigAjout.L_institution_de_l_enseignant_est_obligatoire" | translate}}</div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="authService.isVisible('liste-departement-pedagogique')">
          <div class="form-group col-md-6 col-xl-6">
            <label for="departement" class="col-form-label">
              {{"userAdminDiscEnseigAjout.Département_pedagogique" | translate}}</label>
            <select name="departement" formControlName="departement" class="custom-select form-control" id="departement"
                    [ngClass]="{'is-invalid': submitted && f.departement.errors }"
                    [attr.disabled]="authService.isEditable('liste-departement-pedagogique')  == true ? null : true">
              <option *ngFor="let departement of departements" value="{{ departement.id }}">{{ departement.nomDepartement }}</option>
            </select>
            <div *ngIf="submitted && f.departement.errors" class="invalid-feedback">
              <div *ngIf="f.departement.errors.required">
                {{"userAdminDiscEnseigAjout.Le_departement_de_l_enseignant_est_obligatoire" | translate}}</div>
            </div>
          </div>
          <div class="form-group col-md-6 col-xl-6" *ngIf="authService.isVisible('bouton-charger-photo-enseignant')">
            <label for="photo" class="col-form-label">
              {{"userAdminDiscEnseigAjout.Charger_une_photo" | translate}}</label>
            <input class="form-control" type="file" formControlName="photo"
                   placeholder="{{'userAdminDiscEnseigAjout.Photo_de_l_éducateur' | translate}}" id="photo"
                   [ngClass]="{'is-invalid': submitted && f.photo.errors }" (change)="onselectedFile($event)"
                   [readOnly]="!authService.isEditable('bouton-charger-photo-enseignant')">
            <div *ngIf="submitted && f.photo.errors" class="invalid-feedback">
              <div *ngIf="f.photo.errors.required">
                {{"userAdminDiscEnseigAjout.La_photo_de_l_enseignant_est_obligatoire" | translate}}</div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-12 col-xl-12">
            <div class="row">
              <div class="col-6" *ngIf="authService.isVisible('liste-fonction-enseignant')">
                <label for="fonction" class="col-form-label">
                  {{"userAdminDiscEnseigAjout.Fonction" | translate}}</label>
                <select name="fonction" formControlName="fonction" class="custom-select form-control" id="fonction"
                        [ngClass]="{'is-invalid': submitted && f.fonction.errors }"
                        [attr.disabled]="authService.isEditable('liste-fonction-enseignant') == true ? null : true">
                  <option value="">--- {{"userAdminDiscEnseigAjout.Choisir" | translate}} ---</option>
                  <option *ngFor="let role of roles" value="{{ role.name }}">{{ role.description }}</option>
                </select>
                <div *ngIf="submitted && f.fonction.errors" class="invalid-feedback">
                  <div *ngIf="f.fonction.errors.required">
                    {{"userAdminDiscEnseigAjout.La_fonction_de_l_enseignant_est_obligatoire" | translate}}</div>
                </div>
              </div>
              <div class="col-6" *ngIf="authService.isVisible('liste-type-personnel')">
                <label for="typepersonnel" class="col-form-label">
                  {{"userAdminDiscEnseigAjout.Type_personnel" | translate}}</label>
                <select name="typepersonnel" formControlName="typepersonnel" class="custom-select form-control" id="typepersonnel"
                        [attr.disabled]="authService.isEditable('liste-type-personnel') == true ? null : true"
                        [ngClass]="{'is-invalid': submitted && f.typepersonnel.errors }">
                  <option value="enseignant">{{"userAdminDiscEnseigAjout.Enseignant" | translate}}</option>
                  <option value="administratif">{{"userAdminDiscEnseigAjout.Administratif" | translate}}</option>
                  <option value="appui">{{"userAdminDiscEnseigAjout.Appui" | translate}}</option>
                  <option value="autre">{{"userAdminDiscEnseigAjout.Autre" | translate}}</option>
                </select>
                <div *ngIf="submitted && f.typepersonnel.errors" class="invalid-feedback">
                  <div *ngIf="f.typepersonnel.errors.required">
                    {{"userAdminDiscEnseigAjout.Le_type_du_personnel_enseignant_est_obligatoire" | translate}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-12 col-xl-12">
            <div class="row">
              <div class="col-6" *ngIf="authService.isVisible('liste-statut-professionnel')">
                <label for="statutprof" class="col-form-label">{{"userAdminDiscEnseigAjout.Statut_professionnel" | translate}}</label>
                <select name="statutprof" form="statutprof" class="custom-select form-control" id="statutprof"
                        [attr.disabled]="authService.isEditable('liste-statut-professionnel') == true ? null : true"
                        [ngClass]="{'is-invalid': submitted && f.statutprof.errors }">
                  <option value="permanent">{{"userAdminDiscEnseigAjout.Permanent" | translate}}</option>
                  <option value="vacataire">{{"userAdminDiscEnseigAjout.Vacataire" | translate}}</option>
                  <option value="stagiaire">{{"userAdminDiscEnseigAjout.Stagiaire" | translate}}</option>
                </select>
                <div *ngIf="submitted && f.statutprof.errors" class="invalid-feedback">
                  <div *ngIf="f.statutprof.errors.required">
                    {{"userAdminDiscEnseigAjout.Le_statut_professionnel_de_l_enseignant_est_obligatoire" | translate}}</div>
                </div>
              </div>
              <div class="col-6" *ngIf="authService.isVisible('champ-anciennete-poste')">
                <label for="anciennete" class="col-form-label">
                  {{"userAdminDiscEnseigAjout.Anciennete_au_poste" | translate}}</label>
                <input class="form-control" type="number" lang="en" formControlName="anciennete"
                       placeholder="{{'userAdminDiscEnseigAjout.Anciennete' | translate}}" id="anciennete"
                       [readOnly]="!authService.isEditable('champ-anciennete-poste')"
                       [ngClass]="{'is-invalid': submitted && f.anciennete.errors }">
                <div *ngIf="submitted && f.anciennete.errors" class="invalid-feedback">
                  <div *ngIf="f.anciennete.errors.required">
                    {{"userAdminDiscEnseigAjout.L_ancienneté_de_l_enseignant_est_obligatoire" | translate}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-12 col-xl-12" *ngIf="authService.isVisible('champ-lieu-provenance')">
            <label for="lieuprovenance" class="col-form-label">{{"userAdminDiscEnseigAjout.Lieu_provenance" | translate}}</label>
            <input class="form-control" type="text" formControlName="lieuprovenance"
                   placeholder="{{'userAdminDiscEnseigAjout.Lieu_de_provenance' | translate}}" id="lieuprovenance"
                   [ngClass]="{'is-invalid': submitted && f.lieuprovenance.errors }"
                   [readOnly]="!authService.isEditable('champ-lieu-provenance')">
            <div *ngIf="submitted && f.lieuprovenance.errors" class="invalid-feedback">
              <div *ngIf="f.lieuprovenance.errors.required">
                {{"userAdminDiscEnseigAjout.Le_lieu_de_provenance_de_l_enseignant_est_obligatoire" | translate}}</div>
            </div>
          </div>
        </div>
        <div class="text-center col-12">
          <button class="btn btn-primary m-r-20" [disabled]="!authService.isActif('bouton-enregistrer')" (click)="onSaveEnseignant()">
            <span *ngIf="validated" class="spinner-border spinner-border-sm mr-1" role="status" aria-hidden="true"></span>
            <em class="icofont icofont-check-circled mr-3"></em>
            {{"userAdminDiscEnseigAjout.Enregistrer" | translate}}</button>
          <button class="btn btn-outline-danger" [disabled]="!authService.isActif('bouton-effacer')" (click)="onResetEditEnseignant()">
            <em class="icofont icofont-close-circled mr-2"></em>
            {{"userAdminDiscEnseigAjout.Effacer" | translate}}</button>
        </div>
      </div>
    </div>
  </app-card>
</div>
<!-- add eleve form End -->
