<div class="row">
  <!-- card1 start -->
  <div class="col-md-6 col-xl-3">
    <div class="card widget-card-1">
      <div class="card-block-small">
        <i class="icofont icofont-pie-chart bg-c-blue card1-icon"></i>
        <span class="text-c-blue f-w-600">{{"dashDash.Use_space" | translate}}</span>
        <h4>49/50GB</h4>
        <div>
        <span class="f-left m-t-10 text-muted">
          <i class="text-c-blue f-16 icofont icofont-warning m-r-10"></i>{{"dashDash.Get_more_space" | translate}}
        </span>
        </div>
      </div>
    </div>
  </div>
  <!-- card1 end -->
  <!-- card2 start -->
  <div class="col-md-6 col-xl-3">
    <div class="card widget-card-1">
      <div class="card-block-small">
        <i class="icofont icofont-ui-home bg-c-pink card1-icon"></i>
        <span class="text-c-pink f-w-600">{{"dashDash.Revenue" | translate}}</span>
        <h4>$23,589</h4>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-pink f-16 icofont icofont-calendar m-r-10"></i>{{"dashDash.Last_24_hours" | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- card2 end -->
  <!-- card3 start -->
  <div class="col-md-6 col-xl-3">
    <div class="card widget-card-1">
      <div class="card-block-small">
        <i class="icofont icofont-warning-alt bg-c-green card1-icon"></i>
        <span class="text-c-green f-w-600">{{"dashDash.Fixed_issue" | translate}}</span>
        <h4>45</h4>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-green f-16 icofont icofont-tag m-r-10"></i>{{"dashDash.Tracked_from_microsoft" | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- card3 end -->
  <!-- card4 start -->
  <div class="col-md-6 col-xl-3">
    <div class="card widget-card-1">
      <div class="card-block-small">
        <i class="icofont icofont-social-twitter bg-c-yellow card1-icon"></i>
        <span class="text-c-yellow f-w-600">{{"dashDash.Followers" | translate}}</span>
        <h4>+562</h4>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-yellow f-16 icofont icofont-refresh m-r-10"></i>{{"dashDash.Just_update" | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- card4 end -->

  <!-- Statistics Start -->
  <div class="col-md-12 col-xl-8">
    <app-card [title]="'Statistics'" [classHeader]="true">
      <span class="code-header"><span class="text-muted">{{"dashDash.Get_Off_on" | translate}} <a href="https://www.amcharts.com/" target="_blank">
        {{"dashDash.amCharts" | translate}}</a> {{"dashDash.licences" | translate}}</span></span>
      <div id="line-example" class="line-example">
        <div id="statistics-chart" style="height:300px;"></div>
      </div>
    </app-card>
  </div>
  <div class="col-md-12 col-xl-4">
    <div class="card card-blue total-card">
      <div class="card-block">
        <div class="text-left">
          <h4>4000</h4>
          <p class="m-0">{{"dashDash.Total_Sales" | translate}}</p>
        </div>
        <span class="label bg-c-blue value-badges">12%</span>
      </div>
      <chart [type]="'line'" [data]="totalValueGraphData1" [options]="totalValueGraphOption" style="width: 100%; height: 100px;"></chart>
    </div>

    <div class="card card-pink total-card">
      <div class="card-block">
        <div class="text-left">
          <h4>489</h4>
          <p class="m-0">{{"dashDash.Total_Comment" | translate}}</p>
        </div>
        <span class="label bg-c-pink value-badges">15%</span>
      </div>
      <chart [type]="'line'" [data]="totalValueGraphData2" [options]="totalValueGraphOption" style="width: 100%; height: 100px;"></chart>
    </div>

  </div>

  <!-- Statistics End -->

  <!-- Statistics card start -->
  <div class="col-md-12 col-xl-4">
    <div class="card widget-statstic-card">
      <div class="card-header">
        <div class="card-header-left">
          <h5>{{"Statistics" | translate}}</h5>
          <p class="p-t-10 m-b-0 text-c-blue">{{"dashDash.Compared_to_last_week" | translate}}</p>
        </div>
      </div>
      <div class="card-block">
        <i class="icofont icofont-presentation-alt st-icon bg-c-blue"></i>

        <div class="text-left">
          <h3 class="d-inline-block">{{"dashDash.5_456" | translate}}</h3>
          <i class="icofont icofont-long-arrow-up f-30 text-c-green"></i>
          <span class="f-right">23%</span>
        </div>

      </div>
    </div>
  </div>
  <!-- Statistics card end -->
  <!-- Statistics card start -->
  <div class="col-md-6 col-xl-4">
    <div class="card widget-statstic-card">
      <div class="card-header">
        <div class="card-header-left">
          <h5>{{"Unique visitor" | translate}}</h5>
          <p class="p-t-10 m-b-0 text-c-pink">{{"dashDash.55_%_from_last_28_hours" | translate}}</p>
        </div>
      </div>
      <div class="card-block">
        <i class="icofont icofont-users-social st-icon bg-c-pink txt-lite-color"></i>

        <div class="text-left">
          <h3 class="d-inline-block">{{"dashDash.3_874" | translate}}</h3>
          <i class="icofont icofont-long-arrow-down text-c-pink f-30 "></i>
        </div>
      </div>
    </div>
  </div>
  <!-- Statistics card end -->
  <!-- Statistics card start -->
  <div class="col-md-6 col-xl-4">
    <div class="card widget-statstic-card">
      <div class="card-header">
        <div class="card-header-left">
          <h5>{{"New orders" | translate}}</h5>
          <p class="p-t-10 m-b-0 text-c-yellow">{{"dashDash.54_%_From_last_month" | translate}}</p>
        </div>
      </div>
      <div class="card-block">
        <i class="icofont icofont-chart-line st-icon bg-c-yellow"></i>

        <div class="text-left">
          <h3 class="d-inline-block">{{"dashDash.5_456" | translate}}</h3>
          <i class="icofont icofont-long-arrow-up text-c-green f-30 "></i>
        </div>
      </div>
    </div>
  </div>
  <!-- Statistics card end -->

  <!-- email Sent Start -->
  <div class="col-md-12">
    <app-card [title]="'Email sent'" [cardClass]="'email-sent-card'" [classHeader]="true">
      <span class="code-header"><span class="text-muted">{{"dashDash.Get_15_%_Off_on" | translate}} <a href="https://www.amcharts.com/" target="_blank">
        {{"dashDash.amCharts" | translate}}</a> {{"dashDash.licences" | translate}}</span></span>
      <div id="email-sent" style="max-width:100%;height:400px;"></div>
    </app-card>
  </div>
  <!-- email Sent End -->

  <!-- data widget start -->
  <div class="col-md-12 col-xl-6">
    <app-card [title]="'Time spent : project &amp; task'" [cardClass]="'project-task'" [blockClass]="'p-b-10'">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>{{"dashDash.Project_Task" | translate}}</th>
            <th>{{"dashDash.Time_Spents" | translate}}</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <div class="task-contain">
                <h6 class="bg-c-blue d-inline-block text-center">U</h6>
                <p class="d-inline-block m-l-20">{{"dashDash.UI_Design" | translate}}</p>
              </div>
            </td>
            <td>
              <p class="d-inline-block m-r-20">4 : 36</p>
              <div class="progress d-inline-block">
                <div class="progress-bar bg-c-blue" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:80%">
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="task-contain">
                <h6 class="bg-c-pink d-inline-block text-center">R</h6>
                <p class="d-inline-block m-l-20">{{"dashDash.Redesign_Android_App" | translate}}</p>
              </div>
            </td>
            <td>
              <p class="d-inline-block m-r-20">4 : 36</p>
              <div class="progress d-inline-block">
                <div class="progress-bar bg-c-pink" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:60%">
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="task-contain">
                <h6 class="bg-c-yellow d-inline-block text-center">L</h6>
                <p class="d-inline-block m-l-20">{{"dashDash.Logo_Design" | translate}}</p>
              </div>
            </td>
            <td>
              <p class="d-inline-block m-r-20">4 : 36</p>
              <div class="progress d-inline-block">
                <div class="progress-bar bg-c-yellow" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:50%">
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="task-contain">
                <h6 class="bg-c-green d-inline-block text-center">A</h6>
                <p class="d-inline-block m-l-20">{{"dashDash.Appestia_landing_Page" | translate}}</p>
              </div>
            </td>
            <td>
              <p class="d-inline-block m-r-20">4 : 36</p>
              <div class="progress d-inline-block">
                <div class="progress-bar bg-c-green" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:50%">
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="task-contain">
                <h6 class="bg-c-blue d-inline-block text-center">L</h6>
                <p class="d-inline-block m-l-20">{{"dashDash.Logo_Design" | translate}}</p>
              </div>
            </td>
            <td>
              <p class="d-inline-block m-r-20">4 : 36</p>
              <div class="progress d-inline-block">
                <div class="progress-bar bg-c-blue" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:50%">
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
  <div class="col-md-12 col-xl-6">
    <app-card [title]="'To do list'" [cardClass]="'add-task-card'" [blockClass]="'p-b-0'">
      <div class="to-do-list">
        <div class="checkbox-fade fade-in-primary d-block">
          <label class="check-task d-block">
            <input type="checkbox" value="" (change)="onTaskStatusChange($event)">
            <span class="cr">
                <i class="cr-icon icofont icofont-ui-check txt-default"></i>
            </span>
            <span><h6>{{"dashDash.Schedule_Meeting_with_Compnes" | translate}} <span class="label bg-c-green m-l-10 f-10">
              {{"dashDash.2_week" | translate}}</span></h6></span>
            <div class="task-card-img m-l-40">
              <a href="javascript:"><img src="assets/images/avatar-1.jpg" placement="top" ngbTooltip="Lary Doe" class="img-40"></a>
              <a href="javascript:"><img src="assets/images/avatar-2.jpg" placement="top" ngbTooltip="Alia" class="img-40 m-l-10"></a>
            </div>
          </label>
        </div>
      </div>
      <div class="to-do-list">
        <div class="checkbox-fade fade-in-primary d-block">
          <label class="check-task d-block">
            <input type="checkbox" value="" (change)="onTaskStatusChange($event)">
            <span class="cr">
                <i class="cr-icon icofont icofont-ui-check txt-default"></i>
            </span>
            <span><h6>{{"dashDash.Meeting_With" | translate}}</h6><p class="text-muted m-l-30">{{"dashDash.23_january_2003" | translate}}</p></span>
          </label>
        </div>
      </div>
      <div class="to-do-list">
        <div class="checkbox-fade fade-in-primary d-block">
          <label class="check-task d-block">
            <input type="checkbox" value="" (change)="onTaskStatusChange($event)">
            <span class="cr">
                <i class="cr-icon icofont icofont-ui-check txt-default"></i>
            </span>
            <span><h6>{{"dashDash.Create_template_admin_with_responsive" | translate}}<span class="label bg-c-pink m-l-10">{{"dashDash.2_week" | translate}}</span></h6></span>
            <div class="task-card-img m-l-40">
              <a href="javascript:"><img src="assets/images/avatar-2.jpg" placement="top" ngbTooltip="Alia" class="img-40"></a>
              <a href="javascript:"><img src="assets/images/avatar-3.jpg" placement="top" ngbTooltip="Suzen" class="img-40 m-l-10"></a>
              <a href="javascript:"><img src="assets/images/avatar-4.jpg" placement="top" ngbTooltip="Lary Doe" class="img-40 m-l-10"></a>
              <a href="javascript:"><img src="assets/images/avatar-2.jpg" placement="top" ngbTooltip="Josephin Doe" class="img-40 m-l-10"></a>
            </div>
          </label>
        </div>
      </div>
      <div class="to-do-list">
        <div class="checkbox-fade fade-in-primary d-block">
          <label class="check-task d-block">
            <input type="checkbox" value="" (change)="onTaskStatusChange($event)">
            <span class="cr">
                <i class="cr-icon icofont icofont-ui-check txt-default"></i>
            </span>
            <span><h6>{{"dashDash.Meeting_With" | translate}}</h6>
            <p class="text-muted m-l-30">{{"dashDash.23_january_2003" | translate}}</p></span>
            <div class="task-card-img m-l-40">
              <a href="javascript:"><img src="assets/images/avatar-2.jpg" placement="top" ngbTooltip="Lary Doe" class="img-40"></a>
              <a href="javascript:"><img src="assets/images/avatar-3.jpg" placement="top" ngbTooltip="Alia" class="img-40 m-l-10"></a>
              <a href="javascript:"><img src="assets/images/avatar-2.jpg" placement="top" ngbTooltip="Josephin Doe" class="img-40 m-l-10"></a>
            </div>
          </label>
        </div>
      </div>

    </app-card>
  </div>
  <!-- data widget End -->

  <!-- weather Start -->
  <div class="col-md-6 col-xl-4">
    <div class="card ">
      <div class="card-block weather-update">
        <h4 class="text-center f-w-600 p-b-20">{{"dashDash.Weather_Update" | translate}}</h4>
        <div class="row">
          <div class="col-md-12 text-center">
            <svg version="1.1" id="cloudSun" style="height:160px;width:200px" class="climacon climacon_cloudSun" viewBox="15 15 70 70">
              <clipPath id="cloudFillClip">
                <path d="M15,15v70h70V15H15z M59.943,61.639c-3.02,0-12.381,0-15.999,0c-6.626,0-11.998-5.371-11.998-11.998c0-6.627,5.372-11.999,11.998-11.999c5.691,0,10.434,3.974,11.665,9.29c1.252-0.81,2.733-1.291,4.334-1.291c4.418,0,8,3.582,8,8C67.943,58.057,64.361,61.639,59.943,61.639z"/>
              </clipPath>
              <clipPath id="sunCloudFillClip">
                <path d="M15,15v70h70V15H15z M57.945,49.641c-4.417,0-8-3.582-8-7.999c0-4.418,3.582-7.999,8-7.999s7.998,3.581,7.998,7.999C65.943,46.059,62.362,49.641,57.945,49.641z"/>
              </clipPath>
              <g class="climacon_iconWrap climacon_cloudSun-iconWrap">
                <g clip-path="url(#cloudFillClip)">
                  <g class="climacon_componentWrap climacon_componentWrap-sun climacon_componentWrap-sun_cloud"  >
                    <g class="climacon_componentWrap climacon_componentWrap_sunSpoke">
                      <path class="climacon_component climacon_component-stroke climacon_component-stroke_sunSpoke climacon_component-stroke_sunSpoke-orth" d="M80.029,43.611h-3.998c-1.105,0-2-0.896-2-1.999s0.895-2,2-2h3.998c1.104,0,2,0.896,2,2S81.135,43.611,80.029,43.611z"/>
                      <path class="climacon_component climacon_component-stroke climacon_component-stroke_sunSpoke climacon_component-stroke_sunSpoke-north" d="M72.174,30.3c-0.781,0.781-2.049,0.781-2.828,0c-0.781-0.781-0.781-2.047,0-2.828l2.828-2.828c0.779-0.781,2.047-0.781,2.828,0c0.779,0.781,0.779,2.047,0,2.828L72.174,30.3z"/>
                      <path class="climacon_component climacon_component-stroke climacon_component-stroke_sunSpoke climacon_component-stroke_sunSpoke-north" d="M58.033,25.614c-1.105,0-2-0.896-2-2v-3.999c0-1.104,0.895-2,2-2c1.104,0,2,0.896,2,2v3.999C60.033,24.718,59.135,25.614,58.033,25.614z"/>
                      <path class="climacon_component climacon_component-stroke climacon_component-stroke_sunSpoke climacon_component-stroke_sunSpoke-north" d="M43.892,30.3l-2.827-2.828c-0.781-0.781-0.781-2.047,0-2.828c0.78-0.781,2.047-0.781,2.827,0l2.827,2.828c0.781,0.781,0.781,2.047,0,2.828C45.939,31.081,44.673,31.081,43.892,30.3z"/>
                      <path class="climacon_component climacon_component-stroke climacon_component-stroke_sunSpoke climacon_component-stroke_sunSpoke-north" d="M42.033,41.612c0,1.104-0.896,1.999-2,1.999h-4c-1.104,0-1.998-0.896-1.998-1.999s0.896-2,1.998-2h4C41.139,39.612,42.033,40.509,42.033,41.612z"/>
                      <path class="climacon_component climacon_component-stroke climacon_component-stroke_sunSpoke climacon_component-stroke_sunSpoke-north" d="M43.892,52.925c0.781-0.78,2.048-0.78,2.827,0c0.781,0.78,0.781,2.047,0,2.828l-2.827,2.827c-0.78,0.781-2.047,0.781-2.827,0c-0.781-0.78-0.781-2.047,0-2.827L43.892,52.925z"/>
                      <path class="climacon_component climacon_component-stroke climacon_component-stroke_sunSpoke climacon_component-stroke_sunSpoke-north" d="M58.033,57.61c1.104,0,2,0.895,2,1.999v4c0,1.104-0.896,2-2,2c-1.105,0-2-0.896-2-2v-4C56.033,58.505,56.928,57.61,58.033,57.61z"/>
                      <path class="climacon_component climacon_component-stroke climacon_component-stroke_sunSpoke climacon_component-stroke_sunSpoke-north" d="M72.174,52.925l2.828,2.828c0.779,0.78,0.779,2.047,0,2.827c-0.781,0.781-2.049,0.781-2.828,0l-2.828-2.827c-0.781-0.781-0.781-2.048,0-2.828C70.125,52.144,71.391,52.144,72.174,52.925z"/>
                    </g>
                    <g class="climacon_wrapperComponent climacon_wrapperComponent-sunBody" clip-path="url(#sunCloudFillClip)">
                      <circle class="climacon_component climacon_component-stroke climacon_component-stroke_sunBody" cx="58.033" cy="41.612" r="11.999"/>
                    </g>
                  </g>
                </g>
                <g class="climacon_wrapperComponent climacon_wrapperComponent-cloud" clip-path="url(#cloudFillClip)">
                  <path class="climacon_component climacon_component-stroke climacon_component-stroke_cloud" d="M44.033,65.641c-8.836,0-15.999-7.162-15.999-15.998c0-8.835,7.163-15.998,15.999-15.998c6.006,0,11.233,3.312,13.969,8.203c0.664-0.113,1.338-0.205,2.033-0.205c6.627,0,11.998,5.373,11.998,12c0,6.625-5.371,11.998-11.998,11.998C57.26,65.641,47.23,65.641,44.033,65.641z"/>
                </g>
              </g>
            </svg>
          </div>
          <div class="col-md-12 text-center">
            <h2 class="p-b-30 f-w-600">23 ° C</h2>
          </div>
        </div>
        <p>{{"dashDash.Lorem_Ipsum_is_simply_dummy_text_of_the_printing_and_typesetting_industry" | translate}}</p>
      </div>
    </div>
  </div>
  <!-- weather End -->

  <!-- browser Start -->
  <div class="col-md-6 col-xl-4">
    <app-card [title]="'Browser Stats'">
      <div class="browser-card p-b-15 ">
        <p class="d-inline-block m-0 ">{{"dashDash.Google_Crome" | translate}}</p>
        <button class="btn bg-c-blue btn-round float-right btn-browser ">{{"dashDash._50" | translate}}</button>
      </div>
      <div class="browser-card b-t-default p-t-15 p-b-15 ">
        <p class="d-inline-block m-0 ">{{"dashDash.Mozila_Firefox" | translate}}</p>
        <button class="btn bg-c-pink btn-round float-right btn-browser ">{{"dashDash._12" | translate}}</button>
      </div>
      <div class="browser-card b-t-default p-t-15 p-b-15 ">
        <p class="d-inline-block m-0 ">{{"dashDash.Apple_Safari" | translate}}</p>
        <button class="btn bg-c-yellow btn-round float-right btn-browser ">{{"dashDash._23" | translate}}</button>
      </div>
      <div class="browser-card b-t-default p-t-15 p-b-15 ">
        <p class="d-inline-block m-0 ">{{"dashDash.Internet_Explorer" | translate}}</p>
        <button class="btn bg-c-green btn-round float-right btn-browser ">{{"dashDash._17" | translate}}</button>
      </div>
      <div class="browser-card b-t-default p-t-15 p-b-15 ">
        <p class="d-inline-block m-0 ">{{"dashDash.Opera_Mini" | translate}}</p>
        <button class="btn bg-c-yellow btn-round float-right btn-browser ">{{"dashDash._07" | translate}}</button>
      </div>
      <div class="browser-card b-t-default p-t-15">
        <p class="d-inline-block m-0 ">{{"dashDash.Microsoft_Edge" | translate}}</p>
        <button class="btn bg-c-yellow btn-round float-right btn-browser ">{{"dashDash._28" | translate}}</button>
      </div>
    </app-card>
  </div>
  <!-- browser End -->

  <!-- profile Start -->
  <div class="col-md-12 col-xl-4">
    <div class="card card-contact-box ">
      <div class="card-block ">
        <div class="card-contain text-center ">
          <img src="assets/images/avatar-1.jpg" alt=" ">
          <h6 class="f-w-600 f-20 p-b-5 m-0 p-t-15 ">{{"dashDash.Gregory_Johan" | translate}}</h6>
          <a href="javascript:">{{"dashDash.gregory_johan_demo_com" | translate}}</a>
          <p class="text-muted p-b-25 m-0 p-t-5 ">{{"dashDash.Software_Developer" | translate}}</p>
          <div class="contain-card p-t-30 p-b-10 ">
            <a href="javascript:"><img src="assets/images/avatar-2.jpg" placement="top" ngbTooltip="Alia" class="img-40"></a>
            <a href="javascript:"><img src="assets/images/avatar-3.jpg" placement="top" ngbTooltip="Suzen" class="img-40 m-l-5"></a>
            <a href="javascript:"><img src="assets/images/avatar-4.jpg" placement="top" ngbTooltip="Lary Doe" class="img-40 m-l-5"></a>
            <a href="javascript:"><img src="assets/images/avatar-2.jpg" placement="top" ngbTooltip="Josephin Doe" class="img-40 m-l-5"></a>
          </div>
        </div>
      </div>
      <div class="b-t-default">
        <div class="row m-0">
          <div class="col-6 f-btn text-center b-r-default p-t-15 p-b-15 ">
            <a href="javascript:">
              <i class="icofont icofont-ui-message text-muted m-r-10 "></i>
              <p class="text-muted m-0 text-uppercase d-inline-block ">{{"dashDash.Messages" | translate}}</p>
            </a>
          </div>
          <div class="col-6 f-btn text-center p-t-15 p-b-15 ">
            <a href="javascript:">
              <i class="icofont icofont-user text-muted m-r-10 "></i>
              <p class="text-muted m-0 text-uppercase d-inline-block ">{{"dashDash.Profile" | translate}}</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- profile End -->

  <!-- project overview Start -->
  <div class="col-md-12 col-xl-8">
    <app-card [title]="'Recent Comments'" [blockClass]="'p-0'">
      <div class="card-comment ">
        <div class="card-block-small">
          <img class="img-radius img-50" src="assets/images/avatar-1.jpg" alt="user-1">
          <div class="comment-desc">
            <h6>{{"dashDash.Luciano_Durk" | translate}}</h6>
            <p class="text-muted ">{{"dashDash.Lorem_Ipsum_is" | translate}}</p>
            <div class="comment-btn">
              <button class="btn bg-c-blue btn-round btn-comment ">{{"dashDash.Action" | translate}}</button>
            </div>
            <div class="date">
              <em>{{"dashDash.04_October_2015" | translate}}</em>
            </div>
          </div>
        </div>
      </div>
      <div class="card-comment ">
        <div class="card-block-small">
          <img class="img-radius img-50" src="assets/images/avatar-2.jpg" alt="user-4">
          <div class="comment-desc">
            <h6>John Doe</h6>
            <p class="text-muted ">{{"dashDash.Lorem_Ipsum_is" | translate}}</p>
            <div class="comment-btn">
              <button class="btn bg-c-pink btn-round btn-comment ">{{"dashDash.Approved" | translate}}</button>
            </div>
            <div class="date">
              <em>{{"dashDash.16_December_2015" | translate}}</em>
            </div>
          </div>
        </div>
      </div>
      <div class="card-comment ">
        <div class="card-block-small">
          <img class="img-radius img-50" src="assets/images/avatar-3.jpg" alt="user-2">
          <div class="comment-desc">
            <h6>{{"dashDash.Planner_Board" | translate}}</h6>
            <p class="text-muted ">{{"dashDash.Lorem_Ipsum_is" | translate}}</p>
            <div class="comment-btn">
              <button class="btn bg-c-green btn-round btn-comment ">{{"dashDash.Rejected" | translate}}</button>
            </div>
            <div class="date">
              <em>{{"dashDash.12_September_2015" | translate}}</em>
            </div>
          </div>
        </div>
      </div>
      <div class="card-comment ">
        <div class="card-block-small">
          <img class="img-radius img-50" src="assets/images/avatar-1.jpg" alt="user-3">
          <div class="comment-desc">
            <h6>{{"dashDash.Luciano_Durk" | translate}}</h6>
            <p class="text-muted ">{{"dashDash.Lorem_Ipsum_is" | translate}}</p>
            <div class="comment-btn">
              <button class="btn bg-c-pink btn-round btn-comment ">{{"dashDash.Approved" | translate}}</button>
            </div>
            <div class="date">
              <em>{{"dashDash.20_October_2015" | translate}}</em>
            </div>
          </div>
        </div>
      </div>
      <div class="card-comment ">
        <div class="card-block-small">
          <img class="img-radius img-50" src="assets/images/avatar-3.jpg" alt="user-2">
          <div class="comment-desc">
            <h6>{{"dashDash.Planner_Board" | translate}}</h6>
            <p class="text-muted ">{{"dashDash.Lorem_Ipsum_is" | translate}}</p>
            <div class="comment-btn">
              <button class="btn bg-c-green btn-round btn-comment ">{{"dashDash.Rejected" | translate}}</button>
            </div>
            <div class="date">
              <em>{{"dashDash.12_September_2015" | translate}}</em>
            </div>
          </div>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-md-12 col-xl-4">
    <div class="card fb-card">
      <div class="card-header">
        <i class="icofont icofont-social-facebook"></i>
        <div class="d-inline-block">
          <h5>{{"dashDash.facebook" | translate}}</h5>
          <span>{{"dashDash.blog_page_timeline" | translate}}</span>
        </div>
      </div>
      <div class="card-block text-center">
        <div class="row">
          <div class="col-6 b-r-default">
            <h2>{{"dashDash.N23" | translate}}</h2>
            <p class="text-muted">{{"dashDash.Active" | translate}}</p>
          </div>
          <div class="col-6">
            <h2>{{"dashDash.N23" | translate}}</h2>
            <p class="text-muted">{{"dashDash.Comment" | translate}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card dribble-card">
      <div class="card-header">
        <i class="icofont icofont-social-dribbble"></i>
        <div class="d-inline-block">
          <h5>{{"dashDash.dribble" | translate}}</h5>
          <span>{{"dashDash.Product_page_analysis" | translate}}</span>
        </div>
      </div>
      <div class="card-block text-center">
        <div class="row">
          <div class="col-6 b-r-default">
            <h2>{{"dashDash.N23" | translate}}</h2>
            <p class="text-muted">{{"dashDash.Live" | translate}}</p>
          </div>
          <div class="col-6">
            <h2>{{"dashDash.N23" | translate}}</h2>
            <p class="text-muted">{{"dashDash.Message" | translate}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card twitter-card">
      <div class="card-header">
        <i class="icofont icofont-social-twitter"></i>
        <div class="d-inline-block">
          <h5>{{"dashDash.twitter" | translate}}</h5>
          <span>{{"dashDash.current_new_timeline" | translate}}</span>
        </div>
      </div>
      <div class="card-block text-center">
        <div class="row">
          <div class="col-6 b-r-default">
            <h2>{{"dashDash.N25" | translate}}</h2>
            <p class="text-muted">{{"dashDash.new_tweet" | translate}}</p>
          </div>
          <div class="col-6">
            <h2>{{"dashDash.450_" | translate}}</h2>
            <p class="text-muted">{{"dashDash.Follower" | translate}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- project overview End -->
</div>
