<app-card [title]="'userAdminConfNum.Liste_des_élèves'" [classHeader]="true" [blockClass]="'table-border-style'">
  <div class="card b-l-danger business-info services">
    <div class="card-body p-1">
      <div class="row">
        <div class="col-sm-3">
          <p class="task-detail"><span>
            {{"userAdminDiscClassesListeEleves.Classe" | translate}}:&nbsp;&nbsp; </span><span class="text-bold">{{ currentClasse?.nomClasse }}</span></p>
          <p class="task-detail"><span>
            {{"userAdminDiscClassesListeEleves.Spécialité" | translate}}:&nbsp;&nbsp; </span><span class="text-bold">{{ currentClasse?.specialite }}</span></p>
        </div>
        <div class="col-sm-3">
          <p class="task-detail"><span>{{"userAdminDiscClassesListeEleves.Effectif" | translate}}:&nbsp;&nbsp; </span><span class="text-bold">{{ totalElements }}</span></p>
        </div>
        <div class="col-sm-6">
          <button class="btn btn-primary btn-sm ml-5 mr-4 m-1"
                  [disabled]="!authService.isActif('bouton-ajout-eleve')"
                  *ngIf="authService.isVisible('bouton-ajout-eleve')"
                  (click)="onAjouterUnEleve()"><i class="icofont icofont-plus"></i>
            {{"userAdminDiscClassesListeEleves.Ajouter_un_élève" | translate}}</button>
          <button class="btn btn-primary btn-sm ml-5 mr-4 m-1"
                  [disabled]="!authService.isActif('bouton-ajout-list-eleve')"
                  *ngIf="authService.isVisible('bouton-ajout-list-eleve')"
                  (click)="onAjouterListeEleve()"><i class="icofont icofont-plus-circle"></i>
            {{"userAdminDiscClassesListeEleves.Ajouter_une_liste_d_élèves" | translate}}</button> </div>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>{{"userAdminDiscClassesListeEleves.Matricule" | translate}}</th>
        <th>{{"userAdminDiscClassesListeEleves.Noms_et_prénoms" | translate}}</th>
        <th>{{"userAdminDiscClassesListeEleves.Sexe" | translate}}</th>
        <th>{{"userAdminDiscClassesListeEleves.Statut" | translate}}</th>
        <th>{{"userAdminDiscClassesListeEleves.Date_et_lieu_naissance" | translate}}</th>
        <th>{{"userAdminDiscClassesListeEleves.Options" | translate}}</th>
      </tr>
      </thead>
      <tbody *ngIf="listEleve && listEleve.length > 0">
      <tr #eleve_classe *ngFor="let eleve of listEleve | paginate: {totalItems: totalElements, currentPage: page + 1,
       itemsPerPage: pageSize }; let i = index">
        <th scope="row">{{ i+1 }}</th>
        <td>{{ eleve.matricule }}</td>
        <td>
          {{ eleve.nomEleve | slice: 0: 25 }}
          {{ eleve.prenomEleve | slice: 0: 15 }}{{eleve.prenomEleve.length > 15 ? '...': '' }}
        </td>
        <td>{{ eleve.sexe == 'F' ? 'Féminin' : 'Masculin'}}</td>
        <td>{{ eleve.statut == 'N' ? 'Nouveau' : 'Redoublant'}}</td>
        <td>{{ eleve.date_naissance | date }} {{ eleve.lieu_naissance | slice: 0: 10 }} {{eleve.lieu_naissance.length > 10 ? '...': '' }}</td>
        <td class="p-1">
          <div [ngClass]="'icon-btn p-0 m-0'">
            <button class="btn btn-warning btn-icon mr-2"
                    [disabled]="!authService.isActif('bouton-santionner-élève')"
                    *ngIf="authService.isVisible('bouton-santionner-élève')"
                    (click)="onSanctionnerEleve(eleve, sanctionEleve)"
                    title="{{'userAdminDiscClassesListeEleves.Sanctionner_l_eleve' | translate}}">
              <i class="icofont icofont-warning"></i></button>
            <button class="btn btn-primary btn-icon mr-2"
                    [disabled]="!authService.isActif('bouton-santionner-élève')"
                    *ngIf="authService.isVisible('bouton-santionner-élève')"
                    (click)="onPrintCertificatScolarite(eleve)"
                    title="{{'userAdminDiscClassesListeEleves.Certificat_de_scolarité_de_l_eleve' | translate}}">
              <i class="icofont icofont-id-card"></i></button>
            <button class="btn btn-primary btn-icon"
                    [disabled]="!authService.isActif('bouton-imprimer-list-sanction')"
                    *ngIf="authService.isVisible('bouton-imprimer-list-sanction')"
                    (click)="onImprimerSanctions()"><i class="icofont icofont-printer"></i></button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <pagination-controls style="text-align:center; vertical-align:middle;"
                         id="eleve_classe"
                         autoHide="true"
                         [maxSize]="10"
                         (pageChange)="setPageChange($event)"></pagination-controls>
    <div class="row" *ngIf="listEleve">
      <div class="col-12 text-center h4" *ngIf="listEleve.length == 0">
        {{"userAdminDiscClassesListeEleves.Aucune_donnée_disponible" | translate}}</div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ng-template #sanctionEleve let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="sanction-eleve">
            {{"userAdminDiscClassesListeEleves.Application_de_sanction_sur_l_élève" | translate}} </h4>
          <button type="button" class="close" aria-label="Close" (click)="onResetSanction()">
            <span aria-hidden="true" class="icofont icofont-close-line-squared text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="sanctionForm">
            <div class="row">
              <div class="form-group col-6" *ngIf="authService.isVisible('liste-sequence')">
                <label for="sequence">
                  {{"userAdminDiscClassesListeEleves.Séquence" | translate}}</label>
                <div class="input-group">
                  <select class="custom-select form-control" id="sequence" formControlName="sequence"
                          [attr.disabled]="authService.isEditable('liste-sequence') == true ? null : true"
                          [ngClass]="{'is-invalid': submitted && f.sequence.errors }">
                    <option value="">
                      {{"userAdminDiscClassesListeEleves.Choisir_la_séquence" | translate}}</option>
                    <option *ngFor="let sequence of sequences" [value]="sequence.id">{{ sequence.nomSequence }}</option>
                  </select>
                  <div *ngIf="submitted && f.sequence.errors" class="invalid-feedback">
                    <div *ngIf="f.sequence.errors.required">
                      {{"userAdminDiscClassesListeEleves.La_sequence_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-6" *ngIf="authService.isVisible('champ-date-sanction')">
                <label for="datesanction">
                  {{"userAdminDiscClassesListeEleves.Date_de_la_sanction" | translate}}</label>
                <div class="input-group">
                  <input class="form-control" type="datetime-local" id="datesanction" formControlName="datesanction"
                         [readOnly]="!authService.isEditable('champ-date-sanction')"
                         [ngClass]="{'is-invalid': submitted && f.datesanction.errors }">
                  <div *ngIf="submitted && f.datesanction.errors" class="invalid-feedback">
                    <div *ngIf="f.datesanction.errors.required">
                      {{"userAdminDiscClassesListeEleves.La_date_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-6">
                <label for="penalite">
                  {{"userAdminDiscClassesListeEleves.Pénalité_à_l_issue_de_la_sanction" | translate}}</label>
                <div class="input-group">
                  <select class="custom-select form-control" id="penalite" formControlName="penalite"
                          [ngClass]="{'is-invalid': submitted && f.penalite.errors }">
                    <option value="">
                      {{"userAdminDiscClassesListeEleves.Choisir_le_type_de_pénalité" | translate}}</option>
                    <option *ngFor="let penalite of penalites" [value]="penalite.id">{{ penalite.libelle }}</option>
                  </select>
                  <div *ngIf="submitted && f.penalite.errors" class="invalid-feedback">
                    <div *ngIf="f.penalite.errors.required">
                      {{"userAdminDiscClassesListeEleves.La_pénalité_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-6">
                <label for="temoin">
                  {{"userAdminDiscClassesListeEleves.Temoin_ou_victime_de_la_faute" | translate}}</label>
                <div class="input-group">
                  <input class="form-control" type="text" id="temoin" formControlName="temoin"
                         [ngClass]="{'is-invalid': submitted && f.temoin.errors }">
                  <div *ngIf="submitted && f.temoin.errors" class="invalid-feedback">
                    <div *ngIf="f.temoin.errors.required">
                      {{"userAdminDiscClassesListeEleves.Le_temoin_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-12" *ngIf="authService.isVisible('champ-motif-sanction')">
                <label for="motif">
                  {{"userAdminDiscClassesListeEleves.Motif_de_la_sanction" | translate}}</label>
                <textarea class="form-control" formControlName="motif"  [ngClass]="{'is-invalid': submitted && f.motif.errors }"
                          [readOnly]="!authService.isEditable('champ-motif-sanction')"
                          id="motif" rows="3"></textarea>
                <div *ngIf="submitted && f.motif.errors" class="invalid-feedback">
                  <div *ngIf="f.motif.errors.required">
                    {{"userAdminDiscClassesListeEleves.Le_motif_de_la_bourse_est_obligatoire" | translate}}</div>
                </div>
              </div>
              <div class="form-group col-4" *ngIf="authService.isVisible('champ-date-debut-penalite')">
                <label for="debut">
                  {{"userAdminDiscClassesListeEleves.Début_de_la_pénalité" | translate}}</label>
                <div class="input-group">
                  <input type="datetime-local" id="debut" formControlName="debut" [ngClass]="{'is-invalid': submitted && f.debut.errors }"
                         [readOnly]="!authService.isEditable('champ-date-debut-penalite')"
                         class="form-control"
                         placeholder="{{'userAdminDiscClassesListeEleves.Début_de_la_sanction' | translate}}">
                  <div *ngIf="submitted && f.debut.errors" class="invalid-feedback">
                    <div *ngIf="f.debut.errors.required">
                      {{"userAdminDiscClassesListeEleves.Le_debut_de_la_sanction_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-4" *ngIf="authService.isVisible('champ-date-fin-penalite')">
                <label for="fin">
                  {{"userAdminDiscClassesListeEleves.Fin_de_la_pénalité" | translate}}</label>
                <div class="input-group">
                  <input type="datetime-local" id="fin" formControlName="fin" [ngClass]="{'is-invalid': submitted && f.fin.errors }"
                         [readOnly]="!authService.isEditable('champ-date-fin-penalite')"
                         class="form-control"
                         placeholder="{{'userAdminDiscClassesListeEleves.Fin_de_la_sanction' | translate}}">
                  <div *ngIf="submitted && f.fin.errors" class="invalid-feedback">
                    <div *ngIf="f.fin.errors.required">
                      {{"userAdminDiscClassesListeEleves.La_fin_de_la_sanction_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-4">
                <label for="sequence">
                  {{"userAdminDiscClassesListeEleves.Etat_de_réalisation" | translate}}</label>
                <div class="input-group">
                  <select class="custom-select form-control" id="realisation" formControlName="realisation"
                          [ngClass]="{'is-invalid': submitted && f.realisation.errors }">
                    <option value="false">
                      {{"userAdminDiscClassesListeEleves.Non" | translate}}</option>
                    <option value="true">{{"userAdminDiscClassesListeEleves.Oui" | translate}}</option>
                  </select>
                  <div *ngIf="submitted && f.realisation.errors" class="invalid-feedback">
                    <div *ngIf="f.realisation.errors.required">
                      {{"userAdminDiscClassesListeEleves.Le choix de realisation est obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <span class="text-bold mr-5 pr-5">
            {{"userAdminDiscClassesListeEleves.Nombre_de_sanction_déja_cummulé" | translate}}
            <span class="text-facebook">{{ nbreSanctionCumule }}</span>
          </span>
          <button type="button" class="btn btn-outline-danger btn-sm mr-2"
                  [disabled]="!authService.isActif('bouton-annuler-sanction')"
                  *ngIf="authService.isVisible('bouton-annuler-sanction')"
                  (click)="onResetSanction()">
            {{"userAdminDiscClassesListeEleves.Annuler" | translate}}</button>
          <button type="button"
                  [disabled]="!authService.isActif('bouton-enregister-sanction')"
                  *ngIf="authService.isVisible('bouton-enregister-sanction')"
                  (click)="onSaveSanction()" class="btn btn-primary btn-sm">
            {{"userAdminDiscClassesListeEleves.Enregistrer" | translate}}</button>
        </div>
      </ng-template>
    </div>
  </div>
</app-card>
