<app-card [title]="'userAdminNote.Enseignant ' +  currentEnseignant?.enseignant.nom_enseignant + ' '
 + currentEnseignant?.enseignant.prenom_enseignant"
          [icone]="'icofont-ui-user'" [classHeader]="true" [blockClass]="'table-border-style'">
  <div class="table-responsive">
    <table class="table table-hover table-xs">
      <thead>
      <tr>
        <th>#</th>
        <th>{{"userAdminNotesEnseigConsulter.Classe" | translate}}</th>
        <th>{{"userAdminNotesEnseigConsulter.Matiere" | translate}}</th>
        <th>{{"userAdminNotesEnseigConsulter.Coef" | translate}}</th>
        <th>{{"userAdminNotesEnseigConsulter.Barème" | translate}}</th>
        <th>{{"userAdminNotesEnseigConsulter.Actions" | translate}}</th>
      </tr>
      </thead>
      <tbody *ngIf="currentEnseignant.matiereClasses.length > 0">
      <tr *ngFor="let matiere of currentEnseignant.matiereClasses; let i = index">
        <th scope="row">{{ '#' + (i+1)}}</th>
        <td>{{ matiere.nomClasse }}</td>
        <td>{{ matiere.nomMatiere }}</td>
        <td>{{ matiere.coefficient }}</td>
        <td>{{ matiere.baremeEvaluation }}</td>
        <td class="p-1">
          <div [ngClass]="'icon-btn p-0 m-0'">
            <button class="btn btn-success btn-icon mr-2"
                    [disabled]="!authService.isActif('bouton-modifier-programmation')"
                    *ngIf="authService.isVisible('bouton-modifier-programmation')"
                    (click)="onProgrammerEnseignant(matiere, false,  enseignantClasse)"
                    title="{{'userAdminNotesEnseigConsulter.Modifier_la_programmation' | translate}}">
              <em class="icofont icofont-pen-alt-4"></em></button>
            <button class="btn btn-warning btn-icon mr-2"
                    [disabled]="!authService.isActif('bouton-attribuer-matiere-autre-enseignant')"
                    *ngIf="authService.isVisible('bouton-attribuer-matiere-autre-enseignant')"
                    (click)="onProgrammerEnseignant(matiere, true, enseignantClasse)"
                    title="{{'userAdminNotesEnseigConsulter.Attribuer_la_matiere_a_un_autre_enseignant' | translate}}">
              <em class="icofont icofont-user"></em></button>
            <button class="btn btn-danger btn-icon mr-2"
                    [disabled]="!authService.isActif('bouton-programmer-cours-enseignant')"
                    *ngIf="authService.isVisible('bouton-programmer-cours-enseignant')"
                    (click)="onSupprimerProgrammation()"
                    title="{{'userAdminNotesEnseigConsulter.Programmer_les_cours_pour_cet_enseignant' | translate}}">
              <em class="icofont icofont-trash"></em></button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="row">
      <div class="col-12 text-center h4" *ngIf="currentEnseignant.matiereClasses.length == 0">
        {{"userAdminNotesEnseigConsulter.Aucune_donnée_disponible" | translate}}</div>
    </div>
  </div>
  <div class="dropdown-divider"></div>
  <div class="row">
    <div class="col-12 text-right">
      <button class="btn btn-info btn-round btn-sm ml-5 mr-4 m-1"
              [disabled]="!authService.isActif('bouton-programmer-cours-enseignant')"
              *ngIf="authService.isVisible('bouton-programmer-cours-enseignant')"
              (click)="onProgrammerEnseignant(null,false, enseignantClasse)">
        <em class="icofont icofont-calendar mr-2"></em>
        {{"userAdminNotesEnseigConsulter.Programmer_l_enseignant" | translate}}</button>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <ng-template #enseignantClasse let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="edit-programmation">
            {{"userAdminNotesEnseigConsulter.Attribution_d_une_classe_a_un_enseignant" | translate}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="onResetEnseignantClasse()">
            <span aria-hidden="true" class="icofont icofont-close-line-squared text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="enseignantClasseForm">
            <div class="row">
              <div class="form-group col-12" *ngIf="authService.isVisible('liste-annee-scolaire')">
                <label for="anneeAcc">
                  {{"userAdminNotesEnseigConsulter.Année_scolaire" | translate}}</label>
                <div class="input-group">
                  <select class="custom-select form-control" id="anneeAcc" formControlName="anneeAcc"
                          [attr.disabled]="authService.isEditable('liste-annee-scolaire') == true ? null : true"
                          [ngClass]="{'is-invalid': submittedEC && f.anneeAcc.errors }">
                    <option value="">
                      {{"userAdminNotesEnseigConsulter.Choisir_l_année" | translate}}</option>
                    <option *ngFor="let annee of annees" value="{{ annee.id }}">{{ annee.codeAnnee }}</option>
                  </select>
                  <div *ngIf="submittedEC && f.anneeAcc.errors" class="invalid-feedback">
                    <div *ngIf="f.anneeAcc.errors.required">
                      {{"userAdminNotesEnseigConsulter.L_annee_academique_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-12" *ngIf="isReattribuer && authService.isVisible('liste-enseignant')">
                <label for="enseignant">
                  {{"userAdminNotesEnseigConsulter.Choisir_enseignant" | translate}}</label>
                <div class="input-group">
                  <select class="custom-select form-control" id="enseignant" formControlName="enseignant"
                          [attr.disabled]="authService.isEditable('liste-enseignant') == true ? null : true"
                          [ngClass]="{'is-invalid': submittedEC && f.enseignant.errors }">
                    <option value="">
                      {{"userAdminNotesEnseigConsulter.Choisir_l_enseignant" | translate}}</option>
                    <option *ngFor="let enseignant of enseignants" value="{{ enseignant.enseignant.id_enseignant }}">
                      {{ enseignant.enseignant.nom_enseignant }}
                    </option>
                  </select>
                  <div *ngIf="submittedEC && f.enseignant.errors" class="invalid-feedback">
                    <div *ngIf="f.enseignant.errors.required">
                      {{"userAdminNotesEnseigConsulter.L_enseignant_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-6" *ngIf="authService.isVisible('liste-matiere')">
                <label for="matiere">
                  {{"userAdminNotesEnseigConsulter.Matière_enseignée" | translate}}</label>
                <div class="input-group">
                  <select class="custom-select form-control" id="matiere" formControlName="matiere"
                          [attr.disabled]="authService.isEditable('liste-matiere') == true ? null : true"
                          [ngClass]="{'is-invalid': submittedEC && f.matiere.errors }">
                    <option value="">
                      {{"userAdminNotesEnseigConsulter.Choisir_la_matiere" | translate}}</option>
                    <option *ngFor="let matiere of matieres" value="{{ matiere.id }}">{{ matiere.nomMatiere }}</option>
                  </select>
                  <div *ngIf="submittedEC && f.matiere.errors" class="invalid-feedback">
                    <div *ngIf="f.matiere.errors.required">
                      {{"userAdminNotesEnseigConsulter.La_matière_enseignée_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-6" *ngIf="authService.isVisible('liste-classe')">
                <label for="classe">
                  {{"userAdminNotesEnseigConsulter.Classe_enseignée" | translate}}</label>
                <div class="input-group">
                  <select class="custom-select form-control" id="classe" formControlName="classe"
                          [attr.disabled]="authService.isEditable('liste-classe') == true ? null : true"
                          [ngClass]="{'is-invalid': submittedEC && f.classe.errors }">
                    <option value="">
                      {{"userAdminNotesEnseigConsulter.Choisir_la_classe" | translate}}</option>
                    <option *ngFor="let classe of classes" value="{{ classe.id }}">{{ classe.nomClasse }}</option>
                  </select>
                  <div *ngIf="submittedEC && f.classe.errors" class="invalid-feedback">
                    <div *ngIf="f.classe.errors.required">
                      {{"userAdminNotesEnseigConsulter.La_classe_enseignée_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-6" *ngIf="authService.isVisible('champ-coefficient')">
                <label for="coef">
                  {{"userAdminNotesEnseigConsulter.Coefficient_de_la_matière" | translate}}</label>
                <div class="input-group">
                  <input type="text" id="coef" formControlName="coef" [ngClass]="{'is-invalid': submittedEC && f.coef.errors }"
                         [readOnly]="!authService.isEditable('champ-coefficient')"
                         class="form-control"
                         placeholder="{{'userAdminNotesEnseigConsulter.Le_coefficient_de_la_matiere' | translate}}">
                  <div *ngIf="submittedEC && f.coef.errors" class="invalid-feedback">
                    <div *ngIf="f.coef.errors.required">
                      {{"userAdminNotesEnseigConsulter.Le_coefficient_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-6" *ngIf="authService.isVisible('champ-bareme')">
                <label for="bareme">{{"userAdminNotesEnseigConsulter.Barème_de_matière" | translate}}</label>
                <div class="input-group">
                  <input type="text" id="bareme" formControlName="bareme" [ngClass]="{'is-invalid': submittedEC && f.bareme.errors }"
                         [readOnly]="!authService.isEditable('champ-bareme')"
                         class="form-control"
                         placeholder="{{'userAdminNotesEnseigConsulter.Le_bareme_de_la_matiere' | translate}}">
                  <div *ngIf="submittedEC && f.bareme.errors" class="invalid-feedback">
                    <div *ngIf="f.bareme.errors.required">
                      {{"userAdminNotesEnseigConsulter.Le_bareme_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger btn-sm mr-2"
                  [disabled]="!authService.isActif('bouton-annuler')"
                  *ngIf="authService.isVisible('bouton-annuler')"
                  (click)="onResetEnseignantClasse()">
            {{"userAdminNotesEnseigConsulter.Annuler" | translate}}</button>
          <button type="button"
                  [disabled]="!authService.isActif('bouton-enregistrer')"
                  *ngIf="authService.isVisible('bouton-enregistrer')"
                  (click)="onAttributeClasseToEnseignant()" class="btn btn-primary btn-sm">
            {{"userAdminNotesEnseigConsulter.Enregistrer" | translate}}</button>
        </div>
      </ng-template>
    </div>
  </div>
</app-card>
