<!-- List remise niveau card start -->
<app-card
  [title]="'userAdminConfNum.Les_parametrages_remise_par_niveau_d_étude'"
  [classHeader]="true"
  [blockClass]="'table-border-style'"
>
  <form [formGroup]="searchForm">
    <div class="row ml-1">
      <div class="col-md-5 input-group">
        <input
          list="elevesSearch"
          id="search"
          class="form-control"
          placeholder="{{ 'userAdminDiscEnseigList.Search' | translate }}"
          formControlName="search"
        />
        <datalist id="elevesSearch">
          <option
            value="{{ lstC.niveau.nomNiveau }}"
            *ngFor="let lstC of remiseNiveaux"
          ></option>
        </datalist>
        <div class="input-group-append">
          <span
            class="input-group-text icofont icofont-search clickable"
            (click)="getListeClassOnTable(predicat, pageSize, page)"
          ></span>
        </div>
      </div>
      <div
        class="col-md-6 text-right"
        *ngIf="authService.isVisible('bouton-ajouter-remise')"
      >
        <button
          class="btn btn-primary btn-sm ml-10"
          (click)="open(content)"
          [disabled]="!authService.isActif('bouton-ajouter-remise')"
        >
          <em class="icofont icofont-check-circled"></em>
          {{ "userAdminFinancesListRemiseNiveau.Ajouter_remise" | translate }}
        </button>
      </div>
    </div>
  </form>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>{{ "userAdminFinancesListRemiseNiveau.Niveau" | translate }}</th>
          <th>{{ "userAdminFinancesListRemiseNiveau.Année" | translate }}</th>
          <th>{{ "userAdminFinancesListRemiseNiveau.Nom" | translate }}</th>
          <th>{{ "userAdminFinancesListRemiseNiveau.Valeur" | translate }}</th>
          <th>{{ "userAdminFinancesListRemiseNiveau.Type" | translate }}</th>
          <th>{{ "userAdminFinancesListRemiseNiveau.Options" | translate }}</th>
        </tr>
      </thead>
      <tbody *ngIf="remiseNiveaux">
        <tr
          *ngFor="
            let remise of remiseNiveaux
              | paginate
                : {
                    itemsPerPage: pageSize,
                    currentPage: page + 1,
                    totalItems: totalElements,
                    id: 'listeRemiseNiveau'
                  };
            let i = index
          "
        >
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ remise.niveau.nomNiveau }}</td>
          <td>{{ remise.anneeAcademique }}</td>
          <td>{{ remise.nom_rn }}</td>
          <td>
            {{ remise.montant_rn }} {{ remise.type_rn == 0 ? "%" : "Franc" }}
          </td>
          <td>
            {{
              remise.sourceRemise == 0
                ? "Bourse"
                : remise.sourceRemise == 1
                ? "Transfert"
                : "Bonus"
            }}
          </td>
          <td class="p-1">
            <div [ngClass]="'icon-btn p-0 m-0'">
              <button
                class="btn btn-warning btn-icon mr-2"
                [disabled]="!authService.isActif('bouton-modifier-remise')"
                (click)="onLoadDetailsRemiseNiveau(remise, content)"
              >
                <i class="icofont icofont-pen-alt-1"></i>
              </button>
              <button
                class="btn btn-success btn-icon mr-2"
                [disabled]="!authService.isActif('bouton-visualiser-remise')"
                (click)="onLoadDetailsRemiseNiveau(remise, content)"
              >
                <i class="icofont icofont-eye-alt"></i>
              </button>
              <button
                class="btn btn-danger btn-icon mr-2"
                [disabled]="!authService.isActif('bouton-supprimer-remise')"
                (click)="onDeleteRemiseNiveau(remise.id)"
              >
                <i class="icofont icofont-ui-delete"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls
      style="text-align: center; vertical-align: middle"
      autoHide="true"
      [maxSize]="10"
      id="listeRemiseNiveau"
      (pageChange)="setPageChange($event)"
    ></pagination-controls>
  </div>
  <div class="row">
    <div class="col-12">
      <ng-template #content let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="add-remise-niveau">
            {{
              "userAdminFinancesListRemiseNiveau.Nouvelle_remise_de_niveau"
                | translate
            }}
          </h4>
          <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="onReset()"
          >
            <span
              aria-hidden="true"
              class="icofont icofont-close-line-squared text-danger"
            ></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="remiseNiveauForm">
            <div class="row">
              <div
                class="form-group col-6"
                *ngIf="authService.isVisible('champ-nom-remise')"
              >
                <label for="nomRemise">
                  {{
                    "userAdminFinancesListRemiseNiveau.Nom_de_la_remise"
                      | translate
                  }}</label
                >
                <div class="input-group">
                  <input
                    type="text"
                    id="nomRemise"
                    formControlName="nomRemise"
                    [ngClass]="{
                      'is-invalid': submitted && f.nomRemise.errors
                    }"
                    [readOnly]="!authService.isEditable('champ-nom-remise')"
                    class="form-control"
                    placeholder="{{
                      'userAdminFinancesListRemiseNiveau.Nom_de_la_remise'
                        | translate
                    }}"
                  />
                  <div
                    *ngIf="submitted && f.nomRemise.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.nomRemise.errors.required">
                      {{
                        "userAdminFinancesListRemiseNiveau.Le_nom_de_la_remise_est_obligatoire"
                          | translate
                      }}
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="form-group col-6"
                *ngIf="authService.isVisible('champ-nontant-remise')"
              >
                <label for="montant">
                  {{
                    "userAdminFinancesListRemiseNiveau.Montant_de_la_remise"
                      | translate
                  }}</label
                >
                <div class="input-group">
                  <input
                    type="number"
                    id="montant"
                    lang="en"
                    formControlName="montant"
                    [ngClass]="{ 'is-invalid': submitted && f.montant.errors }"
                    [readOnly]="!authService.isEditable('champ-nontant-remise')"
                    class="form-control"
                    placeholder="{{
                      'userAdminFinancesListRemiseNiveau.Montant_de_la_remise'
                        | translate
                    }}"
                  />
                  <div
                    *ngIf="submitted && f.montant.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.montant.errors.required">
                      {{
                        "userAdminFinancesListRemiseNiveau.Le_montant_remise_est_obligatoire"
                          | translate
                      }}
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="form-group col-6"
                *ngIf="authService.isVisible('liste-type-remise')"
              >
                <label for="type">{{
                  "userAdminFinancesListRemiseNiveau.Type_de_remise" | translate
                }}</label>
                <div class="input-group">
                  <select
                    class="custom-select form-control"
                    id="type"
                    [attr.disabled]="
                      authService.isEditable('liste-type-remise') == true
                        ? null
                        : true
                    "
                    [ngClass]="{ 'is-invalid': submitted && f.type.errors }"
                    formControlName="type"
                  >
                    <option value="">
                      {{
                        "userAdminFinancesListRemiseNiveau.Choisir_le_type_de_remise"
                          | translate
                      }}
                    </option>
                    <option value="0">
                      {{
                        "userAdminFinancesListRemiseNiveau.Pourcentage"
                          | translate
                      }}
                    </option>
                    <option value="1">
                      {{
                        "userAdminFinancesListRemiseNiveau.Valeur_fixe"
                          | translate
                      }}
                    </option>
                  </select>
                  <div
                    *ngIf="submitted && f.type.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.type.errors.required">
                      {{
                        "userAdminFinancesListRemiseNiveau.Le_type_de_la_remise_est_obligatoire"
                          | translate
                      }}
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="form-group col-6"
                *ngIf="authService.isVisible('liste-modalite-application')"
              >
                <label for="type">
                  {{
                    "userAdminFinancesListRemiseNiveau.Modalité_d_application"
                      | translate
                  }}</label
                >
                <div class="input-group">
                  <select
                    class="custom-select form-control"
                    id="modApp"
                    formControlName="modApp"
                    [attr.disabled]="
                      authService.isEditable('liste-modalite-application') ==
                      true
                        ? null
                        : true
                    "
                  >
                    <option value="">
                      {{
                        "userAdminFinancesListRemiseNiveau.Choisir_la_modalité_d_application"
                          | translate
                      }}
                    </option>
                    <option value="0">
                      {{
                        "userAdminFinancesListRemiseNiveau.Au_solde_de_la_derniere_tranche"
                          | translate
                      }}
                    </option>
                    <option value="1">
                      {{
                        "userAdminFinancesListRemiseNiveau.Au_solde_de_la_premiere_tranche"
                          | translate
                      }}
                    </option>
                    <option value="2">
                      {{
                        "userAdminFinancesListRemiseNiveau.A_tout_moment"
                          | translate
                      }}
                    </option>
                  </select>
                </div>
              </div>
              <div
                class="form-group col-6"
                *ngIf="authService.isVisible('liste-source-remise')"
              >
                <label for="type">{{
                  "userAdminFinancesListRemiseNiveau.Source_de_la_remise"
                    | translate
                }}</label>
                <div class="input-group">
                  <select
                    class="custom-select form-control"
                    (ngModelChange)="onChangeOptions()"
                    id="source"
                    [attr.disabled]="
                      authService.isEditable('liste-source-remise') == true
                        ? null
                        : true
                    "
                    formControlName="source"
                  >
                    <option value="2">
                      {{
                        "userAdminFinancesListRemiseNiveau.Bonus" | translate
                      }}
                    </option>
                    <option value="0">
                      {{
                        "userAdminFinancesListRemiseNiveau.Bourse" | translate
                      }}
                    </option>
                    <option value="1">
                      {{
                        "userAdminFinancesListRemiseNiveau.Transfert"
                          | translate
                      }}
                    </option>
                  </select>
                </div>
              </div>
              <div
                class="col-6"
                *ngIf="authService.isVisible('champ-date-echeance-application')"
              >
                <div class="form-group">
                  <label for="dateEch">
                    {{
                      "userAdminFinancesListRemiseNiveau.Echéance_d_application"
                        | translate
                    }}</label
                  >
                  <div class="input-group">
                    <input
                      id="dateEch"
                      class="form-control"
                      (ngModelChange)="onChangeDate()"
                      [ngClass]="{
                        'is-invalid': submitted && f.dateEch.errors
                      }"
                      [readOnly]="
                        !authService.isEditable(
                          'champ-date-echeance-application'
                        )
                      "
                      type="date"
                      placeholder="{{
                        'userAdminFinancesListRemiseNiveau.dd_mm_yyyy'
                          | translate
                      }}"
                      formControlName="dateEch"
                    />
                    <div
                      *ngIf="submitted && f.dateEch.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.dateEch.errors.required">
                        {{
                          "userAdminFinancesListRemiseNiveau.La_date_de_l_echeance_est_obligatoire"
                            | translate
                        }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="form-group col-6"
                *ngIf="authService.isVisible('liste-annee-academique')"
              >
                <label for="annee">
                  {{
                    "userAdminFinancesListRemiseNiveau.Année_academique"
                      | translate
                  }}</label
                >
                <div class="input-group">
                  <select
                    class="custom-select form-control"
                    id="annee"
                    formControlName="annee"
                    [ngClass]="{ 'is-invalid': submitted && f.annee.errors }"
                    [attr.disabled]="
                      authService.isEditable('liste-annee-academique') == true
                        ? null
                        : true
                    "
                  >
                    <option value="">
                      {{
                        "userAdminFinancesListRemiseNiveau.Choisir_l_année"
                          | translate
                      }}
                    </option>
                    <option
                      *ngFor="let annee of annees"
                      value="{{ annee.codeAnnee }}"
                    >
                      {{ annee.codeAnnee }}
                    </option>
                  </select>
                  <div
                    *ngIf="submitted && f.annee.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.annee.errors.required">
                      {{
                        "userAdminFinancesListRemiseNiveau.L_annee_academique_de_la_remise_est_obligatoire"
                          | translate
                      }}
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="form-group col-6"
                *ngIf="remises && authService.isVisible('liste-remise')"
              >
                <label for="annee">
                  {{
                    "userAdminFinancesListRemiseNiveau.Remise" | translate
                  }}</label
                >
                <div class="input-group">
                  <select
                    class="custom-select form-control"
                    id="remise"
                    formControlName="remise"
                    [ngClass]="{ 'is-invalid': submitted && f.remise.errors }"
                    [attr.disabled]="
                      authService.isEditable('liste-remise') == true
                        ? null
                        : true
                    "
                  >
                    <option value="">
                      {{
                        "userAdminFinancesListRemiseNiveau.Choisir_la_remise"
                          | translate
                      }}
                    </option>
                    <ng-container *ngFor="let remise of remises">
                      <option value="{{ remise.id }}">
                        {{ remise.nom_modele }}
                      </option>
                    </ng-container>
                  </select>
                  <div
                    *ngIf="submitted && f.remise.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.remise.errors.required">
                      {{
                        "userAdminFinancesListRemiseNiveau.La_remise_est_obligatoire"
                          | translate
                      }}
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="form-group col-6"
                *ngIf="services && authService.isVisible('liste-service')"
              >
                <label for="service">
                  {{
                    "userAdminFinancesListRemiseNiveau.Service" | translate
                  }}</label
                >
                <div class="input-group">
                  <select
                    class="custom-select form-control"
                    id="service"
                    formControlName="service"
                    [attr.disabled]="
                      authService.isEditable('liste-service') == true
                        ? null
                        : true
                    "
                  >
                    <option value="">
                      {{
                        "userAdminFinancesListRemiseNiveau.Choisir_le_service_concerné"
                          | translate
                      }}
                    </option>
                    <ng-container *ngFor="let service of services">
                      <option value="{{ service.id }}">
                        {{ service.nomService }}
                      </option>
                    </ng-container>
                  </select>
                </div>
              </div>
              <div
                class="form-group col-6"
                *ngIf="niveaux && authService.isVisible('liste-niveau')"
              >
                <label for="montant">
                  {{
                    "userAdminFinancesListRemiseNiveau.Niveau" | translate
                  }}</label
                >
                <div class="input-group">
                  <select
                    class="custom-select form-control"
                    id="niveau"
                    formControlName="niveau"
                    [ngClass]="{ 'is-invalid': submitted && f.niveau.errors }"
                    [attr.disabled]="
                      authService.isEditable('liste-niveau') == true
                        ? null
                        : true
                    "
                  >
                    <option value="">
                      {{
                        "userAdminFinancesListRemiseNiveau.Choisir_le_niveau_sur_lequel_appliquer"
                          | translate
                      }}
                    </option>
                    <option value="0">
                      {{
                        "userAdminFinancesListRemiseNiveau.Tout_les_niveaux"
                          | translate
                      }}
                    </option>
                    <ng-container *ngFor="let niveau of niveaux">
                      <option value="{{ niveau.id }}">
                        {{ niveau.nomNiveau }}
                      </option>
                    </ng-container>
                  </select>
                  <div
                    *ngIf="submitted && f.niveau.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.niveau.errors.required">
                      {{
                        "userAdminFinancesListRemiseNiveau.La_niveau_est_obligatoire"
                          | translate
                      }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            [disabled]="!authService.isActif('bouton-annuler')"
            class="btn btn-outline-danger btn-sm mr-2"
            (click)="onReset()"
          >
            {{ "userAdminFinancesListRemiseNiveau.Annuler" | translate }}
          </button>
          <button
            type="button"
            [disabled]="!authService.isActif('bouton-enregistrer')"
            (click)="onSaveRemiseNiveau()"
            class="btn btn-primary btn-sm"
          >
            {{ "userAdminFinancesListRemiseNiveau.Enregistrer" | translate }}
          </button>
        </div>
      </ng-template>
    </div>
  </div>
</app-card>
<!-- List remise niveau card end -->
