<!-- Application manuel de bonus card start -->
<app-card [title]="'userAdminFinancesListRemise.Application_manuel_de_bonus'" [classHeader]="true" [blockClass]="'table-border-style'">
  <div class="row">
    <div class="col-12">
      <div class="modal-body">
        <form [formGroup]="applicationBonusForm">
          <div class="row">
            <div class="form-group col-md-12 col-xl-12">
              <label for="eleve" class="col-form-label"> {{"userAdminFinancesListRemise.Choisir_élève" |
                translate}}</label>
              <ng-multiselect-dropdown id="eleve" #selectEleve [placeholder]="eric" [data]="dataEleve"
                formControlName="eleve" (keyup)="onChange($event)" (ngModelChange)="onReloadListEleve($event)"
                [settings]="settings">
              </ng-multiselect-dropdown>

            </div>
          </div>
        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger btn-sm mr-2"
                  (click)="onReset()">{{"userAdminFinancesListRemise.Annuler" | translate}}</button>
          <button type="button" (click)="onSaveValidApplyBonus()" class="btn btn-sm btn-primary">
          <span *ngIf="validated" class="spinner-border spinner-border-sm" role="status"
                aria-hidden="true"></span>{{"userAdminFinancesListRemise.Valider" | translate}}</button>
        </div>

      </div>

    </div>
  </div>
</app-card>
<!-- Application manuel de bonus end -->
<!-- List remise card start -->
<app-card [title]="'userAdminDiscDWelcome.Les_parametrages_remises_de_l_établissement'" [classHeader]="true"
  [blockClass]="'table-border-style'">
  <div class="card-actions-bar" *ngIf="authService.isVisible('bouton-ajouter-remise')">


    <div class="row">
      <div class="col-2 "></div>

      <div class="col-4 ">
        <button class="btn btn-primary btn-sm" (click)="open(content)"
                [disabled]="!authService.isActif('bouton-ajouter-remise')">
          <em class="icofont icofont-check-circled"></em>
          {{"userAdminFinancesListRemise.Ajouter_remise" | translate}}</button>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>{{"userAdminFinancesListRemise.Nom_Modèle" | translate}}</th>
          <th>{{"userAdminFinancesListRemise.Type" | translate}}</th>
          <th>{{"userAdminFinancesListRemise.Valeur" | translate}}</th>
          <th>{{"userAdminFinancesListRemise.Nom_remise" | translate}}</th>
          <th>{{"userAdminFinancesListRemise.Options" | translate}}</th>
        </tr>
      </thead>
      <tbody *ngIf="remises">
        <tr *ngFor="let remise of remises; let i = index">
          <th scope="row">{{ i+1 }}</th>
          <td>{{ remise.nom_modele }}</td>
          <td>{{ remise.type_rg }}</td>
          <td>{{ remise.montant_rg }}</td>
          <td>{{ remise.nom_rg | slice: 0: 30 }} {{ remise.nom_rg.length > 30 ? '...': '' }}</td>
          <td class="p-1">
            <div [ngClass]="'icon-btn p-0 m-0'">
              <button class="btn btn-warning btn-icon mr-2"
                title="{{'userAdminFinancesListRemise.Voir_les_details_de_la_remise' | translate}}"
                [disabled]="!authService.isActif('bouton-visualiser-remise')"
                (click)="onLoadDetailsRemise(remise, content)">
                <i class="icofont icofont-pen-alt-1"></i></button>
              <button class="btn btn-success btn-icon mr-2" [disabled]="!authService.isActif('bouton-modifier-remise')"
                title="{{'userAdminFinancesListRemise.Modifier_la_remise' | translate}} {{ remise.nom_modele }}"
                (click)="onLoadDetailsRemise(remise, content)">
                <i class="icofont icofont-eye-alt"></i></button>
              <button class="btn btn-danger btn-icon mr-2" [disabled]="!authService.isActif('bouton-supprimer-remise')"
                title="{{'userAdminFinancesListRemise.Supprimer_la_remise' | translate}} {{ remise.nom_modele }}"
                (click)="onDeleteRemise(remise.id)">
                <i class="icofont icofont-ui-delete"></i></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-12">
      <ng-template #content let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="add-remise">
            {{"userAdminFinancesListRemise.Nouveau_modèle_de_remise" | translate}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true" class="icofont icofont-close-line-squared text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="remiseForm">
            <div class="form-group" *ngIf="authService.isVisible('champ-nom-modele')">
              <label for="nomModele">
                {{"userAdminFinancesListRemise.Nom_du_modèle" | translate}}</label>
              <div class="input-group">
                <input type="text" id="nomModele" formControlName="nomModele"
                  [ngClass]="{'is-invalid': submitted && f.nomModele.errors }"
                  [readOnly]="!authService.isEditable('champ-nom-modele')" class="form-control"
                  placeholder="{{'userAdminFinancesListRemise.Nom_du_modèle' | translate}}">
                <div *ngIf="submitted && f.nomModele.errors" class="invalid-feedback">
                  <div *ngIf="f.nomModele.errors.required">
                    {{"userAdminFinancesListRemise.Le_nom_du_modele_de_remise_est_obligatoire" | translate}}</div>
                </div>
              </div>
            </div>
            <div class="form-group" *ngIf="authService.isVisible('champ-nom-remise')">
              <label for="nomRemise">{{"userAdminFinancesListRemise.Nom_de_la_remise" | translate}}</label>
              <div class="input-group">
                <input type="text" id="nomRemise" formControlName="nomRemise"
                  [ngClass]="{'is-invalid': submitted && f.nomRemise.errors }" class="form-control"
                  placeholder="{{'userAdminFinancesListRemise.Nom_de_la_remise' | translate}}"
                  [readOnly]="!authService.isEditable('champ-nom-remise')">
                <div *ngIf="submitted && f.nomRemise.errors" class="invalid-feedback">
                  <div *ngIf="f.nomRemise.errors.required">
                    {{"userAdminFinancesListRemise.Le_nom_de_la_remise_est_obligatoire" | translate}}</div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6" *ngIf="authService.isVisible('liste-type-remise')">
                <div class="form-group">
                  <label for="type">{{"userAdminFinancesListRemise.Type_de_remise" | translate}}</label>
                  <div class="input-group">
                    <select class="custom-select form-control" id="type" formControlName="type"
                      [attr.disabled]="authService.isEditable('liste-type-remise') == true ? null : true">
                      <option value="">
                        {{"userAdminFinancesListRemise.Choisir_le_type_de_remise" | translate}}</option>
                      <option value="0">
                        {{"userAdminFinancesListRemise.Pourcentage" | translate}}</option>
                      <option value="1">
                        {{"userAdminFinancesListRemise.Valeur_fixe" | translate}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-6" *ngIf="authService.isVisible('champ-valeur-remise')">
                <div class="form-group">
                  <label for="valeurRemise">
                    {{"userAdminFinancesListRemise.Valeur_de_la_remise" | translate}}</label>
                  <div class="input-group">
                    <input type="text" id="valeurRemise" formControlName="valeurRemise"
                      [ngClass]="{'is-invalid': submitted && f.valeurRemise.errors }" class="form-control"
                      placeholder="{{'userAdminFinancesListRemise.Valeur_de_la_remise' | translate}}"
                      [readOnly]="!authService.isEditable('champ-valeur-remise')">
                    <div *ngIf="submitted && f.valeurRemise.errors" class="invalid-feedback">
                      <div *ngIf="f.valeurRemise.errors.required">
                        {{"userAdminFinancesListRemise.La_valeur_de_la_remise_est_obligatoire" | translate}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" [disabled]="!authService.isActif('bouton-annuler')"
            class="btn btn-outline-danger btn-sm mr-2" (click)="onReset()">
            {{"userAdminFinancesListRemise.Annuler" | translate}}</button>
          <button type="button" [disabled]="!authService.isActif('bouton-enregistrer')" (click)="onSaveRemise()"
            class="btn btn-primary btn-sm">
            {{"userAdminFinancesListRemise.Enregistrer" | translate}}</button>
        </div>
      </ng-template>
    </div>
  </div>
</app-card>
<!-- List remise card end -->
