<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
  <div class="auth-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="login-card card-body auth-body">
          <form class="md-float-material" *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <div class="row pl-5">
                <img [src]="logo" height="50" alt="logo.png">
            </div>
            <div class="auth-box">
              <div class="row m-b-5">
                <div class="col-md-4">
                  <h3 class="text-left txt-primary"> {{"logBas.Sign_In" | translate}} </h3>
                </div>
                <div class="col-md-8">
                  <p *ngIf="responseStatus == 426" class="text-inverse text-left clickable"
                     routerLink="/authentication/activation"><b> {{"logBas.Cliquer_ici_pour_activer_la_licence" | translate}} </b>
                  </p>
                </div>
              </div>
              <hr/>
              <div class="input-group">
                <input type="text" [(ngModel)]="form.username" name="username" required #username="ngModel" class="form-control" placeholder="{{'logBas.Your_Email_Address' | translate}}">
                <span class="md-line"></span>
              </div>
              <p class="text-danger input-group" *ngIf="f.submitted && username.invalid"> {{"logBas.Username_is_required" | translate}} </p>
              <div class="input-group">
                <input type="password" [(ngModel)]="form.password" name="username" required #password="ngModel" class="form-control" placeholder="{{'logBas.Password' | translate}}">
                <span class="md-line"></span>
              </div>
              <ng-container *ngIf="f.submitted && password.invalid">
                <p class="text-danger input-group" *ngIf="password.errors.required"> {{"logBas.Password_is_required" | translate}} </p>
                <p class="text-danger input-group" *ngIf="password.errors.minlength">
                  {{"logBas.Password_must_be_at_least_6_charaters" | translate}} </p>
              </ng-container>
              <div class="row m-t-25 text-left">
                <div class="col-sm-9 col-xs-12">
                  <div class="checkbox-fade fade-in-primary">
                    <label>
                      <input type="checkbox" value="">
                      <span class="cr"><em class="cr-icon icofont icofont-ui-check txt-primary"></em></span>
                      <span class="text-inverse">{{"logBas.Remember_me" | translate}}</span>
                    </label>
                  </div>
                </div>


              </div>
              <div class="row">
                <div class="col-md-12">
                  <button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-5">
                    {{"logBas.Sign_In" | translate}} </button>
                </div>
                <div class="col-md-12 p-0 m-0" *ngIf="isLoginFailed">
                  <span class="text-danger" role="alert" > {{"logBas.Login_failed" | translate}}: {{ errorMessage }} </span>
                </div>
              </div>
             <div class="dropdown-divider"></div>
              <div class="row">
                <div class="col-md-10">
                  <p *ngIf="responseStatus == 426" class="text-inverse text-left clickable"
                     routerLink="/authentication/activation"><b> {{"logBas.Cliquer_ici_pour_activer_la_licence" | translate}} </b>
                  </p>
                  <p class="text-inverse text-left m-b-0"> {{"logBas.Thank_you_and_enjoy_Aurore_Application" | translate}} </p>
                </div>
                <div class="col-md-2">
                  <img src="./assets/img/thumb2.png" height="50" alt="logo.png">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
