<!-- Details eleves card start -->
<app-card [classHeader]="true" [title]="'userEleveListeEtat.Etat_financier_d_un_élève'" [blockClass]="'table-border-style'">
  <form>
    <div class="row" *ngIf="inscription && inscription.eleve">
      <div class="col-6 pt-2 pl-4">
        <app-card [classHeader]="false" [blockClass]="'table-border-style'">
          <div class="row">
            <div class="col-12 pb-0 mb-0">
              <div class="view-info">
                <div class="row">
                  <div class="col-lg-12 pb-0 mb-0">
                    <div class="row">
                      <div class="col-sm-12">
                        <h4>{{"userEleveListeEtat.Informations_élève" | translate}}</h4>
                      </div>
                      <div class="col-sm-4">
                        <a href="javascript:" class="profile-image ml-3">
                          <ngx-avatar [src]="(inscription.eleve.logo != '') ? urlImage+inscription.eleve.matricule + '?ts=' + getTs() : ''" size="120"
                                      [name]="inscription.eleve.nomEleve[0] + ' ' + inscription.eleve.prenomEleve[0]" [round]="false"></ngx-avatar>
                        </a>
                        <div class="general-info">
                          <div class="table-responsive">
                            <table class="table m-0">
                              <tbody>
                              <tr><th scope="row">{{"userEleveListeEtat.Sexe" | translate}}</th><td>{{ inscription.eleve.sexe }}</td></tr>
                              <tr><th scope="row">{{"userEleveListeEtat.Classe" | translate}}</th><td>{{ inscription.classe.nomClasse }}</td></tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-8">
                        <div class="general-info">
                          <div class="table-responsive">
                            <table class="table m-0">
                              <tbody>
                              <tr><th scope="row">{{"userEleveListeEtat.Nom_s" | translate}}</th><td>{{ inscription.eleve.nomEleve }}</td></tr>
                              <tr><th scope="row">{{"userEleveListeEtat.Prenom_s" | translate}}</th><td>{{ inscription.eleve.prenomEleve }}</td></tr>
                              <tr><th scope="row">{{"userEleveListeEtat.Né_le" | translate}}</th><td>{{ inscription.eleve.date_naissance | date }}</td></tr>
                              <tr><th scope="row">{{"userEleveListeEtat.Matricule" | translate}}</th><td>{{ inscription.eleve.matricule }}</td></tr>
                              <tr><th scope="row">{{"userEleveListeEtat.Residence" | translate}}</th><td>{{ inscription.eleve.residence_eleve }}</td></tr>
                              <tr><th scope="row">{{"userEleveListeEtat.Statut" | translate}}</th><td>{{ inscription.eleve.statut == 'N' ? 'Nouveau' : 'Redoublant' }}</td></tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 text-bold text-primary clickable p-2 m-2 ml-5"
                           routerLink="/eleves/liste-inscription/gestion-inscriptions/{{inscription.eleve.matricule}}/{{ idInscription }}">
                        {{"userEleveListeEtat.Modifier_la_fiche_d_inscription" | translate}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </app-card>
      </div>
      <div class="col-6 pt-2 pr-4">
        <app-card [classHeader]="false" [blockClass]="'table-border-style'">
          <div class="row">
            <div class="col-12 p-3">
              <div class="general-info">
                <div class="table-responsive">
                  <table class="table m-0">
                    <tbody>
                    <tr><th scope="row">{{"userEleveListeEtat.Telephone" | translate}}</th><td>{{ inscription.eleve.telephonePere | phoneFormat }}</td></tr>
                    <tr><th scope="row">{{"userEleveListeEtat.Nom_Parent" | translate}}</th><td>{{ inscription.eleve.nomParent }}</td></tr>
                    <tr><th scope="row">{{"userEleveListeEtat.Bourse" | translate}}</th><td>{{ inscription.totalBourse | currency: 'XAF' }}</td></tr>
                    <tr><th scope="row">{{"userEleveListeEtat.Dispense" | translate}}</th><td>{{ inscription.totalDispense | currency: 'XAF' }}</td></tr>
                    <tr><th scope="row">{{"userEleveListeEtat.Autres_remises" | translate}}</th><td>{{ inscription.totalBonus | currency: 'XAF' }}</td></tr>
                    <tr><th scope="row">{{"userEleveListeEtat.Versement" | translate}}</th><td>{{ inscription.totalVersements | currency: 'XAF' }}</td></tr>
                    <tr><th scope="row">{{"userEleveListeEtat.Reste" | translate}}</th><td>{{ inscription.resteGlobalApayer | currency: 'XAF' }}</td></tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </app-card>
      </div>
    </div>
  </form>
</app-card>
<!-- Details elevs card end -->
<!-- Liste des services payés card start -->
<app-card [classHeader]="false" [blockClass]="'table-border-style'">
  <div class="table-responsive" *ngIf="inscription">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>{{"userEleveListeEtat.Service" | translate}}</th>
        <th>{{"userEleveListeEtat.Montant" | translate}}</th>
        <th>{{"userEleveListeEtat.Versement" | translate}}</th>
        <th>{{"userEleveListeEtat.Autre_remise" | translate}}</th>
        <th>{{"userEleveListeEtat.Bourse" | translate}}</th>
        <th>{{"userEleveListeEtat.Dispense" | translate}}</th>
        <th>{{"userEleveListeEtat.Reste" | translate}}</th>
        <th>{{"userEleveListeEtat.Date_limite" | translate}}</th>
      </tr>
      </thead>
      <tbody *ngIf="inscription.services">
      <tr *ngFor="let service of inscription.services">
        <th scope="row">{{ service.nomService }}</th>
        <td>{{ service.montant | currency: 'XAF' }}</td>
        <td>{{ service.versement | currency: 'XAF' }}</td>
        <td>{{ service.bonus | currency: 'XAF' }}</td>
        <td>{{ service.bourse | currency: 'XAF' }}</td>
        <td>{{ service.dispense | currency: 'XAF' }}</td>
        <td>{{ service.reste | currency: 'XAF' }}</td>
        <td>{{ service.dateLimite }}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-12 text-right" *ngIf="inscription">
      <button class="btn btn-info btn-sm ml-2 mr-2 m-1"
              [disabled]="inscription.resteGlobalApayer == 0 && !authService.isActif('bouton-payer-frais-scolarite')"
              *ngIf="authService.isVisible('bouton-payer-frais-scolarite')"
              (click)="onPayerFraisInscriptions(reglerfrais)">
        <i class="icofont icofont-money-bag mr-2"></i>
        {{"userEleveListeEtat.Payer_ses_frais_de_scolarité" | translate}}</button>
      <button class="btn btn-warning btn-sm ml-2 mr-2 m-1"
              [disabled]="!authService.isActif('bouton-attribuer-bourse')"
              *ngIf="authService.isVisible('bouton-attribuer-bourse')"
              (click)="onOpenModalBourseEleve(attribuerbourse)">
        <i class="icofont icofont-money mr-2"></i>
        {{"userEleveListeEtat.Attribuer_une_bourse" | translate}}</button>
      <button class="btn btn-warning btn-sm ml-2 mr-2 m-1"
              (click)="onOpenModalBourseEleve(attribuerdispense)">
        <i class="icofont icofont-money mr-2"></i>
        {{"userEleveListeEtat.Attribuer_une_dispense" | translate}}</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ng-template #reglerfrais let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h5 class="modal-title" id="payer-inscription">
            {{"userEleveListeEtat.Reglement_des_frais_d_inscription" | translate}}
            <ng-container *ngIf="inscription" class="text-c-blue">
              - ({{ inscription.eleve.matricule }},{{ inscription.eleve.nomEleve }}
              {{ inscription.prenomEleve }}, {{ inscription.classe.nom_classe }})
            </ng-container>
          </h5>
          <button type="button" class="close" aria-label="Close" (click)="onResetScolarite()">
            <span aria-hidden="true" class="icofont icofont-close-line-squared text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="scolariteForm">
            <div class="row">
              <!--              <div class="form-group col-sm-6" *ngIf="caisses">-->
              <!--                <label for="service">Caisse à utiliser</label>-->
              <!--                <div class="input-group">-->
              <!--                  <select class="custom-select form-control" [ngClass]="{'is-invalid': submitted && s.caisse.errors }"-->
              <!--                          id="caisse" formControlName="caisse">-->
              <!--                    <option value="">Choisir la caisse a utiliser</option>-->
              <!--                    <option *ngFor="let caisse of caisses" value="{{ caisse.id }}">{{ caisse.nomCaisse }}</option>-->
              <!--                  </select>-->
              <!--                  <div *ngIf="submitted && s.caisse.errors" class="invalid-feedback">-->
              <!--                    <div *ngIf="s.caisse.errors.required">Le choix de la caisse est obligatoire</div>-->
              <!--                  </div>-->
              <!--                </div>-->
              <!--              </div>-->
              <!--              <div class="form-group col-sm-6" *ngIf="modeReglements">-->
              <!--                <label for="service">Mode de reglement</label>-->
              <!--                <div class="input-group">-->
              <!--                  <select class="custom-select form-control" [ngClass]="{'is-invalid': submitted && s.modeReglement.errors }"-->
              <!--                          id="modeReglement" formControlName="modeReglement">-->
              <!--                    <option value="">Choisir le mode de règlement</option>-->
              <!--                    <option *ngFor="let mode of modeReglements" value="{{ mode.id }}">{{ mode.libelle }}</option>-->
              <!--                  </select>-->
              <!--                  <div *ngIf="submitted && s.modeReglement.errors" class="invalid-feedback">-->
              <!--                    <div *ngIf="s.modeReglement.errors.required">Le choix du mode de reglement est obligatoire</div>-->
              <!--                  </div>-->
              <!--                </div>-->
              <!--              </div>-->
              <div *ngIf="resteAVerser != null" class="form-group col-sm-6" [ngClass]="isAuto == true ? 'col-sm-12' : 'col-sm-6'">
                <label for="montantAVerser">
                  {{"userEleveListeEtat.Entrer_ici_le_montant_a_verser" | translate}} <span class="text-c-blue text-bold">
                  {{"userEleveListeEtat._Maximun" | translate}} {{resteAVerser}}{{"userEleveListeEtat.)" | translate}}</span></label>
                <div class="input-group">
                  <input type="number" lang="en" id="montantAVerser" formControlName="montantAVerser"
                         [ngClass]="{'is-invalid': submitted && s.montantAVerser.errors }"
                         class="form-control"
                         placeholder="{{'userEleveListeEtat.Montant_a_verser_pour_inscription' | translate}}">
                  <div *ngIf="submitted && s.montantAVerser.errors" class="invalid-feedback">
                    <div *ngIf="s.montantAVerser.errors.required">
                      {{"userEleveListeEtat.Le_montant_a_verser_pour_inscription_est_obligatoire" | translate}}</div>
                    <div *ngIf="s.montantAVerser.errors.min">
                      {{"userEleveListeEtat.Le_montant_a_verser_pour_doit_etre_positif" | translate}}</div>
                    <div *ngIf="s.montantAVerser.errors.max">{{resteAVerser > 0 ? 'Le montant a verser doit etre au maximum ' + resteAVerser : 'Plus de versement a effectuer'}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-6" *ngIf="isAuto == false && echeanciersEleve"
                   [ngClass]="isAuto == true ? 'col-sm-12' : 'col-sm-6'">
                <label for="service">
                  {{"userEleveListeEtat.Service_a_regler" | translate}}</label>
                <div class="input-group">
                  <select class="custom-select form-control" [ngClass]="{'is-invalid': submitted && s.service.errors }"
                          (ngModelChange)="onUpdateResteAverser()" id="service" formControlName="service">
                    <option value="">
                      {{"userEleveListeEtat.Choisir_le_service_a_regler" | translate}}</option>
                    <option *ngFor="let echeancier of echeanciersEleve" value="{{ echeancier.id }}">{{ echeancier.modeleEcheancier.intitule }}</option>
                  </select>
                  <div *ngIf="submitted && s.service.errors" class="invalid-feedback">
                    <div *ngIf="s.service.errors.required">
                      {{"userEleveListeEtat.Le_choix_du_service_a_régler_est_obligatoire" | translate}}</div>
                  </div>
                  <div *ngIf="submitted && s.service.errors" class="invalid-feedback">
                    <div *ngIf="s.service.errors.required">
                      {{"userEleveListeEtat.Lorsque_vous_choisissez_l_option_manuel_vous_etes_obligé_de_selectionner_le_service_a_regler" | translate}}</div>
                  </div>
                </div>
              </div>

              <div class="col-12">
                <div class="form-check form-check-inline">
                  {{"userEleveListeEtat.Est_ce_que_le_reglement_des_services_doit_etre_automatique" | translate}}</div>
                <div class="form-check form-check-inline">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="isTransfert" id="inlineRadio1"
                           [value]="true" [(ngModel)]="isAuto" [ngModelOptions]="{standalone: true}" (ngModelChange)="onChangeOptions()">
                    <label class="form-check-label" for="inlineRadio1">
                      {{"userEleveListeEtat.Oui" | translate}}</label>
                  </div>
                  <input class="form-check-input" type="radio" name="isTransfert" id="inlineRadio2"
                         [value]="false" [(ngModel)]="isAuto" [ngModelOptions]="{standalone: true}" (ngModelChange)="onChangeOptions()">
                  <label class="form-check-label" for="inlineRadio2">
                    {{"userEleveListeEtat.Non" | translate}}</label>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger btn-sm mr-2" (click)="onResetScolarite()">
            {{"userEleveListeEtat.Annuler" | translate}}</button>
          <button type="button" [disabled]="validated" class="btn btn-primary btn-sm" (click)="onReglerInscription()">
            <span *ngIf="validated" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            {{"userEleveListeEtat.Enregistrer" | translate}}</button>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ng-template #attribuerbourse let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="attribuer-bourse">
            {{"userEleveListeEtat.Attribution_d_une_bourse_a_un_élève" | translate}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true" class="icofont icofont-close-line-squared text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="bourseForm">
            <div class="form-group" *ngIf="bourses">
              <label for="service">
                {{"userEleveListeEtat.Bourse_à_utiliser" | translate}}</label>
              <div class="input-group">
                <select class="custom-select form-control" [ngClass]="{'is-invalid': submitted && b.bourse.errors }"
                        id="bourse" formControlName="bourse">
                  <option value="">
                    {{"userEleveListeEtat.Choisir_la_bourse_a_utiliser" | translate}}</option>
                  <option *ngFor="let bourse of bourses" value="{{ bourse.id }}">{{ bourse.intitule_bourse }} - {{ bourse.montant_bourse }}</option>
                </select>
                <div *ngIf="submitted && b.bourse.errors" class="invalid-feedback">
                  <div *ngIf="b.bourse.errors.required">
                    {{"userEleveListeEtat.Le_choix_de_la_bourse_est_obligatoire" | translate}}</div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="anneeAc">{{"userEleveListeEtat.Année_academique" | translate}}</label>
              <div class="input-group">
                <input type="number" lang="en" id="anneeAc" formControlName="anneeAc" [ngClass]="{'is-invalid': submitted && b.anneeAc.errors }"
                       class="form-control"
                       placeholder="{{'userEleveListeEtat.L_année_academique_de_l_application_de_la_bourse' | translate}}" [readOnly]="true">
                <div *ngIf="submitted && b.anneeAc.errors" class="invalid-feedback">
                  <div *ngIf="b.anneeAc.errors.required">{{"userEleveListeEtat.Année_academique_obligatoire" | translate}}</div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger btn-sm mr-2" (click)="onResetBourse()">
            {{"userEleveListeEtat.Annuler" | translate}}</button>
          <button type="button" class="btn btn-primary btn-sm" (click)="onAttribuerBourseEleve()">
            <span *ngIf="validated" class="spinner-border spinner-border-sm mr-1" role="status" aria-hidden="true"></span>
            {{"userEleveListeEtat.Enregistrer" | translate}}</button>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ng-template #attribuerdispense let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="attribuer-dispense">
            {{"userEleveListeEtat.Attribution_d_une_dispense_a_un_élève" | translate}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true" class="icofont icofont-close-line-squared text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="dispenseForm">
            <div class="form-group">
              <label for="montantDispense">
                {{"userEleveListeEtat.Montant_de_dispense" | translate}}</label>
              <div class="input-group">
                <input type="number" lang="en" id="montantDispense" formControlName="montantDispense"
                       [ngClass]="{'is-invalid': submitted && dis.montantDispense.errors }"
                       class="form-control"
                       placeholder="{{'userEleveListeEtat.Montant_de_dispense' | translate}}">
                <div *ngIf="submitted && dis.montantDispense.errors" class="invalid-feedback">
                  <div *ngIf="dis.montantDispense.errors.max">
                    {{"userEleveListeEtat.La_dispense_doit_etre_au_maximum_les_2_3_du_reste_du_montant_a_verser" | translate}}</div>
                </div>
                <div *ngIf="submitted && dis.montantDispense.errors" class="invalid-feedback">
                  <div *ngIf="dis.montantDispense.errors.required">
                    {{"userEleveListeEtat.Le_montant_de_dispense_est_obligatoire" | translate}}</div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger btn-sm mr-2" (click)="onResetBourse()">
            {{"userEleveListeEtat.Annuler" | translate}}</button>
          <button type="button" class="btn btn-primary btn-sm" (click)="onAttribuerDispenseEleve()">
            <span *ngIf="validated" class="spinner-border spinner-border-sm mr-1" role="status" aria-hidden="true"></span>
            {{"userEleveListeEtat.Enregistrer" | translate}}</button>
        </div>
      </ng-template>
    </div>
  </div>
</app-card>
<!-- List des services payés card end -->

<!-- List des recaps de versements card start -->
<app-card [classHeader]="false" [blockClass]="'table-border-style'">
  <div class="row">
    <div class="col-12 text-right" *ngIf="inscription">
      <ng-container *ngFor="let service of services">
        <div ngbDropdown class="d-inline-block" [scrollLeft]="5" display="static">
          <button class="btn btn-primary btn-sm ml-2 mr-2 m-1"
                  id="dropdownBasic1" ngbDropdownToggle>{{ service.nomService }}</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem class="btn-sm"
                    [disabled]="!authService.isActif('bouton-imprimer-recu-scolarite')"
                    *ngIf="authService.isVisible('bouton-imprimer-recu-scolarite')"
                    (click)="onImprimerRecuGlobal(inscription.versements[0], service.idService, false)">Imprimer {{ service.nomService }}</button>
            <button ngbDropdownItem class="btn-sm"
                    [disabled]="!authService.isActif('bouton-imprimer-recu-scolarite')"
                    *ngIf="authService.isVisible('bouton-imprimer-recu-scolarite') && service.nomService != 'APE'"
                    (click)="onImprimerRecuGlobal(inscription.versements[0], service.idService, true)">Imprimer {{ service.nomService + ' + APE' }}</button>
          </div>
        </div>
      </ng-container>
      <button class="btn btn-warning btn-sm"
              title="{{'userEleveListeEtat.Imprimer_l_etat_financier_de_l_eleve' | translate}}"
              [disabled]="!authService.isActif('bouton-imprimer-recu-financier')"
              *ngIf="authService.isVisible('bouton-imprimer-recu-financier')"
              (click)="onImpressionEtatFinancier(inscription.matricule)">
        <i class="icofont icofont-printer"></i>
        {{"userEleveListeEtat.Etat_financier" | translate}}</button>
    </div>
  </div>
  <div class="table-responsive" *ngIf="inscription">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>{{"userEleveListeEtat.Date_et_Heure_du_versement" | translate}}</th>
        <th>{{"userEleveListeEtat.Année" | translate}}</th>
        <th>{{"userEleveListeEtat.Montant" | translate}}</th>
        <th>{{"userEleveListeEtat.Recu" | translate}}</th>
        <th>{{"userEleveListeEtat.Imprimer" | translate}}</th>
      </tr>
      </thead>
      <tbody *ngIf="inscription.versements">
      <tr *ngFor="let versement of inscription.versements">
        <th scope="row">{{ versement.dateRegl }}</th>
        <td>{{ versement.anneeAcademique + '/'+ genericsService.incrementCodeAnnee(versement.anneeAcademique) }}</td>
        <td>{{ versement.montantRgl | currency: 'XAF' }}</td>
        <td>{{ versement.service }}</td>
        <td>
          <button class="btn btn-warning btn-icon"
                  title="{{'userEleveListeEtat.Imprimer_le_recu_de_ce_versement' | translate}}"
                  [disabled]="!authService.isActif('bouton-imprimer-recu-versement')"
                  *ngIf="authService.isVisible('bouton-imprimer-recu-versement')"
                  (click)="onImpressionRecu(versement)"><i class="icofont icofont-printer"></i></button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</app-card>
<!-- List des recaps de versements card end -->
