<div class="row">
  <!-- card9 start -->
  <div class="col-md-6 col-xl-3" *ngIf="authService.isVisible('bouton-reglement-eleve')">
    <div class="card widget-card-1 clickable" (click)="isActif('/finances/liste-inscription', 'bouton-reglement-eleve')">
      <div class="card-block-small">
        <i class="icofont icofont-cur-euro bg-amazon card1-icon"></i>
        <span class="text-c-orenge f-w-600">
          {{"userFinancesWelcome.Reglement_eleve" | translate}}</span>
        <h3 class="text-center text-muted">
          <i class="text-c-green icofont icofont-eye-alt"></i>
        </h3>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-yellow f-16 icofont icofont-money m-r-10"></i>
            {{"userFinancesWelcome.Reglement_eleve" | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3" *ngIf="authService.isVisible('bouton-reglement-divers')">
    <div class="card widget-card-1 clickable"
         (click)="isActif('/finances/reglements-divers', 'bouton-reglement-divers')">
      <div class="card-block-small">
        <i class="icofont icofont-credit-card bg-c-lite-green card1-icon"></i>
        <span class="text-c-orenge f-w-600">
          {{"userFinancesWelcome.Reglement_divers" | translate}}</span>
        <h3 class="text-center text-muted">
          <i class="text-c-green icofont icofont-eye-alt"></i>
        </h3>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-yellow f-16 icofont icofont-money-bag m-r-10"></i>
            {{"userFinancesWelcome.Reglement_divers" | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- card9 end -->
  <!-- card2 start -->
  <div class="col-md-6 col-xl-3" *ngIf="authService.isVisible('bouton-configuration')">
    <div class="card widget-card-1 clickable"
         (click)="isActif('/administration/finances/menu-config','bouton-configuration')">
      <div class="card-block-small">
        <i class="icofont icofont-automation bg-instagram card1-icon"></i>
        <span class="text-c-pink f-w-600">
          {{"userFinancesWelcome.Configuration" | translate}}</span>
        <h3 class="text-center text-muted">
          <i class="text-c-green icofont icofont-eye-alt"></i>
        </h3>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-pink f-16 icofont icofont-tools-alt-1 m-r-10"></i>
            {{"userFinancesWelcome.Configuration" | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3" *ngIf="authService.isVisible('bouton-journal-finance')">
    <div class="card widget-card-1 clickable"
         (click)="isActif('/finances/historique-finance', 'bouton-journal-finance')">
      <div class="card-block-small">
        <i class="icofont icofont-newspaper bg-instagram card1-icon"></i>
        <span class="text-c-pink f-w-600">
          {{"Journal" | translate}}</span>
        <h3 class="text-center text-muted">
          <i class="text-c-green icofont icofont-eye-alt"></i>
        </h3>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-pink f-16 icofont icofont-tools-alt-1 m-r-10"></i>
            {{"Journal" | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- card2 end -->
</div>
