<app-card [title]="ERIC + detailsEtab?.nom_etablissement">
  <div class="browser-card p-b-15" *ngIf="sections">
    <div class="container-fluid clickable table-hover" *ngFor="let section of sections">
      <div class="container bg-gray mb-2">
        <div class="row">
          <div class="col-md-8" *ngIf="authService.isVisible('bouton-ouvrir-section')"
               [routerLink]="authService.isActif('bouton-ouvrir-section') ? '/administration/configuration/institutions/list-cycle/'+section.id_section : ''">
            <h5 class="m-0 text-c-blue">{{ section.nom_section }}</h5>
          </div>
          <div class="col-md-4">
            <button class="btn bg-danger float-right btn-browser mr-2"
                    *ngIf="authService.isVisible('bouton-suppimer-section')"
                    [disabled]="!authService.isActif('bouton-suppimer-section')"
            ><i class="icofont icofont-close-circled"></i></button>
            <button class="btn bg-warning float-right btn-browser mr-2"
                    *ngIf="authService.isVisible('bouton-editer-section')"
                    [disabled]="!authService.isActif('bouton-editer-section')"
                    (click)="onLoadDetailsSections(section, content)"><i class="icofont icofont-pen-alt-1"></i></button>
            <button class="btn bg-c-blue float-right btn-browser mr-2"
                    *ngIf="authService.isVisible('bouton-ouvrir-section')"
                    [disabled]="!authService.isActif('bouton-ouvrir-section')"
                    routerLink="/administration/configuration/institutions/list-cycle/{{ section.id_section }}">
              <i class="icofont icofont-folder-open"></i></button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-right">
        <button class="btn btn-primary btn-sm ml-5 mr-4 m-1"
                title="{{'userAdminConfInstListSect.Ajout_d_une_nouvelle_section' | translate}}"
                *ngIf="authService.isVisible('bouton-ajouter-section')"
                [disabled]="!authService.isActif('bouton-ajouter-section')"
                (click)="openLoadFormAddSection(content)">
          <i class="icofont icofont-plus-circle"></i>
          {{"userAdminConfInstListSect.Ajouter_une_section" | translate}}</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ng-template #content let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="add-section">
            {{"userAdminConfInstListSect.Ajouter_une_section" | translate}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true" class="icofont icofont-close-line-squared text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="sectionForm">
            <div class="col-md-12 col-xl-12">
              <fieldset class="scheduler-border">
                <legend class="scheduler-border">
                  {{"userAdminConfInstListSect.Information_Importantes" | translate}}</legend>
                <div class="row">
                  <div class="col-md-11 col-xl-11 mega-menu-contact">
                    <div class="form-group row" *ngIf="authService.isVisible('champ-nom-section')">
                      <label for="nom" class="col-form-label">
                        {{"userAdminConfInstListSect.Nom_de_la_section" | translate}}</label>
                      <input class="form-control" type="text"
                             placeholder="{{'userAdminConfInstListSect.Nom_de_la_section' | translate}}" id="nom"
                             [readOnly]="!authService.isEditable('champ-nom-section')"
                             formControlName="nom" [ngClass]="{'is-invalid': submitted && f.nom.errors }">
                      <div *ngIf="submitted && f.nom.errors" class="invalid-feedback">
                        <div *ngIf="f.nom.errors.required">
                          {{"userAdminConfInstListSect.Le_nom_de_la_section_est_obligatoire" | translate}}</div>
                      </div>
                    </div>
                    <div class="form-group row" *ngIf="authService.isVisible('liste-langue')">
                      <label for="langue" class="col-form-label">
                        {{"userAdminConfInstListSect.Langue_de_la_section" | translate}}</label>
                      <select class="custom-select form-control" formControlName="langue"
                              [attr.disabled]="authService.isEditable('liste-langue') == true ? null : true"
                              [ngClass]="{'is-invalid': submitted && f.langue.errors }" id="langue">
                        <option value="">
                          {{"userAdminConfInstListSect.Choisir_une_langue" | translate}}</option>
                        <option value="fr">{{"userAdminConfInstListSect.Francais" | translate}}</option>
                        <option value="en">{{"userAdminConfInstListSect.Anglais" | translate}}</option>
                      </select>
                      <div *ngIf="submitted && f.langue.errors" class="invalid-feedback">
                        <div *ngIf="f.langue.errors.required">
                          {{"userAdminConfInstListSect.La_langue_de_la_section_est_obligatoire" | translate}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary btn-sm ml-5 mr-4" type="button"
                  *ngIf="authService.isVisible('bouton-enregistrer')"
                  [disabled]="!authService.isActif('bouton-enregistrer')"
                  (click)="onSaveSection()"><i class="icofont icofont-check-circled"></i>
            {{"userAdminConfInstListSect.Enregistrer" | translate}}</button>
          <button class="btn btn-success btn-outline-success btn-sm ml-4" type="reset"
                  *ngIf="authService.isVisible('bouton-effacer')"
                  [disabled]="!authService.isActif('bouton-effacer')"
                  (click)="onResetSection()"><i class="icofont icofont-close-circled"></i>
            {{"userAdminConfInstListSect.Effacer" | translate}}
          </button>
        </div>
      </ng-template>
    </div>
  </div>
</app-card>

<app-card [title]="ROMUALD + detailsEtab?.nom_etablissement">
  <div class="row">
    <div class="col-6 input-group pl-4" [formGroup]="searchForm">
      <input id="search" class="form-control"
             placeholder="{{'userAdminConfInstListSect.Search' | translate}}" formControlName="search"
             *ngIf="authService.isVisible('champ-recherche-motcle')"
             [disabled]="!authService.isEditable('champ-recherche-motcle')">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary btn-icon icofont icofont-search-alt-1"
                *ngIf="authService.isVisible('bouton-rechercher')"
                [disabled]="!authService.isActif('bouton-rechercher')"
                (click)="onLoadListDepartements(idEtab)" type="button"></button>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>{{"userAdminConfInstListSect.Nom_departement" | translate}}</th>
        <th>{{"userAdminConfInstListSect.Spécialités" | translate}}</th>
        <th>{{"userAdminConfInstListSect.Animateur_pédagogique" | translate}}</th>
        <th>{{"userAdminConfInstListSect.Options" | translate}}</th>
      </tr>
      </thead>
      <tbody *ngIf="departements">
      <tr *ngFor="let departement of departements; let i = index" (dblclick)="onConsulterDepartement(departement)">
        <th scope="row">{{ i+1 }}</th>
        <td>{{ departement.nomDepartement }}</td>
        <td>{{ departement.specialite }}</td>
        <td>
          <ng-container *ngIf="departement.animateurPedagogique">
            <p class="p-0 m-0">{{ departement.animateurPedagogique.nom_enseignant + ' ' + departement.animateurPedagogique.prenom_enseignant  }}</p>
            <p class="p-0 m-0 text-googleplus"><em>{{ (departement.animateurPedagogique.telephone_1 | phoneFormat) + ' / ' + (departement.animateurPedagogique.telephone_2 | phoneFormat)}} </em></p>
          </ng-container>
        </td>
        <td class="p-1">
          <div [ngClass]="'icon-btn p-0 m-0'">
            <button class="btn bg-facebook btn-icon mr-2 mb-0" title="{{'userAdminConfInstListSect.Details_du_département' | translate}}"
                    (click)="onConsulterDepartement(departement)"><i class="icofont icofont-folder-open"></i></button>
            <button class="btn bg-success btn-icon mr-2 mb-0" title="{{'userAdminConfInstListSect.Modifier_les_attributs_du_département' | translate}}"
                    (click)="onOpenModalToEditDepartement(departement, contentDepartement)"><i class="icofont icofont-pencil-alt-5"></i></button>
            <button class="btn bg-warning btn-icon mr-2 mb-0" title="{{'userAdminConfInstListSect.Nommer_un_animateur_pédagogique_pour_ce_departement' | translate}}"
                    (click)="onNommerAP(departement, contentAP)"><i class="icofont icofont-user-alt-7"></i></button>
            <button class="btn bg-danger btn-icon mr-2" title="{{'userAdminConfInstListSect.Supprimer_ce_département' | translate}}"
                    (click)="onDelete(departement)"><i class="icofont icofont-trash"></i></button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="dropdown-divider"></div>
    <div class="row">
      <div class="col-12 text-right">
        <button class="btn btn-primary btn-sm ml-5 mr-4 m-1"
                title="{{'userAdminConfInstListSect.Ajouter_nouveau_departement' | translate}}"
                (click)="onOpenModalToEditDepartement(null, contentDepartement)">
          <i class="icofont icofont-plus-circle"></i>
          {{"userAdminConfInstListSect.Ajouter_Departement" | translate}}</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ng-template #contentDepartement let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="edit-departement">
            {{"userAdminConfInstListSect.Edition_du_département" | translate}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="onResetDepartement()">
            <span aria-hidden="true" class="icofont icofont-close-line-squared text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="departementForm">
            <div class="col-md-12 col-xl-12">
              <fieldset class="scheduler-border">
                <legend class="scheduler-border">
                  {{"userAdminConfInstListSect.Information_Importantes" | translate}}</legend>
                <div class="row">
                  <div class="col-md-11 col-xl-11 mega-menu-contact">
                    <div class="form-group row">
                      <label for="nomDep" class="col-form-label">
                        {{"userAdminConfInstListSect.Nom_du_departement" | translate}}</label>
                      <input class="form-control" type="text"
                             placeholder="{{'userAdminConfInstListSect.Nom_du_departement' | translate}}" id="nomDep"
                             formControlName="nomDep" [ngClass]="{'is-invalid': submitted && dp.nomDep.errors }">
                      <div *ngIf="submitted && dp.nomDep.errors" class="invalid-feedback">
                        <div *ngIf="dp.nomDep.errors.required">
                          {{"userAdminConfInstListSect.Le_nom_du_departement_est_obligatoire" | translate}}</div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="specialite" class="col-form-label">
                        {{"userAdminConfInstListSect.Spécialité_du_departement" | translate}}</label>
                      <input class="form-control" type="text"
                             placeholder="{{'userAdminConfInstListSect.Spécialité_du_departement' | translate}}" id="specialite"
                             formControlName="specialite" [ngClass]="{'is-invalid': submitted && dp.specialite.errors }">
                      <div *ngIf="submitted && dp.specialite.errors" class="invalid-feedback">
                        <div *ngIf="dp.specialite.errors.required">
                          {{"userAdminConfInstListSect.La_spécialité_est_obligatoire" | translate}}</div>
                      </div>
                    </div>
                    <div class="form-group row" *ngIf="enseignants">
                      <label for="ap" class="col-form-label">
                        {{"userAdminConfInstListSect.Animateur_pédagogique" | translate}}</label>
                      <select class="custom-select form-control" formControlName="ap"
                              [ngClass]="{'is-invalid': submitted && dp.ap.errors }" id="ap">
                        <option value="0">--- {{"userAdminConfInstListSect.Choisir" | translate}} ---</option>
                        <option *ngFor="let enseignant of enseignants" value="{{ enseignant.id_enseignant}}">{{ enseignant.nom_enseignant }}</option>
                      </select>
                      <div *ngIf="submitted && dp.ap.errors" class="invalid-feedback">
                        <div *ngIf="dp.ap.errors.required">
                          {{"userAdminConfInstListSect.L_animateur_pédagogique_est_obligatoire" | translate}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-outline-danger btn-sm ml-4" type="reset" (click)="onResetDepartement()">
            <i class="icofont icofont-close-circled"></i>
            {{"userAdminConfInstListSect.Effacer" | translate}}</button>
          <button class="btn btn-primary btn-sm ml-5 mr-4" type="button" (click)="onSaveDepartement()">
            <span *ngIf="validated" class="spinner-border spinner-border-sm mr-1" role="status" aria-hidden="true"></span>
            <i class="icofont icofont-check-circled"></i>
            {{"userAdminConfInstListSect.Enregistrer" | translate}}</button>
        </div>
      </ng-template>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <ng-template #contentAP let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="nommer-ap">
            {{"userAdminConfInstListSect.Nomination_animateur_pédagogique" | translate}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="onResetDepartement()">
            <span aria-hidden="true" class="icofont icofont-close-line-squared text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="nommerApForm">
            <div class="col-md-12 col-xl-12">
              <fieldset class="scheduler-border">
                <legend class="scheduler-border">
                  {{"userAdminConfInstListSect.Information_Importantes" | translate}}</legend>
                <div class="row">
                  <div class="col-md-12 col-xl-12 mega-menu-contact">
                    <div class="form-group row" *ngIf="enseignants">
                      <label for="apn" class="col-form-label">
                        {{"userAdminConfInstListSect.Animateur_pédagogique" | translate}}</label>
                      <select class="custom-select form-control" formControlName="ap"
                              [ngClass]="{'is-invalid': submitted && nap.ap.errors }" id="apn">
                        <option value="">--- {{"userAdminConfInstListSect.Choisir" | translate}} ---</option>
                        <option *ngFor="let enseignant of enseignants" value="{{ enseignant.id_enseignant}}">{{ enseignant.nom_enseignant }}</option>
                      </select>
                      <div *ngIf="submitted && nap.ap.errors" class="invalid-feedback">
                        <div *ngIf="nap.ap.errors.required">
                          {{"userAdminConfInstListSect.L_animateur_pédagogique_est_obligatoire" | translate}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-outline-danger btn-sm ml-4" type="reset" (click)="onResetNomination()">
            <i class="icofont icofont-close-circled"></i>
            {{"userAdminConfInstListSect.Effacer" | translate}}</button>
          <button class="btn btn-primary btn-sm ml-2 mr-4" type="button" (click)="onSaveNomination()">
            <i class="icofont icofont-check-circled"></i>
            {{"userAdminConfInstListSect.Enregistrer" | translate}}</button>
        </div>
      </ng-template>
    </div>
  </div>
</app-card>
