<app-card [title]="'userAdminConfNum.Liste_des_élèves'" [classHeader]="true" [blockClass]="'table-border-style'">
  <div class="row">
    <div class="col-12 text-right">
      <button class="btn btn-primary btn-sm ml-5 mr-4 m-1"
              [disabled]="!authService.isActif('bouton-ajout-list-eleve')"
              *ngIf="authService.isVisible('bouton-ajout-list-eleve')"
              (click)="onAjouterListeEleve()"><i class="icofont icofont-check-circled"></i>
        {{"userAdminNotesListEleves.Ajouter_une_liste_d_élèves" | translate}}</button>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>{{"userAdminNotesListEleves.Matricule" | translate}}</th>
        <th>{{"userAdminNotesListEleves.Noms_et_prénoms" | translate}}</th>
        <th>{{"userAdminNotesListEleves.Sexe" | translate}}</th>
        <th>{{"userAdminNotesListEleves.Statut" | translate}}</th>
        <th>{{"userAdminNotesListEleves.Date_et_lieu_naissance" | translate}}</th>
        <th>{{"userAdminNotesListEleves.Options" | translate}}</th>
      </tr>
      </thead>
      <tbody *ngIf="listEleve && listEleve.length > 0">
      <tr *ngFor="let eleve of listEleve; let i = index">
        <th scope="row">{{ i+1 }}</th>
        <td>{{ eleve.matricule }}</td>
        <td>{{ eleve.nomEleve }} {{ eleve.prenomEleve }}</td>
        <td>{{ eleve.sexe == 'F' ? 'Féminin' : 'Masculin'}}</td>
        <td>{{ eleve.statut == 'N' ? 'Nouveau' : 'Redoublant'}}</td>
        <td>{{ eleve.date_naissance | date }} {{ eleve.lieu_naissance }}</td>
        <td class="p-1">
          <div [ngClass]="'icon-btn p-0 m-0'">
            <button class="btn btn-warning btn-icon mr-1"
                    [disabled]="!authService.isActif('bouton-santionner-élève')"
                    *ngIf="authService.isVisible('bouton-santionner-élève')"
                    (click)="onSanctionnerEleve(null, sanctionEleve)"
                    title="{{'userAdminNotesListEleves.Sanctionner_l_eleve' | translate}}">
              <i class="icofont icofont-warning"></i></button>
            <button class="btn btn-primary btn-iconm-1"
                    [disabled]="!authService.isActif('bouton-imprimer-list-sanction')"
                    *ngIf="authService.isVisible('bouton-imprimer-list-sanction')"
                    (click)="onImprimerSanctions()"><i class="icofont icofont-printer"></i></button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="row" *ngIf="listEleve">
      <div class="col-12 text-center h4" *ngIf="listEleve.length == 0">
        {{"userAdminNotesListEleves.Aucune_donnée_disponible" | translate}}</div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ng-template #sanctionEleve let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="sanction-eleve">
            {{"userAdminNotesListEleves.Application_de_sanction_sur_l_élève" | translate}} </h4>
          <button type="button" class="close" aria-label="Close" (click)="onResetSanction()">
            <span aria-hidden="true" class="icofont icofont-close-line-squared text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="sanctionForm">
            <div class="row">
              <div class="form-group col-6" *ngIf="authService.isVisible('liste-sequence')">
                <label for="sequence">
                  {{"userAdminNotesListEleves.Séquence" | translate}}</label>
                <div class="input-group">
                  <select class="custom-select form-control" id="sequence" formControlName="sequence"
                          [attr.disabled]="authService.isEditable('liste-sequence') == true ? null : true"
                          [ngClass]="{'is-invalid': submitted && f.sequence.errors }">
                    <option value="">
                      {{"userAdminNotesListEleves.Choisir_l_année" | translate}}</option>
                  </select>
                  <div *ngIf="submitted && f.sequence.errors" class="invalid-feedback">
                    <div *ngIf="f.sequence.errors.required">
                      {{"userAdminNotesListEleves.La_sequence_est_obligatoire_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-6" *ngIf="authService.isVisible('champ-date-sanction')">
                <label for="datesanction">{{"userAdminNotesListEleves.Date_de_la_sanction" | translate}}</label>
                <div class="input-group">
                  <input class="form-control" type="date" id="datesanction" formControlName="datesanction"
                         [readOnly]="!authService.isEditable('champ-date-sanction')"
                         [ngClass]="{'is-invalid': submitted && f.datesanction.errors }">
                  <div *ngIf="submitted && f.matiere.errors" class="invalid-feedback">
                    <div *ngIf="f.matiere.errors.required">
                      {{"userAdminNotesListEleves.La_date_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-12" *ngIf="authService.isVisible('champ-motif-sanction')">
                <label for="motif">
                  {{"userAdminNotesListEleves.Motif_de_la_sanction" | translate}}</label>
                <textarea class="form-control" formControlName="motif"  [ngClass]="{'is-invalid': submitted && f.motif.errors }"
                          [readOnly]="!authService.isEditable('champ-motif-sanction')"
                          id="motif" rows="3"></textarea>
                <div *ngIf="submitted && f.motif.errors" class="invalid-feedback">
                  <div *ngIf="f.motif.errors.required">
                    {{"userAdminNotesListEleves.Le_motif_de_la_bourse_est_obligatoire" | translate}}</div>
                </div>
              </div>
              <div class="form-group col-12" *ngIf="authService.isVisible('champ-penalite-sanction')">
                <label for="penalite">
                  {{"userAdminNotesListEleves.Pénalité_à_l_issue_de_la_sanction" | translate}}</label>
                <div class="input-group">
                  <input class="form-control" id="penalite" formControlName="penalite"
                         [readOnly]="!authService.isEditable('champ-penalite-sanction')"
                         [ngClass]="{'is-invalid': submitted && f.penalite.errors }">
                  <div *ngIf="submitted && f.penalite.errors" class="invalid-feedback">
                    <div *ngIf="f.penalite.errors.required">
                      {{"userAdminNotesListEleves.La_pénalité_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-6" *ngIf="authService.isVisible('champ-date-debut-penalite')">
                <label for="debut">
                  {{"userAdminNotesListEleves.Début_de_la_pénalité" | translate}}</label>
                <div class="input-group">
                  <input type="date" id="debut" formControlName="debut" [ngClass]="{'is-invalid': submitted && f.debut.errors }"
                         [readOnly]="!authService.isEditable('champ-date-debut-penalite')"
                         class="form-control"
                         placeholder="{{'userAdminNotesListEleves.Début_de_la_sanction' | translate}}">
                  <div *ngIf="submitted && f.debut.errors" class="invalid-feedback">
                    <div *ngIf="f.debut.errors.required">
                      {{"userAdminNotesListEleves.Le_debut_de_la_sanction_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-6" *ngIf="authService.isVisible('champ-date-fin-penalite')">
                <label for="fin">{{"userAdminNotesListEleves.Fin_de_la_pénalité" | translate}}</label>
                <div class="input-group">
                  <input type="date" id="fin" formControlName="fin" [ngClass]="{'is-invalid': submitted && f.fin.errors }"
                         [readOnly]="!authService.isEditable('champ-date-fin-penalite')"
                         class="form-control"
                         placeholder="{{'userAdminNotesListEleves.Fin_de_la_sanction' | translate}}">
                  <div *ngIf="submitted && f.fin.errors" class="invalid-feedback">
                    <div *ngIf="f.fin.errors.required">
                      {{"userAdminNotesListEleves.La_fin_de_la_sanction_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger btn-sm mr-2"
                  [disabled]="!authService.isActif('bouton-annuler-sanction')"
                  *ngIf="authService.isVisible('bouton-annuler-sanction')"
                  (click)="onResetSanction()">
            {{"userAdminNotesListEleves.Annuler" | translate}}</button>
          <button type="button" (click)="onSaveSanction()"
                  [disabled]="!authService.isActif('bouton-enregister-sanction')"
                  *ngIf="authService.isVisible('bouton-enregister-sanction')"
                  class="btn btn-primary btn-sm">
            {{"userAdminNotesListEleves.Enregistrer" | translate}}</button>
        </div>
      </ng-template>
    </div>
  </div>
</app-card>
