<app-card [icone]="''" [title]="'Saisie des notes séquentielles'">
  <ng-container [formGroup]="progressionForm">

    <div class="card b-l-danger business-info services">
      <div class="card-body p-1">
        <div class="row">
          <div class="col-sm-7">
            <p class="task-detail" *ngIf="isEnseignant">
            <span>
            {{"userEspaceFiches.Enseignant" | translate}}:&nbsp;&nbsp;
          </span>
              <span class="text-bold">{{ tokenStorage.getUser().displayName + ' (' + tokenStorage.getUser().email + ')'}}</span>
              <span class="text-bold">{{ nomEnseignant }}</span>
            </p>
            <ng-container *ngIf="!isEnseignant">
              <input list="dataListEnseignant" id="search" class="form-control full-width"
                     [ngClass]="{'is-invalid': p.enseignantSelect.touched && p.enseignantSelect.errors }"
                     (keyup)="onLoadListEleves($event, true)"
                     placeholder="{{'userAdminDiscEnseigList.Search' | translate}}" formControlName="enseignantSelect"
              >
              <datalist id="dataListEnseignant" >
                <option value="{{ enseignant.enseignant.nom_enseignant }}" *ngFor="let enseignant of enseignants"
                        (change)="getItem(enseignant)">
                  {{enseignant.enseignant.prenom_enseignant + ' ' + enseignant.enseignant.telephone_1 }}</option>
              </datalist>
            </ng-container>
          </div>
          <div class="col-sm-5">
            <p class="task-detail"><span>
            {{"userEspaceFiches.Année_scolaire" | translate}}:&nbsp;&nbsp; </span>
              <span class="text-bold">{{ tokenStorage.getUser().codeAnnee }}</span></p>
            <p class="task-detail"><span>
            {{"userEspaceFiches.Trimestre" | translate}}:&nbsp;&nbsp; </span>
              <span class="text-bold">{{ currentSequence?.nomTrimestre }}</span></p>
            <p class="task-detail"><span>
            {{"userEspaceFiches.Séquence" | translate}}:&nbsp;&nbsp; </span>
              <span class="text-bold">{{ currentSequence?.nomSequence }}</span></p>
          </div>
          <div class="col text-center text-bold">
            * {{"userEspaceFiches.Pressez_la_touche" | translate}} <span class="text-danger">
          {{"userEspaceFiches.Enter" | translate}} </span>
            {{"userEspaceFiches.ou" | translate}} <span class="text-danger">
          {{"userEspaceFiches.Insert" | translate}}</span>
            {{"userEspaceFiches.pour_enregistrer_la_fiche_de_progression" | translate}}
          </div>
        </div>
      </div>
    </div>
    <div class="table-responsive">

      <table class="table table-hover" >
        <thead>
        <tr>
          <th>#</th>
          <th>{{"userEspaceFiches.Matieres_et_classes" | translate}}</th>
          <th>{{"userEspaceFiches.Leçons_Prévues" | translate}}</th>
          <th>{{"userEspaceFiches.Leçons_Faites" | translate}}</th>
          <th>{{"userEspaceFiches.Heures_Prevues" | translate}}</th>
          <th>{{"userEspaceFiches.Heures_Faites" | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td></td>
          <td *ngIf="matiereclasses" >
            <input type="text"  formControlName="matiereclasse_id"
                   class="form-control"
                   placeholder="{{'userEspaceFiches.Matieres_et_classes' | translate}}" readonly>

          </td>
          <td>
            <input type="number" id="nbre_lecons_prevues" formControlName="nbre_lecons_prevues"
                   [ngClass]="{'is-invalid': p.nbre_lecons_prevues.touched && p.nbre_lecons_prevues.errors }"
                   class="form-control"
                   placeholder="{{'userEspaceFiches.Nombre_de_lecon_prévue' | translate}}">
          </td>
          <td>
            <input type="text" id="nbre_lecons_faites" formControlName="nbre_lecons_faites"
                   [ngClass]="{'is-invalid': p.nbre_lecons_faites.touched && p.nbre_lecons_faites.errors }"
                   class="form-control"
                   placeholder="{{'userEspaceFiches.Nombre_de_leçon_faites' | translate}}">
          </td>
          <td>
            <input type="number" id="nbre_heures_prevues" formControlName="nbre_heures_prevues"
                   [ngClass]="{'is-invalid': p.nbre_heures_prevues.touched && p.nbre_heures_prevues.errors }"
                   class="form-control"
                   placeholder="{{'userEspaceFiches.Nombre_d_heure_prévue' | translate}}">
          </td>
          <td>
            <input type="number" id="nbre_heures_faites" formControlName="nbre_heures_faites"
                   [ngClass]="{'is-invalid': p.nbre_heures_faites.touched && p.nbre_heures_faites.errors }"
                   class="form-control"
                   placeholder="{{'userEspaceFiches.Nombre_d_heure_faites' | translate}}">
          </td>
        </tr>

        <ng-container>
          <tr *ngFor="let progression of progressionsListe; let i = index" (dblclick)="onUpdateFicheProgression(progression)"
              title="Double clicquer pour modifier {{ progression?.nom_ficheProgression }}">
            <th scope="row">{{ i+1 }}</th>
            <td>{{ progression?.matiereClasse?.nomMatiere + ' ' +  progression?.matiereClasse?.nomClasse}}</td>
            <td>{{ progression.nbre_lecons_prevues }}</td>
            <td>{{ progression.nbre_lecons_faites }}</td>
            <td>{{ progression.nbre_heures_prevues }}</td>
            <td>{{ progression.nbre_heures_faites }}</td>
          </tr>
        </ng-container>
        <ng-container>
          <tr *ngFor="let progression of matiereProgressionsListe; let i = index" (dblclick)="onUpdateFicheProgression(progression)"
              title="Double clicquer pour modifier {{ progression?.nom_ficheProgression }}">
            <th scope="row">{{ i+1 }}</th>
            <td>{{ progression?.nomMatiere + ' ' +  progression?.nomClasse}}</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
        </ng-container>

        </tbody>
      </table>
    </div>
  </ng-container>

    <div class="row">
      <div class="col-12">
        <ng-template #modalSelectSequence let-c="close" let-d="dismiss" let-modal>
          <div class="modal-header">
            <h5 class="modal-title" id="select-sequence">
              {{"userEspaceFiches.Remplissage_Fiche_de_progression" | translate}}</h5>
            <button type="button" class="close" aria-label="Close" (click)="onResetSaisieNote()">
              <span aria-hidden="true" class="icofont icofont-close-line-squared-alt text-danger"></span>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="selectSequenceClasseForm">
              <ng-container *ngIf="sequences">
                <div class="form-group">
                  <label for="sequence">
                    {{"userEspaceFiches.Séquence" | translate}}</label>
                  <select formControlName="sequence" class="custom-select form-control" id="sequence"
                          [ngClass]="{'is-invalid': submitted && f.sequence.errors }">
                    <option value="">--- {{"userEspaceFiches.Sélectionner_une_séquence" | translate}} ---</option>
                    <option *ngFor="let sequence of sequences" value="{{ sequence.id }}">{{ sequence.nomSequence }}</option>
                  </select>
                  <div *ngIf="submitted && f.sequence.errors" class="invalid-feedback">
                    <div *ngIf="f.sequence.errors.required">
                      {{"userEspaceFiches.Le_choix_de_la_séquence_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </ng-container>
            </form>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary btn-sm ml-5 mr-4"
                    (click)="onDisplayListeEleve()">
              {{"userEspaceFiches.Suivant" | translate}}&nbsp;&nbsp;<i class="icofont icofont-circled-right"></i></button>
            <button class="btn btn-outline-danger btn-sm ml-2"
                    (click)="onResetSaisieNote()"><i class="icofont icofont-close-circled"></i>
              {{"userEspaceFiches.Retourner" | translate}}&nbsp;&nbsp;</button>
          </div>
        </ng-template>
      </div>
    </div>
</app-card>

