<app-card [icone]="''" [title]="'Saisie des notes séquentielles'">
  <div class="card b-l-danger business-info services">
    <div class="card-body p-1">
      <div class="row">
        <div class="col-sm-4">
          <p class="task-detail"><span>
            {{"userEspaceRemplir.Enseignant" | translate}}:&nbsp;&nbsp; </span>
            <span class="text-bold">{{ tokenStorage.getUser().displayName }}</span></p>
        </div>
        <div class="col-sm-4">
          <p class="task-detail"><span>
            {{"userEspaceRemplir.Année_scolaire" | translate}}:&nbsp;&nbsp; </span>
            <span class="text-bold">{{ currentMatiereClasse?.annee?.codeAnnee }}</span></p>
          <p class="task-detail"><span>
            {{"userEspaceRemplir.Trimestre" | translate}}:&nbsp;&nbsp; </span><span class="text-bold">{{ currentSequence?.trimestre?.nom_trimestre
            }}</span></p>
          <p class="task-detail"><span>
            {{"userEspaceRemplir.Sequence" | translate}}:&nbsp;&nbsp; </span><span class="text-bold">{{ currentSequence?.nom_sequence
            }}</span></p>
        </div>
        <div class="col-sm-4">
          <p class="task-detail"><span>
            {{"userEspaceRemplir.Classe" | translate}}:&nbsp;&nbsp;  </span><span class="text-bold">{{ currentMatiereClasse?.classe?.nomClasse }}</span></p>
          <p class="task-detail"><span>
            {{"userEspaceRemplir.Matière" | translate}}: &nbsp;&nbsp; </span><span class="text-bold">{{ currentMatiereClasse?.matiere?.nom_matiere }}</span></p>
          <p class="task-detail"><span>
            {{"userEspaceRemplir.Coefficient" | translate}}: &nbsp;&nbsp; </span><span class="text-bold">{{ currentMatiereClasse?.coefficient }}</span></p>
        </div>
        <div class="col text-center text-bold">
          * {{"userEspaceRemplir.Pressez_la_touche" | translate}} <span class="text-danger">
          {{"userEspaceRemplir.Enter" | translate}} </span>
          {{"userEspaceRemplir.ou" | translate}} <span class="text-danger">
          {{"userEspaceRemplir.Insert" | translate}}</span>
          {{"userEspaceRemplir.pour_enregistrer_les_lignes_modifiées" | translate}}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-right">
      <button class="btn btn-primary btn-sm ml-2"
              *ngIf="authService.isVisible('note_matiere')"
              [disabled]="!istrue"
              (click)="onEditNoteGlobale(noteMatiereClasse, currentMatiereClasse)">
        <em class="icofont icofont-check-circled mr-3"></em>{{"userAdminNote.Note_matieres" | translate}}</button>
      <button class="btn btn-primary btn-sm ml-2"
              *ngIf="authService.isVisible('import_export')"
              (click)="openImportExport(modalImportExport, currentMatiereClasse)">
        <em class="icofont icofont-check-circled mr-3"></em>{{"IMPORT/EXPORT" | translate}}</button>
      <button type="button" (click)="onRefreshNotes()"
              class="btn btn-primary btn-sm ml-2">{{'Rafraichir' | translate}}</button>
      <button class="btn btn-primary btn-sm ml-2 mr-4 m-1"
              (click)="onEditNoteGlobale(noteGlobale, currentMatiereClasse)">
        <em class="icofont icofont-check-circled mr-3"></em>
        {{"userEspaceRemplir.Notes_collectif" | translate}}</button>
    </div>
  </div>
  <div class="table-responsive" *ngIf="elevesNote">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>{{"userEspaceRemplir.Matricule" | translate}}</th>
        <th>{{"userEspaceRemplir.Noms_et_prénoms" | translate}}</th>
        <th>{{"userEspaceRemplir.Note" | translate}}/{{ currentMatiereClasse?.bareme_evaluation }}</th>
        <th>{{"userEspaceRemplir.Observation" | translate}}</th>
      </tr>
      </thead>
      <tbody *ngFor="let eleve of tNotes.controls; let i = index">
      <tr [formGroup]="eleve">
        <th scope="row">{{ i+1 }}</th>
        <td>{{ eleve.value.matricule }}</td>
        <td>{{ eleve.value.noms }}</td>
        <td><input class="form-control" formControlName="note"
                   (ngModelChange)="onChanStateUpdate(i)" id="ex1" min="0"
                   type="number"  [value]="eleve.value.note"
                   [max]="currentMatiereClasse && currentMatiereClasse.bareme_evaluation ? currentMatiereClasse.bareme_evaluation : '20'"></td>
        <td>
          <button type="button" (click)="onObservation(i, 'malade')"
                  [ngClass]="eleve.value.observation == 'malade' ? 'btn-warning' : 'btn-outline-warning'"
                  class="btn btn-sm mr-2">
            {{"userEspaceRemplir.AJ" | translate}}</button>
          <button type="button" (click)="onObservation(i, 'absent')"
                  [ngClass]="eleve.value.observation == 'absent' ? 'btn-danger' : 'btn-outline-danger'"
                  class="btn btn-sm mr-2">
            {{"userEspaceRemplir.ANJ" | translate}}</button>
          <button type="button" (click)="onSubmitNotes()" [disabled]="eleve.value.note == 0 || eleve.value.canUpdate == false"
                  class="btn btn-sm btn-success mr-2"><span class="icofont icofont-check text-bold"></span>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-12">
      <ng-template #noteGlobale let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="edit-note">
            {{"userEspaceRemplir.Ajout_d_une_note_globale" | translate}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true" class="icofont icofont-close-line-squared text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="noteGlobaleForm" class="row">
            <div class="form-group col-6">
              <label for="note">
                {{"userEspaceRemplir.Note" | translate}}</label>
              <div class="input-group">
                <input type="number" id="note" formControlName="note" [ngClass]="{'is-invalid': submitted && g.note.errors }"
                       class="form-control"
                       placeholder="{{'userEspaceRemplir.Entrer_la_note' | translate}}">
                <div *ngIf="submitted && g.note.errors" class="invalid-feedback">
                  <div *ngIf="g.note.errors.required">
                    {{"userEspaceRemplir.La_note_est_obligatoire" | translate}}</div>
                  <div *ngIf="g.note.errors.max">
                    {{"userEspaceRemplir.La_note_doit_etre_au_plus_égale_à" | translate}} {{ g.note.errors.max.max }}</div>
                  <div *ngIf="g.note.errors.min">
                    {{"userEspaceRemplir.La_note_doit_etre_au_moins_égale_à" | translate}}  {{ g.note.errors.min.min }}</div>
                </div>
              </div>
            </div>
            <div class="form-group col-6">
              <label for="observation">
                {{"userEspaceRemplir.Observation" | translate}}</label>
              <div class="input-group">
                <select formControlName="observation" class="custom-select form-control" id="observation"
                        [ngClass]="{'is-invalid': submitted && g.observation.errors }">
                  <option value="-">
                    {{"userEspaceRemplir.Présent" | translate}}</option>
                  <option value="malade">
                    {{"userEspaceRemplir.Absence_justifiée" | translate}}</option>
                  <option value="absent">
                    {{"userEspaceRemplir.Absence_Non_justifiée" | translate}}</option>
                </select>
                <div *ngIf="submitted && g.observation.errors" class="invalid-feedback">
                  <div *ngIf="g.observation.errors.required">
                    {{"userEspaceRemplir.Le_choix_de_l_observation_est_obligatoire" | translate}}</div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button"
                  class="btn btn-outline-danger btn-sm mr-2" (click)="onReset()">
            {{"userEspaceRemplir.Annuler" | translate}}</button>
          <button type="button"
                  (click)="onSaveNoteGlobale()" class="btn btn-primary btn-sm">
            {{"userEspaceRemplir.Valider" | translate}}</button>
        </div>
      </ng-template>
    </div>
  </div>

  <!-- /.modal-import export -->
  <div class="row">
    <div class="col-12">
      <ng-template #modalImportExport let-c="close" let-d="dismiss" let-modal>

        <div class="modal-header">
          <h4 class="modal-title">{{"IMPORT/EXPORT" | translate}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true" class="icofont icofont-close-line-squared text-danger"></span>
          </button>
        </div>

        <app-import-export
          [idsequence] = idsequence
          [idmatiereclasse] = idmatiereclasse
        ></app-import-export>

      </ng-template>
    </div>
  </div>
  <!-- /.modal-import export fin-->

  <div class="row custom-dropdown2" style="width: 10%">
    <div class="col-12">
      <ng-template #noteMatiereClasse let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title">{{"userAdminNote.Matiere_destination" | translate}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="onReset()">
            <span aria-hidden="true" class="icofont icofont-close-line-squared text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="form">
            <ng-container>

              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                  <tr>
                    <th>#</th>
                    <th>{{"userAdminNote.Matiere" | translate}}</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let matiere of matierDestination; let i = index"
                      (click)="getMatierClassDestination(matiere)"
                      [ngClass]="{'bg-gray': line?.id === matiere?.id}">
                    <ng-container *ngIf="currentMatiereClasse.matiere.id_matiere != matiere.id">
                      <th scope="row">{{ i + 1 }}</th>
                      <td class="clickable">{{ matiere.nomMatiere }}</td>
                    </ng-container>
                  </tr>
                  </tbody>
                </table>
              </div>
            </ng-container>
          </form>
        </div>

        <div class="modal-footer">
          <button class="btn btn-outline-warning btn-sm ml-2" (click)="onReset()">
            <i class="icofont icofont-close-circled"></i>
            {{"userAdminWelcome.Annuler" | translate}}&nbsp;&nbsp;
          </button>
          <button class="btn btn-primary btn-sm ml-5 mr-2" (click)="onSave()">
            {{"userAdminWelcome.Enregistrer" | translate}}&nbsp;&nbsp;
            <em class="icofont icofont-check-circled mr-3"></em>
          </button>
        </div>
      </ng-template>
    </div>
  </div>

</app-card>

