<app-card [title]="'autAct.Activation_de_la_licence_d_utilisation'" [classHeader]="true" [blockClass]="'table-border-style'">
  <app-generation-cis></app-generation-cis>
  <app-saisie-cas></app-saisie-cas>
  <div class="table-responsive">
    <table class="table table-xs table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>{{"autAct.CAS" | translate}}</th>
        <th>{{"autAct.Debut" | translate}}</th>
        <th>{{"autAct.Fin" | translate}}</th>
        <th>{{"autAct.Date_de_saisie" | translate}}</th>
        <th>{{"autAct.Statut" | translate}}</th>
      </tr>
      </thead>
      <tbody *ngIf="licenses">
      <tr *ngFor="let license of licenses | paginate: {totalItems: totalElements,
      currentPage: page + 1, itemsPerPage: pageSize, id: 'list_license'}; let i = index">
        <th scope="row">{{ i+1 }}</th>
        <td>{{ license.cas }}</td>
        <td>{{ license.dateDebut | date }}</td>
        <td>{{ license.dateFin | date }}</td>
        <td class="p-1">{{ license.dateEnreg | date }}</td>
        <td class="p-1">{{ license.statut }}</td>
      </tr>
      </tbody>
    </table>
    <pagination-controls style="text-align:center; vertical-align:middle;"
                         autoHide="true"
                         id="list_license"
                         [maxSize]="10"
                         (pageChange)="setPageChange($event)"></pagination-controls>
    <div class="row" *ngIf="licenses">
      <div class="col-12 text-center h4" *ngIf="licenses.length == 0">{{"autAct.Aucune_donnée_disponible" | translate}}</div>
    </div>
  </div>
</app-card>

