<app-card [title]="'userAdminNote.Liste_du_personnel_enseignant'" [classHeader]="true" [blockClass]="'table-border-style'">
  <div class="row">
    <div class="col-12 text-right">
      <button class="btn btn-primary btn-sm ml-5 mr-4 m-1" (click)="onEditEnseignant(null)">
        <em class="icofont icofont-check-circled"></em>
        {{"userAdminNotesEnseigList.Ajouter_un_enseignant" | translate}}</button>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>{{"userAdminNotesEnseigList.Noms_et_prénoms" | translate}}</th>
        <th>{{"userAdminNotesEnseigList.Classes" | translate}}</th>
        <th>{{"userAdminNotesEnseigList.Contact" | translate}}</th>
        <th>{{"userAdminNotesEnseigList.Options" | translate}}</th>
      </tr>
      </thead>
      <tbody *ngIf="enseignants && enseignants.length > 0">
      <tr *ngFor="let item of enseignants; let i=index">
        <th scope="row">{{ i+1 }}</th>
        <td>{{ item.enseignant.nom_enseignant }} {{ item.enseignant.prenom_enseignant }}</td>
        <td>
          <p class="p-0 m-0" *ngFor="let programmation of item.matiereClasses">
            <span class="text-c-blue text-bold mr-2">{{ programmation.nomClasse }}</span>
            <span class="text-bold">({{ programmation.nomMatiere }})</span>
          </p>
        </td>
        <td>
          <p class="p-0 m-0 text-facebook">{{ item.enseignant.telephone_1 | phoneFormat }}</p>
          <p class="p-0 m-0 text-dribble">{{ item.enseignant.telephone_2 | phoneFormat }}</p>
        </td>
        <td class="p-1">
          <div [ngClass]="'icon-btn p-0 m-0'">
            <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown" display="static">
              <button class="btn btn-outline-info btn-sm mr-2" id="dropdownManual" ngbDropdownToggle>
                {{"userAdminNotesEnseigList.Actions" | translate}}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownManual">
                <button ngbDropdownItem class="btn-default btn-sm mr-3"
                        (click)="onDetailEnseignant(item.enseignant)" [disabled]="!authService.isActif('bouton-detail-programmer-cours-enseignant')"
                        title="{{'userAdminNotesEnseigList.Afficher_le_detail_pour_la_programmation_du_cours_de' | translate}} {{item.enseignant.nom_enseignant}}">
                  <em class="icofont icofont-ui-folder mr-2"></em>
                  {{"userAdminNotesEnseigList.Details_sur_l_enseignant" | translate}}</button>
                <button ngbDropdownItem class="btn-default btn-sm mr-3" (click)="onEditEnseignant(item.enseignant)"
                        title="{{'userAdminNotesEnseigList.Modifier_attribut_enseignant' | translate}}" [disabled]="!authService.isActif('bouton-modifier-attribut-enseignant')">
                  <em class="icofont icofont-ui-edit mr-2"></em>
                  {{"userAdminNotesEnseigList.Modifier_attributs_enseignant" | translate}}</button>
                <button ngbDropdownItem class="btn-default btn-sm mr-3" [disabled]="!authService.isActif('bouton-programmer-cours-enseignant')"
                        title="{{'userAdminNotesEnseigList.Programmer_les_cours_pour_cet_enseignant' | translate}}"
                        (click)="onProgrammerEnseignant(item.enseignant, enseignantClasse)">
                  <em class="icofont icofont-ui-calendar mr-2"></em>
                  {{"userAdminNotesEnseigList.Programmer_enseignant" | translate}}</button>
                <button ngbDropdownItem class="btn-default btn-sm mr-3"
                        title="{{'userAdminNotesEnseigList.Supprimer_enseignant' | translate}}" [disabled]="!authService.isActif('bouton-suppimer-enseignant')"
                        (click)="onSupprimerEnseignant(item.enseignant)">
                  <em class="icofont icofont-printer mr-2"></em>
                  {{"userAdminNotesEnseigList.Supprimer_nseignant" | translate}}</button>
                <button ngbDropdownItem class="btn-default btn-sm mr-3" [disabled]="!authService.isActif('bouton-affichage-etat-remplissage-classe')"
                        title="{{'userAdminNotesEnseigList.Afficher_l_etat_de_remplissage_de_ces_classes' | translate}}"
                        (click)="onGetEtatRemplissage(item.enseignant)">
                  <em class="icofont icofont-calendar mr-2"></em>
                  {{"userAdminNotesEnseigList.Etat_remplissage_enseignant" | translate}}</button>
              </div>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="row" *ngIf="enseignants">
      <div class="col-12 text-center h4" *ngIf="enseignants.length == 0">
        {{"userAdminNotesEnseigList.Aucune_donnée_disponible" | translate}}</div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <ng-template #enseignantClasse let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="edit-programmation">
            {{"userAdminNotesEnseigList.Attribution_d_une_classe_a_un_enseignant" | translate}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="onResetEnseignantClasse()">
            <span aria-hidden="true" class="icofont icofont-close-line-squared text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="enseignantClasseForm">
            <div class="row">
              <div class="form-group col-12" *ngIf="authService.isVisible('liste-annee-scolaire')">
                <label for="anneeAcc">
                  {{"userAdminNotesEnseigList.Année_scolaire" | translate}}</label>
                <div class="input-group">
                  <select class="custom-select form-control" id="anneeAcc" formControlName="anneeAcc"
                          [attr.disabled]="authService.isEditable('liste-annee-scolaire') == true ? null : true"
                          [ngClass]="{'is-invalid': submittedEC && f.anneeAcc.errors }">
                    <option value="">
                      {{"userAdminNotesEnseigList.Choisir_l_année" | translate}}</option>
                    <option *ngFor="let annee of annees" value="{{ annee.id }}">{{ annee.codeAnnee }}</option>
                  </select>
                  <div *ngIf="submittedEC && f.anneeAcc.errors" class="invalid-feedback">
                    <div *ngIf="f.anneeAcc.errors.required">
                      {{"userAdminNotesEnseigList.L_annee_academique_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-6" *ngIf="authService.isVisible('liste-matiere')">
                <label for="matiere">
                  {{"userAdminNotesEnseigList.Matière_enseignée" | translate}}</label>
                <div class="input-group">
                  <select class="custom-select form-control" id="matiere" formControlName="matiere"
                          [attr.disabled]="authService.isEditable('liste-matiere') == true ? null : true"
                          [ngClass]="{'is-invalid': submittedEC && f.matiere.errors }">
                    <option value="">
                      {{"userAdminNotesEnseigList.Choisir_la_matiere" | translate}}</option>
                    <option *ngFor="let matiere of matieres" value="{{ matiere.id }}">{{ matiere.nomMatiere }}</option>
                  </select>
                  <div *ngIf="submittedEC && f.matiere.errors" class="invalid-feedback">
                    <div *ngIf="f.matiere.errors.required">
                      {{"userAdminNotesEnseigList.La_matière_enseignée_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-6" *ngIf="classes && authService.isVisible('liste-classe')">
                <label for="classe">{{"userAdminNotesEnseigList.Classe_enseignée" | translate}}</label>
                <div class="input-group">
                  <select class="custom-select form-control" id="classe" formControlName="classe"
                          [attr.disabled]="authService.isEditable('liste-classe') == true ? null : true"
                          [ngClass]="{'is-invalid': submittedEC && f.classe.errors }">
                    <option value="">--- {{"userAdminNotesEnseigList.Choisir" | translate}} ---</option>
                    <option *ngFor="let classe of classes" value="{{ classe.id }}">{{ classe.nomClasse }}</option>
                  </select>
                  <div *ngIf="submittedEC && f.classe.errors" class="invalid-feedback">
                    <div *ngIf="f.classe.errors.required">
                      {{"userAdminNotesEnseigList.La_classe_enseignée_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-6" *ngIf="authService.isVisible('champ-coefficient')">
                <label for="coef">
                  {{"userAdminNotesEnseigList.Coefficient_de_la_matière" | translate}}</label>
                <div class="input-group">
                  <input type="text" id="coef" formControlName="coef" [ngClass]="{'is-invalid': submittedEC && f.coef.errors }"
                         [readOnly]="!authService.isEditable('champ-coefficient')"
                         class="form-control"
                         placeholder="{{'userAdminNotesEnseigList.Le_coefficient_de_la_matiere' | translate}}">
                  <div *ngIf="submittedEC && f.coef.errors" class="invalid-feedback">
                    <div *ngIf="f.coef.errors.required">
                      {{"userAdminNotesEnseigList.Le_coefficient_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-6" *ngIf="authService.isVisible('champ-bareme')">
                <label for="bareme">
                  {{"userAdminNotesEnseigList.Barème_de_matière" | translate}}</label>
                <div class="input-group">
                  <input type="text" id="bareme" formControlName="bareme" [ngClass]="{'is-invalid': submittedEC && f.bareme.errors }"
                         [readOnly]="!authService.isEditable('champ-bareme')"
                         class="form-control"
                         placeholder="{{'userAdminNotesEnseigList.Le_bareme_de_la_matiere' | translate}}">
                  <div *ngIf="submittedEC && f.bareme.errors" class="invalid-feedback">
                    <div *ngIf="f.bareme.errors.required">
                      {{"userAdminNotesEnseigList.Le_bareme_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger btn-sm mr-2" [disabled]="!authService.isActif('bouton-annuler')"
                  (click)="onResetEnseignantClasse()">
            {{"userAdminNotesEnseigList.Annuler" | translate}}</button>
          <button type="button" (click)="onAttributeClasseToEnseignant()" [disabled]="!authService.isActif('bouton-enregistrer')"
                  class="btn btn-primary btn-sm">
            {{"userAdminNotesEnseigList.Enregistrer" | translate}}</button>
        </div>
      </ng-template>
    </div>
  </div>
</app-card>
