<app-card [title]="'Selectionner les messages a envoyer'"
          [icone]="'icofont-2x icofont-ui-message'"
          [classHeader]="true" [blockClass]="'table-border-style'" class="pl-0-5">
  <div class="card b-l-danger business-info services">
    <div class="card-body p-2">
      <div class="row pl-0-5 pr-0-5" *ngIf="totalMessage>0">
        <div class="col-sm-5">
          <p class="task-detail">
            <span>{{"userMessagesMWelcome.Auteur" | translate}}:&nbsp;&nbsp; </span><span class="text-bold">{{ auteur }}</span>
          </p>
          <p class="task-detail">
            <span>{{"userMessagesMWelcome.Titre_de_la_campagne" | translate}}:&nbsp;&nbsp; </span><span class="text-bold">{{ titreModel }}</span>
          </p>
          <div class="row">
            <div class="col-sm-12 input-group" [formGroup]="searchForm">
              <p class="task-detail">
                <span>{{"Recherche des numéros" | translate}}:&nbsp;&nbsp; </span>
              </p>
              <input list="filterSearch" id="search" class="form-control"
                     placeholder="{{'userEleveListeEleveMenu.Search' | translate}}" formControlName="search">
              <datalist id="filterSearch" >
                <option value="{{  communication.numeroTelephoneDestinataire }}" *ngFor="let communication of messagesList"></option>
              </datalist>
              <div class="input-group-append">
                <span class="input-group-text icofont icofont-search clickable"
                      (click)="onloadMessages(predicat, pageSize, pageNumber)"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-7 text-right">
          <p class="task-detail mb-0">
           <span><input type="radio"  name="isSelect" id="2" [value]="true" (change)="onChangeOptions($event)" >
           <label class="task-detail" for="2"> {{"Ne rien envoyer si un des SMS sélectionné a déjà été envoyé" | translate}}</label>
          </span>
          </p>
          <p class="task-detail mb-0">
            <span><input type="radio"  name="isSelect" id="0" [value]="false" (change)="onChangeOptions($event)" >
            <label class="task-detail" for="0"> {{"Envoyer tous les SMS sélectionnés, qu’ils aient déjà été envoyés ou pas" | translate}}</label>
          </span></p>
          <p class="task-detail mb-0">
            <span><input type="radio"  name="isSelect" id="1" [value]="false" (change)="onChangeOptions($event)" >
            <label class="task-detail" for="1">
              {{"Envoyer uniquement les SMS qui n’ont pas encore été envoyés parmi ces SMS sélectionnés" | translate}}</label>
         </span> </p>
          <button class="btn btn-primary btn-sm ml-1 mt-1"
                  [disabled]="listMessage.length==0"
                  (click)="onSendMessage()">
            <em class="icofont icofont-check-circled mr-2"></em>
            {{"Envoyer" | translate}} </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center ml-1 mr-1">
    <div class="col-4">
      <p class="task-detail">
        <span>{{"userMessagesMWelcome.Nombre_de_messages" | translate}}:&nbsp;&nbsp; </span><span class="text-bold">{{ totalMessageNumber }}</span>
      </p>
    </div>
    <div class="col-4">
      <p class="task-detail">
        <span>{{"Nombre de message selectionnes" | translate}} :&nbsp;&nbsp; </span><span class="text-bold">{{ listMessage.length }}</span>
      </p>
    </div>
    <div class="col-4">
      <div class="input-group" [formGroup]="sizeForm">
        <span class="mr-4">{{"Nombre sms" | translate}} :</span>
        <input type="number" id="sizeSms" class="form-control"
               placeholder="{{ 'Taille de page' | translate }}" formControlName="sizeSms">
        <span class="input-group-text icofont icofont-check clickable" (click)="onRefreshList()"></span>
      </div>
    </div>
  </div>
  <div class="table-responsive p-2 ">
    <table class="table table-hover table-fixed " >
      <thead>
      <tr >
        <th >#</th>
        <th >
          <input type="checkbox"
                 (change)="onAllMessageCheckboxChange($event)" id="checkall" [checked]="allSelectMessage">
        </th>
        <th >{{"Destinataire" | translate}}</th>
        <th >{{"Contenu du message" | translate}}</th>
        <th >{{"Statut" | translate}}</th>
      </tr>
      </thead>
      <tbody *ngIf="messagesList && messagesList.length > 0">
      <tr *ngFor="let message of messagesList | paginate: { itemsPerPage: pageSize, currentPage: pageNumber + 1,
      totalItems: totalElements}; let i=index">
        <th scope="row">{{ '#'+ (i+1) }}</th>
        <td><input type="checkbox"
                   [value]="message.id" (change)="onMessageCheckboxChange($event)" class="mr-3" [checked]="allSelectMessage"></td>

        <td>{{ message.numeroTelephoneDestinataire }}</td>
        <td >{{ message.message }} <br> <b class="small font-weight-bold"> {{ message.message.length }} caractères - {{ formatNbrePage(message.message)>1? formatNbrePage(message.message) + ' pages': formatNbrePage(message.message) + ' page'}}   </b> </td>
        <td>
          <span *ngIf="message.codeResponse===200" class="badge-success rounded px-1">{{"envoyé" | translate}}</span>
          <span *ngIf="message.codeResponse===0" class="badge-default rounded px-1"> / </span>
          <span *ngIf="message.codeResponse!==0 && message.codeResponse!==200 " class="badge-danger rounded px-1">
            {{"echoué" | translate}} </span>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="row" *ngIf="messagesList">
      <div class="col-12 text-center h4" *ngIf="messagesList.length == 0">
        {{"userMessagesMWelcome.Aucune_donnée_disponible" | translate}}</div>
    </div>
    <pagination-controls style="text-align:center; vertical-align:middle;"
                         autoHide="true"
                         [maxSize]="10"
                         (pageChange)="setPageChange($event)"></pagination-controls>
  </div>


</app-card>

