<!--profile cover start-->
<div class="row" *ngIf="user">
  <div class="col-lg-12">
    <div class="cover-profile">
      <div class="profile-bg-img">
        <img class="profile-bg-img img-fluid" src="assets/images/user-profile/bg-img1.jpg" alt="bg-img">
        <div class="card-body user-info">
          <div class="col-md-12">
            <div class="media-left">
              <a href="javascript:;" class="profile-image">
                <ngx-avatar [src]="(user?.logo != '') ? urlImage+user?.id + '/enseignant?ts=' + getTs() : ''" size="120"
                  [name]="genericsService.traiterDisplayName(user.displayName)" [round]="false"></ngx-avatar>
              </a>
            </div>
            <div class="media-body row">
              <div class="col-lg-12">
                <div class="user-title">
                  <h2>{{ user.displayName }}</h2>
                  <span class="text-white">{{"userProfile.Utilisateur" | translate}}</span>
                </div>
              </div>
              <div>
                <div class="pull-right cover-btn">
                  <button type="button" class="btn btn-primary m-b-10 m-r-10"><i class="icofont icofont-plus"></i>
                    {{"userProfile.Follow" | translate}}</button>
                  <button type="button" class="btn btn-primary m-b-10"><i class="icofont icofont-ui-messaging"></i>
                    {{"userProfile.Message" | translate}}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--profile cover end-->
<div class="row">
  <div class="col-lg-12">
    <div class="md-tabs">
      <ngb-tabset>
        <ngb-tab title="{{'userProfile.Personal_Info' | translate}}">
          <ng-template ngbTabContent>
            <div [@fadeInOutTranslate] class="m-t-15">
              <!-- personal card start -->
              <div class="card">
                <div class="card-header">
                  <h5 class="card-header-text">{{"userProfile.About_Me" | translate}}</h5>
                  <button id="edit-btn" type="button" class="btn btn-sm btn-primary waves-effect waves-light f-right"
                    (click)="toggleEditProfile()">
                    <i class="icofont {{ editProfileIcon }}"></i>
                  </button>
                </div>
                <div class="card-body">
                  <div class="view-info" *ngIf="editProfile">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="general-info">
                          <div class="row">
                            <div class="col-lg-12 col-xl-6">
                              <div class="table-responsive">
                                <table class="table m-0">
                                  <tbody>
                                    <tr>
                                      <th scope="row">{{"userProfile.Nom_Complet" | translate}}</th>
                                      <td>{{ user?.displayName }}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">{{"userProfile.Sexe" | translate}}</th>
                                      <td>{{ enseignant?.sexe == 'M' ? 'Masculin' : 'Feminin'}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">{{"userProfile.Date_D_affectation" | translate}}</th>
                                      <td>{{ enseignant?.date_affectation | date }}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">{{"userProfile.Status_matrimonial" | translate}}</th>
                                      <td>{{ enseignant?.statut_matrimonial }}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">{{"userProfile.Provenance" | translate}}</th>
                                      <td>{{ enseignant?.provenance }}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">{{"userProfile.Code_Acces" | translate}} </th>
                                      <td>{{ enseignant?.codeAcces }}</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                            <!-- end of table col-lg-6 -->
                            <div class="col-lg-12 col-xl-6">
                              <div class="table-responsive">
                                <table class="table">
                                  <tbody>
                                    <tr>
                                      <th scope="row">{{"userProfile.Email" | translate}}</th>
                                      <td><a href="javascript:;">{{ user?.email }}</a></td>
                                    </tr>
                                    <tr>
                                      <th scope="row">{{"userProfile.Telephone" | translate}}</th>
                                      <td>{{ enseignant?.telephone_1 | phoneFormat }}
                                        {{ enseignant?.telephone_2 ? ' / ' : ''}}
                                        {{ enseignant?.telephone_2 | phoneFormat}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">{{"userProfile.Type_de_personnel" | translate}}</th>
                                      <td>{{ enseignant?.type_personnel }}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">{{"userProfile.Mail_personnel" | translate}}</th>
                                      <td>{{ enseignant?.email }}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">{{"userProfile.Fonction" | translate}}</th>
                                      <td>{{ enseignant?.fonction }}</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                            <!-- end of table col-lg-6 -->
                          </div>
                          <!-- end of row -->
                        </div>
                        <!-- end of general info -->
                      </div>
                      <!-- end of col-lg-12 -->
                    </div>
                    <!-- end of row -->
                  </div>
                  <!-- end of view-info -->
                  <div class="edit-info" *ngIf="!editProfile">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="general-info" [formGroup]="profileForm">
                          <div class="row">
                            <div class="col-lg-6">
                              <div class="table-responsive">
                                <table class="table">
                                  <tbody>
                                    <tr>
                                      <td>
                                        <div class="input-group">
                                          <span class="input-group-prepend"><label class="input-group-text"><i
                                                class="icofont icofont-user"></i></label></span>
                                          <input type="text" formControlName="nom" class="form-control"
                                            placeholder="{{'userProfile.Votre_nom' | translate}}">
                                        </div>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        <div class="input-group">
                                          <span class="input-group-prepend"><label class="input-group-text"><i
                                                class="icofont icofont-user-alt-1"></i></label></span>
                                          <input type="text" formControlName="prenom" class="form-control"
                                            placeholder="{{'userProfile.Votre_prenom' | translate}}">
                                        </div>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        <div class="form-radio">
                                          <div class="group-add-on">
                                            <div class="radio radiofill radio-inline">
                                              <label>
                                                <input type="radio" value="M" formControlName="sexe"><i
                                                  class="helper"></i>
                                                {{"userProfile.Masculin" | translate}}
                                              </label>
                                            </div>
                                            <div class="radio radiofill radio-inline">
                                              <label>
                                                <input type="radio" value="F" formControlName="sexe"><i
                                                  class="helper"></i>
                                                {{"userProfile.Feminin" | translate}}
                                              </label>
                                            </div>
                                          </div>
                                        </div>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        <div class="input-group">
                                          <span class="input-group-prepend"><label class="input-group-text"><i
                                                class="icofont icofont-baby"></i></label></span>
                                          <select id="hello-single" formControlName="statutm"
                                            class="custom-select form-control">
                                            <option value="">---- {{"userProfile.Statut_matrimonial" | translate}} ----
                                            </option>
                                            <option value="célibatiare">{{"userProfile.Célibataire" | translate}}
                                            </option>
                                            <option value="marié">{{"userProfile.Marié" | translate}}</option>
                                            <option value="divorcé">{{"userProfile.Divorcé" | translate}}</option>
                                            <option value="veuf">{{"userProfile.Veuf" | translate}}</option>
                                          </select>
                                        </div>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        <div class="input-group">
                                          <span class="input-group-prepend"><label class="input-group-text"><i
                                                class="icofont icofont-phone"></i></label></span>
                                          <input type="text" class="form-control" formControlName="telephone1"
                                            placeholder="{{'userProfile.Telephone_1' | translate}}">
                                        </div>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        <div class="input-group">
                                          <span class="input-group-prepend"><label class="input-group-text"><i
                                                class="icofont icofont-phone"></i></label></span>
                                          <input type="text" class="form-control" formControlName="telephone2"
                                            placeholder="{{'userProfile.Telephone_2' | translate}}">
                                        </div>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                            <!-- end of table col-lg-6 -->
                            <div class="col-lg-6">
                              <div class="table-responsive">
                                <table class="table">
                                  <tbody>
                                    <tr>
                                      <td>
                                        <div class="input-group">
                                          <span class="input-group-prepend"><label class="input-group-text"><i
                                                class="icofont icofont-location-pin"></i></label></span>
                                          <input id="dropper-default" formControlName="lieuprovenance"
                                            class="form-control" type="text"
                                            placeholder="{{'userProfile.Ville_provenance' | translate}}" />
                                        </div>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        <div class="input-group">
                                          <span class="input-group-prepend"><label class="input-group-text"><i
                                                class="icofont icofont-user-alt-5"></i></label></span>
                                          <input type="text" class="form-control" formControlName="matricule"
                                            placeholder="{{'userProfile.Matricule' | translate}}">
                                        </div>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        <div class="input-group">
                                          <span class="input-group-prepend"><label class="input-group-text"><i
                                                class="icofont icofont-mail-box"></i></label></span>
                                          <input type="text" class="form-control" formControlName="email"
                                            placeholder="{{'userProfile.Mail_personnel' | translate}}">
                                        </div>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        <div class="input-group">
                                          <span class="input-group-prepend"><label class="input-group-text"><i
                                                class="icofont icofont-history"></i></label></span>
                                          <input type="text" class="form-control" formControlName="anciennete"
                                            placeholder="{{'userProfile.Ancienneté' | translate}}">
                                        </div>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        <div class="input-group">
                                          <span class="input-group-prepend"><label class="input-group-text"><i
                                                class="icofont icofont-camera"></i></label></span>
                                          <input type="file" class="form-control" formControlName="photo"
                                            placeholder="{{'userProfile.Photo_de_l_enseignant' | translate}}"
                                            (change)="onselectedFile($event)">
                                        </div>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                            <!-- end of table col-lg-6 -->
                          </div>
                          <!-- end of row -->
                          <div class="text-center">
                            <a href="javascript:;" (click)="onUpdateProfileLoggedUser()"
                              class="btn btn-primary waves-effect waves-light m-r-20">
                              {{"userProfile.Save" | translate}}</a>
                            <a href="javascript:;" id="edit-cancel" class="btn btn-default waves-effect"
                              (click)="toggleEditProfile()">
                              {{"userProfile.Cancel" | translate}}</a>
                          </div>
                        </div>
                        <!-- end of edit info -->
                      </div>
                      <!-- end of col-lg-12 -->
                    </div>
                    <!-- end of row -->
                  </div>
                  <!-- end of edit-info -->
                </div>
                <!-- end of card-body -->
              </div>
              <!-- personal card end-->
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="{{'userProfile.User_s_Services' | translate}}">
          <ng-template ngbTabContent>
            <div [@fadeInOutTranslate] class="m-t-15">
              <!-- info card start -->
              <div class="card">
                <div class="card-header">
                  <h5 class="card-header-text">{{"userProfile.User_Services" | translate}}</h5>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="card b-l-success business-info services m-b-20">
                        <div ngbDropdown class="card-header">
                          <div class="service-header">
                            <a href="javascript:;">
                              <h5 class="card-header-text">
                                {{"userProfile.Shivani_Hero" | translate}}</h5>
                            </a>
                          </div>
                          <span ngbDropdownToggle class="dropdown-toggle addon-btn text-muted f-right service-btn"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" role="tooltip">
                          </span>
                          <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right b-none services-list">
                            <a class="dropdown-item" href="javascript:;"><i class="icofont icofont-edit"></i>
                              {{"userProfile.Edit" | translate}}</a>
                            <a class="dropdown-item" href="javascript:;"><i class="icofont icofont-ui-delete"></i>
                              {{"userProfile.Delete" | translate}}</a>
                            <a class="dropdown-item" href="javascript:;"><i class="icofont icofont-eye-alt"></i>
                              {{"userProfile.View" | translate}}</a>
                          </div>
                        </div>
                        <div class="card-body">
                          <div class="row">
                            <div class="col-sm-12">
                              <p class="task-detail">
                                {{"userProfile.Lorem_ipsum_dolor_sit_amet" | translate}}</p>
                            </div>
                            <!-- end of col-sm-8 -->
                          </div>
                          <!-- end of row -->
                        </div>
                        <!-- end of card-body -->
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="card b-l-danger business-info services">
                        <div ngbDropdown class="card-header">
                          <div class="service-header">
                            <a href="javascript:;">
                              <h5 class="card-header-text">
                                {{"userProfile.Dress_and_Sarees" | translate}}</h5>
                            </a>
                          </div>
                          <span ngbDropdownToggle class="dropdown-toggle addon-btn text-muted f-right service-btn"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" role="tooltip">
                          </span>
                          <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right b-none services-list">
                            <a class="dropdown-item" href="javascript:;"><i class="icofont icofont-edit"></i>
                              {{"userProfile.Edit" | translate}}</a>
                            <a class="dropdown-item" href="javascript:;"><i class="icofont icofont-ui-delete"></i>
                              {{"userProfile.Delete" | translate}}</a>
                            <a class="dropdown-item" href="javascript:;"><i class="icofont icofont-eye-alt"></i>
                              {{"userProfile.View" | translate}}</a>
                          </div>
                        </div>
                        <div class="card-body">
                          <div class="row">
                            <div class="col-sm-12">
                              <p class="task-detail">{{"userProfile.Lorem_ipsum_dolor_sit_amet" | translate}}.</p>
                            </div>
                            <!-- end of col-sm-8 -->
                          </div>
                          <!-- end of row -->
                        </div>
                        <!-- end of card-body -->
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="card b-l-info business-info services">
                        <div ngbDropdown class="card-header">
                          <div class="service-header">
                            <a href="javascript:;">
                              <h5 class="card-header-text">
                                {{"userProfile.Shivani_Auto_Port" | translate}}</h5>
                            </a>
                          </div>
                          <span ngbDropdownToggle class="dropdown-toggle addon-btn text-muted f-right service-btn"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" role="tooltip">
                          </span>
                          <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right b-none services-list">
                            <a class="dropdown-item" href="javascript:;"><i class="icofont icofont-edit"></i>
                              {{"userProfile.Edit" | translate}}</a>
                            <a class="dropdown-item" href="javascript:;"><i class="icofont icofont-ui-delete"></i>
                              {{"userProfile.Delete" | translate}}</a>
                            <a class="dropdown-item" href="javascript:;"><i class="icofont icofont-eye-alt"></i>
                              {{"userProfile.View" | translate}}</a>
                          </div>
                        </div>
                        <div class="card-body">
                          <div class="row">
                            <div class="col-sm-12">
                              <p class="task-detail">{{"userProfile.Lorem_ipsum_dolor_sit_amet" | translate}}.</p>
                            </div>
                            <!-- end of col-sm-8 -->
                          </div>
                          <!-- end of row -->
                        </div>
                        <!-- end of card-body -->
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="card b-l-warning business-info services">
                        <div ngbDropdown class="card-header">
                          <div class="service-header">
                            <a href="javascript:;">
                              <h5 class="card-header-text">{{"userProfile.Hair_stylist" | translate}}</h5>
                            </a>
                          </div>
                          <span ngbDropdownToggle class="dropdown-toggle addon-btn text-muted f-right service-btn"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" role="tooltip">
                          </span>
                          <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right b-none services-list">
                            <a class="dropdown-item" href="javascript:;"><i class="icofont icofont-edit"></i>
                              {{"userProfile.Edit" | translate}}</a>
                            <a class="dropdown-item" href="javascript:;"><i class="icofont icofont-ui-delete"></i>
                              {{"userProfile.Delete" | translate}}</a>
                            <a class="dropdown-item" href="javascript:;"><i class="icofont icofont-eye-alt"></i>
                              {{"userProfile.View" | translate}}</a>
                          </div>
                        </div>
                        <div class="card-body">
                          <div class="row">
                            <div class="col-sm-12">
                              <p class="task-detail">{{"userProfile.Lorem_ipsum_dolor_sit_amet" | translate}}.</p>
                            </div>
                            <!-- end of col-sm-8 -->
                          </div>
                          <!-- end of row -->
                        </div>
                        <!-- end of card-body -->
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="card b-l-danger business-info services">
                        <div ngbDropdown class="card-header">
                          <div class="service-header">
                            <a href="javascript:;">
                              <h5 class="card-header-text">
                                {{"userProfile.BMW_India" | translate}}</h5>
                            </a>
                          </div>
                          <span ngbDropdownToggle class="dropdown-toggle addon-btn text-muted f-right service-btn"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" role="tooltip">
                          </span>
                          <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right b-none services-list">
                            <a class="dropdown-item" href="javascript:;"><i class="icofont icofont-edit"></i>
                              {{"userProfile.Edit" | translate}}</a>
                            <a class="dropdown-item" href="javascript:;"><i class="icofont icofont-ui-delete"></i>
                              {{"userProfile.Delete" | translate}}</a>
                            <a class="dropdown-item" href="javascript:;"><i class="icofont icofont-eye-alt"></i>
                              {{"userProfile.View" | translate}}</a>
                          </div>
                        </div>
                        <div class="card-body">
                          <div class="row">
                            <div class="col-sm-12">
                              <p class="task-detail">{{"userProfile.Lorem_ipsum_dolor_sit_amet" | translate}}.</p>
                            </div>
                            <!-- end of col-sm-8 -->
                          </div>
                          <!-- end of row -->
                        </div>
                        <!-- end of card-body -->
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="card b-l-success business-info services">
                        <div ngbDropdown class="card-header">
                          <div class="service-header">
                            <a href="javascript:;">
                              <h5 class="card-header-text">
                                {{"userProfile.Shivani_Hero" | translate}}</h5>
                            </a>
                          </div>
                          <span ngbDropdownToggle class="dropdown-toggle addon-btn text-muted f-right service-btn"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" role="tooltip">
                          </span>
                          <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right b-none services-list">
                            <a class="dropdown-item" href="javascript:;"><i class="icofont icofont-edit"></i>
                              {{"userProfile.Edit" | translate}}</a>
                            <a class="dropdown-item" href="javascript:;"><i class="icofont icofont-ui-delete"></i>
                              {{"userProfile.Delete" | translate}}</a>
                            <a class="dropdown-item" href="javascript:;"><i class="icofont icofont-eye-alt"></i>
                              {{"userProfile.View" | translate}}</a>
                          </div>
                        </div>
                        <div class="card-body">
                          <div class="row">
                            <div class="col-sm-12">
                              <p class="task-detail">{{"userProfile.Lorem_ipsum_dolor_sit_amet" | translate}}.</p>
                            </div>
                            <!-- end of col-sm-8 -->
                          </div>
                          <!-- end of row -->
                        </div>
                        <!-- end of card-body -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- info card end -->
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="{{'userProfile.Reviews' | translate}}">
          <ng-template ngbTabContent>
            <div [@fadeInOutTranslate] class="m-t-15">
              <div class="card">
                <div class="card-header">
                  <h5 class="card-header-text">{{"userProfile.Review" | translate}}</h5>
                </div>
                <div class="card-body">
                  <ul class="media-list">
                    <li class="media">
                      <div class="media-left">
                        <a href="javascript:;">
                          <img class="media-object img-radius comment-img" src="assets/images/avatar-1.jpg"
                            alt="Generic placeholder image">
                        </a>
                      </div>
                      <div class="media-body">
                        <h6 class="media-heading">{{"userProfile.Sortino_media" | translate}}<span
                            class="f-12 text-muted m-l-5">
                            {{"userProfile.Just_now" | translate}}</span></h6>
                        <div class="stars-example-css review-star">
                          <i class="icofont icofont-star"></i>
                          <i class="icofont icofont-star"></i>
                          <i class="icofont icofont-star"></i>
                          <i class="icofont icofont-star"></i>
                          <i class="icofont icofont-star"></i>
                        </div>
                        <p class="m-b-0">{{"userProfile.Cras_sit_amet_nibh_libero_in_gravida_nulla" | translate}}.</p>
                        <div class="m-b-25">
                          <span><a href="javascript:;" class="m-r-10 f-12">
                              {{"userProfile.Reply" | translate}}</a></span><span><a href="javascript:;" class="f-12">
                              {{"userProfile.Edit" | translate}}</a> </span>
                        </div>
                        <hr>
                        <!-- Nested media object -->
                        <div class="media mt-2">
                          <a class="media-left" href="javascript:;">
                            <img class="media-object img-radius comment-img" src="assets/images/avatar-2.jpg"
                              alt="Generic placeholder image">
                          </a>
                          <div class="media-body">
                            <h6 class="media-heading">{{"userProfile.Larry_heading" | translate}} <span
                                class="f-12 text-muted m-l-5">
                                {{"userProfile.Just_now" | translate}}</span></h6>
                            <div class="stars-example-css review-star">
                              <i class="icofont icofont-star"></i>
                              <i class="icofont icofont-star"></i>
                              <i class="icofont icofont-star"></i>
                              <i class="icofont icofont-star"></i>
                              <i class="icofont icofont-star"></i>
                            </div>
                            <p class="m-b-0"> {{"userProfile.Cras_sit_amet_nibh_libero_in_gravida_nulla" | translate}}.
                            </p>
                            <div class="m-b-25">
                              <span><a href="javascript:;" class="m-r-10 f-12">
                                  {{"userProfile.Reply" | translate}}</a></span><span><a href="javascript:;"
                                  class="f-12">
                                  {{"userProfile.Edit" | translate}}</a> </span>
                            </div>
                            <hr>

                          </div>
                        </div>

                      </div>
                    </li>
                    <!-- Nested media object -->
                    <div class="media mt-2">
                      <div class="media-left">
                        <a href="javascript:;">
                          <img class="media-object img-radius comment-img" src="assets/images/avatar-1.jpg"
                            alt="Generic placeholder image">
                        </a>
                      </div>
                      <div class="media-body">
                        <h6 class="media-heading">
                          {{"userProfile.Cedric_Kelly" | translate}}<span class="f-12 text-muted m-l-5">
                            {{"userProfile.Just_now" | translate}}</span></h6>
                        <div class="stars-example-css review-star">
                          <i class="icofont icofont-star"></i>
                          <i class="icofont icofont-star"></i>
                          <i class="icofont icofont-star"></i>
                          <i class="icofont icofont-star"></i>
                          <i class="icofont icofont-star"></i>
                        </div>
                        <p class="m-b-0">{{"userProfile.Cras_sit_amet_nibh_libero_in_gravida_nulla" | translate}}.</p>
                        <div class="m-b-25">
                          <span><a href="javascript:;" class="m-r-10 f-12">
                              {{"userProfile.Reply" | translate}}</a></span><span><a href="javascript:;" class="f-12">
                              {{"userProfile.Edit" | translate}}</a> </span>
                        </div>
                        <hr>
                      </div>
                    </div>
                    <div class="media mt-2">
                      <a class="media-left" href="javascript:;">
                        <img class="media-object img-radius comment-img" src="assets/images/avatar-4.jpg"
                          alt="Generic placeholder image">
                      </a>
                      <div class="media-body">
                        <h6 class="media-heading">{{"userProfile.Larry_heading" | translate}} <span
                            class="f-12 text-muted m-l-5">
                            {{"userProfile.Just_now" | translate}}</span></h6>
                        <div class="stars-example-css review-star">
                          <i class="icofont icofont-star"></i>
                          <i class="icofont icofont-star"></i>
                          <i class="icofont icofont-star"></i>
                          <i class="icofont icofont-star"></i>
                          <i class="icofont icofont-star"></i>
                        </div>
                        <p class="m-b-0"> {{"userProfile.Cras_sit_amet_nibh_libero_in_gravida_nulla" | translate}}.</p>
                        <div class="m-b-25">
                          <span><a href="javascript:;" class="m-r-10 f-12">
                              {{"userProfile.Reply" | translate}}</a></span><span><a href="javascript:;" class="f-12">
                              {{"userProfile.Edit" | translate}}</a> </span>
                        </div>
                        <hr>
                        <!-- Nested media object -->
                        <div class="media mt-2">
                          <div class="media-left">
                            <a href="javascript:;">
                              <img class="media-object img-radius comment-img" src="assets/images/avatar-3.jpg"
                                alt="Generic placeholder image">
                            </a>
                          </div>
                          <div class="media-body">
                            <h6 class="media-heading">
                              {{"userProfile.Colleen_Hurst" | translate}} <span class="f-12 text-muted m-l-5">
                                {{"userProfile.Just_now" | translate}}</span></h6>
                            <div class="stars-example-css review-star">
                              <i class="icofont icofont-star"></i>
                              <i class="icofont icofont-star"></i>
                              <i class="icofont icofont-star"></i>
                              <i class="icofont icofont-star"></i>
                              <i class="icofont icofont-star"></i>
                            </div>
                            <p class="m-b-0">
                              {{"userProfile.Cras_sit_amet_nibh_libero_in_gravida_nulla" | translate}}.</p>
                            <div class="m-b-25">
                              <span><a href="javascript:;" class="m-r-10 f-12">
                                  {{"userProfile.Reply" | translate}}</a></span><span><a href="javascript:;"
                                  class="f-12">
                                  {{"userProfile.Edit" | translate}}</a> </span>
                            </div>
                          </div>
                          <hr>
                        </div>
                      </div>
                    </div>
                    <div class="media mt-2">
                      <div class="media-left">
                        <a href="javascript:;">
                          <img class="media-object img-radius comment-img" src="assets/images/avatar-2.jpg"
                            alt="Generic placeholder image">
                        </a>
                      </div>
                      <div class="media-body">
                        <h6 class="media-heading">
                          {{"userProfile.Mark_Doe" | translate}}<span class="f-12 text-muted m-l-5">
                            {{"userProfile.Just_now" | translate}}</span></h6>
                        <div class="stars-example-css review-star">
                          <i class="icofont icofont-star"></i>
                          <i class="icofont icofont-star"></i>
                          <i class="icofont icofont-star"></i>
                          <i class="icofont icofont-star"></i>
                          <i class="icofont icofont-star"></i>
                        </div>
                        <p class="m-b-0">{{"userProfile.Cras_sit_amet_nibh_libero_in_gravida_nulla" | translate}}.</p>
                        <div class="m-b-25">
                          <span><a href="javascript:;" class="m-r-10 f-12">
                              {{"userProfile.Reply" | translate}}</a></span><span><a href="javascript:;" class="f-12">
                              {{"userProfile.Edit" | translate}}</a> </span>
                        </div>
                        <hr>
                      </div>
                    </div>
                  </ul>
                  <div class="md-float-material d-flex">
                    <div class="md-group-add-on p-relative col-lg-12">
                      <div class="input-group input-group-button input-group-primary">
                        <span class="input-group-prepend"><label class="input-group-text"><i
                              class="icofont icofont-comment"></i></label></span>
                        <input type="text" class="form-control"
                          placeholder="{{'userProfile.Write_Comment' | translate}}">
                        <span class="input-group-append"><label class="input-group-text">
                            <button type="button" class="btn btn-primary"><i class="icofont icofont-plus"></i>
                              {{"userProfile.note" | translate}}</button>
                          </label></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>