<app-card [icone]="'icofont-clock-time'" [title]="'Les trimestres est les séquences associées'">
  <div class="browser-card p-b-15 " *ngIf="trimestres">
    <div class="row">
      <div class="col-12 text-right mt-0">
        <select *ngIf="reconduire" class="custom-select form-control col-1" id="annee" (change)="onChangeAnnee($event)"
                [attr.disabled]="authService.isEditable('liste-annee-academique') == true ? null : true">
          <option *ngFor="let annee of annees" value="{{ annee.id }}">{{ annee.codeAnnee }}</option>
        </select>
        <button class="btn bg-success btn-sm m-1"
                title="{{'userAdminConfListeTrimestre.Reconduire_trimestre' | translate}}"
                *ngIf="authService.isVisible('bouton-reconduire-trimestres') && reconduire"
                [disabled]="!authService.isActif('bouton-reconduire-trimestres') || !reconduire"
                (click)="onClickReconductionTrimestre()">
          <i class="icofont icofont-history"></i>
          {{"userAdminConfListeTrimestre.Reconduire_trimestre" | translate}}</button>
        <button class="btn btn-primary btn-sm mr-4 m-1"
                title="{{'userAdminConfListeTrimestre.Ajouter_un_trimestre' | translate}}"
                *ngIf="authService.isVisible('bouton-ajouter-trimestres')"
                [disabled]="!authService.isActif('bouton-ajouter-trimestres')"
                (click)="openLoadFormAddTrimestre(null, contentTimestre)"><i class="icofont icofont-plus-circle"></i>
          {{"userAdminConfListeTrimestre.Ajouter_un_trimestre" | translate}}</button>
      </div>
    </div>
    <div class="container-fluid clickable table-hover" *ngFor="let trimestre of trimestres">
      <div class="card">
        <div class="card-header bg-primary card-border-inverse p-1 pl-4">
          <h5 class="text-white">{{ trimestre.nom_trimestre }}</h5>
        </div>
        <div class="card-body row p-1 pl-4 pr-4">
          <div class="col-12">
            <ul class="list-group" *ngFor="let sequence of trimestre.sequencs; let i=index">
              <li class="list-group-item d-flex justify-content-between row p-1">
                <span class="col-1 text-right">{{ '#'+ (i+1) }}</span>
                <span class="col-md-7">{{ sequence.nom_sequence }}</span>
                <div class="col-md-4 pt-1">
                  <button class="btn bg-danger float-right btn-browser mr-2"
                          (click)="onDeleteTrimestreOrSequence(sequence.id_sequence,2)"
                          title="{{'userAdminConfListeTrimestre.Supprimer_la_séquence' | translate}} '{{ sequence.nom_sequence }}'">
                    <em class="icofont icofont-ui-delete"></em></button>
                  <button class="btn  float-right btn-browser mr-2" (click)="onChangeStateSequence(sequence)"
                          *ngIf="authService.isVisible('bouton-lancer-sequence')"
                          [disabled]="!authService.isActif('bouton-lancer-sequence')"
                          [ngClass]="sequence.en_cours === true ? 'bg-danger' : 'bg-success'"
                          [title]="sequence.en_cours === true ? 'Stopper la sequence' : 'Lancer la séquence'">
                    <em class="icofont icofont-power"></em></button>
                  <button class="btn bg-warning  float-right btn-browser mr-2"
                          title="{{'userAdminConfListeTrimestre.Modifier_la_sequence' | translate}}"
                          *ngIf="authService.isVisible('bouton-editer-sequence')"
                          [disabled]="!authService.isActif('bouton-editer-sequence')"
                          (click)="openLoadFormAddSequenceToClasse(trimestre, sequence,  contentSequence)" ><em class="icofont icofont-edit-alt"></em></button>
                  <button class="btn bg-c-blue float-right btn-browser mr-2"
                          title="{{'userAdminConfListeTrimestre.Détail_sur_la_séquence' | translate}}">
                    <em class="icofont icofont-ui-folder"></em></button>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="card-footer p-0 pb-1">
          <div class="col-md-8">
            <button class="btn bg-danger float-right btn-browser mr-2"
                    title="{{'userAdminConfListeTrimestre.Supprimer_le_trimestre' | translate}}"
                    *ngIf="authService.isVisible('bouton-suppimer-trimestre')"
                    (click)="onDeleteTrimestreOrSequence(trimestre.id_trimestre,1)"
                    [disabled]="!authService.isActif('bouton-suppimer-trimestre')"><em class="icofont icofont-ui-delete"></em></button>
            <button class="btn bg-success float-right btn-browser mr-2"
                    title="{{'userAdminConfListeTrimestre.Ajouter_une_sequence_a_ce_trimestre' | translate}}"
                    (click)="openLoadFormAddSequenceToClasse(trimestre, null,  contentSequence)"
                    *ngIf="authService.isVisible('bouton-ajouter-sequence')"
                    [disabled]="!authService.isActif('bouton-ajouter-sequence')"><em class="icofont icofont-plus mr-2">
              {{"userAdminConfListeTrimestre.Ajouter_séquence" | translate}}</em></button>
            <button class="btn bg-warning float-right btn-browser mr-2"
                    title="{{'userAdminConfListeTrimestre.Modifier_le_trimestre' | translate}}"
                    *ngIf="authService.isVisible('bouton-editer-trimestre')"
                    [disabled]="!authService.isActif('bouton-editer-trimestre')"
                    (click)="openLoadFormAddTrimestre(trimestre, contentTimestre)"><i class="icofont icofont-edit-alt"></i></button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-right mt-0">
        <button class="btn btn-primary btn-sm ml-5 mr-4 m-1"
                title="{{'userAdminConfListeTrimestre.Ajouter_un_trimestre' | translate}}"
                *ngIf="authService.isVisible('bouton-ajouter-trimestres')"
                [disabled]="!authService.isActif('bouton-ajouter-trimestres')"
                (click)="openLoadFormAddTrimestre(null, contentTimestre)"><i class="icofont icofont-plus-circle"></i>
          {{"userAdminConfListeTrimestre.Ajouter_un_trimestre" | translate}}</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <ng-template #contentTimestre let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="add-trimestre">
            {{"userAdminConfListeTrimestre.Edition_du_trimestre" | translate}} {{ currentTrimestre?.nom_trimestre }}</h4>
          <button type="button" class="close" aria-label="Close" (click)="onResetTrimestre()">
            <span aria-hidden="true" class="icofont icofont-close-line-squared text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formTrimestre">
            <div class="col-md-12 col-xl-12">
              <fieldset class="scheduler-border">
                <legend class="scheduler-border">
                  {{"userAdminConfListeTrimestre.Information_Importantes" | translate}}</legend>
                <div class="row mega-menu-contact">
                  <div class="form-group col-12" *ngIf="authService.isVisible('champ-nom-trimestre-premiere-langue')">
                    <label for="nomTrim" class="col-form-label">
                      {{"userAdminConfListeTrimestre.Nom_du_trimestre_Premiere_langue" | translate}}</label>
                    <input class="form-control" type="text"
                           placeholder="{{'userAdminConfListeTrimestre.Nom_du_trimestre' | translate}}" id="nomTrim"
                           [readOnly]="!authService.isEditable('champ-nom-trimestre-premiere-langue')"
                           formControlName="nomTrim"  [ngClass]="{'is-invalid': submitted && t.nomTrim.errors }">
                    <div *ngIf="submitted && t.nomTrim.errors" class="invalid-feedback">
                      <div *ngIf="t.nomTrim.errors.required">
                        {{"userAdminConfListeTrimestre.Le_nom_du_trimestre_est_obligatoire" | translate}}</div>
                    </div>
                  </div>
                  <div class="form-group col-12" *ngIf="authService.isVisible('champ-nom-trimestre-deuxieme-langue')">
                    <label for="nomTrimEn" class="col-form-label">
                      {{"userAdminConfListeTrimestre.Nom_du_trimestre_Deuxieme_langue" | translate}}</label>
                    <input class="form-control" type="text"
                           placeholder="{{'userAdminConfListeTrimestre.Nom_du_trimestre' | translate}}" id="nomTrimEn"
                           [readOnly]="!authService.isEditable('champ-nom-trimestre-deuxieme-langue')"
                           formControlName="nomTrimEn"  [ngClass]="{'is-invalid': submitted && t.nomTrimEn.errors }">
                    <div *ngIf="submitted && t.nomTrimEn.errors" class="invalid-feedback">
                      <div *ngIf="t.nomTrimEn.errors.required">
                        {{"userAdminConfListeTrimestre.Le_nom_du_trimestre_est_obligatoire" | translate}}</div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group" *ngIf="authService.isVisible('champ-date-ouverture-trimestre')">
                      <label for="ouverture">
                        {{"userAdminConfListeTrimestre.Date_d_ouverture_trimestre" | translate}}</label>
                      <div class="input-group">
                        <input id="ouverture" class="form-control"  [ngClass]="{'is-invalid': submitted && t.ouverture.errors }"
                               [readOnly]="!authService.isEditable('champ-date-ouverture-trimestre')"
                               type="date"
                               placeholder="{{'userAdminConfListeTrimestre.dd_mm_yyyy' | translate}}" formControlName="ouverture">
                        <div *ngIf="submitted && t.ouverture.errors" class="invalid-feedback">
                          <div *ngIf="t.ouverture.errors.required">
                            {{"userAdminConfListeTrimestre.La_date_de_l_ouverture_de_l_année_est_obligatoire" | translate}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group" *ngIf="authService.isVisible('champ-date-fermeture-trimestre')">
                      <label for="fermeture">
                        {{"userAdminConfListeTrimestre.Date_de_fermeture_trimestre" | translate}}</label>
                      <div class="input-group">
                        <input id="fermeture" class="form-control"  [ngClass]="{'is-invalid': submitted && t.fermeture.errors }"
                               [readOnly]="!authService.isEditable('champ-date-fermeture-trimestre')"
                               type="date"
                               placeholder="{{'userAdminConfListeTrimestre.dd_mm_yyyy' | translate}}" formControlName="fermeture">
                        <div *ngIf="submitted && t.fermeture.errors" class="invalid-feedback">
                          <div *ngIf="t.fermeture.errors.required">
                            {{"userAdminConfListeTrimestre.La_date_de_fermeture_est_obligatoire" | translate}}</div>
                          <div *ngIf="t.fermeture.errors.mustMatch">
                            {{"userAdminConfListeTrimestre.La_date_d_ouverture_doit_etre_inferieure_a_la_date_de_fermeture" | translate}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-12" *ngIf="authService.isVisible('champ-numero-ordre')">
                    <label for="numOrdre" class="col-form-label">
                      {{"userAdminConfListeTrimestre.Numéro_d_ordre" | translate}}</label>
                    <input class="form-control" type="number" lang="en"
                           placeholder="{{'userAdminConfListeTrimestre.Numéro_d_ordre' | translate}}" id="numOrdre"
                           [readOnly]="!authService.isEditable('champ-numero-ordre')"
                           formControlName="numOrdre" [ngClass]="{'is-invalid': submitted && t.numOrdre.errors }">
                    <div *ngIf="submitted && t.numOrdre.errors" class="invalid-feedback">
                      <div *ngIf="t.numOrdre.errors.required">
                        {{"userAdminConfListeTrimestre.Le_numero_d_ordre_du_trimestre_est_obligatoire" | translate}}</div>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-outline-danger btn-sm ml-4" type="reset"
                  *ngIf="authService.isVisible('bouton-effacer')"
                  [disabled]="!authService.isActif('bouton-effacer')"
                  (click)="onResetTrimestre()"><i class="icofont icofont-close-circled"></i>
            {{"userAdminConfListeTrimestre.Effacer" | translate}}</button>
          <button class="btn btn-primary btn-sm ml-2 mr-4" type="button"
                  *ngIf="authService.isVisible('bouton-enregistrer')"
                  [disabled]="!authService.isActif('bouton-enregistrer')"
                  (click)="onSaveTrimestre()"><i class="icofont icofont-check-circled"></i>
            {{"userAdminConfListeTrimestre.Enregistrer" | translate}}</button>
        </div>
      </ng-template>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <ng-template #contentSequence let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="add-sequence">
            {{"userAdminConfListeTrimestre.Edition_sequence_au_trimestre" | translate}} {{ currentSequence?.nom_sequence }}</h4>
          <button type="button" class="close" aria-label="Close" (click)="onResetSequence()">
            <span aria-hidden="true" class="icofont icofont-close-line-squared text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formSequence">
            <div class="col-md-12 col-xl-12">
              <fieldset class="scheduler-border">
                <legend class="scheduler-border">
                  {{"userAdminConfListeTrimestre.Information_Importantes" | translate}}</legend>
                <div class="row mega-menu-contact">
                  <div class="form-group col-12">
                    <label for="nomSeq" class="col-form-label">
                      {{"userAdminConfListeTrimestre.Nom_de_la_sequence_Premiere_langue" | translate}}</label>
                    <input class="form-control" type="text"
                           placeholder="{{'userAdminConfListeTrimestre.Nom_de_la_sequence' | translate}}" id="nomSeq"
                           formControlName="nomSeq"  [ngClass]="{'is-invalid': submitted && s.nomSeq.errors }">
                    <div *ngIf="submitted && s.nomSeq.errors" class="invalid-feedback">
                      <div *ngIf="s.nomSeq.errors.required">
                        {{"userAdminConfListeTrimestre.Le_nom_de_la_sequence_est_obligatoire" | translate}}</div>
                    </div>
                  </div>
                  <div class="form-group col-12">
                    <label for="nomSeqEn" class="col-form-label">
                      {{"userAdminConfListeTrimestre.Nom_de_la_sequence_Deuxieme_langue" | translate}}</label>
                    <input class="form-control" type="text"
                           placeholder="{{'userAdminConfListeTrimestre.Nom_de_la_sequence' | translate}}" id="nomSeqEn"
                           formControlName="nomSeqEn"  [ngClass]="{'is-invalid': submitted && s.nomSeqEn.errors }">
                    <div *ngIf="submitted && s.nomSeqEn.errors" class="invalid-feedback">
                      <div *ngIf="s.nomSeqEn.errors.required">
                        {{"userAdminConfListeTrimestre.Le_nom_de_la_sequence_est_obligatoire" | translate}}</div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                      <label for="ouvertureSeq">
                        {{"userAdminConfListeTrimestre.Date_d_ouverture_sequence" | translate}}</label>
                      <div class="input-group">
                        <input id="ouvertureSeq" class="form-control"  [ngClass]="{'is-invalid': submitted && s.ouvertureSeq.errors }"
                               type="date"
                               placeholder="{{'userAdminConfListeTrimestre.dd_mm_yyyy' | translate}}" formControlName="ouvertureSeq">
                        <div *ngIf="submitted && s.ouvertureSeq.errors" class="invalid-feedback">
                          <div *ngIf="s.ouvertureSeq.errors.required">
                            {{"userAdminConfListeTrimestre.La_date_de_l_ouverture_de_la_sequence_est_obligatoire" | translate}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                      <label for="fermetureSeq">
                        {{"userAdminConfListeTrimestre.Date_de_fermeture_de_la_sequence" | translate}}</label>
                      <div class="input-group">
                        <input id="fermetureSeq" class="form-control"  [ngClass]="{'is-invalid': submitted && s.fermetureSeq.errors }"
                               type="date"
                               placeholder="{{'userAdminConfListeTrimestre.dd_mm_yyyy' | translate}}" formControlName="fermetureSeq">
                        <div *ngIf="submitted && s.fermetureSeq.errors" class="invalid-feedback">
                          <div *ngIf="s.fermetureSeq.errors.required">
                            {{"userAdminConfListeTrimestre.La_date_de_fermeture_est_obligatoire" | translate}}</div>
                          <div *ngIf="s.fermetureSeq.errors.mustMatch">
                            {{"userAdminConfListeTrimestre.La_date_d_ouverture_doit_etre_inferieure_a_la_date_de_fermeture" | translate}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-12">
                    <label for="numOrdreSeq" class="col-form-label">
                      {{"userAdminConfListeTrimestre.Numéro_d_ordre" | translate}}</label>
                    <input class="form-control" type="number" lang="en"
                           placeholder="{{'userAdminConfListeTrimestre.Numéro_d_ordre' | translate}}" id="numOrdreSeq"
                           formControlName="numOrdreSeq" [ngClass]="{'is-invalid': submitted && s.numOrdreSeq.errors }">
                    <div *ngIf="submitted && s.numOrdreSeq.errors" class="invalid-feedback">
                      <div *ngIf="s.numOrdreSeq.errors.required">
                        {{"userAdminConfListeTrimestre.Le_numero_d_ordre_de_la_sequence_est_obligatoire" | translate}}</div>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-outline-danger btn-sm ml-4" type="reset"
                  *ngIf="authService.isVisible('bouton-effacer')"
                  [disabled]="!authService.isActif('bouton-effacer')"
                  (click)="onResetSequence()"><i class="icofont icofont-close-circled"></i>
            {{"userAdminConfListeTrimestre.Effacer" | translate}}</button>
          <button class="btn btn-primary btn-sm ml-2 mr-4" type="button"
                  *ngIf="authService.isVisible('bouton-editer-sequence')"
                  [disabled]="!authService.isActif('bouton-editer-sequence')"
                  (click)="onSaveSequence()"><i class="icofont icofont-check-circled"></i>
            {{"userAdminConfListeTrimestre.Enregistrer" | translate}}</button>
        </div>
      </ng-template>
    </div>
  </div>
</app-card>
