<div class="row">
  <!-- card14 start -->
  <div class="col-md-6 col-xl-3" *ngIf="authService.isVisible( 'bouton-finance')">
    <div class="card widget-card-1 clickable" (click)="isActif('/administration/finances', 'bouton-finance')">
      <div class="card-block-small">
        <i class="icofont icofont-cur-dollar bg-c-orenge card1-icon"></i>
        <span class="text-c-orenge f-w-600">
          {{"userAdminWelcome.Finances" | translate}}</span>
        <h3 class="text-center text-muted">
          <i class="text-c-green icofont icofont-eye-alt"></i>
        </h3>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-yellow f-16 icofont icofont-settings m-r-10"></i>
            {{"userAdminWelcome.Finances" | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-xl-3" *ngIf="authService.isVisible( 'bouton-configuration')">
    <div class="card widget-card-1 clickable"
      (click)="isActif('/administration/configuration', 'bouton-configuration')">
      <div class="card-block-small">
        <i class="icofont icofont-gear bg-c-orenge card1-icon"></i>
        <span class="text-c-orenge f-w-600">
          {{"userAdminWelcome.Configuration" | translate}}</span>
        <h3 class="text-center text-muted">
          <i class="text-c-green icofont icofont-eye-alt"></i>
        </h3>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-yellow f-16 icofont icofont-settings m-r-10"></i>
            {{"userAdminWelcome.Configuration" | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- card11 start -->
  <div class="col-md-6 col-xl-3" *ngIf="authService.isVisible( 'bouton-utilisateur')">
    <div class="card widget-card-1 clickable" (click)="isActif('/administration/utilisateurs', 'bouton-utilisateur')">
      <div class="card-block-small">
        <i class="icofont icofont-users-alt-5 bg-c-lite-green card1-icon"></i>
        <span class="text-c-orenge f-w-600">
          {{"userAdminWelcome.Utilisateurs" | translate}}</span>
        <h3 class="text-center text-muted">
          <i class="text-c-green icofont icofont-eye-alt"></i>
        </h3>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-yellow f-16 icofont icofont-users m-r-10"></i>
            {{"userAdminWelcome.Utilisateurs" | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- card11 end -->
  <!-- card4 start -->
  <div class="col-md-6 col-xl-3" *ngIf="authService.isVisible('bouton-discipline')">
    <div class="card widget-card-1 clickable" (click)="isActif('/administration/discipline','bouton-discipline')">
      <div class="card-block-small">
        <i class="icofont icofont-certificate-alt-1 bg-c-lite-green card1-icon"></i>
        <span class="text-c-lite-green f-w-600">
          {{"userAdminWelcome.Discipline" | translate}}</span>
        <h3 class="text-center text-muted">
          <i class="text-c-green icofont icofont-eye-alt"></i>
        </h3>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-yellow f-16 icofont icofont-certificate-alt-2 m-r-10"></i>
            {{"userAdminWelcome.Discipline" | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- card4 end -->
  <!-- card4 start -->
  <div class="col-md-6 col-xl-3" *ngIf="authService.isVisible( 'bouton-note')">
    <div class="card widget-card-1 clickable" (click)="isActif('/administration/notes', 'bouton-note')">
      <div class="card-block-small">
        <i class="icofont icofont-certificate-alt-1 bg-c-lite-green card1-icon"></i>
        <span class="text-c-lite-green f-w-600">{{"userAdminWelcome.Notes" | translate}}</span>
        <h3 class="text-center text-muted">
          <i class="text-c-green icofont icofont-eye-alt"></i>
        </h3>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-yellow f-16 icofont icofont-certificate-alt-2 m-r-10"></i>
            {{"userAdminWelcome.Configuration_Notes" | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- card4 end -->
  <!-- card6 start -->
  <div class="col-md-6 col-xl-3" *ngIf="authService.isVisible('bouton-inscription')">
    <div class="card widget-card-1 clickable"
      (click)="isActif('/eleves/liste-inscription/welcome','bouton-inscription')">
      <div class="card-block-small">
        <i class="icofont icofont-credit-card bg-c-lite-green card1-icon"></i>
        <span class="text-c-orenge f-w-600">
          {{"userAdminWelcome.Inscriptions" | translate}}</span>
        <h3 class="text-center text-muted">
          <i class="text-c-green icofont icofont-eye-alt"></i>
        </h3>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-yellow f-16 icofont icofont-credit-card m-r-10"></i>
            {{"userAdminWelcome.Inscriptions" | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- card6 end -->
  <!-- card6 start -->
  <div class="col-md-6 col-xl-3" *ngIf="authService.isVisible( 'bouton-statistique')">
    <div class="card widget-card-1 clickable" [routerLink]="'/administration/statistiques'">
      <div class="card-block-small">
        <i class="icofont icofont-chart-bar-graph bg-dribble card1-icon"></i>
        <span class="text-dribble f-w-600">
          {{"userAdminWelcome.Statistiques" | translate}}</span>
        <h3 class="text-center text-muted"><i class="text-c-green icofont icofont-eye-alt"></i></h3>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-googleplus f-16 icofont icofont-chart-histogram-alt m-r-10"></i>
            {{"userAdminWelcome.Statistiques_Aurore" | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- card6 end -->
  <div class="col-md-6 col-xl-3" *ngIf="authService.isVisible( 'bouton-portail')">
    <div class="card widget-card-1 clickable" (click)="isActif('/administration/portail','bouton-portail')">
      <div class="card-block-small">
        <i class="icofont icofont-refresh bg-youtube card1-icon"></i>
        <span class="text-c-orenge f-w-600">{{"userAdminWelcome.Portail" | translate}}</span>
        <h3 class="text-center text-muted">
          <i class="text-c-green icofont icofont-exchange"></i>
        </h3>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-youtube f-16 icofont icofont-retweet m-r-10"></i>
            {{"userAdminWelcome.Gestion_des_accès_au_portail" | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- card4 start -->
 <!-- <div class="col-md-6 col-xl-3" *ngIf="authService.isVisible( 'bouton-admin-notes')">
    <div class="card widget-card-1 clickable" (click)="onDisplayModalToNote(modalSelectNote)">
      <div class="card-block-small">
        <i class="icofont icofont-pen-alt-4 bg-instagram card1-icon"></i>
        <span class="text-c-lite-green f-w-600">
          {{"userAdminWelcome.Admin_Notes" | translate}}</span>
        <h3 class="text-center text-muted">
          <i class="text-c-green icofont icofont-eye-alt"></i>
        </h3>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-pink f-16 icofont icofont-pen-alt-2 m-r-10"></i>
            {{"userAdminWelcome.Administration_Notes" | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>-->
  <!-- card4 end -->
  <!-- card4 start -->
  <!--<div class="col-md-6 col-xl-3" *ngIf="authService.isVisible( 'bouton-admin-absences')">
    <div class="card widget-card-1 clickable" (click)="onDisplayModalToAbsence(modalSelectAbsence)">
      <div class="card-block-small">
        <i class="icofont icofont-quill-pen bg-c-pink card1-icon"></i>
        <span class="text-c-lite-green f-w-600">
          {{"userAdminWelcome.Admin_Absences" | translate}}</span>
        <h3 class="text-center text-muted">
          <i class="text-c-green icofont icofont-eye-alt"></i>
        </h3>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-blue f-16 icofont icofont-quill-pen m-r-10"></i>
            {{"userAdminWelcome.Administration_absences" | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>-->

  <!--<div class="col-md-6 col-xl-3" *ngIf="authService.isVisible( 'bouton-log-notes')">
    <div class="card widget-card-1 clickable" (click)="onDisplayHistoryLogNotes()">
      <div class="card-block-small">
        <i class="icofont icofont-history bg-c-pink card1-icon"></i>
        <span class="text-c-lite-green f-w-600">
          {{"userAdminWelcome.Trace_notes" | translate}}</span>
        <h3 class="text-center text-muted">
          <i class="text-c-green icofont icofont-eye-alt"></i>
        </h3>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-blue f-16 icofont icofont-quill-pen m-r-10"></i>
            {{"userAdminWelcome.Trace_notes" | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>-->

  <!--<div class="col-md-6 col-xl-3" *ngIf="authService.isVisible( 'bouton-log-abscences')">
    <div class="card widget-card-1 clickable" (click)="onDisplayHistoryLogAbscence()">
      <div class="card-block-small">
        <i class="icofont icofont-history bg-c-pink card1-icon"></i>
        <span class="text-c-lite-green f-w-600">
          {{"Historique des abscences" | translate}}</span>
        <h3 class="text-center text-muted">
          <i class="text-c-green icofont icofont-eye-alt"></i>
        </h3>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-blue f-16 icofont icofont-quill-pen m-r-10"></i>
            {{"Historique des abscences" | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>-->
  <!-- card4 end -->
  <div class="col-md-6 col-xl-3" *ngIf="authService.isVisible('bouton-aide')">
    <div class="card widget-card-1 clickable" (click)="isActif('/administration/help','bouton-aide')">
      <div class="card-block-small">
        <i class="icofont icofont-question-circle bg-c-blue card1-icon"></i>
        <span class="text-c-orenge f-w-600">
          {{"userAdminWelcome.Aide" | translate}}</span>
        <h3 class="text-center text-muted">
          <i class="text-c-green icofont icofont-eye-alt"></i>
        </h3>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-yellow f-16 icofont icofont-question-square m-r-10"></i>
            {{"userAdminWelcome.Aide" | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>

  <!--<div class="row">
    <div class="col-12">
      <ng-template #modalSelectNote let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="select-note">
            {{"userAdminWelcome.Remplissage_des_notes" | translate}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="onReset()">
            <span aria-hidden="true" class="icofont icofont-close-line-squared-alt text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="selectNoteClasseForm">
            <ng-container *ngIf="filtreNote">
              <div class="form-group">
                <label for="sequence1">
                  {{"userAdminWelcome.Séquence" | translate}}</label>
                <select formControlName="sequence" class="custom-select form-control" id="sequence1"
                  [ngClass]="{'is-invalid': submitted && f.sequence.errors }">
                  <option value="">-&#45;&#45; {{"userAdminWelcome.Sélectionner_une_séquence" | translate}} -&#45;&#45;</option>
                  <option *ngFor="let sequence of filtreNote.sequences" value="{{ sequence.id }}">{{
                    sequence.nomSequence }}</option>
                </select>
                <div *ngIf="submitted && f.sequence.errors" class="invalid-feedback">
                  <div *ngIf="f.sequence.errors.required">
                    {{"userAdminWelcome.Le_choix_de_la_séquence_est_obligatoire" | translate}}</div>
                </div>
              </div>
              <div class="form-group">
                <label for="classe1">
                  {{"userAdminWelcome.Classe" | translate}}</label>

                <ng-multiselect-dropdown id="classe1" #selectVue
                  [ngClass]="{'is-invalid': f.touched && f.matiereclasse.errors }" [placeholder]="choix"
                  [data]="classeNoteFiltre" formControlName="matiereclasse" [settings]="settingsNote">
                </ng-multiselect-dropdown>
                <div *ngIf="submitted && f.matiereclasse.errors" class="invalid-feedback">
                  <div *ngIf="f.matiereclasse.errors.required">
                    {{"userAdminWelcome.Le_choix_de_la_classe_est_obligatoire" | translate}}</div>
                </div>
              </div>
            </ng-container>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-outline-warning btn-sm ml-2" (click)="onReset()"
            [disabled]="!authService.isActif('bouton-effacer')" *ngIf="authService.isVisible('bouton-effacer')"><i
              class="icofont icofont-close-circled"></i>
            {{"userAdminWelcome.Annuler" | translate}}&nbsp;&nbsp;</button>
          <button class="btn btn-primary btn-sm ml-5 mr-2" (click)="onDisplayListeEleve(0)"
            [disabled]="!authService.isActif('bouton-suivant')" *ngIf="authService.isVisible('bouton-suivant')">
            {{"userAdminWelcome.Suivant" | translate}}&nbsp;&nbsp;<i class="icofont icofont-circled-right"></i></button>
        </div>
      </ng-template>
    </div>
  </div>-->

  <!--<div class="row">
    <div class="col-12">
      <ng-template #modalSelectAbsence let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="select-absence">
            {{"userAdminWelcome.Administration_des_absences" | translate}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="onReset()">
            <span aria-hidden="true" class="icofont icofont-close-line-squared-alt text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="selectAbsenceClasseForm">
            <ng-container *ngIf="filtreAbsence">
              <div class="form-group" *ngIf="authService.isVisible('liste-sequence')">
                <label for="sequence2">
                  {{"userAdminWelcome.Séquence" | translate}}</label>
                <select formControlName="sequence" class="custom-select form-control" id="sequence2"
                  [attr.disabled]="authService.isEditable('liste-sequence') == true ? null : true"
                  [ngClass]="{'is-invalid': submitted && g.sequence.errors }">
                  <option value="">-&#45;&#45; {{"userAdminWelcome.Sélectionner_une_séquence" | translate}} -&#45;&#45;</option>
                  <option *ngFor="let sequence of filtreAbsence.sequences" value="{{ sequence.id }}">{{
                    sequence.nomSequence }}</option>
                </select>
                <div *ngIf="submitted && g.sequence.errors" class="invalid-feedback">
                  <div *ngIf="g.sequence.errors.required">
                    {{"userAdminWelcome.Le_choix_de_la_séquence_est_obligatoire" | translate}}</div>
                </div>
              </div>
              <div class="form-group" *ngIf="authService.isVisible('liste-classe')">
                <label for="classe2">
                  {{"userAdminWelcome.Classe" | translate}}</label>
                <ng-multiselect-dropdown id="classe2" #selectVue
                  [ngClass]="{'is-invalid': g.touched && g.classe.errors }"
                                         [placeholder]="choix"
                  [data]="classeAbsenceFiltre" formControlName="classe" [settings]="settingsAbsence">
                </ng-multiselect-dropdown>
                <div *ngIf="submitted && g.classe.errors" class="invalid-feedback">
                  <div *ngIf="g.classe.errors.required">
                    {{"userAdminWelcome.Le_choix_de_la_classe_est_obligatoire" | translate}}</div>
                </div>
              </div>
            </ng-container>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-outline-warning btn-sm ml-4" [disabled]="!authService.isActif('bouton-effacer')"
            *ngIf="authService.isVisible('bouton-effacer')" (click)="onReset()"><i
              class="icofont icofont-close-circled"></i>
            {{"userAdminWelcome.Annuler" | translate}}&nbsp;&nbsp;</button>
          <button class="btn btn-primary btn-sm ml-5 mr-4" [disabled]="!authService.isActif('bouton-suivant')"
            *ngIf="authService.isVisible('bouton-suivant')" (click)="onDisplayListeEleve(1)">
            {{"userAdminWelcome.Suivant" | translate}}&nbsp;&nbsp;<i class="icofont icofont-circled-right"></i></button>
        </div>
      </ng-template>
    </div>
  </div>-->
  <!-- card5 start -->
  <div class="col-md-6 col-xl-3" *ngIf="authService.isVisible('bouton-fiche')">
    <div class="card widget-card-1 clickable"
         [routerLink]="authService.isActif('bouton-fiche') ? '/gestion-notes/fiches-progression' : ''">
      <div class="card-block-small">
        <i class="icofont icofont-paper bg-c-green card1-icon"></i>
        <span class="text-c-orenge f-w-600">
          {{"userEspaceWelcom.Fiches" | translate}}</span>
        <h1 class="text-center text-muted">
          <i class="text-c-green icofont icofont-eye-alt"></i>
        </h1>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-yellow f-16 icofont icofont-paper-plane m-r-10"></i>
            {{"userEspaceWelcom.Fiches_de_progression" | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- card5 end -->
</div>
