<!-- List utilisateurs card start -->
<app-card [title]="'userAdminUtilisateurList.Gestion_des_utilisateurs_du_système'" [classHeader]="true" [blockClass]="'table-border-style'">
  <div class="row">
    <div class="col-sm-5 input-group pl-4 text-left" [formGroup]="searchForm">
      <input list="elevesSearch" id="search" class="form-control"
             placeholder="{{'userEleveListeEleveMenu.Search' | translate}}" formControlName="search"
      >
      <datalist id="elevesSearch" >
        <option value="{{ lstC.displayName }}" *ngFor="let lstC of utilisateurs"></option>
      </datalist>
      <div class="input-group-append">
                <span class="input-group-text icofont icofont-search clickable"
                      (click)="listUpload()" ></span>
      </div>
    </div>
    <div class="col-7 text-right" *ngIf="authService.isVisible('bouton-ajout-utilisateur')">
      <button class="btn btn-primary btn-sm ml-5 mr-4 m-1" [disabled]="!authService.isActif('bouton-ajout-utilisateur')"
        (click)="onEditUser(null, modalEditUser)">
        <i class="icofont icofont-check-circled"></i>
        {{"userAdminUtilisateurList.Ajouter_un_utilisateur" | translate}}</button>
    </div>
  </div>
  <div class="browser-card p-b-15" *ngIf="utilisateurs">
    <div class="clickable" *ngFor="let utilisateur of utilisateurs | paginate: {itemsPerPage: pageSize,
    currentPage: page + 1, totalItems: totalElements}">
      <div class="container" *ngIf="utilisateur.id !=1 && utilisateur.id !=2 && utilisateur.enable != false">
        <div class="row">
          <div class="col-1 col-xs-1 pr-3">
            <ngx-avatar [name]="genericsService.traiterDisplayName(utilisateur.displayName)"></ngx-avatar>
          </div>
          <div class="col-8 col-xs-7">
            <h5 class="m-0 text-blue">{{ utilisateur.displayName | titlecase }}</h5>
            <p class="m-0">
              <em>{{ utilisateur.email}} | {{ utilisateur.username }} |
                <span *ngFor="let role of utilisateur?.roleDTOS">{{ role.description + ', '}}</span></em>
            </p>
          </div>
          <div class="col-3 col-xs-3 mt-2 pr-2">
            <button type="button" class="btn btn-grd-success btn-round m-0 p-2 mr-1"
                    *ngIf="authService.isVisible('bouton-edition')"
              (click)="onEditUser(utilisateur, modalEditUser)" [disabled]="!authService.isActif('bouton-edition')">
              <i  class="icofont icofont-pencil-alt-5 icofont-2x m-0 "></i></button>
            <button type="button" class="btn btn-round m-0 p-2"
                    *ngIf="authService.isVisible('bouton-lock-unlock')"
                    [ngClass]="utilisateur.enabled?'btn-grd-danger':'btn-grd-info'"
                    [title]="utilisateur.enabled? bloqueUser:debloqueUser"
              (click)="onChangeStatutUser(utilisateur)" [disabled]="!authService.isActif('bouton-lock-unlock')">
              <i [ngClass]="utilisateur.enabled?'icofont-lock':'icofont-unlock'" class="icofont icofont-2x m-0"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="dropdown-divider"></div>
    </div>
    <pagination-controls style="text-align:center; vertical-align:middle;" autoHide="true" [maxSize]="10"
      (pageChange)="setPageChange($event)"></pagination-controls>
  </div>

  <div class="row">
    <div class="col-12">
      <ng-template #modalEditUser let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="edit-user">
            {{"userAdminUtilisateurList.Edition_de_l_utilisateur" | translate}} <span *ngIf="currentUser">{{
              currentUser.displayName}}</span></h4>
          <button type="button" class="close" aria-label="Close" (click)="onResetUtilisateur()">
            <span aria-hidden="true" class="icofont icofont-close-line-squared-alt text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="UtilisateurForm">
            <div class="row">
              <div class="form-group col-md-6 col-xl-6 mega-menu-contact"
                *ngIf="authService.isVisible('champ-nom-utilisateur')">
                <label for="username" class="col-form-label">
                  {{"userAdminUtilisateurList.Nom_d_utilisateur" | translate}}</label>
                <input class="form-control" type="text"
                  [readOnly]="currentUser || idUser!=null || !authService.isEditable('champ-nom-utilisateur')"
                  [ngClass]="{'is-invalid': submitted && f.username.errors }"
                  placeholder="{{'userAdminUtilisateurList.Entrer_le_username' | translate}}" id="username"
                  formControlName="username" autocomplete="false">
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                  <div *ngIf="f.username.errors.required">
                    {{"userAdminUtilisateurList.Le_nom_d_utilisateur_est_obligatoire" | translate}}</div>
                </div>
              </div>
              <div class="form-group col-md-6 col-xl-6 mega-menu-contact"
                *ngIf="authService.isVisible('champ-email-utilisateur')">
                <label for="email" class="col-form-label">
                  {{"userAdminUtilisateurList.Email" | translate}}</label>
                <input class="form-control" type="email"
                  [readOnly]="currentUser || idUser!=null || !authService.isEditable('champ-email-utilisateur')"
                  placeholder="{{'userAdminUtilisateurList.Entrer_le_mail' | translate}}"
                  [ngClass]="{'is-invalid': submitted && f.email.errors }" id="email" formControlName="email">
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">
                    {{"userAdminUtilisateurList.L_email_d_utilisateur_est_obligatoire" | translate}}</div>
                  <div *ngIf="f.email.errors.email">
                    {{"userAdminUtilisateurList.Email_doit_etre_une_adresse_email_valide" | translate}}</div>
                </div>
              </div>
              <div class="form-group col-md-6 col-xl-6 mega-menu-contact"
                *ngIf="authService.isVisible('champ-nom-complet-utilisateur')">
                <label for="displayName" class="col-form-label">
                  {{"userAdminUtilisateurList.Nom_Complet" | translate}}</label>
                <input class="form-control" type="text" [ngClass]="{'is-invalid': submitted && f.displayName.errors }"
                  placeholder="{{'userAdminUtilisateurList.Entrer_le_nom_complet' | translate}}" id="displayName"
                  formControlName="displayName" [readOnly]="!authService.isEditable('champ-nom-complet-utilisateur')">
                <div *ngIf="submitted && f.displayName.errors" class="invalid-feedback">
                  <div *ngIf="f.displayName.errors.required">
                    {{"userAdminUtilisateurList.Mettez_le_nom_propre_complet_de_l_utilisateur" | translate}}</div>
                </div>
              </div>
              <div class="form-group col-md-6 col-xl-6" *ngIf="authService.isVisible('liste-caisse')">
                <label for="caisse" class="col-form-label">
                  {{"userAdminUtilisateurList.Caisse" | translate}}</label>
                <ng-multiselect-dropdown id="caisse" #selectCaisse
                  [ngClass]="{'is-invalid': submitted && f.caisses.errors }"
                                         [placeholder]="choix_2"
                  [data]="dataCaisse" formControlName="caisses" (onSelect)="onSelectCaisse($event)"
                  (onDeSelect)="onDeselectCaisse($event)" [settings]="settings"
                  [attr.disabled]="authService.isEditable('liste-caisse') == true ? null : true">
                </ng-multiselect-dropdown>
                <div *ngIf="submitted && f.caisses.errors" class="invalid-feedback">
                  <div *ngIf="f.caisses.errors.required">
                    {{"userAdminUtilisateurList.La_caisse_des_utilisateurs_est_obligatoire" | translate}}</div>
                </div>
              </div>
              <div class="form-group col-md-6 col-xl-6" *ngIf="authService.isVisible('liste-role')">
                <label for="role" class="col-form-label">
                  {{"userAdminUtilisateurList.Role_de_l_utilisateur" | translate}}</label>
                <ng-multiselect-dropdown id="role" #selectRole [ngClass]="{'is-invalid': submitted && f.roles.errors }"
                  (onSelect)="onSelectRole($event)" (onDeSelect)="onDeselectRole($event)"
                  [placeholder]="choix" [data]="dataRole" formControlName="roles" [settings]="settings"
                  [attr.disabled]="authService.isEditable('liste-role') == true ? null : true">
                </ng-multiselect-dropdown>
                <div *ngIf="submitted && f.roles.errors" class="invalid-feedback">
                  <div *ngIf="f.roles.errors.required">
                    {{"userAdminUtilisateurList.Les_roles_d_utilisateur_sont_obligatoire" | translate}}</div>
                </div>
              </div>
              <div class="form-group col-md-6 col-xl-6 mega-menu-contact"
                *ngIf="authService.isVisible('champ-telephone-utilisateur')">
                <label for="telephone" class="col-form-label">
                  {{"userAdminUtilisateurList.Telephone_d_utilisateur" | translate}}</label>
                <input class="form-control" type="text" [ngClass]="{'is-invalid': submitted && f.telephone.errors }"
                  placeholder="{{'userAdminUtilisateurList.Entrer_le_numero_de_telephone' | translate}}" id="telephone"
                  formControlName="telephone" [readOnly]="!authService.isEditable('champ-telephone-utilisateur')">
                <div *ngIf="submitted && f.telephone.errors" class="invalid-feedback">
                  <div *ngIf="f.telephone.errors.required">
                    {{"userAdminUtilisateurList.Le_numero_de_telephone_utilisateur_est_obligatoire" | translate}}</div>
                  <div *ngIf="f.telephone.errors.pattern">
                    {{"userAdminUtilisateurList.Le_numéro_de_télephone_doit_avoir_9_chiffres_et_débuter_par_6" |
                    translate}}</div>
                </div>
              </div>
              <div class="form-group col-md-6 col-xl-6 mega-menu-contact"
                *ngIf="authService.isVisible('champ-password-utilisateur')">
                <label for="password" class="col-form-label">
                  {{"userAdminUtilisateurList.Mot_de_passe" | translate}}</label>
                <input class="form-control" type="password"
                  placeholder="{{'userAdminUtilisateurList.Entrer_le_mot_de_passe' | translate}}" id="password"
                  [ngClass]="{'is-invalid': submitted && f.password.errors }" formControlName="password"
                  [readOnly]="!authService.isEditable('champ-password-utilisateur')">
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">
                    {{"userAdminUtilisateurList.Le_password_est_obligatoire" | translate}}</div>
                  <div *ngIf="f.password.errors.minlength">
                    {{"userAdminUtilisateurList.Le_password_doit_avoir_plus_de_six_caracteres" | translate}}</div>
                </div>
              </div>
              <div class="form-group col-md-6 col-xl-6 mega-menu-contact"
                *ngIf="authService.isVisible('champ-confirm-password-utilisateur')">
                <label for="confirmation" class="col-form-label">
                  {{"userAdminUtilisateurList.Confirmation" | translate}}</label>
                <input class="form-control" type="password"
                  [ngClass]="{'is-invalid': submitted && f.confirmation.errors }"
                  placeholder="{{'userAdminUtilisateurList.Entrer_la_confirmation' | translate}}" id="confirmation"
                  formControlName="confirmation"
                  [readOnly]="!authService.isEditable('champ-confirm-password-utilisateur')">
                <div *ngIf="submitted && f.confirmation.errors" class="invalid-feedback">
                  <div *ngIf="f.confirmation.errors.required">
                    {{"userAdminUtilisateurList.La_confirmation_est_obligatoire" | translate}}</div>
                  <div *ngIf="f.confirmation.errors.mustMatch">
                    {{"userAdminUtilisateurList.Les_deux_password_doivent_etre_identiques" | translate}}</div>
                </div>
              </div>
              <div class="text-center col-md-12">
                <!--p class="text-danger">{{error_add_user}} </p-->
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer row">
          <div class="col-2">
            <button *ngIf="currentUser" type="button" (click)="onDeleteUser(currentUser)"
              class="btn btn-danger btn-round text-right m-0 p-1"
              [disabled]="!authService.isActif('bouton-supprimer-utilisateur')">
              <i class="icofont icofont-trash icofont-2x m-0"></i>
            </button>
          </div>
          <div class="col-8 row d-flex justify-content-end">
            <button class="btn btn-outline-danger btn-sm" (click)="onResetUtilisateur()"
              [disabled]="!authService.isActif('bouton-effacer')"><i class="icofont icofont-close-circled"></i>
              {{"userAdminUtilisateurList.Effacer" | translate}}</button>
            <button class="btn btn-primary btn-sm ml-5" (click)="onSaveUtilisateur()"
              [disabled]="!authService.isActif('bouton-enregistrer')"><i class="icofont icofont-check-circled"></i>
              {{"userAdminUtilisateurList.Enregistrer" | translate}}</button>
          </div>
        </div>

      </ng-template>
    </div>
  </div>
</app-card>
<!-- List utilisateurs card end -->
