<!-- List utilisateurs card start  | paginate: {itemsPerPage: pageSize,
      currentPage: page + 1, totalItems: totalElements}  *ngIf="utilisateur.id !=1 && utilisateur.id !=2 && utilisateur.enable != false"-->
<app-card [title]="'userEleveAjaout.Gestion_des_utilisateurs_de_la_plateforme'" [classHeader]="true"
          [blockClass]="'table-border-style'">
  <div class="row">
    <div class="col-6 input-group pl-4" [formGroup]="searchForm"
         *ngIf="authService.isVisible('champ-recherche-utilisateur-portail')">
      <input list="elevesSearch" id="search" class="form-control"
             placeholder="{{'userAdminDiscEnseigList.Search' | translate}}" formControlName="search"
             [readOnly]="!authService.isEditable('champ-recherche-utilisateur-portail')"
             (ngModelChange)="onReloadListUserPortail(search.search.value, true)">
      <datalist id="elevesSearch" *ngIf="utilisateursPortail">
        <option value="{{ utilisateur.nomParent }}" *ngFor="let utilisateur of utilisateursPortail">{{
          utilisateur.email + ' ' + utilisateur.identifiantPortail }}</option>
      </datalist>
      <div class="input-group-sm" *ngIf="authService.isVisible('bouton-rechercher-utilisateur-portail')">
        <span class="input-group-text icofont icofont-search clickable"
              (click)="this.authService.isActif('bouton-rechercher-utilisateur-portail') ? onLoadListParent(search.search.value, true) : ''"></span>
      </div>
    </div>
    <div class="col-6 text-right" >
      <div class="" *ngIf="authService.isVisible('bouton-ajouter-un-parent')" >
        <button class="btn btn-primary btn-sm ml-5 mr-4 m-1"
                [disabled]="!authService.isActif('bouton-ajouter-un-parent')" (click)="onEditUser(null, modalEditUser)">
        <i class="icofont icofont-check-circled"></i>{{"userEleveAjaout.Ajouter_un_Parent" | translate}}</button>
      </div>
      <div  class="" *ngIf="authService.isVisible('bouton-generer-compte-parent')"  >
        <button class="btn btn-primary btn-sm ml-5 mr-4 m-1"
                [disabled]="!authService.isActif('bouton-generer-compte-parent')" (click)="onGenereCompteParent()">
          <i class="icofont icofont-check-circled"></i>{{"userEleveAjaout.Generer_les_comptes_Parents" | translate}}</button>
      </div>
    </div>
  </div>
  <div class="browser-card mt-3 p-b-15" *ngIf="utilisateursPortail">
    <div class="clickable" *ngFor="let utilisateur of utilisateursPortail | paginate: {
        itemsPerPage: pageSize, currentPage: page + 1, totalItems: totalElements
        };">
      <div class="container">
        <div class="row">
          <div class="col-1 col-xs-3 mr-3">
            <ngx-avatar [name]="genericsService.traiterDisplayName(utilisateur.nomParent)"></ngx-avatar>
          </div>
          <div class="col-8 col-xs-6">
            <h5 class="m-0 text-blue">{{ utilisateur.nomParent | titlecase }}</h5>
            <p class="m-0">
              <em>{{ utilisateur.email}} | {{ utilisateur.identifiantPortail }} |
                <span *ngIf="utilisateur.codeAcces!=null">{{ utilisateur.codeAcces + ','}}</span></em>
            </p>
          </div>
          <div class="col-2 col-xs-2 mt-2 ml-3 mr-2">
            <button type="button" class="btn btn-grd-success btn-round m-0 mr-2 p-2"
                    (click)="onEditUser(utilisateur, modalEditUser)"
                    [disabled]="!authService.isActif('bouton-modifier-parent')"
            >
              <i class="icofont icofont-pencil-alt-5 icofont-2x m-0"></i></button>
            <button type="button" class="btn btn-grd-danger btn-round m-0 p-2"
                    (click)="onDeleteUtilisateurPortail(utilisateur.id)"
                    [disabled]="!authService.isActif('bouton-supprimer-parent') || utilisateur.codeAcces!=null ">
              <i class="icofont icofont-ui-delete icofont-2x m-0"></i></button>
          </div>
        </div>
      </div>

      <div class="dropdown-divider"></div>
    </div>
    <pagination-controls style="text-align:center; vertical-align:middle;"
                         autoHide="true"
                         [maxSize]="10"
                         (pageChange)="setPageChange($event)"></pagination-controls>
  </div>

  <div class="row">
    <div class="col-12">
      <ng-template #modalEditUser let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="edit-user">{{"userEleveAjaout.Edition_du_parent" | translate}} <span *ngIf="currentUser">{{
            currentUser.nomParent}}</span></h4>
          <button type="button" class="close" aria-label="Close" (click)="onCloseModalUtilisateur()">
            <span aria-hidden="true" class="icofont icofont-close-line-squared-alt text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <!--<div class="col-12 input-group pl-4" [formGroup]="searchForm"
               *ngIf="authService.isVisible('champ-recherche-enseignant')">
            <input list="parentSearch" id="searchParent" class="form-control"
                   placeholder="{{'userAdminDiscEnseigList.Search' | translate}}" formControlName="searchParent"
                   [readOnly]="!authService.isEditable('champ-recherche-utilisateur-portail')"
                   (keyup)="onChangeListParent($event)"
                   >&lt;!&ndash;(ngModelChange)="onLoadListElevesParent($event)"&ndash;&gt;
            <datalist id="parentSearch" *ngIf="listParentEleves">
              <option value="{{ parent.nomParent }}" *ngFor="let parent of listParentEleves">{{
                parent.email + ' ' + parent.telephoneParent }}</option>
            </datalist>
          </div>-->
          <form [formGroup]="UtilisateurForm">
            <div class="row">
              <div class="form-group col-md-6 col-xl-6 mega-menu-contact"
                   *ngIf="authService.isVisible('champ-nom-complet-parent')">
                <label for="nomParent" class="col-form-label">{{"userEleveAjaout.Nom_Complet" | translate}}</label>
                <input class="form-control"
                       list="parentSearch"
                       [ngClass]="{'is-invalid': submitted && fuser.nomParent.errors }"
                       placeholder="{{'userEleveAjaout.Entrer_le_nom_complet' | translate}}"
                       id="nomParent" formControlName="nomParent"
                       (keyup)="onChangeListParent($event)"
                       [readOnly]="!authService.isEditable('champ-nom-complet-parent')">
                <datalist id="parentSearch" *ngIf="listParentEleves">
                  <option value="{{ parent.nomParent }}" *ngFor="let parent of listParentEleves">{{
                    parent.email + ' ' + parent.telephoneParent }}</option>
                </datalist>
                <div *ngIf="submitted && fuser.nomParent.errors" class="invalid-feedback">
                  <div *ngIf="fuser.nomParent.errors.required">
                    {{"userEleveAjaout.Mettez_le_nom_propre_complet_de_l_utilisateur" | translate}}</div>
                </div>
              </div>
              <div class="form-group col-md-6 col-xl-6 mega-menu-contact"
                   *ngIf="authService.isVisible('champ-numero-telephone-parent')">
                <label for="identifiantPortail" class="col-form-label">
                  {{"userEleveAjaout.Telephone_du_parent" | translate}}</label>
                <input class="form-control" type="text"
                       [ngClass]="{'is-invalid': submitted && fuser.identifiantPortail.errors }"
                       placeholder="{{'userEleveAjaout.Entrer_le_numero_de_identifiantPortail' | translate}}" id="identifiantPortail"
                       formControlName="identifiantPortail"
                       [readOnly]="!authService.isEditable('champ-numero-telephone-parent-portail') || (currentUser && currentUser.codeAcces!=null)">
                <div *ngIf="submitted && fuser.identifiantPortail.errors" class="invalid-feedback">
                  <div *ngIf="fuser.identifiantPortail.errors.required">
                    {{"userEleveAjaout.Le_numero_de_telephone_du_parent_est_obligatoire" | translate}}</div>
                  <div *ngIf="fuser.identifiantPortail.errors.pattern">
                    {{"userEleveAjaout.Le_numéro_de_télephone_doit_avoir_9_chiffres_et_débuter_par_6" | translate}}</div>
                </div>
              </div>
              <div class="form-group col-md-6 col-xl-6 mega-menu-contact"
                   *ngIf="authService.isVisible('champ-email-parent')">
                <label for="email" class="col-form-label">{{"userEleveAjaout.Email" | translate}}</label>
                <input class="form-control" type="email"
                       [readOnly]="!authService.isEditable('champ-email-parent')"
                       placeholder="{{'userEleveAjaout.Entrer_le_mail' | translate}}"
                       [ngClass]="{'is-invalid': submitted && fuser.email.errors }" id="email"
                       formControlName="email">
                <div *ngIf="submitted && fuser.email.errors" class="invalid-feedback">
                  <div *ngIf="fuser.email.errors.required">
                    {{"userEleveAjaout.L_email_d_utilisateur_est_obligatoire" | translate}}</div>
                  <div *ngIf="fuser.email.errors.email">
                    {{"userEleveAjaout.Email_doit_etre_une_adresse_email_valide" | translate}}</div>
                </div>
              </div>
              <div class="text-center col-md-12">
                <!--p class="text-danger">{{error_add_user}} </p-->
              </div>
            </div>
          </form>
          <form [formGroup]="UtilisateurForm" novalidate>
            <div class="row">
              <div class="col-12">
                <table class="table table-hover">
                  <thead>
                  <tr>
                    <th>#</th>
                    <th style="min-width: 250px;">{{"userEleveAjaout.Matricule" | translate}}</th>
                    <th>{{"userEleveAjaout.Nom_s_et_prenom_s" | translate}}</th>
                    <th>{{"userEleveAjaout.Classe" | translate}}</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody  *ngFor="let matricule of t.controls; let i = index">
                  <tr [formGroup]="matricule">
                    <th scope="row">{{ i+1 }}</th>
                    <td style="min-width: 250px;">
                      <div class="input-group m-0 p-0">
                        <!--<ng-multiselect-dropdown id="eleve" #selectEleve
                                                 [placeholder]="placeholder"
                                                 [data]="dataEleve" formControlName="matricule"
                                                 (keyup)="onChange($event)"
                                                 (ngModelChange)="onChangeEleve($event, i)"
                                                 [settings]="settings">
                        </ng-multiselect-dropdown>-->
                        <input class="form-control"
                               list="eleveSearch"
                               [ngClass]="{'is-invalid': submitted && fuser.nomParent.errors }"
                               placeholder="{{'userEleveAjaout.Rechercher_eleve' | translate}}"
                               id="eleve" formControlName="matricule"
                               (keyup)="onChange($event,i)"

                               [readOnly]="!authService.isEditable('champ-nom-complet-parent')"><!--(ngModelChange)="onChangeEleve($event, i)"-->
                        <datalist id="eleveSearch" *ngIf="listeEleves">
                          <option value="{{ eleve.matricule }}" *ngFor="let eleve of listeEleves">{{
                            eleve.nomEleve + ' ' + eleve.classe }}</option>
                        </datalist>
                      </div>

                      <!--div class="input-group"><"liste-choisir-eleve">
                          <select class="custom-select form-control"
                              formControlName="matricule" (keyup)="onChange($event)"
                              (ngModelChange)="onChangeEleve($event, i)">
                              <option value="">Choisir un eleve</option>
                              <option *ngFor="let modele of listInscriptionFiltre"
                                  value="{{ modele.matricule }}">{{ modele.matricule }}
                              </option>
                          </select>
                      </div-->
                    </td>
                    <td>
                      <div class="input-group">
                        <input type="text" lang="en" disabled="true"
                               [readOnly]=" !authService.isEditable('champ-noms-prenoms-eleve')"
                               formControlName="nomEleve" class="form-control"
                               placeholder="{{'userEleveAjaout.nom_eleve' | translate}}">
                      </div>
                    </td>
                    <td>
                      <div class="input-group">
                        <input class="form-control" type="text" disabled="true"
                               placeholder="{{'userEleveAjaout.classe' | translate}}" formControlName="classe"
                               [readOnly]="!authService.isEditable('champ-classe-eleve')">
                      </div>
                    </td>
                    <td>
                      <ng-container>
                        <!--button class="btn btn-outline-dark btn-icon mr-2"
                            title="Modifier la ligne"
                            [disabled]="!authService.isActif('modifier-eleve-parent')"><em
                                class="icofont icofont-pen-alt-1"></em></button>
                        <button class="btn btn-outline-dark btn-icon mr-2"
                            title="Enregistrer modification" *ngIf="canSave"
                            (click)="onAddServiceToInscription()"><em
                                class="icofont icofont-save"></em></button-->
                        <button class="btn btn-outline-danger btn-icon mr-2"
                                title="{{'userEleveAjaout.Retirer_de_la_liste' | translate}}"
                                *ngIf="t.at(i).value.obligatoire != 'O'"
                                [disabled]="!authService.isActif('bouton-retirer-eleve')"
                                (click)="onDeleleLineToServiceSelect(i)"><em
                          class="icofont icofont-minus icofont-2x"></em></button>
                      </ng-container>
                    </td>

                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-12 pt-0">
                <div class="row bg-light ml-2 mr-2">
                  <button type="button" class="btn btn-light btn-block"
                          [disabled]="!authService.isActif('ajouter-eleve-parent')"
                          (click)="onAddLineToServiceSelect()">
                    <em class="icofont icofont-plus">{{"userEleveAjaout.Ajouter_un_Eleve" | translate}}</em></button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer row">
          <div class="col-2">
            <button *ngIf="currentUser" type="button" (click)="onDeleteUtilisateurPortail(currentUser)"
                    class="btn btn-danger btn-round text-right m-0 p-1"
                    [disabled]="!authService.isActif('bouton-supprimer-parent') || currentUser.codeAcces!=null">
              <i class="icofont icofont-trash icofont-2x m-0"></i>
            </button>
          </div>
          <div class="col-8 row d-flex justify-content-end">
            <button class="btn btn-outline-danger btn-sm" (click)="onCloseModalUtilisateur()"
                    [disabled]="!authService.isActif('bouton-effacer')"><i
              class="icofont icofont-close-circled"></i>{{"userEleveAjaout.Effacer" | translate}}</button>
            <button class="btn btn-primary btn-sm ml-5" (click)="onSaveUtilisateur()"
                    [disabled]="!authService.isActif('bouton-enregister-compte-parent')"><i
              class="icofont icofont-check-circled"></i>{{"userEleveAjaout.Enregistrer" | translate}}</button>
          </div>
        </div>

      </ng-template>
    </div>
  </div>
</app-card>
<!-- List utilisateurs card end -->
