<app-card [title]="'Etat de remplissage des notes'" [classHeader]="true" [blockClass]="'table-border-style'">
  <div class="table-responsive">
    <div class="card b-l-danger business-info services mb-0">
      <div class="card-body p-1 mb-0">
        <div class="row" *ngIf="etat">
          <div class="col-sm-12">
            <p class="task-detail h5"><span>
              {{"userAdminDiscEnseigEtat.Enseignant" | translate}}&nbsp;&nbsp; </span>
              <span class="text-bold">{{ etat?.enseignant?.nom_enseignant + ' ' + etat?.enseignant?.prenom_enseignant + ' ' +
              etat?.enseignant?.email + ' ( ' + etat?.enseignant?.telephone_1 + ' / ' + etat?.enseignant?.telephone_2 + ' )'}}</span></p>
          </div>
        </div>
      </div>
    </div>
    <table class="table table-hover" *ngIf="etat && sequences">
      <thead>
      <tr>
        <th>#</th>
        <th>{{"userAdminDiscEnseigEtat.Matieres" | translate}}</th>
        <th>{{"userAdminDiscEnseigEtat.Classes" | translate}}</th>
        <th *ngFor="let sequence of sequences">{{ sequence.nom_sequence}}</th>
      </tr>
      </thead>
      <tbody *ngIf="etat">
      <tr *ngFor="let etatr of etat.etatRemplissage; let i= index">
        <th scope="row">{{ '#' + (i+1) }}</th>
        <td>{{ etatr.matiere.nom_matiere }}</td>
        <td>{{ etatr.classe.nomClasse }}</td>
        <td *ngFor="let seq of etatr.etatSequenceNoteDTOS">
          <span class="icofont" [ngClass]="seq.rempli == false ? 'icofont-close bg-danger' : 'icofont-check bg-success'"></span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</app-card>

