<div class="row">
  <!-- card1 start -->
  <div class="col-md-6 col-xl-3" *ngIf="authService.isVisible('bouton-absences')">
    <div class="card widget-card-1 clickable"
         [routerLink]="authService.isActif('bouton-absences') ? '/discipline/remplir-absences' : ''">
      <div class="card-block-small">
        <i class="icofont icofont-quill-pen bg-c-pink card1-icon"></i>
        <span class="text-c-blue f-w-600">
          {{"userCensoratWelcom.Absences" | translate}}</span>
        <h3 class="text-center text-muted">
          <i class="text-c-green icofont icofont-eye-alt"></i>
        </h3>
        <div>
        <span class="f-left m-t-10 text-muted">
          <i class="text-c-blue f-16 icofont icofont-quill-pen m-r-10"></i>
          {{"userCensoratWelcom.Remplir_les_absences" | translate}}
        </span>
        </div>
      </div>
    </div>
  </div>
  <!-- card1 end -->
  <!-- card2 start -->
  <div class="col-md-6 col-xl-3" *ngIf="authService.isVisible('bouton-sanctions')">
    <div class="card widget-card-1 clickable"
         [routerLink]="authService.isActif('bouton-sanctions') ? '/discipline/enregistrer-sanctions' : ''">
      <div class="card-block-small">
        <i class="icofont icofont-teacher bg-instagram card1-icon"></i>
        <span class="text-c-pink f-w-600">
          {{"userCensoratWelcom.Sanctions" | translate}}</span>
        <h3 class="text-center text-muted">
          <i class="text-c-green icofont icofont-eye-alt"></i>
        </h3>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-pink f-16 icofont icofont-teacher m-r-10"></i>
            {{"userCensoratWelcom.Saisir_sanctions" | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- card2 end -->
  <!-- card3 start -->
  <div class="col-md-6 col-xl-3" *ngIf="authService.isVisible('bouton-absence-justification')">
    <div class="card widget-card-1 clickable"
         [routerLink]="authService.isActif('bouton-absence-justification') ? '/discipline/remplir-absences/0/0/0' : ''">
      <div class="card-block-small">
        <i class="icofont icofont-bell-alt bg-c-green card1-icon"></i>
        <span class="text-c-green f-w-600">
          {{"userCensoratWelcom.Absence" | translate}}</span>
        <h3 class="text-center text-muted">
          <i class="text-c-green icofont icofont-eye-alt"></i>
        </h3>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-green f-16 icofont icofont-bell m-r-10"></i>
            {{"userCensoratWelcom.Justifier_une_absence" | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- card3 end -->
  <!-- card5 start -->
  <div class="col-md-6 col-xl-3" *ngIf="authService.isVisible('bouton-proces-verbal')">
    <div class="card widget-card-1 clickable"
         [routerLink]="authService.isActif('bouton-proces-verbal') ? '/discipline/proces-verbaux' : ''">
      <div class="card-block-small">
        <i class="icofont icofont-law-document bg-c-green card1-icon"></i>
        <span class="text-c-orenge f-w-600">
          {{"userCensoratWelcom.Procès_verbaux" | translate}}</span>
        <h3 class="text-center text-muted">
          <i class="text-c-green icofont icofont-eye-alt"></i>
        </h3>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-yellow f-16 icofont icofont-file-document m-r-10"></i>
            {{"userCensoratWelcom.Procès_verbaux" | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- card5 end -->
  <!-- card6 start -->
  <div class="col-md-6 col-xl-3" *ngIf="authService.isVisible('bouton-configuration')">
    <div class="card widget-card-1 clickable"
         [routerLink]="authService.isActif('bouton-configuration') ? '/administration/discipline/d-welcome' : ''">
      <div class="card-block-small">
        <i class="icofont icofont-automation bg-instagram card1-icon"></i>
        <span class="text-c-pink f-w-600">
          {{"userCensoratWelcom.Configuration" | translate}}</span>
        <h3 class="text-center text-muted">
          <i class="text-c-green icofont icofont-eye-alt"></i>
        </h3>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-pink f-16 icofont icofont-tools-alt-1 m-r-10"></i>
            {{"userCensoratWelcom.Configuration" | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- card6 end -->
</div>
