<!-- List utilisateurs card start -->
<app-card [title]="'userAdminDiscDWelcome.Gestion_des_impressions'" [classHeader]="true" [blockClass]="'table-border-style'">
  <div class="row">
    <div class="col-7"></div>
    <div class="col-xl-5">

      <div class="input-group" [formGroup]="searchForm">
        <input type="text" class="form-control" aria-label="Search in state" (keyup)="onChangeValueSearch($event)"
               placeholder="{{'userEtatList.Search' | translate}}" formControlName="search" *ngIf="authService.isVisible('champ-recherche-etat')"
          [readOnly]="!authService.isEditable('champ-recherche-etat')">
        <div class="input-group-append" *ngIf="authService.isVisible('bouton-recherche-etat')">
          <span class="input-group-text icofont icofont-search" (click)="onSearchEtat()"></span>
        </div>
      </div>

      
    </div>
  </div>
  <div class="browser-card p-b-15" *ngIf="etats && etats.length > 0">
    <div class="clickable" *ngFor="let etat of etats | paginate: { itemsPerPage: pageSize,
    currentPage: page + 1, totalItems: totalElements}">
      <ng-container *ngIf="authService.isVisible(etat.id)">
        <div class="container business-info services p-0 m-0"
          [ngClass]="etat.groupe == 'Finances' ? 'b-l-danger' : 'b-l-info'">
          <div class="row ml-3">
            <div class="col-md-8">
              <h5 class="m-0 text-blue-small">{{ siteLanguage == 'en' ? etat.libelle_en : etat.libelle}}</h5>
              <p class="m-0" ><em>{{ siteLanguage == 'en' ? etat.description_en : etat.description}}</em></p>
              <p class="m-0" ><em class="icofont icofont-book-mark"></em><em>{{ etat.groupe }}</em></p>
            </div>
            <!--          <div class="col-3"><p class="m-0">{{ etat.fenetre.libelleFenetre }}</p></div>-->
            <div class="col-md-4 mt-1" *ngIf="authService.isEditable(etat.id)">
              <button class="btn bg-warning float-right btn-browser mr-2" [disabled]="!authService.isActif(etat.id)"
                (click)="onOpenPrintModal(etat, modalPrintEtat)">
                <em class="icofont icofont-printer mr-3"></em>
                {{"userEtatList.Imprimer" | translate}}
              </button>
            </div>
          </div>
        </div>
        <div class="dropdown-divider btn-secondary"></div>
      </ng-container>
    </div>
    <div class="container business-info services b-l-info p-0 m-0">
      <div class="row ml-3">
        <div class="col-md-8">
          <h5 class="m-0 text-blue-small">
            {{"userEtatList.Imprimer_les_anciens_bulletins" | translate}}</h5>
          <p class="m-0"><em>
              {{"userEtatList.Imprimer_ici_les_bulletins_des_annees_precedentes_et_avoir_des_copies" | translate}}</em>
          </p>
          <p class="m-0"><em class="icofont icofont-book-mark"></em><em>
              {{"userEtatList.Pedagogique" | translate}}</em></p>
        </div>

        <div class="col-md-4 mt-1">
          <button class="btn bg-warning float-right btn-browser mr-2" (click)="onSelectAnnuel(annuel)">
            <em class="icofont icofont-printer mr-3"></em>
            {{"userEtatList.Imprimer" | translate}}
          </button>
        </div>
      </div>
    </div>
    <pagination-controls style="text-align:center; vertical-align:middle;" autoHide="true" [maxSize]="10"
      (pageChange)="setPageChange($event)"></pagination-controls>
  </div>
  <div class="display-4" *ngIf="etats && etats.length == 0">
    {{"userEtatList.Aucun_etat_imprimable_disponible" | translate}}
  </div>
  <div class="row">
    <div class="col-12">
      <ng-template #modalPrintEtat let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="print-etat"><span *ngIf="currentEtat">{{ siteLanguage == 'en' ? currentEtat.description_en :currentEtat.description}}</span></h4>
          <button type="button" class="close" aria-label="Close" (click)="onResetPrintEtat()">
            <span aria-hidden="true" class="icofont icofont-close-line-squared text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12 col-xl-12">
              <fieldset class="scheduler-border">
                <legend class="scheduler-border">
                  {{"userEtatList.Filtres" | translate}}</legend>
                <form [formGroup]="filtreEtatForm" novalidate>
                  <div class="row">
                    <div class="col-12">
                      <table class="table table-hover">
                        <thead>

                          <tr>
                            <th>{{"userEtatList.Nom" | translate}}</th>
                            <th>{{"userEtatList.Contenu" | translate}}</th>
                          </tr>
                        </thead>
                        <tbody *ngFor="let filtre of tp.controls; let i = index">
                          <tr [formGroup]="filtre">
                            <td class="m-0 p-0 w-50">
                              <div class="input-group m-0 p-1" *ngIf="siteLanguage == 'en'">
                                <input type="text" formControlName="libelle_En" class="form-control" [readOnly]="true"
                                       [ngClass]="{'is-invalid': filtre.touched && filtre.controls.libelle_En.errors }">
                              </div>

                              <div class="input-group m-0 p-1" *ngIf="siteLanguage == 'fr'">
                                <input type="text" formControlName="libelle" class="form-control" [readOnly]="true"
                                [ngClass]="{'is-invalid': filtre.touched && filtre.controls.libelle.errors }">
                              </div>


                            </td>
                            <td class="m-0 p-0 w-50">
                              <div class="input-group m-0 p-1"
                                *ngIf="filtre.controls.type.value == 0 || filtre.controls.type.value == 1">
                                <input type="text" formControlName="valeur" class="form-control"
                                  [ngClass]="{'is-invalid': filtre.touched && filtre.controls.valeur.errors }">
                              </div>
                              <div class="m-0 p-1"
                                *ngIf="filtre.controls.type.value == 2 || filtre.controls.type.value == 3">
                                <ng-multiselect-dropdown id="valeur" #selectVue
                                  [ngClass]="{'is-invalid': filtre.touched && filtre.controls.valeur.errors }"
                                  [placeholder]="eric"
                                  [data]="availableFiltre[filtre.controls.nom.value]" formControlName="valeur"
                                  (onSelect)="onSelectVue($event)" (onDeSelect)="onDeselectVue($event)"
                                  [settings]="settings"></ng-multiselect-dropdown>
                              </div>
                              <div class="input-group m-0 p-1" *ngIf="filtre.controls.type.value == 4">
                                <input type="date" formControlName="valeur" class="form-control"
                                  [ngClass]="{'is-invalid': filtre.touched && filtre.controls.valeur.errors }">
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </form>
              </fieldset>
              <div class="dropdown-divider"></div>
              <div class="row">
                <div class="col-12 text-right">

                  <button type="button" class="btn btn-sm btn-outline-danger ml-3 mr-2" (click)="onResetPrintEtat()">
                    {{"userEtatList.Annuler" | translate}}</button>
                  <button type="button" (click)="onPrintEtatType(false)" class="btn btn-sm btn-facebook mr-2">
                    {{"userEtatList.Imprimer" | translate}}</button>
                  <div ngbDropdown placement="top-right" class="d-inline-block">
                    <button class="btn btn-sm btn-facebook" id="dropdownBasic1" ngbDropdownToggle>
                      {{"userEtatList.Télécharger" | translate}}</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">

                      <button ngbDropdownItem (click)="onPrintEtatType(false)" class="btn btn-default btn-sm p-1">
                        {{"userEtatList.Document_PDF" | translate}}
                        <span class="icofont icofont-download ml-2"></span></button>
                      <button ngbDropdownItem (click)="onPrintEtatType(true)" class="btn btn-default btn-sm p-1">
                        {{"userEtatList.Document_XLS" | translate}}
                        <span class="icofont icofont-download ml-2"></span></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <ng-template #annuel let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-annuel">
            {{"userEtatList.Choisir_l_annee_a_utiliser" | translate}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="onReset()">
            <span aria-hidden="true" class="icofont icofont-close-line-squared text-danger"></span>
          </button>
        </div>
        <div class="modal-body" *ngIf="listOldAnnees">
          <form [formGroup]="printBulletinForm">
            <div class="form-group">
              <label for="idAnnee" class="col-form-label">
                {{"userEtatList.année" | translate}}</label>
              <select name="idAnnee" formControlName="idAnnee" class="form-control" id="idAnnee"
                [ngClass]="{'is-invalid': submitted && annee.idAnnee.errors }">
                <option value="0">--- {{"userEtatList.Sélectionner_une_annee" | translate}} ---</option>
                <option *ngFor="let annee of listOldAnnees" value="{{ annee.id }}">{{ annee.codeAnnee }}</option>
              </select>
              <div *ngIf="submitted && annee.idAnnee.errors" class="invalid-feedback">
                <div *ngIf="annee.idAnnee.errors.required">
                  {{"userEtatList.Le_choix_de_l_annee_est_obligatoire" | translate}}</div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger btn-sm mr-2" (click)="onReset()">
            {{"userEtatList.Annuler" | translate}}</button>
          <button type="button" (click)="onDisplayListBulletin()" class="btn btn-primary btn-sm">
            {{"userEtatList.Suivant" | translate}} >></button>
        </div>
      </ng-template>
    </div>
  </div>
</app-card>
<!-- List utilisateurs card end -->
