<app-card [title]="'Classe : ' +  currentClasse?.nomClasse + ' Spécialité : '+ currentClasse?.specialite"
          [icone]="'icofont-ui-user'" [classHeader]="true" [blockClass]="'table-border-style'">
  <div class="table-responsive">
    <table class="table table-hover table-xs">
      <thead>
      <tr>
        <th>#</th>
        <th>{{"userAdminDiscClassesListeMatieres.Matiere" | translate}}</th>
        <th>{{"userAdminDiscClassesListeMatieres.Enseignant" | translate}}</th>
        <th>{{"userAdminDiscClassesListeMatieres.Coef" | translate}}</th>
        <th>{{"userAdminDiscClassesListeMatieres.Barème" | translate}}</th>
      </tr>
      </thead>
      <tbody *ngIf="matieresClasse && matieresClasse.length > 0">
      <tr *ngFor="let matiere of matieresClasse; let i = index">
        <th scope="row">{{ '#' + (i+1)}}</th>
        <td>
          <p class="p-0 m-0">{{ matiere.matiere.nom_matiere }}</p>
          <p class="p-0 m-0 text-googleplus"><em>{{ matiere.matiere.nom_matiere_2 }}</em></p>
        </td>
        <td>
          <p class="p-0 m-0">
            {{ matiere.enseignant.sexe == 'M' ? 'Monsieur ' : 'Madame '}}
            {{ matiere.enseignant.nom_enseignant + ' ' +  matiere.enseignant.prenom_enseignant }}
          </p>
          <p class="p-0 m-0 text-googleplus"><em>{{ matiere.enseignant.telephone_1 + ' / '+ matiere.enseignant.telephone_2 }}</em></p>
        </td>
        <td>{{ matiere.coefficient }}</td>
        <td>{{ matiere.baremeEvaluation }}</td>
      </tr>
      </tbody>
    </table>
    <div class="row">
      <div class="col-12 text-center h4" *ngIf="matieresClasse && matieresClasse.length == 0">
        {{"userAdminDiscClassesListeMatieres.Aucune_donnée_disponible" | translate}}</div>
    </div>
  </div>
</app-card>
