<!-- Details eleves card start -->
<app-card [classHeader]="true" [title]="'userAppWelcomDetail.Etat_financier_d_un_élève'" [blockClass]="'table-border-style'">
  <form>
    <div class="row" *ngIf="inscription && inscription.eleve">
      <div class="col-6 pt-2 pl-4">
        <app-card [classHeader]="false" [blockClass]="'table-border-style'">
          <div class="row">
            <div class="col-12 pb-0 mb-0">
              <div class="view-info">
                <div class="row">
                  <div class="col-lg-12 pb-0 mb-0">
                    <div class="row">
                      <div class="col-sm-12">
                        <h4>{{"userAppWelcomDetail.Informations_élève" | translate}}</h4>
                      </div>
                      <div class="col-sm-4">
                        <a href="javascript:" class="profile-image">
                          <img class="user-img img-radius" src="assets/img/icone-dark.svg" alt="user-img">
                        </a>
                        <div class="general-info">
                          <div class="table-responsive">
                            <table class="table m-0">
                              <tbody>
                              <tr><th scope="row">{{"userAppWelcomDetail.Sexe" | translate}}</th><td>{{ inscription.eleve.sexe }}</td></tr>
                              <tr><th scope="row">{{"userAppWelcomDetail.Classe" | translate}}</th><td>{{ inscription.classe.nom_classe }}</td></tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-8">
                        <div class="general-info">
                          <div class="table-responsive">
                            <table class="table m-0">
                              <tbody>
                              <tr><th scope="row">{{"userAppWelcomDetail.Nom_s" | translate}}</th><td>{{ inscription.eleve.nomEleve }}</td></tr>
                              <tr><th scope="row">{{"userAppWelcomDetail.Prenom_s" | translate}}</th><td>{{ inscription.eleve.prenomEleve }}</td></tr>
                              <tr><th scope="row">{{"userAppWelcomDetail.Né_le" | translate}}</th><td>{{ inscription.eleve.date_naissance | date }}</td></tr>
                              <tr><th scope="row">{{"userAppWelcomDetail.Matricule" | translate}}</th><td>{{ inscription.eleve.matricule }}</td></tr>
                              <tr><th scope="row">{{"userAppWelcomDetail.Residence" | translate}}</th><td>{{ inscription.eleve.residence_eleve }}</td></tr>
                              <tr><th scope="row">{{"userAppWelcomDetail.Statut" | translate}}</th><td>{{ inscription.eleve.statut == 'N' ? 'Nouveau' : 'Redoublant' }}</td></tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </app-card>
      </div>
      <div class="col-6 pt-2 pr-4">
        <app-card [classHeader]="false" [blockClass]="'table-border-style'">
          <div class="row">
            <div class="col-12 p-3">
              <div class="general-info">
                <div class="table-responsive">
                  <table class="table m-0">
                    <tbody>
                    <tr><th scope="row">{{"userAppWelcomDetail.Telephone" | translate}}</th><td>{{ inscription.eleve.telephonePere | phoneFormat }}</td></tr>
                    <tr><th scope="row">{{"userAppWelcomDetail.Nom_Parent" | translate}}</th><td>{{ inscription.eleve.nomParent }}</td></tr>
                    <tr><th scope="row">{{"userAppWelcomDetail.Bourse" | translate}}</th><td>{{ inscription.totalBourse }}</td></tr>
                    <tr><th scope="row">{{"userAppWelcomDetail.Dispense" | translate}}</th><td>{{ inscription.totalDispense }}</td></tr>
                    <tr><th scope="row">{{"userAppWelcomDetail.Autres_remises" | translate}}</th><td>{{ inscription.totalBonus }}</td></tr>
                    <tr><th scope="row">{{"userAppWelcomDetail.Versement" | translate}}</th><td>{{ inscription.totalVersements }}</td></tr>
                    <tr><th scope="row">{{"userAppWelcomDetail.Reste" | translate}}</th><td>{{ inscription.resteGlobalApayer }}</td></tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </app-card>
      </div>
    </div>
  </form>
</app-card>
<!-- Details elevs card end -->
<!-- Liste des services payés card start -->
<app-card [classHeader]="false" [blockClass]="'table-border-style'">
  <div class="table-responsive" *ngIf="inscription">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>{{"userAppWelcomDetail.Service" | translate}}</th>
        <th>{{"userAppWelcomDetail.Montant" | translate}}</th>
        <th>{{"userAppWelcomDetail.Versement" | translate}}</th>
        <th>{{"userAppWelcomDetail.Autre_remise" | translate}}</th>
        <th>{{"userAppWelcomDetail.Bourse" | translate}}</th>
        <th>{{"userAppWelcomDetail.Dispense" | translate}}</th>
        <th>{{"userAppWelcomDetail.Reste" | translate}}</th>
        <th>{{"userAppWelcomDetail.Date_limite" | translate}}</th>
      </tr>
      </thead>
      <tbody *ngIf="inscription.services">
      <tr *ngFor="let service of inscription.services">
        <th scope="row">{{ service.nomService }}</th>
        <td>{{ service.montant }}</td>
        <td>{{ service.versement }}</td>
        <td>{{ service.bonus }}</td>
        <td>{{ service.bourse }}</td>
        <td>{{ service.dispense }}</td>
        <td>{{ service.reste }}</td>
        <td>{{ service.dateLimite }}</td>
      </tr>
      </tbody>
    </table>
    <div class="row">
      <div class="col-12 text-right">
        <button class="btn btn-warning" (click)="onImpressionEtatFinancier(idInscription, inscription.eleve.matricule)">
          <i class="icofont icofont-printer"></i>
          {{"userAppWelcomDetail.Imprimer_etat_financier" | translate}}</button>
      </div>
    </div>
  </div>
</app-card>
<!-- List des services payés card end -->

<!-- List des recaps de versements card start -->
<app-card [classHeader]="false" [blockClass]="'table-border-style'">
  <div class="table-responsive" *ngIf="inscription">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>{{"userAppWelcomDetail.Date_et_Heure_du_versement" | translate}}</th>
        <th>{{"userAppWelcomDetail.Année" | translate}}</th>
        <th>{{"userAppWelcomDetail.Montant" | translate}}</th>
        <th>{{"userAppWelcomDetail.Recu" | translate}}</th>
        <th>{{"userAppWelcomDetail.Imprimer" | translate}}</th>
      </tr>
      </thead>
      <tbody *ngIf="inscription.versements">
      <tr *ngFor="let versement of inscription.versements">
        <th scope="row">{{ versement.dateRegl }}</th>
        <td>{{ versement.anneeAcademique + '/'+ genericsService.incrementCodeAnnee(versement.anneeAcademique) }}</td>
        <td>{{ versement.montantRgl }}</td>
        <td>{{ versement.service }}</td>
        <td>
          <button class="btn btn-warning btn-icon" (click)="onImpressionRecu(versement)">
            <i class="icofont icofont-printer"></i></button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</app-card>
<!-- List des recaps de versements card end -->
