<div class="row">

  <div class="col-md-6 col-xl-3" *ngIf="authService.isVisible('bouton-saisie-note')">
    <div class="card widget-card-1 clickable"
         (click)="onDisplayModalToNote(modalSelectNote)">
      <div class="card-block-small">
        <i class="icofont icofont-pen-alt-4 bg-instagram card1-icon"></i>
        <span class="text-c-pink f-w-600">
          {{"Remplir_notes" | translate}}</span>
        <h3 class="text-center text-muted">
          <i class="text-c-green icofont icofont-eye-alt"></i>
        </h3>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-pink f-16 icofont icofont-pen-alt-2 m-r-10"></i>
            {{"Gestion_de_notes" | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>

  <!-- card1 start -->
  <div class="col-md-6 col-xl-3">
    <div class="card widget-card-1 clickable"
         [routerLink]="'/gestion-notes/notes/affecter-note-matieres'">
      <div class="card-block-small">
        <i class="icofont icofont-pen-alt-4 bg-instagram card1-icon"></i>
        <span class="text-c-pink f-w-600">
          {{"Affecter_note_matiere" | translate}}</span>
        <h3 class="text-center text-muted">
          <i class="text-c-green icofont icofont-eye-alt"></i>
        </h3>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-pink f-16 icofont icofont-pen-alt-2 m-r-10"></i>
            {{"Affecter_note_matiere" | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- card1 end -->
</div>


<div class="row">
  <div class="col-12">
    <ng-template #modalSelectNote let-c="close" let-d="dismiss" let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="select-note">
          {{"userEspaceWelcom.Remplissage_des_notes" | translate}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="onReset()">
          <span aria-hidden="true" class="icofont icofont-close-line-squared-alt text-danger"></span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="selectNoteClasseForm">
          <ng-container *ngIf="filtreNote">
            <div class="form-group">
              <label for="sequence1">{{"userEspaceWelcom.Séquence" | translate}}</label>
              <select formControlName="sequence" class="custom-select form-control" id="sequence1"
                      [ngClass]="{'is-invalid': submitted && f.sequence.errors }">
                <option value="">--- {{"userEspaceWelcom.Sélectionner_une_séquence" | translate}} ---</option>
                <option *ngFor="let sequence of filtreNote.sequences" value="{{ sequence.id }}">{{ sequence.nomSequence }}</option>
              </select>
              <div *ngIf="submitted && f.sequence.errors" class="invalid-feedback">
                <div *ngIf="f.sequence.errors.required">
                  {{"userEspaceWelcom.Le_choix_de_la_séquence_est_obligatoire" | translate}}</div>
              </div>
            </div>
            <div class="form-group">
              <label for="classe1">{{"userEspaceWelcom.Classe" | translate}}</label>
              <select formControlName="matiereclasse" class="custom-select form-control" id="classe1"
                      [ngClass]="{'is-invalid': submitted && f.matiereclasse.errors }">
                <option value="">--- {{"userEspaceWelcom.Sélectionnez_une_de_vos_classes" | translate}} ---</option>
                <option *ngFor="let classe of filtreNote.matiereClasses" value="{{ classe.matiereClasseId }}">
                  {{ classe.matiereClasseLabel }}
                </option>
              </select>
              <div *ngIf="submitted && f.matiereclasse.errors" class="invalid-feedback">
                <div *ngIf="f.matiereclasse.errors.required">
                  {{"userEspaceWelcom.Le_choix_de_la_classe_est_obligatoire" | translate}}</div>
              </div>
            </div>
          </ng-container>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline-warning btn-sm ml-2"
                (click)="onReset()"><i class="icofont icofont-close-circled"></i>
          {{"userEspaceWelcom.Annuler" | translate}}&nbsp;&nbsp;</button>
        <button class="btn btn-primary btn-sm ml-5 mr-2"
                (click)="onDisplayListeEleve()">
          {{"userEspaceWelcom.Suivant" | translate}} >>&nbsp;&nbsp;<i class="icofont icofont-circled-right"></i></button>

      </div>
    </ng-template>
  </div>
</div>
