<form [formGroup]="saisieCASForm">
  <div class="row pl-5 container d-flex align-content-center">
    <div class="col-sm-12">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text icofont icofont-check-circled clickable pr-2">
            {{"SharedSaisieCas.Saisie_du_CAS" | translate}}</span>
        </div>
        <input type="text" formControlName="textCAS" class="form-control" aria-label="Search in state">
        <div class="input-group-append">
          <span class="input-group-text icofont icofont-lamp-light clickable pr-2" (click)="onSaisieCAS()">
            {{"SharedSaisieCas.Appliquer" | translate}}</span>
        </div>
      </div>
    </div>
  </div>
</form>
