<app-card [icone]="'ti-user'" [title]="eleve + institution?.nomInstitution">
  <div class="row">
    <div class="col-6 input-group pl-4" [formGroup]="searchForm" *ngIf="authService.isVisible('champ-recherche-motcle')">
      <input list="elevesSearch" id="search" class="form-control"
        placeholder="{{'userEleveListeEleveMenu.Search' | translate}}" formControlName="search"
        [readOnly]="!authService.isEditable('champ-recherche-motcle')"
        (ngModelChange)="onReloadListEleves(search.search.value, true)">
      <datalist id="elevesSearch" *ngIf="listEleveFiltre">
        <option value="{{ eleve.matricule }}"  *ngFor="let eleve of listEleveFiltre">{{  eleve.nomEleve + ' ' + eleve.prenomEleve }}</option>
      </datalist>
      <div class="input-group-append">
        <span class="input-group-text icofont icofont-search clickable"
          (click)="this.authService.isActif('bouton-rechercher') ? onLoadListEleves(search.search.value, true) : ''"></span>
      </div>
    </div>
    <div class="col-6 text-right">
      <button class="btn btn-outline-warning btn-sm ml-2 mr-2 m-1"
        (click)="onGenerateQrCodeForAll()">
        <i class="icofont icofont-qr-code"></i>
        {{"userEleveListeEleveMenu.Generer_QR_Code" | translate}}</button>
      <button class="btn btn-primary btn-sm ml-2 mr-2 m-1" [disabled]="listMatricule.length == 0"
        *ngIf="authService.isVisible('bouton-appliquer-inscription-eleve')"
        (click)="onOpenModalInscrireEleve(null, inscriptionEleve)">
        <i class="icofont icofont-check-circled"></i>
        {{"userEleveListeEleveMenu.Appliquer_l_inscription" | translate}}</button>
    </div>
  </div>
  <div class="table-responsive table-xs">
    <table class="table table-striped table-hover table-sm">
      <thead>
        <tr>
          <th>#</th>
          <th>
            <input type="checkbox" [attr.disabled]="authService.isEditable('bouton-tout-selectionner') == true ? null : true"
              (change)="onAllEleveCheckboxChange($event)" id="checkall" [checked]="allSelectEleve">
          </th>
          <th>{{"userEleveListeEleveMenu.Eleve" | translate}}</th>
          <th>{{"userEleveListeEleveMenu.Classe" | translate}}</th>
          <th>{{"userEleveListeEleveMenu.Matricule" | translate}}</th>
          <th>{{"userEleveListeEleveMenu.Contact" | translate}}</th>
          <th>{{"userEleveListeEleveMenu.Options" | translate}}</th>
        </tr>
      </thead>
      <tbody *ngIf="listEleve">
        <tr *ngFor="let eleve of listEleve | paginate: {itemsPerPage: pageSize, currentPage: page + 1,
      totalItems : totalElements}; let i = index" (dblclick)="onOpenModalInscrireEleve(eleve, inscriptionEleve)"
          [ngClass]="eleve.inscrit == true ? '' : 'text-blue-normal'"
          title="{{'userEleveListeEleveMenu.Double_clicquer_pour_l_inscrire_ou_changer_la_classe_de' | translate}} {{ eleve.nomEleve }}">
          <th scope="row">{{ i+1 }}</th>
          <td><input type="checkbox"
            [attr.disabled]="authService.isEditable('bouton-selectionner-eleve') == true  ? null : true"
            [value]="eleve.matricule" (change)="onEleveCheckboxChange($event)" class="mr-3" [checked]="allSelectEleve"></td>
          <td class="text-small">{{ eleve.nomEleve }} {{ eleve.prenomEleve }}</td>
          <td class="text-small">{{ eleve.classe.nomClasse }}</td>
          <td class="text-small">{{ eleve.matricule }}</td>
          <td class="p-1 text-small">{{ eleve.telephonePere }} </td>
          <td class="p-1">
            <div [ngClass]="'icon-btn p-0 m-0'">
              <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown" display="static">
                <button class="btn btn-outline-info btn-sm mr-2" id="dropdownManual" ngbDropdownToggle>
                  {{"userEleveListeEleveMenu.Actions" | translate}}</button>
                <div ngbDropdownMenu aria-labelledby="dropdownManual">
                  <button ngbDropdownItem class="btn-default btn-sm mr-3" (click)="onOpenModalInscrireEleve(eleve, inscriptionEleve)"
                    title="{{'userEleveListeEleveMenu.Inscrire_cet_eleve_dans_une_classe' | translate}}">
                    <em class="icofont icofont-hat-alt mr-2"></em>
                    {{"userEleveListeEleveMenu.Inscrire_l_élève" | translate}}</button>
                  <button ngbDropdownItem class="btn-default btn-sm mr-3" (click)="onGenerateQrCode(eleve)"
                    title="{{'userEleveListeEleveMenu.Generer_un_Qr_code_pour_cet_élève' | translate}}">
                    <em class="icofont icofont-hat-alt mr-2"></em>
                    {{"userEleveListeEleveMenu.Qr_Code" | translate}}</button>
                  <button ngbDropdownItem class="btn-default btn-sm mr-3" (click)="onDeleteEleve(eleve)"
                    title="{{'userEleveListeEleveMenu.Supprimer_cet_eleve_du_système' | translate}}">
                    <em class="icofont icofont-money mr-2"></em>
                    {{"userEleveListeEleveMenu.Supprimer_l_élève" | translate}}</button>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls style="text-align:center; vertical-align:middle;" autoHide="true" [maxSize]="10"
      (pageChange)="setPageChange($event)"></pagination-controls>

    <div *ngIf="!listEleve" class="row">
      <div class="col-12 text-center">
        <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status"><span class="sr-only">
          {{"userEleveListeEleveMenu.Loading" | translate}}...</span></div>
        <div class="spinner-border text-warning" style="width: 3rem; height: 3rem;" role="status"><span class="sr-only">
          {{"userEleveListeEleveMenu.Loading" | translate}}...</span></div>
        <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status"><span class="sr-only">
          {{"userEleveListeEleveMenu.Loading" | translate}}...</span></div>
      </div>
    </div>
    <div class="dropdown-divider"></div>
  </div>
  <div class="row">
    <div class="col-12">
      <ng-template #inscriptionEleve let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="inscription-eleve">
            {{ currentEleve && currentEleve.inscrit == true ? 'Modifier classe : '+ currentEleve.nomEleve : 'Inscription de élève'}}
          </h4>
          <button type="button" class="close" aria-label="Close" (click)="onResetClasse()">
            <span aria-hidden="true" class="icofont icofont-close-line-squared-alt text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="inscriptionEleveForm">
            <div class="form-group" *ngIf="classes && authService.isVisible('liste-classe')">
              <label for="classe">{{"userEleveListeEleveMenu.Classe_de_l_eleve" | translate}}</label>
              <div class="input-group">
                <select class="custom-select form-control" [ngClass]="{'is-invalid': submitted && f.classe.errors }"
                  [attr.disabled]="authService.isEditable('liste-classe') == true ? null : true"
                        id="classe" formControlName="classe" (change)="onSelectClasse($event)">
                  <option value="">
                    {{"userEleveListeEleveMenu.Choisir_la_classe_d_inscription" | translate}}</option>
                  <option *ngFor="let classe of classes" value="{{ classe.id }}" [title]="classe.nomClasse">{{ classe.nomClasse }}</option>
                </select>
                <div *ngIf="submitted && f.classe.errors" class="invalid-feedback">
                  <div *ngIf="f.classe.errors.required">{{"userEleveListeEleveMenu.Le_choix_de_la_classe_est_obligatoire" | translate}}</div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" [disabled]="!authService.isActif('bouton-annuler-inscription')"
                  class="btn btn-sm btn-outline-danger mr-2" (click)="onResetClasse()">
            {{"userEleveListeEleveMenu.Annuler" | translate}}</button>
          <button type="button" [disabled]="!authService.isActif('bouton-enregister-inscription')"
                  class="btn btn-sm btn-primary" (click)="onInscrireEleveToClasse()">
            {{"userEleveListeEleveMenu.Enregistrer" | translate}}</button>
        </div>
      </ng-template>
    </div>
  </div>
</app-card>
