<!-- List classe card start -->
<app-card [title]="'userAdminDiscDWelcome.Les_classes_disponibles'" [classHeader]="true" [blockClass]="'table-border-style'" *ngIf="currentPeriode">
  <div class="card b-l-danger business-info services mb-0">
    <div class="card-body p-1">
      <div class="row">
        <div class="col-6 text-left" *ngIf="type == 'sequence'">
          <span>{{"userEspaceValidProc.Evaluation" | translate}} : </span> <span>{{ currentPeriode?.nomSequence + ' | ' + currentPeriode?.nomTrimestre }} </span>
        </div>
        <div class="col-6 text-left" *ngIf="type == 'trimestre'">
          <span>{{"userEspaceValidProc.Trimestre" | translate}} : </span> <span>{{ currentPeriode?.nom_trimestre + ' | ' + currentPeriode?.nom_trimestre_2 }} </span>
        </div>
        <div class="col-6 text-left" *ngIf="type == 'annuel'">
          <span>{{"userEspaceValidProc.Année" | translate}} : </span> <span>{{ currentPeriode.codeAnnee + '/' + genericsService.incrementCodeAnnee(currentPeriode.codeAnnee) }} </span>
        </div>
        <div class="text-right" [ngClass]="currentPeriode ? 'col-6' : 'col-12'">
          <button class="btn-sm btn-primary" (click)="onValiderNoteModal(modalValiderNotes)">
            {{"userEspaceValidProc.Valider_notes" | translate}}</button>
        </div>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-xs">
      <thead>
      <tr>
        <th>#</th>
        <th>{{"userEspaceValidProc.Niveau" | translate}}</th>
        <th>{{"userEspaceValidProc.Taux_de_remplissage" | translate}}</th>
        <th> {{"userEspaceValidProc.Details_Taux_de_remplissage_par_classe" | translate}}</th>
      </tr>
      </thead>
      <tbody *ngIf="remplissages">
      <tr *ngFor="let remplissage of remplissages ; let i = index">
        <th scope="row">{{ i+1 }}</th>
        <td class="w-25 text-bold">{{ remplissage.nomNiveau }}</td>
        <td class="w-25">
          <span><ngb-progressbar [type]="remplissage.tauxNiveau < 25 ? 'danger' :
(remplissage.tauxNiveau > 25 && remplissage.tauxNiveau < 50) ? 'warning' :
(remplissage.tauxNiveau > 50 && remplissage.tauxNiveau < 75) ? 'info' : 'success'" textType="white"
                                 [striped]="true" [animated]="(type == 'sequence' || type == 'trimestre') ? currentPeriode.en_cours == 1 : currentPeriode.enCours == true"
                                 [value]="remplissage.tauxNiveau" [showValue]="false"></ngb-progressbar></span>
          <span class="ml-1">{{ remplissage.tauxNiveau | number: '.1-2'}} %</span>
        </td>
        <td class="p-0 m-0 w-50">
          <table  class="table table-hover table-xs p-0 m-0">
            <tr *ngFor="let classe of remplissage.classes" class="p-0 m-0">
              <td class="w-25 p-1 m-1">{{ classe.nomClasse }}</td>
              <td class="w-50 p-1 m-1">
                <span><ngb-progressbar [type]="classe.tauxClasse < 25 ? 'danger' :
(classe.tauxClasse > 25 && classe.tauxClasse < 50) ? 'warning' :
(classe.tauxClasse > 50 && classe.tauxClasse < 75) ? 'info' : 'success'" textType="white"
                                       [striped]="true" [animated]="(type == 'sequence' || type == 'trimestre') ? currentPeriode.en_cours == 1 : currentPeriode.enCours == true"
                                       [value]="classe.tauxClasse" [showValue]="false"></ngb-progressbar></span>
                <span class="ml-1">{{ classe.tauxClasse | number: '.1-2'}} %</span>
              </td>
              <td class="w-25 p-1 m-1"> <button type="button" class="btn bg-success btn-browser p-1"
                                                title="{{'userEspaceValidProc.Valider_les_notes_de_la_classe' | translate}}"
                                                (click)="onValidateNoteClasse(classe)"
              ><em class="icofont icofont-checked mr-2"></em>
                {{"userEspaceValidProc.Valider_notes" | translate}}</button></td>
            </tr>
          </table>
        </td>

      </tr>
      </tbody>
    </table>
    <div class="row" *ngIf="remplissages">
      <div class="col-12 text-center h4" *ngIf="remplissages.length == 0">
        {{"userEspaceValidProc.Aucune_donnée_disponible" | translate}}</div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <ng-template #modalValiderNotes let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="valider-notes">
            {{"userEspaceValidProc.Choisir_les_classes" | translate}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="onResetModal()">
            <span aria-hidden="true" class="icofont icofont-close-line-squared text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="validerNoteForm">
            <ng-container *ngIf="classes">
              <div class="form-group">
                <label for="classes">{{"userEspaceValidProc.Classe" | translate}}</label>
                <ng-multiselect-dropdown id="classes" #selectVue
                                         [ngClass]="{'is-invalid': ns.touched && ns.classes.errors.required }"
                                         [placeholder]="choix" [data]="listClasse"
                                         formControlName="classes"
                                         [settings]="settings"></ng-multiselect-dropdown>
                <div *ngIf="submitted && ns.classes.errors" class="invalid-feedback">
                  <div *ngIf="ns.classes.errors.required">
                    {{"userEspaceValidProc.Le_choix_de_la_classe_est_obligatoire" | translate}}</div>
                </div>
              </div>
            </ng-container>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button"
                  class="btn btn-outline-danger btn-sm mr-2" (click)="onResetModal()">
            {{"userEspaceValidProc.Annuler" | translate}}</button>
          <button type="button"
                  (click)="onSaveValiderNotes()" class="btn btn-primary btn-sm">
            {{"userEspaceValidProc.Valider" | translate}}</button>
        </div>
      </ng-template>
    </div>
  </div>
</app-card>
<!-- List classe card end -->

