<!--detail sur l'eleve selectionè-->
<app-card [classHeader]="false" [blockClass]="'table-border-style'">
  <form [formGroup]="acomptForm">
    <div class="row">
      <div class="col-md-6 col-xs-12 pt-2 pl-4">
        <app-card [classHeader]="false" [blockClass]="'table-border-style'">
          <div class="row">
            <div class="col-12 input-group pl-4 mt-2  justify-content-center">
              <input list="elevesSearch" id="search" class="form-control" (keyup)="getElt($event)"
                     placeholder="{{'userAdminDiscEnseigList.Search' | translate}}" formControlName="search">
              <datalist id="elevesSearch" >
                <option *ngFor="let lstC of listeClass" value="{{ lstC?.nomClasse }}"
                         > </option>
              </datalist>
              <div class="input-group-append">
                <span class="input-group-text icofont icofont-search clickable"
                        (click)="getListeClassOnTable(page, pageSize)"></span>
              </div>
            </div>
            <div class="col-12 pb-0 mb-0" >
              <div class="view-info">
                <div class="row">
                  <div class="col-lg-12 pb-0 mb-0">
                    <div class="row">
                      <div class="col-sm-12 d-flex justify-content-center">
                        <h4>{{"Liste des eleves de" | translate}} :  {{ find?.nomClasse}}</h4>
                      </div>
                      <div class="col-sm-12">
                        <div class="general-info">
                          <div class="table-responsive">
                            <table class="table m-0">
                              <thead>
                              <tr>
                                <th scope="row">#</th>
                                <th scope="row">{{"userEleveListeGestion.Nom_s" | translate}}</th>
                                <th scope="row">{{"Matricule" | translate}}</th>
                                <th scope="row">{{"Class" | translate}}</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr class="clickable" *ngFor="let lstEC of listeEleveClass
                                  | paginate: {itemsPerPage: pageSize, currentPage: page + 1,
                                  totalItems : totalElements, id: 'eleves-acompte-ajout-edition'}; let i=index"
                                  (click)="onSelectEleveDetail(lstEC)" (dblclick)="onOpenEleveDetail(lstEC)"

                                  [ngClass]="{'bg-gray' : line == lstEC.matricule }">
                                <td>{{ i + 1 }}</td>
                                <td>{{ lstEC.nomEleve }}</td>
                                <td>{{ lstEC.matricule }}</td>
                                <td>{{ lstEC.classe }}</td>
                              </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-10 text-center" *ngIf="showPageCount">
                        <pagination-controls style="text-align:center; vertical-align:middle;"
                                             autoHide="true"
                                             [maxSize]="10" id="eleves-acompte-ajout-edition"
                                             (pageChange)="setPageChange($event)"></pagination-controls>
                      </div>
                      <div class="col-sm-1 text-center pt-0 mt-1 pb-0 mb-1 ml-1">
                        <button class="btn btn-primary btn-sm mr-2 clickable" title="{{'Annuler' | translate}} ?"
                                (click)="resetForm()">
                          {{"Annuler" | translate}}
                        </button>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </app-card>
      </div>
      <div class="col-md-6 col-xs-12 pt-2 pr-4 justify-content-center">
        <app-card [classHeader]="false" [blockClass]="'table-border-style'">
          <div class="row">
            <div class="col-sm-12">
              <div class="d-flex justify-content-center">
                <h4>{{"Détail sur l'eleve choisi" | translate}}</h4>
              </div>
            </div>
            <div class="col-12 p-3">
              <div class="form-group row pb-0 mb-1 pt-0 mt-1 mr-1">
                <label class="col-sm-4 text-right" for="prenomEleve">
                  {{"Prénom(s)" | translate}}</label>
                <div class="input-group col-sm-8">
                  <input type="text" id="prenomEleve" formControlName="prenomEleve"
                         [readOnly]="readOnly" class="form-control"
                         placeholder="{{'Prénom(s)' | translate}}">
                </div>
              </div>
              <div class="form-group row pb-0 mb-1 pt-0 mt-1 mr-1">
                <label class="col-sm-4 text-right" for="nomEleve">
                  {{"Nom(s)" | translate}}</label>
                <div class="input-group col-sm-8">
                  <input type="text" id="nomEleve" formControlName="nomEleve"
                         [readOnly]="readOnly" class="form-control"
                         placeholder="{{'Nom(s)' | translate}}">
                </div>
              </div>

              <div class="form-group row pb-0 mb-1 pt-0 mt-1 mr-1">
                <label class="col-sm-4 text-right" for="telephonePere">
                  {{"Téléphone père" | translate}} <label class="col-red">*</label></label>
                <div class="input-group col-sm-8">
                  <input type="tel" id="telephonePere" formControlName="telephonePere"
                         [readOnly]="readOnly" class="form-control"
                         placeholder="{{'Téléphone père' | translate}}">
                  <div class="col-red" *ngIf="(showErrorMessage === true) && (this.f.telephonePere.errors)">
                    <small >{{"userEleveAjaout.Le_numéro_de_téléphone_doit_commencer_par_6_et_avoir_au_moins_9_chiffres" | translate}}</small>
                    <small >{{"userEleveAjaout.Le_telephone_du_pere_est_obligatoire" | translate}}</small>
                  </div>
                </div>
              </div>
              <div class="form-group row pb-0 mb-1 pt-0 mt-1 mr-1">
                <label class="col-sm-4 text-right" for="dateAdmission">
                  {{"Date d'admission" | translate}} <label class="col-red" >*</label></label>
                <div class="input-group col-sm-8">
                  <input type="date" id="dateAdmission" formControlName="dateAdmission"
                         [readOnly]="readOnly" class="form-control"
                         placeholder="{{'Date d\'admission' | translate}}">
                </div>
                <label class="col-sm-4"></label>
                <div class="col-sm-8 col-red mt-moins-1" *ngIf="(showErrorMessage === true) && (this.f.dateAdmission.value === null)">
                  <small >{{"La date d'admission est obligatoire" | translate}}</small>
                </div>
              </div>
              <div class="form-group row pb-0 mb-1 pt-0 mt-1 mr-1">
                <label class="col-sm-4 text-right" for="dateNaissance">
                  {{"Date de naissance" | translate}} <label class="col-red" >*</label></label>
                <div class="input-group col-sm-8">
                  <input type="date" id="dateNaissance" formControlName="dateNaissance"
                         [readOnly]="readOnly" class="form-control"
                         placeholder="{{'Date de naissance' | translate}}">
                </div>
                <label class="col-sm-4"></label>
                <div class="col-sm-8 col-red mt-moins-1" *ngIf="(showErrorMessage === true) && (this.f.dateNaissance.value === null)">
                  <small >{{"La Date de naissance est obligatoire" | translate}}</small>
                </div>
              </div>
              <div class="form-group row pb-0 mb-1 pt-0 mt-1 mr-1">
                <label class="col-sm-4 text-right" for="lieuNaissance">
                  {{"Lieux de naissance" | translate}}</label>
                <div class="input-group col-sm-8">
                  <input type="text" id="lieuNaissance" formControlName="lieuNaissance"
                         [readOnly]="readOnly" class="form-control"
                         placeholder="{{'Lieux de naissance' | translate}}">
                </div>
              </div>


              <div class="form-group row pb-0 mb-1 pt-0 mt-1 mr-1" >
                <label class="col-sm-4 text-right">
                  {{"Elève transféré" | translate}}</label>
                <div class="col-sm-8">
                  <div class="form-check form-check-inline mr-4">
                    <input class="form-check-input" type="radio" formControlName="eleveTransferer" id="inlineRadio3"
                           [readOnly]="readOnly" [value]="false">
                    <label class="form-check-label" for="inlineRadio3">
                      {{"userEleveAjaout.Non" | translate}}</label>
                  </div>
                  <input class="form-check-input" type="radio" formControlName="eleveTransferer" id="inlineRadio4"
                         [readOnly]="readOnly" [value]="true">
                  <label class="form-check-label" for="inlineRadio4">
                    {{"userEleveAjaout.Oui" | translate}}</label>
                </div>
              </div>

              <div class="form-group row pb-0 mb-1 pt-0 mt-1 mr-1">
                <label class="col-sm-4 text-right" for="emailEleve">
                  {{"Email de l'élève" | translate}}</label>
                <div class="input-group col-sm-8">
                  <input type="email" id="emailEleve" formControlName="emailEleve" class="form-control"
                         [readOnly]="readOnly"
                         placeholder="{{'Email de l\'élève' | translate}}">
                </div>
              </div>
              <div class="form-group row pb-0 mb-1 pt-0 mt-1 mr-1">
                <label class="col-sm-4 text-right" for="emailParent">
                  {{"Email du parent" | translate}}</label>
                <div class="input-group col-sm-8">
                  <input type="email" id="emailParent" formControlName="emailParent" class="form-control"
                         [readOnly]="readOnly"
                         placeholder="{{'Email du parent' | translate}}">
                </div>
              </div>
              <div class="form-group row pb-0 mb-1 pt-0 mt-1 mr-1">
                <label class="col-sm-4 text-right" >
                  {{"Choisir la classe" | translate}}
                  <span class="col-red" >*</span></label>
                <div class="input-group col-sm-8" >
                  <input list="listeClass" class="form-control" (keyup)="getElt($event)"
                         placeholder="{{'Choisir la classe' | translate}}" formControlName="idClasse">
                  <datalist id="listeClass" >
                    <option *ngFor="let lstC of listeClass" value="{{ lstC?.nomClasse }}"
                    > </option>
                  </datalist>
                </div>
                <label class="col-sm-4"></label>
                <div class="col-red ml-moins-1 mt-moins-1" *ngIf="(showErrorMessage === true) && (this.f.idClasse.value === '')">
                  <small >{{"La classe est obligatoire" | translate}}</small>
                </div>
              </div>

              <div class="form-group row pb-0 mb-1 pt-0 mt-1 mr-1" *ngIf="authService.isVisible('bouton-handicape')">
                <label class="col-sm-4 text-right">
                  {{"userEleveAjaout.L_élève_est_il_handicapé" | translate}}</label>
                <div class="col-sm-8">
                  <div class="form-check form-check-inline mr-4">
                    <input class="form-check-input" type="radio" formControlName="handicape"
                           [readOnly]="readOnly" id="inlineRadio1" [value]="false"
                           [attr.disabled]="authService.isEditable('bouton-handicape')== true ? null : true">
                    <label class="form-check-label" for="inlineRadio1">
                      {{"userEleveAjaout.Non" | translate}}</label>
                  </div>
                  <input class="form-check-input" type="radio" formControlName="handicape"
                         [readOnly]="readOnly" id="inlineRadio2" [value]="true"
                         [attr.disabled]="authService.isEditable('bouton-handicape')== true ? null : true">
                  <label class="form-check-label" for="inlineRadio2">
                    {{"userEleveAjaout.Oui" | translate}}</label>
                </div>
              </div>

              <div class="form-group row pb-0 mb-1 pt-0 mt-1 mr-1">
                <label class="col-sm-4 text-right" for="montantVerse">
                  {{"Montant Verse" | translate}}
                  <label class="col-red" >*</label></label>
                <div class="input-group col-sm-8">
                  <input type="number" id="montantVerse" formControlName="montantVerse" class="form-control"
                         placeholder="{{'000' | translate}}">
                </div>
                <label class="col-sm-4"></label>
                <div class="col-red ml-moins-1 mt-moins-1" *ngIf="(showErrorMessage === true) && (this.f.montantVerse.value < 100)">
                  <small >{{"Le montant versé est requis et suppérieure à 100 XAF" | translate}}</small>
                </div>
              </div>
              <div class="row ml-1 mr-3">
                <div class="col-sm-2 text-center pt-0 mt-1 pb-0 mb-1">
                  <button class="btn btn-primary btn-sm clickable" title="{{'Enregistrer ?' | translate}}"
                          [disabled]="!authService.isActif('bouton-ajouter')" (click)="save()">
                    <!--                    <em class="icofont icofont-ui-file mr-2"></em>-->
                    {{"Enregistrer" | translate}}
                  </button>
                </div>
                <div class="col-8"></div>
                <div class="col-sm-1 text-center pt-0 mt-1 pb-0 mb-1 mr-1">
                  <button class="btn btn-primary btn-sm clickable mr-4" title="{{'Consulter' | translate}} ?"
                          (click)="uploadListAccompte()">
                    <!--                    <em class="icofont icofont-ui-file mr-2"></em>-->
                    {{"Consulter" | translate}}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </app-card>
      </div>
    </div>
  </form>
</app-card>
