<app-card [icone]="'icofont-2x icofont-ui-calendar'" [title]="'Impression des bulletins de notes'"
          [classHeader]="true" [blockClass]="'table-border-style'">
  <div class="card b-l-danger business-info services mb-0">
    <div class="card-body p-1">
      <div class="row">
        <div class="col-sm-4">
          <span>{{"userEspaceBulletins.Type_d_affichage" | translate}} </span>
          <span>
          <div ngbDropdown class="d-inline-block" display="static">
            <button class="btn btn-outline-primary btn-sm" id="dropdownBasic1" ngbDropdownToggle>{{ currentSwitch | titlecase }}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem class="btn-sm" (click)="swicthTo('eleve')">
                {{"userEspaceBulletins.Bulletin_par_élève" | translate}}</button>
              <button ngbDropdownItem class="btn-sm" (click)="swicthTo('classe')">
                {{"userEspaceBulletins.Bulletin_par_classe" | translate}}</button>
            </div>
          </div>
          </span>
        </div>
        <div class="col-sm-4">
          <p class="task-detail"><span>
            {{"userEspaceBulletins.Année_scolaire" | translate}}&nbsp;&nbsp; </span>
            <span class="text-bold">{{ (currentYear && currentYear.annee) ? currentYear.annee.code_annee :tokenStorage.getUser().codeAnnee }}</span></p>
          <p class="task-detail" *ngIf="trimestre"><span>
            {{"userEspaceBulletins.Trimestre" | translate}}&nbsp;&nbsp; </span><span class="text-bold">{{ trimestre.nom_trimestre }}</span></p>
          <p class="task-detail" *ngIf="sequence"><span>
            {{"userEspaceBulletins.Sequence" | translate}}&nbsp;&nbsp; </span><span class="text-bold">{{ sequence.nom_sequence }}</span></p>
        </div>
        <div class="col-sm-4">
          <p class="task-detail" *ngIf="currentSwitch=='eleve'"><span>
            {{"userEspaceBulletins.Classe" | translate}}&nbsp;&nbsp;  </span><span class="text-bold">{{ classe?.nomClasse }}</span></p>
          <p class="task-detail"><span>
            {{"userEspaceBulletins.Bulletins" | translate}}&nbsp;&nbsp;  </span><span class="text-bold">{{ type }}</span></p>
        </div>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-hover" *ngIf="currentSwitch == 'eleve'">
      <thead>
      <tr>
        <th>#</th>
        <th>{{"userEspaceBulletins.Matricule" | translate}}</th>
        <th>{{"userEspaceBulletins.Noms_et_prenoms" | translate}}</th>
        <th>{{"userEspaceBulletins.Classe" | translate}}</th>
        <th>{{"userEspaceBulletins.Actions" | translate}}</th>
      </tr>
      </thead>
      <tbody *ngIf="listEleve">
      <tr *ngFor="let eleve of listEleve; let i = index">
        <th scope="row">{{ '#'+ (i+1)}}</th>
        <td>{{ eleve?.matricule }}</td>
        <td>{{ eleve?.noms }}</td>
        <td>{{ eleve?.nomClasse }}</td>
        <td class="p-1">
          <div [ngClass]="'icon-btn p-0 m-0'">
            <button class="btn btn-primary btn-icon btn-sm mr-2" (click)="onPrintBulletinFromEleve(eleve)"
                    title="{{'userEspaceBulletins.Imprimer_les_bulletins' | translate}}">
              <i class="icofont icofont-file-document"></i></button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <table class="table table-hover" *ngIf="currentSwitch == 'classe'">
      <thead>
      <tr>
        <th>#</th>
        <th>{{"userEspaceBulletins.Niveau" | translate}}</th>
        <th>{{"userEspaceBulletins.Classe" | translate}}</th>
        <th>{{"userEspaceBulletins.Actions" | translate}}</th>
      </tr>
      </thead>
      <tbody *ngIf="classes">
      <tr *ngFor="let classe of classes; let i=index">
        <th scope="row">{{ '#'+ (i+1)}}</th>
        <td>{{ classe?.nomNiveau }}</td>
        <td>{{ classe.nomClasse }}</td>
        <td class="p-1">
          <div [ngClass]="'icon-btn p-0 m-0'">
            <button class="btn btn-primary btn-icon mr-2"
                    [disabled]="!authService.isActif('bouton-imprimer-bulletin')"
                    *ngIf="authService.isVisible('bouton-imprimer-bulletin')"
                    (click)="onPrintBulletins(classe)"
                    title="{{'userEspaceBulletins.Bulletins_Trimestres' | translate}}">
              <i class="icofont icofont-file-document"></i></button>
            <button class="btn btn-warning btn-icon mr-2"
                    [disabled]="!authService.isActif('bouton-imprimer-bulletin')"
                    *ngIf="authService.isVisible('bouton-imprimer-bulletin') && type == 'annuel'"
                    (click)="onPrintRelevesNotes(classe)"
                    title="{{'userEspaceBulletins.Bulletins_Evaluations' | translate}}">
              <i class="icofont icofont-file-document"></i></button>
            <button class="btn btn-success btn-icon mr-2"
                    [disabled]="!authService.isActif('bouton-imprimer-proces-verbal')"
                    *ngIf="this.type != 'sequence' && authService.isVisible('bouton-imprimer-proces-verbal')"
                    (click)="onPrintPVConseilClasse(classe)"
                    title="{{'userEspaceBulletins.Imprimer_le_proces_verbal_du_conseil_de_classe' | translate}}">
              <i class="icofont icofont-listing-box"></i></button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="card b-l-danger business-info services" *ngIf="currentSwitch == 'eleve'">
    <div class="card-body p-1">
      <button class="btn btn-primary btn-sm ml-2 mr-1"
              [disabled]="!authService.isActif('bouton-imprimer-bulletin')"
              *ngIf="authService.isVisible('bouton-imprimer-bulletin')"
              (click)="onPrintBulletins(classe)"
              title="{{'userEspaceBulletins.Imprimer_le_bulletin_de_tous_les_eleves_de_cette_classe' | translate}}">
        <i class="icofont icofont-print"></i>
        {{"userEspaceBulletins.Imprimé_tous_les_bulletins" | translate}}</button>
      <button class="btn btn-primary btn-sm ml-2 mr-1"
              [disabled]="!authService.isActif('bouton-imprimer-bulletin')"
              *ngIf="authService.isVisible('bouton-imprimer-bulletin') && type == 'annuel'"
              (click)="onPrintRelevesNotes(classe)"
              title="{{'userEspaceBulletins.Imprimer_le_bulletin_de_tous_les_eleves_de_cette_classe' | translate}}">
        <i class="icofont icofont-print"></i>
        {{"userEspaceBulletins.Imprimé_tous_les_relevés_de_note" | translate}}</button>
      <button class="btn btn-success btn-sm mr-2 ml-1"
              [disabled]="!authService.isActif('bouton-imprimer-proces-verbal')"
              *ngIf="this.type != 'sequence' && authService.isVisible('bouton-imprimer-proces-verbal')"
              (click)="onPrintPVConseilClasse(classe)"
              title="{{'userEspaceBulletins.Imprimer_le_proces_verbal_du_conseil_de_classe' | translate}}">
        <i class="icofont icofont-listing-box"></i>
        {{"userEspaceBulletins.PV_conseil_de_classe" | translate}}</button>
    </div>
  </div>
</app-card>

