<app-card [title]="lesAnneesScolairesDispo">
  <div class="browser-card p-b-15" *ngIf="annees">
    <div class="container-fluid clickable table-hover">
      <div class="row bg-gray card-border-danger" *ngFor="let annee of annees">
        <div class="col-md-8" [routerLink]="authService.isActif('bouton-ouvrir') ? '/administration/configuration/periodes/list-trimestres/'+annee.id : ''">
          <h4 class="m-0 text-c-blue">
            {{"userAdminConfListeAnnees.Année_scolaire" | translate}} {{ annee.codeAnnee }}/{{ genericsService.incrementCodeAnnee(annee.codeAnnee) }}</h4>
          <p class="m-0">Du {{ annee.dateOuverture | date: 'medium' }} au {{ annee.dateFermeture | date: 'medium' }}</p>
        </div>
        <div class="col-md-4 pt-1">
          <button class="btn bg-danger float-right btn-browser mr-2"
                  title="{{'userAdminConfListeAnnees.Supprimer_l_année_scolaire' | translate}}">
            <i class="icofont icofont-ui-delete"></i></button>
          <button class="btn float-right btn-browser mr-2" (click)="onChangeStateAnnee(annee, contentNewAnnee)"
                  [ngClass]="annee.enCours === true ? 'bg-danger' : 'bg-success'"
                  [title]="annee.enCours === true ? 'Finir l\'année scolaire' : 'Lancer l\'année scolaire'">
            <i class="icofont icofont-power"></i></button>
          <button class="btn bg-warning float-right btn-browser mr-2"
                  title="{{'userAdminConfListeAnnees.Modifier_les_informations_sur_l_année_scolaire' | translate}}"
                  *ngIf="authService.isVisible('bouton-editer')"
                  [disabled]="!authService.isActif('bouton-editer')"
                  (click)="onLoadDetailsAnnee(annee, content)"><i class="icofont icofont-edit-alt"></i></button>
          <button class="btn bg-primary float-right btn-browser mr-2"
                  title="{{'userAdminConfListeAnnees.Afficher_les_séquence_et_trimestres_de_l_année' | translate}}"
                  *ngIf="authService.isVisible('bouton-ouvrir')"
                  [disabled]="!authService.isActif('bouton-ouvrir')"
                  routerLink="/administration/configuration/periodes/list-trimestres/{{annee.id}}"><i class="icofont icofont-ui-folder"></i></button>
        </div>
      </div>
      <div class="dropdown-divider"></div>
    </div>
    <div class="row">
      <div class="col-12 text-right">
        <button class="btn btn-primary btn-sm ml-5 mr-4 m-1"
                *ngIf="authService.isVisible('bouton-ajouter')"
                [disabled]="!authService.isActif('bouton-ajouter')"
                (click)="open(content)"><i class="icofont icofont-plus-circle"></i>
          {{'userAdminConfListeAnnees.Ajouter_une_année_scolaire' | translate}}</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ng-template #content let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="add-annee">
            {{"userAdminConfListeAnnees.Ajouter_une_année" | translate}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="onResetAnnee()">
            <span aria-hidden="true" class="icofont icofont-close-line-squared text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="anneeForm" (ngSubmit)="onSaveAnnee()">
            <div class="col-md-12 col-xl-12">
              <fieldset class="scheduler-border">
                <legend class="scheduler-border">
                  {{"userAdminConfListeAnnees.Information_Importantes" | translate}}</legend>
                <div class="row">
                  <div class="form-group col-12" *ngIf="authService.isVisible('champ-modifier-code-année') || authService.isVisible('champ-code-année')">
                    <label for="codeAnnee" class="col-form-label">
                      {{"userAdminConfListeAnnees.Code_de_l_année" | translate}}</label>
                    <input class="form-control" type="number" lang="en"
                           placeholder="{{'userAdminConfListeAnnees.Code_de_l_année' | translate}}" id="codeAnnee"
                           formControlName="codeAnnee" [ngClass]="{'is-invalid': submitted && f.codeAnnee.errors }"
                           [readonly]="(!authService.isEditable('champ-modifier-code-année') || !authService.isEditable('champ-code-année'))">
                    <div *ngIf="submitted && f.codeAnnee.errors" class="invalid-feedback">
                      <div *ngIf="f.codeAnnee.errors.required">
                        {{"userAdminConfListeAnnees.Le_code_de_l_année_est_obligatoire" | translate}}</div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group" *ngIf="authService.isVisible('champ-modifier-date-ouverture') || authService.isVisible('champ-date-ouverture')">
                      <label for="ouverture">
                        {{"userAdminConfListeAnnees.Date_d_ouverture_de_l_année" | translate}}</label>
                      <div class="input-group">
                        <input id="ouverture" class="form-control"  [ngClass]="{'is-invalid': submitted && f.ouverture.errors }"
                               [readOnly]="!authService.isEditable('champ-modifier-date-ouverture') || !authService.isEditable('champ-date-ouverture')"
                               type="datetime-local"
                               placeholder="{{'userAdminConfListeAnnees.dd_mm_yyyy' | translate}}" formControlName="ouverture">
                        <div *ngIf="submitted && f.ouverture.errors" class="invalid-feedback">
                          <div *ngIf="f.ouverture.errors.required">
                            {{"userAdminConfListeAnnees.La_date_de_l_ouverture_de_l_année_est_obligatoire" | translate}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group" *ngIf="authService.isVisible('champ-modifier-date-fermeture') || authService.isVisible('champ-date-fermeture')">
                      <label for="fermeture">
                        {{"userAdminConfListeAnnees.Date_de_fermeture_de_l_année" | translate}}</label>
                      <div class="input-group">
                        <input id="fermeture" class="form-control"  [ngClass]="{'is-invalid': submitted && f.fermeture.errors }"
                               [readOnly]="!authService.isEditable('champ-modifier-date-fermeture') || !authService.isEditable('champ-date-fermeture')"
                               type="datetime-local"
                               placeholder="{{'userAdminConfListeAnnees.dd_mm_yyyy' | translate}}" formControlName="fermeture">
                        <div *ngIf="submitted && f.fermeture.errors" class="invalid-feedback">
                          <div *ngIf="f.fermeture.errors.required">
                            {{"userAdminConfListeAnnees.La_date_de_fermeture_est_obligatoire" | translate}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>
              <div class="row">
                <div class="col-12 text-right">
                  <button class="btn btn-primary btn-sm ml-5 mr-2" type="submit"
                          *ngIf="authService.isVisible('bouton-enregistrer')" [disabled]="!authService.isActif('bouton-enregistrer')"
                  ><i class="icofont icofont-check-circled"></i>
                    {{"userAdminConfListeAnnees.Enregistrer" | translate}}</button>
                  <button class="btn btn-outline-danger btn-sm ml-2" type="reset"
                          *ngIf="authService.isVisible('bouton-effacer')" [disabled]="!authService.isActif('bouton-effacer')"
                          (click)="onResetAnnee()"><i class="icofont icofont-close-circled"></i>Effacer</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </ng-template>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <ng-template #contentNewAnnee let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="active-annee">
            {{"userAdminConfListeAnnees.Changement_de_l_année" | translate}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="onResetAnnee()">
            <span aria-hidden="true" class="icofont icofont-close-line-squared text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="activateAnneeForm">
            <div class="col-md-12 col-xl-12">
              <fieldset class="scheduler-border">
                <legend class="scheduler-border">
                  {{"userAdminConfListeAnnees.Information_Importantes" | translate}}</legend>
                <div class="row">
                  <div class="form-group col-12">
                    <label for="nextYear" class="col-form-label">
                      {{"userAdminConfListeAnnees.Choisir_la_prochaine_année" | translate}}</label>
                    <select class="custom-select form-control" [ngClass]="{'is-invalid': submitted && g.nextYear.errors }"
                            id="nextYear" formControlName="nextYear">
                      <option value="">
                        {{"userAdminConfListeAnnees.Choisir_la_prochaine_année" | translate}}</option>
                      <option *ngFor="let annee of annees" value="{{ annee.id }}">
                        {{"userAdminConfListeAnnees.Année_scolaire" | translate}} {{ annee.codeAnnee }}/{{ genericsService.incrementCodeAnnee(annee.codeAnnee) }}
                      </option>
                    </select>
                    <div *ngIf="submitted && g.nextYear.errors" class="invalid-feedback">
                      <div *ngIf="g.nextYear.errors.required">
                        {{"userAdminConfListeAnnees.Le_code_de_l_année_est_obligatoire" | translate}}</div>
                    </div>
                  </div>
                </div>
              </fieldset>
              <div class="row">
                <div class="col-12 text-right">
                  <button class="btn btn-primary btn-sm ml-5 mr-2" type="button" (click)="validChangeStateAnnee()">
                    <span *ngIf="validated" class="spinner-border spinner-border-sm mr-1" role="status" aria-hidden="true"></span>
                    <i class="icofont icofont-check-circled"></i>
                    {{"userAdminConfListeAnnees.Enregistrer" | translate}}</button>
                  <button class="btn btn-outline-danger btn-sm ml-2" type="reset" (click)="onResetAnnee()">
                    <i class="icofont icofont-close-circled"></i>
                    {{"userAdminConfListeAnnees.Effacer" | translate}}</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </ng-template>
    </div>
  </div>
</app-card>
