<app-card style="z-index: auto;" [title]="'userAdminNote.Liste_du_personnel_enseignant'" [classHeader]="true"
  [blockClass]="'table-border-style'">
  <div class="row">
    <div class="col-6 input-group pl-4" [formGroup]="searchForm"
      *ngIf="authService.isVisible('champ-recherche-enseignant')">
      <input list="elevesSearch" id="search" class="form-control"
        placeholder="{{'userAdminDiscEnseigList.Search' | translate}}" formControlName="search"
        [readOnly]="!authService.isEditable('champ-recherche-enseignant')"
        (ngModelChange)="onReloadListEnseignants(search.search.value, true)">
      <datalist id="elevesSearch" *ngIf="listEleveFiltre">
        <option value="{{ enseignant.enseignant.nom_enseignant }}" *ngFor="let enseignant of listEleveFiltre">{{
          enseignant.enseignant.prenom_enseignant + ' ' + enseignant.enseignant.telephone_1 }}</option>
      </datalist>
      <div class="input-group-append">
        <span class="input-group-text icofont icofont-search clickable"
          (click)="this.authService.isActif('bouton-rechercher-enseignant') ? onLoadListEleves(search.search.value, true) : ''"></span>
      </div>
    </div>
    <div class="col-6 text-right" *ngIf="authService.isVisible('bouton-ajouter-enseignant')">
      <button class="btn btn-primary btn-sm ml-5 mr-4 m-1"
        [disabled]="!authService.isActif('bouton-ajouter-enseignant')" (click)="onEditEnseignant(null)">
        <em class="icofont icofont-check-circled"></em>
        {{"userAdminDiscEnseigList.Ajouter_un_enseignant" | translate}}</button>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>{{"userAdminDiscEnseigList.Noms_et_prénoms" | translate}}</th>
          <th>{{"userAdminDiscEnseigList.Classes" | translate}}</th>
          <th>{{"userAdminDiscEnseigList.Contact" | translate}}</th>
          <th>{{"userAdminDiscEnseigList.Options" | translate}}</th>
        </tr>
      </thead>
      <tbody *ngIf="enseignants && enseignants.length > 0">
        <tr *ngFor="let item of enseignants | paginate: {
          id: 'listeEnseignant', itemsPerPage: pageSize, currentPage: page + 1, totalItems: totalElements
          }; let i = index" (dblclick)="onDetailEnseignant(item.enseignant)">
          <th scope="row">{{ i+1 }}</th>
          <td>{{ item.enseignant.nom_enseignant }} {{ item.enseignant.prenom_enseignant }}</td>
          <td>
            <p class="p-0 m-0" *ngFor="let programmation of item.matiereClasses">
              <span class="text-c-blue text-bold mr-2">{{ programmation.nomClasse }}</span>
              <span class="text-bold">({{ programmation.nomMatiere }})</span>
            </p>
          </td>
          <td>
            <p class="p-0 m-0 text-facebook">{{ item.enseignant.telephone_1 | phoneFormat }}</p>
            <p class="p-0 m-0 text-dribble">{{ item.enseignant.telephone_2 | phoneFormat }}</p>
          </td>
          <td class="p-1">
            <div [ngClass]="'icon-btn p-0 m-0'">
              <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown" [placement]="'bottom-right'">
                <button class="btn btn-outline-info btn-sm mr-2" id="dropdownManual" ngbDropdownToggle>
                  {{"userAdminDiscEnseigList.Actions" | translate}}</button>
                <div ngbDropdownMenu aria-labelledby="dropdownManual">
                  <button ngbDropdownItem class="btn-default btn-sm mr-3" (click)="onDetailEnseignant(item.enseignant)"
                    [disabled]="!authService.isActif('bouton-detail-programmer-cours-enseignant')"
                    title="{{'userAdminDiscEnseigList.Afficher_le_detail_pour_la_programmation_du_cours_de' | translate}} {{item.enseignant.nom_enseignant}}">
                    <em class="icofont icofont-ui-folder mr-2"></em>
                    {{"userAdminDiscEnseigList.Details_sur_l_enseignant" | translate}}</button>
                  <button ngbDropdownItem class="btn-default btn-sm mr-3" (click)="onEditEnseignant(item.enseignant)"
                    title="{{'userAdminDiscEnseigList.Modifier_attribut_enseignant' | translate}}"
                    [disabled]="!authService.isActif('bouton-modifier-attribut-enseignant')">
                    <em class="icofont icofont-ui-edit mr-2"></em>
                    {{"userAdminDiscEnseigList.Modifier_attributs_enseignant" | translate}}</button>
                  <button ngbDropdownItem class="btn-default btn-sm mr-3"
                    [disabled]="!authService.isActif('bouton-programmer-cours-enseignant')"
                    title="{{'userAdminDiscEnseigList.Programmer_les_cours_pour_cet_enseignant' | translate}}"
                    (click)="onProgrammerEnseignant(item, enseignantClasse)">
                    <em class="icofont icofont-ui-calendar mr-2"></em>
                    {{"userAdminDiscEnseigList.Programmer_enseignant" | translate}}</button>
                  <button ngbDropdownItem class="btn-default btn-sm mr-3"
                    title="{{'userAdminDiscEnseigList.Supprimer_enseignant' | translate}}"
                    [disabled]="!authService.isActif('bouton-suppimer-enseignant')"
                    (click)="onSupprimerEnseignant(item.enseignant)">
                    <em class="icofont icofont-printer mr-2"></em>
                    {{"userAdminDiscEnseigList.Supprimer_enseignant" | translate}}</button>
                  <button ngbDropdownItem class="btn-default btn-sm mr-3"
                    [disabled]="!authService.isActif('bouton-affichage-etat-remplissage-classe')"
                    title="{{'userAdminDiscEnseigList.Afficher_l_etat_de_remplissage_de_ces_classes' | translate}}"
                    (click)="onGetEtatRemplissage(item.enseignant)">
                    <em class="icofont icofont-calendar mr-2"></em>
                    {{"userAdminDiscEnseigList.Etat_remplissage_enseignant" | translate}}</button>
                  <button ngbDropdownItem class="btn-default btn-sm mr-3"
                    [disabled]="!authService.isActif('bouton-reconduire-programmations-enseignant')"
                    title="{{'Reconduire les programmations de l\'enseignant' | translate}}"
                    (click)="onGetReconduireProgrammation(modalEnseigReprog, item)">
                    <em class="icofont icofont-arrow-right mr-2"></em>
                    {{"Reconduire les programmations de l'enseignant" | translate}}</button>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls style="text-align:center; vertical-align:middle;"
                        id="listeEnseignant" autoHide="true"
      [maxSize]="10"
      (pageChange)="setPageChange($event)"></pagination-controls>
    <div class="row" *ngIf="enseignants">
      <div class="col-12 text-center h4" *ngIf="enseignants.length == 0">
        {{"userAdminDiscEnseigList.Aucune_donnée_disponible" | translate}}</div>
    </div>
  </div>

  <div class="row" style="z-index: auto;">
    <div class="col-12">
      <ng-template #enseignantClasse let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="edit-programmation">
            {{"userAdminDiscEnseigList.Attribution_d_une_classe_a_un_enseignant" | translate}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="onResetEnseignantClasse()">
            <span aria-hidden="true" class="icofont icofont-close-line-squared text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="enseignantClasseForm">
            <div class="row">
              <div class="form-group col-12" *ngIf="authService.isVisible('liste-annee-scolaire')">
                <label for="anneeAcc">
                  {{"userAdminDiscEnseigList.Année_scolaire" | translate}}</label>
                <div class="input-group">
                  <select class="custom-select form-control" id="anneeAcc" formControlName="anneeAcc"
                    [attr.disabled]="authService.isEditable('liste-annee-scolaire') == true ? null : true"
                    [ngClass]="{'is-invalid': submittedEC && f.anneeAcc.errors }">
                    <option *ngFor="let annee of annees" value="{{ annee.id }}">{{ annee.codeAnnee }}</option>
                  </select>
                  <div *ngIf="submittedEC && f.anneeAcc.errors" class="invalid-feedback">
                    <div *ngIf="f.anneeAcc.errors.required">
                      {{"userAdminDiscEnseigList.L_annee_academique_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-6" *ngIf="authService.isVisible('liste-matiere')">
                <label for="matiere">{{"userAdminDiscEnseigList.Matière_enseignée" | translate}}</label>
                <div class="input-group">
                  <select class="custom-select form-control" id="matiere" formControlName="matiere"
                    [attr.disabled]="authService.isEditable('liste-matiere') == true ? null : true"
                    [ngClass]="{'is-invalid': submittedEC && f.matiere.errors }">
                    <option value="">
                      {{"userAdminDiscEnseigList.Choisir_la_matiere" | translate}}</option>
                    <option *ngFor="let matiere of matieres" value="{{ matiere.id }}">{{ matiere.nomMatiere }}</option>
                  </select>
                  <div *ngIf="submittedEC && f.matiere.errors" class="invalid-feedback">
                    <div *ngIf="f.matiere.errors.required">
                      {{"userAdminDiscEnseigList.La_matière_enseignée_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-6" *ngIf="classes && authService.isVisible('liste-classe')">
                <label for="classe">
                  {{"userAdminDiscEnseigList.Classe_enseignée" | translate}}</label>
                <div class="input-group">
                  <select class="custom-select form-control" id="classe" formControlName="classe"
                    [attr.disabled]="authService.isEditable('liste-classe') == true ? null : true"
                    [ngClass]="{'is-invalid': submittedEC && f.classe.errors }">
                    <option value="">--- {{"userAdminDiscEnseigList.Choisir" | translate}} ---</option>
                    <option *ngFor="let classe of classes" value="{{ classe.id }}">{{ classe.nomClasse }}</option>
                  </select>
                  <div *ngIf="submittedEC && f.classe.errors" class="invalid-feedback">
                    <div *ngIf="f.classe.errors.required">
                      {{"userAdminDiscEnseigList.La_classe_enseignée_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-6" *ngIf="authService.isVisible('champ-coefficient')">
                <label for="coef">{{"userAdminDiscEnseigList.Coefficient_de_la_matière" | translate}}</label>
                <div class="input-group">
                  <input type="text" id="coef" formControlName="coef"
                    [ngClass]="{'is-invalid': submittedEC && f.coef.errors }"
                    [readOnly]="!authService.isEditable('champ-coefficient')" class="form-control"
                    placeholder="{{'userAdminDiscEnseigList.Le_coefficient_de_la_matiere' | translate}}">
                  <div *ngIf="submittedEC && f.coef.errors" class="invalid-feedback">
                    <div *ngIf="f.coef.errors.required">
                      {{"userAdminDiscEnseigList.Le_coefficient_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-6" *ngIf="authService.isVisible('champ-bareme')">
                <label for="bareme">{{"userAdminDiscEnseigList.Barème_de_matière" | translate}}</label>
                <div class="input-group">
                  <input type="text" id="bareme" formControlName="bareme"
                    [ngClass]="{'is-invalid': submittedEC && f.bareme.errors }"
                    [readOnly]="!authService.isEditable('champ-bareme')" class="form-control"
                    placeholder="{{'userAdminDiscEnseigList.Le_bareme_de_la_matiere' | translate}}">
                  <div *ngIf="submittedEC && f.bareme.errors" class="invalid-feedback">
                    <div *ngIf="f.bareme.errors.required">
                      {{"userAdminDiscEnseigList.Le_bareme_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <form [formGroup]="programmationForm" novalidate>
            <div class="row">
              <div class="col-12">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>{{"userAdminDiscEnseigList.Jour" | translate}}</th>
                      <th>{{"userAdminDiscEnseigList.Heure_Debut" | translate}}</th>
                      <th>{{"userAdminDiscEnseigList.Heure_Fin" | translate}}</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let prog of tp.controls; let i = index">
                    <tr [formGroup]="prog">
                      <th scope="row">{{ i+1 }}</th>
                      <td class="m-0 p-0">
                        <div class="input-group m-0 p-1">
                          <select class="custom-select form-control" formControlName="jourSemaine"
                            [ngClass]="{'is-invalid': prog.touched && prog.controls.jourSemaine.errors }">
                            <option *ngFor="let jour of jours" [value]="jour.id">{{ jour.valeur }}</option>
                          </select>
                        </div>
                      </td>
                      <td class="m-0 p-0">
                        <div class="input-group p-1 m-0">
                          <input type="time" formControlName="heureDebut" class="form-control"
                                 placeholder="{{'userAdminDiscEnseigList.HH_mm' | translate}}"
                            [ngClass]="{'is-invalid': prog.touched && prog.controls.heureDebut.errors }">
                        </div>
                      </td>
                      <td class="m-0 p-0">
                        <div class="input-group p-1 m-0">
                          <input class="form-control" type="time"
                                 placeholder="{{'userAdminDiscEnseigList.HH_mm' | translate}}" formControlName="heureFin"
                            [ngClass]="{'is-invalid': prog.touched && prog.controls.heureFin.errors }">
                        </div>
                      </td>
                      <td class="m-0 p-0">
                        <ng-container class="m-0 p-1">
                          <button class="btn btn-outline-dark btn-icon mr-2"
                            title="{{'userAdminDiscEnseigList.Modifier_la_ligne' | translate}}"
                            [disabled]="(isCrenau == false) || !authService.isActif('bouton-modifier-ligne')"><em
                              class="icofont icofont-pen-alt-1"></em></button>
                          <button class="btn btn-outline-danger btn-icon mr-2"
                            title="{{'userAdminDiscEnseigList.Retirer_de_la_liste' | translate}}"
                            [disabled]="(isCrenau == false && updateProg == true)" (click)="removeProgrammation(i)"><em
                              class="icofont icofont-minus icofont-2x"></em></button>
                        </ng-container>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="text-right col-12">
                <button class="btn btn-outline-success btn-icon mr-2"
                  title="{{'userAdminDiscEnseigList.Ajouter_programmation' | translate}}"
                  (click)="addNewProgrammation()"><em class="icofont icofont-plus"></em></button>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger btn-sm mr-2"
            [disabled]="!authService.isActif('bouton-annuler')"
            (click)="onResetEnseignantClasse()">{{"userAdminDiscEnseigList.Annuler" | translate}}</button>
          <button type="button" (click)="isCrenau == true ? onAddCreneauHoraire() : onAttributeClasseToEnseignant()"
            [disabled]="!authService.isActif('bouton-enregistrer')"
            class="btn btn-primary btn-sm">{{"userAdminDiscEnseigList.Enregistrer" | translate}}</button>
        </div>
      </ng-template>
    </div>
  </div>
</app-card>


  <div class="row" style="z-index: auto;">
    <div class="col-12">
      <ng-template #modalEnseigReprog let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="edit-programmation">
            {{"Reconduction des programmation d'un enseignant" | translate}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="onResetEnseignantClasse()">
            <span aria-hidden="true" class="icofont icofont-close-line-squared text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="modalEnseigReprogForm">
            <div class="row">
              <div class="form-group col-12">
                <label for="anneeChoise">
                  {{"userAdminDiscEnseigList.Choisir_l_année" | translate}}
                  <label for="" class="color-red">*</label>
                </label>
                <div class="input-group">
                  <select class="custom-select form-control" id="anneeChoise"
                          formControlName="anneeChoise"
                          [attr.disabled]="authService.isEditable('liste-annee-scolaire') == true ? null : true">
                    <option value="">---{{"Choisir une date" | translate}}---</option>
                    <option *ngFor="let annee of annees" [value]="annee.id"
                    [ngClass]="{'displayNone' : annee.codeAnnee == null}">{{ annee.codeAnnee }}</option>
                  </select>
                </div>
                <span *ngIf="submittedER && reconduction.anneeChoise.errors">
                  <span *ngIf="reconduction.anneeChoise.errors.required" class="color-red">
                    {{"userAdminDiscEnseigList.L_annee_academique_est_obligatoire" | translate}}</span>
                </span>
              </div>
              <div class="form-group col-6" >
                <label for="">{{"Choisir l'enseignant pour qui je veux récupérer l'année" | translate}}</label>
                <div class="input-group">
                  <select class="custom-select form-control" id="matiere" formControlName="enseigInitial"
                    [ngClass]="{'is-invalid': submittedER && reconduction.enseigInitial.errors }">
                    <option value="{{ idCurrentEnseignant }}">{{ nomCurrentEnseignant }}</option>
                  </select>
                  <div *ngIf="submittedEC && reconduction.enseigInitial.errors" class="invalid-feedback">
                    <div *ngIf="reconduction.enseigInitial.errors.required">
                      {{"Le Choisir de l'enseignant est obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-6" *ngIf="classes && authService.isVisible('liste-classe')">
                <label for="">
                  {{"Choisir l'enseignant a programmer" | translate}}</label>
                <div class="input-group">
                  <input class="form-control"
                         formControlName="enseinFinal" (keyup)="openListEnseignant(openModalList, enseignantsList)"
                    [attr.disabled]="authService.isEditable('liste-classe') == true ? null : true"
                    [ngClass]="{'is-invalid': submittedER && reconduction.enseinFinal.errors }">
                </div>
              </div>


            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger btn-sm mr-2"
            [disabled]="!authService.isActif('bouton-annuler')"
            (click)="onResetEnseignantClasse()">{{"userAdminDiscEnseigList.Annuler" | translate}}</button>
          <button type="button" (click)="reconduireReprog()"
            [disabled]="!authService.isActif('bouton-enregistrer')"
            class="btn btn-primary btn-sm">{{"userAdminDiscEnseigList.Enregistrer" | translate}}</button>
        </div>
      </ng-template>
    </div>
  </div>
<div class="row" style="z-index: auto">
  <div class="col-12">
    <ng-template #openModalList let-c="close" let-d="dismiss" let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="edit-programmation">
          {{"Double-clickez sur un enseignant pour le sélectionner" | translate}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="onResetEnseignantClasse()">
          <span aria-hidden="true" class="icofont icofont-close-line-squared text-danger"></span>
        </button>
      </div>
      <div class="row">
        <div class="col-6 input-group pl-4 mt-2" [formGroup]="searchEnseignantForm"
             *ngIf="authService.isVisible('champ-recherche-enseignant')">
          <input id="searchEnseignant" class="form-control"
                 placeholder="{{'userAdminDiscEnseigList.Search' | translate}}" formControlName="searchEnseignant"
                 (keyup)="filterEnseignant($event)">
          <div class="input-group-append">
            <span class="input-group-text icofont icofont-search clickable"></span>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>#</th>
            <th>{{"Nom" | translate}}</th>
            <th>{{"Matricul" | translate}}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let enseignant of enseignantsList; let i = index"
              (dblclick)="openModalReconduction(modalEnseigReprog, enseignant)"
          >
            <td>{{ i + 1 }}</td>
            <td>{{enseignant.enseignant.nom_enseignant}}</td>
            <td>{{enseignant.enseignant.matricule}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
      </div>
    </ng-template>
  </div>
</div>
