<div class="row">
  <div class="col-sm-12">
    <app-card [title]="'pageSimple.Hello_card'">
      <p> {{"pageSimple.Lorem_ipsum_dolor_sit_amet" | translate}}
      </p>
    </app-card>
    <!--<app-card [title]="'{{pageSimple.Quelle_opération | translate}}'" >-->
    <app-card [title]="'pageSimple.Quelle_opération_voulez_vous_effectuer_sur_les_inscriptions'">
      <div class="row">
        <!-- Statistics card start -->
        <div class="col-md-12 col-xl-4">
          <div class="card widget-statstic-card clickable" routerLink="/administration/inscriptions/list-inscription">
            <div class="card-header">
              <div class="card-header-left">
                <h5>{{"pageSimple.Inscriptions" | translate}}</h5>
                <p class="p-t-10 m-b-0 text-c-blue">{{"pageSimple.Ce_module_est_celui_de_la_gestion_des_inscriptions" | translate}}</p>
              </div>
            </div>
            <div class="card-block">
              <i class="icofont icofont-student st-icon bg-c-blue"></i>
              <div class="text-left">
                <i class="icofont icofont-long-arrow-up f-30 text-c-green"></i>
                <span class="f-right">{{"pageSimple.Avancer" | translate}}</span>
              </div>

            </div>
          </div>
        </div>
        <!-- Statistics card end -->
        <!-- Statistics card start -->
        <div class="col-md-6 col-xl-4">
          <div class="card widget-statstic-card clickable" routerLink="/administration/inscriptions/list-paiements">
            <div class="card-header">
              <div class="card-header-left">
                <h5>{{"pageSimple.Paiements" | translate}}</h5>
                <p class="p-t-10 m-b-0 text-c-pink">{{"pageSimple.Ce_module_est_celui_de_la_gestion_des_paiements_des_inscriptions" | translate}}</p>
              </div>
            </div>
            <div class="card-block">
              <i class="icofont icofont-credit-card st-icon bg-c-pink txt-lite-color"></i>

              <div class="text-left">
                <i class="icofont icofont-long-arrow-up f-30 text-c-green"></i>
                <span class="f-right">{{"pageSimple.Avancer" | translate}}</span>
              </div>
            </div>
          </div>
        </div>
        <!-- Statistics card end -->
      </div>
    </app-card>
  </div>
</div>
