<!-- List journaux card start -->
<app-card [title]="'userAdminConfNum.Les_parametrages_des_journaux_de_finance'" [classHeader]="true" [blockClass]="'table-border-style'">
  <div class="card-actions-bar" *ngIf="authService.isVisible('bouton-ajouter-journal')">
    <div class="row">
      <div class="col-8 input-group" [formGroup]="fSearchGroup" >
        <input list="elevesSearch" class="form-control"
               placeholder="{{'userAdminDiscEnseigList.Search' | translate}}" formControlName="search">
        <datalist id="elevesSearch" >
          <option *ngFor="let lstC of journauxFinance" value="{{ lstC.matriculeEleve }}" > </option>
        </datalist>
        <div class="input-group-append">
                <span class="input-group-text icofont icofont-search clickable"
                      (click)="getListeClassOnTable()"></span>
        </div>
      </div>
      <div class="col-4">
        <button class="btn btn-primary btn-sm ml-5 mr-4 m-1" [disabled]="!authService.isActif('bouton-ajouter-journal')"
                (click)="open(content)">
          <em class="icofont icofont-check-circled"></em>
          {{"userAdminFinancesListJournal.Ajouter_journal" | translate}}</button>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>{{"userAdminFinancesListJournal.Code" | translate}}</th>
        <th >{{"Informations" | translate}}</th>
<!--        <th >{{"userAdminFinancesListJournal.Designation" | translate}}</th>-->
        <th>{{"userAdminFinancesListJournal.type" | translate}}</th>
        <th>{{"userAdminFinancesListJournal.Options" | translate}}</th>
      </tr>
      </thead>
      <tbody *ngIf="journauxFinance">
      <tr *ngFor="let journal of journauxFinance; let i = index">
        <th scope="row">{{ i+1 }}</th>
        <td>{{ journal.codeAnnee }}</td>
        <td class="p-1">
          <label>{{"Matricule" | translate}} &nbsp; : &nbsp; {{ journal.matriculeEleve }}</label><br>
          <label>{{"Nom complet Eleve" |translate}} &nbsp; : &nbsp; {{ journal.nomsEleve }}</label><br>
          <label>{{"Montant"}} &nbsp; : &nbsp; {{ journal.montant }}</label><br>
          <label>{{"classe"}} &nbsp; : &nbsp; {{ journal.nomClasseEleve }}</label>
        </td>
        <td>{{ journal.operationEffectue }}</td>
        <td class="p-1">
          <div [ngClass]="'icon-btn p-0 m-0'">
            <button class="btn btn-warning btn-icon mr-2" (click)="onLoadDetailsJournal(journal, content)"
                    [disabled]="!authService.isActif('bouton-modifier-journal')"
                    title="{{'userAdminFinancesListJournal.Modifier_le_journal' | translate}} {{ journal.designation_jrnl}}">
              <em class="icofont icofont-pen-alt-1"></em></button>
            <button class="btn btn-success btn-icon mr-2" (click)="onLoadDetailsJournal(journal, content)"
                    [disabled]="!authService.isActif('bouton-visualiser-journal')"
                    title="{{'userAdminFinancesListJournal.Visualiser_le_journal' | translate}} {{ journal.designation_jrnl}}">
              <em class="icofont icofont-eye-alt"></em></button>
            <button class="btn btn-danger btn-icon mr-2" (click)="onDeleteJournal(journal.id)"
                    [disabled]="!authService.isActif('bouton-supprimer-journal')"
                    title="{{'userAdminFinancesListJournal.Supprimer_le_journal' | translate}} {{ journal.designation_jrnl}}">
              <em class="icofont icofont-ui-delete"></em></button>
          </div>
        </td>
      </tr>
      </tbody>

<!--      <tbody *ngIf="journaux">-->
<!--      <tr *ngFor="let journal of journaux; let i = index">-->
<!--        <th scope="row">{{ i+1 }}</th>-->
<!--        <td>{{ journal.code_jrnl }}</td>-->
<!--        <td>{{ journal.designation_jrnl }}</td>-->
<!--        <td>{{ journal.type_jrnl }}</td>-->
<!--        <td class="p-1">-->
<!--          <div [ngClass]="'icon-btn p-0 m-0'">-->
<!--            <button class="btn btn-warning btn-icon mr-2" (click)="onLoadDetailsJournal(journal, content)"-->
<!--                    [disabled]="!authService.isActif('bouton-modifier-journal')"-->
<!--                    title="{{'userAdminFinancesListJournal.Modifier_le_journal' | translate}} {{ journal.designation_jrnl}}">-->
<!--              <em class="icofont icofont-pen-alt-1"></em></button>-->
<!--            <button class="btn btn-success btn-icon mr-2" (click)="onLoadDetailsJournal(journal, content)"-->
<!--                    [disabled]="!authService.isActif('bouton-visualiser-journal')"-->
<!--                    title="{{'userAdminFinancesListJournal.Visualiser_le_journal' | translate}} {{ journal.designation_jrnl}}">-->
<!--              <em class="icofont icofont-eye-alt"></em></button>-->
<!--            <button class="btn btn-danger btn-icon mr-2" (click)="onDeleteJournal(journal.id)"-->
<!--                    [disabled]="!authService.isActif('bouton-supprimer-journal')"-->
<!--                    title="{{'userAdminFinancesListJournal.Supprimer_le_journal' | translate}} {{ journal.designation_jrnl}}">-->
<!--              <em class="icofont icofont-ui-delete"></em></button>-->
<!--          </div>-->
<!--        </td>-->
<!--      </tr>-->
<!--      </tbody>-->

    </table>
  </div>
  <div class="row">
    <div class="col-12">
      <ng-template #content let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="add-journal">
            {{"userAdminFinancesListJournal.Nouveau_journal" | translate}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true" class="icofont icofont-close-line-squared text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="journalForm">
            <div class="row">
              <div class="col-6" *ngIf="authService.isVisible('champ-code-journal')">
                <div class="form-group">
                  <label for="code">
                    {{"userAdminFinancesListJournal.Code_journal" | translate}}</label>
                  <div class="input-group">
                    <input type="text" id="code" formControlName="code" [ngClass]="{'is-invalid': submitted && f.code.errors }"
                           [readOnly]="!authService.isEditable('champ-code-journal')" class="form-control"
                           placeholder="{{'userAdminFinancesListJournal.Code_journal' | translate}}">
                    <div *ngIf="submitted && f.code.errors" class="invalid-feedback">
                      <div *ngIf="f.code.errors.required">
                        {{"userAdminFinancesListJournal.Le_code_journal_est_obligatoire" | translate}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6" *ngIf="authService.isVisible('liste-type-journal')">
                <div class="form-group">
                  <label for="type">{{"userAdminFinancesListJournal.Type_du_journal" | translate}}</label>
                  <div class="input-group">
                    <select class="custom-select form-control" [attr.disabled]="authService.isEditable('liste-type-journal') == true ? null : true"
                            id="type" formControlName="type" [ngClass]="{'is-invalid': submitted && f.type.errors }">
                      <option value="">
                        {{"userAdminFinancesListJournal.Choisir_le_type_du_journal" | translate}}</option>
                      <option value="0">{{"userAdminFinancesListJournal.Par_défaut" | translate}}</option>
                      <option value="1">{{"userAdminFinancesListJournal.Autre_type" | translate}}</option>
                    </select>
                    <div *ngIf="submitted && f.type.errors" class="invalid-feedback">
                      <div *ngIf="f.type.errors.required">
                        {{"userAdminFinancesListJournal.Le_type_de_journal_est_obligatoire" | translate}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group" *ngIf="authService.isVisible('champ-designation')">
              <label for="designation">{{"userAdminFinancesListJournal.Designation" | translate}}</label>
              <div class="input-group">
                <input type="text" [readOnly]="!authService.isEditable('champ-designation')"
                       id="designation" formControlName="designation" [ngClass]="{'is-invalid': submitted && f.designation.errors }"
                       class="form-control"
                       placeholder="{{'userAdminFinancesListJournal.Désignation_du_journal' | translate}}">
                <div *ngIf="submitted && f.designation.errors" class="invalid-feedback">
                  <div *ngIf="f.designation.errors.required">
                    {{"userAdminFinancesListJournal.La_designation_du_journal_est_obligatoire" | translate}}</div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" [disabled]="!authService.isActif('bouton-annuler')"
                  class="btn btn-outline-danger btn-sm mr-2" (click)="onReset()">
            {{"userAdminFinancesListJournal.Annuler" | translate}}</button>
          <button type="button" [disabled]="!authService.isActif('bouton-enregistrer')"
                  (click)="onSaveJournal()" class="btn btn-primary btn-sm">
            {{"userAdminFinancesListJournal.Enregistrer" | translate}}</button>
        </div>
      </ng-template>
    </div>
  </div>
</app-card>
<!-- List journaux card end -->
