<app-card [icone]="'ti-medall'" [title]="'Historique de modification de notes'">
  <div class="row" *ngIf="authService.isVisible('champ-recherche-note-modifie')">
    <div class="col-6 input-group pl-4" [formGroup]="searchForm" >
      <input id="search" class="form-control"
             [readOnly]="!authService.isEditable('champ-recherche-note-modifie')"
             placeholder="{{'userEleveListeEleveMenu.Search' | translate}}" formControlName="search">
      <div class="input-group-append">
        <span class="input-group-text icofont icofont-search clickable"
              (click)="authService.isActif('bouton-rechercher-note-modifie') ? onAfficherHistorique(search.search.value, true) : ''"></span>
      </div>
    </div>
  </div>
  <div class="table-responsive table-xs">
    <table class="table table-striped table-hover table-sm">
      <thead>
      <tr>
        <th>#</th>
        <th>{{"userEleveListeEleveMenu.Eleve" | translate}}</th>
        <th>{{"userEleveListeEleveMenu.Notes" | translate}}</th>
        <th>{{"userEleveListeEleveMenu.Utilisateur" | translate}}</th>
      </tr>
      </thead>
      <tbody *ngIf="listNotes">
      <tr *ngFor="let note of listNotes | paginate: {itemsPerPage: pageSize, currentPage: page + 1,
      totalItems : totalElements, id: 'historique-note'}; let i = index" (dblclick)="onDetailHistorique(note)">
        <th scope="row">{{ i+1 }}</th>
        <td class="text-small">
          <p class="p-0 m-0"><span>{{ 'userEleveListeEleveMenu.Matricule' | translate }} : </span> <span>{{ note.matriculeEleve }}</span></p>
          <p class="p-0 m-0"><span>{{ 'userEleveListeEleveMenu.Noms' | translate }} : </span> <span>{{ note.nomsEleve }}</span></p>
          <p class="p-0 m-0"><span>{{ 'userEleveListeEleveMenu.Classe' | translate }} : </span> <span>{{ note.nomClasseEleve }}</span></p>
          <p class="p-0 m-0"><span>{{ 'userEleveListeEleveMenu.Matiere' | translate }} : </span> <span>{{ note.nomMatiere }}</span></p>
        </td>
        <td class="text-small">
          <p class="p-0 m-0"><span>{{ 'userEleveListeEleveMenu.Annee' | translate }} : </span> <span>{{ note.codeAnnee }}</span></p>
          <p class="p-0 m-0"><span>{{ 'userEleveListeEleveMenu.Sequence' | translate }} : </span> <span>{{ note.nomSequence }}</span></p>
          <p class="p-0 m-0"><span>{{ 'userEleveListeEleveMenu.Ancien_Note' | translate }} : </span> <span>{{ note.notePrecedent }}</span></p>
          <p class="p-0 m-0"><span>{{ 'userEleveListeEleveMenu.Nouvelle_Note' | translate }} : </span> <span>{{ note.noteActuel }}</span></p>
        </td>
        <td class="text-small">
          <p class="p-0 m-0"><span>{{ 'userEleveListeEleveMenu.Date_Operation' | translate }} : </span> <span>{{ note.dateOperation | date: 'medium' }}</span></p>
          <p class="p-0 m-0"><span>{{ 'userEleveListeEleveMenu.Nom_Utilisateur' | translate }} : </span> <span>{{ note.nomUtilisateurImplique }}</span></p>
        </td>
      </tr>
      </tbody>
    </table>
    <pagination-controls style="text-align:center; vertical-align:middle;"
                         autoHide="true" [maxSize]="10" id="historique-note"
                         (pageChange)="setPageChange($event)"></pagination-controls>
    <div *ngIf="!listNotes" class="row">
      <div class="col-12 text-center">
        <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status"><span class="sr-only">
          {{"userEleveListeEleveMenu.Loading" | translate}}...</span></div>
        <div class="spinner-border text-warning" style="width: 3rem; height: 3rem;" role="status"><span class="sr-only">
          {{"userEleveListeEleveMenu.Loading" | translate}}...</span></div>
        <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status"><span class="sr-only">
          {{"userEleveListeEleveMenu.Loading" | translate}}...</span></div>
      </div>
    </div>
    <div class="dropdown-divider"></div>
  </div>
</app-card>

