<app-card [icone]="'icofont-users-alt-6'" [title]="'Liste de mes classes'" [classHeader]="true" [blockClass]="'table-border-style'">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>{{"userEspaceConsulter.Classe" | translate}}</th>
        <th>{{"userEspaceConsulter.Matières" | translate}}</th>
        <th>{{"userEspaceConsulter.Coef" | translate}}</th>
        <th>{{"userEspaceConsulter.Barème" | translate}}</th>
      </tr>
      </thead>
      <tbody *ngIf="matiereclasses && matiereclasses.length > 0">
      <tr *ngFor="let item of matiereclasses; let i = index">
        <th scope="row">{{ '#' + (i+1) }}</th>
        <td>{{ item?.classe.nomClasse }}</td>
        <td>{{ item?.matiere.nomMatiere }}</td>
        <td>{{ item.coefficient }}</td>
        <td>{{ item.baremeEvaluation }} </td>
      </tr>
      </tbody>
    </table>
  </div>
</app-card>
