<!-- List classe card start -->
<app-card [title]="'userAdminFinancesListServices.Les_classes_disponibles'" [classHeader]="true" [blockClass]="'table-border-style'">
  <div class="card b-l-danger business-info services">
    <div class="card-body p-1">
      <div class="row">
        <div class="col-sm-4">
          <p class="task-detail"><span>
            {{"userAdminNotesStatistiques.Total_élèves" | translate}}&nbsp;&nbsp; </span>
            <span class="text-bold">{{ totalEleves }}</span></p>
          <p class="task-detail"><span>
            {{"userAdminNotesStatistiques.Montant_net_attendu" | translate}}&nbsp;&nbsp; </span>
            <span class="text-bold">{{ totalNetAttendu | currency: 'XAF' }}</span></p>
        </div>
        <div class="col-sm-4">
          <p class="task-detail"><span>
            {{"userAdminNotesStatistiques.Total_Filles" | translate}}&nbsp;&nbsp; </span>
            <span class="text-bold">{{ totalElevesFilles }}</span></p>
          <p class="task-detail"><span>
            {{"userAdminNotesStatistiques.Total_Garçons" | translate}}&nbsp;&nbsp; </span>
            <span class="text-bold">{{ totalElevesGarcons }}</span></p>
        </div>
        <div class="col-sm-4">
          <p class="task-detail"><span>
            {{"userAdminNotesStatistiques.Montant_total_perçu" | translate}}&nbsp;&nbsp;  </span>
            <span class="text-bold">{{ totalNetVerse | currency: 'XAF' }}</span></p>
          <p class="task-detail"><span>
            {{"userAdminNotesStatistiques.Montant_total_restant" | translate}} &nbsp;&nbsp; </span>
            <span class="text-bold">{{ totalNetRestant | currency: 'XAF' }}</span></p>
        </div>
        <div class="col-sm-12 text-right">
          <div ngbDropdown class="d-inline-block" [scrollLeft]="5" display="static" *ngIf="services">
            <button class="btn btn-outline-primary btn-sm"
                    id="dropdownBasic1" ngbDropdownToggle>{{ (currentSwitch | titlecase )   }} | <span class="text-danger">
              {{"userAdminNotesStatistiques.Changer" | translate}}</span></button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem class="btn-sm" (click)="onloadStatFinancierEleve(0, allServices)">{{ allServices }}</button>
              <button ngbDropdownItem class="btn-sm" *ngFor="let service of services"
                      (click)="onloadStatFinancierEleve(service.id, 'Service '+ service.nomService)">{{ 'Service '+ service.nomService }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>{{"userAdminNotesStatistiques.Classe" | translate}}</th>
        <th>{{"userAdminNotesStatistiques.Elèves" | translate}}</th>
        <th>{{"userAdminNotesStatistiques.Garçons" | translate}}</th>
        <th>{{"userAdminNotesStatistiques.Filles" | translate}}</th>
        <th>{{"userAdminNotesStatistiques.Net_Attendu" | translate}}</th>
        <th>{{"userAdminNotesStatistiques.Perçu" | translate}}</th>
        <th>{{"userAdminNotesStatistiques.Bonus" | translate}}</th>
        <th>{{"userAdminNotesStatistiques.Reste" | translate}}</th>
      </tr>
      </thead>
      <tbody *ngIf="classes">
      <tr *ngFor="let classe of classes ; let i = index">
        <th scope="row">{{ i+1 }}</th>
        <td>{{ classe.nomClasse }}</td>
        <td>{{ classe.nbTotalEleves }}</td>
        <td>{{ classe.nbTotalElevesGarcons }}</td>
        <td>{{ classe.nbTotalElevesFilles }}</td>
        <td>{{ classe.montantAttendu | currency: 'XAF' }}</td>
        <td>{{ classe.montantRecu | currency: 'XAF' }}</td>
        <td>{{ classe.bonusOffert | currency: 'XAF' }}</td>
        <td>{{ classe.detteTotale | currency: 'XAF' }}</td>
      </tr>
      </tbody>
    </table>
    <div class="row" *ngIf="classes">
      <div class="col-12 text-center h4" *ngIf="classes.length == 0">
        {{"userAdminNotesStatistiques.Aucune_donnée_disponible" | translate}}</div>
    </div>
  </div>
  <div class="dropdown-divider"></div>
  <div class="row">
    <div class="col-12 text-right">
      <button class="btn btn-primary btn-sm ml-5 mr-4 m-1"
      ><em class="icofont icofont-printer mr-2"></em>
        {{"userAdminNotesStatistiques.Imprimer_les_classes" | translate}}</button>
    </div>
  </div>
</app-card>
<!-- List classe card end -->

