<!-- List remise niveau card start -->
<app-card [classHeader]="false" [blockClass]="'table-border-style'">
  <form [formGroup]="parentForm">
    <div class="row">
      <div class="col-md-6 col-xs-12 pt-2 pl-4">
        <app-card [classHeader]="false" [blockClass]="'table-border-style'">
          <div class="row">
            <div class="col-12" *ngIf="!currentEleve && authService.isVisible('bouton-ajout-eleve')">
              <div class="container d-flex align-content-center clickable" id="default"
                (click)="authService.isActif('bouton-ajout-eleve') ? openEleves(contenteleves) : null">
                <img class="display-img" src="./assets/images/pattern2.jpg" alt="">
                <div class="centered"><em class="icofont icofont-boy icofont-2x mr-4"></em>
                  {{"userEleveListeGestion.Ajouter_un_élève" | translate}}</div>
              </div>
            </div>
            <div class="col-12 pb-0 mb-0" *ngIf="currentEleve">
              <div class="view-info">
                <div class="row">
                  <div class="col-lg-12 pb-0 mb-0">
                    <div class="row">
                      <div class="col-sm-12">
                        <h4>{{"userEleveListeGestion.Informations_élève" | translate}}</h4>
                      </div>
                      <div class="col-sm-4 text-right">
                        <ngx-avatar
                          [src]="(currentEleve.logo != '') ? urlImage+currentEleve.matricule + '?ts=' + getTs() : ''"
                          size="120" [name]="currentEleve.nomEleve[0] + ' ' +currentEleve.prenomEleve[0]"
                          [round]="false"></ngx-avatar>
                        <div class="general-info">
                          <div class="table-responsive">
                            <table class="table m-0">
                              <tbody>
                                <tr>
                                  <th scope="row">{{"userEleveListeGestion.Sexe" | translate}}</th>
                                  <td>{{ currentEleve.sexe }}</td>
                                </tr>
                                <tr>
                                  <th scope="row">{{"userEleveListeGestion.Classe" | translate}}</th>
                                  <td>{{ currentEleve.classe.nomClasse }}</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-8">
                        <div class="general-info">
                          <div class="table-responsive">
                            <table class="table m-0">
                              <tbody>
                                <tr>
                                  <th scope="row">{{"userEleveListeGestion.Nom_s" | translate}}</th>
                                  <td>{{ currentEleve.nomEleve }}</td>
                                </tr>
                                <tr>
                                  <th scope="row">{{"userEleveListeGestion.Prenom_s" | translate}}</th>
                                  <td>{{ currentEleve.prenomEleve }}</td>
                                </tr>
                                <tr>
                                  <th scope="row">{{"userEleveListeGestion.Né_le" | translate}}</th>
                                  <td>{{ currentEleve.date_naissance | date }}</td>
                                </tr>
                                <tr>
                                  <th scope="row">{{"userEleveListeGestion.Matricule" | translate}}</th>
                                  <td>{{ currentEleve.matricule }}</td>
                                </tr>
                                <tr>
                                  <th scope="row">{{"userEleveListeGestion.Statut" | translate}}</th>
                                  <td>{{ currentEleve.statut == 'N' ? 'Nouveau' : 'Redoublant'}}</td>
                                </tr>
                                <tr>
                                  <th scope="row">Code Acces Parent</th>
                                  <td>{{ currentEleve.utilisateurPortail != null ?
                                    currentEleve.utilisateurPortail.codeAcces : '/'}}</td>
                                </tr>

                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row container font-weight-bold pt-0 mt-0 pb-3 mb-2">
                    <span class="col-7 d-flex justify-content-start text-primary clickable"
                      (click)="onModifierInfo(currentEleve, addeleve)">
                      {{"userEleveListeGestion.Modifier_information" | translate}}</span>
                    <span class="col-7 d-flex justify-content-start text-amazon clickable"
                      (click)="authService.isActif('bouton-selectionner-autre') ? openEleves(contenteleves) : ''">
                      {{"userEleveListeGestion.Sélectionner_un_autre" | translate}}</span>
                    <span class="col-7 d-flex justify-content-start text-googleplus clickable"
                      (click)="onFilmerEleve(currentEleve, photoeleve)">
                      {{"userEleveListeGestion.Filmer_l_élève" | translate}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </app-card>
      </div>
      <div class="col-md-6 col-xs-12 pt-2 pr-4">
        <app-card [classHeader]="false" [blockClass]="'table-border-style'">
          <div class="row">
            <div class="col-12 p-3">
              <div class="form-group row pb-0 mb-1 pt-0 mt-1" *ngIf="authService.isVisible('champ-nom-parent-eleve')">
                <label class="col-sm-4 text-right" for="nomParent">
                  {{"userEleveListeGestion.Nom_du_père" | translate}}</label>
                <div class="input-group col-sm-8">
                  <input type="text" id="nomParent" formControlName="nomParent" class="form-control"
                    placeholder="{{'userEleveListeGestion.Nom_du_père_ou_tuteur' | translate}}"
                    [readOnly]="(!authService.isEditable('champ-nom-parent-eleve') || !updateStudent) && disableFormParent">
                </div>
              </div>
              <div class="form-group row pb-0 mb-1">
                <label class="col-sm-4 text-right" for="nomMere">
                  {{"userEleveListeGestion.Nom_de_la_mère" | translate}}</label>
                <div class="input-group col-sm-8">
                  <input type="text" id="nomMere" formControlName="nomMere" class="form-control"
                    placeholder="{{'userEleveListeGestion.Nom_de_la_mère' | translate}}"
                    [readOnly]="!updateStudent && disableFormParent">
                </div>
              </div>
              <div class="form-group row pb-0 mb-1 pt-0 mt-1"
                *ngIf="authService.isVisible('champ-numero-telephone-parent')">
                <label class="col-sm-4 text-right" for="telParent">{{"userEleveListeGestion.Telephone_père" |
                  translate}}</label>
                <div class="input-group col-sm-8">
                  <input type="text" id="telParent" formControlName="telParent" class="form-control"
                    placeholder="{{'userEleveListeGestion.Telephone_du_parent' | translate}}"
                    [readOnly]="(!authService.isEditable('champ-numero-telephone-parent') || !updateStudent) && disableFormParent"
                    [ngClass]="{'is-invalid': submitted && p.telParent.errors }">
                  <div *ngIf="submitted && p.telParent.errors" class="invalid-feedback">
                    <div *ngIf="p.telParent.errors.pattern">
                      {{"userEleveListeGestion.Le_numéro_de_téléphone_doit_commencer_par_6_et_avoir_au_moins_9_chiffres"
                      | translate}}</div>

                  </div>
                </div>
              </div>
              <div class="form-group row pb-0 mb-1 pt-0 mt-1">
                <label class="col-sm-4 text-right" for="telephoneMere">
                  {{"userEleveListeGestion.Telephone_mère" | translate}}</label>
                <div class="input-group col-sm-8">
                  <input type="text" id="telephoneMere" formControlName="telephoneMere"
                    [readOnly]="!updateStudent && disableFormParent"
                    [ngClass]="{'is-invalid': submitted && p.telephoneMere.errors }" class="form-control"
                    placeholder="{{'userEleveListeGestion.Telephone_de_la_mère' | translate}}">
                  <div *ngIf="submitted && p.telephoneMere.errors" class="invalid-feedback">
                    <div *ngIf="p.telephoneMere.errors.pattern">
                      {{"userEleveListeGestion.Le_numéro_de_téléphone_doit_commencer_par_6_et_avoir_au_moins_9_chiffres"
                      | translate}}</div>

                  </div>
                </div>
              </div>
              <div class="form-group row pb-0 mb-1 pt-0 mt-1" *ngIf="authService.isVisible('champ-email-parent-eleve')">
                <label class="col-sm-4 text-right" for="emailParent">Email</label>
                <div class="input-group col-sm-8">
                  <input type="text" id="emailParent" formControlName="emailParent" class="form-control"
                    placeholder="{{'userEleveListeGestion.Le_mail_du_parent' | translate}}"
                    [readOnly]="(!authService.isEditable('champ-email-parent-eleve') || !updateStudent) && disableFormParent">
                </div>
              </div>
              <div class="form-group row pt-0 mt-1 pb-0 mb-1" *ngIf="authService.isVisible('champ-residence-parent')">
                <label class="col-sm-4 text-right" for="residenceParent">
                  {{"userEleveListeGestion.Residence" | translate}}</label>
                <div class="input-group col-sm-8">
                  <input type="text" id="residenceParent" formControlName="residenceParent" class="form-control"
                    placeholder="{{'userEleveListeGestion.La_résidence_du_parent' | translate}}"
                    [readOnly]="(!authService.isEditable('champ-residence-parent') || !updateStudent) && disableFormParent">
                </div>
              </div>
              <div class="form-group row pt-0 mt-1 pb-0 mb-1" *ngIf="canUploadImage == true">
                <label for="photo" class="col-sm-4 text-right">
                  {{"userEleveListeGestion.Photo_de_l_élève" | translate}}</label>
                <div class="col-md-5 col-xl-5">
                  <input class="form-control" type="file" formControlName="photo"
                    placeholder="{{'userEleveListeGestion.Photo_de_l_élève' | translate}}" id="photo"
                    (change)="onselectedFile($event)">
                </div>
                <div class="col-2 text-left">
                  <button class="btn btn-primary btn-sm mr-2"
                    title="{{'userEleveListeGestion.Modifier_le_logo_de_l_institution' | translate}}"
                    [disabled]="!selectedFiles" (click)="uploadPhotoEleve(currentEleve.matricule)">
                    <em class="icofont icofont-ui-file mr-2"></em>
                    {{"userEleveListeGestion.Save" | translate}}</button>
                </div>
                <div class="col-md-6 col-xl-6" *ngIf="progress>0 && progress < 100">
                  <label for="photo" class="col-form-label">
                    {{"userEleveListeGestion.Progression_d_enregistrement_du_logo" | translate}}</label>
                  <p>
                    <ngb-progressbar type="success" textType="white" [value]="progress" [showValue]="true">
                    </ngb-progressbar>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </app-card>
      </div>
    </div>
  </form>
</app-card>
<!-- List remise niveau card end -->

 <app-card [title]="'userEleveListeGestion.Détails_de_l_inscriptions'">
  <form [formGroup]="servicesForm" novalidate>
    <div class="row" *ngIf="modeleEcheanciersObligatoire || modeleEcheanciers">
      <div class="col-12">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>{{"userEleveListeGestion.Service" | translate}}</th>
              <th>{{"userEleveListeGestion.Montant" | translate}}</th>
              <th>{{"userEleveListeGestion.Date_d_écheance" | translate}}</th>
              <th>{{"userEleveListeGestion.quantites" | translate}}</th>
              <th></th>
            </tr>
          </thead>
          <tbody *ngFor="let service of t.controls; let i = index">
            <tr [formGroup]="service">
              <th scope="row">{{ i+1 }}</th>
              <td >
                <div class="input-group" *ngIf="t.at(i).value.obligatoire == 'O'">
                  <select class="custom-select form-control" [attr.disabled]="true" formControlName="service"
                    (ngModelChange)="setMontant($event, i)">
                    <option *ngFor="let modele of modeleEcheanciers" value="{{ modele.id }}">{{ modele.intitule }}
                    </option>
                  </select>
                </div>
                <div class="input-group" *ngIf="t.at(i).value.obligatoire != 'O' && modeleEcheanciersDispo.length > 0">
                  <div class="input-group" *ngIf="this.isExist(t.at(i).value.service)==true" >
                    <input type="text" lang="en" [attr.disabled]="true"
                           formControlName="intitule" class="form-control" >
                  </div>
                  <select class="custom-select form-control" *ngIf="this.isExist(t.at(i).value.service)==false"
                    [attr.disabled]="(authService.isEditable('liste-choisir-service') == true ? null : true)"
                    formControlName="service" (ngModelChange)="setMontant($event, i)">
                    <option value="">{{"userEleveListeGestion.Choisir_service" | translate}}</option>
                    <option *ngFor="let modele of modeleEcheanciersDispo" value="{{ modele.id }}">{{
                      modele.intitule }}</option>
                  </select>
                </div>


                <div class="input-group" *ngIf="t.at(i).value.obligatoire != 'O' && modeleEcheanciersDispo.length==0">
                  <input type="text" lang="en" [attr.disabled]="true"
                    formControlName="intitule" class="form-control"
                    placeholder="{{'userEleveListeGestion.Choisir_service' | translate}}">
                </div>
              </td>


              <td>
                <div class="input-group" >
                  <input type="number" lang="en"
                    [readOnly]="t.at(i).value.obligatoire == 'O' || !authService.isEditable('champ-nontant-service')"
                    formControlName="montant" class="form-control"
                    placeholder="{{'userEleveListeGestion.Montant_du_service' | translate}}">
                </div>
              </td>


              <td>
                <div class="input-group">
                  <input class="form-control" type="date"
                    placeholder="{{'userEleveListeGestion.dd_mm_yyyy' | translate}}" formControlName="dateEch"
                    [readOnly]="!authService.isEditable('champ-date-echeance')">
                </div>
              </td>

              <td>
                <div class="input-group">
                  <input class="form-control" type="number"
                      placeholder="{{'userEleveListeGestion.quantite' | translate}}" formControlName="quantite">
                </div>
              </td>


              <td>
                <ng-container>
                  <button class="btn btn-outline-dark btn-icon mr-2"
                    title="{{'userEleveListeGestion.Modifier_la_ligne' | translate}}"
                    [disabled]="!authService.isActif('bouton-modifier-ligne')"><em
                      class="icofont icofont-pen-alt-1"></em></button>
                  <button class="btn btn-outline-dark btn-icon mr-2"
                    title="{{'userEleveListeGestion.Enregistrer_modification' | translate}}"
                    (click)="onAddServiceToInscription()"><em class="icofont icofont-save"></em></button>
                  <button class="btn btn-outline-danger btn-icon mr-2"
                    title="{{'userEleveListeGestion.Retirer_de_la_liste' | translate}}"
                    *ngIf="t.at(i).value.obligatoire != 'O'" [disabled]="!authService.isActif('bouton-retirer-ligne')"
                    (click)="onDeleleLineToServiceSelect(i)"><em class="icofont icofont-minus icofont-2x"></em></button>
                </ng-container> 
              </td>
            </tr>

          </tbody>
        </table>
      </div>
      <div class="col-12 pt-0">
        <div class="row bg-light ml-2 mr-2">
          <button type="button" class="btn btn-light btn-block"
            [disabled]="!authService.isActif('bouton-ajouter-service') || (modeleEcheanciersDispo && modeleEcheanciersDispo.length == 0)"
            (click)="onAddLineToServiceSelect()">
            <em class="icofont icofont-plus">
              {{"userEleveListeGestion.Ajouter_un_service" | translate}}
            </em></button>
        </div>
      </div>
      <div class="col-12 text-right">
        <button type="button" class="btn btn-success mr-2" [disabled]="disabledButtonSave" (click)="onRecapEleve()">
          {{"userEleveListeGestion.Enregistrer_et_Continuer" | translate}}
        </button>
        <button type="button" [disabled]="!authService.isActif('bouton-annuler-inscription')"
          (click)="onAnnulerInscrireEleves()" class="btn btn-outline-danger">
          {{"userEleveListeGestion.Annuler" | translate}}
        </button>

      </div>
    </div>
  </form>

  <div class="row">
    <div class="col-12">
      <ng-template #contenteleves let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header pb-0 mb-0">
          <div class="row">
            <div class="col-12">
              <h4 class="modal-title" id="list-eleve-modal">
                {{"userEleveListeGestion.Eleves_enregistrés" | translate}}</h4>
            </div>
            <div class="col-12 input-group pl-4" [formGroup]="searchForm">
              <input id="search" class="form-control" placeholder="{{'userEleveListeGestion.Search' | translate}}"
                formControlName="search" [readOnly]="!authService.isEditable('champ-recherche-motcle')">

              <div class="input-group-append">
                <button class="btn btn-outline-secondary btn-icon icofont icofont-search-alt-1"
                  (click)="onLoadListEleves(search.search.value, true)" type="button"
                  [disabled]="!authService.isActif('bouton-recherche-motcle')"></button>
              </div>
            </div>
          </div>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true" class="icofont icofont-close-line-squared-alt text-danger"></span>
          </button>
        </div>
        <div class="modal-body p-0">
          <table class="table table-hover m-0">
            <tbody *ngIf="eleves">
              <tr *ngFor="let eleve of eleves | paginate: { itemsPerPage: pageSize,
            currentPage: page+ 1, totalItems: totalElements}" (click)="onSelectCurrentEleve(eleve)"
                (dblclick)="onValiderEleve(eleve)"
                [ngClass]="eleve?.matricule == currentEleve?.matricule ? 'bg-gray' : ''">
                <td>{{ eleve.matricule }}</td>
                <td>{{ eleve.nomEleve }} {{ eleve.prenomEleve }}</td>
                <td>{{ eleve.classe.nomClasse }}</td>
                <td>{{ eleve.date_naissance }}</td>
                <td>{{ eleve.sexe }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <pagination-controls style="text-align:center; vertical-align:middle;" autoHide="true" [maxSize]="10"
            (pageChange)="setPageChange($event)"></pagination-controls>
          <button type="button" [disabled]="!currentEleve" class="btn btn-outline-warning btn-sm mr-2"
            (click)="onValiderEleve(currentEleve)">
            {{"userEleveListeGestion.Valider" | translate}}
          </button>
          <button type="button" class="btn btn-primary btn-sm" [disabled]="!authService.isActif('bouton-nouvel-eleve')"
            (click)="onCreateNewEleve(addeleve)">
            {{"userEleveListeGestion.Nouvel_élève" | translate}}
          </button>

        </div>
      </ng-template>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <ng-template #addeleve let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="add-eleve">
            {{"userEleveListeGestion.Editer_un_élève" | translate}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true" class="icofont icofont-close-line-squared-alt text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="eleveForm">
            <div class="row">
              <div class="col-10">
                <div class="row">
                  <div class="form-group col-6" *ngIf="authService.isVisible('champ-nom-eleve')">
                    <label for="nomEleve">Nom(s)</label>
                    <div class="input-group">
                      <input type="text" id="nomEleve" formControlName="nomEleve"
                        [ngClass]="{'is-invalid': submitted && elf.nomEleve.errors }"
                        [readOnly]="!authService.isEditable('champ-nom-eleve')" class="form-control"
                        placeholder="{{'userEleveListeGestion.Nom_de_l_élève' | translate}}">
                      <div *ngIf="submitted && elf.nomEleve.errors" class="invalid-feedback">
                        <div *ngIf="elf.nomEleve.errors.required">
                          {{"userEleveListeGestion.Le_nom_de_l_élève_est_obligatoire" | translate}}</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-6" *ngIf="authService.isVisible('champ-prenom-eleve')">
                    <label for="prenomEleve">
                      {{"userEleveListeGestion.Prénom_s" | translate}}</label>
                    <div class="input-group">
                      <input type="text" id="prenomEleve" formControlName="prenomEleve" class="form-control"
                        placeholder="{{'userEleveListeGestion.Prenom_de_l_élève' | translate}}"
                        [readOnly]="!authService.isEditable('champ-prenom-eleve')">
                    </div>
                  </div>
                  <div class="form-group col-6" *ngIf="authService.isVisible('champ-date-naissance-eleve')">
                    <label for="birthday">{{"userEleveListeGestion.Date_de_naissance" | translate}}</label>
                    <div class="input-group">
                      <input id="birthday" class="form-control"
                        placeholder="{{'userEleveListeGestion.dd_mm_yyyy' | translate}}" formControlName="birthday"
                        [ngClass]="{'is-invalid': submitted && elf.birthday.errors }" type="date"
                        [readOnly]="!authService.isEditable('champ-date-naissance-eleve')">
                      <div *ngIf="submitted && elf.birthday.errors" class="invalid-feedback">
                        <div *ngIf="elf.birthday.errors.required">
                          {{"userEleveListeGestion.La_date_de_naissance_de_l_élève_est_obligatoire" | translate}}</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-sm-6 col-xl-6">
                    <label for="lieuNais">{{"userEleveListeGestion.Lieu_de_naissance" | translate}}</label>
                    <div class="input-group">
                      <input type="text" id="lieuNais" formControlName="lieuNais"
                        [ngClass]="{'is-invalid': submitted && elf.lieuNais.errors }" class="form-control"
                        placeholder="{{'userEleveListeGestion.Lieu_de_naissance_de_l_élève' | translate}}">
                      <div *ngIf="submitted && elf.lieuNais.errors" class="invalid-feedback">
                        <div *ngIf="elf.lieuNais.errors.required">
                          {{"userEleveListeGestion.Le_lieu_de_naissance_de_l_élève_est_obligatoire" | translate}}</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-6" *ngIf="authService.isVisible('liste-sexe')">
                    <label for="sexeEleve">{{"userEleveListeGestion.Sexe" | translate}}</label>
                    <div class="input-group">
                      <select class="custom-select form-control" id="sexeEleve"
                        [attr.disabled]="authService.isEditable('liste-sexe') == true ? null : true"
                        [ngClass]="{'is-invalid': submitted && elf.sexeEleve.errors }" formControlName="sexeEleve">
                        <option value="">{{"userEleveListeGestion.Choisir_le_sexe_de_l_élève" | translate}}</option>
                        <option value="M">{{"userEleveListeGestion.Masculin" | translate}}</option>
                        <option value="F">{{"userEleveListeGestion.Feminin" | translate}}</option>
                      </select>
                      <div *ngIf="submitted && elf.sexeEleve.errors" class="invalid-feedback">
                        <div *ngIf="elf.sexeEleve.errors.required">
                          {{"userEleveListeGestion.La_selection_du_sexe_est_obligatoire" | translate}}</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-6" *ngIf="classes && authService.isVisible('liste-classe')">
                    <label for="classeEleve">
                      {{"userEleveListeGestion.Classe_de_l_élève" | translate}}</label>
                    <div class="input-group">
                      <select class="custom-select form-control" id="classeEleve"
                        [attr.disabled]="authService.isEditable('liste-classe') == true ? null : true"
                        [ngClass]="{'is-invalid': submitted && elf.classeEleve.errors }" formControlName="classeEleve">
                        <option value="">
                          {{"userEleveListeGestion.Choisir_la_classe_de_l_élève" | translate}}</option>
                        <option value="{{ classe.id }}" *ngFor="let classe of classes">{{ classe.nomClasse }}</option>
                      </select>
                      <div *ngIf="submitted && elf.classeEleve.errors" class="invalid-feedback">
                        <div *ngIf="elf.classeEleve.errors.required">
                          {{"userEleveListeGestion.La_classe_de_l_élève_est_obligatoire" | translate}}</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-6" *ngIf="authService.isVisible('champ-matricule')">
                    <label for="matriculeE">{{"userEleveListeGestion.Matricule" | translate}}</label>
                    <div class="input-group">
                      <input type="text" id="matriculeE" formControlName="matriculeE"
                        [ngClass]="{'is-invalid': submitted && elf.matriculeE.errors }" class="form-control"
                        placeholder="{{'userEleveListeGestion.Matricule_de_l_élève' | translate}}"
                        [readOnly]="!authService.isEditable('champ-matricule')">
                      <div *ngIf="submitted && elf.matriculeE.errors" class="invalid-feedback">
                        <div *ngIf="elf.matriculeE.errors.required">
                          {{"userEleveListeGestion.Le_matricule_de_l_élève_est_obligatoire" | translate}}</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-6" *ngIf="authService.isVisible('champ-residence')">
                    <label class="text-right" for="residenceEleve">
                      {{"userEleveListeGestion.Résidence_élève" | translate}}</label>
                    <div class="input-group">
                      <input type="text" id="residenceEleve" formControlName="residenceEleve" class="form-control"
                        [readOnly]="!authService.isEditable('champ-residence')"
                        placeholder="{{'userEleveListeGestion.Residence_de_l_élève' | translate}}">
                    </div>
                  </div>
                  <div class="form-group col-6" *ngIf="authService.isVisible('liste-statut-eleve')">
                    <label for="statut">
                      {{"userEleveListeGestion.Statut_de_l_élève" | translate}}</label>
                    <div class="input-group">
                      <select class="custom-select form-control" id="statut"
                        [ngClass]="{'is-invalid': submitted && elf.statut.errors }" formControlName="statut"
                        [attr.disabled]="authService.isEditable('liste-statut-eleve')==true ? null : true">
                        <option value="">{{"userEleveListeGestion.Choisir_le_Redoublant_Nouveau" | translate}}</option>
                        <option value="N">{{"userEleveListeGestion.Nouveau" | translate}}</option>
                        <option value="R">{{"userEleveListeGestion.Redoublant" | translate}}</option>
                      </select>
                      <div *ngIf="submitted && elf.statut.errors" class="invalid-feedback">
                        <div *ngIf="elf.statut.errors.required">
                          {{"userEleveListeGestion.La_selection_du_statut_est_obligatoire" | translate}}</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-sm-6 col-xl-6" *ngIf="authService.isVisible('liste-religion')">
                    <label for="religion">
                      {{"userEleveListeGestion.Religion_de_l_élève" | translate}}</label>
                    <div class="input-group">
                      <select class="custom-select form-control" id="religion" formControlName="religion"
                        [attr.disabled]="authService.isEditable('liste-religion') == true ? null : true"
                        [ngClass]="{'is-invalid': submitted && elf.religion.errors }">
                        <option value="">{{"userEleveListeGestion.Préciser_ici_la_religion" | translate}}</option>
                        <option value="catholique">{{"userEleveListeGestion.Catholique" | translate}}</option>
                        <option value="protestante">{{"userEleveListeGestion.Protestante" | translate}}</option>
                        <option value="musulmane">{{"userEleveListeGestion.Musulmane" | translate}}</option>
                        <option value="autres">{{"userEleveListeGestion.Autres" | translate}}</option>
                      </select>
                      <div *ngIf="submitted && elf.religion.errors" class="invalid-feedback">
                        <div *ngIf="elf.religion.errors.required">
                          {{"userEleveListeGestion.La_religion_de_l_élève_est_obligatoire" | translate}}</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-12 row" *ngIf="authService.isVisible('bouton-handicape')">
                    <div class="col-6"> <label class="text-right pb-1">
                        {{"userEleveListeGestion.Choisir_son_état_de_validité" | translate}}</label></div>
                    <div class="col-6">
                      <div class="form-check form-check-inline pt-2">
                        {{"userEleveListeGestion.Handicapé" | translate}}</div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="handicape" id="handicapeNon"
                          [attr.disabled]="authService.isActif('bouton-handicape') == true ? null : true"
                          [value]="false" formControlName="handicape">
                        <label class="form-check-label" for="handicapeNon">
                          {{"userEleveListeGestion.Non" | translate}}</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="handicape" id="handicapeOui"
                          [attr.disabled]="authService.isActif('bouton-handicape') == true ? null : true" [value]="true"
                          formControlName="handicape">
                        <label class="form-check-label" for="handicapeOui">
                          {{"userEleveListeGestion.Oui" | translate}}</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-12" *ngIf="authService.isVisible('bouton-cas-transfert')">
                    <div class="form-check form-check-inline">
                      {{"userEleveListeGestion.Est_ce_qu_il_s_agit_d_un_cas_de_transfert" | translate}}</div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="isTransfert" id="inlineRadio2" [value]="false"
                        [attr.disabled]="authService.isActif('bouton-cas-transfert') == true ? null : true"
                        [(ngModel)]="isTransfert" [ngModelOptions]="{standalone: true}"
                        (ngModelChange)="onChangeOptions()">
                      <label class="form-check-label" for="inlineRadio2">
                        {{"userEleveListeGestion.Non" | translate}}</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="isTransfert" id="inlineRadio1"
                        [attr.disabled]="authService.isActif('bouton-cas-transfert') == true ? null : true"
                        [value]="true" [(ngModel)]="isTransfert" [ngModelOptions]="{standalone: true}"
                        (ngModelChange)="onChangeOptions()">
                      <label class="form-check-label" for="inlineRadio1">{{'Oui' | translate}}</label>
                    </div>
                  </div>
                  <ng-container *ngIf="isTransfert == true">
                    <div class="form-group col-6" *ngIf="authService.isVisible('champ-code-etablissement-provenance')">
                      <label for="codeEtabProv">
                        {{"userEleveListeGestion.Code_etablissement_de_provenance" | translate}}</label>
                      <div class="input-group">
                        <input type="text" id="codeEtabProv" formControlName="codeEtabProv"
                          [ngClass]="{'is-invalid': submitted && elf.codeEtabProv.errors }"
                          [readOnly]="!authService.isEditable('champ-code-etablissement-provenance')"
                          class="form-control" placeholder="{{'userEleveListeGestion.Code_etablissement' | translate}}">
                        <div *ngIf="submitted && elf.codeEtabProv.errors" class="invalid-feedback">
                          <div *ngIf="elf.codeEtabProv.errors.required">
                            {{"userEleveListeGestion.L_ancien_code_etablissement_de_l_élève_est_obligatoire" |
                            translate}}</div>
                          <div *ngIf="elf.codeEtabProv.errors.maxLength">
                            {{"userEleveListeGestion.Le_code_etablissement_est_au_maximum_5_caracteres" | translate}}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group col-6" *ngIf="authService.isVisible('champ-nom-etablissement-provenance')">
                      <label for="nomEtabProv">{{"userEleveListeGestion.Nom_etablissement_de_provenance" |
                        translate}}</label>
                      <div class="input-group">
                        <input type="text" id="nomEtabProv" formControlName="nomEtabProv"
                          [ngClass]="{'is-invalid': submitted && elf.nomEtabProv.errors }"
                          [readOnly]="!authService.isEditable('champ-nom-etablissement-provenance')"
                          class="form-control" placeholder="{{'userEleveListeGestion.Nom_etablissement' | translate}}">
                        <div *ngIf="submitted && elf.nomEtabProv.errors" class="invalid-feedback">
                          <div *ngIf="elf.nomEtabProv.errors.required">
                            {{"userEleveListeGestion.L_ancien_nom_etablissement_de_l_élève_est_obligatoire" |
                            translate}}</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group col-6" *ngIf="authService.isVisible('champ-ville-etablissement-provenance')">
                      <label for="villeEtabProv">
                        {{"userEleveListeGestion.Ville_etablissement_de_provenance" | translate}}</label>
                      <div class="input-group">
                        <input type="text" id="villeEtabProv" formControlName="villeEtabProv" class="form-control"
                          [readOnly]="!authService.isEditable('champ-ville-etablissement-provenance')"
                          placeholder="{{'userEleveListeGestion.Ville_etablissement' | translate}}">
                      </div>
                    </div>
                    <div class="form-group col-6" *ngIf="authService.isVisible('liste-niveau')">
                      <label for="niveauEleve">{{"userEleveListeGestion.Niveau_de_l_élève" | translate}}</label>
                      <div class="input-group">
                        <select class="custom-select form-control" id="niveauEleve"
                          [ngClass]="{'is-invalid': submitted && elf.niveauEleve.errors }"
                          [attr.disabled]="authService.isEditable('liste-niveau') == true ? null : true"
                          formControlName="niveauEleve">
                          <option value="">{{"userEleveListeGestion.Choisir_le_niveau_de_l_élève" | translate}}</option>
                          <option *ngFor="let niveau of niveaux" value="{{ niveau.id }}">{{ niveau.nomNiveau }}</option>
                        </select>
                        <div *ngIf="submitted && elf.niveauEleve.errors" class="invalid-feedback">
                          <div *ngIf="elf.niveauEleve.errors.required">
                            {{"userEleveListeGestion.Le_niveau_de_l_élève_a_l_ancienne_etablissement_est_obligatoire" |
                            translate}}</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group col-6" *ngIf="authService.isVisible('champ-montant-verser-ancienne-ecole')">
                      <label for="montantRemise">
                        {{"userEleveListeGestion.Montant_versé_dans_l_ancienne_école" | translate}}</label>
                      <div class="input-group">
                        <input type="number" lang="en" id="montantRemise" formControlName="montantRemise"
                          [ngClass]="{'is-invalid': submitted && elf.montantRemise.errors }" class="form-control"
                          placeholder="{{'userEleveListeGestion.Montant_déjà_versé' | translate}}"
                          [readOnly]="!authService.isEditable('champ-montant-verser-ancienne-ecole')">
                        <div *ngIf="submitted && elf.montantRemise.errors" class="invalid-feedback">
                          <div *ngIf="elf.montantRemise.errors.required">
                            {{"userEleveListeGestion.Les_frais_dejà_versé_par_l_élève_dans_l_ancien_etablissement_est_obligatoire"
                            | translate}}</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group col-6" *ngIf="authService.isVisible('champ-matricule-ancien-etablissement')">
                      <label for="ancienMatricule">{{"userEleveListeGestion.Matricule_de_l_ancien_établissement" |
                        translate}}</label>
                      <div class="input-group">
                        <input type="text" id="ancienMatricule" formControlName="ancienMatricule"
                          [ngClass]="{'is-invalid': submitted && elf.ancienMatricule.errors }"
                          [readOnly]="!authService.isEditable('champ-matricule-ancien-etablissement')"
                          class="form-control"
                          placeholder="{{'userEleveListeGestion.Matricule_de_l_ancien_établissement' | translate}}">
                        <div *ngIf="submitted && elf.ancienMatricule.errors" class="invalid-feedback">
                          <div *ngIf="elf.ancienMatricule.errors.required">
                            {{"userEleveListeGestion.Le_matricule_de_l_élève_a_l_ancien_etablissement_obligatoire" |
                            translate}}</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group col-12"
                      *ngIf="authService.isVisible('champ-motif-changement-etablissement')">
                      <label for="motifte">{{"userEleveListeGestion.Motif_de_changement_d_établissement" |
                        translate}}</label>
                      <textarea class="form-control"
                        [readOnly]="!authService.isEditable('champ-motif-changement-etablissement')"
                        formControlName="motifte" id="motifte" rows="3"></textarea>
                    </div>
                  </ng-container>
                </div>
              </div>
              <div class="col-sm-2" *ngIf="currentEleve">
                <a href="javascript:" class="profile-image">
                  <ngx-avatar [src]="(currentEleve.logo == '' || currentEleve.logo == null)
                  ? '' : urlImage + currentEleve.matricule + '?ts=' + getTs()" size="100"
                    [name]="currentEleve.nomEleve[0] + ' ' +currentEleve.prenomEleve[0]"></ngx-avatar>
                </a>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-sm" [disabled]="!authService.isActif('bouton-enregistrer')"
            (click)="onSetDataInputToView()">{{"userEleveListeGestion.Enregistrer" | translate}}</button>
          <button type="button" class="btn btn-outline-danger btn-sm mr-2"
            [disabled]="!authService.isActif('bouton-effacer')"
            (click)="onResetFormEleveModal()">{{"userEleveListeGestion.Effacer" | translate}}</button>
        </div>
      </ng-template>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <ng-template #photoeleve let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="photo-eleve">{{"userEleveListeGestion.Prendre_photo_élève" | translate}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true" class="icofont icofont-close-line-squared-alt text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <div class="col-md-12" *ngIf="currentEleve">
            <app-webcam-snapshot (imageSaved)="onUpdateViewAfterTakePhoto($event)" [matricule]="currentEleve.matricule">
            </app-webcam-snapshot>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</app-card> 
