<app-card [title]="'Enseignant : ' +  currentEnseignant?.nom_enseignant + ' '
 + currentEnseignant?.prenom_enseignant"
          [icone]="'icofont-ui-user'" [classHeader]="true" [blockClass]="'table-border-style'">
  <div class="table-responsive">
    <table class="table table-hover table-xs">
      <thead>
      <tr>
        <th>#</th>
        <th>{{"userAdminDiscEnseigConsulter.Classe" | translate}}</th>
        <th>{{"userAdminDiscEnseigConsulter.Matiere" | translate}}</th>
        <th>{{"userAdminDiscEnseigConsulter.Coef" | translate}}</th>
        <th>{{"userAdminDiscEnseigConsulter.Barème" | translate}}</th>
        <th>{{"userAdminDiscEnseigConsulter.Programmation" | translate}}</th>
        <th>{{"userAdminDiscEnseigConsulter.Actions" | translate}}</th>
      </tr>
      </thead>
      <tbody *ngIf="matieresClasse && matieresClasse.length > 0">

          <tr *ngFor="let matiere of matieresClasse; let i = index"
              (dblclick)="onProgrammerEnseignant(matiere, false,  enseignantClasse, false)" >

            <th scope="row">{{ '#' + (i+1)}}</th>
            <td>{{ matiere.matiereClasse.nomClasse }}</td>
            <td >
              <p class="p-0 m-0">{{ matiere.matiereClasse.nomMatiere }}</p>
              <p class="p-0 m-0 text-googleplus"><em>{{ matiere.matiereClasse.nomMatiere2 }}</em></p>
            </td>
            <td  >{{  matiere.matiereClasse.coefficient }}</td>
            <td >{{ matiere.matiereClasse.baremeEvaluation }}</td>
            <td >
                <p class="p-0 m-0" *ngFor="let item of matiere.programmations">
                    <span class="text-c-blue text-bold mr-2" >{{  item.jourSemaine }}</span>
                    <span class="text-bold">({{ item.heureDebut }} - {{ item.heureFin }})</span>
                </p>
            </td>
            <td class="p-1">
              <div [ngClass]="'icon-btn p-0 m-0'">
                <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown" display="static">
                  <button class="btn btn-outline-info btn-sm mr-2" id="dropdownManual" ngbDropdownToggle>
                    {{"userAdminDiscEnseigConsulter.Actions" | translate}}</button>
                  <div ngbDropdownMenu aria-labelledby="dropdownManual">
                    <button ngbDropdownItem class="btn-default btn-sm mr-3" [disabled]="!authService.isActif('bouton-modifier-programmation')"
                            *ngIf="authService.isVisible('bouton-modifier-programmation')"
                            (click)="onProgrammerEnseignant(matiere, false,  enseignantClasse, false)"
                            title="{{'userAdminDiscEnseigConsulter.Modifier_la_programmation' | translate}}">
                      <em class="icofont icofont-pen-alt-4 mr-2"></em>
                      {{"userAdminDiscEnseigConsulter.Modifier_la_programmation" | translate}}</button>
                    <button ngbDropdownItem class="btn-default btn-sm mr-3" [disabled]="!authService.isActif('bouton-attribuer-matiere-autre-enseignant')"
                            *ngIf="authService.isVisible('bouton-attribuer-matiere-autre-enseignant')"
                            (click)="onProgrammerEnseignant(matiere, true, enseignantClasse, false)"
                            title="{{'userAdminDiscEnseigConsulter.Attribuer_la_matiere_a_un_autre_enseignant' | translate}}">
                      <em class="icofont icofont-user mr-2"></em>
                      {{"userAdminDiscEnseigConsulter.Réattribuer_programmation" | translate}}</button>
                    <button ngbDropdownItem class="btn-default btn-sm mr-3"
                            (click)="onProgrammerEnseignant(matiere, true, enseignantClasse, true)"
                            title="{{'userAdminDiscEnseigConsulter.Ajouter_des_créneaux_horaires_a_cette_programmation' | translate}}">
                      <em class="icofont icofont-user mr-2"></em>
                      {{"userAdminDiscEnseigConsulter.Ajouter_créneau_horaire" | translate}}</button>
                    <button ngbDropdownItem class="btn-default btn-sm mr-3"
                            [disabled]="!authService.isActif('bouton-programmer-cours-enseignant')"
                            *ngIf="authService.isVisible('bouton-programmer-cours-enseignant')" (click)="onSupprimerProgrammation(matiere)"
                            title="{{'userAdminDiscEnseigConsulter.Supprimer_la_programmation' | translate}} {{ matiere.matiereClasse.nomMatiere + ' - ' + matiere.matiereClasse.nomClasse }}">
                      <em class="icofont icofont-trash mr-2"></em>
                      {{"userAdminDiscEnseigConsulter.Supprimer_programmation" | translate}}</button>
                  </div>
                </div>
              </div>
            </td>
          </tr>

        </tbody>
    </table>
    <div class="row">
      <div class="col-12 text-center h4" *ngIf=" matieresClasse && matieresClasse.length == 0">
        {{"userAdminDiscEnseigConsulter.Aucune_donnée_disponible" | translate}}</div>
    </div>
  </div>
  <div class="dropdown-divider"></div>
  <div class="row">
    <div class="col-12 text-right">
      <button class="btn btn-info btn-round btn-sm ml-5 mr-4 m-1"
              [disabled]="!authService.isActif('bouton-programmer-cours-enseignant')"
              *ngIf="authService.isVisible('bouton-programmer-cours-enseignant')"
              (click)="onProgrammerEnseignant(null,false, enseignantClasse, false)">
        <em class="icofont icofont-calendar mr-2"></em>
        {{"userAdminDiscEnseigConsulter.Programmer_l_enseignant" | translate}}</button>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <ng-template #enseignantClasse let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="edit-programmation">
            {{"userAdminDiscEnseigConsulter.Attribution_d_une_classe_a_un_enseignant" | translate}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="onResetEnseignantClasse()">
            <span aria-hidden="true" class="icofont icofont-close-line-squared text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="enseignantClasseForm">
            <div class="row">
              <div class="form-group col-12" *ngIf="authService.isVisible('liste-annee-scolaire')">
                <label for="anneeAcc">{{"userAdminDiscEnseigConsulter.Année_scolaire" | translate}}</label>
                <div class="input-group">
                  <select class="custom-select form-control" id="anneeAcc" formControlName="anneeAcc"
                          [attr.disabled]="!isReattribuer && authService.isEditable('liste-annee-scolaire') == true ? null : true"
                          [ngClass]="{'is-invalid': submittedEC && f.anneeAcc.errors }">
                    <option value="">
                      {{"userAdminDiscEnseigConsulter.Choisir_l_année" | translate}}</option>
                    <option *ngFor="let annee of annees" value="{{ annee.id }}">{{ annee.codeAnnee }}</option>
                  </select>
                  <div *ngIf="submittedEC && f.anneeAcc.errors" class="invalid-feedback">
                    <div *ngIf="f.anneeAcc.errors.required">
                      {{"userAdminDiscEnseigConsulter.L_annee_academique_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-12" *ngIf="isReattribuer && authService.isVisible('liste-enseignant')">
                <label for="enseignant">
                  {{"userAdminDiscEnseigConsulter.Choisir_enseignant" | translate}}</label>
                <div class="input-group">
                  <select class="custom-select form-control" id="enseignant" formControlName="enseignant"
                          [attr.disabled]="authService.isEditable('liste-enseignant') == true ? null : true"
                          [ngClass]="{'is-invalid': submittedEC && f.enseignant.errors }">
                    <option value="">
                      {{"userAdminDiscEnseigConsulter.Choisir_l_enseignant" | translate}}</option>
                    <option *ngFor="let enseignant of enseignants" value="{{ enseignant.enseignant.id_enseignant }}">
                      {{ enseignant.enseignant.nom_enseignant }}
                    </option>
                  </select>
                  <div *ngIf="submittedEC && f.enseignant.errors" class="invalid-feedback">
                    <div *ngIf="f.enseignant.errors.required">
                      {{"userAdminDiscEnseigConsulter.L_enseignant_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-6" *ngIf="authService.isVisible('liste-matiere')">
                <label for="matiere">
                  {{"userAdminDiscEnseigConsulter.Matière_enseignée" | translate}}</label>
                <div class="input-group">
                  <select class="custom-select form-control" id="matiere" formControlName="matiere"
                          [attr.disabled]="!isReattribuer && authService.isEditable('liste-matiere') == true ? null : true"
                          [ngClass]="{'is-invalid': submittedEC && f.matiere.errors }">
                    <option value="">
                      {{"userAdminDiscEnseigConsulter.Choisir_la_matiere" | translate}}</option>
                    <option *ngFor="let matiere of matieres" value="{{ matiere.id }}">{{ matiere.nomMatiere }}</option>
                  </select>
                  <div *ngIf="submittedEC && f.matiere.errors" class="invalid-feedback">
                    <div *ngIf="f.matiere.errors.required">
                      {{"userAdminDiscEnseigConsulter.La_matière_enseignée_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-6" *ngIf="authService.isVisible('liste-classe')">
                <label for="classe">
                  {{"userAdminDiscEnseigConsulter.Classe_enseignée" | translate}}</label>
                <div class="input-group">
                  <select class="custom-select form-control" id="classe" formControlName="classe"
                          [attr.disabled]="!isReattribuer && authService.isEditable('liste-classe') == true ? null : true"
                          [ngClass]="{'is-invalid': submittedEC && f.classe.errors }">
                    <option value="">
                      {{"userAdminDiscEnseigConsulter.Choisir_la_classe" | translate}}</option>
                    <option *ngFor="let classe of classes" value="{{ classe.id }}">{{ classe.nomClasse }}</option>
                  </select>
                  <div *ngIf="submittedEC && f.classe.errors" class="invalid-feedback">
                    <div *ngIf="f.classe.errors.required">
                      {{"userAdminDiscEnseigConsulter.La_classe_enseignée_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-6" *ngIf="authService.isVisible('champ-coefficient')">
                <label for="coef">
                  {{"userAdminDiscEnseigConsulter.Coefficient_de_la_matière" | translate}}</label>
                <div class="input-group">
                  <input type="text" id="coef" formControlName="coef" [ngClass]="{'is-invalid': submittedEC && f.coef.errors }"
                         [readOnly]="!authService.isEditable('champ-coefficient') || isReattribuer"
                         class="form-control"
                         placeholder="{{'userAdminDiscEnseigConsulter.Le_coefficient_de_la_matiere' | translate}}">
                  <div *ngIf="submittedEC && f.coef.errors" class="invalid-feedback">
                    <div *ngIf="f.coef.errors.required">
                      {{"userAdminDiscEnseigConsulter.Le_coefficient_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-6" *ngIf="authService.isVisible('champ-bareme')">
                <label for="bareme">{{"userAdminDiscEnseigConsulter.Barème_de_matière" | translate}}</label>
                <div class="input-group">
                  <input type="text" id="bareme" formControlName="bareme" [ngClass]="{'is-invalid': submittedEC && f.bareme.errors }"
                         [readOnly]="!authService.isEditable('champ-bareme') || isReattribuer"
                         class="form-control"
                         placeholder="{{'userAdminDiscEnseigConsulter.Le_bareme_de_la_matiere' | translate}}">
                  <div *ngIf="submittedEC && f.bareme.errors" class="invalid-feedback">
                    <div *ngIf="f.bareme.errors.required">
                      {{"userAdminDiscEnseigConsulter.Le_bareme_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <form [formGroup]="programmationForm" novalidate>
            <div class="row">
              <div class="col-12">
                <table class="table table-hover">
                  <thead>
                  <tr>
                    <th>#</th>
                    <th>{{"userAdminDiscEnseigConsulter.Jour" | translate}}</th>
                    <th>{{"userAdminDiscEnseigConsulter.Heure_Debut" | translate}}</th>
                    <th>{{"userAdminDiscEnseigConsulter.Heure_Fin" | translate}}</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody *ngFor="let prog of tp.controls; let i = index">
                  <tr [formGroup]="prog">
                    <th scope="row">{{ i+1 }}</th>
                    <td class="m-0 p-0">
                      <div class="input-group m-0 p-1">
                        <select class="custom-select form-control" formControlName="jourSemaine"
                                [ngClass]="{'is-invalid': prog.touched && prog.controls.jourSemaine.errors }">
                          <option *ngFor="let jour of jours" [value]="jour.id">{{ jour.valeur }}</option>
                        </select>
                      </div>
                    </td>
                    <td class="m-0 p-0">
                      <div class="input-group p-1 m-0">
                        <input type="time" formControlName="heureDebut" class="form-control"
                               placeholder="{{'userAdminDiscEnseigConsulter.HH_mm' | translate}}"
                               [ngClass]="{'is-invalid': prog.touched && prog.controls.heureDebut.errors }">
                      </div>
                    </td>
                    <td class="m-0 p-0">
                      <div class="input-group p-1 m-0">
                        <input class="form-control" type="time"
                               placeholder="{{'userAdminDiscEnseigConsulter.HH_mm' | translate}}" formControlName="heureFin"
                               [ngClass]="{'is-invalid': prog.touched && prog.controls.heureFin.errors }">
                      </div>
                    </td>
                    <td class="m-0 p-0">
                      <ng-container class="m-0 p-1">
                        <button class="btn btn-outline-dark btn-icon mr-2"
                                title="{{'userAdminDiscEnseigConsulter.Modifier_la_ligne' | translate}}"
                                [disabled]="(isCrenau == false) || !authService.isActif('bouton-modifier-ligne')"><em class="icofont icofont-pen-alt-1"></em></button>
                        <button class="btn btn-outline-danger btn-icon mr-2"
                                title="{{'userAdminDiscEnseigConsulter.Retirer_de_la_liste' | translate}}"
                                [disabled]="(isCrenau == false && updateProg == true)"
                                (click)="removeProgrammation(i)"><em class="icofont icofont-minus icofont-2x"></em></button>
                      </ng-container>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="text-right col-12">
                <button class="btn btn-outline-success btn-icon mr-2"
                        title="{{'userAdminDiscEnseigConsulter.Ajouter_programmation' | translate}}"
                        [disabled]="(isCrenau == false && updateProg == true)"
                        (click)="addNewProgrammation()"><em class="icofont icofont-plus"></em></button>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger btn-sm mr-2"
                  [disabled]="!authService.isActif('bouton-annuler')"
                  *ngIf="authService.isVisible('bouton-annuler')"
                  (click)="onResetEnseignantClasse()">
            {{"userAdminDiscEnseigConsulter.Annuler" | translate}}</button>
          <button type="button"
                  [disabled]="!authService.isActif('bouton-enregistrer')"
                  *ngIf="authService.isVisible('bouton-enregistrer')"
                  (click)="isCrenau ==true ? onAddCreneauHoraire() : onAttributeClasseToEnseignant()" class="btn btn-primary btn-sm">
            {{"userAdminDiscEnseigConsulter.Enregistrer" | translate}}</button>
        </div>
      </ng-template>
    </div>
  </div>
</app-card>
