<app-card [icone]="''" [title]="'Consultation des notes séquentielles'">
  <div class="card b-l-danger business-info services">
    <div class="card-body p-1">
      <div class="row">
        <div class="col-sm-4">
          <p class="task-detail"><span>
            {{"userEspaceConsulterNotes.Enseignant" | translate}}:&nbsp;&nbsp; </span>
            <span class="text-bold">{{ currentClasse?.enseignant?.nom_enseignant + ' ' + currentClasse?.enseignant?.prenom_enseignant}}</span></p>
        </div>
        <div class="col-sm-4">
          <p class="task-detail"><span>
            {{"userEspaceConsulterNotes.Année_scolaire" | translate}}:&nbsp;&nbsp; </span>
            <span class="text-bold">{{ currentClasse?.annee?.codeAnnee }}</span></p>
          <p class="task-detail"><span>
            {{"userEspaceConsulterNotes.Trimestre" | translate}}:&nbsp;&nbsp; </span><span class="text-bold">{{ currentSequence?.trimestre?.nom_trimestre }}</span></p>
          <p class="task-detail"><span>
            {{"userEspaceConsulterNotes.Sequence" | translate}}:&nbsp;&nbsp; </span><span class="text-bold">{{ currentSequence?.nom_sequence }}</span></p>
        </div>
        <div class="col-sm-4">
          <p class="task-detail"><span>
            {{"userEspaceConsulterNotes.Classe" | translate}}:&nbsp;&nbsp;  </span><span class="text-bold">{{ currentClasse?.classe?.nomClasse }}</span></p>
          <p class="task-detail"><span>
            {{"userEspaceConsulterNotes.Matière" | translate}}: &nbsp;&nbsp; </span><span class="text-bold">{{ currentClasse?.matiere?.nomMatiere }}</span></p>
          <p class="task-detail"><span>
            {{"userEspaceConsulterNotes.Coefficient" | translate}}: &nbsp;&nbsp; </span><span class="text-bold">{{ currentClasse?.coefficient }}</span></p>
        </div>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-hover" *ngIf="eleves">
      <thead>
      <tr>
        <th>#</th>
        <th>{{"userEspaceConsulterNotes.Matricule" | translate}}</th>
        <th>{{"userEspaceConsulterNotes.Noms_et_prénoms" | translate}}</th>
        <th>{{"userEspaceConsulterNotes.Note" | translate}}/{{ currentClasse?.baremeEvaluation }}</th>
        <th>{{"userEspaceConsulterNotes.Observation" | translate}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let eleve of tNotes.controls; let i = index">
        <th scope="row">{{ i+1 }}</th>
        <td>{{ eleve.value.matricule }}</td>
        <td>{{ eleve.value.noms }}</td>
        <td>
          <span class="text-bold"
                [ngClass]="eleve.value.note < (currentClasse?.baremeEvaluation/2) ? 'text-danger' : ''">
            {{ eleve.value.note }}
        </span>
        </td>
        <td>
          <button type="button" [ngClass]="eleve.value.observation == 'malade' ? 'btn-warning' : 'btn-outline-warning'"
                  class="btn btn-sm mr-2" disabled>
            {{"userEspaceConsulterNotes.AJ" | translate}}</button>
          <button type="button" [ngClass]="eleve.value.observation == 'absent' ? 'btn-danger' : 'btn-outline-danger'"
                  class="btn btn-sm mr-2" disabled>
            {{"userEspaceConsulterNotes.ANJ" | translate}}</button>
          <button class="btn btn-warning btn-icon mr-2" (click)="onEditNote(eleve.value, contentNote, i)"
                  title="{{'userEspaceConsulterNotes.Modifier_les_attributs_de_la_variable_globale' | translate}}">
            <em class="icofont icofont-pen-alt-1"></em></button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="card b-l-danger business-info services" *ngIf="currentClasse">
    <div class="card-body p-1">
      <button class="btn btn-primary btn-sm ml-5 mr-4"
              [disabled]="!authService.isActif('bouton-imprimer-releve-note')"
              *ngIf="authService.isVisible('bouton-imprimer-releve-note')"
              (click)="onPrintReleveDeNote()"><i class="icofont icofont-print"></i>
        {{"userEspaceConsulterNotes.Relevé_de_notes" | translate}}</button>
      <button class="btn btn-warning btn-sm ml-4"
              [disabled]="!authService.isActif('bouton-imprimer-fiche-statistique')"
              *ngIf="authService.isVisible('bouton-imprimer-fiche-statistique')"
              (click)="onPrintFicheStatistique()"><i class="icofont icofont-printer"></i>
        {{"userEspaceConsulterNotes.Fiche_statistique" | translate}}</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ng-template #modalSelectSequence let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h5 class="modal-title" id="select-sequence">
            {{"userEspaceConsulterNotes.Consultation_des_notes" | translate}}</h5>
          <button type="button" class="close" aria-label="Close" (click)="onResetSaisieNote()">
            <span aria-hidden="true" class="icofont icofont-close-line-squared-alt text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="selectSequenceClasseForm">
            <ng-container *ngIf="formSelect">
              <div class="form-group" *ngIf="authService.isVisible('liste-sequence')">
                <label for="sequence">
                  {{"userEspaceConsulterNotes.Séquence" | translate}}</label>
                <select formControlName="sequence" class="custom-select form-control" id="sequence"
                        [attr.disabled]="authService.isEditable('liste-sequence') == true ? null : true"
                        [ngClass]="{'is-invalid': submitted && f.sequence.errors }">
                  <option value="">--- {{"userEspaceConsulterNotes.Sélectionner_une_séquence" | translate}} ---</option>
                  <option *ngFor="let sequence of formSelect.sequences" value="{{ sequence.id_sequence }}">{{ sequence.nom_sequence }}</option>
                </select>
                <div *ngIf="submitted && f.sequence.errors" class="invalid-feedback">
                  <div *ngIf="f.sequence.errors.required">
                    {{"userEspaceConsulterNotes.Le_choix_de_la_séquence_est_obligatoire" | translate}}</div>
                </div>
              </div>
              <div class="form-group" *ngIf="authService.isVisible('liste-classe')">
                <label for="classe">
                  {{"userEspaceConsulterNotes.Classe" | translate}}</label>
                <select formControlName="classe" class="custom-select form-control" id="classe"
                        [attr.disabled]="authService.isEditable('liste-classe') == true ? null : true"
                        [ngClass]="{'is-invalid': submitted && f.classe.errors }">
                  <option value="">--- {{"userEspaceConsulterNotes.Sélectionnez_une_de_vos_classes" | translate}} ---</option>
                  <option *ngFor="let classe of formSelect.classes" value="{{ classe.classe.nomClasse + '___' + classe?.matiere?.id }}">
                    {{ classe.classe.nomClasse  + ' => ' + classe?.matiere?.nomMatiere }}
                  </option>
                </select>
                <div *ngIf="submitted && f.classe.errors" class="invalid-feedback">
                  <div *ngIf="f.classe.errors.required">
                    {{"userEspaceConsulterNotes.Le_choix_de_la_classe_est_obligatoire" | translate}}</div>
                </div>
              </div>
            </ng-container>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary btn-sm ml-5 mr-4"
                  [disabled]="!authService.isActif('bouton-suivant')"
                  *ngIf="authService.isVisible('bouton-suivant')"
                  (click)="onDisplayListeEleve()">
            {{"userEspaceConsulterNotes.Suivant" | translate}}&nbsp;&nbsp;<i class="icofont icofont-circled-right"></i></button>
          <button class="btn btn-outline-danger btn-sm ml-4"
                  [disabled]="!authService.isActif('bouton-effacer')"
                  *ngIf="authService.isVisible('bouton-effacer')"
                  (click)="onResetSaisieNote()"><i class="icofont icofont-close-circled"></i>
            {{"userEspaceConsulterNotes.Effacer" | translate}}&nbsp;&nbsp;</button>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ng-template #contentNote let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header" *ngIf="currentEleve">
          <h4 class="modal-title" id="edit-note">
            {{"userEspaceConsulterNotes.Edition_note" | translate}} {{ currentEleve.noms}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true" class="icofont icofont-close-line-squared text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="editionNoteForm" class="row">
            <div class="form-group col-6">
              <label for="note">
                {{"userEspaceConsulterNotes.Note" | translate}}</label>
              <div class="input-group">
                <input type="number" id="note" formControlName="note" [ngClass]="{'is-invalid': submitted && g.note.errors }"
                       class="form-control"
                       placeholder="{{'userEspaceConsulterNotes.Entrer_la_note' | translate}}">
                <div *ngIf="submitted && g.note.errors" class="invalid-feedback">
                  <div *ngIf="g.note.errors.required">
                    {{"userEspaceConsulterNotes.La_note_est_obligatoire" | translate}}</div>
                </div>
              </div>
            </div>
            <div class="form-group col-6">
              <label for="observation">
                {{"userEspaceConsulterNotes.Observation" | translate}}</label>
              <div class="input-group">
                <select formControlName="observation" class="custom-select form-control" id="observation"
                        [ngClass]="{'is-invalid': submitted && g.observation.errors }">
                  <option value="-">{{"userEspaceConsulterNotes.Présent" | translate}}</option>
                  <option value="malade">{{"userEspaceConsulterNotes.Absence_justifiée" | translate}}</option>
                  <option value="absent">{{"userEspaceConsulterNotes.Absence_Non_justifiée" | translate}}</option>
                </select>
                <div *ngIf="submitted && g.observation.errors" class="invalid-feedback">
                  <div *ngIf="g.observation.errors.required">
                    {{"userEspaceConsulterNotes.Le_choix_de_l_observation_est_obligatoire" | translate}}</div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button"
                  class="btn btn-outline-danger btn-sm mr-2" (click)="onReset()">
            {{"userEspaceConsulterNotes.Annuler" | translate}}</button>
          <button type="button"
                  (click)="onSaveEditionNote()" class="btn btn-primary btn-sm">
            {{"userEspaceConsulterNotes.Valider" | translate}}</button>
        </div>
      </ng-template>
    </div>
  </div>
</app-card>

