<form class="custom-validation need-validation" novalidate="" [formGroup]="filterDocForm" (ngSubmit)="onSubmitFilter()">
  <div *ngFor="let filtre of t.controls; let i = index">
    <div class="row mb-3" [formGroup]="filtre">
      <div class="col-md-3">
        <select formControlName="column" (ngModelChange)="onGetCC(filtre.controls.column.value)"
                [ngClass]="{'is-invalid': submitted && f.column.errors }">
          <option *ngFor="let colonne of selectColumns" [value]="colonne.id">{{ colonne.nameColumnc}}</option>
        </select>
      </div>
      <div class="col-md-3  bd-amber">
        <select formControlName="operator" (ngModelChange)="onGetCC(filtre.controls.column.value)"
                [ngClass]="{'is-invalid': submitted && f.column.errors }">
          <ng-container *ngIf="(onGetCC(filtre.controls.column.value).ref == true ||
                    onGetCC(filtre.controls.column.value).typeColumn == 'DATE' ||
                    onGetCC(filtre.controls.column.value).typeColumn == 'ENTIER_2' ||
                    onGetCC(filtre.controls.column.value).typeColumn == 'ENTIER' ||
                     onGetCC(filtre.controls.column.value).typeColumn == 'BOOLEAN_2');">
            <option *ngFor="let op of selectOperatorEnumOrDate" [value]="op.cle">{{ op.valeur}}</option>
          </ng-container>
          <ng-container *ngIf="onGetCC(filtre.controls.column.value).typeColumn == 'BOOLEAN'">
            <option *ngFor="let op of selectOperatorBoolean" [value]="op.cle">{{ op.valeur}}</option>
          </ng-container>
          <ng-container *ngIf="onGetCC(filtre.controls.column.value).typeColumn == 'CHAINE'">
            <option *ngFor="let op of selectOperator" [value]="op.cle">{{ op.valeur}}</option>
          </ng-container>
        </select>
        <div *ngIf="onGetCC(filtre.controls.column.value).ref == false &&
       onGetCC(filtre.controls.column.value).typeColumn != 'DATE' &&
       onGetCC(filtre.controls.column.value).typeColumn != 'BOOLEAN' &&
        onGetCC(filtre.controls.column.value).typeColumn != 'BOOLEAN_2'"
             [ngClass]="(filtre.controls.operator.value == 'BETWEEN' ||
            filtre.controls.operator.value == 'NOT BETWEEN') ? 'col-md-2' : 'col-md-5'"
             class="col-md-2"><input type="text" formControlName="valueBegin">
        </div>
        <div *ngIf="onGetCC(filtre.controls.column.value).ref == false &&
       onGetCC(filtre.controls.column.value).typeColumn == 'DATE'"
             [ngClass]="(filtre.controls.operator.value == 'BETWEEN' ||
            filtre.controls.operator.value == 'NOT BETWEEN') ? 'col-md-2' : 'col-md-5'"
             class="col-md-2">
          <input type="date" [(ngModel)]="currendate" formControlName="valueBegin" >
        </div>
        <div class="col-md-2" *ngIf="onGetCC(filtre.controls.column.value).ref == true"
             [ngClass]="(filtre.controls.operator.value == 'BETWEEN' ||
            filtre.controls.operator.value == 'NOT BETWEEN') ? 'col-md-2' : 'col-md-5'">
          <select formControlName="valueBegin" (ngModelChange)="onGetCC(filtre.controls.column.value)"
                  [ngClass]="{'is-invalid': submitted && f.column.errors }">
            <option *ngFor="let elfiltre of elementFiltreSelect[filtre.controls.column.value]" [value]="elfiltre.id">{{ elfiltre.libelle}}</option>
          </select>
        </div>
        <div *ngIf="onGetCC(filtre.controls.column.value).ref == false &&
      (onGetCC(filtre.controls.column.value).typeColumn == 'BOOLEAN' ||
       onGetCC(filtre.controls.column.value).typeColumn == 'BOOLEAN_2')"
             [ngClass]="(filtre.controls.operator.value == 'BETWEEN' ||
            filtre.controls.operator.value == 'NOT BETWEEN') ? 'col-md-2' : 'col-md-5'"
             class="col-md-2">
          <select formControlName="column" (ngModelChange)="onGetCC(filtre.controls.column.value)"
                  [ngClass]="{'is-invalid': submitted && f.column.errors }">
            <option value="1">Oui</option>
            <option value="0">Non</option>
          </select>
        </div>
        <div class="col-md-1 text-center" *ngIf="filtre.controls.operator.value == 'BETWEEN' || filtre.controls.operator.value == 'NOT BETWEEN'">
          <span> et </span>
        </div>
        <div
          [ngClass]="(filtre.controls.operator.value == 'BETWEEN' ||
         filtre.controls.operator.value == 'NOT BETWEEN') ? 'col-md-2' : 'col-md-5'"
          *ngIf="(filtre.controls.operator.value == 'BETWEEN' ||
         filtre.controls.operator.value == 'NOT BETWEEN')
                               && onGetCC(filtre.controls.column.value).ref == false &&
                                onGetCC(filtre.controls.column.value).typeColumn != 'DATE' ">
          <input type="text" formControlName="valueEnd">
        </div>
        <div
          [ngClass]="(filtre.controls.operator.value == 'BETWEEN' ||
         filtre.controls.operator.value == 'NOT BETWEEN') ? 'col-md-2' : 'col-md-5'"
          *ngIf="(filtre.controls.operator.value == 'BETWEEN' ||
         filtre.controls.operator.value == 'NOT BETWEEN')
                               && onGetCC(filtre.controls.column.value).ref == false &&
                                onGetCC(filtre.controls.column.value).typeColumn == 'DATE'">
          <input type="date" formControlName="valueEnd" [(ngModel)]="currendate">
        </div>
        <div
          [ngClass]="(filtre.controls.operator.value == 'BETWEEN' || filtre.controls.operator.value == 'NOT BETWEEN') ? 'col-md-2' : 'col-md-5'"
          *ngIf="(filtre.controls.operator.value == 'BETWEEN' || filtre.controls.operator.value == 'NOT BETWEEN') && onGetCC(filtre.controls.column.value).ref == true">
          <select formControlName="valueEnd" (ngModelChange)="onGetCC(filtre.controls.column.value)"
                  [ngClass]="{'is-invalid': submitted && f.column.errors }">
            <option *ngFor="let elfiltre of elementFiltreSelect[filtre.controls.column.value]" [value]="elfiltre.id">{{ elfiltre.libelle}}</option>
          </select>
        </div>
        <div class="col-md-1 d-flex flex-justify-center">
          <button *ngIf="t.value.length > 1"
                  (click)="onDeleleLineToFilters(i)"
                  type="button" class="btn btn-sm btn-default" size="small"><span class="icofont icofont-minus"></span>
          </button>
          <button  (click)="onAddLineToFilters()"
                   type="button" class="btn btn-sm btn-default" size="small"><span class="icofont icofont-plus"></span>
          </button>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="t.value.length > 0">
      <div class="cell-12 d-flex flex-justify-end">
        <button size="small" (click)="onReset()" class="btn btn-sm btn-outline-danger pr-5 mr-5">Reinitialiser</button>
        <button size="small" type="submit" class="btn btn-sm btn-primary pl-5">Filtrer</button>
      </div>
    </div>
  </div>
</form>
