<app-card [icone]="''" [title]="'Consultation des notes'">
  <div class="row">
    <div class="col-12 text-right">
      <button class="btn btn-warning btn-sm ml-2 mr-2 m-1"
              (click)="onDisplayReleveNotes(true)">
        <i class="icofont icofont-printer"></i> &nbsp;&nbsp;
        {{"userEspaceReleveListRelevImpre.Imprimer_Relevé_de_notes" | translate}}</button>
      <button class="btn btn-secondary btn-sm ml-2 mr-2 m-1"
              (click)="onSelectChangeClasse(changeclasse)"><i class="icofont icofont-adjust"></i>&nbsp;&nbsp;
        {{"userEspaceReleveListRelevImpre.Changer_classe" | translate}}</button>
      <button class="btn btn-primary btn-sm ml-2 mr-2 m-1"
              (click)="onDisplayReleveNotes(false)"><i class="icofont icofont-refresh"></i>&nbsp;&nbsp;
        {{"userEspaceReleveListRelevImpre.Actualiser" | translate}}</button>
    </div>
  </div>
  <div id="releveNote" #releveNote>
    <div class="card b-l-danger business-info services">
      <div class="card-body p-1">
        <div class="row">
          <div class="col-1">
            <ngx-avatar size="90" [src]="institution?.logoInstitution ? urlImage+institution?.id+'/institution': ''"
                        [name]="traiterLogoInstitution(institution?.nomInstitution)"></ngx-avatar>
          </div>
          <div class="col-11 text-center">
            <p class="text-bold text-c-blue p-0 mb-0">{{ institution?.nomInstitution }}</p>
            <em class="text-warning p-0">{{ institution?.deviseInstitution | titlecase }}</em>
            <p class="p-0 text-small">
              <span class="text-bold">
                {{"userEspaceReleveListRelevImpre.Adresse" | translate}}: </span> {{ institution?.boitePostale }} - <span class="text-bold">
              {{"userEspaceReleveListRelevImpre.Tél" | translate}}: </span> {{ institution?.telephone1 }}
              - <span class="text-bold">
              {{"userEspaceReleveListRelevImpre.Email" | translate}}: </span> {{ institution?.email }} - <span class="text-bold">
              {{"userEspaceReleveListRelevImpre.Web" | translate}}: </span> {{ institution?.siteWeb }}
            </p>
            <p class="text-bold text-c-blue p-0 mb-0">{{ 'Relevé de notes de la classe '+ (classe ? classe.nomClasse : '') | uppercase }}</p>
          </div>
          <ng-container *ngIf="currentSequence">
            <div class="col-sm-3">
              <p class="task-detail"><span>
                {{"userEspaceReleveListRelevImpre.Année_scolaire" | translate}}:&nbsp;&nbsp; </span><span class="text-bold">{{ tokenStorage.getUser().codeAnnee }}</span></p>
              <p class="task-detail">
                <span class="text-bold">{{ currentSequence?.nom_trimestre }} | </span>
                <span class="text-bold">{{ currentSequence?.nom_sequence }}</span>
              </p>
            </div>
            <div class="col-sm-9">
              <p class="task-detail"><span>
                {{"userEspaceReleveListRelevImpre.Classe" | translate}}:&nbsp;&nbsp;  </span><span class="text-bold">{{ classe?.nomClasse }} ({{ currentClasse?.specialite }})</span></p>
              <p class="task-detail"><span>
                {{"userEspaceReleveListRelevImpre.Date_Du_jour" | translate}}: &nbsp;&nbsp; </span><span class="text-bold">{{ timestamp | date: 'medium' }}</span></p>
            </div>
          </ng-container>
          <ng-container *ngIf="currentTrimestre">
            <div class="col-sm-3">
              <p class="task-detail"><span>
                {{"userEspaceReleveListRelevImpre.Année_scolaire" | translate}}:&nbsp;&nbsp; </span><span class="text-bold">{{ tokenStorage.getUser().codeAnnee }}</span></p>
              <p class="task-detail">
                <span class="text-bold">{{ currentTrimestre?.nom_trimestre }} | </span>
                <span class="text-bold">{{ currentTrimestre?.nom_trimestre_2 }}</span>
              </p>
            </div>
            <div class="col-sm-9">
              <p class="task-detail"><span>
                {{"userEspaceReleveListRelevImpre.Classe" | translate}}:&nbsp;&nbsp;  </span><span class="text-bold">{{ classe?.nomClasse }} ({{ currentClasse?.specialite }})</span></p>
              <p class="task-detail"><span>
                {{"userEspaceReleveListRelevImpre.Date_Du_jour" | translate}}: &nbsp;&nbsp; </span><span class="text-bold">{{ timestamp | date: 'medium' }}</span></p>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <div *ngIf="entete && entete.length > 0" class="table-responsive">
      <table class="table table-xs">
        <thead *ngIf="entete">
        <tr>
          <th>#</th>
          <th class="text-small p-0">
            <p class="p-0 m-0 text-small">{{"userEspaceReleveListRelevImpre.Noms_et" | translate}}</p>
            <p class="p-0 m-0 text-small">{{"userEspaceReleveListRelevImpre.Prénoms" | translate}}</p>
          </th>
          <ng-container *ngIf="entete">
            <th *ngFor="let titre of entete" class="p-1">
              <p class="p-0 m-0 text-small">{{ titre.codeMatiere }}</p>
              <p class="p-0 m-0 text-warning text-small"><em>
                {{"userEspaceReleveListRelevImpre.Coef" | translate}}: {{ titre.coefficient }}</em></p>
            </th>
          </ng-container>
          <th class="text-small">{{"userEspaceReleveListRelevImpre.Moy" | translate}}.</th>
          <th class="text-small">{{"userEspaceReleveListRelevImpre.Rang" | translate}}</th>
          <th class="text-small p-0">
            <p class="p-0 m-0 text-small">{{"userEspaceReleveListRelevImpre.Obs" | translate}}.</p>
          </th>
        </tr>
        </thead>
        <tbody *ngIf="notesEleves">
        <tr *ngFor="let note of notesEleves let i = index">
          <th scope="row">{{ i+1 }}</th>
          <td class="p-0">
            <p class="p-0 m-0 text-x-small">{{ note.eleve.nomEleve | uppercase }}</p>
            <p class="p-0 m-0 text-x-small">{{ note.eleve.prenomEleve | uppercase }}</p>
          </td>
          <td *ngFor="let notevalue of note.notes" class="p-1 text-x-small">
            {{ notevalue.noteAtt ? (notevalue.noteAtt | number : '2.1-2' : 'fr') :
            (notevalue.noteAtt == null && notevalue.observation == null) ? 'N/A' :
              (notevalue.observation != null && notevalue.observation == 'malade') ? 'AJ' : '0' }}
          </td>
          <th scope="row" class="text-x-small">{{ note.moyenne | number : '2.1-2' : 'fr'}}</th>
          <th scope="row" class="text-x-small">{{ note.rang }}</th>
          <td class="p-0 text-x-small">{{ note.observation }}</td>
        </tr>
        </tbody>
        <tfoot *ngIf="moyennes">
        <tr>
          <th>#</th>
          <th class="p-0">{{"userEspaceReleveListRelevImpre.Moyennes" | translate}}</th>
          <ng-container *ngIf="moyennes">
            <th *ngFor="let moyenne of moyennes" class="p-1">
              <p class="p-0 m-0 text-amazon">{{  moyenne.moyenne ?  (moyenne.moyenne | number : '2.1-2' : 'fr') : 'N/A' }}</p>
            </th>
          </ng-container>
        </tr>
        </tfoot>
      </table>
    </div>
    <div class="card b-l-danger business-info services" *ngIf="entete">
      <div class="card-body p-1">
        <div class="row">
          <ng-container >
            <div class="col-sm-4">
              <p class="task-detail"><span>
                {{"userEspaceReleveListRelevImpre.Nombre_de_moyenne" | translate}} >= 10 :&nbsp;&nbsp; </span><span class="text-bold">{{ nbMoyenne }}</span></p>
              <p class="task-detail"><span>{{"userEspaceReleveListRelevImpre.Nombre_de_moyenne" | translate}} < 10 :&nbsp;&nbsp; </span><span class="text-bold">{{ nbSousMoyenne }}</span></p>
            </div>
            <div class="col-sm-4">
              <p class="task-detail"><span>
                {{"userEspaceReleveListRelevImpre.Moyenne_du_premier" | translate}} :&nbsp;&nbsp; </span><span class="text-bold">{{ moyennePremier | number : '2.1-2' : 'fr' }}</span></p>
              <p class="task-detail"><span>
                {{"userEspaceReleveListRelevImpre.Moyenne_du_dernier" | translate}} :&nbsp;&nbsp; </span><span class="text-bold">{{ moyenneDernier | number : '2.1-2' : 'fr' }}</span></p>
            </div>
            <div class="col-sm-4">
              <p class="task-detail"><span>
                {{"userEspaceReleveListRelevImpre.Taux_de_reussite" | translate}} :&nbsp;&nbsp; </span><span class="text-bold">{{ tauxReussite | number : '2.1-2' : 'fr' }}</span></p>
              <p class="task-detail"><span>
                {{"userEspaceReleveListRelevImpre.Moyenne_générale" | translate}} :&nbsp;&nbsp; </span><span class="text-bold">{{ moyenneGenerale | number : '2.1-2' : 'fr' }}</span></p>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ng-template #modalSelectSequence let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h5 class="modal-title" id="select-sequence">
            {{"userEspaceReleveListRelevImpre.Consultation_des_notes" | translate}}</h5>
          <button type="button" class="close" aria-label="Close" (click)="onResetSaisieNote()">
            <span aria-hidden="true" class="icofont icofont-close-line-squared-alt text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="selectSequenceClasseForm">
            <ng-container *ngIf="formSelect">
              <div class="form-group">
                <label for="sequence">
                  {{"userEspaceReleveListRelevImpre.Séquence" | translate}}</label>
                <select formControlName="sequence" class="custom-select form-control" id="sequence"
                        [ngClass]="{'is-invalid': submitted && f.sequence.errors }">
                  <option value="">--- {{"userEspaceReleveListRelevImpre.Sélectionner_une_séquence" | translate}} ---</option>
                  <option *ngFor="let sequence of formSelect.sequences" value="{{ sequence.id_sequence }}">{{ sequence.nom_sequence }}</option>
                </select>
                <div *ngIf="submitted && f.sequence.errors" class="invalid-feedback">
                  <div *ngIf="f.sequence.errors.required">
                    {{"userEspaceReleveListRelevImpre.Le_choix_de_la_séquence_est_obligatoire" | translate}}</div>
                </div>
              </div>
              <div class="form-group">
                <label for="classe">{{"userEspaceReleveListRelevImpre.Classe" | translate}}</label>
                <select formControlName="classe" class="custom-select form-control" id="classe"
                        [ngClass]="{'is-invalid': submitted && f.classe.errors }">
                  <option value="">--- {{"userEspaceReleveListRelevImpre.Sélectionnez_une_classes" | translate}} ---</option>
                  <option *ngFor="let classe of formSelect.classes" value="{{ classe.id_classe }}">
                    {{ classe.nom_classe }}
                  </option>
                </select>
                <div *ngIf="submitted && f.classe.errors" class="invalid-feedback">
                  <div *ngIf="f.classe.errors.required">
                    {{"userEspaceReleveListRelevImpre.Le_choix_de_la_classe_est_obligatoire" | translate}}</div>
                </div>
              </div>
              <div class="form-group">
                <label for="sortby">
                  {{"userEspaceReleveListRelevImpre.Trier_par" | translate}}</label>
                <select formControlName="sortby" class="custom-select form-control" id="sortby"
                        [ngClass]="{'is-invalid': submitted && f.sortby.errors }">
                  <option value="merite">
                    {{"userEspaceReleveListRelevImpre.Ordre_de_mérite" | translate}}</option>
                  <option value="nom">
                    {{"userEspaceReleveListRelevImpre.Ordre_Alphabetique" | translate}} </option>
                </select>
                <div *ngIf="submitted && f.sortby.errors" class="invalid-feedback">
                  <div *ngIf="f.sortby.errors.required">
                    {{"userEspaceReleveListRelevImpre.Le_choix_du_trie_est_obligatoire" | translate}}</div>
                </div>
              </div>
            </ng-container>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary btn-sm ml-5 mr-4"
                  (click)="onDisplayListeEleve()">
            {{"userEspaceReleveListRelevImpre.Valider" | translate}}&nbsp;&nbsp;<i class="icofont icofont-circled-right"></i></button>
          <button class="btn btn-outline-danger btn-sm ml-4"
                  (click)="onResetSaisieNote()"><i class="icofont icofont-close-circled"></i>
            {{"userEspaceReleveListRelevImpre.Effacer" | translate}}&nbsp;&nbsp;</button>
        </div>
      </ng-template>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <ng-template #changeclasse let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-sequence">
            {{"userEspaceReleveListRelevImpre.Changer_la_classe" | translate}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="onResetChangeClasse()">
            <span aria-hidden="true" class="icofont icofont-close-line-squared text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="changeClassForm">
            <div class="form-group" *ngIf="listClasses">
              <label for="classe1" class="col-form-label">
                {{"userEspaceReleveListRelevImpre.Choisir_classe" | translate}}</label>
              <select name="classe" formControlName="classe" class="form-control" id="classe1"
                      [ngClass]="{'is-invalid': submitted && bs.classe.errors }">
                <option value="">--- {{"userEspaceReleveListRelevImpre.Sélectionner_une_classe" | translate}} ---</option>
                <option *ngFor="let classe of listClasses" value="{{ classe.id }}">{{ classe.nomClasse }}</option>
              </select>
              <div *ngIf="submitted && bs.classe.errors" class="invalid-feedback">
                <div *ngIf="bs.classe.errors.required">
                  {{"userEspaceReleveListRelevImpre.La_classe_est_obligatoire" | translate}}</div>
              </div>
            </div>
            <div class="form-group">
              <label for="sortby">
                {{"userEspaceReleveListRelevImpre.Trier_par" | translate}}</label>
              <select formControlName="sortby" class="custom-select form-control" id="sortby1"
                      [ngClass]="{'is-invalid': submitted && bs.sortby.errors }">
                <option value="merite">
                  {{"userEspaceReleveListRelevImpre.Ordre_de_mérite" | translate}}</option>
                <option value="nom">
                  {{"userEspaceReleveListRelevImpre.Ordre_Alphabetique" | translate}} </option>
              </select>
              <div *ngIf="submitted && bs.sortby.errors" class="invalid-feedback">
                <div *ngIf="bs.sortby.errors.required">
                  {{"userEspaceReleveListRelevImpre.Le_choix_du_trie_est_obligatoire" | translate}}</div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger btn-sm mr-2"
                  (click)="onResetChangeClasse()">
            {{"userEspaceReleveListRelevImpre.Annuler" | translate}}</button>
          <button type="button" (click)="onRefreshReleveNote()"
                  class="btn btn-primary btn-sm">
            {{"userEspaceReleveListRelevImpre.Valider" | translate}}</button>
        </div>
      </ng-template>
    </div>
  </div>
</app-card>
