.custom-dropdown {
  position: relative;
  background-color: red;
  z-index: 1000 !important;
}
.custom-dropdown2 {
  position: relative;
  background-color: red;
  z-index: 999 !important;
}
.bg-gray {
  background-color: #efe3e3;
}
.position-content {
  margin-left: 15rem;
  //margin-top: 14px;
  margin-bottom: -2.25rem;
}
.mr-moins {
  margin-right: -3.5rem;
}
