<div class="row">
  <app-modal-basic></app-modal-basic>
  <!-- card1 start -->
  <div class="col-md-6 col-xl-3">
    <div class="card widget-card-1 clickable"
         (click)="onloadPage('/administration/finances/list-services', 'bouton-service')"
         [routerLinkActive]="['active']">
      <div class="card-block-small">
        <i class="icofont icofont-cur-dollar bg-c-blue card1-icon"></i>
        <span class="text-c-blue f-w-600">
          {{"userAdminFinancesMenu.Service" | translate}}</span>
        <h3 class="text-center text-muted">
          <i class="text-c-green icofont icofont-eye-alt"></i>
        </h3>
        <div>
        <span class="f-left m-t-10 text-muted">
          <i class="text-c-blue f-16 icofont icofont-money m-r-10"></i>
          {{"userAdminFinancesMenu.Gestion_frais_a_payer" | translate}}
        </span>
        </div>
      </div>
    </div>
  </div>
  <!-- card1 end -->
  <!-- card2 start -->
  <div class="col-md-6 col-xl-3">
    <div class="card widget-card-1 clickable"
         (click)="onloadPage('/administration/finances/list-remise', 'bouton-remise')">
      <div class="card-block-small">
        <i class="icofont icofont-sale-discount bg-c-pink card1-icon"></i>
        <span class="text-c-pink f-w-600">
          {{"userAdminFinancesMenu.Remise" | translate}}</span>
        <h3 class="text-center text-muted">
          <i class="text-c-green icofont icofont-eye-alt"></i>
        </h3>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-pink f-16 icofont icofont-anchor"></i>
            {{"userAdminFinancesMenu.Gestion_remise_système" | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- card2 end -->
  <!-- card3 start -->
  <div class="col-md-6 col-xl-3">
    <div class="card widget-card-1 clickable"
         (click)="onloadPage('/administration/finances/list-remise-niveau', 'bouton-remise-niveau')">
      <div class="card-block-small">
        <i class="icofont icofont-sale-discount bg-c-yellow card1-icon"></i>
        <span class="text-c-yellow f-w-600">
          {{"userAdminFinancesMenu.Remise_niveau" | translate}}</span>
        <h1 class="text-center text-muted">
          <i class="text-c-green icofont icofont-eye-alt"></i>
        </h1>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-green f-16 icofont icofont-children-care m-r-10"></i>
            {{"userAdminFinancesMenu.Remise_niveau" | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- card3 end -->
  <!-- card4 start -->
  <div class="col-md-6 col-xl-3">
    <div class="card widget-card-1 clickable"
         (click)="onloadPage('/administration/finances/list-bourse', 'bouton-bourse')">
      <div class="card-block-small">
        <i class="icofont icofont-certificate bg-c-lite-green card1-icon"></i>
        <span class="text-c-lite-green f-w-600">
          {{"userAdminFinancesMenu.Bourses" | translate}}</span>
        <h1 class="text-center text-muted">
          <i class="text-c-green icofont icofont-eye-alt"></i>
        </h1>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-yellow f-16 icofont icofont-education m-r-10"></i>
            {{"userAdminFinancesMenu.Bourses" | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- card4 end -->
  <!-- card5 start -->
  <div class="col-md-6 col-xl-3">
    <div class="card widget-card-1 clickable"
         (click)="onloadPage('/administration/finances/list-caisse', 'bouton-caisse')">
      <div class="card-block-small">
        <i class="icofont icofont-money-bag bg-c-green card1-icon"></i>
        <span class="text-c-orenge f-w-600">
          {{"userAdminFinancesMenu.Caisse" | translate}}</span>
        <h1 class="text-center text-muted">
          <i class="text-c-green icofont icofont-eye-alt"></i>
        </h1>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-yellow f-16 icofont icofont-globe-alt m-r-10"></i>
            {{"userAdminFinancesMenu.Caisse" | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- card5 end -->
  <!-- card6 start -->
  <div class="col-md-6 col-xl-3">
    <div class="card widget-card-1 clickable"
         (click)="onloadPage('/administration/finances/list-mode-reglement', 'bouton-mode-reglement')">
      <div class="card-block-small">
        <i class="icofont icofont-eraser-alt bg-twiter card1-icon"></i>
        <span class="text-c-orenge f-w-600">
          {{"userAdminFinancesMenu.Modes_règlement" | translate}}</span>
        <h1 class="text-center text-muted">
          <i class="text-c-green icofont icofont-eye-alt"></i>
        </h1>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-yellow f-16 icofont icofont-pin m-r-10"></i>
            {{"userAdminFinancesMenu.Modes_règlement" | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- card6 end -->
  <!-- card6 start -->
  <div class="col-md-6 col-xl-3">
    <div class="card widget-card-1 clickable"
         (click)="onloadPage('/administration/finances/list-modele-echeance', 'bouton-modele-echeance')">
      <div class="card-block-small">
        <i class="icofont icofont-bug bg-c-lite-green card1-icon"></i>
        <span class="text-c-orenge f-w-600">
          {{"userAdminFinancesMenu.Modeles_écheance" | translate}}</span>
        <h1 class="text-center text-muted">
          <i class="text-c-green icofont icofont-eye-alt"></i>
        </h1>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-yellow f-16 icofont icofont-bullseye m-r-10"></i>
            {{"userAdminFinancesMenu.Modeles_écheance" | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- card6 end -->
  <div class="col-md-6 col-xl-3">
    <div class="card widget-card-1 clickable"
      [routerLink]="'/administration/finances/transfert'">
      <div class="card-block-small">
        <i class="icofont icofont-ui-copy bg-googleplus card1-icon"></i>
        <span class="text-c-orenge f-w-600">
          {{"userAdminFinancesMenu.Transfert" | translate}}</span>
        <h3 class="text-center text-muted">
          <i class="text-c-green icofont icofont-eye-alt"></i>
        </h3>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-googleplus f-16 icofont icofont-copy m-r-10"></i>
            {{"userAdminFinancesMenu.Transfert_config" | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- card7 start -->
  <div class="col-md-6 col-xl-3">
    <div class="card widget-card-1 clickable" routerLink="/administration/finances/list-journal"
         (click)="onloadPage('/administration/finances/list-journal', 'bouton-journaux')">
      <div class="card-block-small">
        <i class="icofont icofont-calendar bg-c-yellow card1-icon"></i>
        <span class="text-c-orenge f-w-600">
          {{"userAdminFinancesMenu.Journaux" | translate}}</span>
        <h1 class="text-center text-muted">
          <i class="text-c-green icofont icofont-eye-alt"></i>
        </h1>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-yellow f-16 icofont icofont-clock-time m-r-10"></i>
            {{"userAdminFinancesMenu.Journaux" | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>
<!--  <div class="col-md-6 col-xl-3">-->
<!--    <div class="card widget-card-1 clickable"  routerLink="/administration/finances/acompte"-->
<!--      (click)="onloadPage('/administration/finances/acompte', 'bouton-ajout-modification-acompte')">-->
<!--      <div class="card-block-small">-->
<!--        <i class="icofont icofont-bank bg-instagram card1-icon"></i>-->
<!--        <span class="text-c-pink f-w-600">-->
<!--          {{"Acompte" | translate}}</span>-->
<!--        <h3 class="text-center text-muted">-->
<!--          <i class="text-c-green icofont icofont-eye-alt"></i>-->
<!--        </h3>-->
<!--        <div>-->
<!--          <span class="f-left m-t-10 text-muted">-->
<!--            <i class="text-c-pink f-16 icofont icofont-tools-alt-1 m-r-10"></i>-->
<!--            {{"Acompte" | translate}}-->
<!--          </span>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
  <div class="col-md-6 col-xl-3">
    <div class="card widget-card-1 clickable"  routerLink="/administration/finances/gestion-des-acomptes"
      (click)="onloadPage('/administration/finances/gestion-des-acomptes', 'bouton-acomptes')">
      <div class="card-block-small">
        <i class="icofont icofont-bank bg-instagram card1-icon"></i>
        <span class="text-c-pink f-w-600">
          {{"Gestion des acomptes" | translate}}</span>
        <h3 class="text-center text-muted">
          <i class="text-c-green icofont icofont-eye-alt"></i>
        </h3>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-pink f-16 icofont icofont-tools-alt-1 m-r-10"></i>
            {{"Gestion des acomptes" | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- card7 end -->
</div>


