<app-card [icone]="''" [title]="eric">
  <div class="card b-l-danger business-info services">
    <div class="card-body p-1">
      <div class="row">
        <div class="col-sm-6">
          <p class="task-detail"><span>{{"userAdmin.Année_scolaire" | translate}}: &nbsp;&nbsp; </span><span class="text-bold">{{ tokenStorage.getUser().codeAnnee }}</span></p>
          <p class="task-detail"><span>{{"userAdmin.Trimestre" | translate}}:&nbsp;&nbsp; </span><span class="text-bold">{{ currentSequence?.trimestre.nom_trimestre }}</span></p>
          <p class="task-detail"><span>{{"userAdmin.Sequence" | translate}}:&nbsp;&nbsp; </span><span class="text-bold">{{ currentSequence?.nom_sequence }}</span></p>
        </div>
        <div class="col-sm-6">
          <p class="task-detail"><span>{{"userAdmin.Classe" | translate}}:&nbsp;&nbsp; </span><span class="text-bold">{{ currentClasse?.nomClasse }}</span></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">

    <div class="col-sm-5 input-group pl-4" [formGroup]="searchForm">
      <input id="search" class="form-control"
             placeholder="{{'userEleveListeEleveMenu.Search' | translate}}" formControlName="search"
      (keyup)="filterElt($event)">
      <div class="input-group-append">
                <span class="input-group-text icofont icofont-search clickable"
                      ></span>
      </div>
    </div>

  </div>
  <div class="table-responsive" *ngIf="eleves">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>{{"userAdmin.Eleves" | translate}}</th>
        <th>{{"userAdmin.Absences" | translate}}</th>
        <th></th>
      </tr>
      </thead>
      <tbody *ngFor="let eleve of eleves; let i = index">
      <tr>
        <th scope="row">{{ i+1 }}</th>
        <td>
          <span>{{ eleve.eleve.matricule + ' '+ eleve.classe.nomClasse + ' (' + eleve.classe.specialite + ')' }}</span><br/>
          <span class="text-bold">{{ eleve.eleve.nomEleve + ' ' + eleve.eleve.prenomEleve  }}</span>
        </td>
        <td>
          <p class="p-0 m-0" *ngFor="let item of eleve.absences">
            <span class="text-c-blue text-bold mr-2">{{ item.date_absence | date }}</span>
            <span class="text-bold mr-2">({{ item.nbre_heures_nj + Heures + ' NJ' }} - {{ item.nbre_heures_j + Heures + ' J.' }})</span>
            <span class="bg-warning mr-3" title="{{'userAdmin.Justifier_l_absence' | translate}}"
                    (click)="onEditAbsence(editAbsence, eleve, item)"><em class="icofont icofont-check-alt"></em></span>
            <span class=" bg-danger" title="{{'userAdmin.Supprimer_l_absence' | translate}}"
                  (click)="onDeleteAbsence(item)" ><em class="icofont icofont-close-circled"></em></span>

          </p>
        </td>
        <td>
          <button class="btn btn-primary btn-sm ml-2 m-1"
                  (click)="onEditAbsence(editAbsence, eleve, null)">
            <em class="icofont icofont-check-circled"></em>{{"userAdmin.Ajouter" | translate}}</button>
          <button class="btn btn-warning btn-icon ml-2"
                  (click)="onSanctionnerEleve(eleve, sanctionEleve)"
                  title="{{'userAdmin.Sanctionner_l_eleve' | translate}}">
            <i class="icofont icofont-warning"></i></button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <ng-template #editAbsence let-c="close" let-d="dismiss" let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="edit-absence">{{"userAdmin.Edition_des_absences" | translate}}</h4>
<!--      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">-->
<!--        <span aria-hidden="true" class="icofont icofont-close-line-squared text-danger"></span>-->
<!--      </button>-->
      <button type="button" class="close" aria-label="Close" (click)="onReset()">
        <span aria-hidden="true" class="icofont icofont-close-line-squared text-danger"></span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="editAbsenceForm">
        <div class="form-group">
          <label for="absence">{{"userAdmin.Nombre_d_heure" | translate}}</label>
          <div class="input-group">
            <input type="number" id="absence" formControlName="nbre_heures" [ngClass]="{'is-invalid': submitted && g.nbre_heures.errors }"
                   class="form-control" (click)="testValue($event)"
                   placeholder="{{'userAdmin.Entrer_le_nombre_d_heure_d_absence' | translate}}">
            <div *ngIf="submitted && g.nbre_heures.errors" class="invalid-feedback">
              <div *ngIf="g.nbre_heures.errors.required">{{"userAdmin.L_heure_d_absence" | translate}}</div>
            </div>
            <div *ngIf="(showMessage === true)" class="color-red">
              <span>{{"votre nombre d'heure a justifier doit etre compris entre" | translate}} &nbsp; : &nbsp; 0 &nbsp; {{"et" | translate}} {{ nbrHeurCourant }}</span>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button"
              class="btn btn-outline-danger btn-sm mr-2" (click)="onReset()">{{"userAdmin.Annuler" | translate}}</button>
      <button type="button" [disabled]="(nbrHeurCourant < 0) && (justifierAbsence === true)"
              (click)="onSaveAbsence()" class="btn btn-primary btn-sm">{{"userAdmin.Valider" | translate}}</button>
    </div>
  </ng-template>

  <div class="row">
    <div class="col-12">
      <ng-template #sanctionEleve let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="sanction-eleve">
            {{"userAdmin.Application_de_sanction_sur" | translate}} </h4>
          <button type="button" class="close" aria-label="Close" (click)="onResetSanction()">
            <span aria-hidden="true" class="icofont icofont-close-line-squared text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="sanctionForm">
            <div class="row">
              <div class="form-group col-6">
                <label for="sequence">{{"userAdmin.Sequence" | translate}}</label>
                <div class="input-group">
                  <select class="custom-select form-control" id="sequence" formControlName="sequence"
                          [ngClass]="{'is-invalid': submitted && f.sequence.errors }">
                    <option value="">{{"userAdmin.Choisir_la_sequence" | translate}}</option>
                    <option *ngFor="let sequence of sequences" [value]="sequence.id">{{ sequence.nomSequence }}</option>
                  </select>
                  <div *ngIf="submitted && f.sequence.errors" class="invalid-feedback">
                    <div *ngIf="f.sequence.errors.required">{{"userAdmin.La_sequence_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-6">
                <label for="datesanction">{{"userAdmin.Date_de_la_sanction" | translate}}</label>
                <div class="input-group">
                  <input class="form-control" type="datetime-local" id="datesanction" formControlName="datesanction"
                         [ngClass]="{'is-invalid': submitted && f.datesanction.errors }">
                  <div *ngIf="submitted && f.datesanction.errors" class="invalid-feedback">
                    <div *ngIf="f.datesanction.errors.required">{{"userAdmin.La_date_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-6">
                <label for="penalite">{{"userAdmin.Penalite_a_l_issue" | translate}}</label>
                <div class="input-group">
                  <select class="custom-select form-control" id="penalite" formControlName="penalite"
                          [ngClass]="{'is-invalid': submitted && f.penalite.errors }">
                    <option value="">{{"userAdmin.Choisir_le_type_de_pénalité" | translate}}</option>
                    <option *ngFor="let penalite of penalites" [value]="penalite.id">{{ penalite.libelle }}</option>
                  </select>
                  <div *ngIf="submitted && f.penalite.errors" class="invalid-feedback">
                    <div *ngIf="f.penalite.errors.required">{{"userAdmin.La_pénalité_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-6">
                <label for="temoin">{{"userAdmin.Temoin_ou_victime_de_la_faute" | translate}}</label>
                <div class="input-group">
                  <input class="form-control" type="text" id="temoin" formControlName="temoin"
                         [ngClass]="{'is-invalid': submitted && f.temoin.errors }">
                  <div *ngIf="submitted && f.temoin.errors" class="invalid-feedback">
                    <div *ngIf="f.temoin.errors.required">{{"userAdmin.Le_temoin_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-12">
                <label for="motif">{{"userAdmin.Motif_de_la_sanction" | translate}}</label>
                <textarea class="form-control" formControlName="motif"  [ngClass]="{'is-invalid': submitted && f.motif.errors }"
                          id="motif" rows="3"></textarea>
                <div *ngIf="submitted && f.motif.errors" class="invalid-feedback">
                  <div *ngIf="f.motif.errors.required">{{"userAdmin.Le_motif_de_la_bourse_est_obligatoire" | translate}}</div>
                </div>
              </div>
              <div class="form-group col-4">
                <label for="debut">{{"userAdmin.Début_de_la_pénalité" | translate}}</label>
                <div class="input-group">
                  <input type="datetime-local" id="debut" formControlName="debut" [ngClass]="{'is-invalid': submitted && f.debut.errors }"
                         class="form-control" placeholder="{{'userAdmin.Début_de_la_sanction' | translate}}">
                  <div *ngIf="submitted && f.debut.errors" class="invalid-feedback">
                    <div *ngIf="f.debut.errors.required">{{"userAdmin.Le_debut_de_la_sanction_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-4">
                <label for="fin">{{"userAdmin.Fin_de_la_pénalité" | translate}}</label>
                <div class="input-group">
                  <input type="datetime-local" id="fin" formControlName="fin" [ngClass]="{'is-invalid': submitted && f.fin.errors }"
                         class="form-control" placeholder="{{'userAdmin.Fin_de_la_sanction' | translate}}">
                  <div *ngIf="submitted && f.fin.errors" class="invalid-feedback">
                    <div *ngIf="f.fin.errors.required">{{"userAdmin.La_fin_de_la_sanction_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-4">
                <label for="sequence">{{"userAdmin.Etat_de_réalisation" | translate}}</label>
                <div class="input-group">
                  <select class="custom-select form-control" id="realisation" formControlName="realisation"
                          [ngClass]="{'is-invalid': submitted && f.realisation.errors }">
                    <option value="false">{{"userAdmin.Non" | translate}}</option>
                    <option value="true">{{"userAdmin.Oui" | translate}}</option>
                  </select>
                  <div *ngIf="submitted && f.realisation.errors" class="invalid-feedback">
                    <div *ngIf="f.realisation.errors.required">
                      {{"userAdmin.Le_choix_de_realisation_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <span class="text-bold mr-5 pr-5">{{"userAdmin.Nombre_de_sanction_déja_cummulé" | translate}} :
            <span class="text-facebook">{{ nbreSanctionCumule }}</span>
          </span>
          <button type="button" class="btn btn-outline-danger btn-sm mr-2"
                  (click)="onResetSanction()">{{"userAdmin.Annuler" | translate}}</button>
          <button type="button"
                  (click)="onSaveSanction()" class="btn btn-primary btn-sm">{{"userAdmin.Enregistrer" | translate}}</button>
        </div>
      </ng-template>
    </div>
  </div>
</app-card>

