<app-card [icone]="''" [title]="'userCensoratProces.Gestion_des_procès_verbaux'">
  <div class="card b-l-danger business-info services">
    <div class="card-body p-1">
      <div class="row">
        <div class="col-sm-6">
          <p class="task-detail"><span>
            {{"userCensoratProces.Année_scolaire" | translate}}&nbsp;&nbsp; </span><span class="text-bold">{{ tokenStorage.getUser().codeAnnee }}</span></p>
        </div>
        <div class="col-sm-6">
          <p class="task-detail"><span>
            {{"userCensoratProces.Trimestre" | translate}}&nbsp;&nbsp; </span><span class="text-bold">{{ currentTrimestre?.nom_trimestre }}</span></p>
        </div>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>{{"userCensoratProces.Classe" | translate}}</th>
        <th>{{"userCensoratProces.Actions" | translate}}</th>
      </tr>
      </thead>
      <tbody *ngIf="eleves">
      <tr *ngFor="let eleve of eleves; let i = index">
        <th scope="row">{{ i+1 }}</th>
        <td>{{ eleve.matricule }}</td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-12">
      <ng-template #modalSelectSequence let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="select-sequence">
            {{"userCensoratProces.Proces_verbaux" | translate}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="onResetSaisieAbsences()">
            <span aria-hidden="true" class="icofont icofont-close-line-squared-alt text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="selectSequenceClasseForm">
            <ng-container *ngIf="trimestres && authService.isVisible('liste-trimestre')">
              <div class="form-group">
                <label for="trimestre">
                  {{"userCensoratProces.Trimestre" | translate}}</label>
                <select formControlName="trimestre" class="custom-select form-control" id="trimestre"
                        [attr.disabled]="authService.isEditable('liste-trimestre') == true ? null : true"
                        [ngClass]="{'is-invalid': submitted && f.trimestre.errors }">
                  <option value="">--- {{"userCensoratProces.Sélectionner_un_trimestre" | translate}} ---</option>
                  <option *ngFor="let trimestre of trimestres" value="{{ trimestre.id_trimestre }}">{{ trimestre.nom_trimestre }}</option>
                </select>
                <div *ngIf="submitted && f.trimestre.errors" class="invalid-feedback">
                  <div *ngIf="f.trimestre.errors.required">
                    {{"userCensoratProces.Le_choix_du_trimestre_est_obligatoire" | translate}}</div>
                </div>
              </div>
            </ng-container>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary btn-sm ml-5 mr-4"
                  [disabled]="!authService.isActif('bouton-suivant')"
                  *ngIf="authService.isVisible('bouton-suivant')"
                  (click)="onDisplayListeEleve()">
            {{"userCensoratProces.Suivant" | translate}}&nbsp;&nbsp;<i class="icofont icofont-circled-right"></i></button>
          <button class="btn btn-outline-danger btn-sm ml-4"
                  [disabled]="!authService.isActif('bouton-effacer')"
                  *ngIf="authService.isVisible('bouton-effacer')"
                  (click)="onResetSaisieAbsences()"><i class="icofont icofont-close-circled"></i>
            {{"userCensoratProces.Effacer" | translate}}&nbsp;&nbsp;</button>
        </div>
      </ng-template>
    </div>
  </div>
</app-card>

