
<div class="modal-body" align="center">
  <button type="button" (click)="fileInput.click()"
          class="btn btn-primary btn-sm">
    <em class="icofont icofont-check-circled mr-3"></em>{{'Importer_les_notes' | translate}}</button>

  <input #fileInput placeholder="file...." type="file" class="form-control" hidden
         (change)="onSelectedFile($event)" accept=".xlsx,.xls" enctype="multipart/form-data"/>

  <button type="button" (click)="export()"
          class="btn btn-primary btn-sm ml-2">
    <em class="icofont icofont-check-circled mr-3"></em>{{'Exporter_les_releve_de_note' | translate}}</button>
</div>
<div class="modal-footer">
  <button type="button"
          class="btn btn-outline-danger btn-sm mr-2"
          (click)="onReset()">
    <i class="icofont icofont-close-circled"></i>{{"userAdminNote.Annuler" | translate}}</button>
</div>
