<app-card [title]="'userAdminConfNum.Liste_des_élèves'" [classHeader]="true" [blockClass]="'table-border-style'">
  <div class="card b-l-danger business-info services mb-0">
    <div class="card-body p-1">
      <div class="row">
        <div class="col-sm-4">
          <span>{{"userCensoratEnreg.Type_d_affichage" | translate}} </span>
          <span>
          <div ngbDropdown class="d-inline-block" display="static">
            <button class="btn btn-outline-primary btn-sm" id="dropdownBasic1" ngbDropdownToggle>{{ currentSwitch | titlecase }}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem class="btn-sm" (click)="swicthTo(switchTab[0], null)">{{"userCensoratEnreg.Sanction_Tous" | translate}}</button>
               <button ngbDropdownItem class="btn-sm" (click)="swicthTo(switchTab[1], modalSelectObject)">
                 {{"userCensoratEnreg.Sanction_par_Eleve" | translate}} </button>
              <button ngbDropdownItem class="btn-sm" (click)="swicthTo(switchTab[2], modalSelectObject)">
                {{"userCensoratEnreg.Sanction_par_classe" | translate}}</button>
              <button ngbDropdownItem class="btn-sm" (click)="swicthTo(switchTab[3], modalSelectObject)">
                {{"userCensoratEnreg.Sanction_par_niveau" | translate}}</button>
              <button ngbDropdownItem class="btn-sm" (click)="swicthTo(switchTab[4], modalSelectObject)">
                {{"userCensoratEnreg.Sanction_par_cycle" | translate}}</button>
              <button ngbDropdownItem class="btn-sm" (click)="swicthTo(switchTab[5], modalSelectObject)">
                {{"userCensoratEnreg.Sanction_par_Etablissement" | translate}}</button>
            </div>
          </div>
          </span>
        </div>
        <div class="col-sm-4">
          <p class="task-detail"><span>
            {{"userCensoratEnreg.Année_scolaire" | translate}}&nbsp;&nbsp; </span>
            <span class="text-bold">{{ tokenStorage.getUser().codeAnnee }}</span></p>
        </div>
        <div class="col-sm-4">
          <p class="task-detail"><span>{{ currentSwitch + ' : '}}&nbsp;&nbsp;  </span><span class="text-bold">{{ currentSelect }}</span></p>
        </div>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>{{"userCensoratEnreg.Matricule" | translate}}</th>
        <th>{{"userCensoratEnreg.Noms_et_prénoms" | translate}}</th>
        <th>{{"userCensoratEnreg.Date_pénalité" | translate}}</th>
        <th>{{"userCensoratEnreg.Réalisation" | translate}}</th>
        <th>{{"userCensoratEnreg.Réalisé" | translate}}</th>
        <th>{{"userCensoratEnreg.Options" | translate}}</th>
      </tr>
      </thead>
      <tbody *ngIf="sanctions && sanctions.length > 0">
      <tr *ngFor="let sanction of sanctions | paginate: {totalItems: totalElements, currentPage: page + 1,
       itemsPerPage: pageSize, id: 'list_sanction' }; let i = index">
        <th scope="row">{{ i+1 }}</th>
        <td>{{ sanction.eleve.matricule }}</td>
        <td>
          {{ sanction.eleve.nomEleve }}
          {{ sanction.eleve.prenomEleve | slice: 0: 15 }}
          {{ sanction.eleve.prenomEleve.length > 15 ? '...': '' }}
        </td>
        <td>
          <span class="p-0 m-0 text-dribble">{{ sanction.date_penalite | date }}</span>
        </td>
        <td>
          <span class="p-0 m-0 text-facebook">{{ sanction.date_debut_penalite | date }}</span> -
          <span class="p-0 m-0 text-dribble">{{ sanction.date_fin_penalite | date }}</span>
        </td>
        <td>{{ sanction.realisation_sanction == true ? 'Oui' : 'Non' }}</td>
        <td class="p-1">
          <div [ngClass]="'icon-btn p-0 m-0'" class="btn-group pos-absolute" >
            <div class="d-inline-block btn-group dropleft" role="group" ngbDropdown #myDrop="ngbDropdown" display="static">
              <button class="btn btn-outline-info btn-sm mr-2" id="dropdownManual" ngbDropdownToggle>
                {{"userCensoratEnreg.Actions" | translate}}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownManual" >
                <button ngbDropdownItem class="btn-default btn-sm mr-3" (click)="onDetailsSanction(sanction, sanctionEleve)"
                        title="{{'userCensoratEnreg.Afficher_le_détail_de_la_sanction' | translate}}">
                  <em class="icofont icofont-envelope-open mr-2"></em>
                  {{"userCensoratEnreg.Détails_de_la_sanction" | translate}}</button>
                <button ngbDropdownItem class="btn-default btn-sm mr-3" (click)="onMakeRealiser(sanction)"
                        [disabled]="!authService.canEditData(sanction.anneeAcademique)"
                        [title]="sanction.realisation_sanction == true ? titleValue1 : titleValue2">
                  <em class="icofont icofont-warning-alt mr-2"></em>{{ sanction.realisation_sanction == true ? 'Réaliser' : 'Non réaliser' }}</button>
                <button ngbDropdownItem class="btn-default btn-sm mr-3" (click)="onModifierSanction(sanction, modifSanctionEleve)"
                        [disabled]="!authService.canEditData(sanction.anneeAcademique)"
                        title="{{'userCensoratEnreg.Modifier_la_sanction' | translate}}">
                  <em class="icofont icofont-pencil-alt-4 mr-2"></em>
                  {{"userCensoratEnreg.Modifier_la_sanction" | translate}}</button>
                <button ngbDropdownItem class="btn-default btn-sm mr-3" (click)="onDeleteSanction(sanction)"
                        [disabled]="!authService.canEditData(sanction.anneeAcademique)"
                        title="{{'userCensoratEnreg.Supprimer_cette_sanction_du_système' | translate}}">
                  <em class="icofont icofont-trash mr-2"></em>{{"userCensoratEnreg.Supprimer_la_sanction" | translate}}</button>
              </div>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <pagination-controls style="text-align:center; vertical-align:middle;"
                         autoHide="true"
                         id="list_sanction"
                         [maxSize]="10"
                         (pageChange)="setPageChange($event)"></pagination-controls>
    <div class="row" *ngIf="sanctions">
      <div class="col-12 text-center h4" *ngIf="sanctions.length == 0">
        {{"userCensoratEnreg.Aucune_donnée_disponible" | translate}}</div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ng-template #sanctionEleve let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="sanction-eleve">
            {{"userCensoratEnreg.Détails_de_la_sanction" | translate}} {{ currentSanction?.eleve?.nomEleve + ' ' + currentSanction?.eleve?.prenomEleve }} </h4>
          <button type="button" class="close" aria-label="Close" (click)="onResetSanction()">
            <span aria-hidden="true" class="icofont icofont-close-line-squared text-danger"></span>
          </button>
        </div>
        <div class="modal-body pb-0">
          <p class="p-0 m-0 alert alert-light"><span class="text-bold">
            {{"userCensoratEnreg.Motif" | translate}} </span>{{ currentSanction?.motif_sanction }}</p>
          <p class="p-0 m-0 alert alert-light"><span class="text-bold">
            {{"userCensoratEnreg.Eleve" | translate}} </span>
            {{ currentSanction?.eleve?.matricule + ' ' +  currentSanction?.eleve?.nomEleve + ' ' + currentSanction?.eleve?.prenomEleve }}
            ({{ currentSanction?.eleve?.classe?.nomClasse }})
          </p>
          <div class="alert alert-light" role="alert">
            <p><span class="text-bold">
              {{"userCensoratEnreg.Pénalité" | translate}} </span> {{ currentSanction?.penalite }}</p>
            <p class="alert alert-light">
              {{"userCensoratEnreg.La_pénalité_a_eu_lieu_le" | translate}} <span class="p-0 m-0 text-facebook">{{ currentSanction?.date_penalite | date: 'medium' }}</span>
              {{"userCensoratEnreg.et_l_exécution_a_pris_son_court_a_partir_du" | translate}}  <span class="p-0 m-0 text-facebook">{{ currentSanction?.date_debut_penalite | date: 'medium' }}</span>
              {{"userCensoratEnreg.et_a_pris_fin_le" | translate}} <span class="p-0 m-0 text-facebook">{{ currentSanction?.date_fin_penalite | date: 'medium' }}.</span>
              {{ currentSanction.realisation_sanction == true ? ' La sanction est déja réalisée' : 'La sanction n\'est pas encore réalisée' }}
            </p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger btn-sm mr-2" (click)="onResetSanction()">
            {{"userCensoratEnreg.Fermer" | translate}}</button>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ng-template #modalSelectObject let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="select-objet">
            {{"userCensoratEnreg.Affichage_des_sanctions" | translate}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="onResetSelectObjet()">
            <span aria-hidden="true" class="icofont icofont-close-line-squared-alt text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="selectObjectForm">
            <ng-container *ngIf="objectSelect">
              <div class="form-group">
                <label for="cle">{{ currentSwitch }}</label>
                <select formControlName="cle" class="custom-select form-control" id="cle" *ngIf="currentSwitch != 'Matricule'"
                        [ngClass]="{'is-invalid': submitted && f.cle.errors }">
                  <option value="">--- {{"userCensoratEnreg.Sélectionner" | translate}} {{ currentSwitch | lowercase }} ---</option>
                  <option *ngFor="let element of objectSelect" [value]="element.cle">{{ element.valeur }}</option>
                </select>
                <input class="form-control" type="text"  formControlName="cle" *ngIf="currentSwitch == 'Matricule'"
                       [ngClass]="{'is-invalid': submitted && f.cle.errors }">
                <div *ngIf="submitted && f.cle.errors" class="invalid-feedback">
                  <div *ngIf="f.cle.errors.required">
                    {{"userCensoratEnreg.Le_choix_de" | translate}} {{ currentSwitch | lowercase }}
                    {{"userCensoratEnreg.est_obligatoire" | translate}}</div>
                </div>
              </div>
            </ng-container>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-outline-danger btn-sm ml-2" (click)="onResetSelectObjet()"
          ><i class="icofont icofont-close-circled"></i>
            {{"userCensoratEnreg.Effacer" | translate}}&nbsp;&nbsp;</button>
          <button class="btn btn-primary btn-sm ml-2 mr-2" (click)="onDisplayListeSanction()"
          >{{"userCensoratEnreg.Valider" | translate}}&nbsp;&nbsp;<i class="icofont icofont-circled-right"></i></button>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ng-template #modifSanctionEleve let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modif-sanction-eleve">
            {{"userCensoratEnreg.Modification_de_la_sanction_sur_l_élève" | translate}} </h4>
          <button type="button" class="close" aria-label="Close" (click)="onResetSanction()">
            <span aria-hidden="true" class="icofont icofont-close-line-squared text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="sanctionForm">
            <div class="row">
              <div class="form-group col-6" *ngIf="authService.isVisible('liste-sequence')">
                <label for="sequence">{{"userCensoratEnreg.Séquence" | translate}}</label>
                <div class="input-group">
                  <select class="custom-select form-control" id="sequence" formControlName="sequence"
                          [attr.disabled]="authService.isEditable('liste-sequence') == true ? null : true"
                          [ngClass]="{'is-invalid': submitted && g.sequence.errors }">
                    <option value="">{{"userCensoratEnreg.Choisir_la_séquence" | translate}}</option>
                    <option *ngFor="let sequence of sequences" [value]="sequence.id">{{ sequence.nomSequence }}</option>
                  </select>
                  <div *ngIf="submitted && g.sequence.errors" class="invalid-feedback">
                    <div *ngIf="g.sequence.errors.required">
                      {{"userCensoratEnreg.La_sequence_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-6" *ngIf="authService.isVisible('champ-date-sanction')">
                <label for="datesanction">
                  {{"userCensoratEnreg.Date_de_la_sanction" | translate}}</label>
                <div class="input-group">
                  <input class="form-control" type="datetime-local" id="datesanction" formControlName="datesanction"
                         [readOnly]="!authService.isEditable('champ-date-sanction')"
                         [ngClass]="{'is-invalid': submitted && g.datesanction.errors }">
                  <div *ngIf="submitted && g.datesanction.errors" class="invalid-feedback">
                    <div *ngIf="g.datesanction.errors.required">
                      {{"userCensoratEnreg.La_date_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-6">
                <label for="penalite">
                  {{"userCensoratEnreg.Pénalité_à_l_issue_de_la_sanction" | translate}}</label>
                <div class="input-group">
                  <select class="custom-select form-control" id="penalite" formControlName="penalite"
                          [ngClass]="{'is-invalid': submitted && g.penalite.errors }">
                    <option value="">
                      {{"userCensoratEnreg.Choisir_le_type_de_pénalité" | translate}}</option>
                    <option *ngFor="let penalite of penalites" [value]="penalite.id">{{ penalite.libelle }}</option>
                  </select>
                  <div *ngIf="submitted && g.penalite.errors" class="invalid-feedback">
                    <div *ngIf="g.penalite.errors.required">
                      {{"userCensoratEnreg.La_pénalité_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-6">
                <label for="temoin">{{"userCensoratEnreg.Temoin_ou_victime_de_la_faute" | translate}}</label>
                <div class="input-group">
                  <input class="form-control" type="text" id="temoin" formControlName="temoin"
                         [ngClass]="{'is-invalid': submitted && g.temoin.errors }">
                  <div *ngIf="submitted && g.temoin.errors" class="invalid-feedback">
                    <div *ngIf="g.temoin.errors.required">
                      {{"userCensoratEnreg.Le_temoin_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-12" *ngIf="authService.isVisible('champ-motif-sanction')">
                <label for="motif">{{"userCensoratEnreg.Motif_de_la_sanction" | translate}}</label>
                <textarea class="form-control" formControlName="motif"  [ngClass]="{'is-invalid': submitted && g.motif.errors }"
                          [readOnly]="!authService.isEditable('champ-motif-sanction')"
                          id="motif" rows="3"></textarea>
                <div *ngIf="submitted && g.motif.errors" class="invalid-feedback">
                  <div *ngIf="g.motif.errors.required">
                    {{"userCensoratEnreg.Le_motif_de_la_bourse_est_obligatoire" | translate}}</div>
                </div>
              </div>
              <div class="form-group col-4" *ngIf="authService.isVisible('champ-date-debut-penalite')">
                <label for="debut">
                  {{"userCensoratEnreg.Début_de_la_pénalité" | translate}}</label>
                <div class="input-group">
                  <input type="datetime-local" id="debut" formControlName="debut" [ngClass]="{'is-invalid': submitted && g.debut.errors }"
                         [readOnly]="!authService.isEditable('champ-date-debut-penalite')"
                         class="form-control"
                         placeholder="{{'userCensoratEnreg.Début_de_la_sanction' | translate}}">
                  <div *ngIf="submitted && g.debut.errors" class="invalid-feedback">
                    <div *ngIf="g.debut.errors.required">
                      {{"userCensoratEnreg.Le_debut_de_la_sanction_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-4" *ngIf="authService.isVisible('champ-date-fin-penalite')">
                <label for="fin">{{"userCensoratEnreg.Fin_de_la_pénalité" | translate}}</label>
                <div class="input-group">
                  <input type="datetime-local" id="fin" formControlName="fin" [ngClass]="{'is-invalid': submitted && g.fin.errors }"
                         [readOnly]="!authService.isEditable('champ-date-fin-penalite')"
                         class="form-control"
                         placeholder="{{'userCensoratEnreg.Fin_de_la_sanction' | translate}}">
                  <div *ngIf="submitted && g.fin.errors" class="invalid-feedback">
                    <div *ngIf="g.fin.errors.required">
                      {{"userCensoratEnreg.La_fin_de_la_sanction_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-4">
                <label for="sequence">{{"userCensoratEnreg.Etat_de_réalisation" | translate}}</label>
                <div class="input-group">
                  <select class="custom-select form-control" id="realisation" formControlName="realisation"
                          [ngClass]="{'is-invalid': submitted && g.realisation.errors }">
                    <option value="false">{{"userCensoratEnreg.Non" | translate}}</option>
                    <option value="true">{{"userCensoratEnreg.Oui" | translate}}</option>
                  </select>
                  <div *ngIf="submitted && g.realisation.errors" class="invalid-feedback">
                    <div *ngIf="g.realisation.errors.required">
                      {{"userCensoratEnreg.Le_choix_de_realisation_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger btn-sm mr-2"
                  [disabled]="!authService.isActif('bouton-annuler-sanction')"
                  *ngIf="authService.isVisible('bouton-annuler-sanction')"
                  (click)="onResetSanction()">{{"userCensoratEnreg.Annuler" | translate}}</button>
          <button type="button"
                  [disabled]="!authService.isActif('bouton-enregister-sanction')"
                  *ngIf="authService.isVisible('bouton-enregister-sanction')"
                  (click)="onSaveSanction()" class="btn btn-primary btn-sm">
            {{"userCensoratEnreg.Modifier" | translate}}</button>
        </div>
      </ng-template>
    </div>
  </div>
</app-card>
