<!-- List mode reglement card start -->
<app-card [title]="'userAdminConfNum.Les_parametrages_des_modes_de_reglement_de_l_établissement'" [classHeader]="true" [blockClass]="'table-border-style'">
  <div class="card-actions-bar" *ngIf="authService.isVisible('bouton-ajouter-mode-reglement')">
    <button class="btn btn-primary btn-sm" [disabled]="!authService.isActif('bouton-ajouter-mode-reglement')" (click)="open(content)">
      <i class="icofont icofont-check-circled"></i>
      {{"userAdminFinancesListMode.Ajouter_mode_reglement" | translate}}</button>
  </div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>{{"userAdminFinancesListMode.Libelle" | translate}}</th>
        <th>{{"userAdminFinancesListMode.Description" | translate}}</th>
        <th>{{"userAdminFinancesListMode.Options" | translate}}</th>
      </tr>
      </thead>
      <tbody *ngIf="modeReglements">
      <tr *ngFor="let modeReglement of modeReglements; let i = index">
        <th scope="row">{{ i+1 }}</th>
        <td>{{ modeReglement.libelle }}</td>
        <td>{{ modeReglement.description | slice: 0: 30 }} {{ modeReglement.description.length > 30 ? '...': '' }}</td>
        <td class="p-1">
          <div [ngClass]="'icon-btn p-0 m-0'">
            <button class="btn btn-warning btn-icon mr-2" [disabled]="!authService.isActif('bouton-modifier-mode-reglement')"
                    (click)="onLoadDetailsModeReglement(modeReglement, content)">
              <em class="icofont icofont-pen-alt-1"></em></button>
            <button class="btn btn-success btn-icon mr-2" [disabled]="!authService.isActif('bouton-visualiser-mode-reglement')"
                    (click)="onLoadDetailsModeReglement(modeReglement, content)">
              <em class="icofont icofont-eye-alt"></em></button>
            <button class="btn btn-danger btn-icon mr-2"
                    [disabled]="!authService.isActif('bouton-supprimer-mode-reglement')"
                    (click)="onDeleteModeReglement(modeReglement.id)">
              <em class="icofont icofont-ui-delete"></em></button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-12">
      <ng-template #content let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="add-mode-reglement">
            {{"userAdminFinancesListMode.Nouveau_mode_de_reglement" | translate}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true" class="icofont icofont-close-line-squared text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="modeReglementForm">
            <div class="form-group" *ngIf="authService.isVisible('champ-libelle-mode-reglement')">
              <label for="libelle">
                {{"userAdminFinancesListMode.Libelle" | translate}}</label>
              <div class="input-group">
                <input type="text" id="libelle" formControlName="libelle" [ngClass]="{'is-invalid': submitted && f.libelle.errors }"
                       class="form-control"
                       placeholder="{{'userAdminFinancesListMode.Libelle_du_mode_de_reglement' | translate}}"
                [readOnly]="!authService.isEditable('champ-libelle-mode-reglement')">
                <div *ngIf="submitted && f.libelle.errors" class="invalid-feedback">
                  <div *ngIf="f.libelle.errors.required">
                    {{"userAdminFinancesListMode.Le_nom_du_mode_de_reglement_est_obligatoire" | translate}}</div>
                </div>
              </div>
            </div>
            <div class="alert alert-danger form-group" role="alert" *ngIf="errorResponse">{{ errorResponse }}</div>
            <div class="form-group" *ngIf="authService.isVisible('champ-description-mode-reglement')">
              <label for="description">
                {{"userAdminFinancesListMode.Description_du_mode_de_reglement" | translate}}</label>
              <textarea class="form-control" formControlName="description" id="description" rows="3"
              [readOnly]="!authService.isEditable('champ-description-mode-reglement')"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" [disabled]="!authService.isActif('bouton-annuler')"
                  class="btn btn-outline-danger btn-sm mr-2" (click)="onReset()">
            {{"userAdminFinancesListMode.Annuler" | translate}}</button>
          <button type="button" [disabled]="!authService.isActif('bouton-enregistrer')"
                  (click)="onSaveModeReglement()" class="btn btn-primary btn-sm">
            {{"userAdminFinancesListMode.Enregistrer" | translate}}</button>
        </div>
      </ng-template>
    </div>
  </div>
</app-card>
<!-- List mode reglement card end -->

