<div class="row">
  <div class="col-6 video-container pr-0 mr-0" *ngIf="!error">
    <video [class.show]="!isCaptured" [class.hide]="isCaptured" #video id="video" [width]="WIDTH" [height]="HEIGHT"
           autoplay></video>
    <canvas [class.show]="isCaptured" [class.hide]="!isCaptured" #canvas id="canvas" [width]="WIDTH"
            [height]="HEIGHT"></canvas>
  </div>
  <div class="col-md-6">
    <ul class="list-unstyled">
      <li *ngFor="let src of captures; let idx = index" (click)="setPhoto(idx)">
        <img [src]="src" height="80" />
      </li>
    </ul>
  </div>
  <div class="col-md-12 snap-container text-left">
    <button class="btn btn-sm mr-3 p-1 btn-primary" *ngIf="!isCaptured" (click)="capture()">Filmer</button>
    <button class="btn btn-sm mr-3 p-1 btn-danger" *ngIf="isCaptured" (click)="removeCurrent()">Filmer encore</button>
    <button class="btn btn-sm mr-3 p-1 btn-secondary" *ngIf="selectedFile" (click)="uploadPhotoEleve(matricule)">Enregistrer</button>
    <div *ngIf="error" class="text-danger mt-4">
      {{ error }}. Please click refresh
      <div class="mt-2">
        <img alt="image actualiser" src="https://trungk18.com/7e0976255739e721501803ee074f1f94/camera.gif" />
      </div>
    </div>
  </div>
</div>
