<app-card [title]="'userAdminNote.Quel_type_de_bulletins_voulez_vous_imprimer'">
  <div class="row">
    <!-- Statistics card start -->
    <div class="col-md-12 col-xl-4" *ngIf="authService.isVisible('bouton-bulletin-sequentiel')">
      <div class="card widget-statstic-card clickable" (click)="onSelectSequence(sequence)">
        <div class="card-header">
          <div class="card-header-left">
            <h5>{{"userEspaceValidVWelcome.Validation" | translate}}</h5>
            <p class="p-t-10 m-b-0 text-c-blue">
              {{"userEspaceValidVWelcome.Notes_d_évaluations" | translate}}</p>
          </div>
        </div>
        <div class="card-block">
          <i class="icofont icofont-calendar st-icon bg-c-blue"></i>
          <div class="text-left">
            <i class="icofont icofont-long-arrow-up f-30 text-c-green"></i>
            <span class="f-right">
              {{"userEspaceValidVWelcome.Evaluation" | translate}}</span>
          </div>
        </div>
      </div>
    </div>
    <!-- Statistics card end -->
    <!-- Statistics card start -->
    <div class="col-md-6 col-xl-4" *ngIf="authService.isVisible('bouton-bulletin-trimestriel')">
      <div class="card widget-statstic-card clickable" (click)="onSelectTrimestre(trimestre)">
        <div class="card-header">
          <div class="card-header-left">
            <h5>{{"userEspaceValidVWelcome.Validation" | translate}}</h5>
            <p class="p-t-10 m-b-0 text-c-pink">
              {{"userEspaceValidVWelcome.Notes_Trimestriels" | translate}}</p>
          </div>
        </div>
        <div class="card-block">
          <i class="icofont icofont-ui-calendar st-icon bg-c-pink txt-lite-color"></i>

          <div class="text-left">
            <i class="icofont icofont-long-arrow-up f-30 text-c-green"></i>
            <span class="f-right">
              {{"userEspaceValidVWelcome.Trimestriel" | translate}}</span>
          </div>
        </div>
      </div>
    </div>
    <!-- Statistics card end -->
    <!-- Statistics card start -->
    <div class="col-md-6 col-xl-4" *ngIf="authService.isVisible('bouton-bulletin-annuel')">
      <div class="card widget-statstic-card clickable" (click)="onSelectAnnuel(annuel)">
        <div class="card-header">
          <div class="card-header-left">
            <h5>{{"userEspaceValidVWelcome.Validation" | translate}}</h5>
            <p class="p-t-10 m-b-0 text-c-yellow">
              {{"userEspaceValidVWelcome.Notes_Annuels" | translate}}</p>
          </div>
        </div>
        <div class="card-block">
          <i class="icofont icofont-certificate st-icon bg-c-lite-green"></i>
          <div class="text-left">
            <i class="icofont icofont-long-arrow-up f-30 text-c-green"></i>
            <span class="f-right">{{"userEspaceValidVWelcome.Annuel" | translate}}</span>
          </div>
        </div>
      </div>
    </div>
    <!-- Statistics card end -->
  </div>

  <div class="row">
    <div class="col-12">
      <ng-template #sequence let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-sequence">
            {{"userEspaceValidVWelcome.Validation_des_notes_d_évaluation" | translate}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="onResetBulletinSequentielle()">
            <span aria-hidden="true" class="icofont icofont-close-line-squared text-danger"></span>
          </button>
        </div>
        <div class="modal-body" *ngIf="filtreSequence">
          <form [formGroup]="bulletinSequentielForm">
            <div class="form-group" *ngIf="authService.isVisible('liste-sequence')">
              <label for="sequence" class="col-form-label">
                {{"userEspaceValidVWelcome.Choisir_évaluation" | translate}}</label>
              <select name="sequence" formControlName="sequence" class="form-control" id="sequence"
                      [attr.disabled]="authService.isEditable('liste-sequence') == true ? null : true"
                      [ngClass]="{'is-invalid': submitted && bs.sequence.errors }">
                <option value="">--- {{"userEspaceValidVWelcome.Sélectionner_une_séquence" | translate}} ---</option>
                <option *ngFor="let seq of filtreSequence.sequences" value="{{seq.id }}">{{ seq.nomSequence }}</option>
              </select>
              <div *ngIf="submitted && bs.sequence.errors" class="invalid-feedback">
                <div *ngIf="bs.sequence.errors.required">
                  {{"userEspaceValidVWelcome.La_sequence_est_obligatoire" | translate}}</div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" [disabled]="!authService.isActif('bouton-effacer-sequence')"
                  class="btn btn-outline-danger btn-sm mr-2" (click)="onResetBulletinSequentielle()">
            {{"userEspaceValidVWelcome.Annuler" | translate}}</button>
          <button type="button" [disabled]="!authService.isActif('bouton-suivant-sequence')"
                  (click)="onDisplayListBulletin('sequence')" class="btn btn-primary btn-sm">
            {{"userEspaceValidVWelcome.Suivant" | translate}} >></button>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="row" >
    <div class="col-12">
      <ng-template #trimestre let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-trimestre">
            {{"userEspaceValidVWelcome.Validation_des_notes_trimestriels" | translate}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="onResetBulletinTrimestre()">
            <span aria-hidden="true" class="icofont icofont-close-line-squared text-danger"></span>
          </button>
        </div>
        <div class="modal-body" *ngIf="filtreTrimestre">
          <form [formGroup]="bulletinTrimestreForm">
            <div class="form-group" *ngIf="authService.isVisible('liste-trimestre')">
              <label for="trimestre" class="col-form-label">
                {{"userEspaceValidVWelcome.Choisir_le_trimestre" | translate}}</label>
              <select name="trimestre" formControlName="trimestre" class="form-control" id="trimestre"
                      [ngClass]="{'is-invalid': submitted && bt.trimestre.errors }"
                      [attr.disabled]="authService.isEditable('liste-trimestre') == true ? null : true">
                <option value="">--- {{"userEspaceValidVWelcome.Sélectionner_un_trimestre" | translate}} ---</option>
                <option *ngFor="let trimestre of filtreTrimestre.trimestres" value="{{ trimestre.id_trimestre }}">
                  {{ trimestre.nom_trimestre }}
                </option>
              </select>
              <div *ngIf="submitted && bt.trimestre.errors" class="invalid-feedback">
                <div *ngIf="bt.trimestre.errors.required">
                  {{"userEspaceValidVWelcome.La_trimestre_est_obligatoire" | translate}}</div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" [disabled]="!authService.isActif('bouton-annuler-trimestre')"
                  class="btn btn-outline-danger btn-sm mr-2" (click)="onResetBulletinTrimestre()">
            {{"userEspaceValidVWelcome.Annuler" | translate}}</button>
          <button type="button" [disabled]="!authService.isActif('bouton-suivant-trimestre')"
                  (click)="onDisplayListBulletin('trimestre')" class="btn btn-primary btn-sm">
            {{"userEspaceValidVWelcome.Suivant" | translate}} >></button>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="row" >
    <div class="col-12">
      <ng-template #annuel let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-annuel">
            {{"userEspaceValidVWelcome.Validation_des_notes_annuel" | translate}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="onResetBulletinAnnuel()">
            <span aria-hidden="true" class="icofont icofont-close-line-squared text-danger"></span>
          </button>
        </div>
        <div class="modal-body" *ngIf="annees">
          <form [formGroup]="bulletinAnnuelForm">
            <div class="form-group">
              <label for="annee" class="col-form-label">
                {{"userEspaceValidVWelcome.Choisir_l_année" | translate}}</label>
              <select name="annee" formControlName="annee" class="form-control" id="annee"
                      [ngClass]="{'is-invalid': submitted && ba.annee.errors }">
                <option value="">--- {{"userEspaceValidVWelcome.Sélectionner_une_année" | translate}} ---</option>
                <option *ngFor="let annee of annees" value="{{ annee.id}}">{{ annee.codeAnnee + '/' + genericsService.incrementCodeAnnee(annee.codeAnnee) }}</option>
              </select>
              <div *ngIf="submitted && ba.annee.errors" class="invalid-feedback">
                <div *ngIf="ba.annee.errors.required">
                  {{"userEspaceValidVWelcome.Le_choix_de_l_année_est_obligatoire" | translate}}</div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger btn-sm mr-2" (click)="onResetBulletinAnnuel()">
            {{"userEspaceValidVWelcome.Annuler" | translate}}</button>
          <button type="button" (click)="onDisplayListBulletin('annuel')" class="btn btn-primary btn-sm">
            {{"userEspaceValidVWelcome.Suivant" | translate}} >></button>
        </div>
      </ng-template>
    </div>
  </div>
</app-card>
