<app-card [title]="'Institutions'">
  <div class="browser-card p-b-15" *ngIf="institutions">
    <div class="container-fluid clickable table-hover" *ngFor="let institution of institutions">
      <div class="row">
        <div class="col-1">
          <!--<img src="{{ institution.logoInstitution ? urlImage+institution.id+'/institution?ts='+getTS() : './assets/img/icone-dark.svg' }}" width="50" alt="logo institution">-->
          <ngx-avatar [src]="institution?.logoInstitution ? urlImage+institution.id+'/institution?ts='+getTS() : ''"
                      [name]="traiterLogoInstitution(institution?.nomInstitution)"></ngx-avatar>
        </div>
        <div class="col-md-7" *ngIf="authService.isVisible('bouton-ouvrir-institution')"
             [routerLink]="authService.isActif('bouton-ouvrir-institution') ? '/administration/configuration/institutions/list-etablissement/'+  institution.id : ''">
          <h4 class="m-0 text-c-blue">{{ institution.nomInstitution }}</h4>
          <p class="m-0">{{ institution.deviseInstitution }}</p>
        </div>
        <div class="col-md-4">
          <button class="btn bg-danger float-right btn-browser mr-2"
                  [disabled]="!authService.isActif('bouton-suppimer-institution')"
                  *ngIf="authService.isVisible('bouton-suppimer-institution')"><em class="icofont icofont-close-circled"></em></button>
          <button class="btn bg-warning float-right btn-browser mr-2"
                  title="{{'userAdminConfInstListInst.Modifier_les_attributs_de_l_institution' | translate}}"
                  [disabled]="!authService.isActif('bouton-editer-institution')"
                  *ngIf="authService.isVisible('bouton-editer-institution')"
                  routerLink="/administration/configuration/institutions/editer-institution/{{ institution.id }}"><em class="icofont icofont-pen-alt-1"></em></button>
          <button class="btn bg-c-blue float-right btn-browser mr-2"
                  [disabled]="!authService.isActif('bouton-ouvrir-institution')"
                  *ngIf="authService.isVisible('bouton-ouvrir-institution')"
                  routerLink="/administration/configuration/institutions/list-etablissement/{{ institution.id }}"><em class="icofont icofont-folder-open"></em></button>
        </div>
      </div>
      <div class="dropdown-divider"></div>
    </div>
  </div>
</app-card>
