<!-- List mode reglement card start -->
<app-card [title]="'userAdminConfNum.Liste_des_versements_pour_services_divers'" [classHeader]="true" [blockClass]="'table-border-style'">
  <div class="row" *ngIf="authService.isVisible('bouton-faites-versement')">
    <div class="col-12 row">
      <div class="col-12 col-xl-6 col-md-6">
        <div class="input-group ml-2" [formGroup]="reglementDiversForm">
          <input type="text" class="form-control" aria-label="Search in state" (keyup)="onChangeValueSearch($event)"
                 placeholder="{{'userFinancesReg.Search' | translate}}" formControlName="search" *ngIf="authService.isVisible('champ-recherche-reglement-divers')"
                 [readOnly]="!authService.isEditable('champ-recherche-reglement-divers')">
          <div class="input-group-append" *ngIf="authService.isVisible('bouton-recherche-reglement-divers')">
            <span class="input-group-text icofont icofont-search" (click)="onSearchReglDivers()"></span>
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-6 col-md-6 text-right pr-2">
        <button class="btn btn-primary btn-sm "
                [disabled]="!authService.isActif('bouton-faites-versement')" (click)="open(content)">
          <i class="icofont icofont-check-circled"></i>
          {{"userFinancesReg.Faites_un_versement" | translate}}</button>
      </div>
    </div>

  </div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>{{"userFinancesReg.Auteur" | translate}}</th>
        <th>{{"userFinancesReg.CNI" | translate}}</th>
        <th>{{"userFinancesReg.Recu" | translate}}</th>
        <th>{{"userFinancesReg.Montant" | translate}}</th>
        <th>{{"userFinancesReg.Motif" | translate}}</th>
        <th>{{"userFinancesReg.Options" | translate}}</th>
      </tr>
      </thead>
      <tbody *ngIf="reglements">
      <tr *ngFor="let reglement of reglements | paginate: {itemsPerPage: pageSize, currentPage: page + 1,
      totalItems : totalElements, id: idPaginate}; let i = index">
        <th scope="row">{{ i+1 }}</th>
        <td>{{ reglement.nomPartieVersante }}</td>
        <td>{{ reglement.numeroCni }}</td>
        <td>{{ reglement.numero }}</td>
        <td>{{ reglement.montant_rgl | currency: 'XAF' }} ({{ reglement.mode_reglement.libelle }})</td>
        <td>{{ reglement.motifReglement | slice: 0: 30 }} {{ reglement.motifReglement.length > 30 ? '...': '' }}</td>
        <td class="p-1">
          <div [ngClass]="'icon-btn p-0 m-0'">
            <button class="btn btn-success btn-icon mr-2" title="Afficher le detail du recu"
                    [disabled]="!authService.isActif('bouton-visualiser')"
                    (click)="onLoadDetailsReglement(reglement, content)"><em class="icofont icofont-eye-alt"></em></button>
            <button class="btn btn-warning btn-icon mr-2" title="Imprimer le recu"
                    [disabled]="!authService.isActif('bouton-detail')"
                    (click)="onImpressionRecu(reglement)"><em class="icofont icofont-printer"></em></button>
            <button class="btn btn-danger btn-icon" title="Supprimer le versement"
                    [disabled]="!authService.isActif('bouton-supprimer')"
                    *ngIf="authService.isVisible('bouton-supprimer')"
                    (click)="onDeleteVersement(reglement.id)"><em class="icofont icofont-delete-alt"></em></button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <pagination-controls style="text-align:center; vertical-align:middle;"
                         autoHide="true"
                         [maxSize]="10"
                         [id]="idPaginate"
                         (pageChange)="setPageChange($event)"></pagination-controls>
  </div>
  <div class="row">
    <div class="col-12">
      <ng-template #content let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="add-reglement-divers">
            {{"userFinancesReg.Reglement_pour_services_divers" | translate}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="onReset()">
            <span aria-hidden="true" class="icofont icofont-close-line-squared-alt text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="reglementDiversForm">
            <div class="row">
              <div class="form-group col-12" *ngIf="authService.isVisible('champ-nom-partie-versante')">
                <label for="nomPartieVersante">
                  {{"userFinancesReg.Nom_de_la_partie_versante" | translate}}</label>
                <div class="input-group">
                  <input type="text" id="nomPartieVersante" formControlName="nomPartieVersante"
                         [readOnly]="toUpdate || !authService.isEditable('champ-nom-partie-versante')"
                         [ngClass]="{'is-invalid': submitted && f.nomPartieVersante.errors }"
                         class="form-control"
                         placeholder="{{'userFinancesReg.Nom_de_la_partie_versante' | translate}}">
                  <div *ngIf="submitted && f.nomPartieVersante.errors" class="invalid-feedback">
                    <div *ngIf="f.nomPartieVersante.errors.required">
                      {{"userFinancesReg.Le_nom_de_la_partie_versante_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-6" *ngIf="authService.isVisible('champ-cni-partie-versante')">
                <label for="numeroCni">
                  {{"userFinancesReg.CNI_de_la_partie_versante" | translate}}</label>
                <div class="input-group">
                  <input type="text" id="numeroCni" formControlName="numeroCni"
                         [readOnly]="toUpdate || !authService.isEditable('champ-cni-partie-versante')"
                         [ngClass]="{'is-invalid': submitted && f.numeroCni.errors }"
                         class="form-control"
                         placeholder="{{'userFinancesReg.Numero_cni_de_la_partie_versante' | translate}}">
                  <div *ngIf="submitted && f.numeroCni.errors" class="invalid-feedback">
                    <div *ngIf="f.numeroCni.errors.required">
                      {{"userFinancesReg.Le_numero_de_la_cni_de_la_partie_versante_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-6" *ngIf="authService.isVisible('champ-montant-verse')">
                <label for="montant">{{"userFinancesReg.Montant_versé" | translate}}</label>
                <div class="input-group">
                  <input type="number" id="montant" formControlName="montant"
                         [readOnly]="toUpdate || !authService.isEditable('champ-montant-verse')"
                         [ngClass]="{'is-invalid': submitted && f.montant.errors }"
                         class="form-control"
                         placeholder="{{'userFinancesReg.Montant_versé' | translate}}">
                  <div *ngIf="submitted && f.montant.errors" class="invalid-feedback">
                    <div *ngIf="f.montant.errors.required">
                      {{"userFinancesReg.Le_montant_versé_est_obligatoire" | translate}}</div>
                    <div *ngIf="f.montant.errors.min">
                      {{"userFinancesReg.Le_montant_versé_doit_etre_superieur_a_100_f" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-12">
                <label for="motifReglement">
                  {{"userFinancesReg.Motif_de_versement" | translate}}</label>
                <textarea class="form-control" [readOnly]="toUpdate || !authService.isEditable('champ-motif-versement')"
                          formControlName="motifReglement" id="motifReglement" rows="3"></textarea>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" [disabled]="!authService.isActif('bouton-annuler')"
                  class="btn btn-outline-danger btn-sm mr-2" (click)="onReset()">
            {{"userFinancesReg.Annuler" | translate}}</button>
          <button type="button" [disabled]="toUpdate || validated" (click)="onSaveReglementDivers()" class="btn btn-sm btn-primary">
            <span *ngIf="validated" class="spinner-border spinner-border-sm mr-1" role="status" aria-hidden="true"></span>
            {{"userFinancesReg.Enregistrer" | translate}}</button>
        </div>
      </ng-template>
    </div>
  </div>
</app-card>
<!-- List mode reglement card end -->

