<div class="pcoded"
     [attr.nav-type]="navType"
     [attr.theme-layout]="themeLayout"
     [attr.layout-type]="layoutType"
     [attr.vertical-placement]="verticalPlacement"
     [attr.vertical-layout]="verticalLayout"
     [attr.pcoded-device-type]="deviceType"
     [attr.vertical-nav-type]="verticalNavType"
     [attr.vertical-effect]="verticalEffect"
     [attr.vnavigation-view]="vNavigationView"
     (window:resize)="onResize($event)">
  <div class="pcoded-overlay-box"></div>
  <div class="pcoded-container navbar-wrapper">
    <nav class="navbar header-navbar pcoded-header" [attr.pcoded-header-position]="pcodedHeaderPosition" [attr.header-theme]="headerTheme">
      <div class="navbar-wrapper">
        <div class="navbar-logo" [attr.logo-theme]="logoTheme">
          <a class="mobile-menu" id="mobile-collapse" href="javascript:;"
             (click)="toggleOpened()" [exclude]="'#main_navbar'" (clickOutside)="onClickedOutside($event)">
            <i class="ti-menu"></i>
          </a>
          <a [routerLink]="['/']">
            <!--<img class="img-fluid" style="width: 150px;height: 100px;"
                 src="./assets/img/logo-blanc.svg" alt="Theme-Logo"/>-->
            <img class="img-fluid" style="width: 150px;height: 100px;"
                 [src]="logo" alt="Theme-Logo"/>
          </a>
          <a (click)="onMobileMenu()" class="mobile-options">
            <i class="ti-more"></i>
          </a>
        </div>

        <div class="navbar-container">
          <div>
            <ul class="nav-left">
              <li>
                <div class="sidebar_toggle"><a href="javascript:;" (click)="toggleOpened()"><i class="ti-menu f-18"></i></a></div>
              </li>
              <li>
                <a href="javascript:;" appToggleFullScreen>
                  <i class="ti-fullscreen"></i>
                </a>
              </li>
              <li class="mega-menu-top">
                <!--                <a href="javascript:;">-->
                <!--                  Shortcuts-->
                <!--                  <i class="ti-angle-down"></i>-->
                <!--                </a>-->
                <ul class="show-notification row">
                  <li class="col-sm-3">
                    <h6 class="mega-menu-title">{{'titleAdm.text2' | translate}}</h6>
                    <ul class="mega-menu-links">
                      <li><a [routerLink]="['/forms/advance-elements']">{{'titleAdm.text3' | translate}}</a></li>
                      <li><a [routerLink]="['/basic/button']">{{'titleAdm.text4' | translate}}</a></li>
                      <li><a [routerLink]="['/map/google']">{{'titleAdm.text5' | translate}}</a></li>
                      <li><a [routerLink]="['/user/card']">{{'titleAdm.text6' | translate}}</a></li>
                      <li><a [routerLink]="['/user']">{{'titleAdm.text7' | translate}}</a></li>
                      <li><a [routerLink]="['/authentication/lock-screen']" target="_blank">{{'titleAdm.text8' | translate}}</a></li>
                    </ul>
                  </li>
                  <li class="col-sm-3">
                    <h6 class="mega-menu-title">{{'titleAdm.text9' | translate}}</h6>
                    <ul class="mega-mailbox">
                      <li>
                        <a href="javascript:;" class="media">
                          <div class="media-left">
                            <i class="ti-folder"></i>
                          </div>
                          <div class="media-body">
                            <h5>{{"titleAdm.Data_Backup" | translate}}</h5>
                            <small class="text-muted">{{'titleAdm.text10' | translate}}</small>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:;" class="media">
                          <div class="media-left">
                            <i class="ti-headphone-alt"></i>
                          </div>
                          <div class="media-body">
                            <h5>{{"titleAdm.Support" | translate}}</h5>
                            <small class="text-muted">{{'titleAdm.text11' | translate}}</small>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:;" class="media">
                          <div class="media-left">
                            <i class="ti-dropbox"></i>
                          </div>
                          <div class="media-body">
                            <h5>{{'titleAdm.text12' | translate}}</h5>
                            <small class="text-muted">{{'titleAdm.text13' | translate}}
                            </small>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:;" class="media">
                          <div class="media-left">
                            <i class="ti-location-pin"></i>
                          </div>
                          <div class="media-body">
                            <h5>{{'titleAdm.text14' | translate}}</h5>
                            <small class="text-muted">{{'titleAdm.text15' | translate}}</small>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="col-sm-3">
                    <h6 class="mega-menu-title">{{'titleAdm.text16' | translate}}</h6>
                    <div class="row m-b-20">
                      <div class="col-sm-4"><img class="img-fluid img-thumbnail" src="assets/images/mega-menu/01.jpg" alt="Gallery-1">
                      </div>
                      <div class="col-sm-4"><img class="img-fluid img-thumbnail" src="assets/images/mega-menu/02.jpg" alt="Gallery-2">
                      </div>
                      <div class="col-sm-4"><img class="img-fluid img-thumbnail" src="assets/images/mega-menu/01.jpg" alt="Gallery-3">
                      </div>
                    </div>
                    <div class="row m-b-20">
                      <div class="col-sm-4"><img class="img-fluid img-thumbnail" src="assets/images/mega-menu/02.jpg" alt="Gallery-4">
                      </div>
                      <div class="col-sm-4"><img class="img-fluid img-thumbnail" src="assets/images/mega-menu/01.jpg" alt="Gallery-5">
                      </div>
                      <div class="col-sm-4"><img class="img-fluid img-thumbnail" src="assets/images/mega-menu/02.jpg" alt="Gallery-6">
                      </div>
                    </div>
                    <button class="btn btn-primary btn-sm btn-block">{{'titleAdm.text17' | translate}}</button>
                  </li>
                  <li class="col-sm-3">
                    <h6 class="mega-menu-title">{{'titleAdm.text18' | translate}}</h6>
                    <div class="mega-menu-contact">
                      <div class="form-group row">
                        <label for="example-text-input" class="col-3 col-form-label">{{'titleAdm.text19' | translate}}</label>
                        <div class="col-9">
                          <input class="form-control" type="text"
                                 placeholder="{{'titleAdm.Artisanal_kale' | translate}}" id="example-text-input">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="example-search-input-email" class="col-3 col-form-label">{{'titleAdm.text20' | translate}}</label>
                        <div class="col-9">
                          <input class="form-control" type="email" placeholder="{{'titleAdm.Enter_your_E_mail_Id' | translate}}" id="example-search-input-email">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="example-search-input-content" class="col-3 col-form-label">{{'titleAdm.text21' | translate}}</label>
                        <div class="col-9">
                          <input class="form-control" type="number" lang="en" placeholder="+91-9898989898" id="example-search-input-content">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="exampleTextarea" class="col-3 col-form-label">{{'titleAdm.text22' | translate}}</label>
                        <div class="col-9">
                          <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
            <ul [@mobileMenuTop]="isCollapsedMobile" class="nav-right" [ngClass]="isCollapsedMobile">
              <li class="header-notification lng-dropdown">
                <a  data-lng="fr">
                  <img [src]="imgLange" alt=""> {{language}}
                </a>
                <ul class="show-notification">
                  <li>
                    <a (click)="changeLanguage('en')" class="clickable" data-lng="en">
                      <img src="assets/images/flags/ENGLISH.jpg" alt=""> {{"titleAdm.Anglais" | translate}}
                    </a>
                  </li>
                  <!--<li>
                    <a href="javascript:;" data-lng="es">
                      <img src="assets/images/flags/SPAIN.jpg" alt=""> Espagnol
                    </a>
                  </li>
                  <li>
                    <a href="javascript:;" data-lng="pt">
                      <img src="assets/images/flags/PORTO.jpg" alt=""> Portuguais
                    </a>
                  </li>-->
                  <li>
                    <a (click)="changeLanguage('fr')" data-lng="fr">
                      <img src="assets/images/flags/FRANCE.jpg" alt=""> {{"titleAdm.Francais" | translate}}
                    </a>
                  </li>
                </ul>
              </li>
              <li class="header-notification">
                <a href="javascript:;">
                  <i class="ti-bell"></i>
                  <span class="badge bg-c-pink"></span>
                </a>
                <ul class="show-notification">
                  <li>
                    <h6>{{ "titleAdm.keyNotification" | translate }}</h6>
                    <label class="label label-danger">{{'titleAdm.keyNew' | translate}}</label>
                  </li>
                  <!--<li>
                    <div class="media">
                      <img class="d-flex align-self-center img-radius" src="assets/images/avatar-2.jpg" alt="Generic placeholder image">
                      <div class="media-body">
                        <h5 class="notification-user">{{ currentUser.displayName }}</h5>
                        <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                        <span class="notification-time">30 minutes ago</span>
                      </div>
                    </div>
                  </li>-->
                </ul>
              </li>
              <li class="header-notification">
                <a href="javascript:;" (click)="toggleChat()" class="displayChatbox">
                  <i class="ti-comments"></i>
                  <span class="badge bg-c-green"></span>
                </a>
              </li>
              <li class="user-profile header-notification">
                <a [routerLink]="['/']">
                  <img src="assets/images/icons8-school-director-96.png" class="img-radius" alt="User-Profile-Image">
                  <span>{{ currentUser.displayName }}</span><i class="ti-angle-down"></i>
                </a>
                <ul class="show-notification profile-notification">
                  <li>
                    <a [routerLink]="['/administration/welcome']"><i class="ti-settings"></i>  {{'titleAdm.KeySettings' | translate}}</a>
                  </li>
                  <li>
                    <a [routerLink]="['/user']"><i class="ti-user"></i>  {{'titleAdm.KeyProfile' | translate}}</a>
                  </li>
                  <li>
                    <a (click)="logout()" class="clickable"><i class="ti-layout-sidebar-left"></i> {{'titleAdm.KeyLogout' | translate}}</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <!-- rightbar chat start -->
    <div [@slideInOut]="verticalPlacement === 'right' ? chatToggleInverse : chatToggle" id="sidebar" class="users p-chat-user">
      <div class="had-container">
        <div class="card card_main p-fixed users-main">
          <div class="user-box">
            <div class="card-body">
              <div class="right-icon-control">
                <input class="form-control search-text" placeholder="{{'titleAdm.Search_Friend' | translate}}" id="search-friends" #searchFriends (keyup)="searchFriendList($event)">
                <div class="form-icon">
                  <i class="icofont icofont-search"></i>
                </div>
              </div>
            </div>
            <div class="main-friend-list scroll-window">
              <perfect-scrollbar [style.max-width]="'100%'" [config]="config">
                <!-- <div (click)="toggleChatInner()" class="media userlist-box" data-id="1" placement="left" ngbTooltip="Josephin Doe">
                   <a class="media-left" href="javascript:;">
                     <img class="media-object " src="assets/images/avatar-2.jpg" alt="Generic placeholder image">
                     <div class="live-status bg-success"></div>
                   </a>
                   <div class="media-body">
                     <div class="f-13 chat-header">Josephin Doe</div>
                   </div>
                 </div>
                 <div (click)="toggleChatInner()" class="media userlist-box" data-id="6" data-status="offline" data-username="Michael Scofield" placement="left" ngbTooltip="Michael Scofield">
                   <a class="media-left" href="javascript:;">
                     <img class="media-object " src="assets/images/avatar-2.jpg" alt="Generic placeholder image">
                     <div class="live-status bg-danger"></div>
                   </a>
                   <div class="media-body">
                     <div class="f-13 chat-header">Michael Scofield</div>
                   </div>
                 </div>-->
              </perfect-scrollbar>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div [@slideOnOff]="verticalPlacement === 'right' ? chatInnerToggleInverse : chatInnerToggle" class="card card_main showChat_inner">
      <div class="media chat-inner-header">
        <a class="back_chatBox" (click)="toggleChatInner()">
          <i class="icofont icofont-rounded-left"></i> {{"titleAdm.Josephin_Doe" | translate}}
        </a>
      </div>
      <perfect-scrollbar [style.max-width]="'100%'" [style.max-height]="'calc(100vh - 230px)'" [config]="config">
        <div class="media chat-messages">
          <a class="media-left photo-table" href="javascript:;">
            <img class="media-object  m-t-5" src="assets/images/avatar-1.jpg" alt="Generic placeholder image">
          </a>
          <div class="media-body chat-menu-content">
            <div class="">
              <p class="chat-cont">{{'titleAdm.text0' | translate}}</p>
              <p class="chat-time">{{'titleAdm.text1' | translate}}</p>
            </div>
          </div>
        </div>
        <div class="media chat-messages">
          <div class="media-body chat-menu-reply">
            <div class="">
              <p class="chat-cont">{{'titleAdm.text0' | translate}}</p>
              <p class="chat-time">{{'titleAdm.text1' | translate}}</p>
            </div>
          </div>
          <div class="media-right photo-table">
            <a href="javascript:;">
              <img class="media-object  m-t-5" src="assets/images/icons8-school-director-96.png" alt="Generic placeholder image">
            </a>
          </div>
        </div>
      </perfect-scrollbar>
      <div class="chat-reply-box p-b-20">
        <div class="right-icon-control">
          <input type="text" class="form-control search-text"
                 placeholder="{{'titleAdm.Share_Your_Thoughts' | translate}}">
          <div class="form-icon">
            <i class="icofont icofont-paper-plane"></i>
          </div>
        </div>
      </div>
    </div>
    <!-- right-bar inner chat end -->

    <div class="pcoded-main-container" [style.margin-top]="headerFixedMargin">
      <div class="pcoded-wrapper">
        <nav id="main_navbar" class=" pcoded-navbar"
             (clickOutside)="onClickedOutside($event)"
             [exclude]="'#mobile-collapse'"
             [attr.pcoded-header-position]="pcodedHeaderPosition"
             [attr.navbar-theme]="navBarTheme"
             [attr.active-item-theme]="activeItemTheme"
             sub-item-theme="theme2" active-item-style="style0"
             [attr.pcoded-navbar-position]="pcodedSidebarPosition">
          <div class="sidebar_toggle"><a href="javascript:;"><i class="icon-close icons"></i></a></div>
          <div class="pcoded-inner-navbar main-menu" appAccordion>
            <div class="">
              <div class="main-menu-header">
                <ngx-avatar [round]="false" [name]="genericsService.traiterDisplayName(currentUser.displayName)"></ngx-avatar>
                <div class="user-details">
                  <span>{{ currentUser.displayName }}</span>
                  <span id="more-details" (click)="toggleOpenedSidebar()">{{ currentUser.email }}<i class="ti-angle-down"></i></span>
                </div>
              </div>
              <div class="main-menu-content">
                <ul>
                  <li [@mobileMenuTop]="isCollapsedSideBar" class="more-details" [ngClass]="isCollapsedSideBar">
                    <a [routerLink]="['/user/profile']"><i class="ti-user"></i>{{'titleAdm.texProf' | translate}}</a>
                    <a [routerLink]="['/administration/welcome']"><i class="ti-settings"></i>{{'titleAdm.KeySettings' | translate}}</a>
                    <a (click)="logout()" class="clickable"><i class="ti-layout-sidebar-left"></i>{{'titleAdm.KeyLogout' | translate}}</a>
                  </li>
                </ul>
              </div>
            </div>
            <!--<div class="pcoded-search">
              <span class="searchbar-toggle">  </span>
              <div class="pcoded-search-box ">
                <input type="text" placeholder="Search">
                <span class="search-icon"><i class="ti-search" aria-hidden="true"></i></span>
              </div>
            </div>-->
            <perfect-scrollbar [style.max-width]="'100%'" [style.max-height]="'calc(100vh - 230px)'" [config]="config">
              <div *ngFor="let asideItems of menuItems.getAll(currentRole)" class="d-color">
                <div class="pcoded-navigatio-lavel" [attr.menu-title-theme]="menuTitleTheme">{{asideItems.label | translate}}</div>
                <ul class="pcoded-item pcoded-left-item" [attr.item-border]="itemBorder"
                    [attr.item-border-style]="itemBorderStyle"
                    [attr.subitem-border]="subItemBorder" *ngFor="let asideItem of asideItems.main" appAccordionLink group="{{asideItem.state}}">

                  <li [routerLinkActive]="['active']" *ngIf="asideItem.type === 'external'" appAccordionLink group="{{asideItem.state}}">
                    <a href="{{asideItem.external}}" target="{{asideItem.target ? '_blank' : '_self'}}" appAccordionToggle>
                      <span class="pcoded-micon"><i class="{{ asideItem.icon }}"></i><b>{{ asideItem.short_label }}</b></span>
                      <span class="pcoded-mtext">{{ asideItem.name | translate}}</span>
                      <span *ngFor="let asideBadge of asideItem.badge" class="pcoded-badge label label-{{ asideBadge.type }}">{{asideBadge.value}}</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>

                  <li [routerLinkActive]="['active']" *ngIf="asideItem.type === 'link'" appAccordionLink group="{{asideItem.state}}">
                    <a [routerLink]="['/', asideItem.main_state, asideItem.state]" target="{{asideItem.target ? '_blank' : '_self'}}"
                       appAccordionToggle *ngIf="asideItem.main_state; else mainContent">
                      <span class="pcoded-micon"><i class="{{ asideItem.icon }}"></i><b>{{ asideItem.short_label }}</b></span>
                      <span class="pcoded-mtext">{{ asideItem.name | translate}}</span>
                      <span *ngFor="let asideBadge of asideItem.badge" class="pcoded-badge label label-{{ asideBadge.type }}">{{asideBadge.value}}</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                    <ng-template #mainContent>
                      <a [routerLink]="['/', asideItem.state]" target="{{asideItem.target ? '_blank' : '_self'}}" appAccordionToggle>
                        <span class="pcoded-micon"><i class="{{ asideItem.icon }}"></i><b>{{ asideItem.short_label }}</b></span>
                        <span class="pcoded-mtext">{{ asideItem.name | translate}}</span>
                        <span *ngFor="let asideBadge of asideItem.badge" class="pcoded-badge label label-{{ asideBadge.type }}">{{asideBadge.value}}</span>
                        <span class="pcoded-mcaret"></span>
                      </a>
                    </ng-template>
                  </li>

                  <li [routerLinkActive]="['active']" *ngIf="asideItem.type === 'sub'" class="pcoded-hasmenu" [attr.dropdown-icon]="dropDownIcon"
                      [attr.subitem-icon]="subItemIcon" appAccordionLink group="{{asideItem.state}}">
                    <a [routerLinkActive]="['active']" href="javascript:;" appAccordionToggle>
                      <span class="pcoded-micon"><i class="{{ asideItem.icon }}"></i><b>{{ asideItem.short_label }}</b></span>
                      <span class="pcoded-mtext">{{ asideItem.name | translate}}</span>
                      <span *ngFor="let asideBadge of asideItem.badge" class="pcoded-badge label label-{{ asideBadge.type }}">{{asideBadge.value}}</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                    <ul class="pcoded-submenu">
                      <ng-template ngFor let-asideChildren [ngForOf]="asideItem.children">

                        <li [routerLinkActive]="['active']" *ngIf="asideChildren.type !== 'sub'">
                          <a [routerLink]="['/', asideItem.state, asideChildren.state]" target="{{asideChildren.target ? '_blank' : '_self'}}">
                            <span class="pcoded-micon"><i class="ti-widget"></i></span>
                            <span class="pcoded-mtext">{{ asideChildren.name | translate}} </span>
                            <!--                            <span class="pcoded-micon"><i class="{{ asideChildren.icon }}"></i><b>{{ asideChildren.short_label }}</b></span>-->
                            <!--                            <span class="pcoded-mtext">{{ asideChildren.name }}</span>-->
                            <span *ngFor="let asideChildrenBadge of asideChildren.badge" class="pcoded-badge label label-{{ asideChildrenBadge.type }}">
                              {{asideChildrenBadge.value}}</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li>

                        <li [routerLinkActive]="['active']" class="pcoded-hasmenu" [attr.dropdown-icon]="dropDownIcon"
                            [attr.subitem-icon]="subItemIcon" *ngIf="asideChildren.type === 'sub'" appAccordionLink group="sub-toggled">
                          <a href="javascript:;" appAccordionToggle>
                            <span class="pcoded-micon"><i class="{{ asideChildren.icon }}"></i></span>
                            <span class="pcoded-mtext">{{ asideChildren.name | translate}}</span>
                            <span *ngFor="let asideChildrenBadge of asideChildren.badge" class="pcoded-badge label label-{{ asideChildrenBadge.type }}">
                              {{asideChildrenBadge.value}}</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                          <ul class="pcoded-submenu">
                            <ng-template ngFor let-asideChildrenSub [ngForOf]="asideChildren.children">

                              <li [routerLinkActive]="['active']">
                                <a [routerLink]="['/', asideItem.state, asideChildren.state, asideChildrenSub.state]"
                                   target="{{asideChildrenSub.target ? '_blank' : '_self'}}">
                                  <span class="pcoded-micon"><i class="{{ asideChildren.icon }}"></i></span>
                                  <span class="pcoded-mtext">{{ asideChildrenSub.name | translate}}</span>
                                  <span *ngFor="let asideChildrenSubBadge of asideChildrenSub.badge" class="pcoded-badge label label-{{ asideChildrenSubBadge.type }}">
                                    {{asideChildrenSubBadge.value}}</span>
                                  <span class="pcoded-mcaret"></span>
                                </a>
                              </li>

                            </ng-template>
                          </ul>
                        </li>
                      </ng-template>
                    </ul>
                  </li>

                </ul>
              </div>
            </perfect-scrollbar>
          </div>
        </nav>
        <div class="pcoded-content">
          <div class="pcoded-inner-content">
            <div class="main-body">
              <div class="page-wrapper">
                <app-title></app-title>
                <app-breadcrumbs></app-breadcrumbs>
                <div class="page-body">
                  <router-outlet>
                    <app-spinner></app-spinner>
                  </router-outlet>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

