<app-card [title]="etat?.classe?.nomClasse">
  <div class="table-responsive">
    <table class="table table-hover" *ngIf="etat && sequences">
      <thead>
      <tr>
        <th>#</th>
        <th>{{"userAdminDiscClassesEtat.Matiere" | translate}}</th>
        <th>{{"userAdminDiscClassesEtat.Enseignant" | translate}}</th>
        <th *ngFor="let sequence of sequences">{{ sequence.nomSequence }}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let etatMatiere of etat.etatsMatieres; let i = index">
        <th scope="row">{{ '#' + (i+1)}}</th>
        <td>{{ etatMatiere.matiere.nom_matiere }}</td>
        <td>{{ etatMatiere.enseignant.nom_enseignant + ' ' + etatMatiere.enseignant.prenom_enseignant }}</td>
        <td *ngFor="let seq of etatMatiere.etatSequenceNoteDTOS">
          <span class="icofont" [ngClass]="seq.rempli == false ? 'icofont-close bg-danger' : 'icofont-check bg-success'"></span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</app-card>
