<div class="row">
  <div class="col-md-6 col-xl-3" *ngIf="authService.isVisible('bouton-nouvel-eleve')">
    <div class="card widget-card-1 clickable"
         [routerLink]="authService.isActif('bouton-nouvel-eleve') ? '/eleves/ajout-eleve' : ''" [routerLinkActive]="['active']">
      <div class="card-block-small">
        <i class="icofont icofont-student-alt bg-c-blue card1-icon"></i>
        <span class="text-c-blue f-w-600">
          {{"userEleveElWelcome.Nouvel_élève" | translate}}</span>
        <h3 class="text-center text-muted">
          <i class="text-c-green icofont icofont-eye-alt"></i>
        </h3>
        <div>
        <span class="f-left m-t-10 text-muted">
          <i class="text-c-blue f-16 icofont icofont-student m-r-10"></i>
          {{"userEleveElWelcome.Ajouter_nouvel_élève" | translate}}
        </span>
        </div>
      </div>
    </div>
  </div>
  <!-- card9 start -->
  <div class="col-md-6 col-xl-3" *ngIf="authService.isVisible('bouton-liste-eleve')">
    <div class="card widget-card-1 clickable"
         [routerLink]="authService.isActif('bouton-liste-eleve') ? '/eleves/liste-eleve' : ''">
      <div class="card-block-small">
        <i class="icofont icofont-graduate bg-amazon card1-icon"></i>
        <span class="text-c-orenge f-w-600">
          {{"userEleveElWelcome.Liste_eleve" | translate}}</span>
        <h3 class="text-center text-muted">
          <i class="text-c-green icofont icofont-eye-alt"></i>
        </h3>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-yellow f-16 icofont icofont-graduate-alt m-r-10"></i>
            {{"userEleveElWelcome.Liste_eleve" | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3" *ngIf="authService.isVisible('bouton-liste-inscription')">
    <div class="card widget-card-1 clickable"
         [routerLink]="authService.isActif('bouton-liste-inscription') ? '/eleves/liste-inscription' : ''">
      <div class="card-block-small">
        <i class="icofont icofont-credit-card bg-c-lite-green card1-icon"></i>
        <span class="text-c-orenge f-w-600">
          {{"userEleveElWelcome.Liste_Inscription" | translate}}</span>
        <h3 class="text-center text-muted">
          <i class="text-c-green icofont icofont-eye-alt"></i>
        </h3>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-yellow f-16 icofont icofont-credit-card m-r-10"></i>
            {{"userEleveElWelcome.Liste_Inscription" | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- card9 end -->
  <!-- card2 start -->
  <div class="col-md-6 col-xl-3" *ngIf="authService.isVisible('bouton-configuration')">
    <div class="card widget-card-1 clickable"
         [routerLink]="authService.isActif('bouton-configuration') ? '/administration/configuration/menu-config' : ''">
      <div class="card-block-small">
        <i class="icofont icofont-automation bg-instagram card1-icon"></i>
        <span class="text-c-pink f-w-600">
          {{"userEleveElWelcome.Configuration" | translate}}</span>
        <h3 class="text-center text-muted">
          <i class="text-c-green icofont icofont-eye-alt"></i>
        </h3>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-pink f-16 icofont icofont-tools-alt-1 m-r-10"></i>
            {{"userEleveElWelcome.Configuration" | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- card2 end -->
</div>
