<app-card [title]="eric + detailsSection?.nom_section">
  <div class="browser-card p-b-15" *ngIf="cycles">
    <div class="container-fluid clickable table-hover" *ngFor="let cycle of cycles">
      <div class="container bg-gray mb-2">
        <div class="row">
          <div class="col-md-8"
               *ngIf="authService.isVisible('bouton-ouvrir-cycle')"
               [routerLink]="authService.isActif('bouton-ouvrir-cycle') ? '/administration/configuration/institutions/list-niveau/'+ cycle.id : ''">
            <h5 class="m-0 text-c-blue">{{ cycle.nomCycle }}</h5>
          </div>
          <div class="col-md-4">
            <button class="btn bg-danger float-right btn-browser mr-2"
                    *ngIf="authService.isVisible('bouton-suppimer-cycle')"
                    [disabled]="!authService.isActif('bouton-suppimer-cycle')"
                    (click)="onDeleteCycle(cycle)"
            ><i class="icofont icofont-close-circled"></i></button>
            <button class="btn bg-warning float-right btn-browser mr-2"
                    *ngIf="authService.isVisible('bouton-editer-cycle')"
                    [disabled]="!authService.isActif('bouton-editer-cycle')"
                    (click)="onLoadDetailsCycle(cycle, content)"><i class="icofont icofont-pen-alt-1"></i></button>
            <button class="btn bg-c-blue float-right btn-browser mr-2"
                    *ngIf="authService.isVisible('bouton-ouvrir-cycle')"
                    [disabled]="!authService.isActif('bouton-ouvrir-cycle')"
                    routerLink="/administration/configuration/institutions/list-niveau/{{ cycle.id}}"><i class="icofont icofont-folder-open"></i></button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-right">
        <button class="btn btn-primary btn-sm ml-5 mr-4 m-1"
                title="{{'userAdminConfInstListCycle.Ajout_d_un_nouveau_cycle' | translate}}"
                *ngIf="authService.isVisible('bouton-ajouter-cycle')"
                [disabled]="!authService.isActif('bouton-ajouter-cycle')"
                (click)="openLoadFormAddCycle(content)">
          <i class="icofont icofont-plus-circle"></i>
          {{"userAdminConfInstListCycle.Ajouter_un_cycle" | translate}}</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ng-template #content let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="add-cycle">
            {{"userAdminConfInstListCycle.Ajouter_un_cycle" | translate}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true" class="icofont icofont-close-line-squared-alt text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formCycle" (ngSubmit)="onSaveCycle()">
            <div class="col-md-12 col-xl-12">
              <fieldset class="scheduler-border">
                <legend class="scheduler-border">
                  {{"userAdminConfInstListCycle.Information_Importantes" | translate}}</legend>
                <div class="row">
                  <div class="col-md-11 col-xl-11 mega-menu-contact">
                    <div class="form-group row" *ngIf="authService.isVisible('champ-nom-cycle')">
                      <label for="nom" class="col-form-label">
                        {{"userAdminConfInstListCycle.Nom_du_cycle" | translate}}</label>
                      <input class="form-control" type="text"
                             placeholder="{{'userAdminConfInstListCycle.Nom_du_cycle' | translate}}" id="nom"
                             [readOnly]="!authService.isEditable('champ-nom-cycle')"
                             formControlName="nom" [ngClass]="{'is-invalid': submitted && f.nom.errors }">
                      <div *ngIf="submitted && f.nom.errors" class="invalid-feedback">
                        <div *ngIf="f.nom.errors.required">
                          {{"userAdminConfInstListCycle.Le_nom_du_cycle_est_obligatoire" | translate}}</div>
                      </div>
                    </div>
                    <div class="form-group row" *ngIf="authService.isVisible('champ-numero-ordre-cycle')">
                      <label for="numOrdre" class="col-form-label">
                        {{"userAdminConfInstListCycle.Numéro_d_ordre" | translate}}</label>
                      <input class="form-control" type="number" lang="en"
                             placeholder="{{'userAdminConfInstListCycle.Numéro_d_ordre' | translate}}" id="numOrdre"
                             [readOnly]="!authService.isEditable('champ-numero-ordre-cycle')"
                             formControlName="numOrdre" [ngClass]="{'is-invalid': submitted && f.numOrdre.errors }">
                      <div *ngIf="submitted && f.numOrdre.errors" class="invalid-feedback">
                        <div *ngIf="f.numOrdre.errors.required">
                          {{"userAdminConfInstListCycle.Le_numero_d_ordre_du_cycle_est_obligatoire" | translate}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>
              <div class="text-right">
                <button class="btn btn-outline-danger btn-sm ml-4" type="reset"
                        *ngIf="authService.isVisible('bouton-effacer')"
                        [disabled]="!authService.isActif('bouton-effacer')" (click)="onResetCycle()">
                  <i class="icofont icofont-close-circled"></i>
                  {{"userAdminConfInstListCycle.Effacer" | translate}}
                </button>
                <button class="btn btn-primary btn-sm ml-5" type="submit"
                        *ngIf="authService.isVisible('bouton-enregistrer')"
                        [disabled]="!authService.isActif('bouton-enregistrer')"
                ><i class="icofont icofont-check-circled"></i>
                  {{"userAdminConfInstListCycle.Enregistrer" | translate}}</button>
              </div>
            </div>
          </form>
        </div>
      </ng-template>
    </div>
  </div>
</app-card>
