<app-card [title]="'userAdminConfInstListNiv.Liste_niveau_et_classes_du_cycle'">
  <div class="browser-card p-b-15" *ngIf="niveaux">
    <div class="container-fluid clickable table-hover" *ngFor="let niveau of niveaux">
      <div class="card">
        <div class="card-header bg-primary card-border-inverse p-1 pl-4">
          <h5 class="text-white">{{ niveau.nomNiveau }}</h5>
        </div>
        <div class="card-body p-1 pl-4 pr-4">
          <div class="row" *ngFor="let classe of niveau.classes">
            <div class="col-md-11">
              <div class="row bg-gray">
                <div class="col-md-8">
                  <h5 class="m-0 text-black-50">{{ classe.nomClasse }}</h5>
                </div>
                <div class="col-md-4 pt-1">
                  <button class="btn bg-danger float-right btn-browser mr-2"
                    *ngIf="authService.isVisible('bouton-effacer-classe')"
                    [disabled]="!authService.isActif('bouton-effacer-classe')"><i
                      class="icofont icofont-ui-delete"></i></button>
                  <button class="btn bg-warning float-right btn-browser mr-2"
                    *ngIf="authService.isVisible('bouton-editer-classe')"
                    [disabled]="!authService.isActif('bouton-editer-classe')"
                    (click)="onLoadDetailsClasse(niveau, classe, contentC)"><i
                      class="icofont icofont-edit-alt"></i></button>
                  <button class="btn bg-c-blue float-right btn-browser mr-2"
                    *ngIf="authService.isVisible('bouton-ouvrir-niveau')"
                    [disabled]="!authService.isActif('bouton-ouvrir-niveau')"><i
                      class="icofont icofont-ui-folder"></i></button>
                </div>
              </div>
              <div class="dropdown-divider"></div>
            </div>
          </div>
        </div>
        <div class="card-footer p-0 pb-1">
          <div class="col-md-8 pb-1">
            <button class="btn bg-danger float-right btn-browser mr-2"
              title="{{'userAdminConfInstListNiv.Supprimer_le_niveau' | translate}}"
              *ngIf="authService.isVisible('bouton-effacer-classe')"
              [disabled]="!authService.isActif('bouton-effacer-classe')"><i
                class="icofont icofont-ui-delete"></i></button>
            <button class="btn bg-success float-right btn-browser mr-2"
              title="{{'userAdminConfInstListNiv.Ajout_d_une_classe_à_ce_niveau' | translate}}"
              *ngIf="authService.isVisible('bouton-ouvrir-niveau')"
              [disabled]="!authService.isActif('bouton-ouvrir-niveau')"
              (click)="openLoadFormAddClasseToNiveau(niveau, contentC)">
              <i class="icofont icofont-plus"></i>
              {{"userAdminConfInstListNiv.Nouvelle_classe" | translate}}</button>
            <button class="btn bg-warning float-right btn-browser mr-2"
              title="{{'userAdminConfInstListNiv.Modifier_le_niveau' | translate}}"
              *ngIf="authService.isVisible('bouton-editer-niveau')"
              [disabled]="!authService.isActif('bouton-editer-niveau')"
              (click)="onLoadDetailsNiveaux(niveau, content)"><i class="icofont icofont-edit-alt"></i></button>
            <button class="btn bg-c-blue float-right btn-browser mr-2"
              title="{{'userAdminConfInstListNiv.Detail_sur_le_niveau' | translate}}"
              *ngIf="authService.isVisible('bouton-ouvrir-niveau')"
              [disabled]="!authService.isActif('bouton-ouvrir-niveau')"><i
                class="icofont icofont-ui-folder"></i></button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-right">
        <button class="btn btn-primary btn-sm ml-5 mr-4 m-1"
          title="{{'userAdminConfInstListNiv.Ajout_d_un_nouveau_niveau' | translate}}"
          *ngIf="authService.isVisible('bouton-ajouter-niveau')"
          [disabled]="!authService.isActif('bouton-ajouter-niveau')" (click)="openLoadFormAddNiveau(content)">
          <i class="icofont icofont-plus-circle"></i>
          {{"userAdminConfInstListNiv.Ajouter_un_niveau" | translate}}</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <ng-template #content let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="add-niveau">
            {{"userAdminConfInstListNiv.Ajouter_un_niveau_d_étude" | translate}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true" class="icofont icofont-close-line-squared text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formNiveau" (ngSubmit)="onSaveNiveau()">
            <div class="col-md-12 col-xl-12">
              <fieldset class="scheduler-border">
                <legend class="scheduler-border">
                  {{"userAdminConfInstListNiv.Information_Importantes" | translate}}</legend>
                <div class="row">
                  <div class="col-md-11 col-xl-11 mega-menu-contact">
                    <div class="form-group row" *ngIf="authService.isVisible('champ-nom-niveau')">
                      <label for="nom" class="col-form-label">
                        {{"userAdminConfInstListNiv.Nom_du_niveau" | translate}}</label>
                      <input class="form-control" type="text"
                        placeholder="{{'userAdminConfInstListNiv.Nom_du_niveau' | translate}}" id="nom"
                        [readOnly]="!authService.isEditable('champ-nom-niveau')" formControlName="nom"
                        [ngClass]="{'is-invalid': submitted && n.nom.errors }">
                      <div *ngIf="submitted && n.nom.errors" class="invalid-feedback">
                        <div *ngIf="n.nom.errors.required">
                          {{"userAdminConfInstListNiv.Le_nom_du_niveau_est_obligatoire" | translate}}</div>
                      </div>
                    </div>
                    <div class="form-group row" *ngIf="authService.isVisible('champ-numero-ordre-niveau')">
                      <label for="numOrdre" class="col-form-label">
                        {{"userAdminConfInstListNiv.Numéro_d_ordre" | translate}}</label>
                      <input class="form-control" type="number" lang="en"
                        placeholder="{{'userAdminConfInstListNiv.Numéro_d_ordre' | translate}}" id="numOrdre"
                        [readOnly]="!authService.isEditable('champ-numero-ordre-niveau')" formControlName="numOrdre"
                        [ngClass]="{'is-invalid': submitted && n.numOrdre.errors }">
                      <div *ngIf="submitted && n.numOrdre.errors" class="invalid-feedback">
                        <div *ngIf="n.numOrdre.errors.required">
                          {{"userAdminConfInstListNiv.Le_numero_d_ordre_du_niveau_est_obligatoire" | translate}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>
              <div class="row">
                <button class="btn btn-primary btn-sm ml-5 mr-4" type="submit"
                  *ngIf="authService.isVisible('bouton-enregistrer-niveau')"
                  [disabled]="!authService.isActif('bouton-enregistrer-niveau')"><i
                    class="icofont icofont-check-circled"></i> {{"userAdminConfInstListNiv.Enregistrer" | translate}}
                </button>
                <button class="btn btn-success btn-outline-success btn-sm ml-4" type="reset"
                  *ngIf="authService.isVisible('bouton-effacer-niveau')"
                  [disabled]="!authService.isActif('bouton-effacer-niveau')" (click)="onResetNiveau()"><i
                    class="icofont icofont-close-circled"></i> {{"userAdminConfInstListNiv.Effacer" | translate}}


                </button>
              </div>
            </div>
          </form>
        </div>
      </ng-template>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <ng-template #contentC let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="add-classe">
            {{"userAdminConfInstListNiv.Classe_pour_le_niveau" | translate}} <span *ngIf="currentNiveau">{{
              currentNiveau.nomNiveau }}</span></h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true" class="icofont icofont-close-line-squared text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formClasse" (ngSubmit)="onSaveClasse()">
            <div class="col-md-12 col-xl-12">
              <fieldset class="scheduler-border">
                <legend class="scheduler-border">
                  {{"userAdminConfInstListNiv.Information_Importantes" | translate}}</legend>
                <div class="row mega-menu-contact">
                  <div class="form-group col-sm-6" *ngIf="authService.isVisible('champ-nom-classe')">
                    <label for="nomClasse" class="col-form-label">
                      {{"userAdminConfInstListNiv.Nom_de_la_classe" | translate}}</label>
                    <input class="form-control" type="text"
                      placeholder="{{'userAdminConfInstListNiv.Nom_de_la_classe' | translate}}" id="nomClasse"
                      [readOnly]="!authService.isEditable('champ-nom-classe')" formControlName="nomClasse"
                      [ngClass]="{'is-invalid': submitted && cl.nomClasse.errors }">
                    <div *ngIf="submitted && cl.nomClasse.errors" class="invalid-feedback">
                      <div *ngIf="cl.nomClasse.errors.required">
                        {{"userAdminConfInstListNiv.Le_nom_de_la_classe_est_obligatoire" | translate}}</div>
                    </div>
                  </div>
                  <div class="form-group col-sm-6" *ngIf="authService.isVisible('champ-serie-classe')">
                    <label for="serieClasse" class="col-form-label">
                      {{"userAdminConfInstListNiv.Série_de_la_classe" | translate}}</label>
                    <input class="form-control" type="text"
                      placeholder="{{'userAdminConfInstListNiv.Nom_de_la_classe' | translate}}" id="serieClasse"
                      [readOnly]="!authService.isEditable('champ-serie-classe')" formControlName="serieClasse"
                      [ngClass]="{'is-invalid': submitted && cl.serieClasse.errors }">
                    <div *ngIf="submitted && cl.nomClasse.errors" class="invalid-feedback">
                      <div *ngIf="cl.nomClasse.errors.required">
                        {{"userAdminConfInstListNiv.La_serie_de_la_classe_est_obligatoire" | translate}}</div>
                    </div>
                  </div>
                  <div class="form-group col-sm-6" *ngIf="authService.isVisible('champ-option-classe')">
                    <label for="optionClasse" class="col-form-label">
                      {{"userAdminConfInstListNiv.Option_de_la_classe" | translate}}</label>
                    <input class="form-control" type="text"
                      placeholder="{{'userAdminConfInstListNiv.Option_de_la_classe' | translate}}" id="optionClasse"
                      [readOnly]="!authService.isEditable('champ-option-classe')" formControlName="optionClasse"
                      [ngClass]="{'is-invalid': submitted && cl.optionClasse.errors }">
                    <div *ngIf="submitted && cl.optionClasse.errors" class="invalid-feedback">
                      <div *ngIf="cl.optionClasse.errors.required">
                        {{"userAdminConfInstListNiv.L_option_de_la_classe_est_obligatoire" | translate}}</div>
                    </div>
                  </div>
                  <div class="form-group col-sm-6" *ngIf="authService.isVisible('champ-specialite-classe')">
                    <label for="specialiteClasse" class="col-form-label">
                      {{"userAdminConfInstListNiv.Spécialité_de_la_classe" | translate}}</label>
                    <input class="form-control" type="text"
                      placeholder="{{'userAdminConfInstListNiv.Spécialité_de_la_classe' | translate}}"
                      id="specialiteClasse" [readOnly]="!authService.isEditable('champ-specialite-classe')"
                      formControlName="specialiteClasse"
                      [ngClass]="{'is-invalid': submitted && cl.specialiteClasse.errors }">
                    <div *ngIf="submitted && cl.specialiteClasse.errors" class="invalid-feedback">
                      <div *ngIf="cl.specialiteClasse.errors.required">
                        {{"userAdminConfInstListNiv.La_spécialité_de_la_classe_est_obligatoire" | translate}}</div>
                    </div>
                  </div>
                  <div class="form-group col-12" *ngIf="enseignants && authService.isVisible('liste-enseignant')">
                    <label for="titulaire" class="col-form-label">
                      {{"userAdminConfInstListNiv.Enseignant_titulaire" | translate}}</label>
                    <select class="custom-select form-control" formControlName="titulaire" id="titulaire"
                      [attr.disabled]="authService.isEditable('liste-enseignant') == true ? null : true">
                      <option value="">
                        {{"userAdminConfInstListNiv.Choisir_un_enseignant" | translate}}</option>
                      <option *ngFor="let enseignant of enseignants" value="{{ enseignant.id_enseignant }}">
                        {{ enseignant.nom_enseignant}} {{ enseignant.prenom_enseignant }}
                      </option>
                    </select>
                  </div>
                </div>
              </fieldset>
              <div class="row">
                <button class="btn btn-primary btn-sm ml-5 mr-4" type="submit"
                  *ngIf="authService.isVisible('bouton-enregistrer-classe')"
                  [disabled]="!authService.isActif('bouton-enregistrer-classe')"><i
                    class="icofont icofont-check-circled"></i>
                  {{"userAdminConfInstListNiv.Enregistrer" | translate}}</button>
                <button class="btn btn-success btn-outline-success btn-sm ml-4" type="reset"
                  *ngIf="authService.isVisible('bouton-effacer-classe')"
                  [disabled]="!authService.isActif('bouton-effacer-classe')" (click)="onResetClasse()"><i
                    class="icofont icofont-close-circled"></i>
                  {{"userAdminConfInstListNiv.Effacer" | translate}}</button>
              </div>
            </div>
          </form>
        </div>
      </ng-template>
    </div>
  </div>
</app-card>
