<!-- List classe card start -->
<app-card [title]="'Les type de pénalite disponible'" [classHeader]="true" [blockClass]="'table-border-style'">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-xl-5">
      <div class="input-group">
        <input type="text" class="form-control" aria-label="Search in state">
        <div class="input-group-append">
          <span class="input-group-text icofont icofont-search clickable" (click)="onSearchPenalite()"></span>
        </div>
      </div>
    </div>
    <div class="col-xl-3">
      <button class="btn btn-primary btn-sm ml-1 mr-1 m-1" (click)="onOpenDetailPenalite(null, detailPenalite, true)"
      ><i class="icofont icofont-check-circled"></i>
        {{"userAdminConfPenalite.Ajouter_un_type_de_pénalité" | translate}}</button>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>{{"userAdminConfPenalite.Libelle" | translate}}</th>
        <th>{{"userAdminConfPenalite.Gravité" | translate}}</th>
        <th>{{"userAdminConfPenalite.Description" | translate}}</th>
        <th>{{"userAdminConfPenalite.Options" | translate}}</th>
      </tr>
      </thead>
      <tbody *ngIf="penalites">
      <tr *ngFor="let penalite of penalites | paginate: {totalItems: totalElements,
      currentPage: page + 1, itemsPerPage: pageSize, id: 'list_type_penalite'}; let i = index">
        <th scope="row">{{ i+1 }}</th>
        <td>{{ penalite.libelle }}</td>
        <td>{{ penalite.gravite }} </td>
        <td>{{ penalite.description }} </td>
        <td class="p-1">
          <div [ngClass]="'icon-btn p-0 m-0'">
            <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown" display="static">
              <button class="btn btn-outline-info btn-sm mr-2" id="dropdownManual" ngbDropdownToggle>
                {{"userAdminConfPenalite.Actions" | translate}}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownManual">
                <button ngbDropdownItem class="btn-default btn-sm mr-3"
                        (click)="onOpenDetailPenalite(penalite, detailPenalite, false)">
                  <em class="icofont icofont-open-eye mr-2"></em>
                  {{"userAdminConfPenalite.Détails" | translate}}</button>
                <button ngbDropdownItem class="btn-default btn-sm mr-3"
                        (click)="onOpenDetailPenalite(penalite, detailPenalite, true)">
                  <em class="icofont icofont-pencil-alt-5 mr-2"></em>
                  {{"userAdminConfPenalite.Modifier" | translate}}</button>
                <button ngbDropdownItem class="btn-default btn-sm mr-3"
                        (click)="onDeleteTypePenalite(penalite)">
                  <em class="icofont icofont-minus mr-2"></em>
                  {{"userAdminConfPenalite.Supprimer" | translate}}</button>
              </div>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <pagination-controls style="text-align:center; vertical-align:middle;"
                         autoHide="true"
                         id="list_type_penalite"
                         [maxSize]="10"
                         (pageChange)="setPageChange($event)"></pagination-controls>
    <div class="row" *ngIf="penalites">
      <div class="col-12 text-center h4" *ngIf="penalites.length == 0">
        {{"userAdminConfPenalite.Aucune_donnée_disponible" | translate}}</div>
    </div>
  </div>

  <div class="row" >
    <div class="col-12">
      <ng-template #detailPenalite let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="type-penalite">
            {{"userAdminConfPenalite.Type_de_pénalité" | translate}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="onResetTypePenalite()">
            <span aria-hidden="true" class="icofont icofont-close-line-squared text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="typePenaliteForm">
            <div class="row">
              <div class="form-group col-md-8 col-xl-8">
                <label for="libelle" class="col-form-label">
                  {{"userAdminConfPenalite.Libelle_de_la_pénalité" | translate}}</label>
                <div class="input-group">
                  <input id="libelle" class="form-control"  [ngClass]="{'is-invalid': submitted && f.libelle.errors }"
                         [readOnly]="!toUpdate" type="text"
                         placeholder="{{'userAdminConfPenalite.le_nom_du_type_de_pénalité' | translate}}" formControlName="libelle">
                </div>
                <div *ngIf="submitted && f.libelle.errors" class="invalid-feedback">
                  <div *ngIf="f.libelle.errors.required">
                    {{"userAdminConfPenalite.Le_choix_d_au_moins_un_niveau_est_obligatoire" | translate}}</div>
                </div>
              </div>
              <div class="form-group col-md-4 col-xl-4">
                <label for="gravite" class="col-form-label">
                  {{"userAdminConfPenalite.Gravité" | translate}}</label>
                <div class="input-group">
                  <input id="gravite" class="form-control"  [ngClass]="{'is-invalid': submitted && f.gravite.errors }"
                         [readOnly]="!toUpdate" type="number" lang="en"
                         placeholder="{{'userAdminConfPenalite.Gravité' | translate}}" formControlName="gravite">
                </div>
                <div *ngIf="submitted && f.gravite.errors" class="invalid-feedback">
                  <div *ngIf="f.gravite.errors.required">
                    {{"userAdminConfPenalite.La_gravite_est_obligatoire" | translate}}</div>
                </div>
              </div>
              <div class="form-group col-12">
                <label for="description">
                  {{"userAdminConfPenalite.Description_de_la_pénalité" | translate}}</label>
                <textarea class="form-control" formControlName="description" [readOnly]="!toUpdate"
                          [ngClass]="{'is-invalid': submitted && f.description.errors }"
                          id="description" rows="4"></textarea>
                <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                  <div *ngIf="f.description.errors.required">
                    {{"userAdminConfPenalite.La_description_de_la_pénalité_est_obligatoire" | translate}}</div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button"
                  class="btn btn-outline-danger btn-sm mr-2" (click)="onResetTypePenalite()">
            {{"userAdminConfPenalite.Annuler" | translate}}</button>
          <button type="button"
                  (click)="onSaveTypePenalite()" class="btn btn-primary btn-sm">
            {{"userAdminConfPenalite.Enregistrer" | translate}}</button>
        </div>
      </ng-template>
    </div>
  </div>
</app-card>
<!-- List classe card end -->

