<div class="row">
  <!-- card1 start -->
  <div class="col-md-6 col-xl-3" *ngIf="authService.isVisible('bouton-saisie-note')">
    <div class="card widget-card-1 clickable"
         (click)="onDisplayModalToNote(modalSelectNote)">
      <div class="card-block-small">
        <i class="icofont icofont-pen-alt-4 bg-instagram card1-icon"></i>
        <span class="text-c-pink f-w-600">
          {{"userEspaceWelcom.Notes" | translate}}</span>
        <h3 class="text-center text-muted">
          <i class="text-c-green icofont icofont-eye-alt"></i>
        </h3>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-pink f-16 icofont icofont-pen-alt-2 m-r-10"></i>
            {{"userEspaceWelcom.Gestion_de_notes" | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3" *ngIf="authService.isVisible('bouton-classe')">
    <div class="card widget-card-1 clickable"
         [routerLink]="authService.isActif('bouton-classe') ? '/gestion-notes/consulter-classes' : ''">
      <div class="card-block-small">
        <i class="icofont icofont-group-students bg-c-lite-green card1-icon"></i>
        <span class="text-c-blue f-w-600">
          {{"userEspaceWelcom.Classes" | translate}}</span>
        <h3 class="text-center text-muted">
          <i class="text-c-green icofont icofont-eye-alt"></i>
        </h3>
        <div>
        <span class="f-left m-t-10 text-muted">
          <i class="text-c-blue f-16 icofont icofont-group-students m-r-10"></i>
          {{"userEspaceWelcom.Consulter_mes_classes" | translate}}
        </span>
        </div>
      </div>
    </div>
  </div>
  <!-- card2 end -->
  <!-- card3 start -->
  <!--<div class="col-md-6 col-xl-3" *ngIf="authService.isVisible('bouton-modification-note')">
    <div class="card widget-card-1 clickable"
         [routerLink]="authService.isActif('bouton-modification-note') ? '/gestion-notes/modifier-notes' : ''">
      <div class="card-block-small">
        <i class="icofont icofont-pen-nib bg-c-green card1-icon"></i>
        <span class="text-c-green f-w-600">Note</span>
        <h1 class="text-center text-muted">
          <i class="text-c-green icofont icofont-eye-alt"></i>
        </h1>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-green f-16 icofont icofont-pen m-r-10"></i>Modification de note
          </span>
        </div>
      </div>
    </div>
  </div>-->
  <!-- card3 end -->
  <!-- card4 start -->
  <!--<div class="col-md-6 col-xl-3" *ngIf="authService.isVisible('bouton-consultation-note')">
    <div class="card widget-card-1 clickable"
         [routerLink]="authService.isActif('bouton-consultation-note') ? '/gestion-notes/consulter-notes' : ''">
      <div class="card-block-small">
        <i class="icofont icofont-certificate-alt-1 bg-c-lite-green card1-icon"></i>
        <span class="text-c-lite-green f-w-600">Notes</span>
        <h1 class="text-center text-muted">
          <i class="text-c-green icofont icofont-eye-alt"></i>
        </h1>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-yellow f-16 icofont icofont-certificate-alt-2 m-r-10"></i>Consultation de notes
          </span>
        </div>
      </div>
    </div>
  </div>-->
  <!-- card4 end -->
  <!-- card5 start -->
  <div class="col-md-6 col-xl-3" *ngIf="authService.isVisible('bouton-fiche')">
    <div class="card widget-card-1 clickable"
         [routerLink]="authService.isActif('bouton-fiche') ? '/gestion-notes/fiches-progression' : ''">
      <div class="card-block-small">
        <i class="icofont icofont-paper bg-c-green card1-icon"></i>
        <span class="text-c-orenge f-w-600">
          {{"userEspaceWelcom.Fiches" | translate}}</span>
        <h1 class="text-center text-muted">
          <i class="text-c-green icofont icofont-eye-alt"></i>
        </h1>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-yellow f-16 icofont icofont-paper-plane m-r-10"></i>
            {{"userEspaceWelcom.Fiches_de_progression" | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- card5 end -->
  <!-- card6 start -->
  <div class="col-md-6 col-xl-3" *ngIf="authService.isVisible('bouton-bulletin')">
    <div class="card widget-card-1 clickable"
         [routerLink]="authService.isActif('bouton-bulletin') ? '/gestion-notes/bulletins' : ''">
      <div class="card-block-small">
        <i class="icofont icofont-certificate-alt-2 bg-twiter card1-icon"></i>
        <span class="text-c-orenge f-w-600">
          {{"userEspaceWelcom.Bulletins" | translate}}</span>
        <h1 class="text-center text-muted">
          <i class="text-c-green icofont icofont-eye-alt"></i>
        </h1>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-yellow f-16 icofont icofont-certificate m-r-10"></i>
            {{"userEspaceWelcom.Mes_bulletins" | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- card6 end -->
  <!-- card6 start -->
  <div class="col-md-6 col-xl-3">
    <div class="card widget-card-1 clickable"
         [routerLink]="'/gestion-notes/releve-note'">
      <div class="card-block-small">
        <i class="icofont icofont-certificate-alt-1 bg-youtube card1-icon"></i>
        <span class="text-c-orenge f-w-600">
          {{"userEspaceWelcom.Rélevé_de_note" | translate}}</span>
        <h1 class="text-center text-muted">
          <i class="text-c-green icofont icofont-eye-alt"></i>
        </h1>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-yellow f-16 icofont icofont-certificate m-r-10"></i>
            {{"userEspaceWelcom.Rélevé_de_note" | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- card6 end -->
  <!-- card6 start -->
  <div class="col-md-6 col-xl-3">
    <div class="card widget-card-1 clickable"
         [routerLink]="'/gestion-notes/validation-notes'">
      <div class="card-block-small">
        <i class="icofont icofont-checked bg-success card1-icon"></i>
        <span class="text-c-orenge f-w-600">
          {{"userEspaceWelcom.Validation_note" | translate}}</span>
        <h1 class="text-center text-muted">
          <i class="text-c-green icofont icofont-eye-alt"></i>
        </h1>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-yellow f-16 icofont icofont-check-alt m-r-10"></i>
            {{"userEspaceWelcom.Validation_note" | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- card6 end -->
  <!-- card6 start -->
  <div class="col-md-6 col-xl-3" *ngIf="authService.isVisible('bouton-configuration')">
    <div class="card widget-card-1 clickable"
         [routerLink]="authService.isActif('bouton-configuration') ? '/administration/discipline/d-welcome' : ''">
      <div class="card-block-small">
        <i class="icofont icofont-automation bg-instagram card1-icon"></i>
        <span class="text-c-pink f-w-600">
          {{"userEspaceWelcom.Configuration" | translate}}</span>
        <h3 class="text-center text-muted">
          <i class="text-c-green icofont icofont-eye-alt"></i>
        </h3>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-pink f-16 icofont icofont-tools-alt-1 m-r-10"></i>
            {{"userEspaceWelcom.Configuration" | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- card6 end -->

  <!-- card7 start -->
<!--  <div class="col-md-6 col-xl-3" *ngIf="authService.isVisible('bouton-configuration')">-->
<!--    <div class="card widget-card-1 clickable"-->
<!--         (click)="isActif('/gestion-notes/notes', 'bouton-configuration')"-->
<!--         >-->
<!--      <div class="card-block-small">-->
<!--        <i class="icofont icofont-pen-alt-4 bg-instagram card1-icon"></i>-->
<!--        <span class="text-c-pink f-w-600">-->
<!--          {{"userEspaceWelcom.Notes" | translate}}</span>-->
<!--        <h3 class="text-center text-muted">-->
<!--          <i class="text-c-green icofont icofont-eye-alt"></i>-->
<!--        </h3>-->
<!--        <div>-->
<!--          <span class="f-left m-t-10 text-muted">-->
<!--            <i class="text-c-pink f-16 icofont icofont-pen-alt-2 m-r-10"></i>-->
<!--            {{"userEspaceWelcom.Gestion_de_notes" | translate}}-->
<!--          </span>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
  <!-- card7 end -->

  <div class="row">
    <div class="col-12">
      <ng-template #modalSelectNote let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="select-note">
            {{"userEspaceWelcom.Remplissage_des_notes" | translate}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="onReset()">
            <span aria-hidden="true" class="icofont icofont-close-line-squared-alt text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="selectNoteClasseForm">
            <ng-container *ngIf="filtreNote">
              <div class="form-group">
                <label for="sequence1">{{"userEspaceWelcom.Séquence" | translate}}</label>
                <select formControlName="sequence" class="custom-select form-control" id="sequence1"
                        [ngClass]="{'is-invalid': submitted && f.sequence.errors }">
                  <option value="">--- {{"userEspaceWelcom.Sélectionner_une_séquence" | translate}} ---</option>
                  <option *ngFor="let sequence of filtreNote.sequences" value="{{ sequence.id }}">{{ sequence.nomSequence }}</option>
                </select>
                <div *ngIf="submitted && f.sequence.errors" class="invalid-feedback">
                  <div *ngIf="f.sequence.errors.required">
                    {{"userEspaceWelcom.Le_choix_de_la_séquence_est_obligatoire" | translate}}</div>
                </div>
              </div>
              <div class="form-group">
                <label for="classe1">{{"userEspaceWelcom.Classe" | translate}}</label>
                <select formControlName="matiereclasse" class="custom-select form-control" id="classe1"
                        [ngClass]="{'is-invalid': submitted && f.matiereclasse.errors }">
                  <option value="">--- {{"userEspaceWelcom.Sélectionnez_une_de_vos_classes" | translate}} ---</option>
                  <option *ngFor="let classe of filtreNote.matiereClasses" value="{{ classe.matiereClasseId }}">
                    {{ classe.matiereClasseLabel }}
                  </option>
                </select>
                <div *ngIf="submitted && f.matiereclasse.errors" class="invalid-feedback">
                  <div *ngIf="f.matiereclasse.errors.required">
                    {{"userEspaceWelcom.Le_choix_de_la_classe_est_obligatoire" | translate}}</div>
                </div>
              </div>
            </ng-container>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-outline-warning btn-sm ml-2"
                  (click)="onReset()"><i class="icofont icofont-close-circled"></i>
            {{"userEspaceWelcom.Annuler" | translate}}&nbsp;&nbsp;</button>
          <button class="btn btn-primary btn-sm ml-5 mr-2"
                  (click)="onDisplayListeEleve()">
            {{"userEspaceWelcom.Suivant" | translate}} >>&nbsp;&nbsp;<i class="icofont icofont-circled-right"></i></button>

        </div>
      </ng-template>
    </div>
  </div>
</div>
