<!-- List classe card start -->
<app-card [title]="'userAdminDiscDWelcome.Les_classes_disponibles'" [classHeader]="true" [blockClass]="'table-border-style'">
  <div class="card b-l-danger business-info services mb-0">
    <div class="card-body p-1">

      <div class="row justify-content-center">
        <div class="col-8 text-left">
          <form [formGroup]="fgForm">

            <div class="col-12 input-group  ml-moin-1" >
              <input list="lstSearch" id="search" class="form-control"
                     placeholder="{{'userAdminDiscEnseigList.Search' | translate}}" formControlName="search">
              <datalist id="lstSearch" >
<!--                <option value="{{ lstC.id }}" *ngFor="let lstC of classes">{{ lstC.nomClasse   }} </option>-->
                <option value="{{ lstC.nomClasse   }}" *ngFor="let lstC of classes"></option>
              </datalist>
              <div class="input-group-append">
                  <span class="input-group-text icofont icofont-search clickable"
                  (click)="uploardList()"></span>
              </div>
            </div>
          </form>
        </div>
        <div class="col-4 text-right">
          <span>{{"userAdminDiscClassesListe.Filtrer_par" | translate}} : </span>
          <span>
          <div ngbDropdown class="d-inline-block" display="static">
            <button class="btn btn-outline-primary btn-sm" id="dropdownBasic1" ngbDropdownToggle>{{ currentSwitch | titlecase }}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem class="btn-sm" (click)="swicthTo('niveau')">
                {{"userAdminDiscClassesListe.Par_niveau" | translate}}</button>
              <button ngbDropdownItem class="btn-sm" (click)="swicthTo('nomClasse')">
                {{"userAdminDiscClassesListe.Par_nom_de_classe" | translate}}</button>
              <button ngbDropdownItem class="btn-sm" (click)="swicthTo('nomNiveau')">
                {{"userAdminDiscClassesListe.Par_nom_de_niveau" | translate}}</button>
            </div>
          </div>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>{{"userAdminDiscClassesListe.Nom_de_classe" | translate}}</th>
        <th>{{"userAdminDiscClassesListe.Professeur_titulaire" | translate}}</th>
        <th>{{"userAdminDiscClassesListe.Surveillant" | translate}}</th>
        <th>{{"userAdminDiscClassesListe.Options" | translate}}</th>
      </tr>
      </thead>
      <tbody *ngIf="classes">
      <tr *ngFor="let classe of classes | paginate: { id: 'listeDesClass22', itemsPerPage: pageSize, currentPage: page + 1,
      totalItems: totalElements}; let i = index">
        <th scope="row">{{ i+1 }}</th>
        <td>{{ classe.nomClasse }}</td>
        <td>{{ (classe?.titulaire?.nom_enseignant ? classe?.titulaire?.nom_enseignant : ' ') + ' '
        + (classe?.titulaire?.prenom_enseignant ? classe?.titulaire?.prenom_enseignant : '')  }} </td>
        <td>{{ classe?.surveillant?.displayName ? classe?.surveillant?.displayName : '' }}</td>
        <td class="p-1">
          <div [ngClass]="'icon-btn p-0 m-0'">
            <button class="btn btn-primary btn-icon mr-2"
                    title="{{'userAdminDiscClassesListe.Les_eleves_de_la_classe' | translate}}"
                    [disabled]="!authService.isActif('bouton-list-eleve-classes')"
                    *ngIf="authService.isVisible('bouton-list-eleve-classes')"
                    routerLink="/administration/discipline/classes/liste-eleves/{{ classe.id }}"><em class="icofont icofont-users"></em>
            </button>
            <button class="btn btn-warning btn-icon mr-2"
                    title="{{'userAdminDiscClassesListe.Nommer_un_titulaire_pour_cette_classe' | translate}}"
                    [disabled]="!authService.isActif('bouton-nommer-titulaire-classe')"
                    *ngIf="authService.isVisible('bouton-nommer-titulaire-classe')"
                    (click)="onNommerTitulaire(classe, nommerTitulaire)"><em class="icofont icofont-teacher"></em>
            </button>
            <button class="btn btn-inverse btn-icon mr-2"
                    title="{{'userAdminDiscClassesListe.Nommer_surveillant_pour_cette_classe' | translate}}"
                    [disabled]="!authService.isActif('bouton-nommer-surveillant-classe')"
                    *ngIf="authService.isVisible('bouton-nommer-surveillant-classe')"
                    (click)="onNommerSurveillant(classe, nommerSurveillant)"><em class="icofont icofont-police"></em>
            </button>
            <button class="btn btn-danger btn-icon mr-2"
                    title="{{'userAdminDiscClassesListe.Supprimer_cette_classe' | translate}}"
                    [disabled]="!authService.isActif('bouton-supprimer-classe')"
                    *ngIf="authService.isVisible('bouton-supprimer-classe')"
                    (click)="onSupprimerClasse(classe)"><em class="icofont icofont-ui-delete"></em>
            </button>
            <button class="btn btn-info btn-icon mr-2"
                    title="{{'userAdminDiscClassesListe.Afficher_l_etat_général_de_remplissage_de_la_classe' | translate}}"
                    [disabled]="!authService.isActif('bouton-etat-remplissage-classe')"
                    *ngIf="authService.isVisible('bouton-etat-remplissage-classe')"
                    routerLink="/administration/discipline/classes/etat-remplissage-classe/{{classe.id}}">
              <em class="icofont icofont-calendar"></em>
            </button>
            <button class="btn btn-dropbox btn-icon mr-2"
                    title="{{'userAdminDiscClassesListe.Les_matieres_de_la_classe' | translate}}"
                    [disabled]="!authService.isActif('bouton-list-eleve-classes')"
                    *ngIf="authService.isVisible('bouton-list-eleve-classes')"
                    routerLink="/administration/discipline/classes/liste-matieres/{{ classe.id }}"><em class="icofont icofont-learn"></em>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <pagination-controls style="text-align:center; vertical-align:middle;"
                         autoHide="true"
                         [maxSize]="10" id="listeDesClass22"
                         (pageChange)="setPageChange($event)"></pagination-controls>
    <div class="row" *ngIf="classes">
      <div class="col-12 text-center h4" *ngIf="classes.length == 0">
        {{"userAdminDiscClassesListe.Aucune_donnée_disponible" | translate}}</div>
    </div>
  </div>
  <div class="dropdown-divider"></div>
  <div class="row">
    <div class="col-12 text-right">
      <button class="btn btn-primary btn-sm ml-5 mr-4 m-1"
      ><em class="icofont icofont-printer mr-2"></em>
        {{"userAdminDiscClassesListe.Imprimer_les_classes" | translate}}</button>
    </div>
  </div>

  <div class="row" >
    <div class="col-12">
      <ng-template #nommerTitulaire let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header" *ngIf="currenClasse">
          <h4 class="modal-title" id="nommer-titulaire">
            {{"userAdminDiscClassesListe.Nomination_d_un_titulaire_pour_la_classe" | translate}} {{ currenClasse.nomClasse }}</h4>
          <button type="button" class="close" aria-label="Close" (click)="onResetNommerTitulaire()">
            <span aria-hidden="true" class="icofont icofont-close-line-squared text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="nommerTitulaireForm">
            <div class="row" *ngIf="enseignants && authService.isVisible('liste-enseignant')">
              <div class="form-group col-md-12 col-xl-12">
                <label for="enseignant" class="col-form-label">
                  {{"userAdminDiscClassesListe.Choisir_un_enseignant_pour_occuper_ce_poste" | translate}}</label>
                <select formControlName="enseignant" class="form-control" id="enseignant"
                        [attr.disabled]="authService.isEditable('liste-enseignant') == true ? null : true"
                        [ngClass]="{'is-invalid': submitted && nt.enseignant.errors }">
                  <option value="">--- {{"userAdminDiscClassesListe.Choisir" | translate}} ---</option>
                  <option *ngFor="let item of enseignants" value="{{ item.enseignant.id_enseignant }}">
                    {{ item.enseignant.nom_enseignant}} {{ item.enseignant.prenom_enseignant }}
                  </option>
                </select>
                <div *ngIf="submitted && nt.enseignant.errors" class="invalid-feedback">
                  <div *ngIf="nt.enseignant.errors.required">
                    {{"userAdminDiscClassesListe.Le_choix_de_l_enseignant_est_obligatoire" | translate}}</div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" [disabled]="!authService.isActif('bouton-annuler-titutlaire')"
                  class="btn btn-outline-danger btn-sm mr-2" (click)="onResetNommerTitulaire()">
            {{"userAdminDiscClassesListe.Annuler" | translate}}</button>
          <button type="button" [disabled]="!authService.isActif('bouton-valider-titulaire')"
                  (click)="onSaveNommerTitulaire()" class="btn btn-primary btn-sm">
            {{"userAdminDiscClassesListe.Valider" | translate}}</button>
        </div>
      </ng-template>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <ng-template #nommerSurveillant let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header" *ngIf="currenClasse">
          <h4 class="modal-title" id="nommer-surveillant">
            {{"userAdminDiscClassesListe.Nomination_d_un_surveillant_pour_la_classe" | translate}} {{ currenClasse.nomClasse }}</h4>
          <button type="button" class="close" aria-label="Close" (click)="onResetNommerSurveillant()">
            <span aria-hidden="true" class="icofont icofont-close-line-squared text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="nommerSurveillantForm">
            <div class="row" *ngIf="utilisateurs">
              <div class="form-group col-md-12 col-xl-12">
                <label for="user" class="col-form-label">
                  {{"userAdminDiscClassesListe.Choisir_un_utilisateur_pour_occuper_ce_poste" | translate}}</label>
                <select name="user" formControlName="user" class="form-control" id="user"
                        [ngClass]="{'is-invalid': submitted && ns.user.errors }">
                  <option value="">--- {{"userAdminDiscClassesListe.Choisir" | translate}} ---</option>
                  <option *ngFor="let user of utilisateurs" value="{{ user.id }}">{{ user.displayName}}</option>
                </select>
                <div *ngIf="submitted && ns.user.errors" class="invalid-feedback">
                  <div *ngIf="ns.user.errors.required">
                    {{"userAdminDiscClassesListe.Le_choix_de_l_utilisateur_est_obligatoire" | translate}}</div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" [disabled]="!authService.isActif('bouton-annuler-surveillant')"
                  class="btn btn-outline-danger btn-sm mr-2" (click)="onResetNommerSurveillant()">
            {{"userAdminDiscClassesListe.Annuler" | translate}}</button>
          <button type="button" [disabled]="!authService.isActif('bouton-valider-surveillant')"
                  (click)="onSaveNommerSurveillant()" class="btn btn-primary btn-sm">
            {{"userAdminDiscClassesListe.Valider" | translate}}</button>
        </div>
      </ng-template>
    </div>
  </div>
</app-card>
<!-- List classe card end -->

