<!-- Row start -->
<div class="row">
  <!-- Multiple Open Accordion start -->
  <div class="col-xl-6">
    <app-card [title]="'Bootstrap - All Close Accordion'" [blockClass]="'accordion-block'">
      <ngb-accordion [closeOthers]="true" #acc="ngbAccordion" class="ngb-accordion">
        <ngb-panel id="ngb-close-p1" title="Lorem Message 1">
          <ng-template ngbPanelContent>
            <p>
              {{"basicAccordion.Lorem_Ipsum_is_simply_dummy" | translate}} </p>
          </ng-template>
        </ngb-panel>
        <ngb-panel id="ngb-close-p2" title="Lorem Message 2">
          <ng-template ngbPanelContent>
            <p>
              {{"basicAccordion.Lorem_Ipsum_is_simply_dummy" | translate}}</p>
          </ng-template>
        </ngb-panel>
        <ngb-panel id="ngb-close-p3" title="Lorem Message 3">
          <ng-template ngbPanelContent>
            <p>
              {{"basicAccordion.Lorem_Ipsum_is_simply_dummy" | translate}}</p>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </app-card>
  </div>
  <!-- Multiple Open Accordion ends -->
  <!-- Single Open Accordion start -->
  <div class="col-xl-6">
    <app-card [title]="'Bootstrap - All Open Accordion'" [blockClass]="'accordion-block'">
      <ngb-accordion #acc="ngbAccordion" activeIds="ngb-open-p1" class="ngb-accordion">
        <ngb-panel id="ngb-open-p1" title="Lorem Message 1">
          <ng-template ngbPanelContent>
            <p>
              {{"basicAccordion.Lorem_Ipsum_is_simply_dummy" | translate}}</p>
          </ng-template>
        </ngb-panel>
        <ngb-panel id="ngb-open-p2" title="Lorem Message 2">
          <ng-template ngbPanelContent>
            <p>
              {{"basicAccordion.Lorem_Ipsum_is_simply_dummy" | translate}}</p>
          </ng-template>
        </ngb-panel>
        <ngb-panel id="ngb-open-p3" title="Lorem Message 3">
          <ng-template ngbPanelContent>
            <p>
              {{"basicAccordion.Lorem_Ipsum_is_simply_dummy" | translate}}</p>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </app-card>
  </div>
  <!-- Single Open Accordion ends -->
</div>
<!-- Row end -->
<div class="row">
  <div class="col-sm-12">
    <app-card [title]="'Bootstrap - Color Accordion'" [blockClass]="'accordion-block'">
      <ngb-accordion [closeOthers]="true" #acc="ngbAccordion" activeIds="ngb-color-p1" class="ngb-accordion color-accordion">
        <ngb-panel id="ngb-color-p1" title="Lorem Message 1">
          <ng-template ngbPanelContent>
            <p>
              {{"basicAccordion.Lorem_Ipsum_is_simply_dummy" | translate}}</p>
          </ng-template>
        </ngb-panel>
        <ngb-panel id="ngb-color-p2" title="Lorem Message 2">
          <ng-template ngbPanelContent>
            <p>
              {{"basicAccordion.Lorem_Ipsum_is_simply_dummy" | translate}}</p>
          </ng-template>
        </ngb-panel>
        <ngb-panel id="ngb-color-p3" title="Lorem Message 3">
          <ng-template ngbPanelContent>
            <p>
              {{"basicAccordion.Lorem_Ipsum_is_simply_dummy" | translate}}</p>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </app-card>
  </div>
</div>
