<app-card [icone]="''" [title]="'Saisie des notes séquentielles'">
  <div class="card b-l-danger business-info services">
    <div class="card-body p-1">
      <div class="row">
        <div class="col-sm-6">
          <p class="task-detail"><span>
            {{"userEspaceModifier.Enseignant" | translate}}:&nbsp;&nbsp; </span>
            <span class="text-bold">{{ currentClasse?.enseignant?.nom_enseignant + ' ' + currentClasse?.enseignant?.prenom_enseignant}}</span></p>
        </div>
        <div class="col-sm-3">
          <p class="task-detail"><span>
            {{"userEspaceModifier.Année_scolaire" | translate}}:&nbsp;&nbsp; </span><span class="text-bold">{{ currentClasse?.annee?.codeAnnee }}</span></p>
          <p class="task-detail"><span>
            {{"userEspaceModifier.Trimestre" | translate}}:&nbsp;&nbsp; </span><span class="text-bold">{{ currentSequence?.trimestre?.nom_trimestre }}</span></p>
          <p class="task-detail"><span>
            {{"userEspaceModifier.Sequence" | translate}}:&nbsp;&nbsp; </span><span class="text-bold">{{ currentSequence?.nom_sequence }}</span></p>
        </div>
        <div class="col-sm-3">
          <p class="task-detail"><span>
            {{"userEspaceModifier.Classe" | translate}}:&nbsp;&nbsp; </span><span class="text-bold">{{ currentClasse?.classe?.nomClasse }}</span></p>
          <p class="task-detail"><span>
            {{"userEspaceModifier.Matière" | translate}}:&nbsp;&nbsp; </span><span class="text-bold">{{ currentClasse?.matiere?.nomMatiere }}</span></p>
          <p class="task-detail"><span>
            {{"userEspaceModifier.Coefficient" | translate}}:&nbsp;&nbsp; </span><span class="text-bold">{{ currentClasse?.coefficient }}</span></p>
        </div>
        <div class="col text-center text-bold">
          * {{"userEspaceModifier.Pressez_la_touche" | translate}} <span class="text-danger">
          {{"userEspaceModifier.Enter" | translate}} </span>
          {{"userEspaceModifier.ou" | translate}} <span class="text-danger">
          {{"userEspaceModifier.Insert" | translate}}</span>
          {{"userEspaceModifier.pour_enregistrer_les_lignes_modifiées" | translate}}
        </div>
      </div>
    </div>
  </div>
  <div class="table-responsive" *ngIf="eleves">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>{{"userEspaceModifier.Matricule" | translate}}</th>
        <th>{{"userEspaceModifier.Noms_et_prénoms" | translate}}</th>
        <th>{{"userEspaceModifier.Note" | translate}}/{{ currentClasse?.baremeEvaluation }}</th>
        <th>{{"userEspaceModifier.Observation" | translate}}</th>
      </tr>
      </thead>
      <tbody *ngFor="let eleve of tNotes.controls; let i = index">
      <tr [formGroup]="eleve" >
        <th scope="row">{{ i+1 }}</th>
        <td>{{ eleve.value.matricule }}</td>
        <td>{{ eleve.value.noms }}</td>
        <td><input class="form-control" formControlName="note" (ngModelChange)="onChanStateUpdate(i)" id="ex1" min="0"
                   type="number" [value]="eleve.value.note"
                   [max]="currentClasse && currentClasse.baremeEvaluation ? currentClasse.baremeEvaluation : '20'"></td>
        <td>
          <button type="button" (click)="onObservation(i, 'malade')"
                  [ngClass]="eleve.value.observation == 'malade' ? 'btn-warning' : 'btn-outline-warning'"
                  class="btn btn-sm mr-2">
            {{"userEspaceModifier.AJ" | translate}}</button>
          <button type="button" (click)="onObservation(i, 'absent')"
                  [ngClass]="eleve.value.observation == 'absent' ? 'btn-danger' : 'btn-outline-danger'"
                  class="btn btn-sm mr-2">
            {{"userEspaceModifier.ANJ" | translate}}</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-12">
      <ng-template #modalSelectSequence let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h5 class="modal-title" id="select-sequence">
            {{"userEspaceModifier.Modification_d_une_note" | translate}}</h5>
          <button type="button" class="close" aria-label="Close" (click)="onResetSaisieNote()">
            <span aria-hidden="true" class="icofont icofont-close-line-squared-alt text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="selectSequenceClasseForm">
            <ng-container *ngIf="formSelect">
              <div class="form-group" *ngIf="authService.isVisible('liste-sequence')">
                <label for="sequence">
                  {{"userEspaceModifier.Séquence" | translate}}</label>
                <select formControlName="sequence" class="custom-select form-control" id="sequence"
                        [attr.disabled]="authService.isEditable('liste-sequence') == true ? null : true"
                        [ngClass]="{'is-invalid': submitted && f.sequence.errors }">
                  <option value="">--- {{"userEspaceModifier.Sélectionner_une_séquence" | translate}} ---</option>
                  <option *ngFor="let sequence of formSelect.sequences" value="{{ sequence.id_sequence }}">{{ sequence.nom_sequence }}</option>
                </select>
                <div *ngIf="submitted && f.sequence.errors" class="invalid-feedback">
                  <div *ngIf="f.sequence.errors.required">
                    {{"userEspaceModifier.Le_choix_de_la_séquence_est_obligatoire" | translate}}</div>
                </div>
              </div>
              <div class="form-group" *ngIf="authService.isVisible('liste-classe')">
                <label for="classe">Classe</label>
                <select formControlName="classe" class="custom-select form-control" id="classe"
                        [attr.disabled]="authService.isEditable('liste-classe') == true ? null : true"
                        [ngClass]="{'is-invalid': submitted && f.classe.errors }">
                  <option value="">--- {{"userEspaceModifier.Sélectionnez_une_de_vos_classes" | translate}} ---</option>
                  <option *ngFor="let classe of formSelect.classes" value="{{ classe.classe.nomClasse + '___' + classe?.matiere?.id }}">
                    {{ classe.classe.nomClasse  + ' => ' + classe?.matiere?.nomMatiere }}
                  </option>
                </select>
                <div *ngIf="submitted && f.classe.errors" class="invalid-feedback">
                  <div *ngIf="f.classe.errors.required">
                    {{"userEspaceModifier.Le_choix_de_la_classe_est_obligatoire" | translate}}</div>
                </div>
              </div>
              <div class="form-group" *ngIf="authService.isVisible('champ-matricule')">
                <label for="matricule">
                  {{"userEspaceModifier.Matricule" | translate}}</label>
                <input formControlName="matricule" class="form-control" id="matricule"
                       [readOnly]="!authService.isEditable('champ-matricule')"
                       [ngClass]="{'is-invalid': submitted && f.matricule.errors }">
                <div *ngIf="submitted && f.matricule.errors" class="invalid-feedback">
                  <div *ngIf="f.matricule.errors.required">
                    {{"userEspaceModifier.Le_matricule_est_obligatoire_pour_la_modification_de_note" | translate}}</div>
                </div>
              </div>
            </ng-container>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary btn-sm ml-5 mr-4"
                  [disabled]="!authService.isActif('bouton-suivant')"
                  *ngIf="authService.isVisible('bouton-suivant')"
                  (click)="onDisplayListeEleve()">
            {{"userEspaceModifier.Suivant" | translate}}&nbsp;&nbsp;<i class="icofont icofont-circled-right"></i></button>
          <button class="btn btn-outline-danger btn-sm ml-4"
                  [disabled]="!authService.isActif('bouton-effacer')"
                  *ngIf="authService.isVisible('bouton-effacer')"
                  (click)="onResetSaisieNote()"><i class="icofont icofont-close-circled"></i>
            {{"userEspaceModifier.Effacer" | translate}}&nbsp;&nbsp;</button>
        </div>
      </ng-template>
    </div>
  </div>
</app-card>
