<!-- List mode reglement card start -->
<app-card [title]="'userAdminConfNum.Liste_des_elements_archivés'" [classHeader]="true" [blockClass]="'table-border-style'">
  <div class="row">

    <div class="col-6 input-group pl-4" [formGroup]="searchForm">
      <input id="search" class="form-control"
             placeholder="{{'userAdminDiscEnseigList.Search' | translate}}" formControlName="search">

      <div class="input-group-append">
        <span class="input-group-text icofont icofont-search clickable"
        (click)="onloadListArchive()"></span>
      </div>
    </div>

    <div class="col-6 text-right">
      <button class="btn btn-primary btn-sm ml-5 mr-4 m-1" (click)="onInitCreateArchivage(content)">
        <i class="icofont icofont-check-circled"></i>
        {{"userAdminDiscArch.Demarrer_un_archivage" | translate}}</button>
    </div>

  </div>

  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>{{"userAdminDiscArch.Date" | translate}}</th>
        <th>{{"userAdminDiscArch.Année" | translate}}</th>
        <th>{{"userAdminDiscArch.Concerné" | translate}}</th>
        <th>{{"userAdminDiscArch.Motif" | translate}}</th>
        <th>{{"userAdminDiscArch.Description" | translate}}</th>
        <th>{{"userAdminDiscArch.Options" | translate}}</th>
      </tr>
      </thead>
      <tbody *ngIf="archives">
      <tr *ngFor="let archive of archives | paginate: { id: 'idArchivage',
      itemsPerPage: pageSizeArch, currentPage: pageArch + 1, totalItems: totalElementsArch
      }; let i = index">
        <th scope="row">{{ i+1 }}</th>
        <td>{{ archive.dateArchivage | date }}</td>
        <td>{{ archive.anneeAcademique }}</td>
        <td>{{ archive.typeEntite == 0 ? archive.matricule  : archive.utilisateur.displayName }}</td>
        <td>{{ siteLanguage == 'en' ? archive?.typeArchivage.intitule_en : archive?.typeArchivage.intitule }}</td>


        <td>{{ archive.description | slice: 0: 40 }}</td>
        <td class="p-1">
          <div [ngClass]="'icon-btn p-0 m-0'">
            <button class="btn btn-warning btn-icon mr-2"
                    (click)="onLoadDetailsArchivage(archive, content, true)">
              <em class="icofont icofont-pen-alt-1"></em></button>
            <button class="btn btn-success btn-icon mr-2"
                    (click)="onLoadDetailsArchivage(archive, content, false)">
              <em class="icofont icofont-eye-alt"></em></button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <pagination-controls style="text-align:center; vertical-align:middle;"
                         id="idArchivage"
      autoHide="true"
      [maxSize]="10"
      (pageChange)="setPageChange($event)"></pagination-controls>
<div class="row" *ngIf="archives">
<div class="col-12 text-center h4" *ngIf="archives.length == 0">
  {{"Aucune donnée disponible" | translate}}</div>
</div>
  </div>




<!--

 {{"userAdminDiscEnseigList.Aucune_donnée_disponible" | translate}}</div>

<pagination-controls style="text-align:center; vertical-align:middle;"
                         autoHide="true"
                         [maxSize]="10"
                         (pageChange)="setPageChange($event)"></pagination-controls>


  <pagination-controls style="text-align:center; vertical-align:middle;"
  autoHide="true"
[maxSize]="10"
(pageChange)="setPageChange($event)"></pagination-controls>




<div class="row" *ngIf="enseignants">
<div class="col-12 text-center h4" *ngIf="enseignants.length == 0">
{{"userAdminDiscEnseigList.Aucune_donnée_disponible" | translate}}</div>
</div>

  <tbody *ngIf="enseignants && enseignants.length > 0">
    <tr *ngFor="let item of enseignants | paginate: {
      itemsPerPage: pageSize, currentPage: page + 1, totalItems: totalElements
      }; let i = index" (dblclick)="onDetailEnseignant(item.enseignant)">

-->








  <div class="row">
    <div class="col-12">
      <ng-template #content let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="add-reglement-divers">
            {{"userAdminDiscArch.Création_de_l_archive" | translate}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="onResetCreateArchivage()">
            <span aria-hidden="true" class="icofont icofont-close-line-squared-alt text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="creationArchiveForm">
            <div class="row">
              <div class="form-group" [ngClass]="f.typeEntite.value == 0 ? 'col-6' : 'col-12'">
                <label for="typeEntite" class="col-form-label">
                  {{"userAdminDiscArch.Elève_ou_Enseignant" | translate}}</label>
                <select class="custom-select form-control" formControlName="typeEntite"
                        (ngModelChange)="onChangeOptions()"
                        [ngClass]="{'is-invalid': submitted && f.typeEntite.errors }" id="typeEntite" >
                  <option value="0">
                    {{"userAdminDiscArch.Elève" | translate}}</option>
                  <option value="1">{{"userAdminDiscArch.Enseignant" | translate}}</option>
                </select>
                <div *ngIf="submitted && f.typeEntite.errors" class="invalid-feedback">
                  <div *ngIf="f.typeEntite.errors.required">
                    {{"userAdminDiscArch.Choisir_si_c_est_l_élève_ou_l_enseignant" | translate}}</div>
                </div>
              </div>
              <div  class="form-group col-6" *ngIf="f.typeEntite.value == 0">
                <label for="classe" class="col-form-label">
                  {{"userAdminDiscArch.Choisir_la_classe" | translate}}</label>
                <select class="custom-select form-control" formControlName="classe"
                        (ngModelChange)="onChangeClasse()"
                        [ngClass]="{'is-invalid': submitted && f.classe.errors }" id="classe">
                  <option value="">
                    {{"userAdminDiscArch.Choisir_la_classe" | translate}}</option>
                  <option value="{{ classe.id }}" *ngFor="let classe of classes">{{ classe.nomClasse }}</option>
                </select>
                <div *ngIf="submitted && f.classe.errors" class="invalid-feedback">
                  <div *ngIf="f.classe.errors.required">
                    {{"userAdminDiscArch.Choisir_la_classe_de_l_élève" | translate}}</div>
                </div>
              </div>
              <ng-container *ngIf="canEdit == true">
                <div class="form-group col-md-9 col-xl-9" *ngIf="f.typeEntite.value == 0">
                  <label for="eleve" class="col-form-label">
                    {{"userAdminDiscArch.Choisir_élève" | translate}}</label>
                  <ng-multiselect-dropdown [disabled]="canAdd==false"  id="eleve" #selectEleve [ngClass]="{'is-invalid': submitted && f.eleve.errors }"
                                           [placeholder]="choix_eleve" [data]="dataEleve" formControlName="eleve"
                                           (onFilterChange)="onReloadListEleve($event)"
                                           [settings]="settings"></ng-multiselect-dropdown>
                  <div *ngIf="submitted && f.eleve.errors" class="invalid-feedback">
                    <div *ngIf="f.eleve.errors.required">
                      {{"userAdminDiscArch.Choisir_l_élève" | translate}}</div>
                  </div>
                </div>
                <div class="form-group col-md-9 col-xl-9" *ngIf="f.typeEntite.value == 1">
                  <label for="enseignant" class="col-form-label">
                    {{"userAdminDiscArch.Choisir_enseignant" | translate}}</label>
                  <ng-multiselect-dropdown id="enseignant" #selectEnseignant [ngClass]="{'is-invalid': submitted && f.enseignant.errors }"
                                           [disabled]="canAdd==false"
                                           [placeholder]="CHOIX_2" [data]="dataEnseignant" formControlName="enseignant"
                                           [settings]="settings"></ng-multiselect-dropdown>
                  <div *ngIf="submitted && f.enseignant.errors" class="invalid-feedback">
                    <div *ngIf="f.enseignant.errors.required">
                      {{"userAdminDiscArch.Choisir_l_enseignant" | translate}}</div>
                  </div>
                </div>
                <div class="form-group col-3">
                  <label for="typeArchivage" class="col-form-label">
                    {{"userAdminDiscArch.Motif_d_archivage" | translate}}</label>
                  <select class="custom-select form-control" formControlName="typeArchivage"
                          [ngClass]="{'is-invalid': submitted && f.typeArchivage.errors }" id="typeArchivage">
                    <option [value]="type.id" *ngFor="let type of typeArchives">{{ siteLanguage == 'en' ? type.intitule_en : type.intitule }}</option>
                  </select>


                  <!--

                  <select class="custom-select form-control" formControlName="typeArchivage"
                          [ngClass]="{'is-invalid': submitted && f.typeArchivage.errors }" id="typeArchivage">
                    <option [value]="type.id" *ngFor="let type of typeArchives">{{ type.intitule }}</option>
                  </select>




                    -->
                  <div *ngIf="submitted && f.typeArchivage.errors" class="invalid-feedback">
                    <div *ngIf="f.typeArchivage.errors.required">
                      {{"userAdminDiscArch.Choisir_le_motif_d_archivage" | translate}}</div>
                  </div>
                </div>
                <div class="form-group col-12">
                  <label for="description">
                    {{"userAdminDiscArch.Description" | translate}}</label>
                  <textarea class="form-control" [readOnly]="toUpdate"
                            formControlName="description" id="description" rows="3"></textarea>
                </div>
              </ng-container>
              <div class="card col-12" style="width: 18rem;" *ngIf="canEdit == false">
                <div class="card-header">{{ currentArchive?.typeArchivage.intitule + ' ( ' + ((currentArchive?.matricule) ? currentArchive?.matricule : currentArchive.utilisateur.enseignant.matricule )+ ' )' }}</div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item" *ngIf="currentArchive?.classe">{{ currentArchive?.classe.nomClasse }}</li>
                  <li class="list-group-item">{{ currentArchive?.description }}</li>
                  <li class="list-group-item">{{ currentArchive.dateArchivage | date: 'longDate' }}
                    <span class="text-bold">( {{ currentArchive.anneeAcademique }} )</span></li>
                </ul>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer" *ngIf="canEdit == true">
          <button type="button"
                  class="btn btn-outline-danger btn-sm mr-2" (click)="onResetCreateArchivage()">
            {{"userAdminDiscArch.Annuler" | translate}}</button>
          <button type="button" [disabled]="toUpdate" (click)="onSaveCreateArchive()" class="btn btn-sm btn-primary">
            <span *ngIf="validated" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            {{"userAdminDiscArch.Enregistrer" | translate}}</button>
        </div>
      </ng-template>
    </div>
  </div>
</app-card>
<!-- List mode reglement card end -->

