<!-- List caisse card start -->
<app-card [title]="'userAdminConfNum.Les_parametrages_des_caisse_de_l_établissement'" [classHeader]="true" [blockClass]="'table-border-style'">
  <div class="card-actions-bar" *ngIf="authService.isVisible('bouton-ajouter-caisse')">
    <button class="btn btn-primary btn-sm" (click)="open(content)" [disabled]="!authService.isActif('bouton-ajouter-caisse')">
      <i class="icofont icofont-check-circled"></i>
      {{"userAdminFinancesListCaisse.Ajouter_caisse" | translate}}</button>
  </div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>{{"userAdminFinancesListCaisse.Nom_de_la_caisse" | translate}}</th>
        <th>{{"userAdminFinancesListCaisse.Description" | translate}}</th>
        <th>{{"userAdminFinancesListCaisse.Options" | translate}}</th>
      </tr>
      </thead>
      <tbody *ngIf="caisses">
      <tr *ngFor="let caisse of caisses; let i = index">
        <th scope="row">{{ i+1 }}</th>
        <td>{{caisse.nomCaisse ? caisse.nomCaisse : '' }}</td>
        <td>{{ caisse.description_caisse ? (caisse.description_caisse | slice: 0: 30) : '' }} {{ caisse.description_caisse && caisse.description_caisse.length > 30 ? '...': '' }}</td>
        <td class="p-1">
          <div [ngClass]="'icon-btn p-0 m-0'">
            <button class="btn btn-warning btn-icon mr-2" (click)="onLoadDetailsCaisse(caisse, content)"
                    title="{{'userAdminFinancesListCaisse.Modifier_les_attributs_de_la_caisse' | translate}}" [disabled]="!authService.isActif('bouton-modifier-caisse')">
              <em class="icofont icofont-pen-alt-1"></em></button>
            <button class="btn btn-success btn-icon mr-2" (click)="onLoadDetailsCaisse(caisse, content)"
                    title="{{'userAdminFinancesListCaisse.Voir_le_detail_de_la_caisse' | translate}}" [disabled]="!authService.isActif('bouton-visualiser-caisse')">
              <em class="icofont icofont-eye-alt"></em></button>
            <button class="btn btn-danger btn-icon mr-2" (click)="onDeleteCaisse(caisse.id)"
                    [disabled]="!authService.isActif('bouton-supprimer-caisse')">
              <em class="icofont icofont-ui-delete"></em></button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-12">
      <ng-template #content let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="add-caisse">
            {{"userAdminFinancesListCaisse.Nouvelle_caisse" | translate}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true" class="icofont icofont-close-line-squared text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="caisseForm">
            <div class="form-group" *ngIf="authService.isVisible('champ-nom-caisse')">
              <label for="nomCaisse">
                {{"userAdminFinancesListCaisse.Nom_de_la_caisse" | translate}}</label>
              <div class="input-group">
                <input type="text" id="nomCaisse" formControlName="nomCaisse" [ngClass]="{'is-invalid': submitted && f.nomCaisse.errors }"
                       [readOnly]="!authService.isEditable('champ-nom-caisse')"  class="form-control"
                       placeholder="{{'userAdminFinancesListCaisse.Nom_de_la_caisse' | translate}}">
                <div *ngIf="submitted && f.nomCaisse.errors" class="invalid-feedback">
                  <div *ngIf="f.nomCaisse.errors.required">
                    {{"userAdminFinancesListCaisse.Le_nom_de_la_caisse_est_obligatoire" | translate}}</div>
                </div>
              </div>
            </div>
            <div class="alert alert-danger form-group" role="alert" *ngIf="errorResponse">{{ errorResponse }}</div>
            <div class="form-group" *ngIf="authService.isVisible('champ-description-caisse')">
              <label for="description">{{"userAdminFinancesListCaisse.Description_de_la_caisse" | translate}}</label>
              <textarea class="form-control" formControlName="description" id="description" rows="3"
                        [readOnly]="!authService.isEditable('champ-description-caisse')"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" [disabled]="!authService.isActif('bouton-annuler')"
                  class="btn btn-outline-danger btn-sm mr-2" (click)="onReset()">
            {{"userAdminFinancesListCaisse.Annuler" | translate}}</button>
          <button type="button" [disabled]="!authService.isActif('bouton-enregistrer')"
                  (click)="onSaveCaisse()" class="btn btn-primary btn-sm">
            {{"userAdminFinancesListCaisse.Enregistrer" | translate}}</button>
        </div>
      </ng-template>
    </div>
  </div>
</app-card>
<!-- List caisse card end -->
