<!-- List service card start -->
<app-card [title]="'userAdminFinancesListServices.Les_service_financier_pour_élèves'" [classHeader]="true" [blockClass]="'table-border-style'">

  <div >
  <div class="col-xl-5">
      <div class="input-group">
        <input type="text" class="form-control" aria-label="Search in state"
               placeholder="{{'userEtatList.Search' | translate}}" [(ngModel)]="search" *ngIf="authService.isVisible('champ-recherche-etat')"
          [readOnly]="!authService.isEditable('champ-recherche-etat')">
        <div class="input-group-append" *ngIf="authService.isVisible('bouton-recherche-etat')">
          <span class="input-group-text icofont icofont-search" (click)="onSearchService()"></span>
        </div>
      </div>
  </div>
  <div class="card-actions-bar" *ngIf="authService.isVisible('bouton-ajouter-service')">
    <button class="btn btn-primary btn-sm" [disabled]="!authService.isActif('bouton-ajouter-service')" (click)="open(content)">
      <i class="icofont icofont-check-circled"></i>
      {{"userAdminFinancesListServices.Ajouter_service" | translate}}</button>
  </div>

</div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>{{"userAdminFinancesListServices.Nom_Service" | translate}}</th>
        <th>{{"userAdminFinancesListServices.Obligatoire" | translate}}</th>
        <th>{{"userAdminFinancesListServices.Description" | translate}}</th>
        <th>{{"userAdminFinancesListServices.Suspendu" | translate}}</th>
        <th>{{"userAdminFinancesListServices.Options" | translate}}</th>
      </tr>
      </thead>
      <tbody *ngIf="services">
      <tr *ngFor="let service of services | paginate: { id: 'idListServices', itemsPerPage: pageSize, currentPage: page + 1,
      totalItems : totalElements}, let i = index">

        <th scope="row">{{ i+1 }}</th>
        <td>{{ service.nomService }}</td>
        <td>{{ service.obligatoire == 'O' ? 'Oui' : 'Non' }}</td>
        <td>{{ service.description | slice: 0: 20 }} {{ service.description.length > 20 ? '...' : '' }}</td>
        <td>{{ service.suspendu == 1 ? 'Oui' : 'Non' }}</td>
        <td class="p-1">
          <div [ngClass]="'icon-btn p-0 m-0'">
            <div class="d-inline-block" ngbDropdown
                 [placement]="(i == services.length-1 || i == services.length-2) ? 'top-right' : 'bottom-right'"
                 [display]="'dynamic'" #myDrop="ngbDropdown">
              <button class="btn btn-outline-info btn-sm mr-2" id="dropdownManual" ngbDropdownToggle>
                {{"userAdminFinancesListServices.Actions" | translate}}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownManual">
                <button ngbDropdownItem class="btn-default btn-sm mr-3" (click)="onLoadDetailsService(service, content)"
                        [disabled]="!authService.isActif('bouton-visualiser-service')"
                        title="{{'userAdminFinancesListServices.Voir_les_details_du_service' | translate}}">
                  <em class="icofont icofont-eye-alt mr-2"></em>
                  {{"userAdminFinancesListServices.Details_service" | translate}}</button>
                <button ngbDropdownItem class="btn-default btn-sm mr-3" (click)="onLoadDetailsService(service, content)"
                        [disabled]="!authService.isActif('bouton-modifier-service')"
                        title="{{'userAdminFinancesListServices.Modifier_le_service' | translate}} {{ service.nomService }}">
                  <em class="icofont icofont-pen-alt-1 mr-2"></em>{{"userAdminFinancesListServices.Modifier_le_service" | translate}}</button>
                <button ngbDropdownItem class="btn-default btn-sm mr-3" (click)="onAppliquerNiveau(service, contentSelectNiveau)"
                        [disabled]="!authService.isActif('bouton-modifier-service')"
                        title="{{'userAdminFinancesListServices.Appliquer_le_service' | translate}} {{ service.nomService }} {{'userAdminFinancesListServices.sur_la_fiche_d_inscription_d_un_niveau_d_étude' | translate}}">
                  <em class="icofont icofont-check-circled"></em>
                  {{"userAdminFinancesListServices.Appliquer_a_un_niveau" | translate}}</button>
                <button ngbDropdownItem class="btn-default btn-sm mr-3" [disabled]="!authService.isActif('bouton-supprimer-service')"
                        title="{{'userAdminFinancesListServices.Supprimer_le_service' | translate}} {{ service.nomService }}" (click)="onDeleteService(service.id)">
                  <em class="icofont icofont-ui-delete mr-2"></em>{{"userAdminFinancesListServices.Supprimer_service" | translate}}</button>
              </div>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <pagination-controls style="text-align:center; vertical-align:middle;"
                         autoHide="true"
                         [maxSize]="10" id="idListServices"
                         (pageChange)="setPageChange($event)"></pagination-controls>

  </div>
  <div class="row">
    <div class="col-12">
      <ng-template #content let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="add-service">
            {{"userAdminFinancesListServices.Nouveau_service" | translate}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="onReset()">
            <span aria-hidden="true" class="icofont icofont-close-line-squared text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="serviceForm">
            <div class="row">
              <div class="form-group col-6" *ngIf="authService.isVisible('champ-nom-service')">
                <label for="nom">
                  {{"userAdminFinancesListServices.Nom_du_service" | translate}}</label>
                <div class="input-group">
                  <input type="text" id="nom" formControlName="nom" [ngClass]="{'is-invalid': submitted && f.nom.errors }"
                         [readOnly]="!authService.isEditable('champ-nom-service')"
                         class="form-control"
                         placeholder="{{'userAdminFinancesListServices.Nom_du_service' | translate}}">
                  <div *ngIf="submitted && f.nom.errors" class="invalid-feedback">
                    <div *ngIf="f.nom.errors.required">
                      {{"userAdminFinancesListServices.Le_nom_du_service_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-3" *ngIf="authService.isVisible('liste-priorite')">
                <label for="priorite">{{"userAdminFinancesListServices.Priorite" | translate}}</label>
                <div class="input-group">
                  <select class="custom-select form-control" id="priorite" formControlName="priorite"
                          [attr.disabled]="authService.isEditable('liste-priorite') == true ? null : true">
                    <option value="1">{{"userAdminFinancesListServices.1" | translate}}</option>
                    <option value="2">{{"userAdminFinancesListServices.2" | translate}}</option>
                    <option value="3">{{"userAdminFinancesListServices.3" | translate}}</option>
                    <option value="4">{{"userAdminFinancesListServices.4" | translate}}</option>
                    <option value="5">{{"userAdminFinancesListServices.5" | translate}}</option>
                    <option value="6">{{"userAdminFinancesListServices.6" | translate}}</option>
                    <option value="7">{{"userAdminFinancesListServices.7" | translate}}</option>
                    <option value="8">{{"userAdminFinancesListServices.8" | translate}}</option>
                    <option value="9">{{"userAdminFinancesListServices.9" | translate}}</option>
                    <option value="10">{{"userAdminFinancesListServices.10" | translate}}</option>
                    <option value="11">{{"userAdminFinancesListServices.11" | translate}}</option>
                    <option value="12">{{"userAdminFinancesListServices.12" | translate}}</option>
                    <option value="13">{{"userAdminFinancesListServices.13" | translate}}</option>
                    <option value="14">{{"userAdminFinancesListServices.14" | translate}}</option>
                    <option value="15">{{"userAdminFinancesListServices.15" | translate}}</option>
                  </select>
                </div>
              </div>
              <div class="border-checkbox-group border-checkbox-group-primary col-3 text-center"
                   *ngIf="authService.isVisible('bouton-service-obligatoire')">
                <label for="obligatoire" class="border-checkbox-label pr-3">
                  {{"userAdminFinancesListServices.Service_obligatoire" | translate}} </label><br />
                <input type="checkbox" id="obligatoire" formControlName="obligatoire"
                       [attr.disabled]="authService.isEditable('bouton-service-obligatoire') == true ? null : true"   class="border-checkbox">
              </div>
            </div>
            <div class="form-group" *ngIf="authService.isVisible('champ-description-service')">
              <label for="description">
                {{"userAdminFinancesListServices.Description" | translate}}</label>
              <textarea class="form-control" [readOnly]="!authService.isEditable('champ-description-service')"
                        formControlName="description" id="description" rows="3"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger btn-sm mr-2"
                  [disabled]="!authService.isActif('bouton-annuler')"
                  (click)="onReset()">
            {{"userAdminFinancesListServices.Annuler" | translate}}</button>
          <button type="button" (click)="onSaveService()" [disabled]="!authService.isActif('bouton-enregistrer')"
                  class="btn btn-primary btn-sm">
            {{"userAdminFinancesListServices.Enregistrer" | translate}}</button>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ng-template #contentSelectNiveau let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="add-service-to-niveau">
            {{"userAdminFinancesListServices.Ajouter_le_service" | translate}} {{ currentService.nomService }} {{"userAdminFinancesListServices.a_un_niveau" | translate}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="onResetServiceNiveau()">
            <span aria-hidden="true" class="icofont icofont-close-line-squared text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="serviceNiveauForm">
            <div class="row">
              <div class="form-group col-12" *ngIf="authService.isVisible('liste-priorite')">
                <label for="niveau">
                  {{"userAdminFinancesListServices.Choisir_le_niveau" | translate}}</label>
                <div class="input-group">
                  <select class="custom-select form-control" id="niveau" formControlName="niveau"
                          [ngClass]="{'is-invalid': submitted && g.niveau.errors }"
                          [attr.disabled]="authService.isEditable('liste-priorite') == true ? null : true">
                    <option value="">
                      {{"userAdminFinancesListServices.Choisir_le_niveau" | translate}}</option>
                    <option *ngFor="let niveau of niveaux" value="{{ niveau.id }}">{{ niveau.nomNiveau }}</option>
                  </select>
                  <div *ngIf="submitted && g.niveau.errors" class="invalid-feedback">
                    <div *ngIf="g.niveau.errors.required">
                      {{"userAdminFinancesListServices.Le_niveau_sur_lequel_appliquer_le_service_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger btn-sm mr-2"
                  [disabled]="!authService.isActif('bouton-annuler')" (click)="onResetServiceNiveau()">
            {{"userAdminFinancesListServices.Annuler" | translate}}</button>
          <button type="button" (click)="onSaveServiceNiveau()" [disabled]="!authService.isActif('bouton-enregistrer')"
                  class="btn btn-primary btn-sm">
            {{"userAdminFinancesListServices.Enregistrer" | translate}}</button>
        </div>
      </ng-template>
    </div>
  </div>
</app-card>
<!-- List service card end -->
