<app-card [title]="'userAdminConfNum.Liste_des_matières_par_groupe'">
  <div class="browser-card p-b-10" *ngIf="groupeMatieres">
    <div class="row">
      <div class="col-12 text-right mb-0">
        <button class="btn btn-primary btn-sm ml-5 mr-4 m-1"
                title="{{'userAdminConfMatieres.Ajout_d_un_nouveau_groupe_de_matière' | translate}}"
                *ngIf="authService.isVisible('bouton-action-matiere')"
                [disabled]="!authService.isActif('bouton-action-matiere')"
                (click)="onOpenModalToEditGroupeMatiere(null, contentGroupeMatiere)">
          <em class="icofont icofont-plus-circle mr-3"></em>
          {{"userAdminConfMatieres.Ajouter_un_groupe_de_matiere" | translate}}</button>
      </div>
    </div>
    <div class="container-fluid clickable table-hover" *ngFor="let item of groupeMatieres">
      <div class="card">
        <div class="card-header bg-primary card-border-inverse p-1 pl-4">
          <h5 class="text-white">{{ item.groupematiere.nomGroupeMatiere }}</h5>
        </div>
        <div class="card-body row p-1 pl-4 pr-4">
          <div class="col-12">
            <ul class="list-group" *ngFor="let matiere of item.matieres; let i=index">
              <li class="list-group-item d-flex justify-content-between row p-1">
                <span class="col-1 text-right">{{ '#'+ (i+1) }}</span>
                <span class="col-9">
                 {{ matiere.nomMatiere }}
                </span>
                <span class="col-2 text-right pt-1">
                  <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown" display="static">
                    <button class="btn btn-outline-info btn-sm mr-2" id="dropdownManual" ngbDropdownToggle>
                      {{"userAdminConfMatieres.Actions" | translate}}</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownManual">
                      <button ngbDropdownItem class="btn-default btn-sm mr-3"
                              *ngIf="authService.isVisible('bouton-action-matiere')"
                              [disabled]="!authService.isActif('bouton-action-matiere')"
                              (click)="onDeleteMatiere(matiere)"
                      ><em class="icofont icofont-ui-delete mr-2"></em>
                        {{"userAdminConfMatieres.Supprimer" | translate}}</button>
                      <button ngbDropdownItem class="btn-default btn-sm mr-3"
                              *ngIf="authService.isVisible('bouton-detail-matiere')"
                              [disabled]="!authService.isActif('bouton-detail-matiere')"
                              (click)="onOpenModalToEditMatiere(item.groupematiere, matiere, contentMatiere)">
                        <em class="icofont icofont-pencil-alt-5 mr-2"></em>
                        {{"userAdminConfMatieres.Modifier" | translate}}</button>
                      <button ngbDropdownItem class="btn-default btn-sm mr-3"
                              *ngIf="authService.isVisible('bouton-modifier-matiere')"
                              [disabled]="!authService.isActif('bouton-modifier-matiere')"
                              (click)="onOpenModalToEditMatiere(item.groupematiere, matiere, contentMatiere)"
                      ><em class="icofont icofont-folder-open mr-2"></em>
                        {{"userAdminConfMatieres.Detail" | translate}}</button>
                    </div>
                  </div>
                </span>
              </li>
            </ul>
          </div>
        </div>
        <div class="card-footer p-0 pb-1">
          <div class="col-md-8">
            <button class="btn bg-danger float-right btn-browser mr-2">
              <em class="icofont icofont-ui-delete"></em></button>
            <button class="btn bg-success  float-right btn-browser mr-2"
                    title="{{'userAdminConfMatieres.Ajout_d_une_nouvelle_matiere_a_ce_groupe' | translate}}"
                    *ngIf="authService.isVisible('bouton-modifier-matiere')"
                    [disabled]="!authService.isActif('bouton-modifier-matiere')"
                    (click)="onOpenModalToEditMatiere(item.groupematiere, null, contentMatiere)">
              <em class="icofont icofont-plus mr-2"></em>
              {{"userAdminConfMatieres.Nouvelle_matière" | translate}}</button>
            <button class="btn bg-warning float-right btn-browser mr-2"
                    title="{{'userAdminConfMatieres.Modifier_les_attribut_du_groupe_de_matiere' | translate}}"
                    *ngIf="authService.isVisible('bouton-modifier-matiere')"
                    [disabled]="!authService.isActif('bouton-modifier-matiere')"
                    (click)="onOpenModalToEditGroupeMatiere(item.groupematiere, contentGroupeMatiere)"><em class="icofont icofont-edit-alt"></em></button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-right mt-0">
        <button class="btn btn-primary btn-sm ml-5 mr-4 m-1"
                title="{{'userAdminConfMatieres.Ajout_d_un_nouveau_groupe_de_matière' | translate}}"
                *ngIf="authService.isVisible('bouton-action-matiere')"
                [disabled]="!authService.isActif('bouton-action-matiere')"
                (click)="onOpenModalToEditGroupeMatiere(null, contentGroupeMatiere)">
          <em class="icofont icofont-plus-circle mr-3"></em>
          {{"userAdminConfMatieres.Ajouter_un_groupe_de_matiere" | translate}}</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <ng-template #contentMatiere let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="edit-matiere">
            {{"userAdminConfMatieres.Edition_matière" | translate}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true" class="icofont icofont-close-line-squared text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formMatiere">
            <div class="col-md-12 col-xl-12">
              <fieldset class="scheduler-border">
                <legend class="scheduler-border">
                  {{"userAdminConfMatieres.Information_Importantes" | translate}}</legend>
                <div class="row mega-menu-contact">
                  <div class="form-group col-12" *ngIf="disciplines && authService.isVisible('liste-discipline')">
                    <label for="discipline">
                      {{"userAdminConfMatieres.Discipline_concerné" | translate}}</label>
                    <div class="input-group">
                      <select class="custom-select form-control" id="discipline" formControlName="discipline"
                              [attr.disabled]="authService.isEditable('liste-discipline') == true ? null : true"
                              [ngClass]="{'is-invalid': submitted && m.discipline.errors }">
                        <option value="">--- {{"userAdminConfMatieres.Choisir_discipline" | translate}} ---</option>
                        <option *ngFor="let discipline of disciplines" value="{{ discipline.id_discipline }}">{{ discipline.nom_discipline}}</option>
                      </select>
                      <div *ngIf="submitted && m.discipline.errors" class="invalid-feedback">
                        <div *ngIf="m.discipline.errors.required">
                          {{"userAdminConfMatieres.La_discipline_concernée_est_obligatoire" | translate}}</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-12" *ngIf="authService.isVisible('champ-nom-matiere-langue1')">
                    <label for="nomEn">
                      {{"userAdminConfMatieres.Nom_de_la_matière_Langue_1" | translate}}</label>
                    <div class="input-group">
                      <input id="nomFr" class="form-control"  [ngClass]="{'is-invalid': submitted && m.nomFr.errors }"
                             [readOnly]="!authService.isEditable('champ-nom-matiere-langue1')"
                             type="text"
                             placeholder="{{'userAdminConfMatieres.Nom matiere (Langue 1)' | translate}}" formControlName="nomFr">
                      <div *ngIf="submitted && m.nomFr.errors" class="invalid-feedback">
                        <div *ngIf="m.nomFr.errors.required">
                          {{"userAdminConfMatieres.Le_nom_de_la_matière_est_obligatoire" | translate}}</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-12" *ngIf="authService.isVisible('champ-nom-matiere-langue2')">
                    <label for="nomEn">
                      {{"userAdminConfMatieres.Nom_de_la_matière_Langue_2" | translate}}</label>
                    <div class="input-group">
                      <input id="nomEn" class="form-control"  [ngClass]="{'is-invalid': submitted && m.nomEn.errors }"
                             [readOnly]="!authService.isEditable('champ-nom-matiere-langue2')"
                             type="text"
                             placeholder="{{'userAdminConfMatieres.Nom_matiere_Langue_2' | translate}}" formControlName="nomEn">
                      <div *ngIf="submitted && m.nomEn.errors" class="invalid-feedback">
                        <div *ngIf="m.nomEn.errors.required">
                          {{"userAdminConfMatieres.Le_nom_de_la_matière_est_obligatoire" | translate}}</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-6" *ngIf="authService.isVisible('champ-ordre-classification-matiere')">
                    <label for="ordreMatiere">
                      {{"userAdminConfMatieres.Ordre_de_classification_de_la_matiere" | translate}}</label>
                    <div class="input-group">
                      <input id="ordreMatiere" class="form-control"  [ngClass]="{'is-invalid': submitted && m.ordre.errors }"
                             [readOnly]="!authService.isEditable('champ-ordre-classification-matiere')"
                             type="number" lang="en"
                             placeholder="{{'userAdminConfMatieres.Ordre_de_classification' | translate}}" formControlName="ordre">
                      <div *ngIf="submitted && m.ordre.errors" class="invalid-feedback">
                        <div *ngIf="m.fermeture.errors.required">
                          {{"userAdminConfMatieres.L_ordre_de_classification_de_la_matiere_est_obligatoire" | translate}}</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-6" *ngIf="authService.isVisible('champ-code-matiere')">
                    <label for="code" class="col-form-label">
                      {{"userAdminConfMatieres.Code_de_la_matiere" | translate}}</label>
                    <input class="form-control" type="text"
                           placeholder="{{'userAdminConfMatieres.Code_matière' | translate}}" id="code"
                           [readOnly]="!authService.isEditable('champ-code-matiere')"
                           formControlName="code" [ngClass]="{'is-invalid': submitted && m.code.errors }">
                    <div *ngIf="submitted && m.code.errors" class="invalid-feedback">
                      <div *ngIf="m.code.errors.required">
                        {{'userAdminConfMatieres.Le_code_de_la_matiere_est_obligatoire' | translate}}</div>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-sm btn-outline-danger btn-sm ml-4" type="reset" (click)="onResetMatiere()"
                  *ngIf="authService.isVisible('bouton-effacer-matiere')"
                  [disabled]="!authService.isActif('bouton-effacer-matiere')">
            <i class="icofont icofont-close-circled"></i>
            {{"userAdminConfMatieres.Effacer" | translate}}</button>
          <button class="btn btn-primary btn-sm ml-2 mr-4" type="button" (click)="onSaveMatiere()">
            <span *ngIf="validated" class="spinner-border spinner-border-sm mr-1" role="status" aria-hidden="true"></span>
            <i class="icofont icofont-check-circled"></i>
            {{"userAdminConfMatieres.Enregistrer" | translate}}</button>
        </div>
      </ng-template>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <ng-template #contentGroupeMatiere let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="edit-group-matiere">
            {{"userAdminConfMatieres.Edition_du_groupe_de_matiere" | translate}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true" class="icofont icofont-close-line-squared text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formGroupMatiere">
            <div class="col-md-12 col-xl-12">
              <fieldset class="scheduler-border">
                <legend class="scheduler-border">
                  {{"userAdminConfMatieres.Information_Importantes" | translate}}</legend>
                <div class="row mega-menu-contact">
                  <div class="form-group col-12" *ngIf="authService.isVisible('champ-nom-groupe-matiere-langue-1')">
                    <label for="nomgm" class="col-form-label">
                      {{"userAdminConfMatieres.Nom_du_groupe_de_matière_Premiere_langue" | translate}}</label>
                    <input class="form-control" type="text"
                           placeholder="{{'userAdminConfMatieres.Nom_du_groupe_de_la_matiere' | translate}}" id="nomgm"
                           formControlName="nomgm"  [ngClass]="{'is-invalid': submitted && gm.nomgm.errors }"
                           [readOnly]="!authService.isEditable('champ-nom-groupe-matiere-langue-1')">
                    <div *ngIf="submitted && gm.nomgm.errors" class="invalid-feedback">
                      <div *ngIf="gm.nomgm.errors.required">
                        {{"userAdminConfMatieres.Le_nom_du_groupe_de_la_matiere_est_obligatoire" | translate}}</div>
                    </div>
                  </div>
                  <div class="form-group col-12" *ngIf="authService.isVisible('champ-nom-groupe-matiere-langue-2')">
                    <label for="nomgmEn" class="col-form-label">
                      {{"userAdminConfMatieres.Nom_du_groupe_de_la_matiere_Deuxieme_langue" | translate}}</label>
                    <input class="form-control" type="text"
                           placeholder="{{'userAdminConfMatieres.Nom_du_groupe_de_la_matière' | translate}}" id="nomgmEn"
                           formControlName="nomgmEn"  [ngClass]="{'is-invalid': submitted && gm.nomgmEn.errors }"
                           [readOnly]="!authService.isEditable('champ-nom-groupe-matiere-langue-2')">
                    <div *ngIf="submitted && gm.nomgmEn.errors" class="invalid-feedback">
                      <div *ngIf="gm.nomgmEn.errors.required">
                        {{"userAdminConfMatieres.Le_nom_du_groupe_de_la_matiere_est_obligatoire" | translate}}</div>
                    </div>
                  </div>
                  <div class="form-group col-6" *ngIf="authService.isVisible('champ-specialite-groupe-matiere')">
                    <label for="specialite" class="col-form-label">
                      {{"userAdminConfMatieres.Spécialité_du_groupe_de_la_matiere" | translate}}</label>
                    <input class="form-control" type="text"
                           placeholder="{{'userAdminConfMatieres.Spécialité' | translate}}" id="specialite"
                           formControlName="specialite" [ngClass]="{'is-invalid': submitted && gm.specialite.errors }"
                           [readOnly]="!authService.isEditable('champ-specialite-groupe-matiere')">
                    <div *ngIf="submitted && gm.specialite.errors" class="invalid-feedback">
                      <div *ngIf="gm.specialite.errors.required">
                        {{"userAdminConfMatieres.La_spécialité_du_groupe_de_matiere_est_obligatoire" | translate}}</div>
                    </div>
                  </div>
                  <div class="form-group col-6" *ngIf="authService.isVisible('champ-numero-ordre-groupe')">
                    <label for="ordreGroupe" class="col-form-label">
                      {{"userAdminConfMatieres.Numéro_d_ordre" | translate}}</label>
                    <input class="form-control" type="text"
                           placeholder="{{'userAdminConfMatieres.Numéro_d_ordre' | translate}}" id="ordreGroupe"
                           formControlName="ordre" [ngClass]="{'is-invalid': submitted && gm.ordre.errors }"
                           [readOnly]="!authService.isEditable('champ-numero-ordre-groupe')">
                    <div *ngIf="submitted && gm.ordre.errors" class="invalid-feedback">
                      <div *ngIf="gm.ordre.errors.required">
                        {{"userAdminConfMatieres.Le_numero_d_ordre_du_groupe_de_matiere_est_obligatoire" | translate}}</div>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-sm btn-outline-danger btn-sm ml-4" type="reset" (click)="onResetGM()"
                  *ngIf="authService.isVisible('bouton-effacer-groupe')"
                  [disabled]="!authService.isActif('bouton-effacer-groupe')">
            <i class="icofont icofont-close-circled"></i>
            {{"userAdminConfMatieres.Effacer" | translate}}</button>
          <button class="btn btn-primary btn-sm ml-2 mr-4" type="button" (click)="onSaveGroupeMatiere()"
                  *ngIf="authService.isVisible('bouton-enregister-groupe')"
                  [disabled]="!authService.isActif('bouton-enregister-groupe')">
            <span *ngIf="validated" class="spinner-border spinner-border-sm mr-1" role="status" aria-hidden="true"></span>
            <i class="icofont icofont-check-circled"></i>
            {{"userAdminConfMatieres.Enregistrer" | translate}}</button>
        </div>
      </ng-template>
    </div>
  </div>
</app-card>
