<div class="row">
  <div class="col-md-6 col-xl-3" *ngIf="authService.isVisible('bouton-institution')">
    <div class="card widget-card-1 clickable"
         [routerLink]="authService.isActif('bouton-institution') ? '/administration/configuration/institutions' : ''">
      <div class="card-block-small">
        <i class="icofont icofont-institution bg-c-orenge card1-icon"></i>
        <span class="text-c-orenge f-w-600">
          {{"userAdminConfMenu.Institution" | translate}}</span>
        <h3 class="text-center text-muted">
          <i class="text-c-green icofont icofont-eye-alt"></i>
        </h3>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-yellow f-16 icofont icofont-institution m-r-10"></i>
            {{"userAdminConfMenu.Institution" | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-xl-3" *ngIf="authService.isVisible('bouton-gestion-role')">
    <div class="card widget-card-1 clickable"
         [routerLink]="authService.isActif('bouton-gestion-role') ? '/administration/configuration/gestion-roles' : ''">
      <div class="card-block-small">
        <i class="icofont icofont-key-hole bg-facebook card1-icon"></i>
        <span class="text-c-orenge f-w-600">
          {{"userAdminConfMenu.Gestion_des_roles" | translate}}</span>
        <h3 class="text-center text-muted">
          <i class="text-c-green icofont icofont-eye-alt"></i>
        </h3>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-yellow f-16 icofont icofont-girl-alt m-r-10"></i>
            {{"userAdminConfMenu.Gestion_des_roles" | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-xl-3" *ngIf="authService.isVisible('bouton-etat')">
    <div class="card widget-card-1 clickable"
         [routerLink]="authService.isActif('bouton-etat') ? '/administration/configuration/gestion-etats' : ''">
      <div class="card-block-small">
        <i class="icofont icofont-file-excel bg-c-blue card1-icon"></i>
        <span class="text-c-orenge f-w-600">
          {{"userAdminConfMenu.Gestion_des_etats" | translate}}</span>
        <h3 class="text-center text-muted">
          <i class="text-c-green icofont icofont-eye-alt"></i>
        </h3>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-orenge f-16 icofont icofont-file-alt m-r-10"></i>
            {{"userAdminConfMenu.Gestion_des_etats" | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-xl-3" *ngIf="authService.isVisible('bouton-matiere')">
    <div class="card widget-card-1 clickable"
         [routerLink]="authService.isActif('bouton-matiere') ? '/administration/configuration/matieres' : ''">
      <div class="card-block-small">
        <i class="icofont icofont-book-alt bg-twiter card1-icon"></i>
        <span class="text-c-orenge f-w-600">
          {{"userAdminConfMenu.Matières" | translate}}</span>
        <h3 class="text-center text-muted">
          <i class="text-c-green icofont icofont-eye-alt"></i>
        </h3>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-yellow f-16 icofont icofont-book-mark m-r-10"></i>
            {{"userAdminConfMenu.Matières" | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-xl-3" *ngIf="authService.isVisible('bouton-periode')">
    <div class="card widget-card-1 clickable"
         [routerLink]="authService.isActif('bouton-periode') ? '/administration/configuration/periodes' : ''">
      <div class="card-block-small">
        <i class="icofont icofont-calendar bg-c-green card1-icon"></i>
        <span class="text-c-orenge f-w-600">
          {{"userAdminConfMenu.Périodes" | translate}}</span>
        <h3 class="text-center text-muted">
          <i class="text-c-green icofont icofont-eye-alt"></i>
        </h3>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-yellow f-16 icofont icofont-ui-calendar m-r-10"></i>
            {{"userAdminConfMenu.Périodes" | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3">
    <div class="card widget-card-1 clickable"
         [routerLink]="'/administration/configuration/numerotations'">
      <div class="card-block-small">
        <i class="icofont icofont-listing-number bg-amazon card1-icon"></i>
        <span class="text-c-orenge f-w-600">
          {{"userAdminConfMenu.Numerotations" | translate}}</span>
        <h3 class="text-center text-muted">
          <i class="text-c-green icofont icofont-eye-alt"></i>
        </h3>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-instagram f-16 icofont icofont-numbered m-r-10"></i>
            {{"userAdminConfMenu.Numerotations" | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3">
    <div class="card widget-card-1 clickable"
         [routerLink]="'/administration/configuration/penalite'">
      <div class="card-block-small">
        <i class="icofont icofont-law bg-instagram card1-icon"></i>
        <span class="text-c-orenge f-w-600">
          {{"userAdminConfMenu.Pénalité" | translate}}</span>
        <h3 class="text-center text-muted">
          <i class="text-c-green icofont icofont-eye-alt"></i>
        </h3>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-instagram f-16 icofont icofont-law-book m-r-10"></i>
            {{"userAdminConfMenu.Paramète_Pénalité" | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
