<!-- List remise niveau card start -->
<app-card [title]="'userAppWelcomWelcome.Liste_des_eleves_de_l_établissement'"
          [classHeader]="true" [blockClass]="'table-border-style'">
  <div class="row">
    <div class="col-12 row" [formGroup]="advancedSearchForm">
      <div class="form-group col-3">
        <label for="annee">{{"userAppWelcomWelcome.Année_academique" | translate}}</label>
        <div class="input-group">
          <select class="custom-select form-control" id="annee" formControlName="annee"
                  [ngClass]="{'is-invalid': submitted && af.annee.errors }">
            <option value="">{{"userAppWelcomWelcome.Tous" | translate}}</option>
            <option *ngFor="let annee of annees" value="{{ annee.codeAnnee }}">{{ annee.codeAnnee }}</option>
          </select>
        </div>
      </div>
      <div class="form-group col-3">
        <label for="nomEntite">{{"userAppWelcomWelcome.Niveau_de_recherche" | translate}}</label>
        <div class="input-group">
          <select class="custom-select form-control" (ngModelChange)="initFormFilter()"
                  id="nomEntite" formControlName="nomEntite" [ngClass]="{'is-invalid': submitted && af.nomEntite.errors }">
            <option value="INSTITUTION">{{"userAppWelcomWelcome.Institution" | translate}}</option>
            <option value="ETABLISSEMENT">{{"userAppWelcomWelcome.Etablissement" | translate}}</option>
            <option value="SECTION">{{"userAppWelcomWelcome.Section" | translate}}</option>
            <option value="CYCLE">{{"userAppWelcomWelcome.Cycle" | translate}}</option>
            <option value="NIVEAU">{{"userAppWelcomWelcome.Niveau" | translate}}</option>
            <option value="CLASSE">{{"userAppWelcomWelcome.Classe" | translate}}</option>
          </select>
        </div>
      </div>
      <div class="form-group col-3">
        <label for="idEntite">{{"userAppWelcomWelcome.Entites" | translate}}</label>
        <div class="input-group">
          <select class="custom-select form-control" id="idEntite" formControlName="idEntite"
                  [ngClass]="{'is-invalid': submitted && af.idEntite.errors }">
            <option value="">--- {{"userAppWelcomWelcome.choisir" | translate}} ---</option>
            <ng-container *ngIf="af.nomEntite.value == 'INSTITUTION'">
              <option *ngFor="let entite of entites" value="{{ entite.id_institution }}">{{ entite.nom_institution }}</option>
            </ng-container>
            <ng-container *ngIf="af.nomEntite.value == 'ETABLISSEMENT'">
              <option *ngFor="let entite of entites" value="{{ entite.id_etablissement }}">{{ entite.nom_etablissement }}</option>
            </ng-container>
            <ng-container *ngIf="af.nomEntite.value == 'SECTION'">
              <option *ngFor="let entite of entites" value="{{ entite.id_section }}">{{ entite.nom_section }}</option>
            </ng-container>
            <ng-container *ngIf="af.nomEntite.value == 'CYCLE'">
              <option *ngFor="let entite of entites" value="{{ entite.id_cycle }}">{{ entite.nom_cycle }}</option>
            </ng-container>
            <ng-container *ngIf="af.nomEntite.value == 'NIVEAU'">
              <option *ngFor="let entite of entites" value="{{ entite.id }}">{{ entite.nom_niveau }}</option>
            </ng-container>
            <ng-container *ngIf="af.nomEntite.value == 'CLASSE'">
              <option *ngFor="let entite of entites" value="{{ entite.id }}">{{ entite.nom_classe }}</option>
            </ng-container>
          </select>
        </div>
      </div>
      <div class="form-group col-3">
        <label for="type">{{"userAppWelcomWelcome.Type_d_eleve_a_afficher" | translate}}</label>
        <div class="input-group">
          <select class="custom-select form-control" id="type" formControlName="type"
                  [ngClass]="{'is-invalid': submitted && af.type.errors }">
            <option value="">{{"userAppWelcomWelcome.Tous" | translate}}</option>
            <option value="GENERATION">{{"userAppWelcomWelcome.Génération" | translate}}</option>
            <option value="SOLVABLE">{{"userAppWelcomWelcome.Solvable" | translate}}</option>
            <option value="INSOLVABLE">{{"userAppWelcomWelcome.Insolvable" | translate}}</option>
          </select>
        </div>
      </div>
      <div class="form-group col-3" *ngIf="af.type.value == 'GENERATION'">
        <label for="dateAdmissionDebut">{{"userAppWelcomWelcome.De_la_generation_du" | translate}}</label>
        <div class="input-group">
          <input id="dateAdmissionDebut" class="form-control"  [ngClass]="{'is-invalid': submitted && af.dateAdmissionDebut.errors }"
                 type="date"
                 placeholder="{{'userAppWelcomWelcome.dd_mm_yyyy' | translate}}" formControlName="dateAdmissionDebut">
        </div>
      </div>
      <div class="form-group col-3" *ngIf="af.type.value == 'GENERATION'">
        <label for="dateAdmissionFin">
          {{"userAppWelcomWelcome.A_la_generation_du" | translate}}</label>
        <div class="input-group">
          <input id="dateAdmissionFin" class="form-control"  [ngClass]="{'is-invalid': submitted && af.dateAdmissionFin.errors }"
                 type="date" placeholder="{{'userAppWelcomWelcome.dd_mm_yyyy' | translate}}" formControlName="dateAdmissionFin">
        </div>
      </div>
      <div class="col-12 row">
        <div class="col-6 input-group pl-4" [formGroup]="searchForm">
          <input id="search" class="form-control"
                 placeholder="{{'userAppWelcomWelcome.Rechercher_par_mot_clé' | translate}}" formControlName="search" >
          <div class="input-group-append">
            <button class="btn btn-outline-secondary btn-icon icofont icofont-search-alt-1"
                    (click)="onFilterInscription(search.search.value)" type="button"></button>
          </div>
        </div>
        <div class="col-6 text-right">
          <button class="btn btn-info btn-round btn-sm ml-2 mr-2 m-1" (click)="onConfigImpressionReleve(impressionReleve)">
            <i class="icofont icofont-printer"></i>
            {{"userAppWelcomWelcome.Imprimer_le_releve_de_caisse" | translate}}</button>
          <button class="btn btn-danger btn-round btn-sm ml-2 mr-5 m-1" (click)="onPrintGenericsResult()">
            <i class="icofont icofont-printer"></i>
            {{"userAppWelcomWelcome.Imprimer_le_resultat" | translate}}</button>
        </div>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>{{"userAppWelcomWelcome.Matricule" | translate}}</th>
        <th>{{"userAppWelcomWelcome.Classe" | translate}}</th>
        <th>{{"userAppWelcomWelcome.Noms_et_prénoms" | translate}}</th>
        <th>{{"userAppWelcomWelcome.Sexe" | translate}}</th>
        <th>{{"userAppWelcomWelcome.Statut" | translate}}</th>
        <th>{{"userAppWelcomWelcome.Options" | translate}}</th>
      </tr>
      </thead>
      <tbody *ngIf="inscriptions">
      <tr *ngFor="let inscription of inscriptions; let i = index" (dblclick)="onOpenRecapPage(inscription.idInscription)">
        <th scope="row">{{ i+1 }}</th>
        <td>{{ inscription.matricule }}</td>
        <td>{{ inscription.nomClasse }}</td>
        <td>{{ inscription.nomEleve }} {{ inscription.prenomEleve }}</td>
        <td>{{ inscription.sexe }}</td>
        <td>{{ inscription.statut }}</td>
        <td class="p-1">
          <div [ngClass]="'icon-btn p-0 m-0'">
            <button class="btn btn-warning btn-icon"
                    title="{{'userAppWelcomWelcome.imprimer_l_etat_financier_de_l_eleve' | translate}}" (click)="onImpressionEtatFinancier(inscription.idInscription, inscription.matricule)">
              <i class="icofont icofont-printer"></i></button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-12">
      <ng-template #impressionReleve let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="print-releve">
            {{"userAppWelcomWelcome.Releve_de_caisse_a_imprimer" | translate}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true" class="icofont icofont-close-line-squared text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="impressionReleveForm">
            <div class="form-group">
              <label for="dateDebut">
                {{"userAppWelcomWelcome.Debut" | translate}}</label>
              <div class="input-group">
                <input id="dateDebut" class="form-control"  [ngClass]="{'is-invalid': submitted && f.dateDebut.errors }"
                       type="date"
                       placeholder="{{'userAppWelcomWelcome.dd_mm_yyyy' | translate}}" formControlName="dateDebut">
                <div *ngIf="submitted && f.dateDebut.errors" class="invalid-feedback">
                  <div *ngIf="f.dateDebut.errors.required">
                    {{"userAppWelcomWelcome.Selectionner_la_date_de_debut_des_operations" | translate}}</div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="dateFin">{{"userAppWelcomWelcome.Fin" | translate}}</label>
              <div class="input-group">
                <input id="dateFin" class="form-control"  [ngClass]="{'is-invalid': submitted && f.dateFin.errors }"
                       type="date" placeholder="{{'userAppWelcomWelcome.dd_mm_yyyy' | translate}}" formControlName="dateFin">
                <div *ngIf="submitted && f.dateFin.errors" class="invalid-feedback">
                  <div *ngIf="f.dateFin.errors.required">
                    {{"userAppWelcomWelcome.Selectionner_la_date_de_fin_des_operations" | translate}}</div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger mr-2" (click)="onReset()">
            {{"userAppWelcomWelcome.Annuler" | translate}}</button>
          <button type="button" (click)="onPrintReleveCaisse()" class="btn btn-primary">
            {{"userAppWelcomWelcome.Valider" | translate}}</button>
        </div>
      </ng-template>
    </div>
  </div>
</app-card>
<!-- List remise niveau card end -->
