<!-- List remise niveau card start -->
<app-card [title]="'userAdminConfNum.Liste_des_inscriptions_de_l_établissement'"
  [classHeader]="true" [blockClass]="'table-border-style'">
  <div class="row" *ngIf="authService.isVisible('champ-recherche-motcle')">
    <div class="col-5 input-group pl-4" [formGroup]="searchForm">
      <input list="inscriptionSearch" id="search" class="form-control"
             placeholder="{{'userEleveListeMenu.Search' | translate}}" formControlName="search"
        [readOnly]="!authService.isEditable('champ-recherche-motcle')"
        (ngModelChange)="onreloadListInscription(search.search.value, true)">
      <datalist id="inscriptionSearch" *ngIf="listInscriptionFiltre">
        <option value="{{ inscription.matricule }}"  *ngFor="let inscription of listInscriptionFiltre">{{ inscription.noms }}</option>
      </datalist>
      <div class="input-group-append">
        <span class="input-group-text icofont icofont-search clickable"
          (click)="authService.isActif('bouton-rechercher') ? onFilterInscription(search.search.value, true) : ''"></span>
      </div>
    </div>
    <div class="col-7 text-right">
      <ng-container *ngIf="authService.isVisible('bouton-inscrire-eleve')">
        <button class="btn btn-primary btn-sm ml-2 mr-2 m-1"
          [disabled]="!authService.isActif('bouton-inscrire-eleve')"
          (click)="onInscrireNouvelEleve()">
          <i class="icofont icofont-plus"></i>
          {{"userEleveListeMenu.Nouvel_élève" | translate}}</button>
      </ng-container>
      <ng-container *ngIf="authService.isVisible('bouton-ajouter-liste-inscription')">
        <button class="btn btn-danger btn-sm ml-2 mr-2 m-1"
          [disabled]="!authService.isActif('bouton-ajouter-liste-inscription')"
          (click)="onAjouterListeInscription()">
          <i class="icofont icofont-plus"></i>
          {{"userEleveListeMenu.Liste_d_inscription" | translate}}</button>
      </ng-container>
    </div>
  </div>
  <div class="table-responsive table-xs">
    <table class="table table-responsive-xl table-striped table-hover table-xs">
      <thead>
        <tr>
          <th>#</th>
          <th>{{"userEleveListeMenu.Matricule" | translate}}</th>
          <th>{{"userEleveListeMenu.Eleve_Classe_Sexe_Statut" | translate}}</th>
          <th>{{"userEleveListeMenu.Ecolage" | translate}}</th>
          <th>{{"userEleveListeMenu.Actions" | translate}}</th>
        </tr>
      </thead>
      <tbody *ngIf="inscriptions">
        <tr *ngFor="let inscription of inscriptions | paginate: {
        itemsPerPage: pageSize, currentPage: page + 1, totalItems: totalElements
        }; let i = index"
          title="{{'userEleveListeMenu.Double_clicker_pour_afficher_l_etat_financier_de' | translate}} {{ inscription.nomEleve }}"
          (dblclick)="onOpenRecapPage(inscription)"
          [ngClass]="inscription.inscrit == true ? '' : 'text-blue-normal'">
          <th scope="row">{{ i+1 }}</th>
          <td class="text-small">{{ inscription.matricule }}</td>
          <td class="text-small">{{ inscription.noms }} | {{ inscription.classe }} | {{ inscription.sexe }} | {{ inscription.statut }}</td>
          <td class="text-small">{{ inscription.finance }}</td>
          <td class="p-1">
            <div [ngClass]="'icon-btn p-0 m-0'">
              <div class="d-inline-block" ngbDropdown placement="bottom-left" display="static" #myDrop="ngbDropdown">
                <button class="btn btn-outline-info btn-sm mr-2" id="dropdownManual" ngbDropdownToggle>
                  {{"userEleveListeMenu.Actions" | translate}}</button>
                <div ngbDropdownMenu aria-labelledby="dropdownManual">
                  <ng-container *ngIf="authService.isVisible('bouton-dossier-inscription-eleve')">
                    <button ngbDropdownItem class="btn-default btn-sm mr-3" (click)="onInscrireEleve(inscription)"
                            title="{{'userEleveListeMenu.Remplir_son_dossier_d_inscriptions' | translate}}"
                      [disabled]="!authService.isActif('bouton-dossier-inscription-eleve') || !authService.canEditData(inscription.anneeAcademique)">
                      <em class="icofont icofont-money-bag mr-2"></em>
                      {{"userEleveListeMenu.Dossier_d_inscription" | translate}}</button>
                  </ng-container>
                  <ng-container *ngIf="authService.isVisible('bouton-payer-frais-inscription-eleve')">
                    <button ngbDropdownItem class="btn-default btn-sm mr-3" (click)="onPayerFraisInscriptions(inscription, reglerfrais)"
                            title="{{'userEleveListeMenu.Payer_ses_frais_d_inscriptions' | translate}}"
                      [disabled]="!authService.isActif('bouton-payer-frais-inscription-eleve') || !authService.canEditData(inscription.anneeAcademique)">
                      <em class="icofont icofont-money mr-2"></em>
                      {{"userEleveListeMenu.Payer_inscription" | translate}}</button>
                  </ng-container>
                  <ng-container *ngIf="authService.isVisible('bouton-attribuer-bourse-eleve')">
                    <button ngbDropdownItem class="btn-default btn-sm mr-3"
                            title="{{'userEleveListeMenu.Attribuer_une_bourse_a_cet_élève' | translate}}"
                      [disabled]="!authService.isActif('bouton-attribuer-bourse-eleve') || !authService.canEditData(inscription.anneeAcademique)"
                      (click)="onOpenModalBourseEleve(inscription.matricule, attribuerbourse)">
                      <em class="icofont icofont-hat-alt mr-2"></em>
                      {{"userEleveListeMenu.Attribuer_bourse" | translate}}</button>
                  </ng-container>
                  <ng-container *ngIf="authService.isVisible('bouton-imprimer-etat-financier-eleve')">
                    <button ngbDropdownItem class="btn-default btn-sm mr-3"
                      [disabled]="!authService.isActif('bouton-imprimer-etat-financier-eleve')"
                      (click)="onImpressionEtatFinancier(inscription.idInscription, inscription.matricule)">
                      <em class="icofont icofont-printer mr-2"></em>
                      {{"userEleveListeMenu.Imprimer_etat_financier" | translate}}</button>
                  </ng-container>
                  <ng-container>
                    <button ngbDropdownItem class="btn-default btn-sm mr-3" (click)="onDeleteInscription(inscription)"
                            title="{{'userEleveListeMenu.Supprimer_cet_inscription_du_système' | translate}}"
                      [disabled]="!authService.canEditData(inscription.anneeAcademique)">
                      <em class="icofont icofont-trash mr-2"></em>
                      {{"userEleveListeMenu.Supprimer_l_inscription" | translate}}</button>
                  </ng-container>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls style="text-align:center; vertical-align:middle;"
                         autoHide="true"
      [maxSize]="10"
      (pageChange)="setPageChange($event)"></pagination-controls>
    <div *ngIf="!inscriptions" class="row">
      <div class="col-12 text-center">
        <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status"><span class="sr-only">
          {{"userEleveListeMenu.Loading" | translate}}...</span></div>
        <div class="spinner-border text-warning" style="width: 3rem; height: 3rem;" role="status"><span class="sr-only">
          {{"userEleveListeMenu.Loading" | translate}}...</span></div>
        <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status"><span class="sr-only">
          {{"userEleveListeMenu.Loading" | translate}}...</span></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ng-template #reglerfrais let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h5 class="modal-title" id="payer-inscription">
            {{"userEleveListeMenu.Reglement_des_frais_d_inscription" | translate}}
            <ng-container *ngIf="currentInscription" class="text-c-blue">
              - ({{ currentInscription.matricule }},{{ currentInscription.noms }}  {{ currentInscription.classe }})
            </ng-container>
          </h5>
          <button type="button" class="close" aria-label="Close" (click)="onResetScolarite()">
            <span aria-hidden="true" class="icofont icofont-close-line-squared-alt text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="scolariteForm" (ngSubmit)="onReglerInscription(idEleve)">
            <div class="row">
              <div *ngIf="resteAVerser != null" class="form-group col-sm-6" [ngClass]="isAuto == true ? 'col-sm-12' : 'col-sm-6'">
                <label for="montantAVerser">
                  {{"userEleveListeMenu.Entrer_ici_le_montant_a_verser" | translate}} <span class="text-c-blue text-bold">
                  {{"userEleveListeMenu._Maximun" | translate}} {{resteAVerser}}{{"userEleveListeMenu.)" | translate}}</span></label>
                <div class="input-group" >
                  <input type="number" id="montantAVerser" formControlName="montantAVerser"
                    [ngClass]="{'is-invalid': submitted && s.montantAVerser.errors }"
                         class="form-control"
                         placeholder="{{'userEleveListeMenu.Montant_a_verser_pour_inscription' | translate}}">
                  <div *ngIf="submitted && s.montantAVerser.errors" class="invalid-feedback">
                    <div *ngIf="s.montantAVerser.errors.required">
                      {{"userEleveListeMenu.Le_montant_a_verser_pour_inscription_est_obligatoire" | translate}}</div>
                    <div *ngIf="s.montantAVerser.errors.min">
                      {{"userEleveListeMenu.Le_montant_a_verser_doit_etre_positif" | translate}}</div>
                    <div *ngIf="s.montantAVerser.errors.max">{{resteAVerser > 0 ? 'Le montant a verser doit etre au maximum ' + resteAVerser : 'Plus de versement a effectuer'}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-6" *ngIf="isAuto == false && echeanciersEleve"
                [ngClass]="isAuto == true ? 'col-sm-12' : 'col-sm-6'">
                <label for="service">
                  {{"userEleveListeMenu.Service_a_regler" | translate}}</label>
                <div class="input-group">
                  <select class="custom-select form-control" [ngClass]="{'is-invalid': submitted && s.service.errors }"
                    (ngModelChange)="onUpdateResteAverser()" id="service" formControlName="service">
                    <option value="">
                      {{"userEleveListeMenu.Choisir_le_service_à_regler" | translate}}</option>
                    <option *ngFor="let echeancier of echeanciersEleve" value="{{ echeancier.id }}">{{ echeancier.modeleEcheancier.intitule }}</option>
                  </select>
                  <div *ngIf="submitted && s.service.errors" class="invalid-feedback">
                    <div *ngIf="s.service.errors.required">
                      {{"userEleveListeMenu.Le_choix_du_service_a_régler_est_obligatoire" | translate}}</div>
                  </div>
                  <div *ngIf="submitted && s.service.errors" class="invalid-feedback">
                    <div *ngIf="s.service.errors.required">
                      {{"userEleveListeMenu.Lorsque_vous_choisissez_l_option_manuel" | translate}}</div>
                  </div>
                </div>
              </div>

              <div class="col-12">
                <div class="form-check form-check-inline">
                  {{"userEleveListeMenu.Est_ce_que_le_reglement_des_services_doit_etre_automatique" | translate}}</div>
                <div class="form-check form-check-inline">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="isTransfert" id="inlineRadio1"
                      [value]="true" [(ngModel)]="isAuto" [ngModelOptions]="{standalone: true}" (ngModelChange)="onChangeOptions()">
                    <label class="form-check-label" for="inlineRadio1">
                      {{"userEleveListeMenu.Oui" | translate}}</label>
                  </div>
                  <input class="form-check-input" type="radio" name="isTransfert" id="inlineRadio2"
                    [value]="false" [(ngModel)]="isAuto" [ngModelOptions]="{standalone: true}" (ngModelChange)="onChangeOptions()">
                  <label class="form-check-label" for="inlineRadio2">
                    {{"userEleveListeMenu.Non" | translate}}</label>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-outline-danger mr-2" (click)="onResetScolarite()">
            {{"userEleveListeMenu.Annuler" | translate}}</button>
          <button type="button" [disabled]="validated" class="btn btn-sm btn-primary" (click)="onReglerInscription(idEleve)">
            <span *ngIf="validated" class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>
            {{"userEleveListeMenu.Enregistrer" | translate}}</button>
        </div>
      </ng-template>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <ng-template #attribuerbourse let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="attribuer-bourse">
            {{"userEleveListeMenu.Attribution_d_une_bourse_a_un_élève" | translate}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true" class="icofont icofont-close-line-squared-alt text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="bourseForm" (ngSubmit)="onAttribuerBourseEleve(idEleve)">
            <div class="form-group" *ngIf="bourses">
              <label for="service">
                {{"userEleveListeMenu.Bourse_à_utiliser" | translate}}</label>
              <div class="input-group">
                <select class="custom-select form-control" [ngClass]="{'is-invalid': submitted && b.bourse.errors }"
                        id="bourse" formControlName="bourse">
                  <option value="">
                    {{"userEleveListeMenu.Choisir_la_bourse_a_utiliser" | translate}}</option>
                  <option *ngFor="let bourse of bourses" value="{{ bourse.id }}">{{ bourse.intitule_bourse }} - {{ bourse.montant_bourse }}</option>
                </select>
                <div *ngIf="submitted && b.bourse.errors" class="invalid-feedback">
                  <div *ngIf="b.bourse.errors.required">
                    {{"userEleveListeMenu.Le_choix_de_la_bourse_est_obligatoire" | translate}}</div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="anneeAc">{{"userEleveListeMenu.Année_academique" | translate}}</label>
              <div class="input-group">
                <input type="number" id="anneeAc" formControlName="anneeAc" [ngClass]="{'is-invalid': submitted && b.anneeAc.errors }"
                       class="form-control"
                       placeholder="{{'userEleveListeMenu.L_année_academique_de_l_application_de_la_bourse' | translate}}" [readOnly]="true">
                <div *ngIf="submitted && b.anneeAc.errors" class="invalid-feedback">
                  <div *ngIf="b.anneeAc.errors.required">
                    {{"userEleveListeMenu.Année_academique_obligatoire" | translate}}</div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-outline-danger mr-2" (click)="onResetBourse()">
            {{"userEleveListeMenu.Annuler" | translate}}</button>
          <button type="button" class="btn btn-sm btn-primary" (click)="onAttribuerBourseEleve(idEleve)">
            {{"userEleveListeMenu.Enregistrer" | translate}}</button>
        </div>
      </ng-template>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <ng-template #contentListEleve let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="add-list-eleve">
            {{"userEleveListeMenu.Importer_le_fichier_excel" | translate}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true" class="icofont icofont-close-line-squared-alt text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="nomModele">{{"userEleveListeMenu.Nom_du_modèle" | translate}}</label>
              <div class="input-group">
                <input type="text" id="nomModele" formControlName="nomModele"
                       class="form-control"
                       placeholder="{{'userEleveListeMenu.Nom_du_modèle' | translate}}">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark mr-2" (click)="onResetImport()">
            {{"userEleveListeMenu.Annuler" | translate}}</button>
          <button type="button" (click)="onUploadList()" class="btn btn-primary">
            {{"userEleveListeMenu.Enregistrer" | translate}}</button>
        </div>
      </ng-template>
    </div>
  </div>
</app-card>
<!-- List remise niveau card end -->

