<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
  <div class="auth-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="login-card card-body auth-body">
          <form class="md-float-material" *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <div class="text-center">
              <img src="../../../../assets/images/auth/logo-dark.png" alt="logo.png"> Aurore
            </div>
            <div class="auth-box">
              <div class="row m-b-20">
                <div class="col-md-12">
                  <h3 class="text-left txt-primary">{{"top.Enter_the_6_digit" | translate}}</h3>
                </div>
              </div>
              <hr/>
              <div class="input-group">
                <input type="text" name="code" [(ngModel)]="form.code" required minlength="6" #code="ngModel" class="form-control"
                       placeholder="{{'userAdminNote.Your_Email_Address' | translate}}">
                <span class="md-line"></span>
              </div>
              <div class="alert alert-danger input-group" role="alert" *ngIf="f.submitted && code.invalid">
                <div *ngIf="code.errors.required">{{"top.Code_is_required" | translate}}</div>
                <div *ngIf="code.errors.minlength">{{"top.Code_must_be_at_least_6_characters" | translate}}</div>
              </div>
              <div class="row m-t-30">
                <div class="col-md-12">
                  <button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">
                    {{"top.Sign_in" | translate }}</button>
                </div>
                <div class="col-md-12">
                  <div class="alert alert-danger" role="alert" *ngIf="isLoginFailed">{{"top.Login_failed" | translate}} {{ errorMessage }}</div>
                </div>
              </div>
              <hr/>
              <div class="row">
                <div class="col-md-10">
                  <p class="text-inverse text-left m-b-0">{{"top.Thank_you_and_enjoy_our_website" | translate}}</p>
                  <p class="text-inverse text-left"><b>{{"top.Your_Autentification_Team" | translate}}</b></p>
                </div>
                <div class="col-md-2">
                  <img src="../../../../assets/images/auth/Logo-small-bottom.png" alt="small-logo.png">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
