<app-card [icone]="''" [title]="'userAdminNote.Remplissage_des_absences'">
  <div class="card b-l-danger business-info services">
    <div class="card-body p-1">
      <div class="row">
        <div class="col-sm-6">
          <p class="task-detail"><span>
            {{"userCensoratRemplir.Année_scolaire" | translate}} &nbsp;&nbsp; </span><span class="text-bold">{{ tokenStorage.getUser().codeAnnee }}</span></p>
          <p class="task-detail"><span>
            {{"userCensoratRemplir.Trimestre" | translate}}&nbsp;&nbsp; </span><span class="text-bold">{{ currentSequence?.nomTrimestre }}</span></p>
          <p class="task-detail"><span>
            {{"userCensoratRemplir.Sequence" | translate}}&nbsp;&nbsp; </span><span class="text-bold">{{ currentSequence?.nomSequence }}</span></p>
        </div>
        <div class="col-sm-6">
          <p class="task-detail"><span>
            {{"userCensoratRemplir.Classe" | translate}}&nbsp;&nbsp; </span><span class="text-bold">{{ currentClasse?.nomClasse }}</span></p>
        </div>
        <div class="col text-center text-bold">
          {{"userCensoratRemplir.Pressez_la_touche" | translate}} <span class="text-danger">
          {{"userCensoratRemplir.Enter_ou_Entrée" | translate}} </span>
          {{"userCensoratRemplir.ou" | translate}} <span class="text-danger">
          {{"userCensoratRemplir.Insert_ou_Inser" | translate}}</span>
          {{"userCensoratRemplir.pour_enregistrer_les_lignes_modifiées" | translate}}
        </div>
      </div>
    </div>
  </div>
  <div class="table-responsive" *ngIf="eleves">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>{{"userCensoratRemplir.Matricule" | translate}}</th>
        <th>{{"userCensoratRemplir.Noms_et_prénoms" | translate}}</th>
        <th>
          {{"userCensoratRemplir.Absences" | translate}}
          <button type="button" (click)="onRefreshAbsence()"
                  class="btn btn-primary btn-sm ml-4">Rafraichir</button>
        </th>
      </tr>
      </thead>
      <tbody *ngFor="let eleve of tSequences.controls; let i = index">
      <tr [formGroup]="eleve">
        <th scope="row">{{ i+1 }}</th>
        <td>
          <a (click)="onloadEditAbsence(eleve.value.matricule, currentClasse.id)"
             title="Justifier absence">{{ eleve.value.matricule }}</a>
        </td>
        <td>{{ eleve.value.noms }}</td>
        <td>
          <input class="form-control" formControlName="absence" (ngModelChange)="onChanStateUpdate(i)" id="ex1" min="0"
                 type="number" lang="en" [value]="eleve.value.absence">
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-12">
      <ng-template #modalSelectSequence let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="select-sequence">
            {{"userCensoratRemplir.Remplissage_des_absences" | translate}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="onResetSaisieAbsences(true)">
            <span aria-hidden="true" class="icofont icofont-close-line-squared-alt text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="selectSequenceClasseForm">
            <ng-container *ngIf="formSelect">
              <div class="form-group" *ngIf="authService.isVisible('liste-sequence')">
                <label for="sequence">
                  {{"userCensoratRemplir.Séquence" | translate}}</label>
                <select formControlName="sequence" class="custom-select form-control" id="sequence"
                        [attr.disabled]="authService.isEditable('liste-sequence') == true ? null : true"
                        [ngClass]="{'is-invalid': submitted && f.sequence.errors }">
                  <option value="">--- {{"userCensoratRemplir.Sélectionner_une_séquence" | translate}} ---</option>
                  <option *ngFor="let sequence of formSelect.sequences" value="{{ sequence.id }}">{{ sequence.nomSequence }}</option>
                </select>
                <div *ngIf="submitted && f.sequence.errors" class="invalid-feedback">
                  <div *ngIf="f.sequence.errors.required">
                    {{"userCensoratRemplir.Le_choix_de_la_séquence_est_obligatoire" | translate}}</div>
                </div>
              </div>
              <div class="form-group" *ngIf="authService.isVisible('liste-classe')">
                <label for="classe">Classe</label>
                <select formControlName="classe" class="custom-select form-control" id="classe"
                        [attr.disabled]="authService.isEditable('liste-classe') == true ? null : true"
                        [ngClass]="{'is-invalid': submitted && f.classe.errors }">
                  <option value="">--- {{"userCensoratRemplir.Sélectionnez_une_de_vos_classes" | translate}} ---</option>
                  <option *ngFor="let classe of formSelect.classes" value="{{ classe.nomClasse }}">{{ classe.nomClasse }}</option>
                </select>
                <div *ngIf="submitted && f.classe.errors" class="invalid-feedback">
                  <div *ngIf="f.classe.errors.required">
                    {{"userCensoratRemplir.Le_choix_de_la_classe_est_obligatoire" | translate}}</div>
                </div>
              </div>
            </ng-container>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary btn-sm ml-5 mr-4"
                  [disabled]="!authService.isActif('bouton-suivant')"
                  *ngIf="authService.isVisible('bouton-suivant')"
                  (click)="onDisplayListeEleve()">
            {{"userCensoratRemplir.Suivant" | translate}}&nbsp;&nbsp;<i class="icofont icofont-circled-right"></i></button>
          <button class="btn btn-outline-danger btn-sm ml-4"
                  [disabled]="!authService.isActif('bouton-effacer')"
                  *ngIf="authService.isVisible('bouton-effacer')"
                  (click)="onResetSaisieAbsences(true)"><i class="icofont icofont-close-circled"></i>
            {{"userCensoratRemplir.Effacer" | translate}}&nbsp;&nbsp;</button>
        </div>
      </ng-template>
    </div>
  </div>
</app-card>

