<!-- List classe card start -->
<app-card [title]="'userAdminFinancesTransfert.Les_niveaus_disponibles'" [classHeader]="true" [blockClass]="'table-border-style'">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>{{"userAdminFinancesTransfert.Nom_du_niveau" | translate}}</th>
        <th>{{"userAdminFinancesTransfert.Numero_d_ordre" | translate}}</th>
        <th>{{"userAdminFinancesTransfert.Options" | translate}}</th>
      </tr>
      </thead>
      <tbody *ngIf="niveaux">
      <tr *ngFor="let niveau of niveaux let i = index">
        <th scope="row">{{ i+1 }}</th>
        <td>{{ niveau.nomNiveau }}</td>
        <td>{{ niveau.numeroOrdre }} </td>
        <td class="p-1">
          <div [ngClass]="'icon-btn p-0 m-0'">
            <button class="btn btn-secondary btn-browser btn-sm mr-2"
                    title="{{'userAdminFinancesTransfert.Transfer_la_configuration' | translate}}" type="button"
                    (click)="onOpenModalTransfert(niveau, modalTransfertConfig)"
            ><em class="icofont icofont-copy"></em>
              {{"userAdminFinancesTransfert.Transfert_config" | translate}}
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="row" *ngIf="niveaux">
      <div class="col-12 text-center h4" *ngIf="niveaux.length == 0">
        {{"userAdminFinancesTransfert.Aucune_donnée_disponible" | translate}}</div>
    </div>
  </div>

  <div class="row" >
    <div class="col-12">
      <ng-template #modalTransfertConfig let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header" *ngIf="currentNiveau">
          <h4 class="modal-title" id="transfert-config">
            {{"userAdminFinancesTransfert.Transfert_de_configuration_du_niveau" | translate}} {{ currentNiveau.nomNiveau }}</h4>
          <button type="button" class="close" aria-label="Close" (click)="onResetTransfertConfig()">
            <span aria-hidden="true" class="icofont icofont-close-line-squared text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="transfertConfigForm">
            <div class="row" *ngIf="niveaux">
              <div class="form-group col-md-12 col-xl-12">
                <label for="niveauxDest" class="col-form-label">
                  {{"userAdminFinancesTransfert.Choisir_les_niveaux_destination_pour_la_configuration" | translate}}</label>
                <ng-multiselect-dropdown id="niveauxDest" #selectNiveaux [ngClass]="{'is-invalid': submitted && f.niveauxDest.errors }"
                                         [placeholder]="placeholder" [data]="dataFiltre" formControlName="niveauxDest"
                                         [settings]="settings"></ng-multiselect-dropdown>
                <div *ngIf="submitted && f.niveauxDest.errors" class="invalid-feedback">
                  <div *ngIf="f.niveauxDest.errors.required">
                    {{"userAdminFinancesTransfert.Le_choix_d_au_moins_un_niveau_est_obligatoire" | translate}}</div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button"
                  class="btn btn-outline-danger btn-sm mr-2" (click)="onResetTransfertConfig()">
            {{"userAdminFinancesTransfert.Annuler" | translate}}</button>
          <button type="button"
                  (click)="onValidTransfertConfig()" class="btn btn-primary btn-sm">
            {{"userAdminFinancesTransfert.Valider" | translate}}</button>
        </div>
      </ng-template>
    </div>
  </div>

</app-card>
<!-- List classe card end -->

