<app-card [title]="'userAdminConfGestRoles.Gestion_des_privilèges_utilisateurs'" >
  <div class="row" *ngIf="privileges">
    <div class="col-md-3 m-0" *ngFor="let privilege of privileges">
      <div class="card b-l-success business-info services m-b-10"
           [ngClass]="privilege==currentRole ? 'text-white bg-secondary' : ''">
        <div ngbDropdown class="card-header" #myDrop="ngbDropdown" display="static">
          <div class="service-header">
            <a href="javascript:;" (click)="$event.stopPropagation(); myDrop.open();">
              <h5 class="card-header-text" [ngClass]="privilege==currentRole ? 'text-white bg-secondary' : ''">{{ privilege.name }}</h5>
            </a>
          </div>
          <span ngbDropdownToggle class="dropdown-toggle addon-btn text-muted f-right service-btn"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" role="tooltip"></span>
          <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right b-none services-list">
            <a class="dropdown-item" href="javascript:;" (click)="onloadFormTransfertAction(privilege, modalRoleActions)">
              <i class="icofont icofont-user-alt-5"></i>{{"userAdminConfGestRoles.Transfert_Actions" | translate}}</a>
            <a class="dropdown-item" href="javascript:;" (click)="onSelectRoleToEdit(privilege)"><i class="icofont icofont-pencil-alt-5"></i>
              {{"userAdminConfGestRoles.Modifier" | translate}}</a>
            <a class="dropdown-item" href="javascript:;" (click)="onRefreshRoleAction()"><i class="icofont icofont-refresh"></i>
              {{"userAdminConfGestRoles.Reactualiser" | translate}}</a>
            <a class="dropdown-item" href="javascript:;" (click)="onDeleteRole(privilege.roleId)"><i class="icofont icofont-ui-delete"></i>
              {{"userAdminConfGestRoles.Supprimer" | translate}}</a>
          </div>
        </div>
        <div class="card-body p-1 clickable" (click)="$event.stopPropagation(); myDrop.open();">
          <div class="row">
            <div class="col-7">
              <!-- <p class="task-detail">-10 Utilisateurs-</p>-->
              <p class="task-detail pl-4">{{ privilege.description }}</p>
            </div>
            <div class="col-2">
              <span class="icofont icofont-users-alt-5 icofont-4x text-default"></span>
            </div>
            <!-- end of col-sm-8 -->
          </div>
          <!-- end of row -->
        </div>
        <!-- end of card-body -->
      </div>
    </div>
    <div class="col-3">
      <button class="btn btn-facebook" type="button"
              [disabled]="!authService.isActif('bouton-plus')"
              (click)="onOpenFormEditRole(null, modalEditRole)">
        <span class="icofont icofont-plus icofont-2x" role="status" aria-hidden="true"></span>
        <span class="sr-only">{{"userAdminConfGestRoles.Loading" | translate}}...</span>
      </button>
    </div>
  </div>
  <ng-container *ngIf="objectsModules && currentRole">
    <app-card class="p-1 mb-0 pb-0 mt-1 pt-1" *ngFor="let objet of objectsModules; let i=index"
              [title]="objet.module.nomModule" [blockClass]="'accordion-block'">
      <ngb-accordion #acc="ngbAccordion" *ngFor="let item of objet.fenetres; let j=index" class="range-accordion">
        <ngb-panel id="togglem-{{j+1}}" class="custom-card-accordion p-1 mb-0">
          <ng-template ngbPanelTitle>
            <div class="d-flex justify-content-between">
              <div class="d-flex">
                <span style="font-weight: bold; color: #1c2128;">{{ item.fenetre.libelleFenetre }}</span>
                <span>{{ ' ( ' +item.fenetre.description+ ' ) ' }}</span>
              </div>
              <div class="d-flex justify-content-end pt-1"><i class="icofont icofont-caret-down"></i></div>
            </div>
          </ng-template>
          <ng-template ngbPanelContent>
            <h3 *ngIf="item.actions.length == 0">
              {{"userAdminConfGestRoles.Aucune_donnée_disponible" | translate}}</h3>
            <ul class="list-group" >
              <li class="list-group-item d-flex justify-content-between align-items-center row p-1">
                <span class="col-7">
                     <input type="checkbox" (change)="onAllActionCheckboxChange($event, item)" class="mr-3"
                            [checked]="allSelectAction && item.fenetre.id == idCurrentFenetre"
                            data-toggle="toggle" data-size="xs" data-onstyle="warning">
                  {{"userAdminConfGestRoles.Tout_selectionner" | translate}}
                </span>
                <label for="allactif" class="badge badge-warning badge-pill">{{"userAdminConfGestRoles.Tout" | translate}}</label>
                <input id="allactif" type="checkbox"  (change)="onAllActifCheckboxChange($event, item)"
                       [checked]="allSelectActif && item.fenetre.id == idCurrentFenetre" [disabled]="!allSelectAction">
                <label for="allvisible" class="badge badge-warning badge-pill">Tout</label>
                <input id="allvisible" type="checkbox"  (change)="onAllVisibleCheckboxChange($event, item)"
                       [checked]="allSelectVisible && item.fenetre.id == idCurrentFenetre" [disabled]="!allSelectAction">
                <label for="alleditable" class="badge badge-warning badge-pill">Tout</label>
                <input id="alleditable" type="checkbox"  (change)="onAllEditableCheckboxChange($event, item)"
                       [checked]="allSelectEditable && item.fenetre.id == idCurrentFenetre" [disabled]="!allSelectAction">
              </li>
            </ul>
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center row p-1" *ngFor="let itemAction of item.actions">
                <span class="col-7">
                                    <em *ngIf="itemAction.typeObjet == 2" class="icofont icofont-wireless-mouse mr-2"></em>
                                    <em *ngIf="itemAction.typeObjet == 1" class="icofont icofont-listing-box mr-2"></em>
                                    <em *ngIf="itemAction.typeObjet == 0" class="icofont icofont-navigation-menu mr-2"></em>
                                    <em *ngIf="itemAction.typeObjet == 3" class="icofont icofont-underline mr-2"></em>
                                    <em *ngIf="itemAction.typeObjet == 4" class="icofont icofont-listing-number mr-2"></em>
                                    <em *ngIf="itemAction.typeObjet == 5" class="icofont icofont-printer mr-2"></em>
                  {{ itemAction.libelleAction }}
                </span>
                <label for="actif" class="badge badge-primary badge-pill">{{"userAdminConfGestRoles.Actif" | translate}}</label>
                <input id="actif" type="checkbox" [value]="itemAction.id"
                       (change)="onActifCheckboxChange($event, itemAction, item.fenetre)"
                       [checked]="(allSelectActif && item.fenetre.id == idCurrentFenetre) ||
                        (itemAction.conditionActif == 'true' && rolesActions.length == 0)">
                <label for="visible" class="badge badge-primary badge-pill">{{"userAdminConfGestRoles.Visible" | translate}}</label>
                <input id="visible" type="checkbox" [value]="itemAction.id"
                       (change)="onVisibleCheckboxChange($event, itemAction, item.fenetre)"
                       [checked]="(allSelectVisible && item.fenetre.id == idCurrentFenetre) ||
                       (itemAction.conditionVisible == 'true' && rolesActions.length == 0)">
                <label for="editable" class="badge badge-primary badge-pill">
                  {{"userAdminConfGestRoles.Editable" | translate}}</label>
                <input id="editable" type="checkbox" [value]="itemAction.id"
                       (change)="onEditableCheckboxChange($event, itemAction, item.fenetre)"
                       [checked]="(allSelectEditable && item.fenetre.id == idCurrentFenetre) ||
                        (itemAction.conditionEditable == 'true' && rolesActions.length == 0)">
              </li>
            </ul>
            <div class="row" *ngIf="rolesActions.length > 0 && item.fenetre.id == idCurrentFenetre">
              <div class="col-12 d-flex justify-content-end">
                <button class="btn btn-primary btn-sm ml-5 mt-2" (click)="onAddActionsToRole()">
                  <i class="icofont icofont-check-circled"></i>{{"userAdminConfGestRoles.Valider_opération" | translate}}</button>
              </div>
            </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </app-card>
  </ng-container>
  <div class="row">
    <div class="col-12">
      <ng-template #modalEditRole let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="edit-roles">
            {{"userAdminConfGestRoles.Edition_de_role" | translate}} <span *ngIf="currentRole">{{ currentRole.description}}</span></h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true" class="icofont icofont-close-line-squared text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="roleForm">
            <div class="form-group" *ngIf="authService.isVisible('champ-nom-role')">
              <label for="name">{{"userAdminConfGestRoles.Nom_du_role" | translate}}</label>
              <div class="input-group">
                <div class="input-group-text"><em class="icofont icofont-users-alt-5"></em></div>
                <input type="text" id="name" formControlName="name" [ngClass]="{'is-invalid': submitted && r.name.errors }"
                       [readOnly]="!authService.isEditable('champ-nom-role')"
                       class="form-control" placeholder="{{'userAdminConfGestRoles.Nom_du_role' | translate}}">
                <div *ngIf="submitted && r.name.errors" class="invalid-feedback">
                  <div *ngIf="r.name.errors.required">{{"userAdminConfGestRoles.Le_nom_du_role_est_obligatoire" | translate}}</div>
                  <div *ngIf="r.name.errors.min">
                    {{"userAdminConfGestRoles.Le_nom_du_role_doit_avoir_minimum_3_caractères" | translate}}</div>
                </div>
              </div>
            </div>
            <div class="form-group" *ngIf="authService.isVisible('champ-description-role')">
              <label for="description">{{"userAdminConfGestRoles.Description_du_role" | translate}}</label>
              <div class="input-group">
                <div class="input-group-text"><em class="icofont icofont-info"></em></div>
                <input type="text" id="description" formControlName="description" [ngClass]="{'is-invalid': submitted && r.description.errors }"
                       [readOnly]="!authService.isEditable('champ-description-role')"
                       class="form-control" placeholder="{{'userAdminConfGestRoles.Description_du_role' | translate}}">
                <div *ngIf="submitted && r.description.errors" class="invalid-feedback">
                  <div *ngIf="r.description.errors.required">
                    {{"userAdminConfGestRoles.Le_nom_de_la_caisse_est_obligatoire" | translate}}</div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer row">
          <div class="col-5 text-left">
            <button type="button" [disabled]="!authService.isActif('bouton-annuler')"
                    class="btn btn-outline-danger btn-sm mr-2 text-left" (click)="onResetRole()">
              {{"userAdminConfGestRoles.Annuler" | translate}}</button>
          </div>
          <div class="col-5 text-right">
            <button type="button" [disabled]="!authService.isActif('bouton-enregistrer')"
                    (click)="onSaveRole()" class="btn btn-primary btn-sm text-right m-0 p-1">
              <i class="icofont icofont-diskette icofont-2x m-0"></i></button>
          </div>
        </div>
      </ng-template>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <ng-template #modalRoleActions let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="transfert-actions">
            {{"userAdminConfGestRoles.Transfert_des_actions_du_role" | translate}}
            <span *ngIf="currentRole">{{ currentRole.description}}</span></h4>
          <button type="button" class="close" aria-label="Close" (click)="onResetRoleAction()">
            <span aria-hidden="true" class="icofont icofont-close-line-squared text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="roleActionsForm">
            <div class="form-group">
              <label for="roleActions">{{"userAdminConfGestRoles.Choisir_le_role" | translate}}</label>
              <div class="input-group" *ngIf="privileges">
                <div class="input-group-text"><em class="icofont icofont-users-alt-5"></em></div>
                <select class="custom-select form-control" id="roleActions" formControlName="role"
                        [ngClass]="{'is-invalid': submitted && ta.role.errors }">
                  <option value="">--{{"userAdminConfGestRoles.Choisir_un_role" | translate}} ---</option>
                  <option *ngFor="let privilege of privileges" value="{{ privilege.roleId }}">{{ privilege.description }}</option>
                </select>
                <div *ngIf="submitted && ta.role.errors" class="invalid-feedback">
                  <div *ngIf="ta.role.errors.required">
                    {{"userAdminConfGestRoles.Le_choix_du_role_est_obligatoire" | translate}}</div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer row">
          <div class="col-5 text-left">
            <button type="button"
                    class="btn btn-outline-danger btn-sm mr-2 text-left" (click)="onResetRoleAction()">
              {{"userAdminConfGestRoles.Annuler" | translate}}</button>
          </div>
          <div class="col-5 text-right">
            <button type="button"
                    (click)="onTransfertRoleActions()" class="btn btn-primary btn-sm text-right m-0 p-1">
              <i class="icofont icofont-diskette icofont-2x m-0"></i></button>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</app-card>





