<app-card [icone]="'ti-medall'" [title]="historique">
  <div class="row">
    <div class="col-6 input-group pl-4" [formGroup]="searchForm" >
      <input id="search" class="form-control"
             placeholder="{{'userEleveListeEleveMenu.Search' | translate}}" formControlName="search">
      <div class="input-group-append">
        <span class="input-group-text icofont icofont-search clickable"
              (click)="onAfficherHistorique()"></span>
      </div>
    </div>
  </div>
  <div class="table-responsive table-xs">
    <table class="table table-striped table-hover table-sm">
      <thead>
      <tr>
        <th>#</th>
        <th>{{"userEleveListeEleveMenu.Eleve" | translate}}</th>
        <th>{{"Opération" | translate}}</th>
        <th>{{"userEleveListeEleveMenu.Utilisateur" | translate}}</th>
      </tr>
      </thead>
      <tbody *ngIf="listAbscences">
      <tr *ngFor="let listAbs of listAbscences | paginate: {itemsPerPage: pageSize, currentPage: page + 1,
      totalItems : totalElements, id: 'historique-absence'}; let i = index" (dblclick)="onDetailHistorique(listAbs)">
        <th scope="row">{{ i+1 }}</th>
        <td class="text-small">
          <p class="p-0 m-0"><span>{{ 'userEleveListeEleveMenu.Noms' | translate }} &nbsp; &nbsp; : &nbsp; &nbsp; </span> <span>{{ listAbs.nomsEleve }}</span></p>
          <p class="p-0 m-0"><span>{{ 'userEleveListeEleveMenu.Matricule' | translate }} &nbsp; &nbsp; : &nbsp; &nbsp; </span> <span>{{ listAbs.matricule }}</span></p>
          <p class="p-0 m-0"><span>{{ 'userEleveListeEleveMenu.Classe' | translate }} &nbsp; &nbsp; : &nbsp; &nbsp; </span> <span>{{ listAbs.classe }}</span></p>
        </td>
        <td class="text-small">
          <p class="p-0 m-0"><span>{{ 'Type d\'opération' | translate }} &nbsp; &nbsp; : &nbsp; &nbsp; </span> <span>{{ listAbs.typeOperation }}</span></p>
          <p class="p-0 m-0"><span>{{ 'opération' | translate }} &nbsp; &nbsp; : &nbsp; &nbsp; </span> <span>{{ listAbs.operation }}</span></p>
          <p class="p-0 m-0"><span [innerHTML]="listAbs.operationsEffectue" > </span></p>
        </td>
        <td class="text-small">
          <p class="p-0 m-0"><span>{{ 'userEleveListeEleveMenu.Annee' | translate }} &nbsp; &nbsp; : &nbsp; &nbsp; </span> <span>{{ listAbs.annee }}</span></p>
          <p class="p-0 m-0"><span>{{ 'userEleveListeEleveMenu.Date_Operation' | translate }} &nbsp; &nbsp; : &nbsp; &nbsp; </span> <span>{{ listAbs.dateOperation | date: 'medium' }}</span></p>
          <p class="p-0 m-0"><span>{{ 'Nom d\'utilisateur' | translate }} &nbsp; &nbsp; : &nbsp; &nbsp; </span> <span>{{ listAbs.nomUtilisateurImplique }}</span></p>
        </td>
      </tr>
      </tbody>
    </table>
    <pagination-controls style="text-align:center; vertical-align:middle;"
                         autoHide="true" [maxSize]="10" id="historique-absence"
                         (pageChange)="setPageChange($event)"></pagination-controls>
    <div *ngIf="!listAbscences" class="row">
      <div class="col-12 text-center">
        <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status"><span class="sr-only">
          {{"userEleveListeEleveMenu.Loading" | translate}}...</span></div>
        <div class="spinner-border text-warning" style="width: 3rem; height: 3rem;" role="status"><span class="sr-only">
          {{"userEleveListeEleveMenu.Loading" | translate}}...</span></div>
        <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status"><span class="sr-only">
          {{"userEleveListeEleveMenu.Loading" | translate}}...</span></div>
      </div>
    </div>
    <div class="dropdown-divider"></div>
  </div>
</app-card>

