<!-- List bourse card start -->
<app-card [title]="'userAdminConfNum.Les_parametrages_des_bourses_de_l_établissement'" [classHeader]="true" [blockClass]="'table-border-style'">
  <div class="row">
    <div class="col-12 text-right mt-0">
      <select *ngIf="authService.isVisible('liste-annee-academique') && reconduire"
              class="custom-select form-control col-1" id="annee" (change)="onChangeAnnee($event)"
              [attr.disabled]="authService.isEditable('liste-annee-academique') == true ? null : true">
        <option *ngFor="let annee of annees" value="{{ annee.codeAnnee }}">{{ annee.codeAnnee }}</option>
      </select>
      <button class="btn bg-success btn-sm m-1 "
              title="{{'Reconduire les bourses' | translate}}"
              *ngIf="authService.isVisible('bouton-reconduire-bourses') && reconduire"
              [disabled]="!authService.isActif('bouton-reconduire-bourses') || !reconduire"
              (click)="onClickReconductionBourses()">
        <i class="icofont icofont-history"></i>
        {{"Reconduire les bourses" | translate}}</button>
      <button class="btn btn-primary btn-sm" (click)="open(content)"
              *ngIf="authService.isVisible('bouton-ajouter-bourse')"
              [disabled]="!authService.isActif('bouton-ajouter-bourse')">
        <i class="icofont icofont-check-circled"></i>
        {{"userAdminFinancesListBourse.Ajouter_bourse" | translate}}</button>
     <!-- <div class="card-actions-bar" >

      </div>-->
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>{{"userAdminFinancesListBourse.Année" | translate}}</th>
        <th>{{"userAdminFinancesListBourse.Montant" | translate}}</th>
        <th>{{"userAdminFinancesListBourse.Intitulé" | translate}}</th>
        <th>{{"userAdminFinancesListBourse.Motif" | translate}}</th>
        <th>{{"userAdminFinancesListBourse.Options" | translate}}</th>
      </tr>
      </thead>
      <tbody *ngIf="bourses">
      <tr *ngFor="let bourse of bourses; let i = index">
        <th scope="row">{{ i+1 }}</th>
        <td>{{ bourse.anneeAcademique }}</td>
        <td>{{ bourse.montant_bourse }}</td>
        <td>{{ bourse.intitule_bourse }}</td>
        <td>{{ bourse.motif_bourse | slice: 0: 30 }} {{ bourse.motif_bourse.length > 30 ? '...': '' }}</td>
        <td class="p-1">
          <div [ngClass]="'icon-btn p-0 m-0'">
            <button class="btn btn-warning btn-icon mr-2" (click)="onLoadDetailsBourse(bourse, content)"
                    [disabled]="!authService.isActif('bouton-modifier-bourse')">
              <em class="icofont icofont-pen-alt-1"></em></button>
            <button class="btn btn-success btn-icon mr-2" (click)="onLoadDetailsBourse(bourse, content)"
                    [disabled]="!authService.isActif('bouton-visualiser-bourse')">
              <em class="icofont icofont-eye-alt"></em></button>
            <button class="btn btn-danger btn-icon mr-2" (click)="onDeleteBourse(bourse.id)"
                    [disabled]="!authService.isActif('bouton-supprimer-bourse')">
              <em class="icofont icofont-ui-delete"></em></button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-12">
      <ng-template #content let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="add-bourse">
            {{"userAdminFinancesListBourse.Nouvelle_bourse" | translate}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true" class="icofont icofont-close-line-squared text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="bourseForm">
            <div class="row">
              <div class="form-group col-6" *ngIf="authService.isVisible('champ-intitule-bourse')">
                <label for="intitule">
                  {{"userAdminFinancesListBourse.Intitulé" | translate}}</label>
                <div class="input-group">
                  <input type="text" id="intitule" formControlName="intitule" [ngClass]="{'is-invalid': submitted && f.intitule.errors }"
                         class="form-control"
                         placeholder="{{'userAdminFinancesListBourse.Intitule_bourse' | translate}}"
                         [readOnly]="!authService.isEditable('champ-intitule-bourse')">
                  <div *ngIf="submitted && f.intitule.errors" class="invalid-feedback">
                    <div *ngIf="f.intitule.errors.required">
                      {{"userAdminFinancesListBourse.L_intitule_de_la_bourse_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-6" *ngIf="authService.isVisible('liste-annee-academique')">
                <label for="anneeAcc">
                  {{"userAdminFinancesListBourse.Année_academique" | translate}}</label>
                <div class="input-group">
                  <select class="custom-select form-control" id="anneeAcc" formControlName="anneeAcc"
                          [ngClass]="{'is-invalid': submitted && f.anneeAcc.errors }"
                          [attr.disabled]="true"><!--[attr.disabled]="authService.isEditable('liste-annee-academique') == true ? null : true"-->
                    <option value="{{this.codeAnnee}}"> {{this.codeAnnee}}</option>
<!--                    <option *ngFor="let annee of annees" value="{{ annee.codeAnnee }}">{{ annee.codeAnnee }}</option>-->
                  </select>
                  <div *ngIf="submitted && f.anneeAcc.errors" class="invalid-feedback">
                    <div *ngIf="f.anneeAcc.errors.required">
                      {{"userAdminFinancesListBourse.L_annee_academique_de_la_bourse_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-6" *ngIf="authService.isVisible('liste-modalite-application')">
                <label for="type">{{"userAdminFinancesListBourse.Modalité_d_application" | translate}}</label>
                <div class="input-group">
                  <select class="custom-select form-control" id="type" formControlName="modApplication"
                          [ngClass]="{'is-invalid': submitted && f.modApplication.errors }"
                          [attr.disabled]="authService.isEditable('liste-modalite-application') == true ? null : true">
                    <option value="">
                      {{"userAdminFinancesListBourse.Choisir_la_modalité_d_application" | translate}}</option>
                    <option value="0">
                      {{"userAdminFinancesListBourse.Au_solde_de_la_dernière_tranche" | translate}}</option>
                    <option value="1">
                      {{"userAdminFinancesListBourse.Au_solde_de_la_première_tranche" | translate}}</option>
                    <option value="2">
                      {{"userAdminFinancesListBourse.A_tout_moment" | translate}}</option>
                  </select>
                  <div *ngIf="submitted && f.modApplication.errors" class="invalid-feedback">
                    <div *ngIf="f.modApplication.errors.required">
                      {{"userAdminFinancesListBourse.La_modalite_d_application_de_la_bourse_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-6" *ngIf="authService.isVisible('champ-montant-bourse')">
                <label for="montantBourse">
                  {{"userAdminFinancesListBourse.Montant" | translate}}</label>
                <div class="input-group">
                  <input type="number" lang="en" id="montantBourse" formControlName="montantBourse"
                         [ngClass]="{'is-invalid': submitted && f.montantBourse.errors }"
                         class="form-control"
                         placeholder="{{'userAdminFinancesListBourse.Montant_de_la_bourse' | translate}}"
                         [readOnly]="!authService.isEditable('champ-montant-bourse')">
                  <div *ngIf="submitted && f.montantBourse.errors" class="invalid-feedback">
                    <div *ngIf="f.montantBourse.errors.required">
                      {{"userAdminFinancesListBourse.Le_montant_de_la_bourse_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group" *ngIf="services && authService.isVisible('liste-service-applique')">
              <label for="idService">
                {{"userAdminFinancesListBourse.Sur_quel_service_voulez_vous_appliquer_la_bourse" | translate}}</label>
              <div class="input-group">
                <select class="custom-select form-control" id="idService" formControlName="idService"
                        [ngClass]="{'is-invalid': submitted && f.idService.errors }"
                        [attr.disabled]="authService.isEditable('liste-service-applique') == true ? null : true">
                  <option value="">
                    {{"userAdminFinancesListBourse.Choisir_le_service" | translate}}</option>
                  <option value="{{ service.id }}" *ngFor="let service of services">{{ service.nomService }}</option>
                </select>
                <div *ngIf="submitted && f.idService.errors" class="invalid-feedback">
                  <div *ngIf="f.idService.errors.required">
                    {{"userAdminFinancesListBourse.Le_service_est_obligatoire" | translate}}</div>
                </div>
              </div>
            </div>
            <div class="form-group" *ngIf="authService.isVisible('champ-motif-bourse')">
              <label for="motif">
                {{"userAdminFinancesListBourse.Motif_de_la_bourse" | translate}}</label>
              <textarea class="form-control" formControlName="motif"  [ngClass]="{'is-invalid': submitted && f.motif.errors }"
                        id="motif" rows="3" [readOnly]="!authService.isEditable('champ-motif-bourse')"></textarea>
              <div *ngIf="submitted && f.motif.errors" class="invalid-feedback">
                <div *ngIf="f.motif.errors.required">
                  {{"userAdminFinancesListBourse.Le_motif_de_la_bourse_est_obligatoire" | translate}}</div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" [disabled]="!authService.isActif('bouton-annuler')"
                  class="btn btn-outline-danger btn-sm mr-2" (click)="onReset()">
            {{"userAdminFinancesListBourse.Annuler" | translate}}</button>
          <button type="button" [disabled]="!authService.isActif('bouton-enregistrer')"
                  (click)="onSaveBourse()" class="btn btn-primary btn-sm">
            {{"userAdminFinancesListBourse.Enregistrer" | translate}}</button>
        </div>
      </ng-template>
    </div>
  </div>
</app-card>
<!-- List bourse card end -->
