<div class="row">
  <div class="col-md-6 col-xl-3" *ngIf="authService.isVisible('bouton-enseignant')">
    <div class="card widget-card-1 clickable"
         [routerLink]="authService.isActif('bouton-enseignant') ? '/administration/discipline/enseignants' : ''">
      <div class="card-block-small">
        <i class="icofont icofont-key-hole bg-facebook card1-icon"></i>
        <span class="text-c-orenge f-w-600">{{"userAdminDiscDWelcome.Enseignants" | translate}}</span>
        <h3 class="text-center text-muted"><i class="text-c-green icofont icofont-eye-alt"></i></h3>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-yellow f-16 icofont icofont-girl-alt m-r-10"></i>
            {{"userAdminDiscDWelcome.Enseignants" | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-xl-3" *ngIf="authService.isVisible('bouton-classe')" >
    <div class="card widget-card-1 clickable"
         [routerLink]="authService.isActif('bouton-classe') ? '/administration/discipline/classes' : ''">
      <div class="card-block-small">
        <i class="icofont icofont-institution bg-c-orenge card1-icon"></i>
        <span class="text-c-orenge f-w-600">
          {{"userAdminDiscDWelcome.Classes" | translate}}</span>
        <h3 class="text-center text-muted"><i class="text-c-green icofont icofont-eye-alt"></i></h3>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-yellow f-16 icofont icofont-institution m-r-10"></i>
            {{"userAdminDiscDWelcome.Classes" | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-xl-3" *ngIf="authService.isVisible('bouton-archivage')">
    <div class="card widget-card-1 clickable"
         [routerLink]="'/administration/discipline/archivages'">
      <div class="card-block-small">
        <i class="icofont icofont-archive bg-inverse card1-icon"></i>
        <span class="text-inverse f-w-600">
          {{"userAdminDiscDWelcome.Archivage" | translate}}</span>
        <h3 class="text-center text-muted"><i class="text-c-green icofont icofont-eye-alt"></i></h3>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-inverse f-16 icofont icofont-archive m-r-10"></i>
            {{"userAdminDiscDWelcome.Archivage" | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-xl-3" *ngIf="authService.isVisible( 'bouton-admin-absences')">
    <div class="card widget-card-1 clickable" (click)="onDisplayModalToAbsence(modalSelectAbsence)">
      <div class="card-block-small">
        <i class="icofont icofont-quill-pen bg-c-pink card1-icon"></i>
        <span class="text-c-lite-green f-w-600">
          {{"userAdminWelcome.Admin_Absences" | translate}}</span>
        <h3 class="text-center text-muted">
          <i class="text-c-green icofont icofont-eye-alt"></i>
        </h3>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-blue f-16 icofont icofont-quill-pen m-r-10"></i>
            {{"userAdminWelcome.Administration_absences" | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-xl-3" *ngIf="authService.isVisible( 'bouton-log-abscences')">
    <div class="card widget-card-1 clickable" (click)="onDisplayHistoryLogAbscence()">
      <div class="card-block-small">
        <i class="icofont icofont-history bg-c-pink card1-icon"></i>
        <span class="text-c-lite-green f-w-600">
          {{"Historique Discipline" | translate}}</span>
        <h3 class="text-center text-muted">
          <i class="text-c-green icofont icofont-eye-alt"></i>
        </h3>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-blue f-16 icofont icofont-quill-pen m-r-10"></i>
            {{"Historique Discipline" | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-12">
      <ng-template #modalSelectAbsence let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="select-absence">
            {{"userAdminWelcome.Administration_des_absences" | translate}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="onReset()">
            <span aria-hidden="true" class="icofont icofont-close-line-squared-alt text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="selectAbsenceClasseForm">
            <ng-container *ngIf="filtreAbsence">
              <div class="form-group" *ngIf="authService.isVisible('liste-sequence')">
                <label for="sequence2">
                  {{"userAdminWelcome.Séquence" | translate}}</label>
                <select formControlName="sequence" class="custom-select form-control" id="sequence2"
                        [attr.disabled]="authService.isEditable('liste-sequence') == true ? null : true"
                        [ngClass]="{'is-invalid': submitted && g.sequence.errors }">
                  <option value="">--- {{"userAdminWelcome.Sélectionner_une_séquence" | translate}} ---</option>
                  <option *ngFor="let sequence of filtreAbsence.sequences" value="{{ sequence.id }}">{{
                    sequence.nomSequence }}</option>
                </select>
                <div *ngIf="submitted && g.sequence.errors" class="invalid-feedback">
                  <div *ngIf="g.sequence.errors.required">
                    {{"userAdminWelcome.Le_choix_de_la_séquence_est_obligatoire" | translate}}</div>
                </div>
              </div>
              <div class="form-group" *ngIf="authService.isVisible('liste-classe')">
                <label for="classe2">
                  {{"userAdminWelcome.Classe" | translate}}</label>
                <ng-multiselect-dropdown id="classe2" #selectVue
                                         [ngClass]="{'is-invalid': g.touched && g.classe.errors }"
                                         [placeholder]="choix"
                                         [data]="classeAbsenceFiltre" formControlName="classe" [settings]="settingsAbsence">
                </ng-multiselect-dropdown>
                <div *ngIf="submitted && g.classe.errors" class="invalid-feedback">
                  <div *ngIf="g.classe.errors.required">
                    {{"userAdminWelcome.Le_choix_de_la_classe_est_obligatoire" | translate}}</div>
                </div>
              </div>
            </ng-container>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-outline-warning btn-sm ml-4" [disabled]="!authService.isActif('bouton-effacer')"
                  *ngIf="authService.isVisible('bouton-effacer')" (click)="onReset()"><i
            class="icofont icofont-close-circled"></i>
            {{"userAdminWelcome.Annuler" | translate}}&nbsp;&nbsp;</button>
          <button class="btn btn-primary btn-sm ml-5 mr-4" [disabled]="!authService.isActif('bouton-suivant')"
                  *ngIf="authService.isVisible('bouton-suivant')" (click)="onDisplayListeEleve()">
            {{"userAdminWelcome.Suivant" | translate}}&nbsp;&nbsp;<i class="icofont icofont-circled-right"></i></button>
        </div>
      </ng-template>
    </div>
  </div>
</div>
