<div class="row">

  <app-modal-basic></app-modal-basic>
  <div class="col-md-6 col-xl-3">
    <div class="card widget-card-1 clickable"  routerLink="/administration/finances/list-acomptes"
         (click)="onloadPage('/administration/finances/list-acomptes', 'bouton-liste-acompte')">
      <div class="card-block-small">
        <i class="icofont icofont-list bg-instagram card1-icon"></i>
        <span class="text-c-pink f-w-600">
          {{"Liste des acomptes" | translate}}</span>
        <h3 class="text-center text-muted">
          <i class="text-c-green icofont icofont-eye-alt"></i>
        </h3>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-pink f-16 icofont icofont-tools-alt-1 m-r-10"></i>
            {{"Liste des acomptes" | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3">
    <div class="card widget-card-1 clickable"  routerLink="/administration/finances/acompte"
         (click)="onloadPage('/administration/finances/acompte', 'vue-finance-acomptes')">
      <div class="card-block-small">
        <i class="icofont icofont-ui-add bg-instagram card1-icon"></i>
        <span class="text-c-pink f-w-600">
          {{"Edition acompte" | translate}}</span>
        <h3 class="text-center text-muted">
          <i class="text-c-green icofont icofont-eye-alt"></i>
        </h3>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-pink f-16 icofont icofont-tools-alt-1 m-r-10"></i>
            {{"Edition acompte" | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
