<div class="row">
  <!-- card1 start -->
  <div class="col-md-6 col-xl-3" *ngIf="authService.isVisible('bouton-administration')">
    <div class="card widget-card-1 clickable" (click)="isActif('/administration/welcome', 'bouton-administration')">
      <div class="card-block-small">
        <i class="icofont icofont-automation bg-c-blue card1-icon"></i>
        <span class="text-c-blue f-w-600">{{"userWelcome.Administration" | translate}}</span>
        <h3 class="text-center text-muted">
          <i class="text-c-green icofont icofont-eye-alt"></i>
        </h3>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-blue f-16 icofont icofont-gear m-r-10"></i>
            {{"userWelcome.Administrer_systeme" |
            translate}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- card1 end -->
  <!-- card2 start -->
  <div class="col-md-6 col-xl-3" *ngIf="authService.isVisible( 'bouton-finance')">
    <div class="card widget-card-1 clickable" (click)="isActif('/finances', 'bouton-finance')">
      <div class="card-block-small">
        <i class="icofont icofont-calculator bg-c-green card1-icon"></i>
        <span class="text-c-green f-w-600">{{"userWelcome.Finances" | translate}}</span>
        <h3 class="text-center text-muted">
          <i class="text-c-green icofont icofont-eye-alt"></i>
        </h3>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-green f-16 icofont icofont-calculator-alt-1 m-r-10"></i>{{"userWelcome.Finances" |
            translate}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- card2 end -->
  <!-- card3 start -->
  <div class="col-md-6 col-xl-3" *ngIf="authService.isVisible( 'bouton-eleve')">
    <div class="card widget-card-1  clickable" (click)="isActif('/eleves', 'bouton-eleve')">
      <div class="card-block-small">
        <i class="icofont icofont-student-alt bg-instagram card1-icon"></i>
        <span class="text-instagram f-w-600">{{"userWelcome.Eleves" | translate}}</span>
        <h3 class="text-center text-muted">
          <i class="text-c-green icofont icofont-eye-alt"></i>
        </h3>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-instagram f-16 icofont icofont-student m-r-10"></i>{{"userWelcome.Eleves" | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- card3 end -->
  <!-- card4 start -->
  <div class="col-md-6 col-xl-3" *ngIf="authService.isVisible('bouton-gestion-note')">
    <div class="card widget-card-1 clickable" (click)="isActif('/gestion-notes', 'bouton-gestion-note')">
      <div class="card-block-small">
        <i class="icofont icofont-teacher bg-c-lite-green card1-icon"></i>
        <span class="text-c-lite-green f-w-600">{{"userWelcome.Gestion_des_notes" | translate}}</span>
        <h3 class="text-center text-muted">
          <i class="text-c-green icofont icofont-eye-alt"></i>
        </h3>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-yellow f-16 icofont icofont-tools m-r-10"></i>{{"userWelcome.Gestion_des_notes" |
            translate}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- card4 end -->
  <!-- card5 start -->
  <div class="col-md-6 col-xl-3" *ngIf="authService.isVisible('bouton-discipline')">
    <div class="card widget-card-1 clickable" (click)="isActif('/discipline', 'bouton-discipline')">
      <div class="card-block-small">
        <i class="icofont icofont-ui-calendar bg-c-pink card1-icon"></i>
        <span class="text-c-pink f-w-600">{{"userWelcome.Discipline" | translate}}</span>
        <h3 class="text-center text-muted">
          <i class="text-c-green icofont icofont-eye-alt"></i>
        </h3>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-pink f-16 icofont icofont-ui-calculator m-r-10"></i>{{"userWelcome.Discipline" |
            translate}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- card5 end -->
  <!-- card6 start -->
  <div class="col-md-6 col-xl-3" *ngIf="authService.isVisible( 'bouton-etat')">
    <div class="card widget-card-1 clickable" (click)="isActif('/etats', 'bouton-etat')">
      <div class="card-block-small">
        <i class="icofont icofont-ui-file bg-facebook card1-icon"></i>
        <span class="text-facebook f-w-600">{{"userWelcome.Etats" | translate}}</span>
        <h3 class="text-center text-muted"><i class="text-c-green icofont icofont-eye-alt"></i></h3>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-facebook f-16 icofont icofont-home m-r-10"></i>{{"userWelcome.Etats" | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- card6 end -->
  <!-- card6 start -->
  <div class="col-md-6 col-xl-3" *ngIf="authService.isVisible( 'bouton-message')">
    <div class="card widget-card-1 clickable" (click)="isActif('/messages', 'bouton-message')">
      <div class="card-block-small">
        <i class="icofont icofont-ui-message bg-googleplus card1-icon"></i>
        <span class="text-googleplus f-w-600">{{"userWelcome.Messages" | translate}}</span>
        <h3 class="text-center text-muted"><i class="text-c-green icofont icofont-eye-alt"></i></h3>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-googleplus f-16 icofont icofont-ui-messaging m-r-10"></i>{{"userWelcome.Envoie_des_SMS" |
            translate}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- card6 end -->
  <!-- card6 start -->
  <div class="col-md-6 col-xl-3" *ngIf="authService.isVisible( 'bouton-statistiques')">
    <div class="card widget-card-1 clickable" [routerLink]="'/administration/statistiques'">
      <div class="card-block-small">
        <i class="icofont icofont-chart-bar-graph bg-dribble card1-icon"></i>
        <span class="text-dribble f-w-600">{{"userWelcome.Statistiques" | translate}}</span>
        <h3 class="text-center text-muted"><i class="text-c-green icofont icofont-eye-alt"></i></h3>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i
              class="text-googleplus f-16 icofont icofont-chart-histogram-alt m-r-10"></i>{{"userWelcome.Rapports_Aurore"
            | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- card6 end -->
  <!-- project overview Start -->
  <div class="col-md-12 col-xl-12">
    <app-card [title]="'Aurore'" [blockClass]="'p-0'">
      <app-count-down [dDay]="joursFin"></app-count-down>
      <div class="card-comment ">
        <div class="card-block-small">
          <img class="img-radius img-50" src="./assets/img/thumb2.png" alt="user-1">
          <div class="comment-desc">
            <p class="text-muted ">&copy; {{ dateJour | date: 'yyyy'}}
              {{"userWelcome.Aurore_Advance_IT_Group_Tous_droits_réservés" | translate}} | <a href="/souscriptions"
                routerLink="/souscriptions">{{"userWelcome.Prolonger_licence" | translate}}</a></p>
            <div class="date"><em>{{ dateJour | date: 'longDate'}}</em></div>
          </div>
        </div>
      </div>
    </app-card>
  </div>
  <!-- project overview End -->
</div>
