<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
  <!-- starts -->
  <div class="auth-fluid">
    <div class="row">
      <div class="col-sm-12">
        <!-- Authentication card start -->
        <div class="login-card card-body auth-body">
          <form class="md-float-material" *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <div class="text-center">

              <img src="assets/img/icone-dark.png" alt="Guru Able">
            </div>
            <div class="auth-box">
              <div class="row m-b-20">
                <div class="col-md-12">
                  <h3 class="text-center txt-primary">{{"regBas.Sign_up_It_is_fast_and_easy" | translate}}</h3>
                </div>
              </div>
              <hr/>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="{{'regBas.Choose_Username' | translate}}">
                <span class="md-line"></span>
              </div>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="{{'regBas.Your_Email_Address' | translate}}">
                <span class="md-line"></span>
              </div>
              <div class="input-group">
                <input type="password" class="form-control" placeholder="{{'regBas.Choose_Password' | translate}}">
                <span class="md-line"></span>
              </div>
              <div class="input-group">
                <input type="password" class="form-control" placeholder="{{'regBas.Confirm_Password' | translate}}">
                <span class="md-line"></span>
              </div>
              <div class="row m-t-25 text-left">
                <div class="col-md-12">
                  <div class="checkbox-fade fade-in-primary">
                    <label>
                      <input type="checkbox" value="">
                      <span class="cr"><em class="cr-icon icofont icofont-ui-check txt-primary"></em></span>
                      <span class="text-inverse">{{"regBas.I_read_and_accept" | translate}}<a href="javascript:;">{{"Terms_amp_Conditions" | translate}}</a></span>
                    </label>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="checkbox-fade fade-in-primary">
                    <label>
                      <input type="checkbox" value="">
                      <span class="cr"><em class="cr-icon icofont icofont-ui-check txt-primary"></em></span>
                      <span class="text-inverse">{{"regBas.Send_me_the" | translate}} <a href="javascript:;">{{"regBas.Newsletter" | translate}}</a>
                        {{"regBas.weekly" | translate}}</span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="row m-t-30">
                <div class="col-md-12">
                  <button type="button" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">
                    {{"regBas.Sign_up_now" | translate}}</button>
                </div>
              </div>
              <hr/>
              <div class="row">
                <div class="col-md-10">
                  <p class="text-inverse text-left m-b-0">{{"regBas.Thank_you_and_enjoy_our_website" | translate}}</p>
                  <p class="text-inverse text-left"><b>{{"regBas.Your_Autentification_Team" | translate}}</b></p>
                </div>
                <div class="col-md-2">
                  <img src="assets/images/auth/Logo-small-bottom.png" alt="small-logo.png">
                </div>
              </div>
            </div>
          </form>
          <!-- end of form -->
        </div>
        <!-- Authentication card end -->
      </div>
      <!-- end of col-sm-12 -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of -->
</section>
