<div class="container">
  <div id="stepper1" class="bs-stepper">
    <div class="bs-stepper-header">
      <div class="step" data-target="#test-l-1">
        <button class="step-trigger">
          <span class="bs-stepper-circle">{{"userEleveAjaout.1" | translate}}</span>
          <span class="bs-stepper-label">{{"userEleveAjaout.Infos_eleve" | translate}}</span>
        </button>
      </div>
      <div class="line"></div>
      <div class="step" data-target="#test-l-2">
        <button class="step-trigger">
          <span class="bs-stepper-circle">{{"userEleveAjaout.2" | translate}}</span>
          <span class="bs-stepper-label">{{"userEleveAjaout.Infos_Parent" | translate}}</span>
        </button>
      </div>
      <div class="line"></div>
      <div class="step" data-target="#test-l-3">
        <button class="step-trigger">
          <span class="bs-stepper-circle">{{"userEleveAjaout.3" | translate}}</span>
          <span class="bs-stepper-label">{{"userEleveAjaout.Infos_financier" | translate}}</span>
        </button>
      </div>
    </div>
    <div class="bs-stepper-content">
      <form [formGroup]="ajoutEleveForm">
        <div id="test-l-1" class="content">
          <app-card [title]="'userEleveAjaout.Informations_personnelle_de_l_élève'">
            <div class="row mega-menu-contact">
              <div class="form-group col-sm-6 col-xl-6" *ngIf="authService.isVisible('champ-nom-eleve')">
                <label for="nomEleve">
                  {{"userEleveAjaout.Nom_de_l_élève" | translate}}</label>
                <div class="input-group">
                  <input type="text" id="nomEleve" formControlName="nomEleve" [ngClass]="{'is-invalid': ((f.nomEleve?.touched || submitted) && f?.nomEleve?.errors?.required) }"
                         class="form-control" placeholder="{{'userEleveAjaout.Nom_de_l_élève' | translate}}"
                         [readOnly]="!authService.isEditable('champ-nom-eleve')">
                  <div *ngIf="(f.nomEleve?.touched || submitted)" class="invalid-feedback">
                    <div *ngIf="f.nomEleve?.errors?.required">{{"userEleveAjaout.Le_nom_de_l_élève_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-6 col-xl-6" *ngIf="authService.isVisible('champ-prenom-eleve')">
                <label for="nomEleve">{{"userEleveAjaout.Prenom_de_l_élève" | translate}}</label>
                <div class="input-group">
                  <input type="text" id="prenomEleve" formControlName="prenomEleve" [ngClass]="{'is-invalid': ((f.prenomEleve?.touched || submitted) && f?.prenomEleve?.errors?.required) }"
                         class="form-control"
                         placeholder="{{'userEleveAjaout.Prenom_de_l_élève' | translate}}"
                         [readOnly]="!authService.isEditable('champ-prenom-eleve')">
                  <div *ngIf="(f.prenomEleve?.touched || submitted)" class="invalid-feedback">
                    <div *ngIf="f.prenomEleve?.errors?.required">{{"userEleveAjaout.Le_prenom_de_l_élève_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-6 col-xl-6" *ngIf="classes && authService.isVisible('liste-classe')">
                <label for="classeEleve">
                  {{"userEleveAjaout.Classe_de_l_élève" | translate}}</label>
                <div class="input-group">
                  <select class="custom-select form-control" id="classeEleve"
                          [attr.disabled]="authService.isEditable('liste-classe')== true ? null : true"
                          formControlName="classeEleve" [ngClass]="{'is-invalid': (f.classeEleve?.touched || submitted) && f.classeEleve?.errors?.required }"
                          (ngModelChange)="listModelEcheancierClasse(f.classeEleve.value)">
                    <option value="">
                      {{"userEleveAjaout.Choisir_la_classe_de_l_élève" | translate}}</option>
                    <ng-container *ngFor="let classe of classes">
                      <option value="{{ classe.id }}">{{ classe.nomClasse }}</option>
                    </ng-container>
                  </select>
                  <div *ngIf="(f.classeEleve?.touched || submitted)" class="invalid-feedback">
                    <div *ngIf="f.classeEleve?.errors?.required">{{"userEleveAjaout.La_classe_de_l_élève_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-6 col-xl-6" *ngIf="authService.isVisible('champ-matricule')">
                <label for="matricule">
                  {{"userEleveAjaout.Matricule" | translate}}<span class="text-danger">{{"userEleveAjaout.Modifiable_mais_doit_etre_unique" | translate}}</span>
                </label>
                <div class="input-group">
                  <input type="text" id="matricule" formControlName="matricule" [ngClass]="{'is-invalid': (f.matricule?.touched || submitted) && f.matricule?.errors }"
                         class="form-control"
                         placeholder="{{'userEleveAjaout.Matricule_de_l_élève' | translate}}" [readOnly]="!authService.isEditable('champ-matricule')">
                  <div *ngIf="(f.matricule?.touched || submitted)" class="invalid-feedback">
                    <div *ngIf="f.matricule?.errors?.required">{{"userEleveAjaout.Le_matricule_de_l_élève_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-6" *ngIf="authService.isVisible('champ-date-naissance')">
                <label for="birthday">
                  {{"userEleveAjaout.Date_Naissance_élève" | translate}}</label>
                <div class="input-group">
                  <input id="birthday" class="form-control" [ngClass]="{'is-invalid': (f.birthday?.touched || submitted) && f.birthday?.errors?.required }"
                         type="date"
                         placeholder="{{'userEleveAjaout.dd_mm_yyyy' | translate}}" formControlName="birthday"
                         [readOnly]="!authService.isEditable('champ-date-naissance')">
                  <div *ngIf="(f.birthday?.touched || submitted)" class="invalid-feedback">
                    <div *ngIf="f.birthday?.errors?.required">{{"userEleveAjaout.La_date_de_naissance_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-6 col-xl-6" *ngIf="authService.isVisible('champ-lieu-naissance')">
                <label for="lieuNais">
                  {{"userEleveAjaout.Lieu_de_naissance" | translate}}</label>
                <div class="input-group">
                  <input type="text" id="lieuNais" formControlName="lieuNais" [ngClass]="{'is-invalid': (f.lieuNais?.touched || submitted) && f.lieuNais?.errors?.required }"
                         class="form-control"
                         placeholder="{{'userEleveAjaout.Lieu_de_naissance_de_l_élève' | translate}}" [readOnly]="!authService.isEditable('champ-lieu-naissance')">
                  <div *ngIf="(f.lieuNais?.touched || submitted)" class="invalid-feedback">
                    <div *ngIf="f.lieuNais?.errors?.required">{{"userEleveAjaout.Le_lieu_de_naissance_de_l_élève_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-6 col-xl-6" *ngIf="authService.isVisible('liste-sexe')">
                <label for="sexe">
                  {{"userEleveAjaout.Sexe_de_l_élève" | translate}}</label>
                <div class="input-group">
                  <select class="custom-select form-control" id="sexe" formControlName="sexe"
                          [attr.disabled]="authService.isEditable('liste-sexe')== true ? null : true"
                          [ngClass]="{'is-invalid': (submitted || f.sexe?.touched) && f.sexe?.errors?.required }">
                    <option value="">
                      {{"userEleveAjaout.Choisir_le_sexe_de_l_élève" | translate}}</option>
                    <option value="M">{{"userEleveAjaout.Masculin" | translate}}</option>
                    <option value="F">{{"userEleveAjaout.Feminin" | translate}}</option>
                  </select>
                  <div *ngIf="(f.sexe?.touched || submitted)" class="invalid-feedback">
                    <div *ngIf="f.sexe?.errors?.required">{{"userEleveAjaout.Le_sexe_de_l_élève_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-6 col-xl-6" *ngIf="authService.isVisible('liste-statut')">
                <label for="statut">{{"userEleveAjaout.Statut_de_l_élève" | translate}}</label>
                <div class="input-group">
                  <select class="custom-select form-control" id="statut" formControlName="statut"
                          [ngClass]="{'is-invalid': (f.statut?.touched || submitted) && f.statut?.errors?.required }"
                          [attr.disabled]="authService.isEditable('liste-statut')== true ? null : true">
                    <option value="">
                      {{"userEleveAjaout.Préciser_ici_si_c_est_un_nouveau_ou_redoublant" | translate}}</option>
                    <option value="N">{{"userEleveAjaout.Nouveau" | translate}}</option>
                    <option value="R">{{"userEleveAjaout.Redoublant" | translate}}</option>
                  </select>
                  <div *ngIf="(f.sexe?.touched || submitted)" class="invalid-feedback">
                    <div *ngIf="f.statut?.errors?.required">{{"userEleveAjaout.Le_statut_de_l_élève_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-6 col-xl-6" *ngIf="authService.isVisible('liste-religion')">
                <label for="religion">{{"userEleveAjaout.Religion_de_l_élève" | translate}}</label>
                <div class="input-group">
                  <select class="custom-select form-control" id="religion" formControlName="religion"
                          [attr.disabled]="authService.isEditable('liste-religion')== true ? null : true"
                          [ngClass]="{'is-invalid': (f.religion?.touched || submitted) && f.religion?.errors?.required }">
                    <option value="">
                      {{"userEleveAjaout.Préciser_ici_la_religion" | translate}}</option>
                    <option value="catholique">
                      {{"userEleveAjaout.Catholique" | translate}}</option>
                    <option value="protestante">
                      {{"userEleveAjaout.Protestante" | translate}}</option>
                    <option value="musulmane">
                      {{"userEleveAjaout.Musulmane" | translate}}</option>
                    <option value="autres">
                      {{"userEleveAjaout.Autres" | translate}}</option>
                  </select>
                  <div *ngIf="(f.religion?.touched || submitted)" class="invalid-feedback">
                    <div *ngIf="f.religion?.errors?.required">{{"userEleveAjaout.La_religion_de_l_élève_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-6 col-xl-6" *ngIf="authService.isVisible('champ-numero-telephone')">
                <label for="telEleve">{{"userEleveAjaout.Telephone_de_l_élève" | translate}}</label>
                <div class="input-group">
                  <input type="text" id="telEleve" formControlName="telEleve" class="form-control"
                         placeholder="{{'userEleveAjaout.Numero_telephone_de_l_élève' | translate}}"
                         [readOnly]="!authService.isEditable('champ-numero-telephone')"
                         [ngClass]="{'is-invalid': (f.telEleve?.touched || submitted) && f.telEleve?.errors?.pattern }">
                  <div *ngIf="(f.telEleve?.touched || submitted)" class="invalid-feedback">
                    <div *ngIf="f.telEleve?.errors?.pattern">{{"userEleveAjaout.Le_numéro_de_téléphone_doit_commencer_par_6_et_avoir_au_moins_9_chiffres" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-6 col-xl-6" *ngIf="authService.isVisible('champ-residence')">
                <label for="resEleve">{{"userEleveAjaout.Residence_de_l_élève" | translate}}</label>
                <div class="input-group">
                  <input type="text" id="resEleve" formControlName="resEleve" class="form-control"
                         placeholder="{{'userEleveAjaout.Residence_de_l_élève' | translate}}"
                         [readOnly]="!authService.isEditable('champ-residence')">
                </div>
              </div>
              <div class="form-group col-sm-6 col-xl-6" *ngIf="authService.isVisible('champ-nationalite')">
                <label for="nationalite">{{"userEleveAjaout.Nationalité_de_l_élève" | translate}}</label>
                <div class="input-group">
                  <input type="text" id="nationalite" formControlName="nationalite" class="form-control"
                         placeholder="{{'userEleveAjaout.Nationalité_de_l_élève' | translate}}"
                         [readOnly]="!authService.isEditable('champ-nationalite')">
                </div>
              </div>
              <div class="col-6" *ngIf="authService.isVisible('bouton-handicape')">
                <div class="form-check form-check-inline">
                  {{"userEleveAjaout.L_élève_est_il_handicapé" | translate}}</div>
                <div class="form-check form-check-inline">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" formControlName="handicape" id="inlineRadio1" [value]="false"
                           [attr.disabled]="authService.isEditable('bouton-handicape')== true ? null : true">
                    <label class="form-check-label" for="inlineRadio1">
                      {{"userEleveAjaout.Non" | translate}}</label>
                  </div>
                  <input class="form-check-input" type="radio" formControlName="handicape" id="inlineRadio2" [value]="true"
                         [attr.disabled]="authService.isEditable('bouton-handicape')== true ? null : true">
                  <label class="form-check-label" for="inlineRadio2">
                    {{"userEleveAjaout.Oui" | translate}}</label>
                </div>
              </div>
              <div class="col-6">
                <button type="button" (click)="next()" class="btn btn-primary">
                  {{"userEleveAjaout.Suivant" | translate}} >></button>
              </div>
            </div>
          </app-card>
        </div>
        <div id="test-l-2" class="content">
          <app-card [title]="'userEleveAjaout.Information_sur_le_parent_d_élève'">
            <div class="row mega-menu-contact">
              <div class="form-group col-sm-6 col-xl-6" *ngIf="authService.isVisible('champ-nom-parent')">
                <label for="nomParent">
                  {{"userEleveAjaout.Nom_du_père_tuteur" | translate}}</label>
                <div class="input-group">
                  <input type="text" id="nomParent" formControlName="nomParent" class="form-control"
                         placeholder="{{'userEleveAjaout.Nom_du_père_de_l_élève' | translate}}"
                         [readOnly]="!authService.isEditable('champ-nom-parent')">
                </div>
              </div>
              <div class="form-group col-sm-6 col-xl-6">
                <label for="nomMere">
                  {{"userEleveAjaout.Nom_de_la_mère_tutrice" | translate}}</label>
                <div class="input-group">
                  <input type="text" id="nomMere" formControlName="nomMere" class="form-control"
                         placeholder="{{'userEleveAjaout.Nom_de_la_mère_de_l_élève' | translate}}">
                </div>
              </div>
              <div class="form-group col-sm-6 col-xl-6" *ngIf="authService.isVisible('champ-email-parent')">
                <label for="emailParent">{{"userEleveAjaout.Email" | translate}}</label>
                <div class="input-group">
                  <input type="text" id="emailParent" formControlName="emailParent" class="form-control" placeholder="Email"
                         [readOnly]="!authService.isEditable('champ-email-parent')">
                </div>
              </div>
              <div class="form-group col-sm-6 col-xl-6" *ngIf="authService.isVisible('champ-residence-parent')">
                <label for="resParent">Residence</label>
                <div class="input-group">
                  <input type="text" id="resParent" formControlName="resParent" class="form-control"
                         placeholder="{{'userEleveAjaout.Residence' | translate}}"
                         [readOnly]="!authService.isEditable('champ-residence-parent')">
                </div>
              </div>
              <div class="form-group col-sm-6 col-xl-6" *ngIf="authService.isVisible('champ-telephone-parent')">
                <label for="telParent">{{"userEleveAjaout.Telephone_du_père" | translate}}</label>
                <div class="input-group">
                  <input type="text" id="telParent" formControlName="telParent" class="form-control"
                         placeholder="{{'userEleveAjaout.Telephone_du_père_de_l_élève' | translate}}"
                         [readOnly]="!authService.isEditable('champ-telephone-parent')"
                         [ngClass]="{'is-invalid': (f.telParent?.touched || submitted) && f.telParent?.invalid }">
                  <div *ngIf="(f.telParent.touched || submitted)" class="invalid-feedback">
                    <div *ngIf="f.telParent.errors.pattern">{{"userEleveAjaout.Le_numéro_de_téléphone_doit_commencer_par_6_et_avoir_au_moins_9_chiffres" | translate}}</div>
                    <div *ngIf="f.telParent.errors.required">{{"userEleveAjaout.Le_telephone_du_pere_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-6 col-xl-6">
                <label for="telephoneMere">{{"userEleveAjaout.Telephone_de_la_mère" | translate}}</label>
                <div class="input-group">
                  <input type="text" id="telephoneMere" formControlName="telephoneMere" class="form-control"
                         placeholder="{{'userEleveAjaout.Telephone_de_la_mère_de_l_élève' | translate}}"
                         [ngClass]="{'is-invalid': (f.telephoneMere?.touched || submitted) && f.telephoneMere?.invalid }">
                  <div *ngIf="(f.telephoneMere?.touched || submitted)" class="invalid-feedback">
                    <div *ngIf="f.telephoneMere?.errors?.required">{{"userEleveAjaout.Le_telephone_de_la_mere_est_obligatoire" | translate}}</div>
                    <div *ngIf="f.telephoneMere?.errors?.pattern">{{"userEleveAjaout.Le_numéro_de_téléphone_doit_commencer_par_6_et_avoir_au_moins_9_chiffres" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="col-6"></div>
              <div class="col-6">
                <button type="button" (click)="next()" class="btn btn-primary">
                  {{"userEleveAjaout.Suivant" | translate}} >></button>
              </div>
            </div>
          </app-card>
        </div>
        <div id="test-l-3" class="content">
          <app-card [title]="'userEleveAjaout.Information_financier_de_l_élève'">
            <div class="row mega-menu-contact">
              <ng-container *ngIf="modeleEcheanciersOptionel && modeleEcheanciersOptionel.length > 0">
                <div class="form-group col-sm-6 col-xl-6" *ngFor="let modele of modeleEcheanciersOptionel">
                  <div class="input-group">
                    <input type="checkbox" id="resParent{{modele.id}}"
                           [value]="modele.id" (change)="onEleveCheckboxChange($event)" class="mr-3">
                    <label for="resParent{{modele.id}}"><b>{{ modele.service.nomService }}</b>  {{ ' | '}}  {{ modele.intitule }}</label>
                  </div>
                </div>
              </ng-container>
              <div class="text-center col-12">
                <button class="btn btn-primary m-r-20"
                        type="button" [disabled]="!activeButton && !authService.isActif('bouton-enregistrer')" (click)="onAjoutEleve()">
                  <i class="icofont icofont-check-circled"></i>
                  {{"userEleveAjaout.Enregistrer" | translate}}</button>
                <button class="btn btn-warning" [disabled]="!authService.isActif('bouton-annuler')">
                  <i class="icofont icofont-close-circled"></i>
                  {{"userEleveAjaout.Annuler" | translate}}
                </button>
              </div>
            </div>
          </app-card>
        </div>
      </form>
    </div>
  </div>
</div>
