<div class="row">
    <div class="col-md-6 col-xl-3" *ngIf="authService.isVisible('bouton-gestion-compte')">
        <div class="card widget-card-1 clickable"
            [routerLink]="authService.isActif('bouton-gestion-compte') ? '/administration/portail/gestion-comptes' : ''">
            <div class="card-block-small">
                <i class="icofont icofont-key-hole bg-facebook card1-icon"></i>
                <span class="text-c-orenge f-w-600">{{"userEleveAjaout.Comptes" | translate}}</span>
                <h3 class="text-center text-muted"><i class="text-c-green icofont icofont-eye-alt"></i></h3>
                <div>
                    <span class="f-left m-t-10 text-muted">
                        <i class="text-c-yellow f-16 icofont icofont-girl-alt m-r-10"></i>
                      {{"userEleveAjaout.Gestion_des_comptes" | translate}}
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xl-3" *ngIf="authService.isVisible('bouton-synchronisation-portail')">
        <div class="card widget-card-1 clickable"
            [routerLink]="authService.isActif('bouton-synchronisation-portail') ? '/administration/portail/synchronisation' : ''">
            <div class="card-block-small">
                <i class="icofont icofont-institution bg-c-orenge card1-icon"></i>
                <span class="text-c-orenge f-w-600">{{"userEleveAjaout.Synchronisation" | translate}}</span>
                <h3 class="text-center text-muted"><i class="text-c-green icofont icofont-eye-alt"></i></h3>
                <div>
                    <span class="f-left m-t-10 text-muted">
                        <i class="text-c-yellow f-16 icofont icofont-institution m-r-10"></i>{{"userEleveAjaout.Synchronisation" | translate}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
