<!-- add eleve form Start -->
<app-card>
  <form [formGroup]="UtilisateurForm">
    <div class="row">
      <div class="form-group col-md-6 col-xl-6 mega-menu-contact">
        <label for="username" class="col-form-label">{{"userAdminUtilisateurEditer.Enter_username" | translate}}</label>
        <input class="form-control" type="text" [readOnly]="idUser!=null" [ngClass]="{'is-invalid': submitted && f.username.errors }"
               placeholder="{{'userAdminUtilisateurEditer.Enter_username' | translate}}" id="username" formControlName="username">
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">
            {{"userAdminUtilisateurEditer.Le_nom_d_utilisateur_est_obligatoire" | translate}}</div>
        </div>
      </div>
      <div class="form-group col-md-6 col-xl-6 mega-menu-contact">
        <label for="email" class="col-form-label">
          {{"userAdminUtilisateurEditer.Email" | translate}}</label>
        <input class="form-control" type="email" [readOnly]="idUser!=null"
               placeholder="{{'userAdminUtilisateurEditer.Enter_email' | translate}}"
               [ngClass]="{'is-invalid': submitted && f.email.errors }" id="email" formControlName="email">
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">
            {{"userAdminUtilisateurEditer.L_email_d_utilisateur_est_obligatoire" | translate}}</div>
          <div *ngIf="f.email.errors.email">
            {{"userAdminUtilisateurEditer.Email_doit_etre_une_adresse_email_valide" | translate}}</div>
        </div>
      </div>
      <div class="form-group col-md-6 col-xl-6 mega-menu-contact">
        <label for="displayName" class="col-form-label">
          {{"userAdminUtilisateurEditer.Nom_Complet" | translate}}</label>
        <input class="form-control" type="text" [ngClass]="{'is-invalid': submitted && f.displayName.errors }"
               placeholder="{{'userAdminUtilisateurEditer.Entrez_le_nom_d_affichage' | translate}}" id="displayName" formControlName="displayName">
        <div *ngIf="submitted && f.displayName.errors" class="invalid-feedback">
          <div *ngIf="f.displayName.errors.required">
            {{"userAdminUtilisateurEditer.Mettez_le_nom_propre_complet_de_l_utilisateur" | translate}}</div>
        </div>
      </div>
      <div class="form-group col-md-6 col-xl-6" *ngIf="caisses">
        <label for="caisse" class="col-form-label">
          {{"userAdminUtilisateurEditer.Caisse" | translate}}</label>
        <ng-multiselect-dropdown id="caisse" #selectCaisse [ngClass]="{'is-invalid': submitted && f.caisses.errors }"
                                 [placeholder]="placeholder" [data]="dataCaisse" formControlName="caisses"
                                 [settings]="settings" (onFilterChange)="onCaisseFilterChange($event)"
                                 (onDropDownClose)="onCaisseDropDownClose($event)" (onSelect)="onCaisseItemSelect($event)"
                                 (onDeSelect)="onCaisseDeSelect($event)" (onSelectAll)="onCaisseSelectAll($event)"
                                 (onDeSelectAll)="onCaisseDeSelectAll($event)"></ng-multiselect-dropdown>
        <div *ngIf="submitted && f.caisses.errors" class="invalid-feedback">
          <div *ngIf="f.caisses.errors.required">
            {{"userAdminUtilisateurEditer.La_caisse_des_utilisateurs_est_obligatoire" | translate}}</div>
        </div>
      </div>
      <div class="form-group col-md-6 col-xl-6" *ngIf="roles">
        <label for="role" class="col-form-label">
          {{"userAdminUtilisateurEditer.Role_de_l_utilisateur" | translate}}</label>
        <ng-multiselect-dropdown id="role" #selectRole (ngModelChange)="onChangeOptions()"
                                 [ngClass]="{'is-invalid': submitted && f.roles.errors }"
                                 [placeholder]="Choisir_les_roles" [data]="dataRole" formControlName="roles"
                                 [settings]="settings" (onFilterChange)="onFilterRoleChange($event)"
                                 (onDropDownClose)="onDropDownRoleClose($event)" (onSelect)="onItemRoleSelect($event)"
                                 (onDeSelect)="onDeRoleSelect($event)" (onSelectAll)="onRoleSelectAll($event)"
                                 (onDeSelectAll)="onRoleDeSelectAll($event)"></ng-multiselect-dropdown>
        <div *ngIf="submitted && f.roles.errors" class="invalid-feedback">
          <div *ngIf="f.roles.errors.required">
            {{"userAdminUtilisateurEditer.Les_roles_d_utilisateur_sont_obligatoire" | translate}}</div>
        </div>
      </div>
      <div class="form-group col-md-6 col-xl-6 mega-menu-contact">
        <label for="telephone" class="col-form-label">
          {{"userAdminUtilisateurEditer.Telephone_d_utilisateur" | translate}}</label>
        <input class="form-control" type="text" [ngClass]="{'is-invalid': submitted && f.telephone.errors }"
               placeholder="{{'userAdminUtilisateurEditer.Enter_username' | translate}}" id="telephone" formControlName="telephone">
        <div *ngIf="submitted && f.telephone.errors" class="invalid-feedback">
          <div *ngIf="f.telephone.errors.required">
            {{"userAdminUtilisateurEditer.Le_numero_de_telephone_utilisateur_est_obligatoire" | translate}}</div>
          <div *ngIf="f.telephone.errors.minLength">
            {{"userAdminUtilisateurEditer.Le_numero_de_telephone_utilisateur_doit_avoir_minimum_9_chiffres" | translate}}</div>
        </div>
      </div>
      <div class="form-group col-md-6 col-xl-6 mega-menu-contact">
        <label for="password" class="col-form-label">
          {{"userAdminUtilisateurEditer.Mot_de_passe" | translate}}</label>
        <input class="form-control" type="password"
               placeholder="{{'userAdminUtilisateurEditer.Enter_password' | translate}}" id="password"
               [ngClass]="{'is-invalid': submitted && f.password.errors }" formControlName="password">
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">
            {{"userAdminUtilisateurEditer.Le_password_est_obligatoire" | translate}}</div>
          <div *ngIf="f.password.errors.minlength">
            {{"userAdminUtilisateurEditer.Le_password_doit_avoir_plus_de_six_caracteres" | translate}}</div>
        </div>
      </div>
      <div class="form-group col-md-6 col-xl-6 mega-menu-contact">
        <label for="confirmation" class="col-form-label">
          {{"userAdminUtilisateurEditer.Confirmation" | translate}}</label>
        <input class="form-control" type="password" [ngClass]="{'is-invalid': submitted && f.confirmation.errors }"
               placeholder="{{'userAdminUtilisateurEditer.Enter_confirmation' | translate}}" id="confirmation" formControlName="confirmation">
        <div *ngIf="submitted && f.confirmation.errors" class="invalid-feedback">
          <div *ngIf="f.confirmation.errors.required">
            {{"userAdminUtilisateurEditer.La_confirmation_est_obligatoire" | translate}}</div>
          <div *ngIf="f.confirmation.errors.mustMatch">
            {{"userAdminUtilisateurEditer.Les_deux_password_doivent_etre_identiques" | translate}}</div>
        </div>
      </div>
      <div class="col-12 d-flex justify-content-end">
        <button class="btn btn-outline-danger ml-4" (click)="onResetUtilisateur()">
          <i class="icofont icofont-close-circled"></i>
          {{"userAdminUtilisateurEditer.Effacer" | translate}}</button>
        <button class="btn btn-primary ml-5 mr-4" (click)="onSaveUtilisateur()">
          <i class="icofont icofont-check-circled"></i>
          {{"userAdminUtilisateurEditer.Enregistrer" | translate}}</button>
      </div>
    </div>
  </form>
</app-card>
<!-- add eleve form End -->

