<div class="row">
  <!--<div class="col-md-6 col-xl-3" *ngIf="authService.isVisible('bouton-classe')">
    <div class="card widget-card-1 clickable"
         [routerLink]="authService.isActif('bouton-classe') ? '/administration/notes/classes' : ''">
      <div class="card-block-small">
        <i class="icofont icofont-institution bg-c-orenge card1-icon"></i>
        <span class="text-c-orenge f-w-600">
          {{"userAdminNotesNWelcome.Classes" | translate}}</span>
        <h3 class="text-center text-muted"><i class="text-c-green icofont icofont-eye-alt"></i></h3>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-yellow f-16 icofont icofont-institution m-r-10"></i>
            {{"userAdminNotesNWelcome.Classes" | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>-->

  <!--<div class="col-md-6 col-xl-3" *ngIf="authService.isVisible('bouton-enseignant')">
    <div class="card widget-card-1 clickable"
         [routerLink]="authService.isActif('bouton-enseignant') ? '/administration/notes/enseignants' : ''">
      <div class="card-block-small">
        <i class="icofont icofont-key-hole bg-facebook card1-icon"></i>
        <span class="text-c-orenge f-w-600">
          {{"userAdminNotesNWelcome.Enseignants" | translate}}</span>
        <h3 class="text-center text-muted"><i class="text-c-green icofont icofont-eye-alt"></i></h3>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-yellow f-16 icofont icofont-girl-alt m-r-10"></i>
            {{"userAdminNotesNWelcome.Enseignants" | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>-->

  <div class="col-md-6 col-xl-3" *ngIf="authService.isVisible( 'bouton-admin-notes')">
    <div class="card widget-card-1 clickable" (click)="onDisplayModalToNote(modalSelectNote)">
      <div class="card-block-small">
        <i class="icofont icofont-pen-alt-4 bg-instagram card1-icon"></i>
        <span class="text-c-lite-green f-w-600">
          {{"userAdminWelcome.Admin_Notes" | translate}}</span>
        <h3 class="text-center text-muted">
          <i class="text-c-green icofont icofont-eye-alt"></i>
        </h3>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-pink f-16 icofont icofont-pen-alt-2 m-r-10"></i>
            {{"userAdminWelcome.Administration_Notes" | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3" *ngIf="authService.isVisible( 'bouton-log-notes')">
    <div class="card widget-card-1 clickable" (click)="onDisplayHistoryLogNotes()">
      <div class="card-block-small">
        <i class="icofont icofont-history bg-c-pink card1-icon"></i>
        <span class="text-c-lite-green f-w-600">
          {{"userAdminWelcome.Trace_notes" | translate}}</span>
        <h3 class="text-center text-muted">
          <i class="text-c-green icofont icofont-eye-alt"></i>
        </h3>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-blue f-16 icofont icofont-quill-pen m-r-10"></i>
            {{"userAdminWelcome.Trace_notes" | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-12">
    <ng-template #modalSelectNote let-c="close" let-d="dismiss" let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="select-note">
          {{"userAdminWelcome.Remplissage_des_notes" | translate}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="onReset()">
          <span aria-hidden="true" class="icofont icofont-close-line-squared-alt text-danger"></span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="selectNoteClasseForm">
          <ng-container *ngIf="filtreNote">
            <div class="form-group" *ngIf="authService.isVisible('liste-sequence')">
              <label for="sequence1">
                {{"userAdminWelcome.Séquence" | translate}}</label>
              <select formControlName="sequence" class="custom-select form-control" id="sequence1"
                      [ngClass]="{'is-invalid': submitted && f.sequence.errors }">
                <option value="">--- {{"userAdminWelcome.Sélectionner_une_séquence" | translate}} ---</option>
                <option *ngFor="let sequence of filtreNote.sequences" value="{{ sequence.id }}">{{
                  sequence.nomSequence }}</option>
              </select>
              <div *ngIf="submitted && f.sequence.errors" class="invalid-feedback">
                <div *ngIf="f.sequence.errors.required">
                  {{"userAdminWelcome.Le_choix_de_la_séquence_est_obligatoire" | translate}}</div>
              </div>
            </div>
            <div class="form-group" *ngIf="authService.isVisible('liste-classe')">
              <label for="classe1">
                {{"userAdminWelcome.Classe" | translate}}</label>

              <ng-multiselect-dropdown id="classe1" #selectVue
                                       [ngClass]="{'is-invalid': f.touched && f.matiereclasse.errors }" [placeholder]="choix"
                                       [data]="classeNoteFiltre" formControlName="matiereclasse" [settings]="settingsNote">
              </ng-multiselect-dropdown>
              <div *ngIf="submitted && f.matiereclasse.errors" class="invalid-feedback">
                <div *ngIf="f.matiereclasse.errors.required">
                  {{"userAdminWelcome.Le_choix_de_la_classe_est_obligatoire" | translate}}</div>
              </div>
            </div>
          </ng-container>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline-warning btn-sm ml-2" (click)="onReset()"
                [disabled]="!authService.isActif('bouton-effacer')" *ngIf="authService.isVisible('bouton-effacer')">
          <i class="icofont icofont-close-circled"></i>
          {{"userAdminWelcome.Annuler" | translate}}&nbsp;&nbsp;</button>
        <button class="btn btn-primary btn-sm ml-5 mr-2" (click)="onDisplayListeEleve()"
                [disabled]="!authService.isActif('bouton-suivant')" *ngIf="authService.isVisible('bouton-suivant')">
          {{"userAdminWelcome.Suivant" | translate}}&nbsp;&nbsp;<i class="icofont icofont-circled-right"></i></button>
      </div>
    </ng-template>
  </div>
</div>
