<app-card [icone]="'icofont-2x icofont-address-book'" [title]="eric + detailsDepartement?.departement?.nomDepartement">
  <div class="browser-card p-b-10" *ngIf="detailsDepartement">
    <div class="container-fluid clickable table-hover" *ngFor="let matParDis of detailsDepartement.matiereParDiscipline">
      <div class="card">
        <div class="card-header  bg-primary card-border-inverse p-1 pl-4"><h5 class="text-white">{{ matParDis.discipline.nom_discipline }}</h5></div>
        <div class="card-body p-1">
          <div class="col-12">
            <ul class="list-group" *ngFor="let matiere of matParDis.matieres; let i = index">
              <li class="list-group-item d-flex justify-content-between row p-1">
                <span class="col-1 text-right">{{ '#'+ (i+1) }}</span>
                <span class="col-9">
                 {{ matiere.nomMatiere }}
                </span>
              </li>
            </ul>
          </div>
        </div>
        <div class="card-footer p-0 pb-1">
          <div class="col-md-8">
            <button class="btn bg-danger float-right btn-browser mr-2"><i class="icofont icofont-close-circled"></i></button>
            <button class="btn bg-warning float-right btn-browser mr-2" (click)="openEditFormDisciplice(matParDis.discipline, content)">
              <i class="icofont icofont-pen-alt-1 mr-2"></i>{{"userAdminConfInstDetails.Modifier_discipline" | translate}}</button>
            <button class="btn bg-c-blue float-right btn-browser mr-2"
                    routerLink="">
              <i class="icofont icofont-folder-open"></i></button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-right">
        <button class="btn btn-primary btn-sm ml-5 mr-4 m-1" title="{{'userAdminConfInstDetails.Ajout_d_une_nouvelle_section' | translate}}"
                (click)="openEditFormDisciplice(null, content)">
          <i class="icofont icofont-plus-circle"></i>{{"userAdminConfInstDetails.Ajouter_une_discipline" | translate}}</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ng-template #content let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="add-discipline">{{"userAdminConfInstDetails.Edition_de_la_discipline" | translate}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="onResetDiscipline()">
            <span aria-hidden="true" class="icofont icofont-close-line-squared text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="disciplineForm">
            <div class="col-md-12 col-xl-12">
              <fieldset class="scheduler-border">
                <legend class="scheduler-border">{{"userAdminConfInstDetails.Information_Importantes" | translate}}</legend>
                <div class="form-group row">
                  <label for="nom" class="col-form-label">{{"userAdminConfInstDetails.Nom_de_la_discipline" | translate}}</label>
                  <input class="form-control" type="text" placeholder="{{'userAdminConfInstDetails.Nom_de_la_discipline' | translate}}" id="nom"
                         formControlName="nom" [ngClass]="{'is-invalid': submitted && f.nom.errors }">
                  <div *ngIf="submitted && f.nom.errors" class="invalid-feedback">
                    <div *ngIf="f.nom.errors.required">
                      {{"userAdminConfInstDetails.Le_nom_de_la_discipline_est_obligatoire" | translate}}</div>
                    <div *ngIf="f.nom.errors.minlength">
                      {{"userAdminConfInstDetails.Le_nom_de_la_discipline_doit_avoir_au_moins_trois_caractères" | translate}}</div>
                  </div>
                </div>
              </fieldset>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-outline-danger btn-sm ml-4" type="reset" (click)="onResetDiscipline()">
            <i class="icofont icofont-close-circled"></i>{{"userAdminConfInstDetails.Effacer" | translate}}
          </button>
          <button class="btn btn-primary btn-sm ml-3 mr-4" type="button" (click)="onSaveDiscipline()">
            <span *ngIf="validated" class="spinner-border spinner-border-sm mr-1" role="status" aria-hidden="true"></span>
            <i class="icofont icofont-check-circled"></i>{{"userAdminConfInstDetails.Enregistrer" | translate}}</button>
        </div>
      </ng-template>
    </div>
  </div>
</app-card>

<app-card [icone]="'icofont-teacher'" [title]="romuald + detailsDepartement?.departement?.nomDepartement">
  <div class="browser-card p-b-15" *ngIf="detailsDepartement">
    <div class="container-fluid clickable table-hover" *ngFor="let enseignant of detailsDepartement.enseignants">
      <div class="container bg-gray mb-2">
        <div class="row">
          <div class="col-md-8">
            <h5 class="m-0 text-c-blue">{{ enseignant.nom_enseignant }}</h5>
          </div>
          <div class="col-md-4">
            <button class="btn bg-danger btn-round float-right btn-browser mr-2"><i class="icofont icofont-close-circled"></i></button>
            <button class="btn bg-warning btn-round float-right btn-browser mr-2"
                    (click)="openEditFormDisciplice(enseignant, content)"><i class="icofont icofont-pen-alt-1"></i></button>
            <button class="btn bg-c-blue btn-round float-right btn-browser mr-2"
                    routerLink="/administration/configuration/institutions/list-cycle/{{ enseignant.id_section }}">
              <i class="icofont icofont-folder-open"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-card>

