<!-- List caisse card start -->
<app-card [title]="'userAdminConfNum.Les_parametrages_des_souches_de_numérotations'" [classHeader]="true" [blockClass]="'table-border-style'">
  <div class="card-actions-bar" *ngIf="authService.isVisible('bouton-ajouter-caisse')">
  </div>
  <form [formGroup]="numerotationForm">
    <div class="row pl-2 pr-2">
      <div class="form-group col-4 p-1">
        <label for="soucheNumeroMatricule">
          {{"userAdminConfNum.Souche_matricule" | translate}}</label>
        <div class="input-group">
          <input type="text" id="soucheNumeroMatricule" formControlName="soucheNumeroMatricule"
                 [ngClass]="{'is-invalid': submitted && f.soucheNumeroMatricule.errors }"
                 class="form-control"
                 placeholder="{{'userAdminConfNum.Souche_numerotation_matricule' | translate}}">
          <div *ngIf="submitted && f.soucheNumeroMatricule.errors" class="invalid-feedback">
            <div *ngIf="f.soucheNumeroMatricule.errors.required">
              {{"userAdminConfNum.La_souche_de_numerotation_matricule_est_obligatoire" | translate}}</div>
          </div>
        </div>
      </div>
      <div class="form-group col-4 p-1">
        <label for="numeroIndexMatricule">
          {{"userAdminConfNum.Index_courant_matricule" | translate}}</label>
        <div class="input-group">
          <input type="number" id="numeroIndexMatricule" lang="en" formControlName="numeroIndexMatricule"
                 [ngClass]="{'is-invalid': submitted && f.numeroIndexMatricule.errors }"
                 class="form-control"
                 placeholder="{{'userAdminConfNum.Index_courant_du_matricule' | translate}}">
          <div *ngIf="submitted && f.numeroIndexMatricule.errors" class="invalid-feedback">
            <div *ngIf="f.numeroIndexMatricule.errors.required">
              {{"userAdminConfNum.L_index_courant_du_matricule_est_obligatoire" | translate}}</div>
          </div>
        </div>
      </div>
      <div class="form-group col-4 p-1">
        <label for="soucheNumeroReglementEleve">
          {{"userAdminConfNum.Souche_numerotation_Reçu_inscription" | translate}}</label>
        <div class="input-group">
          <input type="text" id="soucheNumeroReglementEleve" formControlName="soucheNumeroReglementEleve"
                 [ngClass]="{'is-invalid': submitted && f.soucheNumeroReglementEleve.errors }"
                 class="form-control"
                 placeholder="{{'userAdminConfNum.Souche_reçu_inscrption' | translate}}">
          <div *ngIf="submitted && f.soucheNumeroReglementEleve.errors" class="invalid-feedback">
            <div *ngIf="f.soucheNumeroReglementEleve.errors.required">
              {{"userAdminConfNum.La_souche_numerotaion_reçu_inscription_est_obligatoire" | translate}}</div>
          </div>
        </div>
      </div>
      <div class="form-group col-4 p-1">
        <label for="numeroIndexReglementEleve">
          {{"userAdminConfNum.Index_reçu_inscription" | translate}}</label>
        <div class="input-group">
          <input type="number" id="numeroIndexReglementEleve" lang="en" formControlName="numeroIndexReglementEleve"
                 [ngClass]="{'is-invalid': submitted && f.numeroIndexReglementEleve.errors }"
                 class="form-control"
                 placeholder="{{'userAdminConfNum.Index_de_numerotaion_reçu' | translate}}">
          <div *ngIf="submitted && f.numeroIndexReglementEleve.errors" class="invalid-feedback">
            <div *ngIf="f.numeroIndexReglementEleve.errors.required">
              {{"userAdminConfNum.L_index_de_numerotation_reçu_eleve_est_obligatoire" | translate}}</div>
          </div>
        </div>
      </div>
      <div class="form-group col-4 p-1">
        <label for="soucheNumeroReglementDivers">
          {{"userAdminConfNum.Souche_numérotation_autres_reçus" | translate}}</label>
        <div class="input-group">
          <input type="text" id="soucheNumeroReglementDivers" formControlName="soucheNumeroReglementDivers"
                 [ngClass]="{'is-invalid': submitted && f.soucheNumeroReglementDivers.errors }"
                 class="form-control"
                 placeholder="{{'userAdminConfNum.Souche_de_numérotation_autres_reçu' | translate}}">
          <div *ngIf="submitted && f.soucheNumeroReglementDivers.errors" class="invalid-feedback">
            <div *ngIf="f.soucheNumeroReglementDivers.errors.required">
              {{"userAdminConfNum.La_souche_des_autres_reçu_est_obligatoire_obligatoire" | translate}}</div>
          </div>
        </div>
      </div>
      <div class="form-group col-4 p-1">
        <label for="numeroIndexReglementDivers">{{"userAdminConfNum.L_index_des_autres_reçu" | translate}}</label>
        <div class="input-group">
          <input type="number" id="numeroIndexReglementDivers" lang="en" formControlName="numeroIndexReglementDivers"
                 [ngClass]="{'is-invalid': submitted && f.numeroIndexReglementDivers.errors }"
                 class="form-control"
                 placeholder="{{'userAdminConfNum.Index_de_numerotation_autres_reçu' | translate}}">
          <div *ngIf="submitted && f.numeroIndexReglementDivers.errors" class="invalid-feedback">
            <div *ngIf="f.numeroIndexReglementDivers.errors.required">
              {{"userAdminConfNum.L_index_de_numerotation_autres_reçu_est_obligatoire_obligatoire" | translate}}</div>
          </div>
        </div>
      </div>
      <div class="text-center col-12 p-1 m-1">
        <button class="btn btn-sm btn-default">
          <i class="icofont icofont-close-circled"></i>{{"userAdminConfNum.Annuler" | translate}}</button>
        <button class="btn btn-sm btn-primary m-r-20" type="submit"  (click)="onSaveNumerotation()">
          <i class="icofont icofont-check-circled"></i>{{"userAdminConfNum.Enregistrer" | translate}}</button>
      </div>
    </div>
  </form>
</app-card>
<!-- List caisse card end -->
<!-- List caisse card start -->
<app-card [title]="'userAdminConfNum.Les_parametrages_des_variables_globales'" [classHeader]="true" [blockClass]="'table-border-style'">

  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>{{"userAdminConfNum.Description" | translate}}</th>
        <th>{{"userAdminConfNum.Options" | translate}}</th>
      </tr>
      </thead>
      <tbody *ngIf="variableGlobales">
      <tr *ngFor="let vglobale of variableGlobales; let i = index">
        <th scope="row">{{ i+1 }}</th>
        <td>{{ vglobale.description ? (vglobale.description | slice: 0: 110) : '' }} {{ vglobale.description && vglobale.description.length > 110 ? '...': '' }}</td>
        <td class="p-1">
          <div [ngClass]="'icon-btn p-0 m-0'">
            <button class="btn btn-warning btn-icon mr-2" (click)="onLoadDetailsVG(vglobale, content)"
                    title="{{'userAdminConfNum.Modifier_les_attributs_de_la_variable_globale' | translate}}">
              <em class="icofont icofont-pen-alt-1"></em></button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-12">
      <ng-template #content let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="add-caisse">
            {{"userAdminConfNum.Edition_variable_globale" | translate}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true" class="icofont icofont-close-line-squared text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="variableGlobaleForm">
            <div class="form-group">
              <label for="cle">{{"userAdminConfNum.Clé_unique_de_la_variable" | translate}}</label>
              <div class="input-group">
                <input type="text" id="cle" formControlName="cle" [ngClass]="{'is-invalid': submitted && g.cle.errors }"
                       class="form-control"
                       placeholder="{{'userAdminConfNum.Clé_unique_de_la_variable' | translate}}" readonly>
                <div *ngIf="submitted && g.cle.errors" class="invalid-feedback">
                  <div *ngIf="g.cle.errors.required">
                    {{"userAdminConfNum.La_clé_unique_de_la_variable_est_obligatoire" | translate}}</div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="valeur">{{"userAdminConfNum.Valeur_de_la_variable" | translate}}</label>
              <div class="input-group">
                <input type="text" id="valeur" formControlName="valeur" [ngClass]="{'is-invalid': submitted && g.valeur.errors }"
                       class="form-control"
                       placeholder="{{'userAdminConfNum.Valeur_de_la_variable' | translate}}">
                <div *ngIf="submitted && g.valeur.errors" class="invalid-feedback">
                  <div *ngIf="g.valeur.errors.required">
                    {{"userAdminConfNum.La_valeur_de_la_variable_est_obligatoire" | translate}}</div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="description">{{"userAdminConfNum.Description_de_la_variable" | translate}}</label>
              <textarea class="form-control" formControlName="description" id="description" rows="3"
              ></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button"
                  class="btn btn-outline-danger btn-sm mr-2" (click)="onReset()">
            {{"userAdminConfNum.Annuler" | translate}}</button>
          <button type="button"
                  (click)="onSaveConfigVariableGlobale()" class="btn btn-primary btn-sm">
            {{"userAdminConfNum.Enregistrer" | translate}}</button>
        </div>
      </ng-template>
    </div>
  </div>
</app-card>
<!-- List caisse card end -->


