<div class="row pl-5 container d-flex align-content-center">
  <div class="col-sm-12">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text icofont icofont-ui-rate-add clickable pr-2" (click)="onGenererCIS()">
          {{"SharedGenerationCis.Generer_CIS" | translate}}</span>
      </div>
      <input type="text" [(ngModel)]="tsCisData" #cisinput readonly class="form-control" aria-label="Search in state">
      <div class="input-group-append">
        <span class="input-group-text icofont icofont-copy-alt clickable pr-2" (click)="copyInputMessage(cisinput)">
          {{"SharedGenerationCis.Copier" | translate}}</span>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <label *ngIf="msgHideAndShow" style="float: right;">{{textMessage}}</label>
  </div>
</div>



