<app-card [icone]="''" [title]="'userAdminNote.Justification_des_absences'">
  <div class="card b-l-danger business-info services">
    <div class="card-body p-1">
      <div class="row">
        <div class="col-sm-7">
          <p class="task-detail"><span>
            {{"userCensoratJust.Classe" | translate}}&nbsp;&nbsp; </span><span class="text-bold">{{ classe?.nomClasse }}</span></p>
          <p class="task-detail"><span>
            {{"userCensoratJust.Elève" | translate}}&nbsp;&nbsp; </span>
            <span class="text-bold">{{ eleve?.nomEleve + ' ' + eleve?.prenomEleve + ' => ' + eleve?.matricule }}</span></p>
        </div>
        <div class="col-sm-5">
          <p class="task-detail"><span>{{"userCensoratJust.Année_scolaire" | translate}}&nbsp;&nbsp; </span>
            <span class="text-bold">{{ tokenStorage.getUser().codeAnnee }}</span></p>
          <p class="task-detail"><span>{{"userCensoratJust.Trimestre" | translate}}&nbsp;&nbsp; </span>
            <span class="text-bold">{{ currentSequence?.nomTrimestre }}</span></p>
          <p class="task-detail"><span>{{"userCensoratJust.Sequence" | translate}}&nbsp;&nbsp; </span>
            <span class="text-bold">{{ currentSequence?.nomSequence }}</span></p>
        </div>
        <div class="col text-center text-bold">
          {{"userCensoratJust.Pressez_la_touche" | translate}} <span class="text-danger">
          {{"userCensoratJust.Enter_ou_Entrée" | translate}} </span>
          {{"userCensoratJust.ou" | translate}} <span class="text-danger">
          {{"userCensoratJust.Insert_ou_Inser" | translate}}</span>
          {{"userCensoratJust.pour_enregistrer_les_lignes_modifiées" | translate}}
        </div>
      </div>
    </div>
  </div>
  <div class="table-responsive" *ngIf="absences">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>{{"userCensoratJust.Date_d_absence" | translate}}</th>
        <th>{{"userCensoratJust.Heure_s_non_justifiée_s_NJ" | translate}}</th>
        <th>
          {{"userCensoratJust.Heure_s_justifiée_s_J" | translate}}
          <button type="button" (click)="onRefreshAbsence()"
                  class="btn btn-primary btn-sm ml-4">Rafraichir</button>
        </th>
      </tr>
      </thead>
      <tbody *ngFor="let absence of tAbsences.controls; let i = index">
      <tr [formGroup]="absence">
        <th scope="row">{{ i+1 }}</th>
        <td>{{ absence.value.dateAbs | date: 'medium' }}</td>
        <td>{{ absence.value.absenceNj }}</td>
        <td>
          <input class="form-control" formControlName="absence" (ngModelChange)="onChanStateUpdate(i)" id="ex1" min="0"
                 type="number" lang="en" [value]="absence.value.absence">
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-12">
      <ng-template #modalSelectSequence let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="select-sequence">
            {{"userCensoratJust.Justification_s_de_s_absence_s" | translate}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true" class="icofont icofont-close-line-squared-alt text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="selectSequenceClasseForm">
            <ng-container *ngIf="formSelect">
              <div class="form-group" *ngIf="authService.isVisible('liste-séquence')">
                <label for="sequence">
                  {{"userCensoratJust.Séquence" | translate}}</label>
                <select formControlName="sequence" class="custom-select form-control" id="sequence"
                        [attr.disabled]="authService.isEditable('liste-séquence') == true ? null : true"
                        [ngClass]="{'is-invalid': submitted && f.sequence.errors }">
                  <option value="">--- {{"userCensoratJust.Sélectionner_une_séquence" | translate}} ---</option>
                  <option *ngFor="let sequence of formSelect.sequences" value="{{ sequence.id }}">{{ sequence.nomSequence }}</option>
                </select>
                <div *ngIf="submitted && f.sequence.errors" class="invalid-feedback">
                  <div *ngIf="f.sequence.errors.required">
                    {{"userCensoratJust.Le_choix_de_la_séquence_est_obligatoire" | translate}}</div>
                </div>
              </div>
              <div class="form-group" *ngIf="authService.isVisible('champ-matricule-élève')">
                <label for="matricule">{{"userCensoratJust.Matricule" | translate}}</label>
                <input formControlName="matricule" class="form-control" id="matricule"
                       [ngClass]="{'is-invalid': submitted && f.matricule.errors }"
                       [readOnly]="!authService.isEditable('champ-matricule-élève')">
                <div *ngIf="submitted && f.matricule.errors" class="invalid-feedback">
                  <div *ngIf="f.matricule.errors.required">
                    {{"userCensoratJust.Le_matricule_est_obligatoire" | translate}}</div>
                </div>
              </div>
            </ng-container>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary btn-sm ml-5 mr-2"
                  [disabled]="!authService.isActif('bouton-suivant')"
                  *ngIf="authService.isVisible('bouton-suivant')"
                  (click)="onDisplayListeAbsences()">
            {{"userCensoratJust.Suivant" | translate}}&nbsp;&nbsp;<i class="icofont icofont-circled-right"></i></button>
          <button class="btn btn-outline-danger btn-sm ml-2"
                  [disabled]="!authService.isActif('bouton-effacer')"
                  *ngIf="authService.isVisible('bouton-effacer')"
                  (click)="onResetSaisieAbsences()"><i class="icofont icofont-close-circled"></i>
            {{"userCensoratJust.Effacer" | translate}}&nbsp;&nbsp;</button>
        </div>
      </ng-template>
    </div>
  </div>
</app-card>
