<app-card *ngIf="(detailElt === false) && (modifElement === false) "
          [icone]="'ti-medall'" [title]="'Liste des acomptes'"
          >
  <div class="row">
    <div class="col-6 input-group pl-4" [formGroup]="searchForm" >
      <input id="search" class="form-control"
             placeholder="{{'userEleveListeEleveMenu.Search' | translate}}" formControlName="search">
      <div class="input-group-append">
        <span class="input-group-text icofont icofont-search clickable"
              (click)="onAfficherHistorique(dataFilter, sortBy, page, pageSize)"></span>
      </div>
    </div>
    <div class="col-sm-6 text-right" >
      <button class="btn-default btn-sm mr-3 btn-primary"
              (click)="onImprimerListe()">
        <em class="icofont icofont-printer mr-2"></em>
        {{"IMPRIMER_LES_ACOMPTES" | translate}}</button>
    </div>
  </div>
  <div class="table-responsive table-xs" >
    <table class="table table-striped table-hover table-sm">
      <thead>
      <tr>
        <th>#</th>
        <th>{{"Eleve" | translate}}</th>
        <th>{{"Versement" | translate}}</th>
        <th>{{"Utilisateur" | translate}}</th>
        <th>{{"Actions" | translate}}</th>
      </tr>
      </thead>
      <tbody *ngIf="listAcomptes">
      <tr *ngFor="let lA of listAcomptes | paginate: {itemsPerPage: pageSize, currentPage: page + 1,
      totalItems : totalElements, id: 'list-acompte'}; let i = index" (dblclick)="getDetail(lA, 'detail')">
        <th scope="row">{{ i+1 }}</th>
        <td class="text-small w-20" >
          <p class="p-0 m-0"><span>{{ 'Noms' | translate }} &nbsp; : &nbsp; </span> <span>{{ lA.nomEleve }}</span></p>
          <p class="p-0 m-0"><span>{{ 'Prénoms' | translate }} &nbsp; : &nbsp; </span> <span>{{ lA.prenomEleve}}</span></p>
          <p class="p-0 m-0"><span>{{ 'Matricule' | translate }} &nbsp; : &nbsp; </span> <span>{{ lA.matricule }}</span></p>
          <p class="p-0 m-0"><span>{{ 'Classe' | translate }} &nbsp; : &nbsp; </span> <span>{{ lA.classe.nomClasse }}</span></p>
        </td>
        <td class="text-small">
          <p class="p-0 m-0"><span>{{ 'Solde du compte courant' | translate }} &nbsp; : &nbsp; </span> <span>{{ lA.montantVerse }}</span></p>
        </td>
        <td class="text-small">
          <p class="p-0 m-0"><span>{{ 'userEleveListeEleveMenu.Date_Operation' | translate }} &nbsp; : &nbsp; </span> <span>{{ lA.dateOperation | date: 'dd/MM/yyy' }}</span></p>
          <p class="p-0 m-0"><span>{{ 'Nom d\'utilisateur' | translate }} &nbsp; : &nbsp; </span> <span>{{ lA.operateur }}</span></p>
        </td>
        <td class="pb-1 text-small">
          <div [ngClass]="'icon-btn p-0 m-0'">
            <div class="d-inline-block btn-group dropleft" ngbDropdown #myDrop="ngbDropdown" display="static">
              <button class="btn btn-outline-info btn-sm mr-2" id="dropdownManual" ngbDropdownToggle>
                {{"userAdminConfPenalite.Actions" | translate}}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownManual" >
                <ng-container *ngIf="authService.isVisible('bouton-detail')">
                  <button ngbDropdownItem class="btn-default btn-sm mr-3"
                          [disabled]="!authService.isActif('bouton-detail')"
                          (click)="getDetail(lA, 'detail')">
                    <em class="icofont icofont-open-eye mr-2"></em>
                    {{"userAdminConfPenalite.Détails" | translate}}</button>
                </ng-container>
                <ng-container *ngIf="authService.isVisible('bouton-modifier')">
                  <button ngbDropdownItem class="btn-default btn-sm mr-3"
                          [disabled]="!authService.isActif('bouton-modifier')"
                          (click)="getDetail(lA, 'modifier')">
                    <em class="icofont icofont-pencil-alt-5 mr-2"></em>
                    {{"userAdminConfPenalite.Modifier" | translate}}</button>
                </ng-container>
                <ng-container *ngIf="authService.isVisible('bouton-ventiler')">
                  <button ngbDropdownItem class="btn-default btn-sm mr-3"
                          [disabled]="!authService.isActif('bouton-ventiler')"
                          (click)="ventillerLAcompte(lA)">
                    <em class="icofont icofont-pencil-alt-5 mr-2"></em>
                    {{"Ventiller" | translate}}</button>
                </ng-container>
                <ng-container *ngIf="authService.isVisible('bouton-supprimer')">
                  <button ngbDropdownItem class="btn-default btn-sm mr-3"
                          [disabled]="!authService.isActif('bouton-supprimer')"
                          (click)="onDelete(lA)">
                    <em class="icofont icofont-minus mr-2"></em>
                    {{"userAdminConfPenalite.Supprimer" | translate}}</button>
                </ng-container>
                <ng-container >
                  <button ngbDropdownItem class="btn-default btn-sm mr-3"
                          (click)="onImprimerRecuListe(lA)">
                    <em class="icofont icofont-printer mr-2"></em>
                    {{"userEleveListeMenu.Imprimer_etat_financier" | translate}}</button>
                </ng-container>
              </div>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <pagination-controls style="text-align:center; vertical-align:middle;"
                         autoHide="true" [maxSize]="10" id="list-acompte"
                         (pageChange)="setPageChange($event)"></pagination-controls>
    <div *ngIf="!listAcomptes" class="row">
      <div class="col-12 text-center">
        <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status"><span class="sr-only">
          {{"userEleveListeEleveMenu.Loading" | translate}}...</span></div>
        <div class="spinner-border text-warning" style="width: 3rem; height: 3rem;" role="status"><span class="sr-only">
          {{"userEleveListeEleveMenu.Loading" | translate}}...</span></div>
        <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status"><span class="sr-only">
          {{"userEleveListeEleveMenu.Loading" | translate}}...</span></div>
      </div>
    </div>
    <div class="dropdown-divider"></div>
  </div>
<!--  <ng-template #idModal let-c="close" let-d="dismiss" let-modal></ng-template>-->

</app-card>
<app-card *ngIf="(detailElt === true) || (modifElement === true) ">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="acomptForm">
        <div class="row">
          <div class="col-md-12 col-xs-12 pt-2 pr-4 justify-content-center">
            <app-card [classHeader]="false" [blockClass]="'table-border-style'">
              <div class="row">
                <div class="col-sm-12">
                  <div class="d-flex justify-content-center">
                    <h4>{{detailModif + ' ' }} {{"Sur l'eleve choisi" | translate}}</h4>
                  </div>
                </div>
                <div class="col-12 p-3">
                  <div class="form-group row pb-0 mb-1 pt-0 mt-1 mr-2">
                    <div class="col-sm-6">
                      <div class="row">
                        <label class="col-sm-4 text-right" for="prenomEleve">
                          {{"Prénom(s)" | translate}}</label>
                        <div class="input-group col-sm-8">
                          <input type="text" id="prenomEleve" formControlName="prenomEleve" class="form-control"
                                 [readOnly]="readOnly"
                                 placeholder="{{'Prénom(s)' | translate}}">
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="row">
                        <label class="col-sm-4 text-right" for="nomEleve">
                          {{"Nom(s)" | translate}}</label>
                        <div class="input-group col-sm-8">
                          <input type="text" id="nomEleve" formControlName="nomEleve" class="form-control"
                                 [readOnly]="readOnly"
                                 placeholder="{{'Nom(s)' | translate}}">
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="row">
                        <label class="col-sm-4 text-right" for="dateAdmission">
                          {{"Date d'admission" | translate}}</label>
                        <div class="input-group col-sm-8">
                          <input type="date" id="dateAdmission" formControlName="dateAdmission" class="form-control"
                                 [readOnly]="readOnly"
                                 placeholder="{{'Date d\'admission' | translate}}">
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="row">
                        <label class="col-sm-4 text-right" for="dateNaissance">
                          {{"Date de naissance" | translate}}</label>
                        <div class="input-group col-sm-8">
                          <input type="date" id="dateNaissance" formControlName="dateNaissance" class="form-control"
                                 [readOnly]="readOnly"
                                 placeholder="{{'Date de naissance' | translate}}">
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="row">
                        <label class="col-sm-4 text-right" for="lieuNaissance">
                          {{"Lieux de naissance" | translate}}</label>
                        <div class="input-group col-sm-8">
                          <input type="text" id="lieuNaissance" formControlName="lieuNaissance" class="form-control"
                                 [readOnly]="readOnly"
                                 placeholder="{{'Lieux de naissance' | translate}}">
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="row">
                        <label class="col-sm-4 text-right" for="eleveTransferer">
                          {{"Elève transféré" | translate}}</label>
                        <div class="col-8 input-group" >
                          <input list="elevesTransfereList" id="eleveTransferer" class="form-control"
                                 placeholder="{{'Elève transféré' | translate}}" formControlName="eleveTransferer"
                                 [readOnly]="readOnly">
                          <datalist id="elevesTransfereList" >
                            <option class="form-control" [value]="false">{{"faux" | translate}}</option>
                            <option class="form-control" [value]="true">{{"vrai" | translate}}</option>
                          </datalist>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="row">
                        <label class="col-sm-4 text-right" for="emailEleve">
                          {{"Email de l'élève" | translate}}</label>
                        <div class="input-group col-sm-8">
                          <input type="email" id="emailEleve" formControlName="emailEleve" class="form-control"
                                 [readOnly]="readOnly"
                                 placeholder="{{'Email de l\'élève' | translate}}">
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="row">
                        <label class="col-sm-4 text-right" for="emailParent">
                          {{"Email du parent" | translate}}</label>
                        <div class="input-group col-sm-8">
                          <input type="email" id="emailParent" formControlName="emailParent" class="form-control"
                                 [readOnly]="readOnly"
                                 placeholder="{{'Email du parent' | translate}}">
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6" *ngIf="(detailElt === false) && (modifElement === true) ">
                      <div class="row">
                        <label class="col-sm-4 text-right" >
                          {{"Choisir la classe" | translate}}</label>
                        <div class="input-group col-sm-8">
                          <input list="listeClass" class="form-control" (keyup)="getElt($event)"
                                 placeholder="{{'Choisir la classe' | translate}}"
                                 formControlName="idClasse">
                          <datalist id="listeClass" >
                            <option *ngFor="let lstC of listeClassDetailModif" value="{{ lstC?.nomClasse }}"
                            > </option>
                          </datalist>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6" *ngIf="(detailElt === true) && (modifElement === false) ">
                      <div class="row">
                        <label class="col-sm-4 text-right" >
                          {{"Choisir la classe" | translate}}</label>
                        <div class="input-group col-sm-8">
                          <input list="listeClass" class="form-control" (keyup)="getElt($event)"
                                 placeholder="{{'Choisir la classe' | translate}}"
                                 formControlName="idClasse" [readOnly]="readOnly">
                          <datalist id="listeClass" >
                            <option *ngFor="let lstC of listeClassDetailModif" value="{{ lstC?.nomClasse }}"
                            > </option>
                          </datalist>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6" *ngIf="(authService.isVisible('bouton-handicape')) && ((detailElt === false) && (modifElement === true))">
                      <div class="row">
                        <label class="col-sm-4 text-right">
                          {{"userEleveAjaout.L_élève_est_il_handicapé" | translate}}</label>
                        <div class="col-sm-8">
                          <div class="form-check form-check-inline mr-4">
                            <input class="form-check-input" type="radio" formControlName="handicape" id="inlineRadio1" [value]="false"
                                   [attr.disabled]="authService.isEditable('bouton-handicape')== true ? null : true">
                            <label class="form-check-label" for="inlineRadio1">
                              {{"userEleveAjaout.Non" | translate}}</label>
                          </div>
                          <input class="form-check-input" type="radio" formControlName="handicape" id="inlineRadio2" [value]="true"
                                 [attr.disabled]="authService.isEditable('bouton-handicape')== true ? null : true">
                          <label class="form-check-label" for="inlineRadio2">
                            {{"userEleveAjaout.Oui" | translate}}</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6" *ngIf="(authService.isVisible('bouton-handicape')) && ((detailElt === true) && (modifElement === false))">
                      <div class="row">
                        <label class="col-sm-4 text-right">
                          {{"userEleveAjaout.L_élève_est_il_handicapé" | translate}}</label>
                        <div class="col-sm-8">
                          <div class="form-check form-check-inline mr-4">
                            <input class="form-check-input" type="radio" formControlName="handicape" id="inlineRadio1" [value]="false"
                                   [attr.disabled]="authService.isEditable('bouton-handicape')== true ? null : true"
                             [readOnly]="readOnly">
                            <label class="form-check-label" for="inlineRadio1">
                              {{"userEleveAjaout.Non" | translate}}</label>
                          </div>
                          <input class="form-check-input" type="radio" formControlName="handicape" id="inlineRadio2" [value]="true"
                                 [attr.disabled]="authService.isEditable('bouton-handicape')== true ? null : true"
                           [readOnly]="readOnly">
                          <label class="form-check-label" for="inlineRadio2">
                            {{"userEleveAjaout.Oui" | translate}}</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6" *ngIf="(detailElt === true) && (modifElement === false) ">
                      <div class="row">
                        <label class="col-sm-4 text-right" for="montantVerse">
                          {{"Solde du compte" | translate}}</label>
                        <div class="input-group col-sm-8">
                          <input type="number" id="montantVerse" formControlName="montantVerse" class="form-control"
                                 placeholder="{{'0' | translate}}" [readOnly]="readOnly">
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6" *ngIf="(detailElt === false) && (modifElement === true) ">
                      <div class="row">
                        <label class="col-sm-4 text-right" for="montantVerse">
                          {{"Solde du compte" | translate}}</label>
                        <div class="input-group col-sm-8">
                          <input type="number" id="montantVerse" formControlName="montantVerse" class="form-control"
                                 placeholder="{{'0' | translate}}">
                        </div>
                      </div>
                    </div>
                  </div>
<!--                  <div class="form-group row pb-0 mb-1 pt-0 mt-1">-->
<!--                    <label class="col-sm-4 text-right" for="matricule">-->
<!--                      {{"Matricule" | translate}}</label>-->
<!--                    <div class="input-group col-sm-8">-->
<!--                      <input type="text" id="matricule" formControlName="matricule" class="form-control"-->
<!--                             [readOnly]="readOnly"-->
<!--                             placeholder="{{'Matricule' | translate}}" readonly>-->
<!--                    </div>-->
<!--                  </div>-->
                  <!--              <div class="form-group row pb-0 mb-1 pt-0 mt-1">-->
                  <!--                <label class="col-sm-4 text-right" for="codeAcces">-->
                  <!--                  {{"Code d'acces" | translate}}</label>-->
                  <!--                <div class="input-group col-sm-8">-->
                  <!--                  <input type="text" id="codeAcces" formControlName="codeAcces" class="form-control"-->
                  <!--                         placeholder="{{'Code d\'acces' | translate}}">-->
                  <!--                </div>-->
                  <!--              </div>-->

                  <div class="form-group row pt-0 mt-1 pb-0 mb-1 ml-1">
                    <div class="col-2 text-right"
                         *ngIf="(detailElt === false) && (modifElement === true) ">
                      <button class="btn btn-primary btn-sm mr-2 clickable" title="{{'Enregistrer ?' | translate}}"
                              (click)="save()">
                        <em class="icofont icofont-ui-file mr-2"></em>
                        {{"userEleveListeGestion.Save" | translate}}
                      </button>
                    </div>
                    <div class="col-2"></div>
                    <div class="col-2 text-right"
                         *ngIf="(detailElt === true) && (modifElement === false) ">
                      <button class="btn btn-primary btn-sm mr-2 clickable" title="{{'Retourner au listing ?' | translate}}"
                              (click)="retourn()">
                        <em class="icofont icofont-ui-previous mr-2"></em>
                        {{"Retour" | translate}}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </app-card>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="dropdown-divider"></div>
</app-card>

