<!-- List remise niveau card start -->
<app-card [title]="'userEleveAjaout.synchroniser_avec_differents_sites'" [classHeader]="true" [blockClass]="'table-border-style'">
  <div class="row">
    <div class="col-12 text-right">
      <!--      <button class="btn btn-warning btn-sm ml-2 mr-5 m-1"-->
      <!--              (click)="onValiderTelephone()"><i class="icofont icofont-refresh"></i>Valider les telephones</button>-->
      <ng-container *ngIf="authService.isVisible('bouton-envoyer-portail')">
        <div *ngIf="lastStatusSynchro == 'PENDING'" class="ml-2 mr-5 m-1">
          <div class="spinner-border text-success"></div>
          <div class="spinner-border text-danger"></div>
          <div class="spinner-border text-warning"></div>
        </div>
        <button *ngIf="lastStatusSynchro != 'PENDING'" class="btn btn-danger btn-sm ml-2 mr-5 m-1"
                [disabled]="(!authService.isActif('bouton-envoyer-portail') || !checkActiveSynchroPortail)"
                (click)="onPublierAuPortail()"><i class="icofont icofont-refresh"></i>
          {{"userEleveAjaout.Synchroniser_avec_le_portail" | translate}}</button>
        <!--<button class="btn btn-facebook btn-sm ml-2 mr-5 m-1"
                (click)="onSyncTemponLocal()"><i class="icofont icofont-refresh"></i>Synchroniser tempon local</button>
     -->
      </ng-container>
    </div>
  </div>
</app-card>
<app-card [title]="'userEleveAjaout.Synchroniser_les_codes_daccès_des_parents'" [classHeader]="true"
          [blockClass]="'table-border-style'">
  <div class="row">
    <div class="col-12 text-right">
      <!--      <button class="btn btn-warning btn-sm ml-2 mr-5 m-1"-->
      <!--              (click)="onValiderTelephone()"><i class="icofont icofont-refresh"></i>Valider les telephones</button>-->
      <ng-container *ngIf="authService.isVisible('bouton-synchroniser-compte-accces')">
        <button class="btn btn-danger btn-sm ml-2 mr-2 m-1"
                [disabled]="(!authService.isActif('bouton-synchroniser-compte-accces') || !checkActiveSynchroCode || (lastStatusSynchro == 'PENDING'))"
                (click)="onGetCompteUtilisateurPortail()"><i class="icofont icofont-refresh"></i>
          {{"userEleveAjaout.Synchroniser_les_comptes_d_acces" | translate}} {{compteRestantASynchroniser +" / "+ totalCompte }}
        </button>
<!--        <label class="label label-danger ml-0">{{compteRestantASynchroniser +" / "+ totalCompte }}</label>-->
        <!--<button class="btn btn-facebook btn-sm ml-2 mr-5 m-1"
                (click)="onSyncTemponLocal()"><i class="icofont icofont-refresh"></i>Synchroniser tempon local</button>
     -->
      </ng-container>
    </div>
  </div>
</app-card>
<!-- List remise niveau card end -->
