<!-- List utilisateurs card start -->
<app-card [title]="'userAdminDiscDWelcome.Gestion_des_impressions'" [classHeader]="true"
          [blockClass]="'table-border-style'">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-xl-5">
      <div class="input-group">
        <input type="text" class="form-control" aria-label="Search in state" (keyup)="onChangeValueSearch($event)"
               formControlName="search" *ngIf="authService.isVisible('champ-recherche-etat')"
               [readOnly]="!authService.isEditable('champ-recherche-etat')">
        <div class="input-group-append" *ngIf="authService.isVisible('bouton-recherche-etat')">
          <span class="input-group-text icofont icofont-search" (click)="onSearchEtat()"></span>
        </div>
      </div>
    </div>
    <div class="col-xl-3">
      <button class="btn btn-primary btn-sm ml-1 mr-1 m-1" (click)="onEditEtat(null, modalEditEtat)"
              *ngIf="authService.isVisible('bouton-ajouter-etat')"
              [disabled]="!authService.isEditable('bouton-ajouter-etat')"><i
        class="icofont icofont-check-circled"></i>{{'userAdminConfGestEtat.Ajouter_un_état' | translate}}</button>
    </div>
  </div>
  <div class="browser-card p-b-15" *ngIf="etats">
    <div class="container-fluid clickable table-hover" *ngFor="let etat of etats | paginate: { itemsPerPage: pageSize,
    currentPage: page + 1, totalItems: totalElements}">
      <ng-container *ngIf="authService.isVisible(etat.id)">
        <div class="container">
          <div class="row">
            <div class="col-md-5">
              <h5 class="m-0 text-blue-small">{{siteLanguage == 'en' ? etat.libelle_en : etat.libelle }}</h5>
              <p class="m-0"><em>{{ siteLanguage == 'en' ? etat.description_en : etat.description}}</em></p>
              <p class="m-0"><em class="icofont icofont-book-mark"></em><em>{{ etat.groupe }}</em></p>
            </div>
            <div class="col-5">
              <p class="m-0">{{ etat.fenetre.libelleFenetre }}</p>
            </div>
            <div class="col-md-2 mt-2">
              <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown" display="static">
                <button class="btn btn-outline-info btn-sm mr-2" id="dropdownManual" ngbDropdownToggle>
                  {{'userAdminConfGestEtat.Actions' | translate}}</button>
                <div ngbDropdownMenu aria-labelledby="dropdownManual">
                  <!--    <button ngbDropdownItem class="btn-default btn-sm mr-3"
                              *ngIf="authService.isVisible('bouton-imprimer-etat')"
                              [disabled]="!authService.isEditable('bouton-imprimer-etat')"
                              (click)="onOpenPrintModal(etat, modalPrintEtat)"><em class="icofont icofont-printer mr-2"></em>Imprimer</button>-->
                  <button ngbDropdownItem class="btn-default btn-sm mr-3" *ngIf="authService.isVisible(etat.id)"
                          [disabled]="!authService.isEditable(etat.id)"><em class="icofont icofont-minus mr-2"></em>
                    {{'userAdminConfGestEtat.Supprimer' | translate}}</button>
                  <button ngbDropdownItem class="btn-default btn-sm mr-3" *ngIf="authService.isVisible(etat.id)"
                          [disabled]="!authService.isEditable(etat.id)" (click)="onEditEtat(etat, modalEditEtat)"><em
                    class="icofont icofont-pencil-alt-5 mr-2"></em>
                    {{'userAdminConfGestEtat.Modifier' | translate}}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="dropdown-divider"></div>
      </ng-container>
    </div>
    <pagination-controls style="text-align:center; vertical-align:middle;" autoHide="true" [maxSize]="10"
                         (pageChange)="setPageChange($event)"></pagination-controls>
  </div>
  <div class="row">
    <div class="col-12">
      <ng-template #modalEditEtat let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h5 class="modal-title" id="edit-etat">{{"userAdminConfGestEtat.Edition_de_l_état_imprimable" |
            translate}}&nbsp;<span *ngIf="currentEtat">{{ currentEtat.description}}</span></h5>
          <button type="button" class="close" aria-label="Close" (click)="onResetEditEtat()">
            <span aria-hidden="true" class="icofont icofont-close-line-squared text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="etatForm">
            <div class="row">
              <div class="form-group col-12 mb-1" *ngIf="authService.isVisible('champ-nom-etat')">
                <label for="libelle">{{"userAdminConfGestEtat.Nom_de_l_etat" | translate}}</label>
                <div class="input-group">
                  <div class="input-group-text"><em class="icofont icofont-star"></em></div>
                  <input type="text" id="libelle" formControlName="libelle"
                         [ngClass]="{'is-invalid': submittedEdit && ef.libelle.errors }"
                         [readOnly]="!authService.isEditable('champ-nom-etat')" class="form-control"
                         placeholder="Nom de l'etat">
                  <div *ngIf="submittedEdit && ef.libelle.errors" class="invalid-feedback">
                    <div *ngIf="ef.libelle.errors.required">{{"userAdminConfGestEtat.Le_nom_de_l_etat_est_obligatoire" |
                      translate}}</div>
                    <div *ngIf="ef.libelle.errors.min">
                      {{"userAdminConfGestEtat.Le_nom_de_l_etat_doit_avoir_minimum_3_caractères" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-6 mb-1 mt-0 pb-0" *ngIf="authService.isVisible('champ-description-etat')">
                <textarea class="form-control" id="description" formControlName="description"
                          placeholder="{{'userAdminConfGestEtat.Description_de_l_etat' | translate }}..."
                          [ngClass]="{'is-invalid': submittedEdit && ef.description.errors }"
                          [readOnly]="!authService.isEditable('champ-description-etat')" rows="3"></textarea>
                <div *ngIf="submittedEdit && ef.description.errors" class="invalid-feedback">
                  <div *ngIf="ef.description.errors.required">
                    {{"userAdminConfGestEtat.La_description_de_l_etat_est_obligatoire" | translate}}</div>
                </div>
              </div>
              <div class="col-6 mb-1 pb-0">
                <div class="row">
                  <div class="form-group col-12 mb-1 mt-0" *ngIf="authService.isVisible('champ-categorie-etat')">
                    <div class="input-group">
                      <div class="input-group-text"><em class="icofont icofont-book-mark"></em></div>
                      <input type="text" id="groupe" formControlName="groupe"
                             [ngClass]="{'is-invalid': submittedEdit && ef.groupe.errors }"
                             [readOnly]="!authService.isEditable('champ-categorie-etat')" class="form-control"
                             placeholder="{{'userAdminNote.Catégorie_de_l_état' | translate}}">
                      <div *ngIf="submittedEdit && ef.groupe.errors" class="invalid-feedback">
                        <div *ngIf="ef.groupe.errors.required">
                          {{"userAdminConfGestEtat.La_categorie_de_l_état_est_obligatoire" | translate}}</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-12 mb-1 mt-0" *ngIf="authService.isVisible('liste-vue')">
                    <ng-multiselect-dropdown id="vue" #selectVue (ngModelChange)="onChangeOptionsVue()"
                                             [ngClass]="{'is-invalid': submittedEdit && ef.vue.errors }"
                                             [placeholder]="CHOIX" [data]="dataVue" formControlName="vue"
                                             (onSelect)="onSelectVue($event)" (onDeSelect)="onDeselectVue($event)" [settings]="settingsVue">
                    </ng-multiselect-dropdown>
                    <div *ngIf="submittedEdit && ef.vue.errors" class="invalid-feedback">
                      <div *ngIf="ef.vue.errors.required">
                        {{"userAdminConfGestEtat.Le_choix_de_la_vue_associée_est_obligatoire" | translate}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 row">
                <div class="form-group col-9 mb-1 mt-0" *ngIf="authService.isVisible('champ-repertoire-rapport')">
                  <label for="chemin">{{"userAdminConfGestEtat.Répertoire_du_rapport" | translate}}</label>
                  <div class="input-group">
                    <div class="input-group-text"><em class="icofont icofont-file-document"></em></div>
                    <input type="text" id="chemin" formControlName="chemin"
                           [ngClass]="{'is-invalid': submittedEdit && ef.chemin.errors }"
                           [readOnly]="!authService.isEditable('champ-repertoire-rapport')" class="form-control"
                           placeholder="{{'userAdminNote.Entrer_le_repertoire_du_rapport' | translate}}">
                    <div *ngIf="submittedEdit && ef.chemin.errors" class="invalid-feedback">
                      <div *ngIf="ef.chemin.errors.required">
                        {{"userAdminConfGestEtat.Le_chemin_du_role_est_obligatoire" | translate}}</div>
                    </div>
                  </div>
                </div>
                <div class="col-3 mb-1 mt-0" *ngIf="authService.isVisible('bouton-exporter-excel')">
                  <label for="inlineRadio1">
                    {{"userAdminConfGestEtat.Exportable_vers_excel" | translate}}</label>
                  <div class="input-group">
                    <div class="form-check form-check-inline">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="isExcel" id="inlineRadio1" [value]="true"
                               [(ngModel)]="isExcel" [ngModelOptions]="{standalone: true}"
                               (ngModelChange)="onChangeOptions()"
                               [attr.disabled]="authService.isEditable('bouton-exporter-excel') == true ? null : true">
                        <label class="form-check-label" for="inlineRadio1">{{"userAdminConfGestEtat.Oui" |
                          translate}}</label>
                      </div>
                      <input class="form-check-input" type="radio" name="isExcel" id="inlineRadio2" [value]="false"
                             [(ngModel)]="isExcel" [ngModelOptions]="{standalone: true}" (ngModelChange)="onChangeOptions()"
                             [attr.disabled]="authService.isEditable('bouton-exporter-excel') == true ? null : true">
                      <label class="form-check-label" for="inlineRadio2">{{"userAdminConfGestEtat.Non" |
                        translate}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group col-12 mb-1 mt-0" *ngIf="currentEtat && authService.isVisible('liste-filtre')">
                <label for="filtres">
                  {{"userAdminNote.Filtres" | translate}}</label>
                <ng-multiselect-dropdown id="filtres" #selectFiltre
                                         [ngClass]="{'is-invalid': submittedEdit && ef.filtres.errors }" [placeholder]="placeholder"
                                         [data]="dataFiltre" formControlName="filtres" (onSelect)="onSelectFiltre($event)"
                                         (onDeSelect)="onDeselectFiltre($event)" (onSelectAll)="onSelectAllFiltre($event)"
                                         (onDeSelectAll)="onDeSelectAllFiltre($event)" [settings]="settings"></ng-multiselect-dropdown>
                <div *ngIf="submittedEdit && ef.filtres.errors" class="invalid-feedback">
                  <div *ngIf="ef.filtres.errors.required">{{"userAdminConfGestEtat.Choisir_au_moins_un_filtre" |
                    translate}}</div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer row">
          <div class="col-2">
            <button type="button" (click)="onDeleteEtat()"
                    *ngIf="currentEtat && authService.isVisible('bouton-suppimer')"
                    [disabled]="!authService.isEditable('bouton-suppimer')"
                    class="btn btn-danger btn-round text-right m-0 p-1"><i
              class="icofont icofont-trash icofont-2x m-0"></i></button>
          </div>
          <div class="col-8 row d-flex justify-content-end">
            <button type="button" class="btn btn-outline-danger btn-sm mr-2 text-left"
                    *ngIf="authService.isVisible('bouton-annuler')" [disabled]="!authService.isEditable('bouton-annuler')"
                    (click)="onResetEditEtat()">
              {{"userAdminConfGestEtat.Annuler" | translate}}</button>
            <button type="button" (click)="onSaveEditEtat()" class="btn btn-primary btn-sm text-right m-0 p-1"
                    *ngIf="authService.isVisible('bouton-enregistrer')"
                    [disabled]="!authService.isEditable('bouton-enregistrer')">
              <span *ngIf="validated" class="spinner-border spinner-border-sm mr-1" role="status"
                    aria-hidden="true"></span>
              {{"userAdminConfGestEtat.Enregistrer" | translate}}</button>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ng-template #modalPrintEtat let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="print-etat"><span *ngIf="currentEtat">{{ currentEtat.description}}</span></h4>
          <button type="button" class="close" aria-label="Close" (click)="onResetPrintEtat()">
            <span aria-hidden="true" class="icofont icofont-close-line-squared text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="printEtatForm">
            <div class="row">
              <div class="form-group col-12 mb-1 mt-0" *ngIf="modeleImpressions">
                <div class="input-group">
                  <select class="custom-select form-control"
                          [ngClass]="{'is-invalid': submittedPrint && ep.choisirEtat.errors }" id="choisirEtat"
                          formControlName="choisirEtat">
                    <option value="">{{"userAdminConfGestEtat.Selectionner_le_modele" | translate}}</option>
                    <option *ngFor="let modele of modeleImpressions" value="{{ modele.id }}">{{ modele.libelleFenetre }}
                    </option>
                  </select>
                  <div *ngIf="submittedPrint && ep.vue.errors" class="invalid-feedback">
                    <div *ngIf="ep.vue.errors.required">
                      {{"userAdminConfGestEtat.Le_choix_du_modèle_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-xl-12">
                <fieldset class="scheduler-border">
                  <legend class="scheduler-border">{{"userAdminConfGestEtat.Filtres" | translate}}</legend>
                  <div class="row">
                    <div class="form-group col-6 pb-0 mb-0">
                      <input class="form-control" type="text" placeholder="Filtres" id="cat" formControlName="cat"
                             [ngClass]="{'is-invalid': submittedPrint && ep.cat.errors }">
                      <div *ngIf="submittedPrint && ep.cat.errors" class="invalid-feedback">
                        <div *ngIf="ep.cat.errors.required">
                          {{"userAdminConfGestEtat.La_categorie_est_obligatoire" | translate}}</div>
                      </div>
                    </div>
                    <div class="form-group col-6 pb-0 mb-0">
                      <input class="form-control" type="date" placeholder="{{'userAdminNote.date' | translate}}" id="datePrint"
                             formControlName="datePrint" [ngClass]="{'is-invalid': submittedPrint && ep.nom.errors }">
                      <div *ngIf="submittedPrint && ep.datePrint.errors" class="invalid-feedback">
                        <div *ngIf="ep.datePrint.errors.required">
                          {{"userAdminConfGestEtat.La_date_est_obligatoire" | translate}}</div>
                      </div>
                    </div>
                  </div>
                </fieldset>
                <div class="row d-flex justify-content-end mr-3">
                  <button type="button" class="btn btn-outline-danger btn-sm ml-3 mr-2" (click)="onResetPrintEtat()">
                    {{"userAdminConfGestEtat.Annuler" | translate}}</button>
                  <button type="button" (click)="onPrintEtatType(false)"
                          [disabled]="!authService.isActif('bouton-imprimer-etat')"
                          class="btn btn-facebook btn-sm mr-2">{{"userAdminConfGestEtat.Imprimer" | translate}}</button>
                  <div ngbDropdown placement="top-right" [open]="printEtatForm.valid" class="d-inline-block"
                       display="static">
                    <button class="btn btn-facebook btn-sm" id="dropdownBasic1" ngbDropdownToggle>
                      {{"userAdminConfGestEtat.Télécharger" | translate}}</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button ngbDropdownItem (click)="onPrintEtatType(false)"
                              [disabled]="!authService.isActif('bouton-imprimer-etat')"
                              *ngIf="authService.isVisible('bouton-imprimer-etat')" class="p-1 btn-sm">
                        {{"userAdminConfGestEtat.Document_PDF" | translate}}<span
                        class="icofont icofont-download ml-2"></span></button>
                      <button ngbDropdownItem (click)="onPrintEtatType(true)"
                              [disabled]="!authService.isActif('bouton-imprimer-etat')"
                              *ngIf="authService.isVisible('bouton-imprimer-etat')" class="p-1 btn-sm">
                        {{"userAdminConfGestEtat.Document_XLS" | translate}}<span
                        class="icofont icofont-download ml-2"></span></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </ng-template>
    </div>
  </div>
</app-card>
<!-- List utilisateurs card end -->
