<app-card [title]="'userAdminConfInstListEtab.Les_établissements_disponibles'">
  <div class="browser-card p-b-15" *ngIf="etablissements">
    <div class="container-fluid clickable table-hover" *ngFor="let etab of etablissements">
      <div class="container bg-gray">
        <div class="row">
          <div class="col-md-8" *ngIf="authService.isVisible('bouton-ouvrir-etablissement')"
               [routerLink]="authService.isActif('bouton-ouvrir-etablissement') ? '/administration/configuration/institutions/list-section/'+etab.id : ''">
            <h5 class="m-0 text-c-blue">{{ etab.nomEtablissement }}</h5>
            <p class="m-0">{{ etab.telephone1 | phoneFormat}}</p>
          </div>
          <div class="col-md-4 mt-2">
            <button class="btn bg-danger btn-round float-right btn-browser mr-2"
                    [disabled]="!authService.isActif('bouton-suppimer-etablissement')"
                    *ngIf="authService.isVisible('bouton-suppimer-etablissement')"
            ><em class="icofont icofont-close-circled"></em></button>
            <button class="btn bg-warning btn-round float-right btn-browser mr-2"
                    [disabled]="!authService.isActif('bouton-editer-etablissement')"
                    *ngIf="authService.isVisible('bouton-editer-etablissement')"
                    (click)="onLoadDetailsEtablissement(etab, content)"><em class="icofont icofont-pen-alt-1"></em></button>
            <button class="btn bg-c-blue btn-round float-right btn-browser mr-2"
                    [disabled]="!authService.isActif('bouton-ouvrir-etablissement')"
                    *ngIf="authService.isVisible('bouton-ouvrir-etablissement')"
                    routerLink="/administration/configuration/institutions/list-section/{{ etab.id }}">
              <em class="icofont icofont-folder-open"></em>
            </button>
          </div>
        </div>
      </div>
      <div class="dropdown-divider"></div>
    </div>
    <div class="row">
      <div class="col-12 text-right">
        <button class="btn btn-primary btn-sm ml-5 mr-4 m-1"
                title="{{'userAdminConfInstListEtab.Ajout d_un_nouvel_établissement' | translate}}"
                [disabled]="!authService.isActif('bouton-ajouter-etablissement')"
                *ngIf="authService.isVisible('bouton-ajouter-etablissement')"
                (click)="openLoadFormAddEtablissement(content)">
          <em class="icofont icofont-plus-circle"></em>
          {{"userAdminConfInstListEtab.Ajouter_un_établissement" | translate}}</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ng-template #content let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="add-etablissement">
            {{"userAdminConfInstListEtab.Ajouter_d_un_nouvel_etablissement" | translate}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true" class="icofont icofont-close-line-squared-alt text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formEtablissement" (ngSubmit)="onSaveEtablissement()">
            <div class="col-md-12 col-xl-12">
              <fieldset class="scheduler-border">
                <legend class="scheduler-border">
                  {{"userAdminConfInstListEtab.Information_Importantes" | translate}}</legend>
                <div class="row">
                  <div class="form-group col-sm-6" *ngIf="authService.isVisible('champ-nom-etablissement')">
                    <label for="nom" class="col-form-label">
                      {{"userAdminConfInstListEtab.Nom_de_l_établissement" | translate}}</label>
                    <input class="form-control" type="text"
                           placeholder="{{'userAdminConfInstListEtab.Nom_de_l_établissement' | translate}}" id="nom"
                           formControlName="nom" [ngClass]="{'is-invalid': submitted && f.nom.errors }"
                           [readOnly]="!authService.isEditable('champ-nom-etablissement')">
                    <div *ngIf="submitted && f.nom.errors" class="invalid-feedback">
                      <div *ngIf="f.nom.errors.required">
                        {{"userAdminConfInstListEtab.Le_nom_de_l_etablissement_est_obligatoire" | translate}}</div>
                    </div>
                  </div>
                  <div class="form-group col-sm-6" *ngIf="authService.isVisible('champ-code-etablissement')">
                    <label for="code" class="col-form-label">
                      {{"userAdminConfInstListEtab.Code_de_l_établissement" | translate}}</label>
                    <input class="form-control" type="text"
                           placeholder="{{'userAdminConfInstListEtab.Code_de_l_établissement' | translate}}" id="code"
                           formControlName="code" [ngClass]="{'is-invalid': submitted && f.code.errors }"
                           [readOnly]="!authService.isEditable('champ-code-etablissement')">
                    <div *ngIf="submitted && f.code.errors" class="invalid-feedback">
                      <div *ngIf="f.code.errors.required">
                        {{"userAdminConfInstListEtab.Le_code_de_l_établissement_est_obligatoire" | translate}}</div>
                    </div>
                  </div>
                  <div class="form-group col-sm-6" *ngIf="authService.isVisible('champ-decret-creation-etablissement')">
                    <label for="decret" class="col-form-label">
                      {{"userAdminConfInstListEtab.Decret_de_creation" | translate}}</label>
                    <input class="form-control" type="text"
                           placeholder="{{'userAdminConfInstListEtab.Decret_de_creation_etablissement' | translate}}" id="decret"
                           formControlName="decret" [ngClass]="{'is-invalid': submitted && f.decret.errors }"
                           [readOnly]="!authService.isEditable('champ-decret-creation-etablissement')">
                    <div *ngIf="submitted && f.decret.errors" class="invalid-feedback">
                      <div *ngIf="f.decret.errors.required">
                        {{"userAdminConfInstListEtab.Le_decret_de_creation_de_l_établissement_est_obligatoire" | translate}}</div>
                    </div>
                  </div>
                  <div class="form-group col-sm-6" *ngIf="authService.isVisible('champ-email-etablissement')">
                    <label for="email" class="col-form-label">
                      {{"userAdminConfInstListEtab.L_adresse_mail_de_l_etablissement" | translate}}</label>
                    <input class="form-control" type="email"
                           placeholder="{{'userAdminConfInstListEtab.L_adresse_mail_de_l_etablissement' | translate}}" id="email"
                           formControlName="email" [ngClass]="{'is-invalid': submitted && f.email.errors }"
                           [readOnly]="!authService.isEditable('champ-email-etablissement')">
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                      <div *ngIf="f.email.errors.required">
                        {{"userAdminConfInstListEtab.L_adresse_mail_de_l_établissement_est_obligatoire" | translate}}</div>
                    </div>
                  </div>
                  <div class="form-group col-sm-6" *ngIf="authService.isVisible('champ-phone1-etablissement')">
                    <label for="telephone1" class="col-form-label">
                      {{"userAdminConfInstListEtab.Telephone_Principale" | translate}}</label>
                    <input class="form-control" type="text"
                           placeholder="{{'userAdminConfInstListEtab.Numéro_de_telephone_prioritaire' | translate}}" id="telephone1"
                           formControlName="telephone1" [ngClass]="{'is-invalid': submitted && f.telephone1.errors }"
                           [readOnly]="!authService.isEditable('champ-phone1-etablissement')">
                    <div *ngIf="submitted && f.telephone1.errors" class="invalid-feedback">
                      <div *ngIf="f.telephone1.errors.required">
                        {{"userAdminConfInstListEtab.Le_numero_de_telephone_principale_est_obligatoire" | translate}}</div>
                    </div>
                  </div>
                  <div class="form-group col-sm-6" *ngIf="authService.isVisible('champ-phone2-etablissement')">
                    <label for="telephone2" class="col-form-label">
                      {{"userAdminConfInstListEtab.Telephone_Secondaire" | translate}}</label>
                    <input class="form-control" type="text"
                           placeholder="{{'userAdminConfInstListEtab.Numéro_de_telephone_secondaire' | translate}}" id="telephone2"
                           [readOnly]="!authService.isEditable('champ-phone2-etablissement')"
                           formControlName="telephone2" [ngClass]="{'is-invalid': submitted && f.telephone2.errors }">
                    <div *ngIf="submitted && f.telephone2.errors" class="invalid-feedback">
                      <div *ngIf="f.telephone2.errors.required">
                        {{"userAdminConfInstListEtab.Le_numero_de_telephone_secondaire_est_obligatoire" | translate}}</div>
                    </div>
                  </div>
                </div>
              </fieldset>
              <div class="row">
                <button class="btn btn-primary btn-sm ml-5 mr-4" type="submit"
                        [disabled]="!authService.isActif('bouton-enregistrer')"
                        *ngIf="authService.isVisible('bouton-enregistrer')"
                ><i class="icofont icofont-check-circled"></i>
                  {{"userAdminConfInstListEtab.Enregistrer" | translate}}</button>
                <button class="btn btn-success btn-outline-success btn-sm ml-4"
                        [disabled]="!authService.isActif('bouton-effacer')"
                        *ngIf="authService.isVisible('bouton-effacer')"
                        type="reset" (click)="onResetEtablissement()">
                  <i class="icofont icofont-close-circled"></i>
                  {{"userAdminConfInstListEtab.Effacer" | translate}}
                </button>
              </div>
            </div>
          </form>
        </div>
      </ng-template>
    </div>
  </div>
</app-card>
