<div class="button-page">
  <div class="row">
    <!-- bootstrap modal start -->
    <div class="col-sm-12">
      <!-- Notification card start -->
      <app-card [title]="'Notifications'">
        <div class="row">
          <div class="col-sm-12">
            <div class="sub-title">{{"advaceNotif.Notification_Position" | translate}}</div>
            <p>{{"advaceNotif.This_plugin_has_layout" | translate}}</p>
            <div class="location-selector">
              <div class="bit top left" data-position="top left"></div>
              <div class="bit top right" data-position="top right"></div>
              <div class="bit top" data-position="top"></div>
              <div class="bit bottom left" data-position="bottom left"></div>
              <div class="bit bottom right" data-position="bottom right"></div>
              <div class="bit bottom" data-position="bottom"></div>
            </div>
          </div>
          <div class="col-sm-12 model-btn-card">
            <div class="sub-title">{{"advaceNotif.Notification_Position" | translate}}</div>
            <p>{{"advaceNotif.Notification_All_Options" | translate}} <code>
              {{"advaceNotif.(click)_with_option" | translate }}</code></p>
            <ul class="notifications">
              <li>
                <button class="btn btn-primary waves-effect" (click)="addToast({title:'Bootstrap Toasty', msg:'Turning standard Bootstrap alerts into awesome notifications', showClose: true, timeout: 5000, theme:'bootstrap', type:'wait', position:'top-left', closeOther:true})">
                  {{"advaceNotif.Top_Left" | translate}}</button>
              </li>
              <li>
                <button class="btn btn-primary waves-effect" (click)="addToast({title:'Bootstrap Toasty', msg:'Turning standard Bootstrap alerts into awesome notifications', showClose: true, timeout: 5000, theme:'bootstrap', type:'wait', position:'top-right', closeOther:true})">
                  {{"advaceNotif.Top_Right" | translate}}</button>
              </li>
              <li>
                <button class="btn btn-primary waves-effect" (click)="addToast({title:'Bootstrap Toasty', msg:'Turning standard Bootstrap alerts into awesome notifications', showClose: true, timeout: 5000, theme:'bootstrap', type:'wait', position:'top-center', closeOther:true})">
                  {{"advaceNotif.Top_Center" | translate}}</button>
              </li>
              <li>
                <button class="btn btn-primary waves-effect" (click)="addToast({title:'Bootstrap Toasty', msg:'Turning standard Bootstrap alerts into awesome notifications', showClose: true, timeout: 5000, theme:'bootstrap', type:'wait', position:'bottom-left', closeOther:true})">
                  {{"advaceNotif.Bottom_Left" | translate}}</button>
              </li>
              <li>
                <button class="btn btn-primary waves-effect" (click)="addToast({title:'Bootstrap Toasty', msg:'Turning standard Bootstrap alerts into awesome notifications', showClose: true, timeout: 5000, theme:'bootstrap', type:'wait', position:'bottom-right', closeOther:true})">
                  {{"advaceNotif.Bottom_Right" | translate}}</button>
              </li>
              <li>
                <button class="btn btn-primary waves-effect" (click)="addToast({title:'Bootstrap Toasty', msg:'Turning standard Bootstrap alerts into awesome notifications', showClose: true, timeout: 5000, theme:'bootstrap', type:'wait', position:'bottom-center', closeOther:true})">
                  {{"advaceNotif.Bottom_Center" | translate}}</button>
              </li>
              <li>
                <button class="btn btn-primary waves-effect" (click)="addToast({title:'Bootstrap Toasty', msg:'Turning standard Bootstrap alerts into awesome notifications', showClose: true, timeout: 5000, theme:'bootstrap', type:'wait', position:'center-center', closeOther:true})">
                  {{"advaceNotif.Center_Center" | translate}}</button>
              </li>
            </ul>
            <div class="sub-title">{{"advaceNotif.Notification_Default" | translate}}</div>
            <p>{{"advaceNotif.Change_data_type" | translate}} <code> {{"advaceNotif.theme" | translate}}</code>
              {{"advaceNotif.to_change_notification_color" | translate}}</p>
            <ul class="notifications">
              <li>
                <button class="btn btn-inverse waves-effect" (click)="addToast({title:'Default Toasty', msg:'Turning standard Bootstrap alerts into awesome notifications', timeout: 5000, theme:'default', position:'bottom-right', type:'default'})">
                  {{"advaceNotif.Default" | translate}}</button>
              </li>
              <li>
                <button class="btn btn-info waves-effect" (click)="addToast({title:'Default Toasty', msg:'Turning standard Bootstrap alerts into awesome notifications', timeout: 5000, theme:'default', position:'bottom-right', type:'info'})">
                  {{"advaceNotif.Info" | translate}}</button>
              </li>
              <li>
                <button class="btn btn-success waves-effect" (click)="addToast({title:'Default Toasty', msg:'Turning standard Bootstrap alerts into awesome notifications', timeout: 5000, theme:'default', position:'bottom-right', type:'success'})">
                  {{"advaceNotif.Success" | translate}}</button>
              </li>
              <li>
                <button class="btn btn-primary waves-effect" (click)="addToast({title:'Default Toasty', msg:'Turning standard Bootstrap alerts into awesome notifications', timeout: 5000, theme:'default', position:'bottom-right', type:'wait'})">
                  {{"advaceNotif.Primary_Wait" | translate}}</button>
              </li>
              <li>
                <button class="btn btn-warning waves-effect" (click)="addToast({title:'Default Toasty', msg:'Turning standard Bootstrap alerts into awesome notifications', timeout: 5000, theme:'default', position:'bottom-right', type:'warning'})">
                  {{"advaceNotif.Warning" | translate}}</button>
              </li>
              <li>
                <button class="btn btn-danger waves-effect" (click)="addToast({title:'Default Toasty', msg:'Turning standard Bootstrap alerts into awesome notifications', timeout: 5000, theme:'default', position:'bottom-right', type:'error'})">
                  {{"advaceNotif.Danger_Error" | translate}}</button>
              </li>
            </ul>
            <div class="sub-title">{{"advaceNotif.Notification_Bootstrap" | translate}}</div>
            <p>{{"advaceNotif.Change_data_type" | translate}}<code> {{"theme_bootstrap" | translate}}</code>
              {{"advaceNotif.to_change_notification_color" | translate}}</p>
            <ul class="notifications">
              <li>
                <button class="btn btn-inverse waves-effect" (click)="addToast({title:'Bootstrap Toasty', msg:'Turning standard Bootstrap alerts into awesome notifications', timeout: 5000, theme:'bootstrap', position:'bottom-right', type:'default'})">
                  {{"advaceNotif.Default" | translate}}</button>
              </li>
              <li>
                <button class="btn btn-info waves-effect" (click)="addToast({title:'Bootstrap Toasty', msg:'Turning standard Bootstrap alerts into awesome notifications', timeout: 5000, theme:'bootstrap', position:'bottom-right', type:'info'})">
                  {{"advaceNotif.Info" | translate}}</button>
              </li>
              <li>
                <button class="btn btn-success waves-effect" (click)="addToast({title:'Bootstrap Toasty', msg:'Turning standard Bootstrap alerts into awesome notifications', timeout: 5000, theme:'bootstrap', position:'bottom-right', type:'success'})">
                  {{"advaceNotif.Success" | translate}}</button>
              </li>
              <li>
                <button class="btn btn-primary waves-effect" (click)="addToast({title:'Bootstrap Toasty', msg:'Turning standard Bootstrap alerts into awesome notifications', timeout: 5000, theme:'bootstrap', position:'bottom-right', type:'wait'})">
                  {{"advaceNotif.Primary_Wait" | translate}}</button>
              </li>
              <li>
                <button class="btn btn-warning waves-effect" (click)="addToast({title:'Bootstrap Toasty', msg:'Turning standard Bootstrap alerts into awesome notifications', timeout: 5000, theme:'bootstrap', position:'bottom-right', type:'warning'})">
                  {{"advaceNotif.Warning" | translate}}</button>
              </li>
              <li>
                <button class="btn btn-danger waves-effect" (click)="addToast({title:'Bootstrap Toasty', msg:'Turning standard Bootstrap alerts into awesome notifications', timeout: 5000, theme:'bootstrap', position:'bottom-right', type:'error'})">
                  {{"advaceNotif.Danger_Error" | translate}}</button>
              </li>
            </ul>
            <div class="sub-title">{{"advaceNotif.Notification_Material" | translate}}</div>
            <p>{{"advaceNotif.Change_data_type" | translate}} <code> {{"advaceNotif.theme_bootstrap" | translate}}</code>
              {{"advaceNotif.to_change_notification_color" | translate}}</p>
            <ul class="notifications">
              <li>
                <button class="btn btn-inverse waves-effect" (click)="addToast({title:'Material Toasty', msg:'Turning standard Bootstrap alerts into awesome notifications', timeout: 5000, theme:'material', position:'bottom-right', type:'default'})">
                  {{"advaceNotif.Default" | translate}}</button>
              </li>
              <li>
                <button class="btn btn-info waves-effect" (click)="addToast({title:'Material Toasty', msg:'Turning standard Bootstrap alerts into awesome notifications', timeout: 5000, theme:'material', position:'bottom-right', type:'info'})">
                  {{"advaceNotif.Info" | translate}}</button>
              </li>
              <li>
                <button class="btn btn-success waves-effect" (click)="addToast({title:'Material Toasty', msg:'Turning standard Bootstrap alerts into awesome notifications', timeout: 5000, theme:'material', position:'bottom-right', type:'success'})">
                  {{"advaceNotif.Success" | translate}}</button>
              </li>
              <li>
                <button class="btn btn-primary waves-effect" (click)="addToast({title:'Material Toasty', msg:'Turning standard Bootstrap alerts into awesome notifications', timeout: 5000, theme:'material', position:'bottom-right', type:'wait'})">
                  {{"advaceNotif.Primary_Wait" | translate}}</button>
              </li>
              <li>
                <button class="btn btn-warning waves-effect" (click)="addToast({title:'Material Toasty', msg:'Turning standard Bootstrap alerts into awesome notifications', timeout: 5000, theme:'material', position:'bottom-right', type:'warning'})">
                  {{"advaceNotif.Warning" | translate}}</button>
              </li>
              <li>
                <button class="btn btn-danger waves-effect" (click)="addToast({title:'Material Toasty', msg:'Turning standard Bootstrap alerts into awesome notifications', timeout: 5000, theme:'material', position:'bottom-right', type:'error'})">
                  {{"advaceNotif.Danger_Error" | translate}}</button>
              </li>
            </ul>
          </div>
        </div>
      </app-card>
      <!-- Notification card end -->
    </div>
    <!-- Bootstrap modal end -->
  </div>
</div>
<ng2-toasty [position]="position"></ng2-toasty>
