<div class="timer" *ngIf="!displaySmall">
  <h5> La fin de l'année scolaire c'est dans </h5>
  <span id="days"> {{daysToDday}} </span>Jour(s)
  <span id="hours"> {{hoursToDday}} </span>Heure(s)
  <span id="minutes"> {{minutesToDday}} </span>Minute(s)
  <span id="seconds"> {{secondsToDday}} </span>Seconde(s)
</div>

<div class="timer" *ngIf="displaySmall">
  <h5> La fin de l'année scolaire c'est dans </h5>
  <span> {{daysToDday}} </span>Jour(s)
  <span> {{hoursToDday}} </span>Heure(s)
  <span> {{minutesToDday}} </span>Minute(s)
  <span> {{secondsToDday}} </span>Seconde(s)
</div>
