<app-card [title]="'userAdminNote.Journal_de_communication'"
          [icone]="'icofont-2x icofont-ui-message'"
          [classHeader]="true" [blockClass]="'table-border-style'">
  <div class="card b-l-danger business-info services">
    <div class="card-body p-1">
      <div class="row">
        <div class="col-sm-12">
          <p class="task-detail"><span>
            {{"userMessagesMWelcome.Nombre_de_messages" | translate}}:&nbsp;&nbsp; </span>
            <span class="text-bold">{{ communications?.length }}</span></p>
        </div>

        <div class="col-sm-12">
          <div class="row">

            <div class="col-sm-12 text-right">
              <button class="btn btn-primary btn-sm ml-1 mr-2 m-1"
                      (click)="onEditCommunication(null, communication)">
                <em class="icofont icofont-check-circled mr-2"></em>
                {{"userMessagesMWelcome.Nouvelle_communication" | translate}}</button>
              <button class="btn btn-warning btn-sm ml-1 m-1"
                      (click)="onDisplayCommunication(null, detailCom)"><em class="icofont icofont-printer mr-2"></em>
                {{"userMessagesMWelcome.Etats" | translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>{{"userMessagesMWelcome.Date_d_envoie" | translate}}</th>
        <th>{{"userMessagesMWelcome.Titre_de_la_campagne" | translate}}</th>
        <th>{{"userMessagesMWelcome.Auteur" | translate}}</th>
        <th>{{"userMessagesMWelcome.Nbre_d_envoie" | translate}}</th>
        <th></th>
      </tr>
      </thead>
      <tbody *ngIf="communications && communications.length > 0">
      <tr *ngFor="let item of communications | paginate: { itemsPerPage: pageSize, currentPage: pageNumber + 1,
      totalItems: totalElements}; let i=index">
        <th scope="row">{{ '#'+ (i+1) }}</th>
        <td>{{ item.dateEnvoi | date }}</td>
        <td>{{ item.titre }}</td>
        <td> {{ item.auteur }} </td>
        <td>{{ item.nbreMsgTransmis }}</td>
        <td class="p-1">
          <div [ngClass]="'icon-btn p-0 m-0'">
            <button [ngClass]="item == currentCommunication ? 'bg-info' : 'bg-success'"
                    (click)="onDisplayCommunication(item, detailCom)"
                    class="btn btn-sm btn-browser mr-2">
              {{"userMessagesMWelcome.Voir" | translate}} <em class="icofont icofont-open-eye ml-2"></em></button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="row" *ngIf="communications">
      <div class="col-12 text-center h4" *ngIf="communications.length == 0">
        {{"userMessagesMWelcome.Aucune_donnée_disponible" | translate}}</div>
    </div>
    <pagination-controls style="text-align:center; vertical-align:middle;"
                         autoHide="true"
                         [maxSize]="10"
                         (pageChange)="setPageChange($event)"></pagination-controls>
  </div>

  <div class="row">
    <div class="col-12">
      <ng-template #communication let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="send-message">
            {{"userMessagesMWelcome.Envoie_des_SMS" | translate}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="onResetCommunication()">
            <span aria-hidden="true" class="icofont icofont-close-line-squared text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <fieldset class="scheduler-border" *ngIf="filtreCampagne && filtreCampagne.filtres.length > 0">
            <legend class="scheduler-border">
              {{"userMessagesMWelcome.Filtres" | translate}}</legend>
            <form [formGroup]="filtreComForm" novalidate>
              <div class="row">
                <div class="m-0 p-0 col-6"  *ngFor="let filtre of tp.controls; let i = index">
                  <ng-container [formGroup]="filtre">
                    <div class="m-0 p-1" *ngIf="filtre.controls.type.value == 2 || filtre.controls.type.value == 3">
                      <ng-multiselect-dropdown id="valeur" #selectVue
                                               [ngClass]="{'is-invalid': filtre.touched && filtre.controls.valeur.errors }"
                                               [placeholder]="filtre.controls.libelle.value" [data]="availableFiltre[filtre.controls.nom.value]"
                                               formControlName="valeur"
                                               [settings]="settings"></ng-multiselect-dropdown>
                    </div>
                  </ng-container>
                </div>
              </div>
            </form>
          </fieldset>
          <form [formGroup]="communicationForm">
            <div class="row">
              <div class="form-group col-5" >
                <label for="modele">{{"userMessagesMWelcome.Modèle_de_message" | translate}}</label>
                <div class="input-group">
                  <select class="custom-select form-control" id="modele" formControlName="modele"
                          [attr.disabled]="null" (ngModelChange)="onUpdateMessage()"
                          [ngClass]="{'is-invalid': submitted && f.modele.errors }">
                    <option value="">--- {{"userMessagesMWelcome.Selectionner" | translate}} ---</option>
                    <option *ngFor="let modele of modelesCompagne" value="{{ modele.id }}">{{ modele.label }}</option>
                  </select>
                  <div *ngIf="submitted && f.modele.errors" class="invalid-feedback">
                    <div *ngIf="f.modele.errors.required">
                      {{"userMessagesMWelcome.Le_modèle_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-7">
                <label for="titre">{{"userMessagesMWelcome.Objet_du_message" | translate}}</label>
                <div class="input-group">
                  <input type="text" id="titre" formControlName="titre" [ngClass]="{'is-invalid': submitted && f.titre.errors }"
                         class="form-control"
                         placeholder="{{'userMessagesMWelcome.Titre_de_la_campagne' | translate}}" (ngModelChange)="onChangeOptions()">
                  <div *ngIf="submitted && f.titre.errors" class="invalid-feedback">
                    <div *ngIf="f.titre.errors.required">
                      {{"userMessagesMWelcome.Le_coefficient_est_obligatoire" | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-5 mb-0 mt-0 pb-0" >
                <label for="destinataire">
                  {{"userMessagesMWelcome.Destinataire_s" | translate}}</label>
                <textarea class="form-control" id="destinataire" formControlName="destinataire"
                          placeholder="{{'userMessagesMWelcome.Destinataires_du_message' | translate}}"
                          [ngClass]="{'is-invalid': submitted && f.destinataire.errors }"
                          (ngModelChange)="onChangeOptions()"
                          rows="3"></textarea>
                <div *ngIf="submitted && f.destinataire.errors" class="invalid-feedback">
                  <div *ngIf="f.destinataire.errors.required">
                    {{"userMessagesMWelcome.Au_moins_un_destinataire" | translate}}</div>
                </div>
              </div>
              <div class="form-group col-7 mb-0 mt-0 pb-0">
                <label for="message">{{"userMessagesMWelcome.Message" | translate}}</label>
                <textarea class="form-control" id="message" formControlName="message"
                          placeholder="{{'userMessagesMWelcome.Contenu_du_message' | translate}}"
                          [ngClass]="{'is-invalid': submitted && f.message.errors }"
                          rows="6"></textarea>
                <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
                  <div *ngIf="f.message.errors.required">
                    {{"userMessagesMWelcome.contenu_du_message_est_obligatoire" | translate}}</div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="onSubmitCommunication()"
                  class="btn btn-primary btn-round btn-sm mr-3 pl-3 pr-3">
            <span *ngIf="validated" class="spinner-border spinner-border-sm mr-1" role="status" aria-hidden="true"></span>
            {{"userMessagesMWelcome.Envoyer" | translate}}</button>
          <button type="button" class="btn btn-outline-danger btn-round btn-sm mr-2 pl-3 pr-3"
                  (click)="onResetCommunication()">
            {{"userMessagesMWelcome.Annuler" | translate}}</button>
        </div>
      </ng-template>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <ng-template #detailCom let-c="close" let-d="dismiss" let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="detail-communication">{{ currentCommunication?.titre }}</h4>
          <button type="button" class="close" aria-label="Close" (click)="onResetDetails()">
            <span aria-hidden="true" class="icofont icofont-close-line-squared text-danger"></span>
          </button>
        </div>
        <div class="modal-body">
          <p class="text-bold p-0 m-1">{{ currentCommunication?.auteur }}</p>
          <div class="alert alert-light" role="alert">
            {{ currentCommunication?.titre }} {{ currentCommunication?.dateEnvoi | date }}
          </div>
          <p class="text-bold p-0 m-1">{{"userMessagesMWelcome.Message" | translate}}</p>
          <div class="alert alert-light" role="alert">
            {{ currentCommunication?.modeleMessage }}
          </div>
          <p class="text-bold text-right">
            {{"userMessagesMWelcome.Message_envoyé" | translate}} : {{ currentCommunication?.nbreMsgTransmis }}
            {{"userMessagesMWelcome.fois" | translate}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-info btn-round btn-sm mr-2"
                  (click)="onResetDetails()">
            {{"userMessagesMWelcome.Fermer" | translate}}</button>
        </div>
      </ng-template>
    </div>
  </div>
</app-card>

